[2020-11-25 14:13] ajefts opened #914 "Assignee on Task doesn't persist"
**Describe the bug**
For some users (seems like a lot) there is an issue that happens when you assign the user to a task.  NOTE:  This also happens in Direct and I believe the root cause has something to do with some profile data (f2f rating) that legacy tries to lookup when assigning the user.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Start creating a new task
2. Ass

[2020-11-25 14:13] ajefts commented on #914
fyi @acshields @vikasrohit

[2020-11-26 11:49] vikasrohit commented on #899
@lakshmiathreya fyi, it is ready for qa

[2020-11-26 11:55] vikasrohit commented on #913
@maxceem we have to keep the buttons like `Close Task` and `Launch as Active` disabled if the form is dirty and let the user first save the form using `Save` or `Save Draft` button.

[2020-11-26 11:57] vikasrohit commented on #850
@rootelement @acshields this is the same issue that we faced in the demo with mess last night.

[2020-11-26 13:36] vikasrohit commented on #738
@acshields removed `Requirement Question` label but haven't moved it to `Ready for Dev` because we are still waiting on @rootelement for backend/api confirmation.

[2020-11-26 22:10] jmgasper opened #915 "Lists not rendering on the challenge page correctly"
I'm not sure if this is a community app issue or an issue with work manager, but lists aren't rendering properly.

### What I see in WM

<img width="1497" alt="Screen Shot 2020-11-27 at 9 09 33 am" src="https://user-images.githubusercontent.com/21790/100394222-6d2cab80-3090-11eb-97ca-45154d55781e.png">

### What I see on community app

<img width="734" alt="Screen Shot 2020-11-27 at 9 09 29 am" sr

[2020-11-27 08:31] maxceem commented on #912
Done via https://github.com/topcoder-platform/work-manager/pull/916

[2020-11-27 10:08] vikasrohit commented on #912
@maxceem I think it is better to show the buttons but with disabled state. And in tooltip of those buttons, we can show a message that legacy is not yet created.

[2020-11-27 10:09] vikasrohit commented on #616
@acshields lets move it to some future release, as I don't have much idea about this one and we need help from @rootelement for it.

[2020-11-27 10:11] vikasrohit commented on #721
@maxceem this one has to be worked on along with #736

[2020-11-27 10:13] vikasrohit commented on #775
@maxceem can we wrap this one for November release?

[2020-11-27 10:19] vikasrohit commented on #731
@acshields I think we can close this one as it does not makes sense now after new designs and we are already tracking timeline edit section #738

[2020-11-27 10:20] #827 closed

[2020-11-27 10:40] vikasrohit commented on #724
@acshields please let me know your thoughts about https://github.com/topcoder-platform/work-manager/issues/724#issuecomment-698887985 and another question would be, do we have designs showing this change?

[2020-11-27 10:50] maxceem commented on #913
From Vikas:

I guess saving before closing makes sense:
- it feels like natural behavior
- I guess technically it would be easier to implement

[2020-11-27 10:50] vikasrohit commented on #780
@maxceem lets put limit of 5 characters for now. Topcoder security team's list has extensions that are not more than 4 characters long, still keeping one extra for buffer.

[2020-11-27 11:33] vikasrohit commented on #913
Go ahead with this. fyi @acshields

[2020-11-27 11:36] vikasrohit commented on #913
@sandhiyakavi fyi, I have updated the title of the issue to reflect the new solution instead of disabling the button because disabling the button is more tricky and error prone and we found the other way to be more natural way as well as suggested by @maxceem

[2020-11-27 11:39] vikasrohit commented on #865
@acshields moving it to current release to clear number of small issues from the list.

[2020-11-27 11:42] maxceem opened #917 "Add Attachments to the challenge specification"
As API already supports it, we have to support adding attachments for the challenge specification.

FYI @vikasrohit

[2020-11-27 11:47] vikasrohit commented on #737
Thanks @acshields I have kept the issue in `Requirement Clarification` stage because we are still waiting on @rootelement for status of attachment feature in the api. If it is stable and we are planning to release it to prod soon, we can start working on the UI part as well. We have created separate issue https://github.com/topcoder-platform/work-manager/issues/917 for tracking the feature of supp

[2020-11-27 12:05] maxceem commented on #912
@vikasrohit would you like to have custom nice-looking tooltips or use standard browser tooltips here?

[2020-11-27 12:37] vikasrohit commented on #912
nopes, I am good with standard browser tooltip for now as we don't yet have those nice tooltip components which we have in Projects app.

[2020-11-27 13:08] maxceem commented on #912
Too late, already implemented custom ones 😬. The standard ones were showing too slowly and hardly noticeable.

![image](https://user-images.githubusercontent.com/146016/100451775-a41ab580-30c0-11eb-86f1-be685ef0e7fe.png)

Updated PR https://github.com/topcoder-platform/work-manager/pull/916

[2020-11-27 13:12] maxceem commented on #775
Done by https://github.com/topcoder-platform/work-manager/pull/918

[2020-11-27 13:21] maxceem commented on #772
Done by https://github.com/topcoder-platform/work-manager/pull/919

![image](https://user-images.githubusercontent.com/146016/100453676-07f2ad80-30c4-11eb-85e8-4d217294e476.png)

[2020-11-29 15:39] ThomasKranitsas commented on #873
@acshields @vikasrohit
1. We have blocked the ability to change the type/track as that's not possible on legacy. We could possibly allow changing those value if the challenge is still in `New` state, meaning it hasn't yet been created on legacy. Let me know if that's required and I'll work on that.
2. We recently added the ability to delete `New` challenges. We cannot delete challenges with any ot

[2020-11-29 16:34] ThomasKranitsas commented on #737
@vikasrohit as you correctly said, we need to use Filestack for uploading the files. We have updated the challenge API to support CRUD operation for attachments (`CREATE` only links an already uploaded file with a challenge, it doesn't actually upload the file).

It's been deployed on dev and I'm actively doing testing there. Feel free to also test it out. The latest swagger has all the info

[2020-11-29 20:34] ThomasKranitsas commented on #851
Fixed in https://github.com/topcoder-platform/legacy-challenge-migration-script/commit/c993874ed313c187b243b916d8531935f275aadc

@rootelement please redeploy

[2020-11-29 20:37] ThomasKranitsas commented on #850
@rootelement this is how we're setting the `metadata` during sync

https://github.com/topcoder-platform/legacy-challenge-migration-script/blob/c993874ed313c187b243b916d8531935f275aadc/src/services/challengeService.js#L734-L745

[2020-11-30 09:52] maxceem commented on #913
@vikasrohit do you know any project on DEV with a billing account attached? We need it to test `Close Task` workflow.

[2020-11-30 10:05] maxceem commented on #865
Done via https://github.com/topcoder-platform/work-manager/pull/920

[2020-11-30 10:08] maxceem commented on #784
Also can enter any text:

![image](https://user-images.githubusercontent.com/146016/100596419-d0267880-3304-11eb-87b9-2c97caaa58d0.png)

![image](https://user-images.githubusercontent.com/146016/100596381-c866d400-3304-11eb-8dfe-509c3eaad4d6.png)

[2020-11-30 10:46] maxceem commented on #784
Done via https://github.com/topcoder-platform/work-manager/pull/921/files

- Only allow entering numbers during the challenge editing.

[2020-11-30 11:03] maxceem commented on #778
This wouldn't happen now because API doesn't allow empty `description` anymore. But there is still incorrect behavior of the UI too. So this might also happen for other fields.

There are 2 issues:
- When we change the description **autosave** works and it saves the challenge without validation.
- When we click **Save Draft** the request is sent to the server even though the form is invalid.

See

[2020-11-30 14:27] rootelement commented on #908
@ThomasKranitsas This property should be stored on the ProjectInfo table:
`id: 11 - Timeline Notification`
Can you see if this can get enabled by default using informix update to the challenge?

[2020-11-30 15:23] acshields commented on #737
@vikasrohit - Adding this to the December project in "Requirements Clarification" then, since I am assuming it won't be done/released by tomorrow (for tracking purposes).

[2020-11-30 15:28] acshields commented on #873
@vikasrohit @ThomasKranitsas -

1. I think that providing the ability to change type and track in New status will be important. Please add this to the plate for backend work. However, just a note that in my opinion I don't think this should priority over more pressing issues (that prevent a user on getting through a basic workflow) or features. So, if there is anything more urgent on the plate, th

[2020-11-30 15:53] acshields commented on #724
@vikasrohit - Let's plan to talk this one over tomorrow so we can all get on the same page. Here's my initial thought: I think we do need to carry over the billing account applied to Connect Project into Work Manager, and display it as pre-populated field in the "Basic Details" section under Advanced Settings. Mess is eager to get the company off of Direct as swiftly as possible and the billing ac

[2020-11-30 15:57] acshields commented on #731
@vikasrohit - agreed. I closed it.

[2020-11-30 15:57] #731 closed

[2020-11-30 16:00] acshields commented on #616
@vikasrohit - noted. I will add it to January for now.

[2020-11-30 17:07] acshields commented on #852
@vikasrohit - Adding this to the December backlog.

[2020-11-30 17:09] acshields commented on #780
@vikasrohit - should this be added to the November In Progress, or December In Progress?

[2020-11-30 18:44] rootelement commented on #851
That was merged in and deployed in dev. Does this fix the issue @codejamtc ?

[2020-12-01 16:34] rootelement commented on #852
I really don't think this is anything to do with Work Manager or Challenge API. If you launch a challenge in direct it sometimes takes a while to get picked up by autopilot. Does the challenge ever get moved active in this case? 10 min? 20 min? If so, then our mechanisms are working correctly.

Please keep in mind as well that:
1. Autopilot is never really on time.
2. v4 ES Feeder needs to pick up

[2020-12-01 17:13] maxceem commented on #737
@ThomasKranitsas @vikasrohit could you please, let me know what are whitelisted S3 buckets for the challenge API?

When I'm trying to create an attachment with the body:
[code]
I'm getting an error:
[code]

[2020-12-02 07:31] maxceem commented on #737
@ThomasKranitsas I've also tried with another bucket shared by Vikas with me `tc-challenge-v5-dev` but I'm still getting `The bucket tc-challenge-v5-dev is not in the whitelist`.

Could you advise which bucket we can use on DEV?

Here is the request I'm sending, just in case:
[code]

[2020-12-02 12:42] vikasrohit commented on #778
@maxceem I think we can show validation error on edit in challenge description to prevent this situation because we are already showing other validation errors immediately after the form is dirty.

[2020-12-02 12:44] vikasrohit commented on #778
@codejamtc fyi, we are not able to reproduce the original issue and we are working on missing validation case for auto saving. If you are still able to reproduce original issue, please let us know.

[2020-12-02 12:49] vikasrohit commented on #567
Moving to December @acshields as we need to discuss this before starting on it.

[2020-12-02 13:02] vikasrohit commented on #780
@acshields moving it to December as it seems I missed to move its status to Ready for Dev which moved it out of queue for maxceem.

[2020-12-02 13:27] maxceem commented on #780
@vikasrohit I saw somewhere that people might want to enter the name of the application like `Sketch`, `Marvel`, `Figma`, and so on, instead of the file extension. Are you sure that we only want to restrict this list to file extensions?

[2020-12-02 13:29] vikasrohit commented on #780
That is good observation @maxceem. Lets put it on hold for now and wait for @acshields

[2020-12-02 13:29] maxceem commented on #780
Here is how it looks now for the Design challenge, the text values are quite long:

![image](https://user-images.githubusercontent.com/146016/100878669-29340f00-34b3-11eb-970b-ea75804dda5f.png)

[2020-12-02 15:33] acshields commented on #780
@rootelement - can you weigh in here? For design challenges, a user needs to specify the source file type. We currently have this as a question, but I know you mentioned this could be managed through metadata.  As we are talking about it, can you help me with a few things?

1. What does managing via metadata actually mean for the user experience? They no longer have to choose? They just input it i

[2020-12-02 15:33] acshields commented on #567
@vikasrohit - noted. Let me know what I need to provide.

[2020-12-02 16:50] ketzjs09 opened #922 "Couldn't see the list of project the first time"
I was recently asked to start a challenge via challenges.topcoder.com.
When I opened it first, it showed no projects (I can confirmed that I was signed in, and the page had completely loaded).

After I joined a new connect project, I opened challenges.topcoder.com and found that I can see all connect projects there now.
--------------

Not sure if this is a bug or not, but it could be. But descrip

[2020-12-02 17:34] acshields commented on #875
@vikasrohit - no, I don't think that's necessary for now. If we are all good with the other users, we can close this issue.

[2020-12-02 17:34] #875 closed

[2020-12-02 17:35] acshields commented on #910
@vikasrohit - noted that this should be resolved with the new designs. Should we close this issue, or do you want to keep it for reference?

[2020-12-02 17:37] acshields commented on #851
@vikasrohit - seems like work is being done here via thomas/james. I am going to move this one from req clarification to in progress.

[2020-12-02 17:40] acshields commented on #914
@vikasrohit - what req's do you need clarified?

[2020-12-02 17:45] acshields commented on #922
Hi @ketzjs09 - Yes, this isn't a bug. However, I will think about how we can include reference text to let people know that they have to be joined on a (Connect) project.

For your reference:

- To view a project in Work Manager, you must be joined to the project in Connect.
- To launch work (challenges/tasks/F2Fs) for a project, the project (in Connect) must be in "Active" status.

[2020-12-02 17:47] rootelement commented on #917
Challenge API supports Attachments. You'll need to upload through the UI via the Filestack widget into the S3 bucket, then submit that s3 URL as the attachment URL. Then the challenge api will handle security and retrieval of the attachment.

[2020-12-02 17:52] rootelement opened #923 "Default Timeline Not Selected for Design Challenge"
I see Work Manager making this call to get the timeline templates:
I’ve confirmed that this call:
http://api.topcoder.com/v5/challenge-timelines?isDefault=true&page=1&perPage=100

And I see the default timeline templates coming back. If I make this API call (track = design, type = challenge):
http://api.topcoder.com/v5/challenge-timelines?trackId=5fa04185-041f-49a6-bfd1-fe82533cd6c8&typeId=927abff

[2020-12-02 17:56] acshields commented on #196
@rootelement - Is Filestack implemented in the backend? I know that was in progress.

[2020-12-02 18:12] ketzjs09 commented on #922
I am actually part of multiple connect projects and have been for months - many of them pretty active, and none of them were visible in the Work Manager.

Only when I joined a new Connect project, I started seeing all of my connect projects.

[2020-12-02 18:43] ketzjs09 opened #924 "Unable to create a task"
I tried creating a task for https://challenges.topcoder.com/projects/26286/challenges

but I'm unable to do so, it returns this error, and I can't find the challenge saved in the draft as well
https://drive.google.com/file/d/1f8TtsxSnp-AoLcQIaXbQgossiZ6h858u/view?usp=sharing

[2020-12-02 20:09] maxceem commented on #913
@vikasrohit at the moment assigning member doesn't work for me at all even following "safe" steps:
1. Create a new task in DEV
2. Fill the required fields and **save as draft**
3. Wait until Legacy Project is created
4. Choose any member to assign (for example `maxceem`) and  click **save as draft** again
5. Reload the page and see that there is no assigned member

This looks like a processor. I c

[2020-12-02 20:19] maxceem opened #925 "Legacy challenge is not created if we click "Save" the first time"
### Steps to reproduce

1. Click **Launch New**
2. Choose **Work Type**: `Development`, **Work Format**: `Challenge`, **Work Name**: `any`
3. Click **Continue Set-Up**
4. Fill all the required fields and click **Save** (NOT **Save Draft**)
5. Now wait 30 seconds and reload the page. Links to legacy projects would be still disabled as Legacy Project would not be created. And it doesn't matter how l

[2020-12-02 21:39] acshields commented on #922
@ketzjs09 - ah yes, that's the other thing. Work Manager only works for projects that were created via Connect, not Direct. So if the projects you were on were originally created in Direct, they won't show up as options in Work Manager (legacy syncing stuff).

However, the good news is that in August we disabled the ability to create new projects in Direct. Now and moving forward, projects can onl

[2020-12-03 01:28] cwdcwd opened #926 "Cannot create challenge when only one project"
I cannot seem to create a challenge in a fresh project.

# STR:
- login as `jcori30` on dev
- goto https://challenges.topcoder-dev.com/
- no project is present despite `jcori30` having 1 active project in projects API (see [here](https://connect.topcoder-dev.com/projects/16717/) )
- search for `test`
- project listing shows
- click project
- redirect to empty project list as at the start

![image]

[2020-12-03 06:12] vikasrohit commented on #926
@cwdcwd it is coming for me when I logged in as `jcori30`. It might be the api failed because of network issue and didn't show you the projects. Did you see any error in console logs when you didn't see the projects?

[2020-12-03 06:14] vikasrohit commented on #914
@acshields it is backend issue, and I have tagged the issue with `API/Backend Question` which means we need @rootelement's expert advice or help.

[2020-12-03 06:15] vikasrohit commented on #852
@sandhiyakavi Can you please reconfirm if the issue is transient only as per https://github.com/topcoder-platform/work-manager/issues/852#issuecomment-736667326?

@acshields we can close this if @sandhiyakavi finds it transient.

[2020-12-03 10:16] sandhiyakavi commented on #852
@vikasrohit Created another challenge to check. It took **nearly one hour and forty minutes** to change from stalled to Registration status.

![image](https://user-images.githubusercontent.com/55895538/100995973-dda96000-359b-11eb-8b8f-6743e0bfd2bd.png)

[2020-12-03 10:21] vikasrohit commented on #854
@acshields @rootelement do we want the tags to be a mandatory field?

[2020-12-03 10:24] vikasrohit commented on #852
Thanks @sandhiyakavi for the retest. I think the challenge's start date is one hour from the creation time, so that might be the primary reason of the delay. Are you seeing any deviation from the start date that you are setting while challenge creation? I mean is it taking longer than the start date of the challenge to reflect the actual phase?

[2020-12-03 11:09] vikasrohit commented on #196
@rootelement @acshields we created separate [issue](https://github.com/topcoder-platform/work-manager/issues/917#issuecomment-737390308) as we didn't find this one when starting the work for the filestack implementation at UI.

[2020-12-03 11:10] vikasrohit commented on #196
Closing this one in favour of keeping history for the work already done for https://github.com/topcoder-platform/work-manager/issues/917#issuecomment-737390308 in November

[2020-12-03 11:10] #196 closed

[2020-12-03 11:26] vikasrohit commented on #923
@rootelement it seems we have multiple entries for the same `typeId` but for different `trackId`. Until now we were only filtering based on `typeId` when mapping between `ChallengeTimelineTemplate` and `TimelineTemplate` table. I am updating the logic to now filter using `trackId` and `typeId` both now to determine which timeline template we want to use. Do you see any problem with that logic?

[2020-12-03 11:39] vikasrohit commented on #737
@maxceem did we got this problem solved?

[2020-12-03 11:41] maxceem commented on #737
@vikasrohit yes, Thomas and James helped me.

[2020-12-03 11:46] vikasrohit commented on #873
@acshields can we close this one and create new one(s) as per final solution that we want to implement i.e. having the delete capability for New challenges or both if we want both solution?

[2020-12-03 11:53] vikasrohit commented on #922
To view a project in Work Manager, you must be joined to the project in Connect.
To launch work (challenges/tasks/F2Fs) for a project, the project (in Connect) must be in "Active" status.

@acshields small correction to your explanation:
To view a project in WM and launch work, you must be joined to an active project in Connect i.e. only Active projects are listed in Work Manager.

[2020-12-03 11:55] vikasrohit commented on #925
@maxceem that is legit confusion. Actually, `Save` button saves the challenge in whatever status it is already. So it won't move a challenge to legacy if the challenge is in `New` state.

[2020-12-03 11:55] #925 closed

[2020-12-03 12:00] vikasrohit commented on #923
@lakshmiathreya @codejamtc can we get it verified in dev? As heads up, we might need to do regression (only for challenge creation part) for all track and type combination to make sure it didn't break any of the existing timeline mapping.

fyi @acshields @rootelement @mtwomey

[2020-12-03 12:01] vikasrohit commented on #910
Nopes, I would like to shorten my list of issues.

[2020-12-03 12:01] #910 closed

[2020-12-03 12:45] vikasrohit commented on #913
@maxceem I think the reason for not having member assigned to a task in dev is that there are multiple entries for `Submitter` resource role being returned by api and that is causing one random roleId from those multiple entries to be sent as roleId when creating the resource which does not match with the UUID of the `Submitter` role which we have set for our application. Hence, it does not see it

[2020-12-03 13:37] sandhiyakavi commented on #852
@vikasrohit I tried with another challenge ,The start date was set as today's date with 20:30 time. Below screenshot taken after activating the challenge.

challenge url: https://challenges.topcoder.com/projects/24943/challenges/d5c461a6-ec39-4489-b1f0-dd4adfe8df24/view
<img width="960" alt="screen1" src="https://user-images.githubusercontent.com/55895538/101023659-6cc37180-35b6-11eb-8b25-695a06db

[2020-12-03 15:54] acshields commented on #910
sounds good @vikasrohit

[2020-12-03 15:57] acshields commented on #873
@vikasrohit - we can close it, and then open an new one for just the deletion of items in "New" status.

[2020-12-03 15:57] #873 closed

[2020-12-03 15:59] acshields opened #927 "[$80] Delete Capability: Items in "New" Status"
If an item (challenge, task, F2F) is in "New" status, the user should have the capability to delete it.

- On the "all items" view for the project, items in "New" status should display a delete button.
- If the user clicks into the item (i.e. the set-up screens), at the bottom they should see a "Delete" button.

[2020-12-03 16:22] acshields commented on #854
@vikasrohit - yes, I believe they should be.

[2020-12-03 17:32] acshields opened #929 "Remove "Save" button from set-up flow"
Remove the "Save" button from the set-up flow, so that the only option displayed is "Save Draft"

Notes
- If the user does not click "Save Draft" and navigates away, the challenge will still be saved as "New" and can display in the "New" tab in the "all work" view.
- The "Save Draft" button will work as is (no changes).

[2020-12-04 00:12] maxceem commented on #917
@vikasrohit file uploading is done via PR https://github.com/topcoder-platform/work-manager/pull/931

See demo video: https://monosnap.com/file/I4B4UsRVCtJBQv1wzraQwwvkcvibNF

Though there is some issue with config, so I use the incorrect FileStack/AWS bucket config, because it doesn't work for me with the correct one. As was clarified by @rootelement (on Slack) we have to upload challenge attachm

[2020-12-04 04:16] sandhiyakavi commented on #852
@vikasrohit The challenge's Registration phase started. The start date is also updated according to that.

![image](https://user-images.githubusercontent.com/55895538/101121150-c23d6400-3632-11eb-9ee4-9e0c2c2190cf.png)
![image](https://user-images.githubusercontent.com/55895538/101121175-d6816100-3632-11eb-9ec0-f21a71033e5d.png)

[2020-12-04 06:01] vikasrohit commented on #917
@rootelement @mtwomey can you guys help us here?

[2020-12-04 10:03] vikasrohit commented on #854
@maxceem please make it mandatory on the front end.

[2020-12-04 10:23] vikasrohit commented on #852
@sandhiyakavi I think there is some mistake in timezone calculation. I mean you set the challenge start date to be `December 3, 2020 20:30 IST` while the OR is showing first phase start time as `December 3, 2020 06:30 EST` which should have been `December 3, 2020 10:00 AM EST`. I am trying to do more investigation in this direction. Please let me know if you also see any mismatch in timezone calcu

[2020-12-04 10:28] vikasrohit commented on #922
@acshields @mtwomey I have more details on this. I can see the similar behaviour as well and it happens when we try to load the work manager after certain time (roughly 10-15 minutes). APIs starts returning 403 because of token expiration, I think refresh token is not working as expected after our auth0 release and that is causing these kind of issues. A forced page refresh or opening any other to

[2020-12-04 10:31] maxceem commented on #854
@vikasrohit done via https://github.com/topcoder-platform/work-manager/pull/932

[2020-12-04 10:32] vikasrohit opened #933 "Enable Launch as Activate button on Challenge Edit page only when legacy is available"
As of now we are showing the `Launch as Active` button always no matter if the legacy challenge is created or not which confuses users. So, we need to make that button disabled and greyed out with our custom tooltip (saying the same message which we are showing for the Direct and OR links on top).

[2020-12-04 10:34] vikasrohit commented on #933
@acshields @mtwomey fyi, created this issue to track what we discussed in our call yesterday

[2020-12-04 10:41] sandhiyakavi commented on #852
@vikasrohit Actually, Time zone calculation is correct. I set the challenge start date as December 3, 2020 20:30 **JST** . I am following Japan timezone (since I am in Japan) that's why it is showing like that.

[2020-12-04 10:46] maxceem commented on #933
@vikasrohit done via PR https://github.com/topcoder-platform/work-manager/pull/934

[2020-12-04 11:18] vikasrohit commented on #567
@acshields it is tricky situation to deal with because this can happen with any application where some action has been performed out of that application and user is still haven't refreshed the original application and still looking at stale data. I don't know any standard solution for this and we need to discuss the situation in call.

[2020-12-04 11:21] vikasrohit commented on #852
Ohk. I don't know why I assumed IST for you. No worries, if timezone calculation is correct, I guess we are good. Current auto. pilot has some limitations in terms of processing all challenges to be launched. It can skip a challenge for starting even though it is legit time for it to start. So, do you think now we can close this issue?

[2020-12-04 11:37] #852 closed

[2020-12-04 12:53] maxceem commented on #914
@vikasrohit done via https://github.com/topcoder-platform/work-manager/pull/936

As was discussed on Slack. Instead of getting the submitter role by name, we use role UUID defined in config. Because at the moment DEV data has multiple role with `Submitter` name, so we cannot rely on that at the moment.

IMO. If the `ResourceRole.name` suppose to be the source truth, maybe we can make `name` field

[2020-12-04 13:33] maxceem commented on #913
@vikasrohit this is fixed via https://github.com/topcoder-platform/work-manager/pull/936 together with the fix for the submitter role.

[2020-12-04 13:38] vikasrohit commented on #914
@maxceem I think this issue is happening for only particular user. I thought it was happening because of the same reason we saw in dev but this issue is already happening on prod where the roles data is correct. But none the less we got it fixed in dev.

[2020-12-04 15:42] acshields commented on #922
@vikasrohit - thank you for taking a look at this. Let's get this issue fixed, but I don't view it as mission critical (I have experienced the same thing and if I just unselect/reselect "My Projects" I am able to see my projects). Do you think that this is something we can before the end of the month (after the 12/15 release), or should we plan it for January?

[2020-12-04 15:44] acshields commented on #567
@vikasrohit - noted. For now, I am going to move this to January. We can discuss later.

[2020-12-04 15:54] acshields opened #938 "Hide Prizes: Skill Builder Challenges"
@rootelement @vikasrohit - I was reading through the WM App Feedback Form today (google form), and one person raised the issue that they are required to enter a prize amount when what they are launching is a skill-building challenge, when there should be no prize amount required.

My initial thought in this workflow is to hide the prizes field altogether (and allow it to have the amount as zero) t

[2020-12-04 21:56] rootelement commented on #917
I've reached out to Guna to fix the s3 bucket. @vikasrohit this is exactly like how the file upload in community app works. The idea is using the Filestack Dev key to upload to the `tc-challenge-v5-dev` bucket, then the challenge api should be able to read from it. I'm unclear how the frontend of filestack works, but if you're using this filestack api key in dev: `AzFINuQoqTmqw0QEoaw9az` you shoul

[2020-12-04 23:38] rootelement opened #939 "Challenge Resource Management"
From the View Challenge page, you should be able to click a button that takes you to view all the resources on that challenge. It should look and operate like the admin.topcoder.com tool to manage resources on a v5 challenge.

![Screen Shot 2020-12-04 at 5 05 25 PM](https://user-images.githubusercontent.com/5400156/101220027-edd04680-3652-11eb-9a09-df35df302686.png)

![Screen Shot 2020-12-04 at 5

[2020-12-07 12:36] vikasrohit opened #940 "Add activate button at the top next to the Direct and Online Review buttons"
Add activate button at the top next to the Direct and Online Review buttons (so you don’t have to go into edit to launch)

[2020-12-07 12:37] #940 closed

[2020-12-07 12:37] vikasrohit commented on #940
Duplicate of https://github.com/topcoder-platform/work-manager/issues/867

[2020-12-07 14:07] lakshmiathreya commented on #914
@drasticdpk Assignee is persisting in my test. Pls re-verify in Prod and update the Test report.
<img width="1680" alt="Screenshot 2020-12-07 at 7 36 05 PM" src="https://user-images.githubusercontent.com/51733042/101360354-8c62de80-38c3-11eb-9845-173bc9882a04.png">

[2020-12-07 14:31] vikasrohit commented on #914
@lakshmiathreya the main issue here is assign task is not working for some of the users and one of the example is shared in the original description by Tony. We haven't fixed that yet.

[2020-12-07 14:42] vikasrohit commented on #922
@acshields the changes would be need in auth0 code for which we need @sachin-maheshwari and @mtwomey's help. Yep, it makes sense to move it to Jan.

[2020-12-07 14:44] lakshmiathreya commented on #899
Groups are visible. @drasticdpk pls review and update test report.

[2020-12-07 14:49] lakshmiathreya commented on #859
NDA not synced correctly in Prod.
<img width="1680" alt="Screenshot 2020-12-07 at 8 18 10 PM" src="https://user-images.githubusercontent.com/51733042/101365160-71936880-38c9-11eb-997b-da64ef8bc6bb.png">
<img width="1680" alt="Screenshot 2020-12-07 at 8 17 54 PM" src="https://user-images.githubusercontent.com/51733042/101365121-65a7a680-38c9-11eb-8b07-ee1d07174eb1.png">

[2020-12-07 14:53] lakshmiathreya commented on #783
Maximum Number of Submissions not synced in Prod.

[2020-12-07 14:58] lakshmiathreya commented on #850
NDA, Review Type and other fields are lost after Sync in Prod.
<img width="1680" alt="Screenshot 2020-12-07 at 8 27 08 PM" src="https://user-images.githubusercontent.com/51733042/101366171-a0f6a500-38ca-11eb-9ef4-2aca2b6d3314.png">

[2020-12-07 15:04] lakshmiathreya commented on #929
Verified Save button removed from setup flow.

[2020-12-07 15:08] lakshmiathreya commented on #766
Private Specification is now enabled in setup page.
![Uploading Screenshot 2020-12-07 at 8.37.50 PM.png…]()

[2020-12-07 15:11] lakshmiathreya commented on #775
Verified removal of Direct/OR buttons in New Work flow.
<img width="1680" alt="Screenshot 2020-12-07 at 8 41 01 PM" src="https://user-images.githubusercontent.com/51733042/101367962-9806d300-38cc-11eb-887e-bd9a05aa9751.png">

[2020-12-07 15:14] lakshmiathreya commented on #854
Tag is now validated - verified in Prod.
<img width="1680" alt="Screenshot 2020-12-07 at 8 43 33 PM" src="https://user-images.githubusercontent.com/51733042/101368292-fa5fd380-38cc-11eb-91db-4f1ba1d3afec.png">

[2020-12-07 15:16] lakshmiathreya commented on #772
Verified in Prod.
<img width="1680" alt="Screenshot 2020-12-07 at 8 45 53 PM" src="https://user-images.githubusercontent.com/51733042/101368504-3bf07e80-38cd-11eb-992b-6b613bc9a291.png">

[2020-12-07 15:34] lakshmiathreya commented on #784
Field validation verified in Prod - only numbers allowed now.

[2020-12-07 16:27] sachin-maheshwari commented on #922
@vikasrohit you can try the latest tc-auth-lib tag 1.0.3 (https://github.com/topcoder-platform/work-manager/blob/develop/package.json#L94) and get tested by the QA.

[2020-12-07 17:18] lakshmiathreya commented on #721
@vikasrohit @acshields is this part of December release?

[2020-12-07 17:20] lakshmiathreya commented on #723
@vikasrohit @acshields pls mention the milestone for this Issue.

[2020-12-07 17:22] lakshmiathreya commented on #800
@sandhiyakavi pls update the Prod QA status for this Issue. cc @drasticdpk

[2020-12-08 04:55] drasticdpk commented on #899
With reference to above communication, I am closing this issue.
However, My Role with copilot , In both WM and Direct same group are reflecting.
![image](https://user-images.githubusercontent.com/25297859/101441698-cc68a680-3941-11eb-8ff5-700fcc892dcd.png)

[2020-12-08 04:55] #899 closed

[2020-12-08 04:57] rootelement commented on #859
This should be fixed in prod now. The property _was_ changed on the v4 object, but there was an entry missing from `project_info` that direct looks for which is now being added.

[2020-12-08 05:25] drasticdpk commented on #914
For now it is working as expected.
**Reference :**

![image](https://user-images.githubusercontent.com/25297859/101443485-9d543400-3945-11eb-8267-355eaf0f05f8.png)

https://challenges.topcoder.com/projects/24943/challenges/d0bcefed-e298-4315-9e88-9c8b8b96c65e/view

However few cases not working for me. I will monitor this challenge and open/create new tickets if needed.

[2020-12-08 05:25] #914 closed

[2020-12-08 05:42] vikasrohit commented on #914
@ajefts fyi, it seems we are able to assign task to `winterflame`

[2020-12-08 05:50] drasticdpk commented on #859
Verified.

![image](https://user-images.githubusercontent.com/25297859/101445156-1012de80-3949-11eb-86ff-f09b78fbf17f.png)

[2020-12-08 05:50] #859 closed

[2020-12-08 05:55] drasticdpk commented on #854
verified.

[2020-12-08 05:55] #854 closed

[2020-12-08 06:00] drasticdpk commented on #865
Verified.
![image](https://user-images.githubusercontent.com/25297859/101446159-d0e58d00-394a-11eb-84f1-50bad7df2e0c.png)

[2020-12-08 06:00] #865 closed

[2020-12-08 06:12] drasticdpk commented on #913
@vikasrohit ,
I verified user can create and close the task. Pease re-open for any cases.
**Reference :**

![image](https://user-images.githubusercontent.com/25297859/101447012-78af8a80-394c-11eb-9ef6-ba4fb54fca7d.png)

https://challenges.topcoder.com/projects/24943/challenges/d0bcefed-e298-4315-9e88-9c8b8b96c65e/view

[2020-12-08 06:12] #913 closed

[2020-12-08 06:13] vikasrohit commented on #917
@rootelement Do we have confirmation for S3 bucket? @maxceem can you please give it a try in case it has been fixed?

[2020-12-08 06:16] vikasrohit commented on #851
@lakshmiathreya @codejamtc @sandhiyakavi  it is ready for qa.

[2020-12-08 06:21] #775 closed

[2020-12-08 06:21] #929 closed

[2020-12-08 06:22] #766 closed

[2020-12-08 08:02] maxceem commented on #917
@vikasrohit it's still forbidden for `tc-challenge-v5-dev` bucket:

![image](https://user-images.githubusercontent.com/146016/101456292-82c98d00-393c-11eb-94da-2b5a1439034e.png)

[2020-12-08 08:37] vikasrohit commented on #721
No. It is being worked on in December but not part of 15th Dec release.

[2020-12-08 08:38] #784 closed

[2020-12-08 08:39] #772 closed

[2020-12-08 08:39] #912 closed

[2020-12-08 11:06] drasticdpk opened #942 "Let them user, how many minutes (times) need to wait after activating challenge."
Reference
![image](https://user-images.githubusercontent.com/25297859/101476091-57af5f80-3975-11eb-95ac-c35112344115.png)

[2020-12-08 11:09] vikasrohit commented on #923
@rootelement we are getting checkpoints in the timeline when the review type is `Community` but there are not checkpoints when the review types is Internal. Do we need different timeline template id mapped for such cases?

[2020-12-08 11:14] vikasrohit commented on #922
It didn't help @sachin-maheshwari I upgraded the library in dev, but I am still seeing the issue.

[2020-12-08 11:44] drasticdpk commented on #908
Yes we are able to replicate the issue on prod mode.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/101479852-ef637c80-397a-11eb-8d2f-ea35a0338845.png)

[2020-12-08 11:58] sachin-maheshwari commented on #922
@vikasrohit it is not reproducible to for me on dev. Even i tried on both browser env. Please verify or lets assign to QA to verify further.
<img width="1679" alt="Screenshot 2020-12-08 at 5 26 47 PM" src="https://user-images.githubusercontent.com/6467888/101481087-a01d4c00-397a-11eb-92a3-18bc00e92a58.png">
<img width="1672" alt="Screenshot 2020-12-08 at 5 26 18 PM" src="https://user-images.github

[2020-12-08 12:00] vikasrohit commented on #778
@drasticdpk @lakshmiathreya Can we try to reproduce it with original steps? We are not able to reproduce it but we have identified one missing validation error situation which might confuse users, so we would fix that if the original one is not reproducible.

[2020-12-08 12:01] vikasrohit commented on #778
@maxceem can you please add validation error for the patch call as well?

[2020-12-08 12:12] maxceem commented on #778
Do you mean add validation to `PATCH` request server side?

Or do you mean show validation error when `auto-save` is triggered?

[2020-12-08 12:14] vikasrohit commented on #933
@maxceem I think you fixed the Launch button on Challenge Edit page (that is a good fix), however, I created issue for fixing the Activate button on the listing page. Can you please do fix that button, which comes on hover of list item, now? Feel free to create separate issue for logging the work.

[2020-12-08 12:30] vikasrohit commented on #867
@mtwomey it is deployed to production.

[2020-12-08 12:31] vikasrohit commented on #922
@sachin-maheshwari here is my experience.

![Screen Recording 2020-12-08 at 5 35 41 PM](https://user-images.githubusercontent.com/2417632/101484058-0e640d80-397f-11eb-88cb-0d67f8c54e9e.gif)

[2020-12-08 12:48] maxceem commented on #933
@vikasrohit at the moment the logic here is like this:
![image](https://user-images.githubusercontent.com/146016/101485205-815f8b00-3963-11eb-8143-f2d62742aad2.png)

- Button "Active" is not shown if legacy is not created
- Direct and OR links are showing error message if we click them when legacy is not created:

   ![image](https://user-images.githubusercontent.com/146016/101485317-a8b65800-3963

[2020-12-08 12:59] vikasrohit commented on #933
I can see the `Activate` button on production for a challenge which is in Draft and still don't have legacy challenge created yet.

If that is easy to do with them, please do it (feel free to log separate issue for that). And we can hide those links on the New tab to avoid confusion.

[2020-12-08 13:00] vikasrohit commented on #778
I mean show validation error when auto-save is triggered.

[2020-12-08 13:03] vikasrohit commented on #908
@rootelement can we test it now in dev?

[2020-12-08 13:19] sachin-maheshwari commented on #922
@vikasrohit please try with TonyJ a/c.

[2020-12-08 13:25] drasticdpk commented on #908
Still we are having same issue on Dev .

**Reference**
![image](https://user-images.githubusercontent.com/25297859/101489423-0741fd00-3989-11eb-895b-4e2adcd12b59.png)

https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30057645

[2020-12-08 13:26] vikasrohit commented on #922
why so? It is happening with my account and many others (including @ketzjs09 who reported the issue) that means there is some problem, right? Or I missed something here?

[2020-12-08 13:34] sachin-maheshwari commented on #922
@vikasrohit that is not reproducible at my end. can you share the steps to reproduce it ?

[2020-12-08 13:35] drasticdpk commented on #933
We are having **Active** before legacy is available .

Reference

![image](https://user-images.githubusercontent.com/25297859/101490326-4c1a6380-398a-11eb-95b7-153df5f483f2.png)

[2020-12-08 13:36] drasticdpk commented on #933
@vikasrohit So this issue will be invalid, right ?
https://github.com/topcoder-platform/work-manager/issues/942

[2020-12-08 13:43] drasticdpk commented on #923
@vikasrohit  can  you please guide me, how can I test it from frontend or any other ways ?
Thanks.

[2020-12-08 13:49] drasticdpk commented on #867
@vikasrohit ,
We can see there is "Launch" button instead of Active. Yes  through this button user can activate the challenge.

**reference**
![image](https://user-images.githubusercontent.com/25297859/101491541-fb0b6f00-398b-11eb-91cb-33c0e602cbd0.png)

@vikasrohit So, this logic also should be available here, right ?
please confirm.

[2020-12-08 13:56] maxceem commented on #933
@drasticdpk not really. We would still show a message `Legacy project is not yet created` but a different way.

[2020-12-08 13:58] maxceem opened #943 "Disable buttons and show tooltip when legacy challenge is not yet created on the challenge listing page"
Follow up from https://github.com/topcoder-platform/work-manager/issues/933

See details https://github.com/topcoder-platform/work-manager/issues/933#issuecomment-740599485

![image](https://user-images.githubusercontent.com/146016/101493101-44e55c80-396e-11eb-9380-bb81101046c6.png)

- Direct, OR links and `Activate` button should be disabled if legacy challenge is not created yet. We also should

[2020-12-08 14:00] maxceem commented on #933
@vikasrohit I've created a separate issue https://github.com/topcoder-platform/work-manager/issues/943

So I guess we can rename this issue to represent the actual job done here and close it.

[2020-12-08 14:00] drasticdpk commented on #778
@vikasrohit  yes I can replicated with given steps.
Findings : Auto save , updated as empty text then there is required validation.
In video, we can see there is no text in public specification while editing the challenge.

![image](https://user-images.githubusercontent.com/25297859/101493102-b41e7900-398d-11eb-86bd-25c742d14a1b.png)

In prod:

https://challenges.topcoder.com/projects/24943/challe

[2020-12-08 15:17] rootelement opened #944 "Move "Close Task" to View Screen"
Much like the Launch button on the challenge view screen, the Close Task button should be visible on the View screen for a challenge (and possibly the list view as well) when the scenario fits. It's not intuitive to have it on the Edit screen.

Also, i suggest making the Close Task button Green instead of Red. Red = stop/delete. You're successfully closing the task, the button should denote that.

[2020-12-08 15:34] maxceem commented on #943
Done via https://github.com/topcoder-platform/work-manager/pull/945

- For the DRAFT projects it got disabled without legacy challenge

   ![image](https://user-images.githubusercontent.com/146016/101503708-0e620e80-397b-11eb-8c91-7a98e4d6af2b.png)

- And for the NEW challenges it is not shown anymore

    ![image](https://user-images.githubusercontent.com/146016/101503851-394c6280-397b-11eb-95d5-

[2020-12-08 15:45] drasticdpk opened #946 "Copilot Role Mis-Match WM over OR"
**Steps**
1. Create a challenge by assigning the copilot other than yourself
2. Observe the role on OR app.

**Reference** :

![image](https://user-images.githubusercontent.com/25297859/101505418-6eb57800-399c-11eb-9849-973cf0766df4.png)

https://challenges.topcoder.com/projects/24943/challenges/636366bf-40db-4ee9-89fd-38eb85f7c952/view

[2020-12-09 05:26] vikasrohit commented on #933
@drasticdpk I am closing this one after updating the description of the issue as the work done under this story is already verified and working fine on prod. @maxceem has created separate issue #943 for the concern I raised above, so we would verify those missing pieces there.

[2020-12-09 05:26] #933 closed

[2020-12-09 05:30] vikasrohit commented on #778
Thanks @drasticdpk. @maxceem I think you said that challenge api does not allow empty description, so how can patch set the empty description? Or are we missing the validation for PATCH but have it for POST/PUT?

[2020-12-09 05:36] vikasrohit commented on #944
Agreed @rootelement and in fact that is why I was in favour of design update first to have the nice UX because current version is not at all user friendly and it need a lot of improvements which will cause major refactoring in the application which in turn would have required heavy regression testing etc.
Instead of replicating all of the edit page's functionality on the read only page, we should

[2020-12-09 08:38] vikasrohit commented on #946
@drasticdpk Copilot is also added as Observer because every one on the team is added to the challenge as Observer. However, it is more likely that copilot addition to v5, was not able to sync it properly to the legacy.

[2020-12-09 08:40] vikasrohit commented on #923
@drasticdpk create two design challenges, one with community review and another with internal review type. And once they are in legacy, observe that one with community review has checkpoints in the OR while the internal one don't.

[2020-12-09 08:45] vikasrohit commented on #922
Just don't open any topcoder app in your browser for at least 15 minutes and then open the work manager. It should reproduce the issue, I am able to reproduce it 100% times.

[2020-12-09 08:46] vikasrohit commented on #867
Yes that is okay.

yes, it is.

[2020-12-09 08:50] lakshmiathreya commented on #851
Verified in Prod.
<img width="1680" alt="Screenshot 2020-12-09 at 2 19 28 PM" src="https://user-images.githubusercontent.com/51733042/101606734-b6361580-3a29-11eb-8c4a-cb1d2cf0876d.png">

[2020-12-09 08:53] vikasrohit commented on #943
@drasticdpk @lakshmiathreya ready for testing on production.

[2020-12-09 09:00] lakshmiathreya commented on #943
Activate button is enabled - legacy seems to be created - yet this is the error -
<img width="1680" alt="Screenshot 2020-12-09 at 2 29 11 PM" src="https://user-images.githubusercontent.com/51733042/101607799-fea20300-3a2a-11eb-9e9d-f509773ab18f.png">

<img width="1680" alt="Screenshot 2020-12-09 at 2 28 30 PM" src="https://user-images.githubusercontent.com/51733042/101607794-fcd83f80-3a2a-11eb-869

[2020-12-09 09:04] lakshmiathreya commented on #943
Here is a case where it is working as expected:
<img width="1680" alt="Screenshot 2020-12-09 at 2 32 47 PM" src="https://user-images.githubusercontent.com/51733042/101608296-8b4cc100-3a2b-11eb-9509-0706d0169883.png">
<img width="1680" alt="Screenshot 2020-12-09 at 2 33 13 PM" src="https://user-images.githubusercontent.com/51733042/101608306-90117500-3a2b-11eb-8ff9-5211667edbb9.png">

[2020-12-09 09:06] lakshmiathreya commented on #943
@maxceem @vikasrohit - pls clarify. It seems to be working as expected in one case. However, in the other - the Activate button is enabled - yet the message shown up after Activate is misleading. Should I log another Issue for that?

[2020-12-09 09:06] lakshmiathreya commented on #943
cc @drasticdpk

[2020-12-09 09:12] drasticdpk opened #948 "Unable to unassign copilot once it is assign"
**Steps**
1. Open draft challenge which has assigned copilot.
2. Try to unassign the copilot.

**Reference**
![image](https://user-images.githubusercontent.com/25297859/101608633-0e6f1680-3a2e-11eb-805d-76be3740e57e.png)

https://challenges.topcoder.com/projects/24943/challenges/f2827023-f799-4491-a6d2-a3686dcf9f65/edit

[2020-12-09 09:14] lakshmiathreya commented on #948
cc @mtwomey

[2020-12-09 09:44] maxceem commented on #943
Yes, @lakshmiathreya, please, log another issue for this case. The issue you see is on the backend - legacy is created, but we cannot activate it. In the UI we just don't allow activate when a legacy is not created.

[2020-12-09 09:54] lakshmiathreya commented on #943
sure - @maxceem will log a different issue for the case where legacy is created.

[2020-12-09 10:03] drasticdpk opened #949 "Add Standard Terms for Topcoder Competitions link with validation message."
**Steps**
1. Create a task and assign the task to user who has not accepted Standard Terms for Topcoder Competitions  ( eg **makarThapa**)
2. And save it. You will get the validation error as shown below.

**Action item**

Add the below link  with validation  message, so copilot can send the information to respective user in a second.

https://www.topcoder.com/challenges/terms/detail/564a981e-6840

[2020-12-09 10:04] drasticdpk commented on #949
cc @lakshmiathreya @mtwomey

[2020-12-09 10:22] drasticdpk opened #950 "Unable to activate challenge even it was created on legacy app."
**Steps**
1. Go to https://challenges.topcoder.com/projects/24943/challenges/a630ae86-217d-44aa-9420-1000b8c00be5/view
2. Try to Activate

**Reference**

![image](https://user-images.githubusercontent.com/25297859/101617222-7aef1300-3a38-11eb-86af-e81ce75b462c.png)

![image](https://user-images.githubusercontent.com/25297859/101617284-8fcba680-3a38-11eb-9f50-c7384a049bac.png)

[2020-12-09 12:23] sachin-maheshwari commented on #922
@vikasrohit after logout and refreshing accounts-auth0.topcoder-dev.com url, try again. I matched the cookie expiry time to token expiry. Now should work for you, it'll give the login prompt in this case.

[2020-12-09 13:29] vikasrohit commented on #944
@rootelement @lakshmiathreya @drasticdpk it should be live on prod in 15 minutes

[2020-12-09 13:35] vikasrohit commented on #950
@rootelement seems like API is always returning the same message even though the legacy is created. I guess, because of certain validations in legacy challenge, v4 ES index is not updated with the challenge and v4 api returns it as 404 because it reads the challenge from v4 ES.

[2020-12-09 13:37] vikasrohit commented on #943
Referencing the issue which was observed above https://github.com/topcoder-platform/work-manager/issues/950

[2020-12-09 13:37] #943 closed

[2020-12-09 13:40] #851 closed

[2020-12-09 14:58] rootelement commented on #950
v4 api doesn't read from v4 es. It tries, but if it's not there, it fails
over to reading from the db.

On Wed, Dec 9, 2020 at 8:35 AM vikasrohit <notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com/blog /

[2020-12-09 17:48] maxceem commented on #917
@vikasrohit Uploading attachments work well now end-to-end now.

There is only one issue with Challenge API when adding multiple attachments at once:
- we send multiple `POST /challenges/:id/attachments` requests in parallel and all of them are successful
- but after I reload the challenge `GET /challenge/:id` returns only one attachment

See demo video https://monosnap.com/file/mVqe0igPbDIa68bUep

[2020-12-09 17:58] maxceem commented on #778
@vikasrohit hmm, I've checked it again and `description` is not required in Challenge API, though I remember getting validation errors from API.

Anyway, we would add client-side validation for auto-save, and it this issue should got fixed.

[2020-12-09 18:11] maxceem commented on #778
@vikasrohit one question.

After adding validation, I can see that our validation allows spaces `    ` it treats it as non-empty value. This is a common issue, not only for autosaving.
Should we treat spaces as a value entered or no?

[2020-12-09 18:14] maxceem commented on #778
Validation for autosave is added by https://github.com/topcoder-platform/work-manager/pull/952

[2020-12-09 18:51] acshields opened #953 "Relabel "Active Challenges" to "All Work" in Left Sidebar"
<img width="180" alt="Screen Shot 2020-12-09 at 12 50 12 PM" src="https://user-images.githubusercontent.com/41118149/101673815-43bf3880-3a1d-11eb-821a-9d47521006f0.png">

[2020-12-09 19:01] acshields opened #954 "Update "Give Application Feedback" Hyperlink"
For now, when a user clicks "Give Application Feedback" in Work Manager, they should be redirected to this Github repo: https://github.com/topcoder-platform/work-manager/issues/new

Please disable the Google Forms hyperlink and have it redirect to this new one.

[2020-12-09 19:55] ThomasKranitsas commented on #950
@rootelement the `legacy.directProjectId` needs to be updated by the sync tool when we bring a challenge forward to v5 from v4

[2020-12-10 00:06] rootelement commented on #908
This is confirmed fixed in dev. Will be going live tonight

[2020-12-10 07:12] lakshmiathreya commented on #883
@vikasrohit this is one Issue which has the " User [USER] already has resource with roleId: [ROLE-ID] " message showing up - should we reopen it. cc @drasticdpk

[2020-12-10 08:43] maxceem opened #955 "Show "Save" button after the challenge is launched"
At the moment as soon as we launched the challenge there is no "Save" button to save changes:

![image](https://user-images.githubusercontent.com/146016/101747905-809a3680-3ad4-11eb-9c95-004ef8a6be79.png)

This can be reproduced on PROD and on DEV (if have a billing account).

@vikasrohit, should we fix this?

[2020-12-10 09:47] drasticdpk commented on #867
@vikasrohit  can we have **View Details** text at center of those button ?

![image](https://user-images.githubusercontent.com/25297859/101755360-e0a4d300-3afc-11eb-83cf-0e155bba5614.png)

[2020-12-10 10:30] drasticdpk commented on #944
Verified.
![image](https://user-images.githubusercontent.com/25297859/101760161-9d4d6300-3b02-11eb-9934-cb20b80f04ab.png)
![image](https://user-images.githubusercontent.com/25297859/101760193-ab9b7f00-3b02-11eb-99ec-11f738ce5d83.png)

Note : @vikasrohit , since there is design issue, if we open the window in <= 1300px.

![image](https://user-images.githubusercontent.com/25297859/101760419-ef8e8400

[2020-12-10 10:37] vikasrohit opened #956 "Show progress of Save operation for Save Draft button"
Earlier the `Save` button used to give a hint of progress by changing the text to `Saving` while the API calls are in progress, however, `Save Draft` button don't show such progress. It would be nice to have it change to `Saving` to give a hint that something is in progress.

[2020-12-10 10:42] vikasrohit opened #957 "Unable to un-assign task owner once assigned"
Similar to https://github.com/topcoder-platform/work-manager/issues/948 we are not able to un-assign the task owner once task is assigned.

[2020-12-10 10:42] vikasrohit commented on #957
fyi @lakshmiathreya @drasticdpk @mtwomey @acshields

[2020-12-10 10:47] vikasrohit commented on #955
It was intentional for the upcoming release, as we removed the `Save` button to avoid confusion between it and `Save Draft` buttons. However, we might think of showing the Save button only when challenge is not in `Draft` status i.e. when challenge is in `Active` status. Let me ask product managers for it.

[2020-12-10 10:51] vikasrohit commented on #917
Can we merge it now @maxceem ?

[2020-12-10 10:54] vikasrohit commented on #867
@drasticdpk it is already in center of the view. It is only the right side has 3 buttons while left one has only 2. :)

[2020-12-10 10:55] #867 closed

[2020-12-10 10:55] vikasrohit commented on #944
That is okay for now @drasticdpk, new designs are due very soon.

[2020-12-10 10:55] #944 closed

[2020-12-10 10:58] vikasrohit commented on #908
@drasticdpk can we verify it on production now?

[2020-12-10 11:03] vikasrohit commented on #953
@acshields actually as of now we don't show all work there, I mean when user clicks on `Active Challenges` right now we ask them to select the project. @mtwomey suggested some time ago to show all challenges instead on that page. In other words, if we can show the challenge listing page without a project filter on that page. So, if go with that implementation (that would some time to implement and

[2020-12-10 11:14] sandhiyakavi opened #958 "Public specification validation message shown below Add private specification button."
Description:

Public specification validation message is shown below Add private specification button.

Expected:
It should be shown below the Public specification textbox.

![image (15)](https://user-images.githubusercontent.com/55895538/101765096-32148880-3b24-11eb-839e-8452ad61677f.png)

[2020-12-10 11:20] drasticdpk opened #959 "Wrong position of validating message for Public Specification."
**Steps**
 1. Save draft challenge without filling required fields.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/101765499-7d6d6d80-3b09-11eb-9047-fdec4dda06c7.png)

[2020-12-10 11:20] drasticdpk commented on #959
cc @lakshmiathreya

[2020-12-10 11:25] vikasrohit commented on #959
Duplicate of #958

[2020-12-10 11:25] #959 closed

[2020-12-10 11:28] vikasrohit opened #960 "Error when updating challenge - After terms error and without refreshing page choosing the assignee who has accepted the terms"
@lakshmiathreya can you please get more details to this one? I have tried to encapsulate the details in title.

[2020-12-10 11:36] drasticdpk opened #961 "Could not find private specification"
**Steps**

1. Add private specification at WM APP. and launch it.
2. Register the challenge and observe it .

**Reference**
![image](https://user-images.githubusercontent.com/25297859/101766874-84957b00-3b0b-11eb-9a92-9bc545054310.png)

https://challenges.topcoder.com/projects/24943/challenges/1cf7a68c-27fb-4b24-8e81-5e55ebb88110/view

[2020-12-10 12:00] maxceem commented on #958
Done via https://github.com/topcoder-platform/work-manager/pull/963

![image](https://user-images.githubusercontent.com/146016/101769681-024b8d80-3af0-11eb-8565-c6e678ef8891.png)

[2020-12-10 12:20] SathyaJayabal commented on #961
@drasticdpk , the change  to display the  private spec is in staging in comm app. please check on staging.

[2020-12-10 15:07] callmekatootie opened #964 "Tasks should not pay $40 to copilot if no payment set"
**Describe the bug**
I created a task to pay myself out under dev (because I made code changes) and not as copilot.
I set the copilot payment to $0.

Yet, I see two payments - one as dev and one as copilot, with the copilot payment set to $40 in my PACTs

**To Reproduce / Actual Behavior**
Create a task as a copilot. Set copilot payment to 0 and dev payment to non zero value.
Once task is closed a

[2020-12-10 15:07] callmekatootie commented on #964
P.S. Didn't know which template to select - the labels are cause I selected May 7 Bug hunt

[2020-12-10 15:11] callmekatootie opened #965 "Cannot get paid more than $40 as copilot"
**Describe the bug**
I had to pay myself out - so I created a task using Work Manager. It was copilot payment task. And I set the amount to more than $40.

Yet, I now see in my PACTs that the payment I have received is $40

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
Create copilot payment task, with the copilot payment set to more than $40. Close the task out. Check PACTs

[2020-12-10 15:17] acshields commented on #953
@vikasrohit - "Projects" would work for now.

And for reference, I have a design request out right now that will seek to improve the layout of this page, so that it does show "All Work" in a table-view that is easily searchable/filterable, etc. so that:
- The user can see all their work for various projects in a single view, without having to click into each project
- The user can easily search/fi

[2020-12-10 18:22] maxceem commented on #949
Done by https://github.com/topcoder-platform/work-manager/pull/967

Multiples terms (select `NDA` to have the 2nd term unsigned):

![image](https://user-images.githubusercontent.com/146016/101812735-6daf5280-3b24-11eb-8431-520fd5fd92b2.png)

One term:

![image](https://user-images.githubusercontent.com/146016/101812887-a818ef80-3b24-11eb-996a-ce6df8260216.png)

[2020-12-11 05:10] drasticdpk commented on #948
QA Verified.

**Before**
![image](https://user-images.githubusercontent.com/25297859/101865443-63319f00-3b9e-11eb-9bef-f1346610174e.png)

**After**
![image](https://user-images.githubusercontent.com/25297859/101865489-83615e00-3b9e-11eb-8c2a-6f75779d6985.png)

![image](https://user-images.githubusercontent.com/25297859/101865798-5e211f80-3b9f-11eb-8783-de998f580e2d.png)
cc @vikasrohit

[2020-12-11 05:14] drasticdpk commented on #954
QA Verified.

![image](https://user-images.githubusercontent.com/25297859/101866032-f15a5500-3b9f-11eb-8ebd-f8c502b602e8.png)

[2020-12-11 05:23] drasticdpk commented on #958
QA verified.

![image](https://user-images.githubusercontent.com/25297859/101866561-3468f800-3ba1-11eb-8fb9-0f31bf4f49bd.png)

[2020-12-11 05:29] dedywahyudi opened #968 "Missing Round 1 & Round 2 section for Design Track when create New Challenge"
**Describe the bug**
Missing Round 1 & Round 2 for Design Challenge

**To Reproduce / Actual Behavior**
WM URL: https://challenges.topcoder.com/projects/26117/challenges/462e526c-e1a4-4a13-95c8-fb3e8211c636/edit
Direct URL: https://www.topcoder.com/direct/contest/detail?projectId=30157379

**Expected behavior**
WM should have ability to set up Round 1 & Round 2 for Design Challenge

**Screenshots*

[2020-12-11 05:33] dedywahyudi opened #969 "Markdown Text Editor mess up when combined number and generic list"
**Describe the bug**
Markdown Text Editor mess up when combined number and generic list

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Create new challenge
2. Fill content with combination number & generic list
3. Check challenge detail page

**Expected behavior**
Challenge page need able to render generic list inside the number list with proper indentation

**Screenshots*

[2020-12-11 05:36] dedywahyudi opened #970 "Inconsistencies Stock Art & Submission Visibility Alignment"
**Describe the bug**
Inconsistencies Stock Art & Submission Visibility Alignment

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Create new challenge
2. See the Stock Art & Submission Visibility Alignment section under Public specification

**Expected behavior**
- Checkboxes need to use same alignment like Maximum Number of Submissions :

**Screenshots or Video**
![Screen S

[2020-12-11 05:38] dedywahyudi opened #971 "Button hover style not consistent"
**Describe the bug**
Button hover style not consistent

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Create new challenge
2. Check all buttons for hover style
2. Some using underline, some are not

**Expected behavior**
Need use consistent hover style. Or remove all those underline when hover

**Screenshots or Video**
![Screen Shot 2020-12-11 at 12 37 00](https://user-ima

[2020-12-11 05:44] dedywahyudi opened #972 "Project Page Design & Layout Improvements"
**Describe the bug**
Project Page Design & Layout Improvements

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder.com/
2. Click any project
3. You'll see Project page

**Expected behavior**
- Project title need move up so not aligned with those buttons
- Text inside the buttons need use 1 line
- Tab need showing All by default, this will conta

[2020-12-11 05:49] dedywahyudi opened #973 "After activate the Design Challenge No Specification Submitter Assigned"
**Describe the bug**
After Activate the Design Challenge No Specification Submitter Assigned

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Create new Design Challenge
2. Launch the Challenge from WM
3. Online Review Stalled since there's no Specification Submitter assigned

**Expected behavior**
- Need automatically set Copilot as the Specification Submitter

**Screenshot

[2020-12-11 05:54] dedywahyudi opened #974 "Submission Visibility & Maximum Number of Submissions not matched"
**Describe the bug**
Submission Visibility & Maximum Number of Submissions not matched in WM

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Create new Design Challenge
2. Check and fill Submission Visibility & Maximum Number of Submissions
3. Navigate to Challenge in Direct & Challenge page
4. There will be inconsistencies values. Check screenshots below

**Expected behavi

[2020-12-11 06:03] dedywahyudi opened #975 "Start Date field need consistent bottom margin"
**Describe the bug**
Start Date field need consistent bottom margin

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Create new Design Challenge
2. Start Date field too close with the box

**Expected behavior**
Start Date field need consistent bottom margin

**Screenshots or Video**
![Screen Shot 2020-12-11 at 12 56 34](https://user-images.githubusercontent.com/4476442/10186

[2020-12-11 06:22] sandhiyakavi opened #976 "Save Draft button's tooltip is displayed on hovering over Launch as Active button."
Description:
Save Draft's tooltip is displayed on hovering over Launch as Active button.

Expected result:
Tooltip mentioning about Save draft button should not be displayed on hovering over Launch as Active button.

![image](https://user-images.githubusercontent.com/55895538/101870232-8b33f900-3bc4-11eb-9a65-83d9a6dc9a20.png)

[2020-12-11 06:41] drasticdpk commented on #778
1. System is taking space char.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/101867593-9dea0600-3ba3-11eb-801a-b9de515875dc.png)

[2020-12-11 06:44] #958 closed

[2020-12-11 06:44] #954 closed

[2020-12-11 06:47] vikasrohit commented on #948
@drasticdpk new designs are due soon, so hopefully it won't be rendered like this in new designs.

[2020-12-11 06:47] #948 closed

[2020-12-11 06:52] drasticdpk commented on #953
Reference
![image](https://user-images.githubusercontent.com/25297859/101872573-9596c880-3bad-11eb-893b-36bce8dec6b5.png)

[2020-12-11 06:54] drasticdpk commented on #953
@vikasrohit , Do we need to create new ticket for this ?

[2020-12-11 07:05] drasticdpk commented on #955
Verified.

![image](https://user-images.githubusercontent.com/25297859/101873578-4baee200-3baf-11eb-9d22-66585c1d2de0.png)

Save button is working as expected.

![image](https://user-images.githubusercontent.com/25297859/101873638-6b460a80-3baf-11eb-895f-ef385d6f90b0.png)

[2020-12-11 07:08] drasticdpk commented on #956
QA verified.

![image](https://user-images.githubusercontent.com/25297859/101873843-ce37a180-3baf-11eb-931a-23c4afd5f49a.png)

[2020-12-11 07:33] drasticdpk commented on #960
Based on issue description, It is verified and now it is working as expected.
If needed we can re-open it. cc @lakshmiathreya

**Reference** :

https://monosnap.com/file/Q6EVZ4TkfGqS9CiG1gM5C0D06s3HPH

[2020-12-11 07:35] drasticdpk commented on #957
QA Verified.

![image](https://user-images.githubusercontent.com/25297859/101875937-a0ecf280-3bb3-11eb-9120-8098de65007f.png)

[2020-12-11 07:51] dedywahyudi opened #977 "Design Challenge with 2 Rounds not displayed correct date in Challenge Page"
**Describe the bug**
Design Challenge with 2 Rounds not displayed correct date in Challenge Page

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Create New Design Challenge
2. Launch the Challenge
3. Because there's no Round 1 & Round 2 section in Work Manager, we need go to Direct to add that
4. After add the Round 1 & Round 2 date and information
5. Then, go to Challenge

[2020-12-11 07:56] drasticdpk opened #978 "Recently Created challenge not showing"
Challenge  **[Dev][Challenge][Active button** is not listed on Active tab.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/101877654-72244b80-3bb6-11eb-88fa-b51c010bbc64.png)

https://www.topcoder.com/direct/contest/detail.action?projectId=30156496
https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156496

[2020-12-11 08:58] sandhiyakavi opened #979 "Review type changed to Community after few minutes of activating the challenge"
Description:
Review type changed to Community after few minutes of activating the challenge

Steps to Reproduce:
1. Create a QA challenge
2. Set the Reviewer type as internal and assign a member.
3. Enter other mandatory fields and click save draft.
4. Launch the challenge .
5. View the challenge after few minutes of creating it.

Actual result:
Review type changed from Internal to Community.

<im

[2020-12-11 09:26] vikasrohit commented on #949
@drasticdpk @lakshmiathreya @mtwomey it would be deployed to prod in 15 min

[2020-12-11 09:38] vikasrohit commented on #978
This is weird. Did you update any thing in legacy apps for this challenge?

[2020-12-11 09:39] vikasrohit commented on #978
@rootelement @mtwomey it seems to be a P0 issue.

[2020-12-11 09:48] #956 closed

[2020-12-11 09:48] #957 closed

[2020-12-11 09:49] #955 closed

[2020-12-11 09:49] #960 closed

[2020-12-11 09:52] vikasrohit commented on #953
No we don't need any ticket for it. We would have it with new designs requirements.

[2020-12-11 09:52] #953 closed

[2020-12-11 10:00] vikasrohit commented on #778
@maxceem can we trim the content for validation?

[2020-12-11 10:11] drasticdpk commented on #820
Verified on Prod

![image](https://user-images.githubusercontent.com/25297859/101890879-69894080-3bc9-11eb-93f5-e00b9880c44d.png)

[2020-12-11 10:13] #820 closed

[2020-12-11 10:26] maxceem commented on #778
@vikasrohit create a new PR for that https://github.com/topcoder-platform/work-manager/pull/982

[2020-12-11 10:55] drasticdpk commented on #817
Verified.
![image](https://user-images.githubusercontent.com/25297859/101894490-59279480-3bce-11eb-993f-65f989ec367d.png)

Note: While closing the task, The reviewer fee and copilot  fee will exclude by system. i.e no need to pay for them.
( This is how we are doing from direct)
Reference :
 https://www.topcoder.com/thrive/articles/How%20To%20Make%20Payments%20Through%20Direct

@vikasrohit , In ch

[2020-12-11 11:11] drasticdpk commented on #949
@vikasrohit having console error, please check.
Showing **Saving....** for long time.
![image](https://user-images.githubusercontent.com/25297859/101896853-b709ab80-3bd1-11eb-811b-0d4e682b98c4.png)

[2020-12-11 11:17] maxceem commented on #949
@vikasrohit hotfix for this issue https://github.com/topcoder-platform/work-manager/pull/984

[2020-12-11 12:12] vikasrohit commented on #817
Please feel free to log separate issue for it.

[2020-12-11 12:31] vikasrohit commented on #978
@drasticdpk did you create this challenge yourself? It seems like it belongs to a group which you might not be part of.

[2020-12-11 13:13] drasticdpk commented on #978
@vikasrohit ,
1. Yes  I have created this challenge.
2. I am not sure which group i have added, can you please  remove it from group. I will check.
3. For me other challenges are also not showing.
![image](https://user-images.githubusercontent.com/25297859/101907556-d2c97d80-3be2-11eb-833d-2588f7eea9a6.png)

[2020-12-11 13:16] vikasrohit commented on #978
ok, I think we recently added few challenges which were not in group to a private group so that they are not visible on public challenge listing page. @lakshmiathreya can you please help @drasticdpk to add him to appropriate group?

[2020-12-11 13:17] lakshmiathreya commented on #978
I checked the group - Its 'Hide Challenges' and @drasticdpk is in that Group.
<img width="1680" alt="Screenshot 2020-12-11 at 6 45 58 PM" src="https://user-images.githubusercontent.com/51733042/101907910-394d9c00-3be1-11eb-9d86-0bf60e6ce549.png">

[2020-12-11 13:18] lakshmiathreya commented on #978
<img width="1680" alt="Screenshot 2020-12-11 at 6 47 50 PM" src="https://user-images.githubusercontent.com/51733042/101908032-7154df00-3be1-11eb-9101-8b01d6cfba05.png">

[2020-12-11 13:19] vikasrohit commented on #978
I updated the group for the particular challenge to be `Hide challenges` earlier it was some different group. @drasticdpk can you please check if you can see that challenge now?

[2020-12-11 13:59] lakshmiathreya commented on #978
@vikasrohit @rootelement - pls see my challenge - I have activated it multiple times and it goes back to Draft - showing up multiple times. I have verified my Group membership to Hide Challenges.
<img width="1680" alt="Screenshot 2020-12-11 at 7 26 26 PM" src="https://user-images.githubusercontent.com/51733042/101911872-f8f11c80-3be6-11eb-9df5-3b8c6affc6d1.png">
<img width="1680" alt="Screenshot 2

[2020-12-11 15:48] drasticdpk commented on #978
Now requested challenge has been listed.  cc @vikasrohit @lakshmiathreya

**Reference**
![image](https://user-images.githubusercontent.com/25297859/101924122-60639800-3bf8-11eb-8e03-b636062e525c.png)

[2020-12-11 15:52] drasticdpk commented on #817
Noted @vikasrohit .

[2020-12-11 15:55] drasticdpk opened #986 "[$30] Group ID is showing instead of Group Name."
Reference:

https://challenges.topcoder.com/projects/24943/challenges/af43ed87-aed6-4782-9ffc-45a458cc21ee/view

![image](https://user-images.githubusercontent.com/25297859/101924784-2e9f0100-3bf9-11eb-963d-6baa05e662a0.png)

[2020-12-12 04:29] lakshmiathreya opened #987 "Intermittent - Challenge listed in Active & Draft"
"Dev Challenge LaCop"  listed in 2 places ... the next one which I launched several hours later "Dev Challenge LaCop2" launched fine ... I am afraid this would continue to happen for ES as well intermittently ... we might need to include these random Sync issues and the resolutions in the Known Issues doc for ES -
cc @vikasrohit @acshields @drasticdpk @mtwomey
<img width="1680" alt="Screenshot 202

[2020-12-12 14:28] maxceem opened #988 "Add ability to view old projects and challenges in them"
As a copilot, I often would like to check the old challenges in the closed projects. So far I use Direct for this purpose.
As we are moving to Work Manage, it would be great to be able to list old (closed) projects there and be able to see completed challenges in such closed projects.

[2020-12-13 06:27] vikasrohit commented on #987
Unfortunately it happened to me as well couple of times and as I said, it might remain there even after ES release.

[2020-12-13 10:31] maxceem commented on #976
@vikasrohit this tooltip is handled by Chameleon, so I cannot control it.

As now we have a reusable component for tooltips, I suggest disable all Chamelon tooltips, list all the places for them (I guess there are more of them) and implement them in code. So they would be also shown in DEV env, as Chameleon doesn't show them on DEV.

[2020-12-14 05:13] vikasrohit commented on #976
Got it. I would get them fixed in chameleon. For now it is difficult to get Chameleon enabled in dev and hard coding in code, makes it difficult to dynamically update it for Product manager.

[2020-12-14 05:13] vikasrohit commented on #976
@acshields you have to update it in Chameleon.

[2020-12-14 09:17] maxceem commented on #987
@lakshmiathreya I can see this challenge in "Active" tab, but cannot see it in "Draft". Could you please check one more time?

[2020-12-14 14:19] acshields commented on #976
@maxceem @vikasrohit - thanks for alerting me. I will get it corrected!

[2020-12-14 14:30] #976 closed

[2020-12-14 18:42] acshields commented on #730
- closing this, as it is addressed in the new UI we will implement.

[2020-12-14 18:42] #730 closed

[2020-12-14 18:43] acshields commented on #364
- closing this as it will be addressed in the new UI we are implementing.

[2020-12-14 18:43] #364 closed

[2020-12-14 19:11] acshields commented on #906
- closing this, as it will be fixed with the new UI.

[2020-12-14 19:11] #906 closed

[2020-12-14 19:13] acshields commented on #907
- closing this, as it will be covered with new UI.

[2020-12-14 19:13] #907 closed

[2020-12-14 19:17] acshields commented on #988
The UI portion of this will be handled with our new designs.

[2020-12-14 19:17] #988 closed

[2020-12-14 19:17] acshields commented on #975
This will be fixed with the new UI designs.

[2020-12-14 19:17] #975 closed

[2020-12-14 19:19] acshields commented on #972
This will be fixed with our new UI designs.

[2020-12-14 19:19] #972 closed

[2020-12-14 19:19] acshields commented on #971
This will be fixed with our new UI design.

[2020-12-14 19:19] #971 closed

[2020-12-14 19:20] acshields commented on #970
This will be fixed with our new UI designs.

[2020-12-14 19:23] acshields commented on #905
This will be fixed with the new UI design.

[2020-12-14 19:23] #905 closed

[2020-12-14 19:39] acshields commented on #567
Updates here:

If a user has not refreshed their screen and has been removed from a project, when they click the "Launch New" button they should see this message:
- Primary Text: "You have been removed from the project and do not have permissions to launch new work."
- Sub-Text: "If you believe this is an error, please contact your project team members to have you added back to the project."
-
- I

[2020-12-14 20:33] acshields opened #991 "Post Set-Up Screen View"
Add Designs & Workflow Overview

[2020-12-15 08:21] maxceem opened #992 ""null@topcoder.com" in "Contact Managers" link in OnlineReview"
If a challenge is created using Work Manager, and then someone is using link in Online Review "Contact Managers" an email is also sent to "null@topcoder.com":

![image](https://user-images.githubusercontent.com/146016/102188928-98036600-3ebe-11eb-94ca-1305d802f93f.png)

As a result, when we "reply all" to such an email Topcoder Mail Server returns an error:

![image](https://user-images.githubuser

[2020-12-15 10:17] vikasrohit commented on #992
@mtwomey @rootelement fyi

[2020-12-15 10:24] vikasrohit commented on #949
@drasticdpk it is ready for QA after fixing the issue found.

[2020-12-15 11:13] maxceem opened #993 "Challenge activation issues"
1. If some error happens (for example billing account is not attached) during challenge activation from the **details view page**, the popup is closed without showing an error, see demo video https://monosnap.com/file/JRDUbei6SjypqxBdbcBDTclQl1JX2q (this works good from the **list** page https://monosnap.com/file/GYSIqMRmDocJq9qmbXpUj6XvGABCFJ)

2. If the challenge is activated successfully from t

[2020-12-15 12:25] maxceem commented on #993
@vikasrohit Fixed by https://github.com/topcoder-platform/work-manager/pull/994. Verifications videos:

1. https://monosnap.com/file/5voZpuyEhcknJwTTLTeFWyeVokXtyo

2. https://monosnap.com/file/NEhKmoSMrtWpAFwKUXz8NQm6hFFZak

3. https://monosnap.com/file/u9FzEuoAsyIb572CZ9slJXRN3bVR2Q

[2020-12-15 14:47] rootelement commented on #992
@maxceem what did you create? a task or a challenge? Did you use Work Manager or Topcoder X?

[2020-12-15 14:54] maxceem commented on #992
I have created a challenge using Work Manager. Here is the link to the challenge https://challenges.topcoder.com/projects/14269/challenges/d57c6f7c-2e17-4021-8d5e-5f6c2cc7c97f/view

This is not the first time. For this challenge, I had the same issue https://challenges.topcoder.com/projects/26232/challenges/41c6290b-466f-42b5-b335-1441ddcf9f1b/view

[2020-12-15 15:21] rootelement commented on #992
I've searched:
- All the code related to v5 challenge/resources
- All the code for Work Manager
- All the configs in production

None mention `tcwebservice`. It's added to the project by the challenge api m2m, which means, i believe, that it's added by legacy v4 challenge api when the challenge is created. Will keep looking

[2020-12-15 16:00] mtwomey commented on #992
We don't have an email address that is _valid_, but goes nowhere. For example when registering - those emails come from noreply@topcoder.com. However if you reply to it or send an email there you'll get an error.

Is the only expression of this issue is the one described above (someone in OR clicking contact managers)?

[2020-12-15 16:02] rootelement commented on #992
I've confirmed that tcwebservice user is either added by the v4 api when the challenge is created, or by OR/legacy itself, none of the v5 challenge systems. You can see in this log from the v4->v5 sync that the sync noticed that the `tcwebservice` user that existed in legacy was not in v5, so it added it to v5.

<img width="1230" alt="Screen Shot 2020-12-15 at 11 01 06 AM" src="https://user-images

[2020-12-15 18:28] rootelement commented on #974
This is the design challenge created out of WM:
[code]

[2020-12-15 20:17] #923 closed

[2020-12-15 20:17] #949 closed

[2020-12-15 20:17] #961 closed

[2020-12-15 20:17] #978 closed

[2020-12-15 20:17] #908 closed

[2020-12-15 20:34] ThomasKranitsas commented on #950
We tested challenge activation a ton of times and never had any issues. It was the WM that was letting the user to "try" to activate without checking if the challenge is available on the legacy. I see that this is fixed now in the WM and you can't hit activate before the challenge is available on V5. We can close this issue.

Here's a sample challenge I tried just now https://challenges.topcoder-d

[2020-12-16 04:11] vikasrohit opened #995 "Disable selection of Community Review type for Design challenges"
### Expected behavior
WM should not allow editing the review type for design challenges

### Actual behavior
As of now it allows user to edit the review type for a design challenge which gets overridden once the legacy challenge is created because of a business rule which does not allow review type to be community for a design challenge.

### Steps to reproduce the problem
- Create a design challe

[2020-12-16 07:01] dedywahyudi opened #996 "Challenge Forum automatically created right after click continue setup up button when create new challenge"
### Expected behavior
Challenge forum should be created after click Launch as active

### Actual behavior
Challenge Forum automatically created right after click continue setup up button when create new challenge.

### Steps to reproduce the problem
- Go to WM
- Click Launch New
- Fill the form
- Click Continue Set up button
- You'll received email notification about the Challenge forum automatica

[2020-12-16 07:06] vikasrohit commented on #993
Thanks @maxceem

[2020-12-16 07:22] dedywahyudi opened #998 "Submission Limit not matching with Challenge Page"
### Expected behavior
Submission Limit not matching with Challenge Page if user select Limited or Unlimited under Maximum Number of Submissions.

### Actual behavior
Submission Limit not matching with Challenge Page

### Steps to reproduce the problem
- Create new Design Challenge
- Select Limit under Maximum Number of Submissions, filled with any number.

### Screenshot/screencast

![Screen Shot

[2020-12-16 07:25] dedywahyudi opened #999 "Start Date values not matching with Challenge Details Page"
### Expected behavior
- Start Date values not matching with Challenge Details Page
- Check for other sections to fill proper date/time to inform users for each phase. Are they make sense?

### Actual behavior
Start Date values not matching with Challenge Details Page

### Steps to reproduce the problem
- Create new challenge
- Fill Start Date
- Compare with Challenge Details page

### Screenshot/s

[2020-12-16 07:32] dedywahyudi opened #1000 "10 Placements not appear in good layout in Challenge page"
### Expected behavior
10 Placements should appear in good layout and structure in Challenge page

### Actual behavior
10 Placements not appear in good layout in Challenge page

### Steps to reproduce the problem
- Create new design challenge
- Add 10 Prizes under Challenge Prizes
- Save as draft
- Go to Challenge Details page and see the layout not correct. 5 to 10 winners placement should be plac

[2020-12-16 07:41] vikasrohit commented on #995
Linking https://github.com/topcoder-platform/work-manager/issues/979 for setting context of what was the actual issue for which we are going to apply this approach.

[2020-12-16 07:42] vikasrohit commented on #979
Solution to the issue is done as fix for https://github.com/topcoder-platform/work-manager/issues/995

[2020-12-16 09:26] lakshmiathreya commented on #995
Verified in Prod.
<img width="1680" alt="Screenshot 2020-12-16 at 1 22 50 PM" src="https://user-images.githubusercontent.com/51733042/102329805-d4ae8a80-3fae-11eb-99a5-dffdd7daaabc.png">

[2020-12-16 09:30] lakshmiathreya commented on #979
Community Review selection is disabled. Design challenges have only 1 review type which is saved correctly. Verified in Prod.<img width="1680" alt="Screenshot 2020-12-16 at 2 58 14 PM" src="https://user-images.githubusercontent.com/51733042/102330131-31aa4080-3faf-11eb-90e7-1d97c6b91f71.png">

[2020-12-16 09:41] lakshmiathreya commented on #979
<img width="1680" alt="Screenshot 2020-12-16 at 3 09 29 PM" src="https://user-images.githubusercontent.com/51733042/102331550-ff014780-3fb0-11eb-884e-25af764b8cec.png">

[2020-12-16 09:54] lakshmiathreya commented on #979
@vikasrohit For QA Challenges - as a parallel - do the Business rules mandate Community Review only? Is that why it switches from Internal to Community for QA challenges?
The problem reported above is continuing to happen for QA challenges. Pls clarify. Should we disable Internal review selection for QA challenges via UI ?

[2020-12-16 10:02] lakshmiathreya commented on #979
<img width="1680" alt="Screenshot 2020-12-16 at 3 28 17 PM" src="https://user-images.githubusercontent.com/51733042/102333675-c151ee00-3fb3-11eb-8375-868d188b545c.png">
<img width="1680" alt="Screenshot 2020-12-16 at 3 28 42 PM" src="https://user-images.githubusercontent.com/51733042/102333692-c6af3880-3fb3-11eb-81d9-0242fc8ea64d.png">
<img width="1680" alt="Screenshot 2020-12-16 at 3 29 28 PM" sr

[2020-12-16 10:24] vikasrohit opened #1001 "Disable selection of Internal Review type for QA challenges"
### Expected behavior
WM should not allow editing the review type for QA challenges

### Actual behavior
As of now it allows user to edit the review type for a QA challenge which gets overridden once the legacy challenge is created because of a business rule which does not allow review type to be internal for a QA challenge.

### Steps to reproduce the problem
- Create a QA challenge
- Choose Inte

[2020-12-16 11:01] vikasrohit commented on #720
Okay, lets keep it separate in this case. My assumption was that the bigger story where you are describing overall section (#735 (comment) in this particular case), we have all specific requirements as well. But if we have more fine grained requirements for individual questions, it makes sense to keep them in separate issues and link them with the parent one so that we can know what exact details

[2020-12-16 11:21] vikasrohit commented on #567
This is quite tricky because it is difficult to determine if the user previously had permission to view/launch challenges for the project and now not.

[2020-12-16 11:34] vikasrohit commented on #979
@lakshmiathreya disabled the internal review option for QA challenge under the issue https://github.com/topcoder-platform/work-manager/issues/1001

[2020-12-16 11:45] lakshmiathreya commented on #778
Verified on Prod. WM validates Public Spec field at Save time...
<img width="1680" alt="Screenshot 2020-12-16 at 5 12 59 PM" src="https://user-images.githubusercontent.com/51733042/102344558-17c62900-3fc2-11eb-98f0-83306029c30b.png">

[2020-12-16 13:25] lakshmiathreya commented on #993
Verified Activation via Listing and View Challenge in Prod.

[2020-12-16 13:26] lakshmiathreya commented on #1001
Verified disabling of Internal Review selection for QA challenges in Prod.
<img width="1680" alt="Screenshot 2020-12-16 at 6 44 17 PM" src="https://user-images.githubusercontent.com/51733042/102354260-5531b300-3fd0-11eb-9831-f093ee5e152b.png">

[2020-12-16 13:42] lakshmiathreya commented on #850
@rootelement - NDA, Review Type, Reviewer, Copilot fee are retained now. Tag continues to be missed.
<img width="1680" alt="Screenshot 2020-12-16 at 7 07 20 PM" src="https://user-images.githubusercontent.com/51733042/102355849-6f6c9080-3fd2-11eb-99d0-4473a4bf7b5c.png">
<img width="1680" alt="Screenshot 2020-12-16 at 7 07 43 PM" src="https://user-images.githubusercontent.com/51733042/102355857-709d

[2020-12-16 13:55] lakshmiathreya commented on #950
@ThomasKranitsas @rootelement - we did verify the challenge was updated on legacy ... yet WM was throwing up the above error ... it hasnt recurred since then ... I will watch this for some more time and close it ...

[2020-12-16 14:16] vikasrohit commented on #974
@rootelement did you mean we need to fix it on UI?

[2020-12-16 17:43] acshields commented on #1000
Hi @dedywahyudi - This will be a fix request that needs to go on the community team's backlog (not Work Manager). I will notify them of this observation.

[2020-12-16 17:43] #1000 closed

[2020-12-16 17:45] acshields commented on #999
@rootelement - seems like another autopilot querk?

[2020-12-16 17:47] acshields commented on #998
@rootelement - similar issue to the other design meta data ones that are logged.

[2020-12-16 17:48] acshields commented on #996
@rootelement - thoughts? On the surface, I agree that it makes sense to me that the forum shouldn't be created until the challenge is activated, but there might be something I don't know about.

[2020-12-17 01:14] rootelement commented on #996
Nope. This is as designed. When a challenge is in draft, some copilots like to put information into the forums, so it was decided to create the forum right away.

[2020-12-17 01:19] dedywahyudi commented on #996
@rootelement I see, but the new challenge forum will be hidden from anyone else right?

[2020-12-17 01:23] dedywahyudi commented on #1000
@acshields ah thanks. So, we able to log issues in community page?
I assume the issues need logged here?

https://github.com/topcoder-platform/community-app/issues

[2020-12-17 03:03] dedywahyudi opened #1003 "No way to set End Date for Design Challenge"
### Expected behavior
Need able user to set the end date of Design Challenge

### Actual behavior
No way to set End Date for Design Challenge

### Steps to reproduce the problem
- Create new challenge
- You only able to see the Start Date, but missing way to set the End Date or Date duration

### Screenshot/screencast
![Screen Shot 2020-12-17 at 10 00 49](https://user-images.githubusercontent.com/

[2020-12-17 03:13] dedywahyudi opened #1004 "Copilot fields not showing correct items"
### Expected behavior
- Copilot field need only listed the Copilot not merged with Project Manager

### Actual behavior
- Copilot fields merged Copilots and PM?
- Also if compared with Direct, there's missing another PM: LCDuggan

### Steps to reproduce the problem
- Create new challenge
- Set up work
- Check the Copilot field
- Compare with Project in Direct

### Screenshot/screencast
![Screen Sh

[2020-12-17 05:58] lakshmiathreya commented on #850
Since Tags is not relevant for Design Challenge. Moving this Issue to Pass.

[2020-12-17 09:52] sandhiyakavi opened #1005 "Final deliverables, stock arts and submission visibility are disappearing after activating the challenge."
Description:

Final deliverables, stock arts  and submission visibility of Design challenges are disappearing after activation.

challenge used: https://challenges.topcoder.com/projects/24943/challenges/9e753a77-a61b-4e42-83e0-228e3c2f1821

<img width="960" alt="design_challenge_issue" src="https://user-images.githubusercontent.com/55895538/102471641-cccb1500-4098-11eb-9113-eb69dd1d96af.png">
<img

[2020-12-17 10:15] sandhiyakavi opened #1006 "Launch/Activate button not enabled if more than one group is added to the challenge."
Description:

Launch/Activate button is not enabled if more than one group is added to the challenge.

sample challenges:

https://challenges.topcoder.com/projects/24943/challenges/03b4c874-e0c8-4cf3-b886-47768367193b/edit
https://challenges.topcoder.com/projects/24943/challenges/af257db1-3a48-47f9-a200-698cb8e06369/edit

![image](https://user-images.githubusercontent.com/55895538/102474141-9f339b

[2020-12-17 10:17] sandhiyakavi commented on #1006
cc: @lakshmiathreya

[2020-12-17 10:18] sandhiyakavi commented on #1005
cc: @lakshmiathreya

[2020-12-17 10:19] vikasrohit commented on #1006
@rootelement we might be getting some error in legacy sync when there are multiple groups associated to a challenge.

[2020-12-17 10:22] vikasrohit commented on #1005
@rootelement do we need to update any key in WM UI?

[2020-12-17 10:44] sandhiyakavi opened #1007 "[$50] Closed task opens again after few minutes of closing it - intermittently disappears and reappears in Challenge list"
Description:

The task closed is opening again after few minutes of closing it.

challenge used: https://challenges.topcoder.com/projects/24943/challenges/77334026-c28b-4ca5-87f7-c9f5bc5ee5cb

<img width="959" alt="Dev_task_closed1" src="https://user-images.githubusercontent.com/55895538/102477735-1408d400-40a0-11eb-93fc-bc80ee28004b.png">
<img width="960" alt="dev_task_closed2" src="https://user-

[2020-12-17 11:01] sachin-maheshwari commented on #922
Just FYI, fixed "new auth" related issue on Prod as well. Please verify.

[2020-12-17 14:56] rootelement commented on #1007
This task is now closed. Did you force it through, or did it happen on it's own?
![Screen Shot 2020-12-17 at 9 56 10 AM](https://user-images.githubusercontent.com/5400156/102503839-22c69b00-404e-11eb-8aba-19a18d0ae4d4.png)

[2020-12-17 23:06] acshields commented on #850
@lakshmiathreya @rootelement - can we call this one closed, then?

[2020-12-17 23:08] acshields commented on #1000
Yep! I also passed this one along to Oanh, the PM for the community app for her to take a look. Thanks for sharing the observation!

[2020-12-17 23:40] jmgasper opened #1008 "[$50] No Iterative Reviewer set on F2F"
### Expected behavior

* Launched a F2F
* Selected review type as "internal"
* Selected myself as the copilot

Expected - My account would be set as the `Iterative Reviewer`

### Actual behavior

No reviewer was set, so notifications weren't sent on submission, and the review timeline didn't open.

<img width="1008" alt="Screen Shot 2020-12-18 at 10 36 49 am" src="https://user-images.githubusercon

[2020-12-18 01:56] dedywahyudi commented on #1000
@acshields Great, thanks.

[2020-12-18 02:44] sandhiyakavi commented on #1007
@rootelement It happened on its own

[2020-12-18 06:05] lakshmiathreya commented on #1007
cc @vikasrohit @drasticdpk @acshields - we will need to notify ES so they are aware of this behavior:
1. Task disappears upon closing
2. Reappears but is in Open state
3. Goes to Close state after several hours
4. In some cases - the Task is untraceable in WM though it does appear in Legacy. example - https://www.topcoder.com/direct/contest/detail.action?projectId=30158871

[2020-12-18 06:34] drasticdpk commented on #1007
@vikasrohit  and Team,
I tried to replicate the above scenario but unable to it.
I am able to create task (start-end) as expected.
Reference : https://www.topcoder.com/challenges/849e4d4f-0c3f-44a9-9ac2-318db739829c?tab=details

Note : As copilot, we have to make private task frequently, will monitor this issue closely .

[2020-12-18 09:45] drasticdpk opened #1009 "[Task] Winner name mismatch REGISTRANTS Over WINNERS"
### Expected behavior
Registrants  and Winner name should be same for Task.

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/25297859/102599640-dbbbd100-4145-11eb-95c6-9c971c97f024.png)

 https://www.topcoder.com/challenges/849e4d4f-0c3f-44a9-9ac2-318db739829c?tab=registrants

[2020-12-18 11:03] drasticdpk commented on #1008
@vikasrohit ,
Observer Role is showing instead of Iterative Reviewer.
![image](https://user-images.githubusercontent.com/25297859/102607319-365a2a80-4150-11eb-935b-20724dfdff17.png)

[2020-12-18 15:45] cwdcwd commented on #902
call to `https://api.topcoder.com/v5/reviewTypes?name=Automated%20Testing%20Review` to get the Id of the review type

[2020-12-18 15:46] rootelement commented on #902
@maxceem ^^

[2020-12-18 15:55] rootelement commented on #902
@maxceem you don't need the ID, you should just be able to use the name. It looks in the legacy-challenge-processor like we're setting the default to INTERNAL, so the name should be fine. We'll have to test it in dev.

[2020-12-18 16:33] acshields commented on #1007
@lakshmiathreya @vikasrohit - just to confirm, is this happening intermittently or all the time?

[2020-12-18 16:49] acshields opened #1010 "Segment Enablement"
Enable Work Manager data to be sent to Segment.io, to enable usage tracking in Heap, etc.

[2020-12-19 11:52] Sande3p opened #1011 "Enhancements #1"
#### Enhancements:
1. Forums link should be added in the challenge/task listing on the WM page.
2. Reducing the height, making the text smaller... of challenge rows to allow seeing more challenges without much scrolling.
3. Challenge should be stored in local-storage such that when I immediately come back to a tab it should not show me the loading indicator again & again.
4. Would be nice to keep

[2020-12-19 14:24] rootelement opened #1012 "Challenge Timelines on Challenge Create"
When creating a challenge, the timeline of a Dev Challenge has the wrong durations. This is causing challenges to run for 6.5 days instead of 5 days.

It's pulling the correct timeline template id:
`7ebf1c69-f62f-4d3a-bdfb-fe9ddb56861c`

But the Phases on the initial POST of a new challenge has the wrong durations:
![Screen Shot 2020-12-19 at 9 17 54 AM](https://user-images.githubusercontent.com/5

[2020-12-19 14:26] rootelement commented on #1012
@maxceem please confirm that the other timelines match the template values. You can view the seed file here:
https://github.com/topcoder-platform/challenge-api/blob/develop/src/scripts/seed/TimelineTemplate.json#L15

Or the API response here:
http://api.topcoder.com/v5/timeline-templates

cc @ThomasKranitsas

[2020-12-21 07:17] lakshmiathreya commented on #1012
cc @drasticdpk

[2020-12-21 08:57] drasticdpk commented on #1012
We can replicate the issue on prod mode.
**Reference**
![image](https://user-images.githubusercontent.com/25297859/102757822-fd14fb00-4399-11eb-9c54-ca1859025e45.png)

@vikasrohit , Can you please give us exact days for each track, so can validate it from our[QA] end too.

[2020-12-21 13:48] rootelement commented on #898
This was released last night. I sent a note to Surendra to try again.

[2020-12-21 13:49] rootelement opened #1013 "[$50] Groups Filter"
Groups API added Fuzzy Filter for search by name:
https://api.topcoder.com/v5/groups?name=TCO

I recommend using this on the Groups field to make it easier to find the group for a challenge

[2020-12-21 15:23] maxceem commented on #1012
@rootelement @vikasrohit this is fixed by https://github.com/topcoder-platform/work-manager/commit/6a1758e8d6b2be8a55f318a4ca0932e34d424d76 and pushed to DEV.

The issue was caused by the functionality we have hidden for managing timeline via UI. While UI is hidden it still created default timeline using phases from `https://api.topcoder-dev.com/v5/challenge-phases`.

I've disabled this functional

[2020-12-21 15:29] huangqun opened #1014 "Ability to delete a task"
### Expected behavior
There should be a way to delete a task.

### Actual behavior
Right now after a task is created, there's no way to delete it, even if for some reason the task fails to create the legacy challenge and therefore cannot be closed in the normal way.

[2020-12-21 19:31] maxceem opened #1016 "reviewType must be one of [COMMUNITY, INTERNAL]"
When I'm trying to create a new challenge, or update an existing challenge in DEV I'm always getting an error:

![image](https://user-images.githubusercontent.com/146016/102814618-96143800-43d3-11eb-9584-f196007bab45.png)

This is caused by the Challenge API update https://github.com/topcoder-platform/challenge-api/commit/53378519e5e221cc7f21e876fc5a63870e7c1ccc

[2020-12-21 19:32] maxceem commented on #1016
Fixed by d2f1512e878c01833825600640a02b43a789111e

[2020-12-22 14:44] acshields commented on #1013
@rootelement - will this be something that's on your plate, or Vikas? And if it's yours, is it already in motion? Just going through logged issues to understand priority/ownership :)

[2020-12-22 14:47] acshields commented on #1012
@maxceem - is this one closed, or do we need QA to retest the solve you have in place?

[2020-12-22 14:50] rootelement commented on #1013
This is done and published in prod for groups-api. Just needs to be
implemented on the WM side.

On Tue, Dec 22, 2020 at 9:45 AM acshields <notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com/blog / twitter

[2020-12-22 14:51] acshields commented on #1011
Hi @Sande3p - Thank you for your suggestions! I will take these under consideration as I finalize the new designs for WM. I've mentioned this briefly before, but in the future I do have plans to update the entire UI for WM ("all projects/challenges/tasks" view, "set-up" view, and "post set-up" view). So, knowing that this will be coming in the future, if you come across additional UI ideas, feel f

[2020-12-22 14:52] maxceem commented on #1012
@acshields I and James tested this on PROD and it works good as per the initial issue description. Though I'm not sure if additional QA is needed or no.

@rootelement do you think we need detailed QA for this?

[2020-12-22 14:53] acshields commented on #1009
@maxceem - has this one come across your plate yet, with Vikas out? If not, can you take a look?

[2020-12-22 14:54] rootelement commented on #1012
No, it was a simple change, and you, me, and thomas tested. This is fine to
close. We'll open a new issue if we find anything.

On Tue, Dec 22, 2020 at 9:52 AM maxceem <notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog

[2020-12-22 14:55] acshields commented on #1008
@rootelement @maxceem - Is this a frontend or backend/API update that is needed?

[2020-12-22 14:56] acshields commented on #1006
@rootelement @ThomasKranitsas - any updates on this one?

[2020-12-22 15:03] acshields commented on #1005
@rootelement - any updates?

[2020-12-22 15:06] acshields commented on #1003
@dedywahyudi - are you able to set the end date in OR, once the challenge is saved as a Draft in Work Manager?

[2020-12-22 15:15] dedywahyudi commented on #1003
@acshields Yes, i set End Date from Online Review

[2020-12-22 15:45] acshields commented on #1003
Thanks for the follow-up @dedywahyudi. I am glad that you were able to set the end date in OR. Right now, this is working as expected - in the near term, we are looking to bring more timeline management capabilities into WM (and out of OR), so the setting of end date in WM will be one of those types of enhancements in the near-term.

[2020-12-22 15:47] acshields commented on #1012
Cool, sounds good to me :)

[2020-12-22 15:47] #1012 closed

[2020-12-22 15:48] acshields commented on #1013
@maxceem - is this something that you can get implemented?

[2020-12-22 16:16] dedywahyudi commented on #1003
Cool, sound good.
Thanks for the info

[2020-12-23 10:43] maxceem commented on #1009
@acshields I'm on it now.

@drasticdpk I cannot reproduce this issue. I've processed a couple of payment on Prod it works correctly for me. Maybe you did some specific steps, or had some issue on the way?

@vikasrohit do you have any idea on why this might happen. I see some tasks are having this issue:
- https://www.topcoder.com/challenges/849e4d4f-0c3f-44a9-9ac2-318db739829c?tab=winners
- https:

[2020-12-23 16:43] acshields commented on #1009
@rootelement - can you review maxceem's notes above and also take a look? Seems like this may be an issue driven by the backend.

[2020-12-24 17:22] callmekatootie opened #1017 "[$40] Assign to me feature for tasks"
### Expected behavior

When creating tasks, it would be nice to have a button to assign the task to me (the user logged in) instead of having to type my name out

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/2317133/103100837-8e0a0180-463a-11eb-81a7-2b37fff77cbe.png)

Expecting a "Assign to me" button here, that automatically populates my username in that dropdown

[2020-12-25 22:52] kylewu opened #1018 "Could not find project"
### Expected behavior
Go to https://challenges.topcoder.com/ and type project name should show the project in result.

### Actual behavior
The project cannot be found via search.
The project exists in https://challenges.topcoder.com/projects/26478/challenges

### Steps to reproduce the problem
- Go to https://challenges.topcoder.com/
- search for `Arena` and i see no project

### Screenshot/screen

[2020-12-28 23:40] jmgasper opened #1019 "[$50] Cancelled challenge not accessible"
### Expected behavior
I would expect cancelled challenges (due to no submission, failed review, client request, etc...) to be accessible somewhere in Work Manager, especially if we need to repost something.

### Actual behavior
As far as I can tell, cancelled challenges disappear from work manager and aren't accessible on `Active`, `New`, `Draft`, or `Completed` tabs for a project.

### Steps to r

[2020-12-29 16:01] #1010 closed

[2020-12-29 16:06] acshields commented on #1018
@kylewu - can you confirm that you are joined to the project in Connect? This is a requirement that determines what projects a user sees in Work Manager.

[2020-12-29 16:31] kylewu commented on #1018
@acshields yes. i could see i'm one copilot in https://www.topcoder.com/direct/projectOverview?formData.projectId=29139

[2020-12-30 07:57] nofto opened #1020 "Marathon Match Challenge"
### Expected behavior
One should be able to set up a marathon match challenge in Work Manager

### Actual behavior
There is no such option. One can add the tag 'Marathon match' to the challenge, then the challenge looks like a marathon match (at least its leaderboard), but after some time, the tag disappears and the challenge behaves like a code challenge, not a marathon match.

### Steps to repro

[2021-01-01 22:43] rootelement commented on #1008
Work Manager needs to add the selected reviewer as an iterative reviewer resource. I just added myself as one through admin.topcoder.com and it propagated to OR correctly, so this is not an API issue

[2021-01-04 10:38] vikasrohit commented on #1018
The project is not yet active @acshields. @kylewu it needs project to be in Active state to get it listed in Work Manager.

[2021-01-04 12:24] kylewu commented on #1018
@vikasrohit this state?
<img width="816" alt="Screenshot 2021-01-04 at 13 24 00" src="https://user-images.githubusercontent.com/180198/103534941-218bcf80-4e90-11eb-9958-3bcd38ea7094.png">

[2021-01-04 14:35] acshields commented on #1018
@kylewu - the project needs to be "Active" in Connect.

[2021-01-04 14:45] #1016 closed

[2021-01-04 14:52] #1001 closed

[2021-01-04 14:52] #778 closed

[2021-01-04 14:53] #850 closed

[2021-01-04 14:55] #817 closed

[2021-01-04 16:27] kylewu commented on #1018
@acshields i see. Thanks!

[2021-01-04 16:27] #1018 closed

[2021-01-05 05:07] vikasrohit commented on #1008
@rootelement we are already adding the internal reviewer selected by the user as `Reviewer` resource. Do we need to add the same user as `Iterative Reviewer` resource as well? If yes, it should be done only for F2Fs or any other challenge type needs this treatment as well?

[2021-01-05 10:15] vikasrohit commented on #898
Closing this one as it  belongs to the API https://github.com/topcoder-platform/challenge-api/issues/364. fyi @nkumar-topcoder

[2021-01-05 10:15] #898 closed

[2021-01-05 10:27] vikasrohit commented on #783
@rootelement I guess it fixed in one of the releases in later half of the last month, right? or do you think something is still pending to resolve it?

[2021-01-05 10:28] vikasrohit commented on #946
@acshields it should have been fixed with backend updates which fixed the copilot resource addition problem. fyi @rootelement

[2021-01-05 10:29] #979 closed

[2021-01-05 10:29] #995 closed

[2021-01-05 10:29] #993 closed

[2021-01-05 10:36] vikasrohit commented on #1008
@maxceem lets add `Iterative Reviewer` instead of `Reviewer` role resource for F2Fs of all tracks https://github.com/topcoder-platform/work-manager/blob/develop/src/components/ChallengeEditor/index.js#L968.

[2021-01-05 10:39] vikasrohit commented on #942
@acshields do we have finalized how and where to show this information?

[2021-01-05 11:31] vikasrohit commented on #616
@mtwomey I think we need your expertise here to close down this one. I observed that Projects App return some of the required headers but Work Manager does not. My doubt is that it is either CloudFront or S3 which is adding these headers, however, I am not able to find out where exactly that configuration is being done for Projects app. The difference between Projects App and Work Manager is that

[2021-01-05 11:34] vikasrohit commented on #915
@acshields I don't think it belongs to WM, it seems the issue is with renderer in the Community side.

[2021-01-05 11:50] vikasrohit commented on #1014
@acshields we don't yet have delete feature in general for any challenge. How do you want to proceed with this? What would be the rules for deleting the challenges? For reference we have delete feature logged here #873

[2021-01-05 11:52] vikasrohit commented on #874
@maxceem lets use the favicon from Connect.

[2021-01-05 11:59] vikasrohit commented on #228
We are tracking this feature with #917 which is ready for deployment however, we have observed some concerns with API as mentioned in https://github.com/topcoder-platform/work-manager/issues/917#issuecomment-741941747

[2021-01-05 12:00] vikasrohit commented on #228
Closing this one in favour latest discussions being done over #917

[2021-01-05 12:02] vikasrohit commented on #573
I guess we can live this limitation. I don't want to take risk with other supported HTML which might get broken in efforts to fix it.

[2021-01-05 12:06] vikasrohit commented on #977
I don't know what to do here @acshields

[2021-01-05 12:07] vikasrohit commented on #926
Closing as I am not able to reproduce it even with impersonation. It seems to be intermittent API issue.

[2021-01-05 12:07] #926 closed

[2021-01-05 12:16] vikasrohit commented on #1017
@maxceem lets add a simple hyperlink next to the dropdown.

[2021-01-05 12:17] vikasrohit commented on #1019
@maxceem lets add a new tab called `Cancelled` which would list all cancelled challenges.

[2021-01-05 12:19] vikasrohit commented on #973
@ajefts do you know how we are adding Spec reviewer for a challenge created from Direct? or if you have idea about how to fix the Spec Reviewer problem.

[2021-01-05 12:22] vikasrohit commented on #924
@ketzjs09 can you please retest it, seems like it was intermittent issue because of API unavailability.

[2021-01-05 13:42] acshields commented on #942
@vikasrohit - I seem to remember seeing an issue or a discussion somewhere that James had found a way to cut down on the legacy-loading time. I can't remember what the solution was, or if it is complete. Let's chat on the call today to see if what I remember was real, and whether this is still needed.

If it is needed:
- We can display the wait time under the "Activate" buttons with the text: "Leg

[2021-01-05 13:43] acshields commented on #915
@vikasrohit - whoops! you are right. I will send this one over to Oanh for her to prioritize.

[2021-01-05 13:47] acshields commented on #1014
@vikasrohit - your response suggests that getting to a "delete" capability will take more than two weeks for us to get to the requirements/an implemented solution. I will deprioritize this for now, and instead will look to prioritize it later as a project.

[2021-01-05 13:48] acshields commented on #573
@vikasrohit - thanks for taking a look at this. I will deprioritize it and add a "wontfix" label for now.

[2021-01-05 13:50] acshields commented on #977
@vikasrohit - noted.
@rootelement - is this a backend change or one exclusively for Community App front-end?

[2021-01-05 18:59] ajefts commented on #973
What if we remove the spec submission and spec review phases?  We're not formally using them and I think removing them for now would simplify things.  I'm pretty sure we can remove them from the [Direct phase templates](https://github.com/appirio-tech/direct-app/blob/dev/conf/phase_templates/TCSTemplate_Studio.xml) without much trouble.  @rootelement @vikasrohit Is there anything else we'd need to

[2021-01-05 21:31] ajefts commented on #973
fyi, I made the change in Direct dev to remove those phases to test if it will work and it did.

[2021-01-05 21:39] rootelement commented on #973
I believe we have to remove them from the WM template for design
challenges. I can do that pretty easily in dev.

On Tue, Jan 5, 2021 at 4:32 PM ajefts <notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com/b

[2021-01-06 10:00] maxceem commented on #1017
Sum up:
- This should be only available when we creating Task:

   ![image](https://user-images.githubusercontent.com/146016/103755592-bf110b80-5016-11eb-83a0-c31efc93f046.png)

[2021-01-06 10:06] maxceem commented on #1013
@vikasrohit could you help me confirm a few moments.

1. At the moment we are showing all the groups by default, should we still show all of them, or don't show any without typing any filter?

    ![image](https://user-images.githubusercontent.com/146016/103755870-347cdc00-5017-11eb-895e-b5282739d61f.png)

2. We already have a filter implemented client-side, as I understand the task is to replace

[2021-01-06 10:13] maxceem commented on #1008
Sum up:
- When we run First2Finish type of challenge

   ![image](https://user-images.githubusercontent.com/146016/103756691-6e9aad80-5018-11eb-84f6-d61c30aeae30.png)

- Then when we select Internal Review and choose the reviewer, it should be added using `Iterative Reviewer` role instead of `Reviewer`:

   ![image](https://user-images.githubusercontent.com/146016/103756871-a275d300-5018-11eb-9ad6

[2021-01-06 10:21] vikasrohit commented on #1007
This just happened to me for a task @acshields. @rootelement I remember seeing you somewhere said that we have to fix something in WM for it not to happen, however, I am missing that place. Can you please share those details again?

[2021-01-06 10:23] maxceem commented on #1019
@vikasrohit I'm trying to reproduce this issue, but have some difficulties with canceling challenges.

I've canceled 3 challenges using OnlineReview:

![image](https://user-images.githubusercontent.com/146016/103757731-d998b400-5019-11eb-9999-97d9bb369cb9.png)

I waited around 20 minutes, but they are still "draft" in V5, so it looks like status wasn't synced back from OR to v5. See all these chal

[2021-01-06 10:29] vikasrohit commented on #1019
You may be right @maxceem. I think forward sync only pulls active and completed challenges back to V5. We need @rootelement 's help here. @rootelement can you please confirm if the forward sync brings back the cancelled challenges to v5 or not?

[2021-01-06 10:29] maxceem commented on #1008
@vikasrohit I have some difficulties with testing this.

If I create a challenge type "Challenge" or "F2F" and assigned myself as an internal reviewer. In Online Review I don't have any reviewer role, only `Observer`.

![image](https://user-images.githubusercontent.com/146016/103758162-76f3e800-501a-11eb-9ba9-ba1080d52896.png)

There are example challenges:
- F2F https://challenges.topcoder-dev.co

[2021-01-06 10:54] maxceem commented on #986
Sum up:
- We can get group details by group id using `/v5/​groups​/{groupId}` endpoint.

[2021-01-06 11:18] maxceem commented on #874
Sum up:
- Connect App demo https://connect.topcoder-dev.com/projects?sort=lastActivityAt%20desc
- Connect App source code https://github.com/appirio-tech/connect-app

[2021-01-06 11:19] maxceem commented on #927
@vikasrohit I'm suggesting showing a standard browser confirmation window for this action instead of custom dialogs. Because our current implementation of dialogs requires a lot of code to write.

[2021-01-06 11:26] maxceem commented on #927
Sum up:
- Add red "Delete" button in the challenge list, but only for new challenges.

  ![image](https://user-images.githubusercontent.com/146016/103763121-1072c800-5022-11eb-81af-1d5b30a7cd80.png)

- It should be only shown on hover similar to "Active" button for Draft challenges.

- When we confirm deleting in the dialog, we should show a loading indicator while delting challenge on top of the

[2021-01-06 11:36] maxceem commented on #969
@vikasrohit @dedywahyudi this issue is not in Work Manager editor. Editor just edit markdown text, but it doesn't render details on the challenge details page. The issue with rendering has to be fixed in Community App https://github.com/topcoder-platform/community-app

By the way, the editor has a preview button, and it shows lists correctly even when nested, see:

![image](https://user-images.git

[2021-01-06 11:44] vikasrohit commented on #1013
1. Yes, please don't show any group by default and update the text `Select Groups` to `Search Groups`
2. You are right. It would avoid troubles with admin users who have access to too many groups that it can either fail the API request which fetches the groups or can delay the overall page load.

[2021-01-06 11:46] vikasrohit commented on #927
We already modal implementations in place @maxceem, you can reuse them. We are showing such modal confirmations for Activation of challenge as well. Lets keep the UX same for this feature as well.

[2021-01-06 11:46] vikasrohit commented on #969
@acshields fyi, we should move it to Community App.

[2021-01-06 11:47] maxceem commented on #1013
Sum up:
- If the lib we are using for showing the dropdown list supports server-side filtering, then reuse that build-in functionality.

[2021-01-06 11:52] vikasrohit commented on #1008
That is strange @maxceem. WM is adding the user as `Reviewer` https://github.com/topcoder-platform/work-manager/blob/develop/src/components/ChallengeEditor/index.js#L968. So, as you suggested it might be issue with the resource api if it is not adding any Reviewer resource to the legacy OR may be legacy apps has some business rules which is preventing the Reviewer to be added to the challenge.
@la

[2021-01-06 11:56] vikasrohit commented on #973
thanks @ajefts and @rootelement. @rootelement where are we maintaining those templates for WM? I mean is it in github so that we can push it to prod with our WM release or should we do it manually when we do a prod release?

[2021-01-06 14:11] acshields commented on #969
@vikasrohit - sending the link to Oanh for her to manage.

[2021-01-06 14:11] acshields commented on #969
Also, removed it from our January work.

[2021-01-07 11:06] vikasrohit commented on #1014
@acshields I didn't mean that it would take more time. I meant is that we need to come up with business rules for which deletion would be allowed. I think API already has this capability and has its own rules but question is that are we on same page for those rules? There might be no such rule at all, I am just conveying that we need to discuss on that with @rootelement

[2021-01-07 11:08] vikasrohit commented on #969
Can we close it from here @acshields ?

[2021-01-07 12:58] drasticdpk commented on #1008
@vikasrohit ,
 Unfortunately we have not included those scenario on our test case. Will put it for future uses.

[2021-01-07 14:24] acshields commented on #969
@vikasrohit - yes! just closed.

[2021-01-07 14:24] #969 closed

[2021-01-07 14:48] rootelement commented on #1008
@ThomasKranitsas tested. WM is adding a `Reviewer`, not an `Iterative Reviewer`. Reviewer type is not valid for a F2F/Task. Please update the type for a task to be `Iterative Reviewer` uuid `f6df7212-b9d6-4193-bfb1-b383586fce63`

[2021-01-07 14:49] ThomasKranitsas commented on #1008
The APIs work fine. The WM needs to create an `Iterative Reviewer` resource for F2F/Tasks. As soon as I did that via Postman, the iterative reviewer role was added in legacy just fine

[2021-01-08 07:42] vikasrohit commented on #1008
@maxceem lets add `Iterative Reviewer` for F2F and Tasks if user choose Internal Review. Let me know if we have still some queries.

[2021-01-08 09:08] maxceem commented on #1007
James suggested the next fix on Slack.

#### Background

#### Task

All changes below if we create a **Task**:

![image](https://user-images.githubusercontent.com/146016/103995830-ab45e080-51a1-11eb-8779-3881ef842fd0.png)

1. You shouldn’t be able to select Community Review on a task
2. It should default to Internal Review and reviewer should be set by default to the user who created task
3. Hide

[2021-01-08 10:11] maxceem opened #1022 "Test Issue (Bug Bash Bot Testing)"
### Expected behavior
Describe.

### Actual behavior
Describe.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account used:

[2021-01-08 10:12] maxceem commented on #1022
@bug-bash-helper assign

[2021-01-08 10:12] maxceem commented on #1022
@bug-bash-helper assign

[2021-01-08 10:14] maxceem commented on #1022
@bug-bash-helper assign

[2021-01-08 10:15] maxceem commented on #1022
@bug-bash-helper assign

[2021-01-08 10:16] maxceem commented on #1022
@bug-bash-helper ready for review

[2021-01-08 11:52] maxceem opened #1023 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2021-01-08 11:54] #1023 closed

[2021-01-08 11:56] maxceem commented on #1022
@bug-bash-helper assign

[2021-01-08 11:57] maxceem-dev commented on #1022
@bug-bash-helper assign

[2021-01-08 11:58] maxceem commented on #1022
Contest https://www.topcoder.com/challenges/30161666 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-08 11:59] maxceem-dev commented on #1022
@bug-bash-helper assign

[2021-01-08 11:59] maxceem commented on #1022
@maxceem-dev, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-08 15:35] acshields opened #1024 "Cannot Edit Challenge"
A user reported an issue where they were unable to edit their challenge created in Work Manager.

Here are the available details:
Challenge URL: https://challenges.topcoder.com/projects/26572/challenges/07596fc0-961b-471b-aca9-0932501ef594/view
User: Tomoya Kurashige (this is the user's name, not handle). This user is a client who is seeking to launch a challenge themselves.
Issue was originally r

[2021-01-08 20:34] acshields commented on #1022
@maxceem - I am trying to understand what this ticket is for? (the history is a bit confusing, haha). Can you advise?

[2021-01-08 20:40] acshields commented on #1020
@rootelement - leaving aside the feedback on the new process for identifying a marathon match, it seems like there may be an issue here with the tag metadata retainment. Can you check into this?

I am curious if this is an issue that can have a quick fix (i.e. before the 1/15 bug fix end date, or if we need to save this for later?)

[2021-01-09 09:18] maxceem commented on #1022
@acshields I'm testing a GitHub Bot which helps us manage issues during a Bug Bash challenge. This bot can assign members to the issues by watching their comments, like a chatbot.

This way we don't have to give write permissions for the members to the repository, but they can still assign selected issues to them.

Here is a quick demo video

![image](https://user-images.githubusercontent.com/1460

[2021-01-09 09:49] maxceem opened #1025 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2021-01-09 10:19] yoution commented on #986
@bug-bash-helper assign

[2021-01-09 10:23] mark-nakachon commented on #927
@bug-bash-helper assign

[2021-01-09 10:27] nursoltan-s commented on #874
@bug-bash-helper assign

[2021-01-09 10:29] maxceem commented on #986
@yoution assigned

[2021-01-09 10:30] maxceem commented on #927
@mark-nakachon assigned

[2021-01-09 10:30] maxceem commented on #874
@nursoltan-s assigned

[2021-01-09 10:39] nursoltan-s commented on #1008
@bug-bash-helper assign

[2021-01-09 10:43] Vips19 commented on #1017
bug-bash-helper assign

[2021-01-09 10:50] dashu-baba commented on #1017
@bug-bash-helper

[2021-01-09 10:51] dashu-baba commented on #1007
@bug-bash-helper assign

[2021-01-09 11:02] nursoltan-s commented on #874
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1026 is ready for review

[2021-01-09 11:06] kodar007 commented on #1008
@bug-bash-helper assign

[2021-01-09 11:07] nursoltan-s commented on #1017
@bug-bash-helper assign

[2021-01-09 11:19] CDharmateja commented on #1013
@bug-bash-helper assign

[2021-01-09 11:43] nursoltan-s commented on #1017
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1027 is ready for review

[2021-01-09 12:03] yoution commented on #986
"Ready for Review": "@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1028 is ready for review"

[2021-01-09 13:13] kodar007 commented on #1008
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1029 is ready for review

[2021-01-09 14:08] mark-nakachon commented on #927
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1030 is ready for review

[2021-01-09 14:20] dashu-baba commented on #1007
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1031 is ready for review

[2021-01-09 16:39] CDharmateja commented on #1013
@bug-bash-helper #1032 is ready for review

[2021-01-09 21:27] asherthechamp commented on #874
@bug-bash-helper assign

[2021-01-09 23:16] acshields commented on #1022
@maxceem - oh cool! Thanks for sharing :)

[2021-01-11 07:50] vikasrohit commented on #1024
@acshields it is happening because resource api is not returning any resource for the challenge. There is an issue logged for this https://github.com/topcoder-platform/resources-api/issues/56 which is closed after dev testing by developer, but I am not sure if that is deployed on prod yet or not. I have asked the same there, but haven't received any update yet. My guess is that, after that fix is

[2021-01-11 09:15] maxceem commented on #1017
Contest https://www.topcoder.com/challenges/30161793 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-11 09:15] maxceem commented on #1017
Contest https://www.topcoder.com/challenges/30161793 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-11 10:11] nursoltan-s commented on #1017
@bug-bash-helper #1027 is ready for review

[2021-01-11 11:39] nursoltan-s commented on #1017
@bug-bash-helper #1027 is ready for review

[2021-01-11 15:03] kodar007 commented on #1008
@bug-bash-helper #1029 is ready for review

[2021-01-11 20:17] maxceem commented on #1007
@dashu-baba some clarification about how to create a new challenge with the assigned reviewer.

The challenge API doesn't let us assign a reviewer. To assign a reviewer we have to call Resources API and add a new resource.

In code we can do this by calling:
[code]

See how we update reviewer in existent code during the challenge update https://github.com/topcoder-platform/work-manager/blob/cf-jan

[2021-01-11 20:48] #1025 closed

[2021-01-12 09:09] dashu-baba commented on #1007
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1031 is ready for review

[2021-01-12 12:47] maxceem commented on #1008
@kodar007 just in case, there is some feedback on your PR https://github.com/topcoder-platform/work-manager/pull/1029#pullrequestreview-565700647

[2021-01-12 14:41] kodar007 commented on #1008
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1029 is ready for review

[2021-01-12 15:58] #812 closed

[2021-01-12 16:07] vikasrohit commented on #917
@maxceem I am merging PR now as it seems the issue topcoder-platform/challenge-api#348  is fixed.

[2021-01-12 16:59] maxceem commented on #917
@vikasrohit looks like something is not configured properly on DEV. When I'm trying to add attachments I'm getting errors from AWS services I guess:

![image](https://user-images.githubusercontent.com/146016/104346504-2c85d600-5508-11eb-8fbf-63fda46f4d1d.png)

[2021-01-12 17:20] acshields commented on #977
closing because this is a Community App fix and can't be fixed by WM. Have passed along this issue to Oanh.

[2021-01-12 17:20] #977 closed

[2021-01-12 17:24] maxceem commented on #1013
hi @CDharmateja here is the feedback for your PR https://github.com/topcoder-platform/work-manager/pull/1032#pullrequestreview-566041280

[2021-01-12 17:29] #942 closed

[2021-01-12 18:40] maxceem commented on #917
@vikasrohit locally the issue above is not reproducible and works good for me:

![image](https://user-images.githubusercontent.com/146016/104357407-d15ae000-5515-11eb-8935-3dd45fb0d64e.png)

The endpoint in challenge API has changed, so we would have to update UI code first before attachments creation would work.

So I've reverted the PR https://github.com/topcoder-platform/work-manager/pull/1035

[2021-01-13 11:17] drasticdpk commented on #874
Verified.
![image](https://user-images.githubusercontent.com/25297859/104445320-14be5880-55c1-11eb-81bb-ad3c417f95c4.png)

[2021-01-13 11:29] drasticdpk commented on #986
Verified.

![image](https://user-images.githubusercontent.com/25297859/104446543-b7c3a200-55c2-11eb-90e4-13a37267f750.png)

[2021-01-13 11:33] drasticdpk commented on #986
@maxceem  however as default group  is not loaded, please confirm

![image](https://user-images.githubusercontent.com/25297859/104446996-49331400-55c3-11eb-9e70-81d8f136514f.png)

[2021-01-13 12:16] drasticdpk commented on #927
Verified on dev env
1. Challenge Edit page :  Confirmation pop up with toaster message ok

![image](https://user-images.githubusercontent.com/25297859/104447574-14738c80-55c4-11eb-9fb9-16f58fd32b45.png)

![image](https://user-images.githubusercontent.com/25297859/104447690-3cfb8680-55c4-11eb-89c2-dda22fd9a772.png)

2. New Tab

-  while hovering Delete button on grid ok.
![image](https://user-image

[2021-01-13 12:31] maxceem commented on #986
This is correct @drasticdpk default groups are not shown anymore as per https://github.com/topcoder-platform/work-manager/issues/1013

[2021-01-13 12:48] drasticdpk commented on #986
Ok noted @maxceem . Thank you!

[2021-01-13 12:56] drasticdpk commented on #1013
Still showing "Select Groups" instead of "Search Groups".

Reference
![image](https://user-images.githubusercontent.com/25297859/104454888-9f598480-55ce-11eb-9188-651875577e16.png)

[2021-01-13 13:00] drasticdpk commented on #1007
Verification

![image](https://user-images.githubusercontent.com/25297859/104455323-39213180-55cf-11eb-8c6a-e753143a0a02.png)

![image](https://user-images.githubusercontent.com/25297859/104455363-4a6a3e00-55cf-11eb-887c-0cec204008a5.png)

Note : will monitor this issue after 1/2 days too, if it goes on active status or not. Now it is working as expected.

[2021-01-13 13:13] drasticdpk commented on #1017
verified.
![image](https://user-images.githubusercontent.com/25297859/104456485-d335a980-55d0-11eb-9fb7-91095fe9622c.png)

[2021-01-13 13:26] drasticdpk commented on #1008
Verified
![image](https://user-images.githubusercontent.com/25297859/104458081-fc573980-55d2-11eb-96bf-5cac71d11acd.png)

[2021-01-13 14:18] drasticdpk commented on #1006
@vikasrohit  i verified this issue, it is working as expected.
Reference Challenge : https://challenges.topcoder-dev.com/projects/16640/challenges/aeb89497-cf09-4234-96e6-11b3f5da79c9/view

[2021-01-13 14:40] maxceem commented on #1013
@drasticdpk this is fixed now and ready for QA https://github.com/topcoder-platform/work-manager/issues/1013#issuecomment-759431417.

[2021-01-13 15:04] maxceem commented on #927
This is a nice catch @drasticdpk.

@vikasrohit At the moment, to detect edit permissions on the challenge details page we are loading **challenge resources** by `https://api.topcoder-dev.com/v5/resources?challengeId=<challengeId>` and check if any of the current user resource role has `fullWriteAccess`. Unlike challenge details page, on the challenge list page we would have to load resources for m

[2021-01-14 03:57] 0xf17 opened #1038 "Google Doc link shown at the bottom of Challenge editing screen"
### Expected behavior
Not sure what should be the expected behaviour here.

### Actual behavior
The page shows link to Google Doc link of the challenge specs at the bottom of the page. I'm not sure how Work Manager is catching it, or why it is even showing it at this place. I'm not sure if this is desired. Is this catching this URL from my clipboard, or if this has anything to do with my browser.

[2021-01-14 05:27] 0xf17 opened #1039 "Unable to save properly after editing the spec second time"
### Expected behavior
WM should save the new updates.

### Actual behavior
WM throws error while saving the edited specification.

### Steps to reproduce the problem
- Create new work > Challenge
- Add public spec and rest of the details
- Save as draft
- Go back to home view and navigate to the same challenge
- Edit the public spec
- Save as draft again
- WM shows the following error but looks li

[2021-01-14 09:23] drasticdpk commented on #1013
Verified.
![image](https://user-images.githubusercontent.com/25297859/104570684-5c54eb00-567a-11eb-93e5-ecb900ef8f4f.png)

[2021-01-14 14:52] rootelement opened #1040 "Incorrect Timeline Template ID Selected"
A member reached out about launching a Design challenge from WM. It’s this challenge:
https://challenges.topcoder.com/projects/26684/challenges/b3eced46-e264-47c6-aaf7-7310eb03a72b/view

If you pull the data on that, this is the timelineTemplateId that was used:
`2d0807fa-ece1-4328-a260-76f5f6b559e0`

That timeline template is:
[code]

This is the challenge timeline template that has that timeline

[2021-01-14 16:30] maxceem commented on #917
@vikasrohit code for attachments has been updated and pushed to DEV.

The only thing left is to configure `FILE_PICKER_API_KEY` environment variable on DEV and redeploy.

[2021-01-14 16:44] rootelement commented on #1040
Not an issue with the frontend. Investigating on the legacy-challenge-processor

[2021-01-14 16:44] #1040 closed

[2021-01-14 19:14] acshields opened #1042 "Default Billing Account: Update V5 Challenge API to read V5 Projects API & Add Checks"
### Update 1
Update V5 Challenge API to read the V5 Projects API, instead of the V3 Projects API

### Update 2
Add in checks to ensure that the following conditions are met before a challenge or task can be activated against that billing account:
- Billing Account = Active
- Project = Active
- User activating the challenge or task is joined to the project

[2021-01-14 19:18] acshields opened #1043 "[$30] Default Groups Data Pass-Through & Display"
### Update 1
If groups have been defaulted at the project-level, this defaulted data should display on every challenge, F2F, and task created for that project.

[2021-01-14 19:24] acshields opened #1044 "[$70] Default Terms Data Pass-Through & Display"
### Update 1
Update "Enforce NDA" to display as follows:
Field Label: "Enforce Topcoder NDA"
Field Answer Options: [Yes/No Radio Buttons]

### Update 2
Move the "Terms" question to be displayed under "Advanced Settings"

### Update 3
If terms have been defaulted at the project-level, then the defaulted terms selections should display on every challenge, F2F, and task created for that project.

[2021-01-14 19:26] acshields opened #1045 "[$30] Default Billing Account Display"
### Update 1
Display the project's default billing account ID under "Advanced Settings"

[2021-01-14 20:11] rootelement commented on #917
I added the Filestack Dev API key to that key value in the dev appvar.json. Please redeploy and confirm.

[2021-01-14 22:19] maxceem commented on #917
@rootelement I've rebuilt but looks like the env variable `FILE_PICKER_API_KEY` was not picked up, it still fallback to the dummy value. When building locally by `NODE_ENV=development FILE_PICKER_API_KEY=<KEY> npm run build` I can see that token is included in the built file.

![image](https://user-images.githubusercontent.com/146016/104655912-14a88080-56c7-11eb-826d-fa7e12153cb4.png)

[2021-01-15 03:27] 0xf17 commented on #1038
This issue can be closed. I have identified this to be due to my browser.

[2021-01-15 04:29] vikasrohit commented on #927
@maxceem wouldn't API throw error automatically, if user don't have access to delete the challenge?

[2021-01-15 08:04] maxceem commented on #927
You are right, @vikasrohit user could not delete the challenge if they don't have access to it. The only issue here is that we are showing the "Delete" button for them. See demo video how it works for such users https://monosnap.com/file/rZ4t6kF8ePjvR76AWV0E3OZArd1A9S.

So I think it would be good to hide the Delete button for them, but it's not critical. I guess we can release it as it is now, lo

[2021-01-15 11:27] vikasrohit commented on #927
I am good with this limitation. In fact I would not say it a limitation because having delete button for some challenge visible and invisible for others might make people confused that why they are seeing different UI for challenges. Current way is rather better because they see the error of permissions if they try to delete a challenge where they don't have edit access.

@drasticdpk lets pass thi

[2021-01-15 12:42] #1006 closed

[2021-01-15 15:35] maxceem commented on #917
I've rechecked one more time.

If I run the next command `NODE_ENV=development npm run build ` without `FILE_PICKER_API_KEY` in the built file I can see a dummy value:

![image](https://user-images.githubusercontent.com/146016/104746016-66005080-5757-11eb-9936-53554a8b19cf.png)

But if I run `NODE_ENV=development FILE_PICKER_API_KEY=REAL_KEY_VALUE npm run build` in the built file I can see the val

[2021-01-15 15:46] rootelement commented on #917
Are we sure any of those environment variables are working in non-local deployments?

I know react is weird about reading env vars… From what I understand, you need to prepend REACT_APP_  on those values:
https://create-react-app.dev/docs/adding-custom-environment-variables/

Can you try that? I'll add the same value to the environment called `"REACT_APP_FILE_PICKER_API_KEY"` and we can test. The

[2021-01-16 08:53] maxceem commented on #917
Yeah, these variables should work on the server too. To clarify this situation, I've added the console.log of the env variable `FILE_PICKER_API_KEY` to the build script. The build script is just a regular script that is run on the server during the building process and as any regular server script, it should have access to the environment variables.

So when I run locally `NODE_ENV=development npm

[2021-01-18 06:13] drasticdpk commented on #874
Verified on Prod Env.

![image](https://user-images.githubusercontent.com/25297859/104878663-75181600-5984-11eb-93c5-5a4f65a675ba.png)

[2021-01-18 08:02] maxceem commented on #986
Contest https://www.topcoder.com/challenges/30162654 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-18 08:02] maxceem commented on #986
Contest https://www.topcoder.com/challenges/30162654 has been updated - it has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-18 10:44] maxceem commented on #986
Closing to process the payment.

[2021-01-18 10:45] maxceem commented on #986
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30162654<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-18 10:45] maxceem commented on #986
Reopen so this could be closed after QA on prod.

[2021-01-18 11:04] maxceem commented on #874
Contest https://www.topcoder.com/challenges/30162677 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-18 11:04] maxceem commented on #874
Contest https://www.topcoder.com/challenges/30162677 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-18 13:45] maxceem commented on #874
Closing the issue to process the payment.

[2021-01-18 13:45] maxceem commented on #874
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30162677<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-18 13:46] maxceem commented on #874
Reopen so this could be closed after.

[2021-01-18 14:59] drasticdpk commented on #927
Noted @maxceem @vikasrohit .

[2021-01-18 15:32] coderhacker opened #1046 "[$60] user not able to delete all challenge with new status"
### Expected behavior
Describe.
The user should be able to select all delete challenges with a new status.

### Actual behavior
Describe.
User not able to select all delete challenge with a new status,  Only he/she should be able to delete if they have access on it.
### Steps to reproduce the problem
- Step 1: go to  Challenge Edit page: Confirmation pop up with toaster message ok
![image](https:/

[2021-01-18 21:48] maxceem commented on #1013
Hi @CDharmateja

To process the payment could you please let me know your Topcoder handle.

Also, please log in to the https://x.topcoder.com/ with your Topcoder account **in incognito mode** and associate your Topcoder account with your GitHub account if you didn't do that previously.

Thanks.

[2021-01-18 21:48] maxceem commented on #1008
Hi @kodar007

To process the payment could you please let me know your Topcoder handle.

Also, please log in to the https://x.topcoder.com/ with your Topcoder account **in incognito mode** and associate your Topcoder account with your GitHub account if you didn't do that previously.

Thanks.

[2021-01-18 21:49] maxceem commented on #1007
Hi @dashu-baba

To process the payment could you please let me know your Topcoder handle.

Also, please log in to the https://x.topcoder.com/ with your Topcoder account **in incognito mode** and associate your Topcoder account with your GitHub account if you didn't do that previously.

Thanks.

[2021-01-18 21:49] maxceem commented on #927
Hi @mark-nakachon

To process the payment could you please let me know your Topcoder handle.

Also, please log in to the https://x.topcoder.com/ with your Topcoder account **in incognito mode** and associate your Topcoder account with your GitHub account if you didn't do that previously.

Thanks.

[2021-01-19 03:10] CDharmateja commented on #1013
My Topcoder handle is `cdharmateja`. After logging with my Topcoder account in https://x.topcoder.com, its showing logging out screen.

[2021-01-19 04:56] dashu-baba commented on #1007
@maxceem ,

Here is my profile link
https://www.topcoder.com/members/nowshad.bappy
Handle: nowshad.bappy
Thanks.

[2021-01-19 08:36] maxceem commented on #917
### QA guidelines:

- Upload a single attachment
- Upload multiple attachments
- Upload attachments with a not supported extension like `.none` - should get error
- Upload multiple attachments: some with correct extension and some with forbidden extension
- Should not allow uploading more than 10 attachments
- Upload by drag & drop
- Upload by clicking using the upload dialog
- Delete attachments

[2021-01-19 09:48] drasticdpk commented on #1017
Prod Verified.
![image](https://user-images.githubusercontent.com/25297859/105017213-a28bbf00-5a6b-11eb-8d80-14a816a59eb2.png)

[2021-01-19 09:53] maxceem commented on #1017
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:01] vikasrohit commented on #1014
@acshields @huangqun we added the capability (#927) to delete any challenge that is in `New` status. Closing the issue for now, please feel free to reopen it if the new functionality is not what was intended in this request.

[2021-01-19 10:01] #1014 closed

[2021-01-19 10:02] vikasrohit commented on #946
@drasticdpk @lakshmiathreya marking it ready for qa just to keep the updated status of the issue. In my understanding it should be fixed with recent changes in legacy processors.

[2021-01-19 10:03] vikasrohit commented on #927
@drasticdpk can mark it pass for both dev and prod now?

[2021-01-19 10:04] vikasrohit commented on #1005
@drasticdpk @lakshmiathreya marking ready for qa to have the updated status of the issue. Should be fixed with past few updates in legacy processors.

[2021-01-19 10:05] vikasrohit commented on #924
@ketzjs09 we are closing the issue for now as it seems to be an intermittent issue and we are able to create tasks as of now. Please feel free to reopen it, in case you are still facing the issue.

[2021-01-19 10:05] #924 closed

[2021-01-19 10:06] drasticdpk commented on #986
verified.
![image](https://user-images.githubusercontent.com/25297859/105019443-3068a980-5a6e-11eb-89b8-8d952ef29a2d.png)

[2021-01-19 10:06] #986 closed

[2021-01-19 10:13] drasticdpk commented on #1013
Verified.
![image](https://user-images.githubusercontent.com/25297859/105020224-22675880-5a6f-11eb-8910-2aeb5ec3fb10.png)

[2021-01-19 10:24] drasticdpk commented on #927
Verified on prod env.

![image](https://user-images.githubusercontent.com/25297859/105021459-a9690080-5a70-11eb-8431-8d9a6f98e352.png)

[2021-01-19 10:25] vikasrohit commented on #1024
@acshields can we close it now?

[2021-01-19 10:26] #874 closed

[2021-01-19 10:30] drasticdpk commented on #946
Verified.
![image](https://user-images.githubusercontent.com/25297859/105022121-7a06c380-5a71-11eb-8b2b-2feb9a23eaeb.png)

[2021-01-19 10:30] #946 closed

[2021-01-19 10:31] maxceem commented on #927
Reopening to process the payment, will close after.

[2021-01-19 10:32] maxceem commented on #1013
Reopening to process the payment, will close after.

[2021-01-19 10:32] maxceem commented on #1013
Contest https://www.topcoder.com/challenges/30162862 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:32] maxceem commented on #1013
Contest https://www.topcoder.com/challenges/30162862 has been updated - it has been assigned to cdharmateja.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:33] maxceem commented on #927
Contest https://www.topcoder.com/challenges/30162863 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:33] maxceem commented on #927
Contest https://www.topcoder.com/challenges/30162863 has been updated - it has been assigned to harishchennupa.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:35] maxceem commented on #1007
Contest https://www.topcoder.com/challenges/30162865 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:35] maxceem commented on #1007
Contest https://www.topcoder.com/challenges/30162865 has been updated - it has been assigned to nowshad.bappy.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:35] maxceem commented on #1008
Contest https://www.topcoder.com/challenges/30162866 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:35] maxceem commented on #1008
Contest https://www.topcoder.com/challenges/30162866 has been updated - it has been assigned to kodar0071.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:36] drasticdpk commented on #783
still having same issue
![image](https://user-images.githubusercontent.com/25297859/105022875-5a23cf80-5a72-11eb-97db-142dc78924d0.png)
https://challenges.topcoder.com/projects/24943/challenges/670990d0-fe14-4ce5-9671-ddfbc852f654/view

[2021-01-19 10:37] maxceem commented on #1013
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:43] maxceem commented on #783
@rootelement could you please, help us here. What is the expected format of data for `submissionLimit`? Here is how we store it in WM:
[code]

![image](https://user-images.githubusercontent.com/146016/105023313-7a906180-5a53-11eb-8eb7-830a091decbc.png)

[2021-01-19 10:46] drasticdpk commented on #1005
Unable to activate new challenge.
![image](https://user-images.githubusercontent.com/25297859/105023955-a7ed0780-5a73-11eb-8d66-635b55060885.png)

[2021-01-19 10:47] ThomasKranitsas commented on #783
@maxceem FYI https://github.com/topcoder-platform/legacy-challenge-processor/blob/develop/src/services/ProcessorService.js#L556

[2021-01-19 10:50] drasticdpk commented on #917
FYI
As discussed with @vikasrohit , I am making it fail. we will test it later.

[2021-01-19 10:51] maxceem commented on #783
Thank you @ThomasKranitsas.

@drasticdpk as per code, shared by Thomas, Work Manager set maximum submissions correctly. So this looks like an issue in the Communiy App, it doesn't display it correctly.

[2021-01-19 10:52] maxceem commented on #927
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:55] drasticdpk commented on #1008
Verified
![image](https://user-images.githubusercontent.com/25297859/105025076-f058f500-5a74-11eb-862e-266f26d83ab1.png)

[2021-01-19 10:57] maxceem commented on #927
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-19 10:58] maxceem commented on #1017
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-20 04:30] vikasrohit commented on #1017
@maxceem it seem like tcx removes the existing tags :(

[2021-01-20 04:48] dashu-baba commented on #1007
@maxceem , is it closed?

[2021-01-20 07:34] #1007 closed

[2021-01-20 07:35] maxceem commented on #1007
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30162865<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-20 07:42] maxceem commented on #1017
@vikasrohit, I put the tags back.

[2021-01-20 07:42] #1017 closed

[2021-01-20 07:42] maxceem commented on #1017
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161793<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-20 07:43] kodar007 commented on #1008
@maxceem my topcoder handle is "_ckd".

[2021-01-20 07:45] #927 closed

[2021-01-20 07:45] maxceem commented on #927
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30162863<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-20 07:47] maxceem commented on #1008
@kodar007 hmm, did you previously had another Topcoder account `kodar0071`?

[2021-01-20 07:47] maxceem commented on #1008
Payment failed: [500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-20 07:49] #1013 closed

[2021-01-20 07:49] maxceem commented on #1013
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30162862<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-20 07:51] maxceem commented on #1008
@kodar007, could you please log in to the https://x.topcoder.com/ with your Topcoder account in incognito mode (it's important, please, use incognito mode) and associate your Topcoder account `_ckd` with your GitHub account `kodar007` if you didn't do that previously.

[2021-01-20 07:53] kodar007 commented on #1008
Could you please try adding manually? My other topcoder account is getting deactivated.

[2021-01-20 07:55] maxceem commented on #1008
I can do that, but did you try to associate your new account with your GitHub account via https://x.topcoder.com/ as described in this comment? https://github.com/topcoder-platform/work-manager/issues/1008#issuecomment-763409017

[2021-01-20 08:00] kodar007 commented on #1008
Not done yet, i want to associate _ckd topcoder account with a different Github account which so that tc account and github accounts have same email.

[2021-01-20 08:02] maxceem commented on #1008
Ah, ok, got you. So I will process this payment manually then.

[2021-01-20 08:08] kodar007 commented on #1008
Thanks.

[2021-01-20 08:19] maxceem commented on #950
I've just got this issue for this challenge: https://challenges.topcoder.com/projects/24944/challenges/8e38aec9-8aa5-433f-861f-f758586082d1/edit

![image](https://user-images.githubusercontent.com/146016/105145906-05329880-5b08-11eb-9c9d-dd5998d55952.png)

But legacy was already created as challenge object already has `legacyId`. More than that, I can reload the page, try to activate again and get

[2021-01-20 08:24] maxceem commented on #1008
@kodar007 payment is processed https://www.topcoder.com/challenges/38aadfb8-02da-4be6-95ad-6cc0b975c4dd?tab=details

[2021-01-20 08:24] #1008 closed

[2021-01-20 08:24] maxceem commented on #1008
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-20 08:37] maxceem commented on #917
Uploading attachments on DEV works good. But on PROD there seems to be some config issue as uploading fails during uploading files to AWS S3 due to `403` permission errors:

start was good:
![image](https://user-images.githubusercontent.com/146016/105148672-52fcd000-5b0b-11eb-8f98-05e33ec16381.png)

upload was good:
![image](https://user-images.githubusercontent.com/146016/105148699-598b4780-5b0b-

[2021-01-20 08:40] vikasrohit commented on #783
@acshields can you please get it carried over to Community team? We can close it after that is resolved there.

[2021-01-20 10:30] vikasrohit commented on #950
Can you try activating it via v5 now? I mean after you set the Platform in Direct, did you try activating it from WM?

[2021-01-20 10:38] maxceem commented on #950
Yes, @vikasrohit I could activate it just now, BUT: I've already changed price, assigned member, title, and description.

Note, that after this task I've created it again for the same member and it was activated successfully from the first attempt without any fixes https://challenges.topcoder.com/projects/24944/challenges/38aadfb8-02da-4be6-95ad-6cc0b975c4dd/view. It came back to Active though aft

[2021-01-20 10:40] vikasrohit commented on #950
Ohk. The second challenge/task you created, you don't have to update its Platform or anything in Direct?

[2021-01-20 11:09] #826 closed

[2021-01-20 11:09] #872 closed

[2021-01-20 11:11] drasticdpk commented on #1009
Still having same issue.
![image](https://user-images.githubusercontent.com/25297859/105167023-49418f80-5b40-11eb-83e9-376701f7ec3b.png)
will come up with finding if found.
![image](https://user-images.githubusercontent.com/25297859/105167124-69714e80-5b40-11eb-8eb8-e09988ce5029.png)

@maxceem  are you access this challenge, since this is assigned to you.
https://www.topcoder.com/challenges/849e4d

[2021-01-20 11:44] vikasrohit commented on #1009
I think we have to live with this bug until we get rid of legacy as per discussions with @rootelement last week, @rootelement please correct me if I am wrong here.

[2021-01-20 12:37] vikasrohit commented on #1044
@acshields it is mentioned as checklist which means user can select both terms?

[2021-01-20 13:27] vikasrohit commented on #1005
@drasticdpk I think you should have BA attached for today

[2021-01-20 13:28] vikasrohit commented on #783
I am moving it out from the milestone for now.

[2021-01-20 13:55] rootelement commented on #950
So here's the problem. This happened before, and it has to do with the Billing Account.
1. v5 Only Checks that there's a valid Billing Account on Activate, not on Save as Draft
2. Save as Draft creates the challenge in legacy with all required values
3. When a challenge is created in direct/legacy, direct uses the active billing account to calculate the markup and pricing on the prize money of the

[2021-01-20 13:56] maxceem commented on #950
Right, I didn't update anything in Direct, it just worked in WM smoothly.

[2021-01-20 14:44] maxceem commented on #950
@rootelement

I've created this task after I make sure, that there is an active billing account direct. Also, before creating this task I've processed several payments using Topcoder X for the same project with the same billing account, for example https://software.topcoder.com/review/actions/ViewProjectPayments?pid=30162863.

Another thing @rootelement I'm not sure if that is connected. The secon

[2021-01-20 16:52] acshields commented on #1044
@vikasrohit - I have updated the requirements above, so that Terms field is now called "Enforce NDA" and the answer format is Yes/No Radio button.

Late last week I was confirming how this question should behave with Tony for V1. I believe these changes are now reflected in both Projects App Git Issue for "Terms" as well as to the corresponding WM Git Issue (this one).

[2021-01-20 16:57] acshields commented on #783
@vikasrohit - yes, I will pass this onto Oanh.

[2021-01-20 16:57] #783 closed

[2021-01-21 04:10] sdgun opened #1048 "The buttons are not displayed when My Project option is selected in Work Manager"
### Expected behavior
Not sure about this behavior but don't see any reason to not show the buttons until My Projects option is selected/deselected

### Actual behavior
The 'Launch new', 'View project in connect' and 'View project in direct' buttons are not displayed until My Project option is selected/deselected

### Steps to reproduce the problem
- Go to https://challenges.topcoder.com/projects/

[2021-01-21 05:30] vikasrohit commented on #1044
@acshields thanks for confirmation but I think you missed to actually update the requirements above, it is still saying:
[code]

[2021-01-21 16:10] acshields commented on #1042
@rootelement - when do you think you will be able to get this one done?

[2021-01-21 18:00] maxceem opened #1049 "Add "Preview" challenge button"
When I'm creating/editing a challenge I often want to preview it in Community App.

### Current behavior

- Imagine I'm editing the challenge on the edit page and want to preview in Community App.
- To do so I have to click "Back" button.
- Wait until the challenge listing is loaded.
- Switch to another tab, depending on my challenge status.
- Sometimes I have switch several tabs, if I'm not sure

[2021-01-21 18:43] #998 closed

[2021-01-21 18:47] #1024 closed

[2021-01-21 20:29] rootelement commented on #1019
The v4 -> v5 sync:
1. Gets the challenges in legacy with a status of Active
2. Gets the challenges in v5 with a status of Active
3. Aggregates the legacy IDs and deduplicates them
4. Performs the sync

If you change a challenge status from anything _but_ Active (ie Draft) to Canceled, it will not sync forward from legacy. I'm not sure how to fix this. It would be better if we had the means to canc

[2021-01-21 20:29] rootelement commented on #1009
Correct. This is a legacy issue that exists because of the v4 api. There's nothing we can fix or change here.

[2021-01-21 20:31] maxceem commented on #965
Just sharing my experience on this.

On 5th December 2020 I created a task with a copilot fee of more than $40 and it worked well for me https://challenges.topcoder.com/projects/25300/challenges/069b2237-a72a-4547-b504-1286b233cdde/view.

Maybe it some intermittent issue with legacy sync.

[2021-01-21 20:38] maxceem commented on #1005
This works good as per my testing on DEV https://monosnap.com/file/Q47TSReHUIwnBxIZheI6TNfRRqfWMs. But yeah, BA should be attached to be able to activate.

[2021-01-22 10:58] vikasrohit commented on #1049
@acshields it is good suggestion and we should plan it soon.

[2021-01-22 11:00] vikasrohit commented on #965
@callmekatootie can you please confirm as well if you are not seeing the issue now? We can close it after your confirmation.

[2021-01-22 11:00] vikasrohit commented on #1009
@acshields moving it to Backlog just ot keep track on it.

[2021-01-22 11:08] vikasrohit commented on #1005
@drasticdpk are you able to verify it now? BA may got removed soon from the project.

[2021-01-22 11:30] vikasrohit commented on #917
Moving it out to next milestone after Project Defaults shape up project as we are not able to get it working in production. We need latest challenge api in production to get it working.

[2021-01-22 11:31] vikasrohit commented on #1005
I am closing it without QA green signal as we don't yet have the right test conditions for the QA to verify and at least one person(@maxceem ) can see it working in DEV env. @drasticdpk please feel free to reopen the issue if it is still breaking.

[2021-01-22 11:31] #1005 closed

[2021-01-22 11:36] vikasrohit commented on #1019
Thanks for the detailed response @rootelement. Would it just take a simple PATCH call to v5 challenge api to cancel the challenge?

[2021-01-22 11:57] maxceem commented on #1044
@vikasrohit I would like to confirm with you one technical detail.

While at the moment we set only one terms - NDA in the Connect App. Potentially we can set multiple terms to the `terms` filed in Connect App.

So we would implement it the way, that during challenge creation we would apply ALL terms in the `terms` field of the project not only NDA. So if in the future we add more terms in Connect

[2021-01-22 12:09] vikasrohit commented on #1044
Yes, we should plan with multiple terms as challenge api support array of terms. We should keep the structure similar.

[2021-01-22 14:26] acshields commented on #1049
@vikasrohit @maxceem - it is a good suggestion. In the next 6 weeks I will be getting final design updates made in Marvel for WM's revamped UI, which I will plan to pitch as a project in the next round of project pitches (after 2/26). I will make sure this preview concept is a part of it.

[2021-01-22 14:29] acshields commented on #1009
@vikasrohit - noted

[2021-01-22 14:29] acshields commented on #917
@vikasrohit - noted.

[2021-01-22 14:47] maxceem commented on #965
@vikasrohit I could reproduce this today. I've made a task payment and set the copilot fee higher than `$40`, but in the payment, I got `$40`.

So I guess this is something with legacy sync, as this issue happens not 100% times.

[2021-01-22 16:59] vikasrohit commented on #965
okay, I guess we need to keep it open.

[2021-01-25 09:30] maxceem commented on #1045
Sum up:
- Projects might have a billing account defined in `billingAccountId` property.
- Each challenge inside a project should show this billing account inside Advanced Settings as "Billing Account: <billingAccountId>"

  ![image](https://user-images.githubusercontent.com/146016/105687008-9aff6680-5f00-11eb-8e68-a825bc32a486.png)

- It should be shown on both VIEW https://challenges.topcoder-dev

[2021-01-25 09:30] maxceem commented on #1045
Challenge https://www.topcoder.com/challenges/14e3c98c-969b-4b45-ab5f-36a86e3aca3c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-25 09:36] maxceem commented on #1045
@CDharmateja @nursoltan-s @mark-nakachon this issue can be picked up as per Bug Bash rules https://www.topcoder.com/challenges/424d2bcb-d236-4b8a-984a-22397de96187.

[2021-01-25 09:50] maxceem commented on #1044
Sum up:
The logic of this task should be like this:
- When we are creating a new challenge, we should apply all the terms of the projects which are listed in the `project.terms` array to the challenge. So new challenge has to be created with the same terms as project.
- During editing challenge we have to able change the value for NDA term. The rest terms (if any) should stay as it is, we only wan

[2021-01-25 10:20] CDharmateja commented on #1045
@bug-bash-helper assign

[2021-01-25 10:20] maxceem commented on #1045
Challenge https://www.topcoder.com/challenges/14e3c98c-969b-4b45-ab5f-36a86e3aca3c has been assigned to cdharmateja.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-25 11:01] maxceem commented on #1045
@CDharmateja there is one more small requirement, I've updated the comment https://github.com/topcoder-platform/work-manager/issues/1045#issuecomment-766680761. I've also increased the ticket price.

[2021-01-25 11:02] maxceem commented on #1044
Challenge https://www.topcoder.com/challenges/7ac0d393-3ddd-4d19-8710-36b4d567d8ed has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-25 11:02] maxceem commented on #1044
@CDharmateja @nursoltan-s @mark-nakachon this issue can be picked up as per Bug Bash rules https://www.topcoder.com/challenges/424d2bcb-d236-4b8a-984a-22397de96187.

[2021-01-25 12:20] CDharmateja commented on #1045
@bug-bash-helper #1053  is ready for review

[2021-01-25 12:30] maxceem commented on #1045
Thanks, @CDharmateja! There is one more if you like https://github.com/topcoder-platform/work-manager/issues/1044

[2021-01-25 12:32] CDharmateja commented on #1044
@bug-bash-helper assign

[2021-01-25 12:33] maxceem commented on #1044
Challenge https://www.topcoder.com/challenges/7ac0d393-3ddd-4d19-8710-36b4d567d8ed has been assigned to cdharmateja.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-25 15:12] drasticdpk commented on #1005
Verified.
Working as expected
![image](https://user-images.githubusercontent.com/25297859/105724372-e5f49a80-5f4f-11eb-9d67-b87757c5ec22.png)

[2021-01-26 00:40] #1038 closed

[2021-01-26 06:44] CDharmateja commented on #1044
@bug-bash-helper #1054  is ready for review

[2021-01-26 20:26] ThomasKranitsas opened #1056 "[$15] Validate prizes"
### Expected behavior
Prizes should either be validated so the Nth prize is lower or equal to N-1 or automatically sorted before sent to the backend

### Actual behavior
I can create the following prize structure which makes no sense:
- 1st: $100
- 2nd: $25
- 3rd: $50

### Steps to reproduce the problem
- Create a new challenge
- Add the 3 prizes from the above section
- Observe

[2021-01-26 20:26] ThomasKranitsas commented on #1056
cc @rootelement

[2021-01-26 22:42] huangqun opened #1057 "Completed challenges still shown as active and deleted challenges shown as draft"
### Expected behavior
Both challenges should disappear from WM.

### Actual behavior
Please check https://challenges.topcoder.com/projects/24926/challenges

Challenge https://challenges.topcoder.com/projects/24926/challenges/a81f0890-e5d7-43a0-8127-c2c129b066ab/view is already completed in Direct but shows as active in WM.

Challenge https://challenges.topcoder.com/projects/24926/challenges/7ffb82

[2021-01-27 10:33] maxceem commented on #1044
@CDharmateja I found one issue after merging your PR:

1. We have to only create new challenge with project terms when we use `beta` flag in URL, see initial task https://github.com/topcoder-platform/work-manager/issues/1044#issuecomment-766693096

2. Also, I found another issue. If we load the page for creating a new challenge directly by link http://localhost:3000/projects/16668/challenges/new t

[2021-01-27 10:44] maxceem opened #1058 "[$60] Beta mode"
We would like to hide some features on production and only show them in beta mode.

First, we tried just to add `beta=true` URL param to enable beta mode on the page.

But during testing, I've noticed one thing regarding using beta URL param. It's quite uncomfortable during testing, as this URL param disappears after each page navigation. So we have to always remember to set it during testing afte

[2021-01-27 10:47] maxceem commented on #1058
Challenge https://www.topcoder.com/challenges/10f6db49-c7d1-4860-a43a-47b5693486fd has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-27 10:47] maxceem commented on #1058
@CDharmateja @nursoltan-s @mark-nakachon this issue can be picked up as per Bug Bash rules https://www.topcoder.com/challenges/424d2bcb-d236-4b8a-984a-22397de96187.

[2021-01-27 12:04] CDharmateja commented on #1044
@maxceem created PR for issues

[2021-01-27 13:09] maxceem commented on #1058
This is temporary on hold, maybe we would cancel this issue.

[2021-01-27 13:14] mark-nakachon commented on #1058
@bug-bash-helper assign

[2021-01-28 08:06] maxceem commented on #1058
@nursoltan-s this issue again is open for pickup.

[2021-01-28 08:23] CDharmateja commented on #1058
@bug-bash-helper assign

[2021-01-28 08:34] CDharmateja commented on #1044
@bug-bash-helper #1059 is ready for review

[2021-01-28 08:35] CDharmateja commented on #1058
@bug-bash-helper assign

[2021-01-28 09:19] mark-nakachon commented on #1058
@bug-bash-helper assign

[2021-01-28 09:19] maxceem commented on #1058
Challenge https://www.topcoder.com/challenges/10f6db49-c7d1-4860-a43a-47b5693486fd has been assigned to harishchennupa.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-01-28 15:01] maxceem commented on #1045
QA guidelines:
- This fix only works with `beta=true` flag in URL:
   - VIEW https://challenges.topcoder-dev.com/projects/16573/challenges/d211b5b4-4e15-459b-8c93-97580b125ebd/view?beta=true
   - EDIT https://challenges.topcoder-dev.com/projects/16573/challenges/d211b5b4-4e15-459b-8c93-97580b125ebd/edit?beta=true
- Note, that most of the projects on DEV don't have billing account attached
- To see

[2021-01-28 15:06] maxceem commented on #1044
QA guidelines:
- This feature would only work if `beta=true` flag is passed
- Standard Topcoder Terms would always be added to the challenge no matter if project has any terms or no
- To create a challenge with no additional terms use link https://challenges.topcoder-dev.com/projects/16839/challenges/new?beta=true
- To create a challenge with additional NDA terms use link https://challenges.topcod

[2021-01-28 15:10] maxceem commented on #1058
@mark-nakachon we pushed some new changes which are using `beta` flag. Could you please pull the latest changes, so you could update all the places to use new method `isBetaMode` instead of `params.get('beta')`.

[2021-01-29 11:46] mark-nakachon commented on #1058
@maxceem okay pulled and done here https://github.com/topcoder-platform/work-manager/pull/1060

[2021-01-29 11:46] mark-nakachon commented on #1058
@maxceem done in https://github.com/topcoder-platform/work-manager/pull/1060

[2021-01-29 11:47] mark-nakachon commented on #1058
@bug-bash-helper #1058 is ready for review

[2021-01-29 15:21] drasticdpk commented on #1045
Verified on Dev
![image](https://user-images.githubusercontent.com/25297859/106292661-308a5580-6275-11eb-94d1-4da6919bc98a.png)
![image](https://user-images.githubusercontent.com/25297859/106292780-56175f00-6275-11eb-975d-4fc58ea7ae90.png)

@maxceem Can we show billing acc Name instead of Billing Id ? What if we have more than one billing acc for single project. please suggest.

[2021-02-01 04:32] drasticdpk commented on #1044
Verified on Dev Env.
![image](https://user-images.githubusercontent.com/25297859/106414788-9cd3a780-6475-11eb-8382-cce92c0dc67b.png)

![image](https://user-images.githubusercontent.com/25297859/106415032-326f3700-6476-11eb-987b-8628df128f3f.png)

![image](https://user-images.githubusercontent.com/25297859/106415229-b1646f80-6476-11eb-8466-ab011a206ecd.png)

[2021-02-01 10:48] maxceem commented on #1045
@drasticdpk at the moment there is no technical possibility to show several billing accounts or get its name.

@vikasrohit I guess we could show the billing account name after we create (or use v3) BA API. But about multiple BAs, I'm not sure.

[2021-02-01 11:49] drasticdpk opened #1061 "Billing Acc does not sync Connect Vs WM"
Reference  Challenge :
Connect :  https://connect.topcoder.com/projects/24944
![image](https://user-images.githubusercontent.com/25297859/106454660-353c4d00-64b3-11eb-9c9c-52d15981bc3f.png)

But unable to activate challenge from WM app.
Reference
![image](https://user-images.githubusercontent.com/25297859/106454748-543adf00-64b3-11eb-9461-89991243a6e2.png)

if this is due to configuration, please

[2021-02-01 11:50] drasticdpk commented on #1061
cc @maxceem

[2021-02-01 11:59] maxceem commented on #1061
@rootelement I saw this issue several times when the billing account is there, but it's not picked up by the WM in some reason. Usually, I solve it by manually choosing billing account for the challenge in Direct. Though usually it's not enough, and there is some other validation error which has to be fixed, before I can set billing account in Direct. For example, missing Platform.

[2021-02-01 12:02] maxceem commented on #1061
@vikasrohit somehow

[2021-02-01 12:23] drasticdpk commented on #1045
Ok noted @maxceem .

![image](https://user-images.githubusercontent.com/25297859/106457960-d75e3400-64b7-11eb-95f8-92ee8d8eb15b.png)

[2021-02-01 12:26] vikasrohit commented on #1045
Also, to manage the BA user has to go to Projects App. May be we can make the BA number a link to manage it in Projects app. fyi @acshields

[2021-02-01 12:28] vikasrohit commented on #1061
Yep, it is known. And technically this never designed as this. Till now BA has to be set on Direct project, we are working on reading BA from v5 projects (connect) in this shape up project. #1042

[2021-02-01 13:07] drasticdpk commented on #1044
Verification on Prod
**For only Standard/Default NDA**

![image](https://user-images.githubusercontent.com/25297859/106462587-6a01d180-64be-11eb-90e2-b03ad51b4258.png)

https://challenges.topcoder.com/projects/24943/challenges/4c850839-f61c-41fd-a6d0-99a396948252/view

**challenge with additional NDA terms use**

![image](https://user-images.githubusercontent.com/25297859/106462293-fcee3c00-64bd-1

[2021-02-01 13:21] drasticdpk commented on #1044
@maxceem  With reference to this step, can you please guide me how can I create 3 terms for a project. ?
Thanks.

[2021-02-01 13:29] maxceem commented on #1044
@drasticdpk I did that by direct calls of Projects API. So you may use examples that I've already created above for testing WM features.

Using UI we can only create a project with one NDA terms, as per https://github.com/appirio-tech/connect-app/issues/4273#issuecomment-769123525

[2021-02-01 13:36] maxceem commented on #1045
Closing for payment.

[2021-02-01 13:39] maxceem commented on #1045
Closing for payment.

[2021-02-01 13:40] maxceem commented on #1044
Closing for payment.

[2021-02-01 13:40] maxceem commented on #1045
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-01 13:44] maxceem commented on #1044
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-01 18:06] maxceem commented on #1044
Closing for payment.

[2021-02-01 18:07] maxceem commented on #1044
Payment task has been updated: https://www.topcoder.com/challenges/7ac0d393-3ddd-4d19-8710-36b4d567d8ed
*Payments Complete*
Winner: cdharmateja
Copilot: maxceem
Challenge `7ac0d393-3ddd-4d19-8710-36b4d567d8ed` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-01 18:07] maxceem commented on #1044
Reopen for tracking.

[2021-02-01 18:07] maxceem commented on #1045
Closing for payment.

[2021-02-01 18:08] maxceem commented on #1045
Payment task has been updated: https://www.topcoder.com/challenges/14e3c98c-969b-4b45-ab5f-36a86e3aca3c
*Payments Complete*
Winner: cdharmateja
Copilot: maxceem
Challenge `14e3c98c-969b-4b45-ab5f-36a86e3aca3c` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-01 18:08] maxceem commented on #1045
Reopen for tracking.

[2021-02-01 18:09] maxceem commented on #1058
Closing for payment.

[2021-02-01 18:09] maxceem commented on #1058
Payment task has been updated: https://www.topcoder.com/challenges/10f6db49-c7d1-4860-a43a-47b5693486fd
*Payments Complete*
Winner: harishchennupa
Copilot: maxceem
Challenge `10f6db49-c7d1-4860-a43a-47b5693486fd` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-01 18:09] maxceem commented on #1058
Reopen for tracking.

[2021-02-01 19:33] acshields opened #1062 "[$10] Add Spec Template Hyperlinks for Public and Private Specifications"
Update 1
Underneath "Public Specification" header, add in this [hyperlinked] sub-text: "Access specification templates [here: https://github.com/topcoder-platform-templates/specification-templates]"

Update 2
Underneath "Private Specification" header, add in this [hyperlinked] sub-text: "Access specification templates [here: https://github.com/topcoder-platform-templates/specification-templates]"

[2021-02-02 03:57] drasticdpk commented on #1044
Ok noted @maxceem. For prod env , using UI I have verified with one NDA Terms and making this issue as passed. If needed we can re-open it/will create reference issue for it.

[2021-02-02 21:44] ajefts commented on #1062
@ajefts

[2021-02-04 07:32] Sande3p opened #1063 "WIP: TC Design: Work-manger Member Payment"
## Note
Please ignore this issue, it's assigned.

## Env
Sketch

## Resources
Design: https://drive.google.com/file/d/1Pat26ujEa56IaKsa66V3kFaNeQ_aFu10/view?usp=sharing

## Requirements
Design the new payment page. It should be similar to this: https://payment.topcoder.com/
**Dashboard**
The page is going to be part of the existing work-manager https://i.imgur.com/D3UdYGQ.jpg . It should have the

[2021-02-05 09:22] maxceem commented on #1043
Sum up:
Similar to what we've done for Terms https://github.com/topcoder-platform/work-manager/issues/1044
- When we are creating a new challenge, we should apply all the groups of the project which are listed in the `project.groups` array to the challenge. So new challenge has to be created with the same groups as project.
- For now we have to only do this logic if there is `beta=ture` in the URL

[2021-02-05 09:23] maxceem commented on #1043
Challenge https://www.topcoder.com/challenges/aa85c2f4-ef48-494c-9844-b62613ba98e7 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-05 09:38] CDharmateja commented on #1043
I am interested in working on this

[2021-02-05 09:48] maxceem commented on #1043
Challenge https://www.topcoder.com/challenges/aa85c2f4-ef48-494c-9844-b62613ba98e7 has been assigned to cdharmateja.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-07 03:39] coderReview opened #1066 "Saving challenge shows error and won't redirect to previous page"
### Expected behavior
Should save challenge without error.

### Actual behavior
User pvmagacho already has resource with roleId: <id> in challenge: <id>

### Steps to reproduce the problem
- Try to save

### Screenshot/screencast
![image](https://user-images.githubusercontent.com/5925442/107135821-c7da5300-68dc-11eb-9365-bb97a0b008a1.png)

#### Environment
- OS: Any
- Browser (w/version): Any
- Us

[2021-02-08 05:27] vikasrohit commented on #1066
@coderReview Please try refreshing the page and try again, it happens when there is some issue with resource addition/modification. or please get yourself (pvmagacho) removed from from the challenge resources from copilot role and then try again to save the challenge.

[2021-02-08 12:32] drasticdpk commented on #1043
Verified on Dev:

![image](https://user-images.githubusercontent.com/25297859/107219141-c2921b00-6a38-11eb-9f01-01786dbaf08f.png)
![image](https://user-images.githubusercontent.com/25297859/107219347-0d139780-6a39-11eb-9a9c-0688f9e8d708.png)
![image](https://user-images.githubusercontent.com/25297859/107219797-afcc1600-6a39-11eb-88cd-fcd1d6319045.png)

note : Used Project https://challenges.topcod

[2021-02-08 23:24] coderReview commented on #1066
Every time I save the challenge I get this error. I can continue using but still an issue.

[2021-02-09 04:57] vikasrohit commented on #1066
Ok, I guess then you need to ask support to get your self removed from the challenge and then try, if it still does not work for you, please add some details to the issue for reproducing the issue. I would definitely be a bug in that case.

[2021-02-09 06:07] #1063 closed

[2021-02-09 11:14] coderReview commented on #1066
@vikasrohit this happen in all challenges I've created. Every time I tried to update the specfiications and save it again I get the error above. If it was for one challenge or the other ok, but it's always.

[2021-02-10 16:52] vikasrohit commented on #1066
@coderReview I have got it. And in fact my observation was also the same, every time after one update the specs, and then save the challenge, the error is visible.
We would apply fix for it soon.

[2021-02-11 10:06] vikasrohit commented on #1066
@drasticdpk @lakshmiathreya I have pushed this change to production with our today's release. I fixed it last night so didn't get enough time to get it QAed in dev.

[2021-02-11 10:13] drasticdpk commented on #1043
Prod Verified.
**Reference**

![image](https://user-images.githubusercontent.com/25297859/107623171-09725180-6c81-11eb-908c-800b1988aa04.png)

**Challenge**

![image](https://user-images.githubusercontent.com/25297859/107623477-7c7bc800-6c81-11eb-98e1-2eb7f318e4ce.png)

**Task**

![image](https://user-images.githubusercontent.com/25297859/107623637-c1076380-6c81-11eb-9eb5-fc3f07a8d406.png)

**F2F*

[2021-02-11 10:30] drasticdpk commented on #1066
Verified on prod mode.
Tested scenario : At Edit mode , update spec, select/deselect copilot etc.
![image](https://user-images.githubusercontent.com/25297859/107625092-ea28f380-6c83-11eb-802d-5d21c2f5fb5c.png)

Ok noted @vikasrohit .
@coderReview thank you for raising the issue. please let us know if you still get the same issue .
Thank you !

[2021-02-11 10:34] coderReview commented on #1066
Confirmed it's working now. Thank you @vikasrohit @drasticdpk

[2021-02-11 11:20] maxceem commented on #1043
Closing to process the payment.

[2021-02-11 11:45] maxceem commented on #1043
Closing to process the payment.

[2021-02-11 13:10] coderhacker opened #1067 "Work Manager : Blank Page is showing on prod"
### Expected behavior
The blank page should not display when clicking on the back button
### Actual behavior

The blank page is showing on prod. please attached video
### Steps to reproduce the problem
- login with valid user on https://challenges.topcoder.com/.
- Click on profile and go back to the home page.
- The blank page is showing.

### Screenshot/screencast
Attach or link a resource.

http

[2021-02-11 13:58] drasticdpk commented on #1067
@vikasrohit , can you please give permission on ropo to https://github.com/coderhacker. So he can add issue label for his account. cc @lakshmiathreya

[2021-02-11 16:13] coderhacker opened #1068 "[$10] Close button desing issue On confirm Launch dialog box"
### Expected behavior
The close button should have proper alignment.

### Actual behavior
The close button does not have proper alignment
### Steps to reproduce the problem
- Login with WM
- Go to the Draft tab and activate the challenge
- See confirm launch dialog box.

### Screenshot/screencast
Attach or link a resource.
![image](https://user-images.githubusercontent.com/62358241/107664114-178c9

[2021-02-12 03:40] #1066 closed

[2021-02-16 15:21] #807 closed

[2021-02-16 15:22] #900 closed

[2021-02-17 06:29] drasticdpk opened #1069 "Unable to open OR App"
I have created the task from TCx  app(https://x.topcoder.com/). And it shows the Payment was done but I am unable to open that challenge from work manager.

![image](https://user-images.githubusercontent.com/25297859/108164739-7e2e0b80-7119-11eb-8a9e-4c06c4ccac4c.png)

**Reference**

![image](https://user-images.githubusercontent.com/25297859/108164589-2f807180-7119-11eb-8773-6bf79112d4be.png)
![i

[2021-02-17 06:44] callmekatootie opened #1070 "F2F contest creation resulted in closed submission and registration phases"
### Expected behavior

To be able to create a F2F contest without the Registration and Submission Phases being closed on launch

### Actual behavior

Tried to create a F2F contest. Did not get any issues during draft and activation. Opened OR to adjust the timelines - but I am seeing that the registration and submission phases are closed:

![image](https://user-images.githubusercontent.com/2317133

[2021-02-18 00:39] acshields opened #1071 "[$40] Unselect Task "Assign to Me""
**Current Behavior**
Once a user selects "assign to me" for a task, they are unable to undo this task assignment to themselves.

**Expected Behavior**
If the user selects "assign to me" for a task, they should be able to deselect this option.

[2021-02-19 05:23] jmgasper opened #1073 "Can't activate challenge due to error about active billing codes"
### Expected behavior
I am expecting to be able to launch / activate a challenge in WM with a valid billing account attached

### Actual behavior
A billing account appears to be applied to the project in Direct, but the activation is failing in production

### Steps to reproduce the problem

* Challenge (created by TCX): https://challenges.topcoder.com/projects/26872/challenges/6b8be1e7-2ec9-4625-

[2021-02-19 06:38] rootelement commented on #1073
Not sure why.... This challenge has 1 resource:
[code]

I'll dig in the logs to see why.

[2021-02-19 06:48] rootelement commented on #1073
Ok, there are two problems here:
1. A commit got pushed to master that was checking v5 project id. That was only supposed to go to dev. That's backing out right now.
2. Not sure why there is only one resource added. That's still a problem. Still digging.

[2021-02-19 07:28] rootelement commented on #1073
Ok, #2 is sorted. I was requesting with a user jwt, not an m2m and i'm not on the project. Our security works! @jmgasper i think we can close this. I'll let you do that.

[2021-02-19 07:32] jmgasper commented on #1073
Thanks!

[2021-02-19 07:32] #1073 closed

[2021-02-19 09:53] maxceem opened #1074 "Prize sum is calculated wrong way"
![image](https://user-images.githubusercontent.com/146016/108488353-f414ad00-72a8-11eb-8069-9bf3cba4dbe9.png)

This happens if the prize is defined as a string with a float number like:

[code]

[2021-02-19 10:08] maxceem commented on #1074
The calculation has been fixed by ac0842103078039f05bf76065a1678093806569f

Example challenge for testing on DEV http://challenges.topcoder-dev.com/projects/16839/challenges/e4775ec3-d6a9-4e1c-8ce6-4a919d273bfe/view (**DON'T** update it, or you would rewrite the test data).

[2021-02-19 10:13] maxceem commented on #1058
@vikasrohit I guess we can ask QA team to confirm that this can be closed. As we are already using this feature on PROD.

[2021-02-19 10:16] maxceem commented on #1039
This seems to be a duplicate of the already fixed issue https://github.com/topcoder-platform/work-manager/issues/1066.

@lakshmiathreya do you think we can close it? Or should we QA this first?

[2021-02-19 10:20] maxceem commented on #1046
@vikasrohit for now there is technical ability to fix it. See the previous discussion https://github.com/topcoder-platform/work-manager/issues/927#issuecomment-760886943.

What is the best way to go with this?

[2021-02-19 10:29] maxceem commented on #1048
@sdgun I cannot reproduce this issue. Could you please check if you still can reproduce it?

[2021-02-19 10:31] maxceem commented on #1057
@vikasrohit I guess it's a legacy sync issue. I cannot access the examples challenges to debug.

[2021-02-19 10:37] vikasrohit commented on #1057
Yes, agreed.

[2021-02-19 10:45] maxceem commented on #1067
This is a very interesting issue.

If we go back from the member profile we have the error in console:

![image](https://user-images.githubusercontent.com/146016/108493616-317c3900-72af-11eb-98d6-fdd866ce41c8.png)

This is because this request to the member profile is done with `topcoder.com` domain in the header:

![image](https://user-images.githubusercontent.com/146016/108494033-bc5d3380-72af-1

[2021-02-19 10:54] maxceem commented on #917
@vikasrohit looks like Challenge API has been deployed to PROD https://github.com/topcoder-platform/challenge-api/compare/master...develop so we might give it another try.

[2021-02-19 10:56] vikasrohit commented on #917
Yep, we can. But I would like to work on it only when we have its consumers i.e. some app is using the attachments.

[2021-02-19 10:56] vikasrohit commented on #917
@acshields @rootelement  do you know if Community/Forums app is already have code or plans to use the challenge Attachments?

[2021-02-19 10:58] vikasrohit commented on #1058
Yep, I can confirm it. I have used it in my demos. :)

[2021-02-19 10:58] #1058 closed

[2021-02-19 11:02] maxceem commented on #1071
I guess to keep this feature consistent, users should be able to unselect any user which is currently assigned to the task, not only themselves.

The library we are using for showing this select has a feature to show "cross" icon for removing the value:

![image](https://user-images.githubusercontent.com/146016/108496312-8c635f80-72b2-11eb-85f1-29b76fe666e8.png)

Sum up:
- when some user is select

[2021-02-19 11:09] maxceem commented on #1070
@acshields I guess this issue is connected with big updates recently done by James. Only he might know if this possible to fix by `3/12`. As I suspect it could be hard to control time there, I suggest removing it from `3/12` release.

[2021-02-19 11:11] maxceem commented on #1069
@vikasrohit I guess this is something to do with permissions and legacy syncing, so I'm not sure if we can include this into `3/12` release.

[2021-02-19 11:12] #1043 closed

[2021-02-19 11:12] maxceem commented on #1043
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-02-19 11:41] #1045 closed

[2021-02-19 11:41] #1044 closed

[2021-02-19 11:47] vikasrohit commented on #1046
@maxceem I didn't understand the issue itself, can you please explain it bit more if you got it?

[2021-02-19 11:49] vikasrohit commented on #1069
Yes, it was an issue this week which @rootelement already took care of. @drasticdpk can you please confirm, if you are still seeing the issue?

[2021-02-19 11:51] vikasrohit commented on #1039
Yes, it is exactly that issue but it was reported earlier then we found how to reproduce it, so thanks @0xf17 for early feedback.

[2021-02-19 11:51] #1039 closed

[2021-02-19 11:55] maxceem commented on #1046
@vikasrohit this ticket was created based on this issue report https://github.com/topcoder-platform/work-manager/issues/927#issuecomment-759411225. Is short:
- user can see some challenges, but cannot edit/delete them
- for such challenges, we are still showing `Delete` button
- when the user click `delete` we cannot delete the challenge and server returns error, because user doesn't have access t

[2021-02-19 11:56] vikasrohit commented on #1073
@rootelement just for information, did you reverted back the v5 projects api check for fetching BA details in prod? or is it still there?

[2021-02-19 12:00] vikasrohit commented on #1046
Got it, Thanks.

So, what is the technical ability now that can avoid issue of multiple api calls on page load?

[2021-02-19 12:07] maxceem commented on #1046
Sorry, it was a typo. There is `NO` technically ability to achieve this.

[2021-02-19 12:07] vikasrohit commented on #1067
Strange, but I am not able to reproduce it on production for my user account. And I think we are not requesting with the at CORS header, rather it is a Response header.
In case it is still reproducible by many users, I think best way is `no "back" button - no problem` 😬

[2021-02-19 12:13] vikasrohit commented on #1046
Hmm, then I don't think we would like to make 10 API calls to determine the resources of the challenges for this only feature, however, I think we might need that info going forward for multiple such features. If that is true, we can fetch resources for all challenges asynchronously after loading the page, I mean don't block rendering until we have the confirmation about permissions of each challe

[2021-02-19 14:16] rootelement commented on #1073
Reverted out of prod. I didn't mean to push that yet.

On Fri, Feb 19, 2021 at 6:56 AM vikasrohit <notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com/blog / twitter: @Topcoder
<https://twitter.com/topcoder

[2021-02-19 15:43] rootelement commented on #917
I believe Community App will read attachments. I think that needs to be tested. Forums uses their own attachments mechanism, but i don't believe they're reading challenge-api attachments at all. The security on the endpoint for attachments requires you're registered on the challenge as a submitter (or above... copilot, manager, observer) to get the attachments.

[2021-02-19 15:49] acshields commented on #1071
@maxceem - Yes, confirmed. A person should be able to remove a user assigned to a task (whether its themselves or another user). Your workflow above is great!

[2021-02-19 15:52] acshields commented on #1070
@rootelement - This issue was reported this week, and its more than likely related to your changes from this week. I have planned to include it in our 3/1-3/12 fixes, but a couple questions for you:

1. Assuming this is an API change, so it needs to go into your repo?
2. Would this be fixed by 3/12?

[2021-02-19 16:39] acshields commented on #1046
@vikasrohit @maxceem - I would look at next steps like this:

- Could a potential solution for this be in place before 3/12? (i.e. our "bug-fixing/quick improvements" period, before the next round of projects start)
- If not, we will need to write-up a project pitch for this and present it

[2021-02-22 05:54] vikasrohit commented on #1073
Okay, Thanks.

[2021-02-22 05:59] vikasrohit commented on #917
Okay, thanks for the updates @rootelement. @acshields let us know how you want to prioritize it, IMO, we should do it once we have confirmation on the usage of attachments.

[2021-02-22 06:01] vikasrohit commented on #1046
This should be possible to be wrapped before 3/12 @acshields . @maxceem please chime in if you think it I am missing something here.

[2021-02-22 08:35] maxceem commented on #1046
Yes, @vikasrohit we can implement one of the ways which you've suggested above. If we don't need to know challenge permission for other functionalities, then I prefer to check permission only when user tries to delete a challenge following your second suggestion.

When the user click "Delete" in the Challenge List we can show confirmation modal, but show text saying "Checking if you have permissio

[2021-02-22 08:36] drasticdpk commented on #1074
It is showing expected result for API data.
![image](https://user-images.githubusercontent.com/25297859/108682412-5aebcd80-7518-11eb-91fe-eed3fcdf8463.png)

@maxceem , However I want to test different scenario.
What if user copy the prize/copilot fee from somewhere (let's say from google sheet/notepad ), at that time it is only replacing the **.**  which makes wrong calculation, please suggest.
**

[2021-02-22 08:43] maxceem commented on #1074
@drasticdpk I'm not sure what would be good behavior in such a case. What should be expected results of pasting such a number?
1. `75`
2. `75.1` (I guess we don't allow such prizes)
3. nothing?

But this is another issue regarding copy/pasting. If we prefer to fix it, I would suggest tracking it in a separate issue, as the sum calculation is correct `100 + 751 = 851`.