[2020-07-09 11:44] vikasrohit commented on #713
@drasticdpk this is a runtime fix that we have to make after certain recent changes in challenge api and its underlying data models.

[2020-07-15 12:36] vikasrohit opened #717 "Challenge can not be updated with group association"
When trying to save a challenge with a group, it is throwing a server side error.

<img width="940" alt="Screen Shot 2020-07-15 at 6 04 14 PM" src="https://user-images.githubusercontent.com/2417632/87545615-de615880-c6c5-11ea-966d-b8d55ce81dd1.png">

[2020-07-15 13:25] vikasrohit commented on #717
Changes are deployed to production as well.

[2020-07-16 18:49] acshields opened #719 "Topcoder NDA Hyperlink"
Next to the "Enforce NDA" question, display a hyperlinked text that states: "Topcoder NDA" and links to Topcoder's NDA policy.

[2020-07-16 18:52] acshields opened #720 "Update Copy & Answer Format on NDA Question"
**Current Version**
- Copy States: Require NDA
- Answer Format: Checkbox

**Desired Updates**
- Copy States: Enforce NDA
- Answer Format: Yes/No Toggle Button

[2020-07-16 19:05] acshields opened #721 "Copilot Selection and Fee Conditional Logic"
**### Scenario 1**
**Pre-Condition: There is only one user with the Copilot role on the project.**

**Option 1**
**_The user creating the challenge or task is the user with the Copilot role. When this occurs, then:_**
_Copilot Selection_
- The "Copilot" field is displayed under the Advanced Settings "Participants" section
- The "Copilot" field has defaulted to the handle of the user creating the c

[2020-07-16 19:06] #252 closed

[2020-07-16 19:10] acshields opened #722 "Update Reviewer Q&A Copy and Answer Format"
**Current Version:**
- Question Title: Review Type
- Answer Format: Radio Buttons [Community/Internal]

**Desired Updates:**
- Question Title: Reviewer
- Answer Format: Toggle Button [Community/Internal]
Answer Logic: Default to Community.

[2020-07-16 19:57] acshields opened #723 "Update Group Q&A Format, Functionality & Copy"
**Current Version:** When Advanced Settings is clicked in the top section of challenge set-up, a sub-section opens and the Group question is displayed with a dropdown menu.

**Desired Updates:**
- Remove the Advanced Settings and display this question before the Copilot question.
- Update Question Description to be: Intended Work Group
- Update Answer Format to be: Toggle Button [Topcoder Public C

[2020-07-16 20:24] acshields opened #724 "Pre-Populate & Display Connect Project Billing Account Name"
**Current Version:** The Connect Project's Billing Account is not displayed in the Work Manager app.

**Desired Updates:**
- Pre-populate the Billing Account Name that is associated with the Connect Project onto the challenge
- Display the Billing Account Name underneath the Connect Project Name, as follows:
-Field Title: Billing Account
-Pre-Populated Answer: [Billing Account Name]

[2020-07-16 22:34] acshields opened #725 "Change App Name Displayed to Work Manager"
**Current Version:** In the upper right-hand corner of all app screens underneath the Topcoder logo, the app title "Challenge Editor" is displayed.
<img width="171" alt="Screen Shot 2020-07-16 at 5 30 58 PM" src="https://user-images.githubusercontent.com/41118149/87729265-88a2b400-c78a-11ea-9ea6-d654dd55ee08.png">

**Desired Updates:** Replace the app title with "Work Manager" on all screens, as t

[2020-07-16 22:41] acshields opened #726 "Update Copy to "Create New Work""
**Current Version:** On Screen 1 of challenge set-up, the header reads: "Create New Challenge"
<img width="281" alt="Screen Shot 2020-07-16 at 5 37 43 PM" src="https://user-images.githubusercontent.com/41118149/87729676-842acb00-c78b-11ea-8bfa-e9c425c4ce36.png">

**Desired Update:** On Screen 1 of challenge set-up, update the header to read: "Create New Work"

_Note: As some clients will be engagi

[2020-07-16 22:43] acshields opened #727 "Update Button Copy to Read "Continue Set-Up""
**Current Version:** On Screen 1 of challenge set-up, the button at the bottom reads: "Create Challenge"
<img width="707" alt="Screen Shot 2020-07-16 at 5 43 21 PM" src="https://user-images.githubusercontent.com/41118149/87729831-de2b9080-c78b-11ea-880b-a92ee1a194ee.png">

**Desired Update:** On Screen 1 of challenge set-up, update the button to read: "Continue Set-Up"

_Note: As some clients will

[2020-07-17 12:07] vikasrohit opened #728 "Handle recent changes in terms api"
Terms api is updated as per https://github.com/topcoder-platform/terms-service/issues/30

We need to update to comply with the changes.

fyi @mtwomey @acshields

[2020-07-17 13:57] acshields opened #729 "Update Copy to Read "Set-Up Work""
**Current Version:** On Screen 2 of the challenge set-up workflow, the header states "Edit Challenge"
<img width="765" alt="Screen Shot 2020-07-17 at 8 56 11 AM" src="https://user-images.githubusercontent.com/41118149/87793919-87659b80-c80b-11ea-98e3-70a9cc31bf80.png">

**Desired Update:** On Screen 2 of the challenge set-up workflow, update header to read "Set-Up Work"

_Note: As some clients wil

[2020-07-17 14:15] acshields opened #730 "Move Challenge Status Display Location in Set-Up Workflow"
**Current Version:** Challenge status is displayed within the set-up workflow on Screen 2.
<img width="765" alt="Screen Shot 2020-07-17 at 8 56 11 AM" src="https://user-images.githubusercontent.com/41118149/87795591-e7f5d800-c80d-11ea-915b-491f36f0132d.png">

**Desired Update:** Move the challenge status to be displayed underneath the header on Screen 2.

[2020-07-17 14:45] acshields opened #731 "Reinstate Timeline Template Selection & Minimum Capabilities"
**Environment:** In the dev environment, I no longer see anything for timeline on the challenge (template selection, etc.). https://challenges.topcoder-dev.com

**Desired Updates:** Prior to introducing new users (Expert Services, Copilots to this app) we need to reinstate timeline visibility to the set-up workflow. At a bare minimum, timeline presentation and capabilities in Work Manager need to

[2020-07-17 14:55] acshields opened #732 "Enable Add/Remove of Phases in Timeline Templates"
**Current Version:** Due to limitations between the V4 and V5 challenge API features, we cannot support adding or removing of phases from a timeline template.

**Desired Updates:** Identify a solution where a user can add or remove a phase from a timeline template.

[2020-07-17 14:57] acshields opened #733 "Enable Scheduling of Challenges in the Future"
**Current Version:** Work Manager does not have a capability for a user to create and schedule a challenge/F2F/assigned task to be launched at some date and time in the future.

**Desired Updates:** Identify a solution where a user can create a challenge/F2F/assigned task and schedule it to be launched at some date in the future for all timeline template types.

[2020-07-17 15:07] acshields opened #734 "Set-Up Screen 1 Q&A Copy Updates"
### Screen 1 Q&A Copy Updates
- **Question 1 Relabel:** Work Type
- **Q1 Answer Options:** No Changes [Buttons - Design/Development/QA/Data Science]

- **Question 2 Relabel:** Work Format
- **Q2 Answers:** Relabel Dropdown Menu Options
-Challenge
-First 2 Finish Task
-Assigned Task

- **Question 3 Relabel:** Work Name
- **Q3 Answer:** No Changes [Text Entry]

<img width="956" alt="Screen Shot 2020

[2020-07-17 15:48] acshields opened #735 "Primary Set-Up UI: "Basic Details" Section"
### Designs
[Desktop](https://marvelapp.com/prototype/5j0f3f7/screen/75850927) I [Mobile](https://marvelapp.com/prototype/fh8dhd1)

**Header of Section**
- Section Title: "Basic Details"

_Field 1 is a required question/answer._
_Field 1:_ "Type"
_Field 1 Answers [Buttons]:_
-Design
-Development
-Quality Assurance
-Data Science

_Field 2 is a required question/answer._
_Field 2:_ "Format"
_Field 2

[2020-07-17 16:01] acshields opened #736 "Set-Up Screen 2: Create "Work Participants Section""
**Context:** We are creating sections on the set-up screens with labeled headers and grouping related questions within them, to improve the user's experience by increasing their knowledge of a question's purpose and their overall efficiency.

### Change Requests:
- Create a section underneath the Basic Details section, visually designated by a white-box background, with the header labeled "Work Pa

[2020-07-17 16:05] acshields opened #737 "Primary Set-Up UI: "Specifications" Section"
### Designs

### Section Display Order
- "Specifications" section is displayed after the "Participants"
- "Specifications" section is displayed before the "Timeline"

### Section Fields & Functionality
### **Header of Section**
- Section Title: "Specifications"

### **Main Body Question/Answers**
_Field 1 is a required field._
_Field 1:_ Technology Tags
_Field 1 Answer:_ [Responsive Text Entry]

_

[2020-07-17 16:19] acshields opened #738 "Set-Up Screen 2: Create "Work Timeline" Section"
**Context:** We are creating sections on the set-up screens with labeled headers and grouping related questions within them, to improve the user's experience by increasing their knowledge of a question's purpose and their overall efficiency.

**Change Requests:**
Underneath the Work Requirements section, create a new section designated by a white-box background with the label "Work Timeline"
Inclu

[2020-07-17 16:23] acshields opened #739 "Set-Up Screen 2: Create "Work Prizes" Section"
**Context:** We are creating sections on the set-up screens with labeled headers and grouping related questions within them, to improve the user's experience by increasing their knowledge of a question's purpose and their overall efficiency.

### Change Requests:
- Underneath the Work Timeline section, create a new section designated by a white-box background with the label "Work Prizes"
- Include

[2020-07-21 05:52] vikasrohit opened #740 "Can not activate challenge"
When trying to activate a challenge, it is failing now complaining `You cannot activate the challenge as it has not been created on legacy yet. Please try again later or contact support.`

Carrying forward from https://github.com/topcoder-platform/challenge-api/issues/227. Seems like more a issue of Challenge Engine UI itself.

It is not the sync or the legacy processor which doing it. It is Chall

[2020-07-22 11:57] vikasrohit commented on #727
@acshields just want to let you know that challenge is actually created after user hits this button, just in case that requires rethinking for button name change. At least to me `Continue set-up` means something is not created yet but would be created after I finish more setup of the same.

[2020-07-22 12:02] vikasrohit commented on #242
Closing as it seems to be working fine for me. I can see only my groups being returned for the groups api call.

[2020-07-22 12:02] #242 closed

[2020-07-22 12:03] vikasrohit commented on #680
@acshields I would suggest to move it to August.

[2020-07-22 12:05] vikasrohit commented on #675
@acshields we need to move it to August as it needs discussion if challenge api supports the community reviewer fee in prizeSet.

[2020-07-22 12:09] vikasrohit commented on #731
@acshields definitely we need to move it out from July and it might take much longer time to reenable the timeline template selection.

[2020-07-22 12:09] vikasrohit commented on #730
@acshields by header you mean, `Edit Challenge` in the screenshot?

[2020-07-24 11:47] vikasrohit commented on #722
@acshields we don't yet have a UI component for Toggle Button, hence I have kept it as radio button but I have updated the copy as suggested.

[2020-07-27 11:30] vikasrohit commented on #734
@acshields I have done all copy changes except renaming the type options because those are to be done in database and I am not sure if everything works after renaming them. So, I am testing it for now and once I know that it is not affecting the functionality, I would update the databases.

[2020-08-02 16:10] acshields opened #743 "Refactor Work Manager to Display Inside Framing Application"
Refactor Work Manager so that this application displays inside the Framing Application.

[2020-08-05 12:03] vikasrohit opened #744 "Adapt ChallengeManager for recent refactoring in challenge api"
There has been another major refactoring in challenges api (https://github.com/topcoder-platform/challenge-api/issues/242) to improve the overall stability of the api and we need to adapt the UI for the same.

[2020-08-07 19:02] acshields opened #746 "Add "Provide Application Feedback" Capability to Work Manager App"
### Update 1
On the 'all projects dashboard' of challenges.topcoder.com, add a button in the left sidebar with these details:
- Label the button: "Give Application Feedback"
- This button should clickable, but it will not trigger any additional application actions. Instead, this button will serve as an anchor and trigger for a Chameleon survey where the user can provide and submit application feed

[2020-08-11 17:32] acshields opened #747 "Update "Launch Confirmation" Copy"
Please update the copy in on the "Launch Confirmation" pop-up window to read:
Header: "Confirm Launch"
Sub-Text: "Do you want to launch [Title of Challenge/Task]?"

<img width="954" alt="Screen Shot 2020-08-11 at 12 29 29 PM" src="https://user-images.githubusercontent.com/41118149/89929268-a3701900-dbce-11ea-9ffa-c09313c7f8bb.png">

[2020-08-12 17:49] acshields opened #750 "Prize Type Selection"
### Desired End-State
The user can select alternative prize types.

### Update 1
In the prize section on Screen 2 of the work set-up flow, the user should:
- Required Question - "Prize Type": [Dropdown Menu]
-Currency
-Points
-Custom

### Update 2
In the prize section on Screen 2 of the work set-up flow, if the user selected "Currency" as the Prize Type:
- Required Question - "Currency Type": [Tog

[2020-08-13 16:08] rootelement commented on #693
After speaking with @ThomasKranitsas in slack, I see a couple things that have to happen.

1. If the user is creating a task, there should be a field on the Creation/Edit page to Add an "Assignee" which searches all active members.
2. In the list view, there should be two options added:
   - Assign User - This button should be active unless the task is closed
   - Close Task - This button should b

[2020-08-17 04:29] vikasrohit commented on #674
@acshields I have enabled the segment on production, please check if you can see chameleon working for you.

[2020-08-18 08:15] vikasrohit commented on #539
@acshields can we close this?

[2020-08-18 12:49] vikasrohit commented on #728
We didn't need fix in challenge manager, rather it was taken care at challenge api.

[2020-08-18 12:49] #728 closed

[2020-08-18 12:51] vikasrohit commented on #665
It was verified on dev by QA and moved to production as well. Closing.
As reference, it can not be verified as of now because timeline templates field is hidden from UI for now because v4 challenge api does not support timeline edits.

[2020-08-18 12:51] #665 closed

[2020-08-18 22:19] acshields commented on #681
@vikasrohit - Been giving this some thought. My initial reaction was "let's turn off auto-saving for all fields for now."

However, I did think of one "future" development item, which might rely on this capability. Wanted to ask your opinion on whether this capability would be helpful for this future capability, or if it is unrelated.  Here is a brief description of what I am thinking on from the

[2020-08-19 06:07] vikasrohit opened #757 "Quick links for Direct and OR in Challenge View"
As of now we have the link to Direct and OR only on the challenge listing page. Though it is useful, but after the release of v5 to production, people might need a way to locate legacy challenge for a v5 challenge through Challenge Manager. So, it might be a good idea to add these two quick links in the read only view of the challenge to allow users to just hit the deep link with v5 challenge id a

[2020-08-19 08:33] maxceem commented on #693
1. @vikasrohit as suggested by James we should show `Close Task` button on the list. I would also suggest adding such a button on the challenge `edit` page, as a third button here:

![image](https://user-images.githubusercontent.com/146016/90611082-f1a89c00-e20e-11ea-8ef9-f27fa2f0f6a3.png)

2. Should we show a confirmation modal when we click `Close Task` button as this action cannot be undone, an

[2020-08-19 11:58] maxceem opened #760 "Empty list of challenges"
**Describe the bug**
All the list of challenges are empty even though I've created several challenges in the project.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Login at DEV env https://challenges.topcoder-dev.com/ via `pshah_manager` user.
2. Choose any project, for example, this one https://challenges.topcoder-dev.com/projects/16598/challenges
3. Launch a new challen

[2020-08-19 13:08] maxceem commented on #760
The same when I'm using a copilot user `pshah_copilot`:
- Cannot see challenges listed in the project https://challenges.topcoder-dev.com/projects/16599/challenges
- But there is a `Draft` challenge https://challenges.topcoder-dev.com/projects/16599/challenges/6cb0c1e6-cf5f-4160-84c5-7485718a5981/view

[2020-08-19 13:22] vikasrohit commented on #693
Good questions @maxceem

1. Yes, we need a button at edit page as well. However, the current display and cadence of the buttons is not optimal yet. We are thinking of improving it because it is confusing as of now. We don't have a way to update a challenge without moving it to Draft status which causes too much work for legacy processors and increases the possibility of inconsistencies. So, I woul

[2020-08-19 13:26] maxceem commented on #693
@vikasrohit

Do you mean not doing refactoring of the list view as was mentioned by James, or do you mean that we shouldn't even add `Assign User` button the list and only add it to the `edit` page for now?

[2020-08-19 15:11] acshields opened #761 "Cannot Proceed w/ Set-Up"
Was testing Work Manager in PROD (challenges.topcoder.com) and was unable to progress beyond the first set-up screen where I provide Type/Format/Title. I tried refreshing + multiple combinations, and everytime I clicked "Continue Set-Up" nothing happened.

Here are the details:
Browser: Chrome
Environment: Production
Project: https://challenges.topcoder.com/projects/24943/challenges

I can provide

[2020-08-19 15:14] acshields commented on #761
@vikasrohit @maxceem - Can you look at this issue to see if there is a quick fix? I have a demo tomorrow with the Expert Services team at Topcoder, but it won't be much of a demo if I can't get past the first screen. lol.

[2020-08-19 16:50] maxceem commented on #761
@acshields could you, please, add me to the `Topcoder` team to that project you have an issue with, so I could try to have a look? My handle is `maxceem`.

Meanwhile, you might try creating a challenge in this project https://challenges.topcoder.com/projects/24182, I've tried and I could manage to create a new challenge successfully.

Screen recording would be definitely helpful, especially if you

[2020-08-20 10:02] vikasrohit commented on #693
Yes, both. Lets not touch the list view for now. We would have the functionality in edit view anyway. I don't want to spend time in adding features to list view before the real designs come.

[2020-08-20 10:32] maxceem commented on #693
@vikasrohit done via https://github.com/topcoder-platform/challenge-engine-ui/pull/762

[2020-08-24 11:09] vikasrohit commented on #761
@maxceem the root cause for @acshields not able to move forward was because of roles that challenge api honors. Challenge api only allows admins or `copilot` to be able to use the api for creating challenge as of now.

[2020-08-24 12:48] vikasrohit commented on #673
@maxceem it seems like once you select a member to be assigned and wanted to edit the user, you can not do it without starting from first character. I mean, lets say you selected `maxceem-dev` first and then you wanted to change it to `maxceem`. I am not able to do that by removing the `-dev` from the auto select box rather it just starts from first character. It is not a P0 or P1 but if it is a q

[2020-08-24 21:23] acshields commented on #539
@vikasrohit - Yes, we can close this.

[2020-08-24 21:24] acshields commented on #728
@vikasrohit - Noted! Thanks.

[2020-08-25 10:20] #722 closed

[2020-08-25 10:20] #727 closed

[2020-08-25 10:20] #726 closed

[2020-08-25 10:20] #729 closed

[2020-08-25 10:22] #725 closed

[2020-08-25 10:22] #734 closed

[2020-08-25 10:23] #597 closed

[2020-08-25 10:23] #672 closed

[2020-08-25 10:24] #713 closed

[2020-08-25 10:24] #717 closed

[2020-08-25 10:24] #682 closed

[2020-08-25 10:24] #706 closed

[2020-08-25 10:24] #688 closed

[2020-08-25 10:25] #668 closed

[2020-08-25 10:25] #666 closed

[2020-08-25 10:25] #678 closed

[2020-08-25 10:25] #707 closed

[2020-08-25 10:26] #694 closed

[2020-08-25 10:26] #709 closed

[2020-08-25 10:26] #705 closed

[2020-08-25 10:26] #696 closed

[2020-08-25 10:26] #684 closed

[2020-08-25 10:27] #708 closed

[2020-08-25 10:27] #685 closed

[2020-08-25 10:27] #683 closed

[2020-08-25 10:27] #687 closed

[2020-08-25 12:07] #539 closed

[2020-08-27 11:09] vikasrohit opened #763 "Hide Launch as Active button until challenge is saved in Draft status"
Currently we are showing both the buttons in the edit challenge form which confuses users because many times they tend to hit the `Launch as Active` directly after creating the new challenge which fails because challenge is not in legacy still.

Solution: We can hide the `Launch as Active` button till the project is saved as draft.

[2020-08-27 11:35] vikasrohit opened #764 "Remove terms API call as it is throwing 403 on page load"
On page load we are making a call to populate the available terms for associating with challenges. However with https://github.com/topcoder-platform/challenge-engine-ui/issues/264, we have stopped giving options for selecting the terms for the challenge, so this terms data is not useful as of now. Further it is throwing 403 for admins which confuses them with other possible errors in the system.

[2020-08-27 11:38] vikasrohit commented on #681
@acshields I don't think the having sections with their own `Confirm` button can be benefitted with Auto save feature. In fact it is exact opposite to the Auto Save i.e. when we have the `Confirm` button at each section, we don't need Auto Save at all. To me, auto save is always confusing.

[2020-08-27 15:06] acshields opened #765 "Markdown Preview"
Enable a user to preview the public and private specifications in markdown, by clicking a "Preview" button by each specification field.

[2020-08-27 15:19] acshields opened #766 "Enable Private Specification"
Enable the Private Specification markdown field.

- This field should be displayed in the "Work Specifications Section" underneath the Public Specification.
- Private Specification should only be viewable to users who have registered for the challenge/task.

[2020-08-28 08:25] vikasrohit commented on #766
@acshields I don't get the condition for displaying private specs. I mean I get this condition (only registered members for the challenge/task) can see the private specs on the community site but in Challenge Manager, I don't we should be allowing registered members to even view a challenge, only copilot of the challenge/task and admins should be able to view challenge. And that is automatically t

[2020-08-31 08:18] maxceem opened #767 "Information is not visually updated after clicking "Save" button."
ChallengeEditor component to reflect the updated information of the challenge after `Save` operation. As of now it does not update the UI and you have to refresh the page. That is happening because it is not using the redux state correctly. It was using unmount/unlisten event handlers earlier which I removed to avoid non standard practices.

[2020-08-31 08:24] maxceem commented on #767
@vikasrohit done via PR https://github.com/topcoder-platform/challenge-engine-ui/pull/768

[2020-08-31 16:36] acshields commented on #681
@vikasrohit - Noted! I agree with you. In that case, we can remove auto-saving from all fields.

[2020-08-31 18:53] acshields opened #769 "Set-Up Screen 2: Create "Scorecard" Section"
**Context:** We are creating sections on the set-up screens with labeled headers and grouping related questions within them, to improve the user's experience by increasing their knowledge of a question's purpose and their overall efficiency.

### Section Display Order
Underneath the Requirements section, create a new section designated by a white-box background with the label "Scorecard"

### Sect

[2020-08-31 19:47] codejamtc opened #770 "Two loading buttons displayed when switch between the tabs"
[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5152326/1.zip)

### Steps to reproduce the problem

- Open https://challenges.topcoder-dev.com/ and login as Admin
- Select a project from the list 'Test v5 {codejam} - 0001'
- Switch between the tabs (Active, New, Draft and Completed)

### Expected behavior
- Two loading buttons displayed when switching between the tabs

### A

[2020-08-31 19:49] codejamtc opened #771 "'Track' name 'Quality Assurance' is not displayed in a single row"
![image](https://user-images.githubusercontent.com/42398485/91760580-36322100-eb99-11ea-8f3f-b8059edf4325.png)

### Steps to reproduce the problem

- Open https://challenges.topcoder-dev.com/ and login as Admin
- Select a project from the list 'Test v5 {codejam} - 0001'
- Go to the Draft Tab
- Select a Task, Challenge or F2F of the QA Track

### Expected behavior
- 'Track' name 'Quality Assurance'

[2020-08-31 19:52] codejamtc opened #772 "No space between the buttons (Direct/Online Review) and (Edit/Back)"
![image](https://user-images.githubusercontent.com/42398485/91760810-988b2180-eb99-11ea-942a-619965e2e20b.png)

### Steps to reproduce the problem

- Open https://challenges.topcoder-dev.com/ and login as Admin
- Select a project from the list 'Test v5 {codejam} - 0001'
- Go to the Draft Tab
- Select a Task, Challenge or F2F of the QA Track
- Check the buttons (Direct/Online Review) and (Edit/Back

[2020-08-31 19:56] codejamtc opened #773 "User can't cancel the 'Switch Project' dropdown; if user wants to be on the already opened project"
[2.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5152374/2.zip)

![image](https://user-images.githubusercontent.com/42398485/91761254-3121a180-eb9a-11ea-832a-fad96dd3bdae.png)

### Steps to reproduce the problem

- Open https://challenges.topcoder-dev.com/ and login as Admin
- Select a project from the list 'Test v5 {codejam} - 0001'
- Type 'ab' and remove the text (It will s

[2020-08-31 20:43] codejamtc opened #774 "Challenge name is not updated on the table after editing it"
[3.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5152566/3.zip)

### Steps to reproduce the problem

- Open https://challenges.topcoder-dev.com/ and login as Admin
- Select a project from the list 'Test v5 {codejam} - 0001'
- Go to Draft Tab and click on a challenge
- Click 'Edit'
- Change the challenge name and click Save Draft
- Click 'View Challenge' from the popup
- Click

[2020-08-31 22:28] codejamtc opened #775 "Should remove 'Direct/Online Review' from the Create New Work page"
![image](https://user-images.githubusercontent.com/42398485/91774856-5ff64280-ebaf-11ea-8b4f-68a4e545f88a.png)

### Steps to reproduce the problem

- Open https://challenges.topcoder-dev.com/ and login as Admin
- Select a project from the list 'Test v5 {codejam} - 0001'
- Click 'Launch New'
- Click 'Direct/Online Review'

### Actual behavior
- No use of 'Direct/Online Review' links on the Create N

[2020-08-31 22:50] codejamtc opened #776 ""Please fix the errors before saving" is displayed when user tries to activate the challenge but can't figure out the field that has the error"
![image](https://user-images.githubusercontent.com/42398485/91776183-781b9100-ebb2-11ea-8465-e4efb5a9a196.png)

[5.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5152980/5.zip)

### Steps to reproduce the problem

- Open https://challenges.topcoder-dev.com/ and login as Admin
- Select a project from the list 'Test v5 {codejam} - 0001'
- Go to Draft and select a QA Task
- Click

[2020-08-31 22:53] codejamtc opened #777 ""Prize amounts should be from 0 to 1000000" is not display near the Prize field"
![image](https://user-images.githubusercontent.com/42398485/91776366-e2343600-ebb2-11ea-8416-70d6f5ca26bc.png)

### Steps to reproduce the problem

- Open https://challenges.topcoder-dev.com/ and login as Admin
- Select a project from the list 'Test v5 {codejam} - 0001'
- Go to Draft and select a QA Task
- Click 'Edit' https://challenges.topcoder-dev.com/projects/16604/challenges/f6741d0c-94e8-41f

[2020-08-31 22:59] codejamtc opened #778 "Sometimes user can save a draft without a Public specification"
![image](https://user-images.githubusercontent.com/42398485/91776760-b6fe1680-ebb3-11ea-94fa-340cfd3e0f2f.png)

[6.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5153006/6.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Go to Draft and select a QA Task
4. C

[2020-08-31 23:13] codejamtc opened #779 "No basic validation displayed for mandatory fields such as Prize, Tag and Public specification"
[7.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5153088/7.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Click 'Launch New'
4. Select Work Type=Design; Format=Challenge; Name=Test
5. Click 'Continue Set-Up'
6. Click 'Save Draft'

### Actual behavior
- No

[2020-09-01 00:07] codejamtc opened #780 "Should define a character limitation for Final Deliverables"
![image](https://user-images.githubusercontent.com/42398485/91780423-2d534680-ebbd-11ea-9ed3-3329d4667b5e.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Click 'Launch New'
4. Select Work Type=Design; Format=Challenge; Name=Test
5. Click 'Continue Set-Up'
6. Go to 'Final Delive

[2020-09-01 17:27] codejamtc opened #781 "Can add duplicates to the Final Deliverables"
![image](https://user-images.githubusercontent.com/42398485/91886091-73a4b600-ec4e-11ea-82fb-5f326b86607d.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Click 'Launch New'
4. Select Work Type=Design; Format=Challenge; Name=Test
5. Click 'Continue Set-Up'
6. Go to 'Final Delive

[2020-09-01 19:15] codejamtc opened #782 "Final Deliverables are not getting saved"
[8.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5158325/8.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Click 'Launch New'
4. Select Work Type=Design; Format=Challenge; Name=Test
5. Click 'Continue Set-Up'
6. Go to 'Final Deliverables'
7. Enter "JPG' an

[2020-09-01 19:49] codejamtc opened #783 "'Maximum Number of Submissions' is not displayed correctly on the draft challenge page"
![image](https://user-images.githubusercontent.com/42398485/91899002-2c282500-ec62-11ea-8c05-3f163615732c.png)

![image](https://user-images.githubusercontent.com/42398485/91899079-4235e580-ec62-11ea-8697-0e5d452961ff.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Click 'Launc

[2020-09-01 19:51] codejamtc opened #784 "Can enter decimals into 'Maximum Number of Submissions'"
![image](https://user-images.githubusercontent.com/42398485/91899297-8b863500-ec62-11ea-8c0f-8f500ddb2e00.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Click 'Launch New'
4. Select Work Type=Design; Format=Challenge; Name=Test
5. Click 'Continue Set-Up'
6. Set Maximum Number

[2020-09-01 20:16] codejamtc opened #785 "Click on the edit button will update the 'Last Saved' Date and time"
[9.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5158577/9.zip)

![image](https://user-images.githubusercontent.com/42398485/91901579-0dc42880-ec66-11ea-9f9d-c128bcdb95fc.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Click on a very old challenge
4. Clic

[2020-09-01 20:25] codejamtc opened #786 "Can enter '$0' as the Challenge Prizes even though the validation is displayed as "Prize amount must be more than zero""
[10.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5158614/10.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Create a Design challenge
4. Enter Prize 1=100; > Click 'Add New Prize' > Enter Prize 2=50 > Click 'Add New Prize'
5. Change the Prize 03=$0 (You c

[2020-09-01 21:23] codejamtc opened #787 "Invalid search result displayed when search a project via any text"
[11.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5158934/11.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Type 'ok' on the Switch project textbox
4. Check the result (Ok, qq)
5. Click on the Project:qq and check any text related to Ok

### Actual behavi

[2020-09-01 21:30] codejamtc opened #788 "Switch Project keyword is not cleared after selecting a project from the list"
![image](https://user-images.githubusercontent.com/42398485/91907982-731d1700-ec70-11ea-8eba-84f4ef15351a.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Type 'ok' on the Switch project textbox
4. Select Project: Ok
5. Check the textbox

### Actual behavior
- Switch Project key

[2020-09-02 08:00] vikasrohit commented on #786
@codejamtc I didn't understand the issue fully. Are you suggesting that we should support setting 0 as prize money OR are you saying that you are able to set 0 as prize money despite the validation error being shown?

[2020-09-02 08:06] vikasrohit commented on #785
@codejamtc I think search is working as expected. It searches for anything with the text. I can random text in the description of project `qq` and that random text has `ok` multiple times.

[2020-09-02 08:07] vikasrohit commented on #783
Good catch @codejamtc

@rootelement I think it is issue with legacy processor, do you want us to create separate issue in its repo?

[2020-09-02 11:52] vikasrohit commented on #774
@maxceem I think it is related to the fix we made for stale UI reported in https://github.com/topcoder-platform/challenge-engine-ui/issues/767. I think it should be quick fix, if it takes more time because it requires lot of refactoring, then I would move it to the next release.

[2020-09-02 11:55] vikasrohit commented on #772
I think we won't fix it because we have to implement a new better designs anyway. But still keeping it in next release to keep track of it.

[2020-09-02 11:56] vikasrohit commented on #771
I think we won't fix it because we have to implement a new better designs anyway. But still keeping it in next release to keep track of it.

[2020-09-02 11:57] vikasrohit commented on #770
I think we won't fix it because we have to implement a new better designs anyway. But still keeping it in next release to keep track of it.

[2020-09-02 12:22] drasticdpk opened #789 "Sync Project between Connect App and Challenge Manager"
**To Reproduce / Actual Behavior**

- Login with copilot account on Connect App and Challenge Manger App.
- Here only Active project are listed on CM App. So copilot has to wait until project became Active status but they already got the access on the project at Connect App.

**Expected behavior**
Once copilot onboard on Connect App, he/she must have access to the respective project on Challenge M

[2020-09-02 14:08] codejamtc commented on #786
@vikasrohit Able to set 0 as prize money despite the validation error being shown

[2020-09-02 14:11] codejamtc commented on #785
@vikasrohit Your comment is related https://github.com/topcoder-platform/challenge-engine-ui/issues/787?

[2020-09-02 20:07] codejamtc commented on #774
@maxceem @vikasrohit Is the fix https://github.com/topcoder-platform/challenge-engine-ui/issues/767 already deployed to the `development` environment?

[2020-09-03 07:24] vikasrohit commented on #774
yes

[2020-09-03 08:30] vikasrohit commented on #787
@codejamtc I think search is working as expected. It searches for anything with the text. I can random text in the description of project qq and that random text has ok multiple times.

[2020-09-03 08:30] #787 closed

[2020-09-03 12:55] codejamtc commented on #774
@vikasrohit After editing I still can't see the edited data on the details page

[2020-09-03 19:14] codejamtc opened #795 "Some details are not carried to the Direct"
[12.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5170709/12.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Create a Project with Copilot, Copilot Fee, NDA etc - https://challenges.topcoder-dev.com/projects/16604/challenges/e0ee3f7c-7de5-4ff1-977a-169dc4f

[2020-09-04 07:51] vikasrohit commented on #774
It might be a temporary glitch while I was trying another build to be deployed in dev which does not have those changes. But as of now it seems to be working fine for me. Can you please try again?

[2020-09-04 11:02] vikasrohit commented on #673
Okay, got it. I think better to delay that until we have new designs and requirements.

[2020-09-04 11:06] vikasrohit commented on #673
@drasticdpk @codejamtc marked it ready for qa, however, there are some known issues/facts around this feature. @maxceem could you please describe in summary and link what are the issues faced from api endpoint for this feature?

[2020-09-04 11:09] vikasrohit commented on #693
@drasticdpk @codejamtc marked it ready for review, however, there are certain known facts and issues with this fetaure. @maxceem could you please describe and link the api/legacy processor issues which are preventing this feature to work successfully.

[2020-09-04 11:15] maxceem commented on #693
- Button to close the task added to the edit page, but not the list, as confirmed by Vikas https://github.com/topcoder-platform/challenge-engine-ui/issues/693#issuecomment-677504044

   - `Close Task` button is only showed **after** the challenge is activated as clarified by Vikas https://github.com/topcoder-platform/challenge-engine-ui/issues/693#issuecomment-676348881

   ![image](https://user-i

[2020-09-04 15:03] codejamtc commented on #777
"Prize amounts should be from 0 to 1000000" validation message is removed now only the "Prize amount is required field" displayed near the field  🆗

[2020-09-04 17:13] codejamtc commented on #693
URL: https://challenges.topcoder-dev.com/projects/16604/challenges/c0db7bbb-9437-49ad-9c8e-ce513e187517/edit

- `Close Task` button is displayed on the edit page only  🆗
![image](https://user-images.githubusercontent.com/42398485/92264907-98926680-eea4-11ea-80e8-792367dce6d7.png)

2. As not all the fields which are needed to close a task are required in the form, I've added an error message which

[2020-09-04 17:32] codejamtc commented on #673
1. On Screen 1 of the challenge set-up workflow, a user should be able to select the following challenge types:  🆗

- Challenge
- First 2 Finish Task
- Assigned Task

2. On Screen 2 of the challenge set-up workflow, if a user has chosen Assigned Task they should see a question above the Copilot question, which functions as follows:

-Question Label: Assigned Member
-Answer Format: [Responsive Text

[2020-09-07 07:27] maxceem commented on #693
@codejamtc 2 and 3 are caused by another issue https://github.com/topcoder-platform/challenge-engine-ui/issues/776. It's not fixed yet, though it shouldn't happen for new challenges, only for old challenges.

Could please create a new challenge (Task) to verify this ticket.

[2020-09-07 07:30] maxceem commented on #673
@vikasrohit there should be no crucial limitations, it should work good.

@codejamtc are you facing any issues with this feature?

[2020-09-07 08:17] maxceem commented on #782
@vikasrohit this data is not being saved yet to API. As per swagger, there is no special place for final deliverables or file types.
Should we put it to `metadata`? Can we name as we want, or is there any specification for this?

[2020-09-07 14:10] codejamtc commented on #673
@maxceem Sorry No, I will mark it as `QA Pass`

[2020-09-07 16:46] codejamtc commented on #693
@maxceem Please check the video for the new task
[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5184074/1.zip)

[2020-09-08 06:20] vikasrohit commented on #760
@maxceem we can close this one, right? (with known limits for tasks not being returned if they are assigned to other users)

[2020-09-08 06:23] vikasrohit commented on #463
@acshields closing the issue as it is no more relevant with current application state. We don' have any link in the left panel as of now.

[2020-09-08 06:23] #463 closed

[2020-09-08 06:27] vikasrohit commented on #681
@acshields do you want to remove auto updates right away or should we wait until we start implementing the real designs? For now I am reducing its priority and moving to October release.

[2020-09-08 06:29] vikasrohit commented on #338
@drasticdpk @codejamtc we didn't made any changes for this one, however, it should be working fine because the issue was created long back and application has gone multiple refactoring after that and there is no such issue observed in recent days.

[2020-09-08 06:32] vikasrohit commented on #740
Fixed the cause of the issue by opting for `just pass the legacy object as it is coming from the GET response, with updates (if any that user makes - I guess only reviewType is the only thing that can be changed)`.
No QA needed for that. Further, there still might be some problems in sync or legacy apis which might be causing the problems in activation of a challenge but the cause mentioned in thi

[2020-09-08 06:33] #740 closed

[2020-09-08 06:34] vikasrohit commented on #689
Closing as it not reproducing now. @ThomasKranitsas please feel free to reopen if you are still seeing the issue.

[2020-09-08 06:35] vikasrohit commented on #689
@drasticdpk @codejamtc it would be great if we can verify it once before closing.

[2020-09-08 06:47] vikasrohit commented on #779
<img width="715" alt="Screen Shot 2020-09-08 at 12 16 53 PM" src="https://user-images.githubusercontent.com/2417632/92442262-318aef80-f1cd-11ea-8c28-f0e873a51fd5.png">
@maxceem it seems the validation is always visible no matter if user has altered the field or not. We don't have this behaviour for any other field.

[2020-09-08 06:50] vikasrohit commented on #765
@acshields there is already a Preview button in the editor which shows the markdown preview and in fact in non preview mode, it shows the actual formatting of the text as per markdown command e.g. just try to enter `#` and you would notice that it made the text a page heading, trying `##` would make second to page heading and so on. Do you need any thing else here?

[2020-09-08 10:31] maxceem commented on #760
Yes, @vikasrohit. Now I can see challenges by a non-admin user.

[2020-09-08 10:37] maxceem commented on #779
@vikasrohit yeah, validation inside this component was implemented like this, I've just added one more rule so it's now revealed its behavior. I can fix it to behave like other components.

[2020-09-08 10:57] vikasrohit commented on #747
@acshields do you want the challenge title to be in quotes or something?

[2020-09-08 12:04] vikasrohit commented on #693
@maxceem Did you get chance to look at what is causing the symptoms of #776 for a new task?

[2020-09-08 12:12] maxceem commented on #693
I couldn't reproduce it yet. As per @codejamtc video from comment https://github.com/topcoder-platform/challenge-engine-ui/issues/693#issuecomment-688432395 there are many other issues, including #776 but the way it's reproduced there is very complicated. I would give it a try one more time.

[2020-09-08 12:31] codejamtc commented on #689
@vikasrohit When editing a challenge I can see the `Direct` and `OR` links are working

[2020-09-08 14:29] maxceem commented on #680
Done via https://github.com/topcoder-platform/challenge-engine-ui/pull/796

[2020-09-08 14:38] maxceem commented on #779
@vikasrohit this https://github.com/topcoder-platform/challenge-engine-ui/issues/779#issuecomment-688655529 is fixed via https://github.com/topcoder-platform/challenge-engine-ui/pull/797

[2020-09-08 14:43] maxceem commented on #693
@vikasrohit I've tried to reproduce #776 playing with `internal` reviewer but still cannot reproduce it again even once.

[2020-09-08 14:51] maxceem commented on #693
@codejamtc regarding the issue you have during `launching` the challenge. It looks like it happens if we lunch the challenge too fast after creating.

![image](https://user-images.githubusercontent.com/146016/92492040-965d3e80-f1fb-11ea-997c-611781cd7de5.png)

Could you please, try to create a new challenge, but wait 5-10 minutes before clicking `launch as active`. And then try to validate this is

[2020-09-08 15:08] vikasrohit commented on #786
@maxceem I moved this one from October to September release just because you already some validation fixes for the same field in #777 and assuming that it might be quick fix which we can wrap early.

[2020-09-08 15:11] maxceem commented on #786
@vikasrohit yes, I've already fixed this issue as a part of #777. So I'm marking it as Ready for QA.

[2020-09-09 08:10] maxceem opened #798 "Challenge is not added to the list after creating"
Related to https://github.com/topcoder-platform/challenge-engine-ui/issues/774

### Steps to reproduce the problem

- Open https://challenges.topcoder-dev.com/ and login as Admin
- Select a project from the list 'Test v5 {codejam} - 0001'
- Go to **New Tab**
- Click **Launch New**
- Fille Challenge Type, Format and Name (any values)
- Click **Continue Set-Up**
- Now click **Back** button to go bac

[2020-09-09 08:12] maxceem commented on #774
@vikasrohit there is another related issue which causes functionality implemented in this issue to break https://github.com/topcoder-platform/challenge-engine-ui/issues/798. Would like me to also fix the issue during creating?

[2020-09-09 08:31] vikasrohit commented on #782
Yes, I think we need to use `metadata` for that, but I am not sure if there is a defined key for that. If that information is not in swagger, we need help from @rootelement for this.

[2020-09-09 13:05] vikasrohit commented on #798
Good catch @maxceem

[2020-09-09 13:05] vikasrohit commented on #774
Yes, please. Thanks for identifying the bug.

[2020-09-09 13:11] vikasrohit commented on #795
@codejamtc can you please explicitly mention in the ticket which all fields are missing in the sync?

[2020-09-09 15:48] acshields commented on #770
@vikasrohit @codejamtc - Yes, agreed that we won't fix for now. In the future, I am not sure we will even need this screen in Work Manager because I am planning to incorporate a "created challenge/task" view into Projects app, so the context for everything that has been created for that project is containerized inside the project's UI.

[2020-09-09 15:49] acshields commented on #771
@vikasrohit - Yes, let's keep this logged in October for now and see whether the new UI/UX will resolve this issue.

[2020-09-09 15:50] acshields commented on #772
@vikasrohit - I agree with logging this in October project for tracking purposes, and our new UI/UX should resolve this.

[2020-09-09 15:52] acshields commented on #773
@vikasrohit - We can log this in October for now, but I don't think that this is an issue we will need to resolve. In my mind, the future workflow would have a user return to Projects App if they need to switch to a different project and we will not have this screen/capability in Work Manager at all.

[2020-09-09 15:54] acshields commented on #775
@vikasrohit - agreed that these buttons should be removed at this stage of set-up.

[2020-09-09 16:02] acshields commented on #788
@vikasrohit - as with the other found issues on this screen, we can log it in October for now. However, I am not sure we will fix this as this screen may go away altogether and be replaced with project-switching in Projects App, and a table-view of all created challenges/tasks inside the project.

[2020-09-09 16:06] acshields commented on #789
@vikasrohit @drasticdpk - My thought here on a future update: If a project is not in Active status and any user who has permissions to view Work Manager sets-up a challenge/task, then the project status would automatically update to Active at that time. So, in essence, lift the requirement for the project to be "Active" to complete a challenge/task set-up, and instead we can use a challenge/task s

[2020-09-09 16:45] codejamtc commented on #795
@vikasrohit

- https://challenges.topcoder-dev.com/projects/16604/challenges/7f5f2fe6-b9ff-4def-bd44-5de0713ae806/view
- https://www.topcoder-dev.com/direct/contest/detail?projectId=30057030

**Missing**

- NDA is
- Copilot
- Assign Member(s)
- Copilot Fee

[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5196723/1.zip)

[2020-09-09 19:43] codejamtc commented on #747
![image](https://user-images.githubusercontent.com/42398485/92645677-cfa0b780-f2aa-11ea-8a98-06988a1a20ba.png)

[2020-09-09 20:41] codejamtc commented on #693
@maxceem It's working

As you mentioned on the comment I am getting `Member with userId: 23278999 is not registered on the challenge`

![image](https://user-images.githubusercontent.com/42398485/92652643-da5f4a80-f2b2-11ea-8863-f23e08b01a7d.png)

[2.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5197866/2.zip)

[2020-09-10 05:33] vikasrohit commented on #789
Or Connect App user must follow the process and make project Active state while onboarding the Copilot on connect app.
We can add one more validation where system should allow to activate the challenge for only Active project.

I agree with @drasticdpk for all 3 points. In fact we need all 3 to be implemented.

@acshields personally I don't prefer the automatic things happening behind the scene as

[2020-09-10 05:40] vikasrohit commented on #788
No worries, we would keep it for tracking purposes to make sure that we don't have the same issue with new designs as well.

[2020-09-10 05:48] vikasrohit commented on #757
Yes, @codejamtc. I have intentionally did that as I found it useful from edit screen as well, though it caused them to be rendered on the challenge creation screen as reported by #775 which we would handle separately.

[2020-09-10 05:51] vikasrohit commented on #693
Good idea @codejamtc, I think we can close this one and log a new issue for the issue we are facing from server side. That would clear the picture that UI features are done by something is pending from server side.

[2020-09-10 07:56] maxceem commented on #798
@vikasrohit done via PR https://github.com/topcoder-platform/challenge-engine-ui/pull/799

I've noticed more situations to take care of when we are updating the challenge: during updating the challenge, the challenge might change its status, so we might have to remove it from the challenge list or add it to the challenge list depends on the new status and tab filter. It's also included in the PR.

[2020-09-10 13:06] codejamtc opened #800 "Getting 'Member with userId: 23278999 is not registered on the challenge' when user tries to close a Task"
As you mentioned on the [comment ](https://github.com/topcoder-platform/challenge-engine-ui/issues/693#issuecomment-687082375) I am getting `Member with userId: 23278999 is not registered on the challenge`

![image](https://user-images.githubusercontent.com/42398485/92652643-da5f4a80-f2b2-11ea-8863-f23e08b01a7d.png)

[2.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5197866/2.

[2020-09-10 13:07] codejamtc commented on #693
server-side issue is tracked by https://github.com/topcoder-platform/challenge-engine-ui/issues/800

[2020-09-10 13:52] codejamtc opened #801 ""Launch Challenge Confirmation" popup is not closed when user tries to activate a challenge/task or F2f from the listview"
[3.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5202060/3.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Click 'Activate' from the challenge
4. Click 'Confirm'

### Actual behavior
- "Launch Challenge Confirmation" popup is not closed when the user tries

[2020-09-11 06:35] vikasrohit opened #802 "Challenge phase is not updated in listing page"
Even though the Active challenge has a current active phase, the listing page always shows the challenge as stalled in the phase column.

<img width="923" alt="Screen Shot 2020-09-11 at 12 03 51 PM" src="https://user-images.githubusercontent.com/2417632/92875795-013e8d80-f427-11ea-9bc6-95b9a48a7953.png">

[2020-09-11 06:36] vikasrohit commented on #802
fyi @acshields @lakshmiathreya as per our discussion in yesterday's call.

[2020-09-11 11:00] vikasrohit commented on #801
@codejamtc can you please share the console logs as well? I don't see them in the video.

[2020-09-11 11:04] vikasrohit commented on #798
Thanks @maxceem for that. However, if we would have the capacity to rewrite the code, I think we didn't need to handle these specific cases on adhoc basis, right? I mean if everything was handled via redux states, landing on the listing page would have refreshed the list automatically. I  don't remember we doing the similar adhoc handling in Connect.

[2020-09-11 11:28] maxceem commented on #798
Yes, @vikasrohit all the various situations are already handled in the PR.

[2020-09-11 11:32] vikasrohit commented on #798
I just meant that the PR is not handling the various situations via adhoc code and instead it would require more changes to refactor the direct api calls to redux action so that all the situations are automatically taken care. And I found that the PR is doing as expected, so we are good.

[2020-09-11 12:26] codejamtc commented on #801
@vikasrohit No console log entries while we are clicking on the submit button; log attached
[challenges.topcoder-dev.com-1599827157235.txt](https://github.com/topcoder-platform/challenge-engine-ui/files/5208907/challenges.topcoder-dev.com-1599827157235.txt)

[2020-09-11 20:02] codejamtc opened #804 "After activating the challenge user can't save details again"
[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5211316/1.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Create a challenge with Copilot, Copilot Fee, NDA etc
4. Wait 1 min and activate the challenge
5. Now after few mins click on the same challenge from

[2020-09-11 20:10] codejamtc commented on #798
[2.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5211336/2.zip)

[2020-09-14 07:33] drasticdpk opened #805 "Invalid search functionalities."
**To Reproduce / Actual Behavior**

- Login to app.
- Search the project with Text "DummyText " (with space char at end of the search text)

**Expected behavior**
- Should not list any project.
- Text should be trimmed (at Client and server/API side) before pulling the data from DB.

**Screenshots or Video**

![image](https://user-images.githubusercontent.com/25297859/93056225-dd2fb600-f68b-11ea-8

[2020-09-14 07:50] vikasrohit commented on #805
@drasticdpk the search is exactly same as we have in Project app as of now, so as long as people are able to find their projects via searching, we should be good and should not worry about edge cases. Having said that, I think, handling trimming of the text is definitely something which we can handle at UI side which might help in accidental spaces in search key.
**Tip:** If you want to search a p

[2020-09-14 10:55] drasticdpk commented on #760
Verified on Dev env.
@vikasrohit  I am having same issue on prod, it is yet to deploy on prod ? Please confirm.

[2020-09-14 11:04] drasticdpk commented on #744
With reference to task details ( it is more related to API side), I updated status, Please let me know  for anything.

[2020-09-14 11:24] drasticdpk opened #806 "Unable to update Challenge"
**Steps **
1. Go to https://challenges.topcoder.com/projects/24943/challenges/42180746-0001-456b-b818-819510e4d1c1/edit
2. Edit Something and try to save it.

**Reference : **
![image](https://user-images.githubusercontent.com/25297859/93079994-c188d780-f6ac-11ea-9ae2-630aaf86d985.png)

[2020-09-14 11:55] drasticdpk opened #807 "Unable to Navigate challenge to OR/Direct app"
**Steps**
1. Go to https://challenges.topcoder.com/projects/24943/challenges
2. Click on OR/Direct link of any challenge

**Reference**
![image](https://user-images.githubusercontent.com/25297859/93082520-c9e31180-f6b0-11ea-8393-10655bb47cfb.png)
![image](https://user-images.githubusercontent.com/25297859/93082548-d4051000-f6b0-11ea-9eaf-dc38b85af393.png)

**Environment** : Production

[2020-09-14 16:06] codejamtc opened #808 "After creating a challenge and save it as a draft won't display the challenge on the draft"
[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5219644/1.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder.com/ and login as codejam
2. Select a project from the list 'Q2: Customer Experience Prod/Dev Delivery (Connect Projects)'
3. Create a challenge with Copilot (codejam), Copilot Fee, NDA etc
4. Wait 1 min
5. Go to Draft tab and check

[code]

[2020-09-14 16:16] codejamtc opened #809 "Header moves to top when user switches the tabs and overlaps with the search"
![image](https://user-images.githubusercontent.com/42398485/93111031-b36e9300-f67b-11ea-9ece-6e150235adba.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder.com/ and login as codejam
2. Select a project from the list 'Q2: Customer Experience Prod/Dev Delivery (Connect Projects)'
3. While the 'Active' tab is selected move the page little bit down
4. Go to New. Draft or Co

[2020-09-14 16:44] codejamtc commented on #809
This happens while search too

[2020-09-14 16:48] codejamtc opened #810 "'Work Type is required field' validation is not removed once the user selected a type from the list"
![image](https://user-images.githubusercontent.com/42398485/93114460-3bef3280-f680-11ea-8107-2783648236d0.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder.com/ and login as codejam
2. Select a project from the list 'Q2: Customer Experience Prod/Dev Delivery (Connect Projects)'
3. Click 'Launch New'
4. Click 'Continue Set-Up'
5. Fill the Type, Format, and Name and obser

[2020-09-14 18:20] lakshmiathreya commented on #808
Able to create only via Admin role
<img width="1477" alt="Screenshot 2020-09-14 at 11 48 51 PM" src="https://user-images.githubusercontent.com/51733042/93122874-e26d1f00-f6e4-11ea-952d-825023fa728d.png">

[2020-09-15 03:37] vikasrohit commented on #760
@maxceem I saw some changes pushed to challenge api today which includes fixes to the search query for tasks which in turn seems to fix the other part of the problem where we were not able to see the tasks for the user `pshah_manager`. Please verify if that is fixed as per our expectation.

[2020-09-15 03:38] vikasrohit commented on #760
I think with today's push for challenge api to production, it should be fixed on production now as well.

[2020-09-15 03:42] vikasrohit commented on #806
@drasticdpk @codejamtc it is duplicate of #776

[2020-09-15 03:48] vikasrohit commented on #744
Yep, nothing else needed. Closing it right away, we don't need to carry this one until release.

[2020-09-15 03:48] #744 closed

[2020-09-15 03:49] vikasrohit commented on #807
Is it happening for every challenge @drasticdpk @codejamtc? I would like to reduce the priority if it is happening for only select challenges.
fyi @lakshmiathreya

[2020-09-15 03:53] codejamtc commented on #807
@vikasrohit For me - All the available challenges

![image](https://user-images.githubusercontent.com/42398485/93163578-1e9c8180-f6dd-11ea-8996-943861fb2273.png)

[2020-09-15 07:32] maxceem commented on #760
@vikasrohit the part for the assigned tasks is not fixed for me.

The next URL returns only 1 task **Task 2**
https://api.topcoder-dev.com/v5/challenges?sortBy=updated&sortOrder=desc&projectId=7977&status=Draft&page=1&perPage=50

But there is also one more task **Task 3 (assigned)** and it is not returned because it has `task.isAssigned` flag set together with `task.memberId`.

[2020-09-15 09:04] lakshmiathreya commented on #807
@vikasrohit it is working only for Admin users. Even for me - my non Admin users are unable to navigate to OR/Direct.

[2020-09-15 14:39] codejamtc commented on #808
@vikasrohit I tested the Dev using my own copilot account. I can create challenges and I can see them on the draft tab

today I can create and see the challenges created on prod too

[2020-09-15 15:08] codejamtc commented on #806
@vikasrohit I guess this is something to do with the `HTML` code generated when the user saves the changes using the Direct and then comes to the WM and try to edit something and save. But I will investigate more and let you know

[2020-09-15 15:11] codejamtc opened #811 "The 'Success' message is not displayed when user add some changes to the Public specification"
### Steps to reproduce the problem

1. Open https://challenges.topcoder.com/ and login as codejam
2. Select a project from the list 'Q2: Customer Experience Prod/Dev Delivery (Connect Projects)'
3. Go to Draft > Select a challenge
4. Click 'Edit'
5. Add some text to Public specification
6. Click 'Save Draft'

### Actual behavior
- The 'Success' message is not displayed when user add some changes t

[2020-09-15 16:30] vikasrohit opened #812 "Updates to some challenges are not synced to legacy due to 404 from v4 API"
For few of the challenges that we created via v5 challenge api, updates to those challenges are not being synced to legacy. The logs of the `legacy-challenge-processor` shows that it is getting 404 from v4 challenge api. The challenge does exist in legacy (Direct) but updates to the same challenge in v5 are not synced because somehow now v4 challenge api is returning 404 for the same challenge.

E

[2020-09-15 16:31] vikasrohit commented on #812
@rootelement fyi, this is the issue I was talking about today in the call regarding 404 v4 api issue.

[2020-09-15 16:35] codejamtc opened #813 "When user register and submit to a public challenge it is not updated on the WM challenge listing page"
![image](https://user-images.githubusercontent.com/42398485/93238834-93a4a100-f747-11ea-88ad-ed937e28f979.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder.com/ and login as codejam
2. Select a project from the list 'Q2: Customer Experience Prod/Dev Delivery (Connect Projects)'
3. Create a draft challenge and Activate it
4. Go to Challenge specification and Register to

[2020-09-16 06:35] lakshmiathreya commented on #813
@vikasrohit @acshields - is this also out of scope for this month's release - as is Phase updates? pls clarify.

[2020-09-16 09:06] vikasrohit commented on #807
@lakshmiathreya @codejamtc @drasticdpk it is happening because when your users were added as copilot to the Connect project, legacy project processor was not able to add the same user to the legacy project (direct app) and the reason for that was `Given user: 23278999 is not in the copilot pool` (for codejam) which I dug out from logs. So, I don't think we can fix this issue permanently but for no

[2020-09-16 09:40] drasticdpk commented on #807
Verified on Prod Env.
Working as expected.

[2020-09-16 09:40] lakshmiathreya commented on #807
@vikasrohit seems like this will be an accepted workaround for now for reasons explained by you. @drasticdpk @codejamtc pls verify and change priority appropriately.

[2020-09-16 09:42] lakshmiathreya commented on #807
@vikasrohit should we log a new Issue to track this fix in Legacy Project Processor?

[2020-09-16 10:25] vikasrohit commented on #807
@lakshmiathreya we can log a separate issue for tracking purposes, however, I don't see the feasible fix for this problem. We may reduce the occurrence of the issue by removing the restrictions around copilot addition in Direct app (which itself is not easy task considering it involves the legacy apps) or can work on some kind of notification system which can alert users (may be the user who added

[2020-09-16 10:35] vikasrohit commented on #813
yes, in my opinion. @acshields has final call. It would be a nice to have fix. I would try to apply a fix if it is quick one.

[2020-09-16 11:35] vikasrohit commented on #811
This might be happening because the public specs field is auto saved, so it is auto saved while user is typing. And there is no change to save when use hits `Save Draft` button afterwards.

[2020-09-16 11:39] vikasrohit commented on #808
Okay, so what is the status of the issue on prod now? I mean is it still there or is it fixed now?

[2020-09-16 11:54] vikasrohit commented on #806
@codejamtc @lakshmiathreya these are the symptoms of data reset that I am talking about since very long. This is a P0 to be solved. @codejamtc if you can reproduce it predictably, it would be great. That would help us in debugging the issue.

fyi @rootelement

This might be a stale UI and should not be there once you switch tabs. However, for you particular issue, I think there are two different c

[2020-09-16 12:04] vikasrohit commented on #813
Should be fixed now, I have applied a patch in dev but not have any challenge with the registrant and submissions data.

[2020-09-16 12:05] codejamtc commented on #808
@vikasrohit I can create challenges and save them as a draft

[2020-09-16 12:08] vikasrohit commented on #808
so we can close it, right? I mean this issue happen temporarily only on one particular day, so we can close it if it is not happening now.

[2020-09-16 12:10] codejamtc commented on #808
@vikasrohit Yes, I will mark this ticket as `QA Pass` for now; If I encounter anything I will open a separate ticket

[2020-09-16 12:24] #808 closed

[2020-09-16 12:25] vikasrohit commented on #760
@rootelement @ThomasKranitsas fyi, it seems the latest fix for tasks query, does not fix the part 2 of the problem raised in this issue.

[2020-09-16 12:29] vikasrohit commented on #804
Closing as it is duplicate of #776 and #806.

[2020-09-16 12:29] #804 closed

[2020-09-16 12:45] vikasrohit commented on #810
Applied fix in dev env.

[2020-09-16 12:55] vikasrohit commented on #800
Thanks @codejamtc. This issue is only for tracking purposes in Work Manager, original work needed is being done under https://github.com/topcoder-platform/legacy-challenge-resource-processor/issues/12

[2020-09-16 14:42] codejamtc opened #814 "Copilots are not being added the the direct project"
[2.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5232833/2.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as codejam
2. Select a project from the list 'Q2: Customer Experience Prod/Dev Delivery (Connect Projects)'
3. Create a draft
4. Click OR or Direct

### Actual behavior
- Unable to Navigate challenge OR/Direct app

### Exp

[2020-09-16 16:08] drasticdpk opened #815 "Challenge Phase Does not Sync."
**Steps**
1. Create new challenge from WM and launch it.
2. Observe the phase between WM app and  Challenge Listing page.

**Reference**
![image](https://user-images.githubusercontent.com/25297859/93362989-5f73d200-f866-11ea-963f-43dc87c2ae3d.png)

[2020-09-16 16:19] drasticdpk commented on #814
@vikasrohit ,
During the preliminary investigation, what I found here is, project should be sync between WM and direct app.
If it is true, please help us to setup few projects with copilot credential (topcoderconnect+copilot@gmail.com), so we will use this acc for test case/scenario verification. cc @codejamtc @lakshmiathreya
 Reference
https://monosnap.com/file/WGzAdVbHbc6BAM6rgrGG3BviPyYzQx

[2020-09-16 18:01] codejamtc opened #816 "Error displayed while closing a Task"
[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5234047/1.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder.com/ and login as codejam
2. Select a project from the list 'Q2: Customer Experience Prod/Dev Delivery (Connect Projects)'
3. Create a Task and activate it
4. Go to the Active tab and click Edit
5. Click Close and Confirm

### Actual behavio

[2020-09-16 18:14] codejamtc commented on #800
This is happening in prod also

![image](https://user-images.githubusercontent.com/42398485/93376002-958d6380-f81e-11ea-9e95-0b825c2c1c33.png)

[2.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5234099/2.zip)

[2020-09-16 18:24] codejamtc opened #817 "After activating a Task; NDA, Assigned Member, Groups, Copilot and Copilot fee data is lost"
![image](https://user-images.githubusercontent.com/42398485/93376816-ca4dea80-f81f-11ea-976f-fdeda56629d1.png)
![image](https://user-images.githubusercontent.com/42398485/93376862-da65ca00-f81f-11ea-8fe1-49a74ff02f56.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder.com/ and login as codejam
2. Select a project from the list 'Q2: Customer Experience Prod/Dev Delivery (C

[2020-09-17 05:33] vikasrohit commented on #800
This seems to be a slightly a different case as you are trying to assign the task to an already member of the team i.e. a user who is already in different role (copilot in this case). Original error reported in the issue is about the assigned user is not part of the challenge yet. Root cause of both the issues is business logic placed in v4 legacy api, so they might get fixed with the same fix but

[2020-09-17 06:05] vikasrohit commented on #815
Duplicate https://github.com/topcoder-platform/challenge-engine-ui/issues/802

[2020-09-17 06:05] #815 closed

[2020-09-17 06:38] vikasrohit commented on #814
@drasticdpk yes, project should be in sync between v5 and legacy and there are few areas where it has some pain points like I explained in https://github.com/topcoder-platform/challenge-engine-ui/issues/807#issuecomment-693276866.

I think this issue is duplicate of https://github.com/topcoder-platform/challenge-engine-ui/issues/807, it would be better to close this one to avoid duplicates. Howeve

[2020-09-17 06:42] vikasrohit commented on #816
@codejamtc could you please some error details directly in the issue description? It is hard to download/unzip to see details for every issue.

[2020-09-17 06:49] drasticdpk opened #818 "[Prod]Deleted Challenge are reflected on Draft Tab"
**Steps :**
1. Delete the challenge from OR. (https://software.topcoder.com/review/actions/EditProject?pid=30142144)
2. Go to WM app and  view the draft challenge. (https://challenges.topcoder.com/projects/24943/challenges)

**Reference :**

![image](https://user-images.githubusercontent.com/25297859/93429904-9509d100-f8e1-11ea-916d-16cfc4939a22.png)
![image](https://user-images.githubusercontent.

[2020-09-17 06:56] vikasrohit commented on #816
@codejamtc got the details from the archive. I think the issue is same as part 2 in https://github.com/topcoder-platform/challenge-engine-ui/issues/760#issuecomment-692525762. What is happening here is that as soon as you(as non admin user) assigned the task to someone else, that task is out of your authorized challenge/task list and that is why you are observing 403 in console for the challenge.

[2020-09-17 08:03] vikasrohit commented on #802
@lakshmiathreya @drasticdpk @codejamtc Implemented showing basic phase details with current data model. The existing code was assuming very old data model that is why it was not showing correct phase details. It still might not be showing correct details for different phases and it has to be fixed as case are identified.

fyi @acshields

[2020-09-17 08:05] drasticdpk opened #819 "Add Work Type on Challenge listing grid"
**Reference**

![image](https://user-images.githubusercontent.com/25297859/93438158-a4dae280-f8ec-11ea-89e8-88d405e497fd.png)

[2020-09-17 08:42] drasticdpk opened #820 "[Prod]Copilot Role is missing on Newly created challenge."
**Steps**
1. Create new challenge from WM and launch it.
2. Go to OR and observe the Role.

**Reference**

![image](https://user-images.githubusercontent.com/25297859/93447023-a4911600-f8f1-11ea-9ac9-0e5b1f6a3485.png)

**Finding**
1. Due to this issue, I am unable to update/edit challenge.
2. Forums is not updated/ Unable to open.

[2020-09-17 08:45] drasticdpk commented on #820
Reference issue :
https://github.com/topcoder-platform/challenge-engine-ui/issues/700
https://github.com/topcoder-platform/challenge-engine-ui/issues/689

[2020-09-17 09:04] drasticdpk opened #821 "[prod] Copilot unable to update Challenge Spec"
**Steps**
1. Create new challenge from WM and launch it.
2. Try to edit challenge spec.

**Reference**
 Video  : https://monosnap.com/file/juKmLKvkSRnGszEou9SkmzGuC13EDM

![image](https://user-images.githubusercontent.com/25297859/93449790-e53e5e80-f8f4-11ea-8007-894f410a1114.png)

[2020-09-17 10:03] drasticdpk commented on #689
Withe reference to team discussion closing this issue.

[2020-09-17 10:03] #689 closed

[2020-09-17 11:10] vikasrohit commented on #817
@codejamtc root cause and symptoms are same as #806 and #776. Do you think that it is different from them? If not, we can close this one.

[2020-09-17 11:26] vikasrohit opened #822 "Copilot is not able to view a task after assigning to someone else"
Carried forward from https://github.com/topcoder-platform/challenge-engine-ui/issues/760#issuecomment-692525762 and https://github.com/topcoder-platform/challenge-engine-ui/issues/816#issuecomment-693995943. Affected users are copilots who can not view a task they created as soon as they assign it to someone else.

[2020-09-17 11:26] vikasrohit commented on #822
fyi @rootelement @acshields

[2020-09-17 11:28] vikasrohit commented on #816
@codejamtc I have logged separate issue for the first part in my description above:

The other part is already logged as issues #776 and #806, so we can close this one now if you don't see any other concern which you want to raise in this issue.

[2020-09-17 12:44] #816 closed

[2020-09-17 12:47] codejamtc commented on #817
@vikasrohit I will leave this as it is for tracking purpose

[2020-09-18 04:59] vikasrohit commented on #819
Thanks for the suggestion @drasticdpk. Right now, the background color of the work format e.g. `First2Finish` in your example, depicts the work type. They match with colors of the icons for the work type options e.g. in your example it is a Development First2Finish.

[2020-09-18 07:20] vikasrohit commented on #821
@rootelement @ThomasKranitsas this is happening because of https://github.com/topcoder-platform/challenge-api/blob/e0cc722a3d26c70190473ee15b1d742931a535c2/src/services/ChallengeService.js#L1162 which says that it allows for copilots but I am not able to find any check which allows copilots there. I only allows the creator of challenge to edit the challenge.

@drasticdpk you can avoid this error f

[2020-09-18 08:22] vikasrohit commented on #820
@drasticdpk which challenge is it? I am seeing copilots added as Copilots for https://challenges.topcoder.com/projects/24943/challenges/24a44f28-f28e-4679-afd9-984564f57789/view.

[2020-09-18 08:25] vikasrohit commented on #820
fyi @lakshmiathreya @drasticdpk I have logged another issue https://github.com/topcoder-platform/legacy-challenge-resource-processor/issues/13 which might be causing the problems in dev env. But I didn't find the same problem happening in production.

[2020-09-18 10:02] ThomasKranitsas commented on #806
This is a frontend issue.

For example, using this challenge `https://challenges.topcoder-dev.com/projects/9171/challenges/d1bf36f2-0f8a-47ee-845e-c6212c531b4f/edit`

The validation method checks for `_.isEmpty(this.state.currentTemplate)` which in this case is `undefined` so the validation does not pass.

[2020-09-18 11:03] drasticdpk commented on #819
Ok great. It will take take some time to familiar with color.
Shall I close it ? cc  @vikasrohit

[2020-09-18 11:13] vikasrohit commented on #700
@drasticdpk I think we re-opened this issue while actually the issue which we observed yesterday during our discussions was about Activating from Challenge List page while this issue is for Activating from within Challenge Edit screen. So technically both issues have different steps to reproduce. So, I am closing it again and will request you to log separate one for issue in Activating from Listin

[2020-09-18 11:13] #700 closed

[2020-09-18 11:17] ThomasKranitsas commented on #822
This issue has been fixed and now, a member who has access to a challenge with any role should be able to view the challenge.

With that being said, a resource for that member must exist. So, for a member to actually be the copilot of the challenge, you need to create a resource with the `roleId` `cfe12b3f-2a24-4639-9d8b-ec86726f76bd`.

Even if the `chalenge.createdBy` field has a value (eg the us

[2020-09-18 11:17] drasticdpk commented on #821
@vikasrohit ,
I have created new challenge and launch it successfully. However I got the same issue while editing the spec.

Reference :
https://challenges.topcoder.com/projects/24943/challenges/a4875f6a-539b-4129-a03d-729440b5bb1b/view

![image](https://user-images.githubusercontent.com/25297859/93591679-851cea80-f9d0-11ea-9485-e09237af8a6b.png)

![image](https://user-images.githubusercontent.com

[2020-09-18 11:19] ThomasKranitsas commented on #821
@drasticdpk @vikasrohit can you please confirm the WM creates a `Copilot` resource for the copilot when creating a challenge?

[2020-09-18 11:30] drasticdpk commented on #821
@ThomasKranitsas ,
While creating the challenge, I have selected my acc as copilot. However it is not reflected on edit screen.

Reference :
![image](https://user-images.githubusercontent.com/25297859/93592830-98c95080-f9d2-11ea-9396-85073b9a67a7.png)

[2020-09-18 11:54] drasticdpk opened #823 "Popup message or toaster is missing to notify user if there is any server side error"
**Pre Condition**
Challenge API should not working as expected or it has to some error on API.

**To Reproduce / Actual Behavior**

1. Go to challenge listing page [draft tab]
2. Try to activate the challenge.

**Expected behavior**
System should notify to user with informative message if there is any server side error.

**Reference **
Please go through this issue :
https://github.com/topcoder-pla

[2020-09-18 11:58] drasticdpk commented on #820
@vikasrohit,
I have selected my acc (drasticdpk) as copilot while  creating the challenge. Which is not reflected on OR.
https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30142424

[2020-09-18 12:17] vikasrohit commented on #821
Yes @ThomasKranitsas, WM is creating Copilot resource, however, in dev legacy resource processor was stuck because of https://github.com/topcoder-platform/legacy-challenge-resource-processor/issues/13 which might be causing copilot resources not added to legacy challenges. However, I am not sure what is happening in prod as processor seems to be working fine in prod.

Just curious @ThomasKranitsas

[2020-09-18 13:06] codejamtc commented on #802
![image](https://user-images.githubusercontent.com/42398485/93600843-e4a1d880-f985-11ea-9476-626e23f45ca5.png)

[2020-09-18 13:18] ThomasKranitsas commented on #821
@vikasrohit please check https://github.com/topcoder-platform/challenge-api/blob/develop/src/services/ChallengeService.js#L1164-L1165 which is the latest version. This allows any resource with full access to modify a challenge.

[2020-09-18 14:52] ThomasKranitsas commented on #497
Not really sure if this is an actual security risk. As you can see here https://challenges.topcoder-dev.com/projects/9171/challenges/3c13262a-f6f7-4e37-a3de-2ba56908dd03/view the title has some JS code in it but it's rendered as text. Also, the challenge description can accept HTML content.

cc @rootelement

[2020-09-18 14:53] ThomasKranitsas commented on #558
This seems very outdated. The security checks have been completely refactored since this issue was created. Please re-test and close this.

[2020-09-18 14:56] ThomasKranitsas commented on #761
If the user doesn't have the required role(s) to run a challenge, it's expected to not be able to create one. Please make sure you're testing using a user that has the correct roles.

In case you don't have the required roles, the UI should show a warning.

[2020-09-18 15:23] lakshmiathreya commented on #761
@acshields could you verify if you are able to Create a Challenge now?

[2020-09-18 16:03] vikasrohit commented on #806
Yep I am aware of that @ThomasKranitsas and I mentioned that I can fix that but I have kept it just to validate the theory of data reset. Because what is happening behind the scene is that some how the `timelineTemplateId` is being set to a wrong timeline template id, rather it is being set to a ChallengeTimelineTemplateId id and that is what @rootelement debugged last week. So, we need to identif

[2020-09-21 13:46] vikasrohit commented on #761
The original problem was that API was not allowing any other user other than admins and `copilot` from creating the challenge API and @acshields neither has admin role nor copilot role. With the support of `Connect Manager` role, @acshields should be able to use the Work Manager on production as well.

[2020-09-21 14:51] codejamtc commented on #823
@drasticdpk I am not getting this, please double check if you get a chance, Thanks

[2020-09-21 16:38] rootelement commented on #783
This is the code used in the migration script:
[code]

So the valid values are:
 - fileTypes
 - allowStockArt
 - drPoints
 - submissionViewable
 - submissionLimit
 - codeRepo
 - environment

[2020-09-21 16:38] rootelement commented on #782
Please see here:
https://github.com/topcoder-platform/challenge-engine-ui/issues/783#issuecomment-696231835

[2020-09-21 19:19] codejamtc opened #825 "White page and console error displayed when user opens a challenge"
[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5257667/1.zip)
[challenges.topcoder-dev.com-1600715694631.txt](https://github.com/topcoder-platform/challenge-engine-ui/files/5257669/challenges.topcoder-dev.com-1600715694631.txt)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {cod

[2020-09-22 02:34] drasticdpk commented on #823
FYI : It is negative testing.
Here we need valid/proper message. Why user unable to activate it ?
"Unable to activate the challenge" >> This may not enough.
Reference :
![image](https://user-images.githubusercontent.com/25297859/93839290-34e1a900-fcac-11ea-87eb-a753354c4ba6.png)

[2020-09-22 03:25] vikasrohit commented on #761
Closing the issue as got confirmation from @acshields on Slack that it is now working for her.

[2020-09-22 03:25] #761 closed

[2020-09-22 03:27] vikasrohit commented on #806
@ThomasKranitsas @rootelement do we know who is polluting the `timelineTemplateId` of a challenge? Please note from https://github.com/topcoder-platform/challenge-engine-ui/issues/806#issuecomment-692778858 that there are other fields as well which are being overridden somehow.

[2020-09-22 03:30] vikasrohit commented on #821
@drasticdpk @codejamtc please test it in dev.

[2020-09-22 10:25] maxceem commented on #782
@vikasrohit using the comment from above I found an example of challenge with such data in PROD:

![image](https://user-images.githubusercontent.com/146016/93870963-9cace980-fcd6-11ea-9849-5ebbc83ea34e.png)

The only thing the current UI seems like doesn't suit well to what we need:

![image](https://user-images.githubusercontent.com/146016/93871150-dd0c6780-fcd6-11ea-8da1-bb33244ffa2e.png)

We ha

[2020-09-22 10:31] maxceem commented on #783
@codejamtc I cannot reproduce this issue. I guess it has been fixed.

[2020-09-22 11:03] vikasrohit commented on #814
@codejamtc @drasticdpk fixed the issue with copilots not being synced to the legacy project, root cause was https://github.com/topcoder-platform/legacy-project-processor/issues/17

[2020-09-22 11:12] vikasrohit commented on #783
@codejamtc @drasticdpk marked it as ready for QA as it is not reproducible as of now.

[2020-09-22 11:16] vikasrohit commented on #782
@maxceem are we setting `fileTypes` in the metadata?

Does checking and then unchecking the checkbox not delete the file type?

If checkbox is doing its purpose, we can use this way for no.

[2020-09-22 11:43] maxceem commented on #782
@vikasrohit

Not yet, this has to be fixed.

No, it doesn't.

It feels that using checkboxes is misleading here. In the metadata, we can only store the list of data types, we don't have a way to store if type is checked or no, only if it present or no.

[2020-09-22 12:38] codejamtc commented on #783
@maxceem @vikasrohit Yes, fixed in dev

[2020-09-22 15:19] codejamtc commented on #821
@drasticdpk I am able to edit the challenge now but please double-check from your end too, Thanks cc @vikasrohit

[3.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5262421/3.zip)
![image](https://user-images.githubusercontent.com/42398485/93902291-028c7780-fcbd-11ea-9286-4b8b32922264.png)

[2020-09-22 18:30] ThomasKranitsas commented on #806
@rootelement that was the sync tool we fixed a few days back, right?

[2020-09-23 02:56] codejamtc commented on #814
@vikasrohit I am using my copilot account `copilot_codejam` to test the ticket and when I am trying to access the Direct link it shows me `Sorry, you don't have permission to access this contest.`

[2020-09-23 03:26] drasticdpk commented on #820
I have created new challenge but respective users (Copilot, Observer Manager etc)  are not reflected on OR.
Challenge : https://challenges.topcoder.com/projects/24182/challenges/e8fafaa1-dc9a-4c7b-9c09-58bbfa0b3aa8/view

Reference :
![image](https://user-images.githubusercontent.com/25297859/93963288-79d51080-fd7c-11ea-8e81-00a1b713e262.png)
cc @lakshmiathreya @codejamtc

[2020-09-23 03:44] lakshmiathreya commented on #825
@codejamtc Activate seems to work despite the error being shown - Challenge moves to Active state despite the error - so its likely that your challenge was Active though listed under Drafts - could you pls check this and add details?

[2020-09-23 04:30] drasticdpk commented on #821
Thank  you @codejamtc .  Here I am still not sure this issue is fixed or not.
This is my understanding :
1. Challenge Spec  auto Update   > If any thing changes it has to auto update like google sheet.
2. For other than spec filed user has to click `Save draft button`

May I know the logic behind it `<br /><br /><h2>Final Submission Guidelines</h2>Please read above`. After adding it some time I am

[2020-09-23 06:17] vikasrohit commented on #821
Yes, your understanding is correct @drasticdpk

You can ignore the augmentations of `Please read above.` in the spec description, it is being done by the legacy migration script. We can log it as non P0/P1 and revisit it later. Most probably it is as per the expectations.

From your demo video, I can see that the original issue itself is fixed, however, there is some other issue which is causing t

[2020-09-23 06:18] vikasrohit commented on #822
@maxceem can you please check if it is now working for you?

[2020-09-23 06:34] drasticdpk commented on #821
Ok Noted @vikasrohit .

[2020-09-23 06:45] vikasrohit commented on #820
@drasticdpk nothing has been fixed on production for copilot addition to the challenge. Please test it in dev. On production, we fixed the copilot addition in the project not in the challenge.

[2020-09-23 06:54] vikasrohit commented on #776
@codejamtc @drasticdpk this can be tested in dev now as there is a fix applied in dev for migration script which was messing with the `timelineTemplateId`.

[2020-09-23 06:57] vikasrohit commented on #806
@drasticdpk @codejamtc @lakshmiathreya should be ready for QA in dev as the root cause which was preventing the challenge to be updated is fixed in the migration script which was messing with `timelinteTemplateId` of the challenge. However, the other field that are being reset or lost, should be tracked separately as I don't think they were present in the original description of the issue and it c

[2020-09-23 07:05] lakshmiathreya commented on #806
@vikasrohit we will log an Issue per field since the source of error might be different in each case right?

[2020-09-23 07:33] vikasrohit commented on #806
Theoretically yes, but I was not anticipating source of each field would be different because that would be most difficult to debug and fix.
BTW, there are already couple of issues regarding data reset:

https://github.com/topcoder-platform/challenge-engine-ui/issues/804
https://github.com/topcoder-platform/challenge-engine-ui/issues/817
https://github.com/topcoder-platform/challenge-engine-ui/iss

[2020-09-23 08:24] maxceem commented on #822
@vikasrohit I cannot assign any user to the task at the moment as I'm getting an error `The user has not yet agreed to the following terms: [Terms & Conditions of Use at TopCoder]` for any user.

I'm not sure how can we sign this terms for user in DEV. I wanted to register for some challenge, but page with challenges doesn't work on DEV now https://www.topcoder-dev.com/challenges - it gives an emp

[2020-09-23 10:40] vikasrohit commented on #819
Yes, for now. I agree it might need better UX for getting that logic conveyed to the end user and I hope that the new designs take care of that.

[2020-09-23 10:42] vikasrohit commented on #782
Ok, go with the suggested approach.

[2020-09-23 10:44] vikasrohit commented on #558
@drasticdpk @codejamtc marked this issue as ready for QA to retest the logic as per @ThomasKranitsas's suggestion.

[2020-09-23 11:56] codejamtc commented on #558
@vikasrohit @ThomasKranitsas I think this one is still there

[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5267920/1.zip)

[2020-09-23 12:01] ThomasKranitsas commented on #558
Hmm.. So, this is a bit complicated.

You can see the challenge but I guess you can't edit it, right?

I mean, when the challenge is not private (restricted via groups) and you simply make a GET request, there's no reason the API would not let you see it.

So, this is something the frontend should handle. It should fetch the project info, see if the logged in member is on the project and then eith

[2020-09-23 12:08] codejamtc commented on #776
This specific issue is fixed on `dev`

[2020-09-23 12:12] codejamtc commented on #558
@ThomasKranitsas I am getting an error when I try to edit
[1.1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5267996/1.1.zip)

[2020-09-23 12:14] ThomasKranitsas commented on #558
This means the access checks work fine and my previous comment is correct.
cc @vikasrohit

[2020-09-23 12:22] codejamtc opened #826 "Copilot and prize values reset after saving"
[2.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5268038/2.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Create a Dev challenge with all the details and save as draft
4. Click Edit
5. Change the name, public specification, add two prizes and change the c

[2020-09-23 13:00] rootelement commented on #558
Thomas is right. The challenge is public, so viewable... The UI needs to realize the user can't edit. So it can show as read only if you like.

[2020-09-23 13:21] codejamtc commented on #558
@ThomasKranitsas @rootelement Yes, better if we can implement a read-only view

The below error will give an idea that he can edit but some other issue happens while editing.

`There was an error loading the challenge, Please try again later, and if the issue persists contact us at support@topcoder.com to resolve the issue as soon as possible.`

[2020-09-23 13:58] codejamtc commented on #825
@lakshmiathreya Yes, but after some time; that challenge is removed from the `Active` tab and displayed on the `Draft`

[2020-09-23 14:11] codejamtc opened #827 "After activating a challenge; the challenge moves to draft after sometime"
### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Create a Dev challenge with all the details and save as draft
4. Click Edit
5. Activate the challenge (You will see the challenge in Active tab; but wait for 5-10min)
6. Check the active tab again

### Actual behavior
- After activating

[2020-09-23 14:18] codejamtc opened #828 ""Member 23278999 is not a submitter resource of challenge 1b9b10a6-4771-4d53-a2bb-84c1695e4c3d" displayed when user tries to create a Task"
[3.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5268742/3.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Admin
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Create a Dev Task challenge with all the details and save as draft

### Actual behavior
-  "Member 23278999 is not a submitter resource of challenge

[2020-09-24 09:19] vikasrohit commented on #814
@codejamtc are you testing it on production or dev? You mentioned link of dev but project name is from production. I think this issue was not reproducible on dev earlier as well and could be reproduced only on prod. You have get yourself removed from the culprit project and get yourself added back to the project to get it fixed. Further, your account is not in copilot pool on prod, so you would st

[2020-09-24 09:32] vikasrohit opened #829 "Support direct link for a challenge without having project id known"
As of now one has to be aware of project id along with challenge id to access the challenge in WM which slows down the debugging process or slows down process when people want to have quick look over challenge because they have to first find out the project of the challenge which is not straightforward for many of the cases.
So, as a solution, if we can automatically redirect the user to the full

[2020-09-24 09:32] vikasrohit commented on #829
fyi @lakshmiathreya @acshields @mtwomey

[2020-09-24 12:38] codejamtc commented on #814
Noted, Thanks

[2020-09-24 13:48] lakshmiathreya commented on #814
@vikasrohit copilot_codejam is in Copilot pool in Dev. I added him yesterday using Tony's tool ...

[2020-09-24 15:57] codejamtc commented on #746
![image](https://user-images.githubusercontent.com/42398485/94169646-ab210f80-fe54-11ea-8b82-0742c0b2837c.png)

![image](https://user-images.githubusercontent.com/42398485/94169699-bb38ef00-fe54-11ea-8c69-a66b8e6e8f2c.png)

[2020-09-24 16:17] maxceem commented on #782
@vikasrohit this is done via PR https://github.com/topcoder-platform/challenge-engine-ui/pull/831

- Now data is being saved to the API:

    ![image](https://user-images.githubusercontent.com/146016/94171786-5acca080-fe9a-11ea-9302-e6bfce1a7e09.png)

- Edit mode looks similar to tags:

   ![image](https://user-images.githubusercontent.com/146016/94171611-21943080-fe9a-11ea-81e6-34411e47a017.png)

[2020-09-24 16:24] rootelement opened #832 "UI Feedback - Field Placeholder"
<img width="885" alt="Screen Shot 2020-09-24 at 12 21 00 PM" src="https://user-images.githubusercontent.com/5400156/94172442-816de580-fe60-11ea-828a-55cbb8988906.png">

The placeholder text in the field is confusing. That style of placeholder was originally designed to show what value goes in the field if there isn't a label for that field, but there are labels for that field. The fact that it's a

[2020-09-24 18:58] acshields commented on #832
@rootelement @vikasrohit

1) I like the suggestion of updating the placeholder text functionality to not show the repeat
2) Yep, message received loud and clear that "work" repeats too much. I will work on that by working to have it removed :) lol. We can update the field labels to just read: Type, Format, Name.

[2020-09-24 19:02] acshields commented on #829
@vikasrohit - I think this is a good point, but I want to bounce this against some other ideas I am having on the "all" view of Work Manager to see how we can bring this idea and some of mine together.

[2020-09-25 06:51] vikasrohit commented on #497
I guess, we can close this as we are sanitizing the content before rendering. However, we might need to think about sanitizing the content while storing in database and ES because that still might be possible.

fyi @mtwomey @ThomasKranitsas @rootelement

[2020-09-25 07:00] vikasrohit commented on #497
@drasticdpk @codejamtc @lakshmiathreya we just need to verify that entering the javascript and HTML inside the challenge fields (except specs) is not executed. Entering SQL should not be an immediate problem as we are storing data in SQL database, however, I would still like to open a new issue to keep track of properly validate SQL or Query injection in challenge-api, which @rootelement can have

[2020-09-25 10:40] vikasrohit opened #833 "Save fails after changing assigned user for a task more than once"
Steps:

- Create task
- Assign member `maxceem-dev-2`
- Click `Save Draft`
- Close the success modal (if that is not blocked because any bug), using x button of the modal (do not use the View Challenge or Close button)
- Again change assign member to `maxceem-dev-3`
- Hit `Save Draft`
- Observe the console and network tabs, it would have errors in updating the challenge resources
<img width="1228"

[2020-09-25 10:48] vikasrohit commented on #814
Ok, but still he has to be removed from connect project and then added back to the project to see the effect of the fix.

[2020-09-25 10:49] vikasrohit commented on #746
Yep, it is externally plugged into the button.

[2020-09-25 10:53] vikasrohit commented on #558
Reducing priority as user can not edit other copilot's or user's challenge, though they can see it which is okay because any one can read a challenge.

[2020-09-25 11:35] vikasrohit commented on #781
It has been fixed with https://github.com/topcoder-platform/challenge-engine-ui/issues/782#issuecomment-698446188.

[2020-09-25 11:36] vikasrohit commented on #781
fyi, it is still case insensitive i.e. it would allow `jpg` and `JPG` both.

[2020-09-25 11:37] vikasrohit commented on #782
Thanks @maxceem that is perfect. Only small thing, it is still case insensitive i.e. it is allowing jpg and JPG both.

[2020-09-25 11:50] vikasrohit commented on #826
@lakshmiathreya @codejamtc marking ready for QA because the underlying issue with legacy-challenge-resource-processor is supposed to be fixed now.

[2020-09-25 11:51] vikasrohit commented on #820
@lakshmiathreya @codejamtc marking ready for QA because the underlying issue with legacy-challenge-resource-processor is supposed to be fixed now.

[2020-09-25 11:53] vikasrohit commented on #828
@lakshmiathreya @codejamtc marking ready for QA because the underlying issue with legacy-challenge-resource-processor is supposed to be fixed now.

[2020-09-25 11:54] vikasrohit commented on #800
@lakshmiathreya @codejamtc marking ready for QA because the underlying issue with legacy-challenge-resource-processor is supposed to be fixed now.

Note: I am seeing couple of issues though:

[2020-09-25 11:57] vikasrohit commented on #724
@acshields we might not need to pre populate the billing account as of now because at the time of activation legacy challenge processor looks for the billing account from direct project (legacy project) and sets that to the challenge.

[2020-09-25 11:59] vikasrohit commented on #822
@maxceem where you are seeing that error? I mean which API is sending that error back?

[2020-09-25 12:00] ThomasKranitsas commented on #822
Yeah, I was also having the same issue yesterday but haven't tested today. This is happening when you call the Resources API to create a Submitter resource for a challenge.

[2020-09-25 12:01] vikasrohit commented on #764
It was done in August.

[2020-09-25 12:01] #764 closed

[2020-09-25 12:03] vikasrohit commented on #763
Done in August

[2020-09-25 12:03] #763 closed

[2020-09-25 14:57] rootelement commented on #822
Strange. The regular challenges in dev:
https://qa-community-app.topcoder-dev.com/challenges/70dd4d6c-adca-4fb0-b0dc-617dc64b2148

Show the terms as:
`Standard Terms for TopCoder Competitions v2.2`

I was able to register for that challenge as jcori.

@vikasrohit what terms are you adding by default in dev? It should be:
`b11da5cd-713f-478d-90f4-f679ef53ee95`

[2020-09-25 17:38] rootelement commented on #822
For posterity, challenge should be created with these term IDs from WM:
Standard Terms: `9ef9dec4-dddb-48c9-9cce-659db68bc5ac`
NDA: `876e9802-eb2c-4779-a2a8-8dd8e7fb783d`
For dev:
Standard Terms: `b11da5cd-713f-478d-90f4-f679ef53ee95`
NDA: `77f558c1-56fb-427c-b974-61ea0a060ca7`

[2020-09-25 23:43] codejamtc commented on #781
![image](https://user-images.githubusercontent.com/42398485/94324318-ee67a500-ff5e-11ea-94e7-4f4349adf7d3.png)

[2020-09-28 03:18] drasticdpk commented on #497
Verified on Dev env :
Reference
![image](https://user-images.githubusercontent.com/25297859/94387300-7a4d1d00-0169-11eb-87f4-b5320e52ca59.png)

[2020-09-28 03:31] drasticdpk commented on #806
Verified on Dev env.
Reference
![image](https://user-images.githubusercontent.com/25297859/94387791-eb410480-016a-11eb-81eb-c524c3167558.png)
Note : For now I have not created separate issue , we will re-test the flow once above listed issue is solved.

[2020-09-28 03:56] drasticdpk commented on #820
Verified on Dev Env
![image](https://user-images.githubusercontent.com/25297859/94389122-b636b100-016e-11eb-84ee-f8b429ac86c1.png)

[2020-09-28 06:26] vikasrohit commented on #806
@drasticdpk for clarity, could you please specify for what part you wanted to create separate issue? If you are concerned about data not being synced to legacy or specific fields being lost after sync, I guess we have multiple issues logged for them already.

[2020-09-28 06:29] vikasrohit commented on #822
Okay @rootelement. Got it fixed for both env.

[2020-09-28 06:30] vikasrohit commented on #822
@maxceem can you please now test it again?

[2020-09-28 06:33] vikasrohit commented on #829
Ok. But I think @acshields we need this quick link before we release to users because they might not be knowing the project ids for the specific challenge because now ids are UUIDs which are very very very difficult to remember. And specially this would help us and Support team in debugging things faster. I am trying to get it done today, if possible.

[2020-09-28 06:39] drasticdpk commented on #806
@vikasrohit
FYI : currently I don't have have  any specific issue.

[2020-09-28 06:52] drasticdpk commented on #833
Verified on Dev env
![image](https://user-images.githubusercontent.com/25297859/94399540-4680f000-0187-11eb-94cd-c3ced949a940.png)

[2020-09-28 07:07] vikasrohit commented on #833
Just curious @drasticdpk, if you were able to reproduce the issue before the fix? I mean in prod or even in dev before I noticed the issue?

[2020-09-28 07:25] drasticdpk opened #837 "v5 Challenge API showing unexpected behavior : Sometime Challenge Title is missing"
Reference :

https://challenges.topcoder-dev.com/projects/9074/challenges

![image](https://user-images.githubusercontent.com/25297859/94402377-b1342a80-018b-11eb-9c5f-76d70770bc84.png)

![image](https://user-images.githubusercontent.com/25297859/94402450-cc9f3580-018b-11eb-857f-2cc511f16456.png)

[2020-09-28 07:29] drasticdpk commented on #814
@vikasrohit ,
Project is listing on direct app but I am unable to fetch challenge which I have created form WM. Please assist to solve this issue.
![image](https://user-images.githubusercontent.com/25297859/94402873-53541280-018c-11eb-8965-eeee2f02d7b8.png)

[2020-09-28 07:50] drasticdpk commented on #833
No @vikasrohit , I have not noticed it before.
Definitely I will log this type of issue if I found during the testing.

[2020-09-28 08:18] vikasrohit commented on #814
@drasticdpk this might be an issue with direct api in dev, however, I think you can work around that by loading the project in the direct first and than load its challenges, does that work?

[2020-09-28 08:29] drasticdpk commented on #822
Unfortunately, challenge is not listed once it is assign to someone.

Reference:
Challenge: https://challenges.topcoder-dev.com/projects/9074/challenges/951ce398-5fae-43dc-8c50-da0ea9fd71d6/view
Copilot : topcoderconnect+copilot@gmail.com
Task assign To:  codejam
![image](https://user-images.githubusercontent.com/25297859/94408028-f52b2d80-0193-11eb-9dee-72dc59a419dc.png)

[2020-09-28 08:41] drasticdpk commented on #800
Unable to replicate the scenario, will test once fixed below issue.
https://github.com/topcoder-platform/challenge-engine-ui/issues/822

[2020-09-28 08:45] vikasrohit commented on #822
@ThomasKranitsas @rootelement this one is still failing.

[2020-09-28 08:47] drasticdpk commented on #828
verified on dev env.
![image](https://user-images.githubusercontent.com/25297859/94410693-5dc7d980-0197-11eb-9a12-fcec68ee9812.png)

[2020-09-28 09:04] vikasrohit commented on #800
@drasticdpk please test the fix with non copilot account, #822 is only valid for copilots. Even, with copilot account you may try assigning task to yourself, it that works.

[2020-09-28 09:05] vikasrohit commented on #829
@acshields implemented in dev.

[2020-09-28 14:29] vikasrohit commented on #823
@drasticdpk this error is displayed when we don't know the exact error. 😬

However, we just found the issue behind this generic error. It should be fixed in dev in 10 minutes.

[2020-09-28 15:00] drasticdpk commented on #800
@vikasrohit , I have created the challenge (type task) and assign to user (any).
Unfortunately that challenge is not listed either copilot or user.
Reference :
![image](https://user-images.githubusercontent.com/25297859/94449021-54586480-01cb-11eb-8ea5-cf0675376039.png)

[2020-09-28 16:20] ThomasKranitsas commented on #822
This has been fixed a couple of minutes ago. Can you please re-test?
For example:
https://challenges.topcoder-dev.com/projects/16531/challenges/3bdd2462-2471-4672-a45c-5f8e0c0f1ac9/view

can be seen in the listings:
<img width="1409" alt="Screenshot 2020-09-28 at 7 20 00 PM" src="https://user-images.githubusercontent.com/4612921/94459161-9e3b4d80-01bf-11eb-9cf3-fe8933b74180.png">

[2020-09-28 17:26] vikasrohit commented on #822
@drasticdpk @codejamtc  Ready for QA

[2020-09-28 17:29] vikasrohit commented on #800
Yes, that is why I was saying that please use a non admin account for testing this specific issue as the issue is not role specific. Anyway, I think now https://github.com/topcoder-platform/challenge-engine-ui/issues/822 is fixed, so you should be able to test it with copilot account as well.

[2020-09-28 17:50] vikasrohit opened #839 "Loading edit URL for a challenge directly does not load copilot information"
Steps to reproduce:

- Go to the challenge listing page
- Click on any challenge (which has copilot set) from the list to view its details
- Notice that in read only view, copilot details is visible
- Now Click on the Edit button
- Observe that Copilot is shown as selected from the available members
- Now refresh the page
- Observe that Copilot selection is gone now

Please note that it might not

[2020-09-28 23:51] rootelement commented on #497
Thomas has implemented `xss` on title and description.
https://github.com/topcoder-platform/challenge-api/issues/301

[2020-09-29 02:17] drasticdpk commented on #800
Verified on dev mode
![image](https://user-images.githubusercontent.com/25297859/94505077-03c42400-022a-11eb-92c8-b5068d132086.png)

[2020-09-29 02:24] drasticdpk commented on #823
Verified on Dev Mode
Reference:
![image](https://user-images.githubusercontent.com/25297859/94505518-fbb8b400-022a-11eb-9f72-cc226275cc21.png)
![image](https://user-images.githubusercontent.com/25297859/94505547-0b37fd00-022b-11eb-85cf-68aefec1f7e2.png)

[2020-09-29 02:26] drasticdpk commented on #822
Verified on Dev mode.
Reference:
![image](https://user-images.githubusercontent.com/25297859/94505675-5520e300-022b-11eb-82a5-9894f4138b14.png)
![image](https://user-images.githubusercontent.com/25297859/94505696-61a53b80-022b-11eb-9769-7d2489dcafe0.png)

[2020-09-29 02:37] drasticdpk commented on #829
Here I am unable to open the challenge. cc @vikasrohit
Reference :
https://www.topcoder-dev.com/challenges/5be728f5-0f71-46bd-8579-38b4c3a89d97
![image](https://user-images.githubusercontent.com/25297859/94506293-beedbc80-022c-11eb-916d-866f0e86aa25.png)

[2020-09-29 04:06] vikasrohit commented on #829
Why do you need to open the challenge for verifying this issue?

[2020-09-29 04:14] vikasrohit commented on #823
@drasticdpk the second screenshot shows error, do you want to convey any issue with it?

[2020-09-29 04:33] vikasrohit opened #840 "Clicking Back button from Edit Challenge screen shows empty list of challenges"
Steps:

- Ensure, the Active tab has at least one challenge listed for the project you are using for testing
- Now open any challenge (from any status tab)
- Click on Edit button
- Click Back
- Observe that Challenge Listing page is opened with Active tab selected and no challenge is shown in the list

[2020-09-29 04:35] vikasrohit commented on #837
As per latest updates from the API team, it should be fixed now in dev @drasticdpk.

[2020-09-29 09:51] maxceem commented on #782
Fixed via https://github.com/topcoder-platform/challenge-engine-ui/pull/841

[2020-09-29 09:52] maxceem commented on #781
Fixed via https://github.com/topcoder-platform/challenge-engine-ui/pull/841

[2020-09-29 09:59] vikasrohit commented on #840
fyi @drasticdpk @codejamtc

[2020-09-29 10:01] vikasrohit commented on #839
@codejamtc @drasticdpk it should be fixed now, I have forced the resource details to be available before challenge details are loaded. It might slow down the page load a bit, but it would keep the information consistent.

[2020-09-29 10:07] vikasrohit commented on #781
@codejamtc can you please do a quick test if things are working as expected after this fix? Changes are in dev now.

[2020-09-29 11:31] vikasrohit opened #843 "Unable to add prizes for a challenge in New status"

[2020-09-29 11:32] vikasrohit commented on #843
@jmgasper would you mind adding more details to the issue which you have?

[2020-09-29 13:56] drasticdpk commented on #839
Verified on dev mode.
![image](https://user-images.githubusercontent.com/25297859/94567807-93e68580-028b-11eb-9566-c71cd4561a33.png)

Note : I verified it is working in new tab too.
https://challenges.topcoder-dev.com/projects/9074/challenges/3808d50b-c1b4-4fc7-ac7c-c4ddedb9ac50/edit

[2020-09-29 14:00] drasticdpk commented on #837
Verified on dev
![image](https://user-images.githubusercontent.com/25297859/94568493-428ac600-028c-11eb-835b-53092da6d07b.png)

[2020-09-29 14:07] drasticdpk commented on #829
Sorry for my Inconvenience. Can you please assist me how to verify this issue? Thank you @vikasrohit

[2020-09-29 14:13] drasticdpk commented on #840
Verified on Dev mode.
![image](https://user-images.githubusercontent.com/25297859/94570021-16704480-028e-11eb-9cb5-2eddde00a87e.png)

[2020-09-29 14:23] drasticdpk commented on #843
Verified on Dev mode.
![image](https://user-images.githubusercontent.com/25297859/94570815-f9884100-028e-11eb-8fb3-24ae950aab8a.png)
Note : For work type : task we will not have `Add new Prize` button.
![image](https://user-images.githubusercontent.com/25297859/94571217-74e9f280-028f-11eb-9d13-b734cdc212da.png)

[2020-09-29 16:40] drasticdpk commented on #823
@vikasrohit , this is our expectation.  i.e use is getting complete message if there is any error on server side.

[2020-09-29 18:01] acshields commented on #746
@vikasrohit Per my Slack message, I just discovered that Chameleon is not going to be able to support the required survey experience.

In order to support the goal of collecting App Feedback from users, I have now created a Google Form (https://forms.gle/CsaVawSDkdR5E92B8) that I would like hyperlinked to this "App Feedback" button. Please update this button functionality so that once clicked, it

[2020-09-29 21:48] rootelement opened #845 "Implement Default Forums Object"
When a challenge is saved as draft, please add these properties to the challenge object for a challenge type or f2f type to trigger a forum create. We can then work to make this configurable, including track/type ids that have this enabled by default, how tasks don't create forums, etc.

This is just the first step.

Example object:
[code]

Reference challenge api issue:
https://github.com/topcode

[2020-09-29 21:49] rootelement commented on #845
@vikasrohit i assigned this to you for now, it's up to you if you want to task this out and get a PR pending for dev so we can add this at the same time.

[2020-09-30 04:15] vikasrohit commented on #823
okay. However, I would still like you to understand that the error message `Unable to Activate the challenge` is rendered when the application itself is not able to understand the error. That means, that itself is not a bug or wrong however, we should definitely need to understand the root cause behind such situations when this error is rendered.

[2020-09-30 04:16] vikasrohit commented on #837
Thanks @drasticdpk However, I think you highlighted wrong field in the api response, it should be the `name` field instead.

[2020-09-30 04:18] vikasrohit commented on #829
@drasticdpk you just need to prepare URL `https://challenges.topcoder-dev.com/challenges/{challengeId}` for any of your challenges, and that should properly redirect you to the full URL which includes the project id in the URL.

[2020-09-30 06:30] drasticdpk commented on #837
Agreed.

[2020-09-30 06:58] drasticdpk commented on #829
Verified  on dev env
Challenge Link : https://challenges.topcoder-dev.com/challenges/f06c8670-5530-4ff2-88c7-30e672c1bf8f
Redirect link : https://challenges.topcoder-dev.com/projects/9074/challenges/f06c8670-5530-4ff2-88c7-30e672c1bf8f/view

[2020-09-30 08:22] maxceem commented on #845
@vikasrohit this is done via PR https://github.com/topcoder-platform/challenge-engine-ui/pull/846. This PR can be already merged if you like because API doesn't complain about submitting `discussions` property even now.

The forum name is formatted as `${challenge.name} Discussion`, but let me know if it should be different.

[2020-09-30 12:37] vikasrohit commented on #746
Done. Deployed to dev, will move to prod with next prod push.

[2020-10-01 19:57] rootelement opened #847 "Fix Prizes to be Consistent"
The prize object should look like this:
[code]

I believe this has to change:
https://github.com/topcoder-platform/challenge-engine-ui/blob/develop/src/config/constants.js#L138

And this has to be updated:
https://github.com/topcoder-platform/challenge-engine-ui/blob/develop/src/components/ChallengeEditor/CopilotFee-Field/index.js#L12
Specifically this line:
`{ type, prizes: [{ type, value: 0 }] }

[2020-10-05 03:36] codejamtc opened #848 "No validation message displayed when user clicks on the Save draft"
### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Copilot
2. Select a project from the list 'Connect Project 01 - codejam'
3. Create a Design challenge
4. Don't fill any details and click save as draft

### Actual behavior
-  No validation message displayed when user clicks on the Save draft

[code]

### Expected behavior
- Should display a validation

#

[2020-10-05 04:08] codejamtc opened #849 "Error message displayed while activating the challenge but it won't reflect the actual situation of the error"
![image](https://user-images.githubusercontent.com/42398485/95039462-70d62e80-06ee-11eb-9f33-588943600675.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Copilot
2. Select a project from the list 'Connect Project 01 - codejam' **(No Billing account)**
3. Create a Design challenge
4. Click Edit
5. Click Launch as Active > Confirm

### Actual behav

[2020-10-05 04:30] codejamtc opened #850 "Tag, NDA and Review Type changes in Design challenge after activating it"
[2.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5325230/2.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Copilot
2. Select a project from the list 'Connect Project 01 - codejam'
3. Create a Design challenge (Add NDA, Reviewer=Community; tag=Google)
4. Click Edit
5. Click Launch as Active > Confirm
6. Wait few mins for sync

[2020-10-05 05:15] vikasrohit commented on #850
@codejamtc please share the challenge id or link to the challenge as well. It is difficult to trace the challenge with current information.

[2020-10-05 05:16] vikasrohit commented on #850
And I think it is duplicate of https://github.com/topcoder-platform/challenge-engine-ui/issues/817

[2020-10-05 05:19] vikasrohit commented on #849
@codejamtc how do you know that error is because of billing accounts? Did you see that in console logs?

[2020-10-05 05:22] codejamtc commented on #849
@vikasrohit
[Uploading 1.zip…]()

[2020-10-05 05:26] codejamtc commented on #850
@vikasrohit In Dev challenges this is not happening but this is related to design challenges. Especially the `Reviewer` options change after activating it

[2020-10-05 05:39] vikasrohit commented on #850
Yes, these are the standard symptoms of the data reset which we are following since last two months. I think I shared this earlier as well that review type changes to `Internal` after some time challenge is saved (without activation) as well.
However, we might want to have separate issue for design track for tracking purposes. @lakshmiathreya your call.

[2020-10-05 05:49] codejamtc opened #851 "After activating the challenge created person changes 'tcwebservice'"
![image](https://user-images.githubusercontent.com/42398485/95044239-8fdbbd00-06fc-11eb-8bde-55f8fde2ee7a.png)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/ and login as Copilot
2. Select a project from the list 'Connect Project 01 - codejam'
3. Create a Design challenge (Add NDA, Reviewer=Community; tag=Google)
4. Click Edit
5. Click Launch as Active > Confirm

[2020-10-05 06:12] vikasrohit commented on #849
fixed and deployed to dev.

[2020-10-05 06:18] vikasrohit commented on #789
@acshields bumping it up for discussions

[2020-10-05 06:30] vikasrohit commented on #674
@acshields closing the task assuming you are able to enable chameleon on production as well.

[2020-10-05 06:30] #674 closed

[2020-10-05 06:35] vikasrohit commented on #406
@codejamtc @drasticdpk Not able to produce this now, please check at your end as well.

[2020-10-05 06:36] codejamtc opened #852 "Challenge is stalled after activating the challenge"
![image](https://user-images.githubusercontent.com/42398485/95047091-0ed3f400-0703-11eb-9c1c-e4f4b0061855.png)

![image](https://user-images.githubusercontent.com/42398485/95047129-1dbaa680-0703-11eb-8116-b3769d8d3e54.png)

### Steps to reproduce the problem

URL: https://challenges.topcoder-dev.com/projects/16604/challenges/7f4daa1a-83d6-4833-bdaf-1fd3e24d845e/view

1. Open https://challenges.top

[2020-10-05 06:40] codejamtc commented on #406
@vikasrohit Not able to reproduce. (I can see duplicate tags added in the bug video, so that may be the case it removes all tags when user removes only one)

[2020-10-05 06:41] codejamtc commented on #849
![image](https://user-images.githubusercontent.com/42398485/95047567-eef10000-0703-11eb-988a-0bfe1eabb3e7.png)

[2020-10-05 06:47] codejamtc opened #853 "No validation displayed if the user doesn't have proper permission to edit the challenge after activating it"
[3.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5325686/3.zip)

### Steps to reproduce the problem

URL: https://challenges.topcoder-dev.com/projects/16604/challenges/7f4daa1a-83d6-4833-bdaf-1fd3e24d845e/view

1. Open https://challenges.topcoder-dev.com/ and login as Copilot
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Create a Dev challenge (Set Copilot <

[2020-10-05 06:49] codejamtc commented on #852
Challenge details: https://www.topcoder-dev.com/challenges/7f4daa1a-83d6-4833-bdaf-1fd3e24d845e

[2020-10-05 06:49] vikasrohit commented on #287
Closing the issue as I don't find sufficient details to reproduce and verify.

[2020-10-05 06:49] #287 closed

[2020-10-05 06:52] vikasrohit commented on #228
Moving couple of releases ahead as we don't yet have file upload enabled on UI yet.

[2020-10-05 06:53] vikasrohit commented on #695
This should no more valid now. @drasticdpk can you please retest?

[2020-10-05 06:57] codejamtc opened #854 "User can draft a challenge without a 'tag'"
![image](https://user-images.githubusercontent.com/42398485/95048754-07fab080-0706-11eb-946c-f2371b8e68c0.png)

[5.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5325765/5.zip)

### Steps to reproduce the problem

URL: https://challenges.topcoder-dev.com/projects/16604/challenges/168164bd-7976-4035-ae99-fba65d9c4775/view

1. Open https://challenges.topcoder-dev.com/ and login

[2020-10-05 07:10] codejamtc opened #855 "Empty 'Public specification' is saved even thoguh the user gets a validation while saving without the spec"
[6.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5325782/6.zip)

### Steps to reproduce the problem

URL: https://challenges.topcoder-dev.com/projects/16604/challenges/6d3df1a6-3658-4c7a-8bb2-474e71fde0ee/edit

1. Open https://challenges.topcoder-dev.com/ and login as Copilot
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Create a Dev challenge
4. Fill all th

[2020-10-05 07:14] codejamtc opened #856 "[Specific Case] Error displayed when user tries to save a challenge without 'Public specification'"
[7.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5325793/7.zip)

### Steps to reproduce the problem

URL: https://challenges.topcoder-dev.com/projects/16604/challenges/02d15e08-690a-43e6-82c8-fd31b666a07a/edit

1. Open https://challenges.topcoder-dev.com/ and login as Copilot
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Open https://challenges.topcoder-dev.

[2020-10-05 07:19] codejamtc opened #857 "[Specific Case] "The prop `onUpdatePhase` is marked as required in `a`, but its value is `undefined`.' displayed when user opens a challenge"
![image](https://user-images.githubusercontent.com/42398485/95050427-27470d00-0709-11eb-939f-0a6acbeaa560.png)

[8.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5325803/8.zip)

### Steps to reproduce the problem

URL: https://challenges.topcoder-dev.com/projects/16604/challenges/7f4daa1a-83d6-4833-bdaf-1fd3e24d845e/view

**This is not reproducible always**

1. Open https://ch

[2020-10-05 07:35] drasticdpk commented on #695
Verified on Dev mode
![image](https://user-images.githubusercontent.com/25297859/95051760-8149d180-070d-11eb-8248-670239c70a03.png)

[2020-10-05 08:04] vikasrohit commented on #855
@codejamtc I remember this one being reported earlier, though I am able to find the old one. I think we had very specific discussion around this @codejamtc.

[2020-10-05 08:22] codejamtc commented on #855
@vikasrohit https://github.com/topcoder-platform/challenge-engine-ui/issues/778

[2020-10-05 08:52] vikasrohit commented on #855
Thanks @codejamtc, do you still want to keep this one? I mean if you want to highlight different issue than #778, please let me know, otherwise we can close this one.

[2020-10-05 08:57] #855 closed

[2020-10-05 08:59] vikasrohit commented on #477
Fixed the issue with front end, backend already seems to be sanitizing the content (you can see the button html is converted HTML encoded after server round trip).

@rootelement @ThomasKranitsas @acshields fyi

[2020-10-05 10:08] maxceem commented on #847
@vikasrohit done via PR https://github.com/topcoder-platform/challenge-engine-ui/pull/858

[2020-10-05 12:12] vikasrohit commented on #847
@rootelement changes are deployed to dev env.

[2020-10-05 15:37] rootelement opened #859 "NDA Not Stored on Challenge"
I created this challenge:
https://challenges.topcoder-dev.com/projects/16640/challenges/f7dcc162-e36f-4b0b-aae6-07dd3361bb3f/view

I checked the NDA box. But the only thing I see on the challenge object returned is standard challenge terms for the submitter roleId:
![Screen Shot 2020-10-05 at 11 36 45 AM](https://user-images.githubusercontent.com/5400156/95100420-11cce580-06ff-11eb-9cd8-7e8c4d13ef

[2020-10-05 15:39] rootelement commented on #859
I'm not sure how, but when I view the challenge in challenge manager, the NDA box is checked. Not sure where it's getting that information from. `b11da5cd` is the UUID of the `Standard Terms for TopCoder Competitions v2.2`, not the NDA UUID.

[2020-10-06 04:46] vikasrohit commented on #859
Yes, I noticed that @rootelement as well, however, I did try to reproduce it but when I set NDA checkbox it is properly setting the terms id and on page refresh I can see the correct terms ID for NDA as well.

[2020-10-06 05:23] codejamtc commented on #477
![image](https://user-images.githubusercontent.com/42398485/95161961-1ad2bb00-07c2-11eb-945c-953b506f4c8c.png)

Nothing happens when user click on it

[2020-10-06 08:31] maxceem commented on #859
I also cannot reproduce this issue though I've tried several times. The NDA stays checked and I can see 2 terms added to the list.

[2020-10-06 08:35] vikasrohit commented on #859
That might mean sync/migration script is doing it as well.

[2020-10-06 08:47] vikasrohit opened #860 "Error message not displayed when updating challenge"
Error message is not displayed if there is any error during challenge update. This issue happens when there is no modal is already rendered before performing the update action i.e. cases like `Launch as Active` are not affected with this and they are showing the error message in the action. However, when there is no modal shown before the actual update action, there is no UI yet to show the error.

[2020-10-06 08:49] vikasrohit commented on #860
fyi @codejamtc @drasticdpk you might already have this issue open, please link it here if it already exists. However, please keep in mind in that it is different from error not shown for `Launch as Active` action because of the above mentioned reason.

[2020-10-06 09:05] vikasrohit commented on #859
@rootelement I think it is migration or sync script as the [challenge](http://local.topcoder-dev.com:3000/projects/16573/challenges/6d897de8-c1f3-4abf-a9cd-64416b70c4a2/view) I created for testing this, got the NDA term removed automatically after some time I activated the challenge. I am 100% sure that I didn't do any other operation on that challenge after activation and I was able to see the co

[2020-10-06 11:59] vikasrohit commented on #826
@vikasrohit @lakshmiathreya @rootelement I still faced this issue on dev today for challenge http://local.topcoder-dev.com:3000/projects/16573/challenges/85c184c0-9bf8-46de-ad51-4f4dfeae630e/view. It happened after I closes the task in v5, however, it went back to Active after some time because Autopilot is not able to close the `Iterative Review` phase for the challenge in legacy. And when it is

[2020-10-06 12:04] vikasrohit commented on #852
Auto pilot is not working in dev environment so it is not moving the phases of the challenges.

[2020-10-07 01:26] codejamtc commented on #860
@vikasrohit Please check the below scenario, Thanks

1. Open https://challenges.topcoder-dev.com/ and login as Copilot
2. Select a project from the list 'Test v5 {codejam} - 0001'
3. Create a Dev challenge (Set Copilot = Currently logged in user) (Info popup displayed)
4. Click Edit
5. Change the Copilot to a different user and Save as draft (Info popup displayed)
6. Wait a few seconds
7. Click Ed

[2020-10-07 04:18] codejamtc commented on #850
After activating the below data is lost during the sync cc @vikasrohit @lakshmiathreya
- Tags
- NDA
- Final Deliverables
- Stock Arts
- Submission Visibility
- Maximum Number of Submissions
- Copilot Fee
- Review Type

eg: https://challenges.topcoder-dev.com/projects/16604/challenges/bd4129ef-0fdc-4ee8-a468-4d71fe8e6903/view

[2020-10-07 05:07] vikasrohit commented on #860
That is ignored intentionally I guess because the operation is successful as the error just suggests that selected copilot is already a copilot. However, we do need to show error when the application is not able to add the copilot as copilot resource when it is not already associated. Let me know if that is the case.

[2020-10-08 03:05] codejamtc commented on #860
@vikasrohit Yes, you are correct

[2020-10-12 10:06] vikasrohit commented on #558
Implemented explicit access control for challenges where user don't have access to the challenge or its project.

[2020-10-12 20:55] mtwomey opened #863 "Have a tab that shows "everything" and have that be the default"
Doing some initial testing, I created a new challenge and once created it took me back to this screen and it was empty, because it was on "Active" challenges. It might make sense to have a "All" tab and have that be the default.

![image](https://user-images.githubusercontent.com/7715262/95789407-18c99a00-0ca3-11eb-83a2-089e5088e337.png)

[2020-10-12 20:56] mtwomey opened #864 "Draft - vs - new"
We have the concept of "Draft", which is a draft that also exists in OR. We also have the concept of "New" which is sort of like a draft, but it doesn't exist yet outside of V5. This is a little confusing and the UI makes it even more unclear. I think we need to revamp the approach here.

[2020-10-12 20:57] mtwomey opened #865 "F2F Challenges let you set multiple prizes, but only the first one is actually used"
Should limit the user to only 1 prize on F2F challenges.

[2020-10-12 20:59] mtwomey opened #866 "Trying to save a challenge as a draft, but without all required information silently fails"
When you try this - the save as draft button just doesn't do anything. There should be a error or something directing the user to provide that missing information.

[2020-10-12 20:59] mtwomey opened #867 "Add an Activate button to the challenge details screen for Draft challenges"

[2020-10-13 11:20] vikasrohit commented on #864
I remember @acshields starting a discussion over Slack regarding the same.

[2020-10-13 11:22] vikasrohit commented on #865
We do restrict the number of prizes for Tasks, if we need to restrict it for F2F, we can do that as well. fyi @acshields

[2020-10-13 11:25] vikasrohit commented on #866
We have this one logged https://github.com/topcoder-platform/challenge-engine-ui/issues/848 and kept it for next release as IMO it is a negative test case and our first set of audience is not going to do this practically.

[2020-10-13 11:25] #866 closed

[2020-10-13 11:26] vikasrohit commented on #867
You mean, on view screen?

[2020-10-13 11:39] vikasrohit commented on #867
We already have an Activate button on listing page for quick access, but we can still discuss.

[2020-10-13 21:05] mtwomey opened #870 "Error initially after activating a challenge"
Video showing the issue

https://youtu.be/rC8I0tq2nT4

[2020-10-14 04:35] drasticdpk opened #871 "Remove Duplicate message"
Reference :
![image](https://user-images.githubusercontent.com/25297859/95943941-cacda700-0e06-11eb-9a45-37a5b17a4f26.png)

[2020-10-14 04:48] codejamtc opened #872 "After activating the challenge; after few seconds it will go to the draft and then again after few seconds it will go to active tab again"
### Steps to reproduce the problem

1. Open https://challenges.topcoder.com/ and login as Copilot
2. Select a project from the list 'Q2: Customer Experience Prod/Dev Delivery (Connect Projects)'
3. Create a Dev challenge
4. Fill all the mandatory details and Click Save as draft
5. Click Edit > Activate it
6. Check the active tab
7. Wait few mins and check the active tab (Challenge is not there)
8.

[2020-10-14 04:55] drasticdpk opened #873 "Challenge Delete Functionality in WM App"
Scenario :
While creating the challenge, mistakenly if user has selected wrong **Work Type**  or **Work Format** either it will stay in new/draft tab  or user has to activate it and delete it form OR.

Possible solution :
1. We can add edit functionality for **Work Type**  or **Work Format**
2. we can add deleted functionality for **New/Drat** status.

[2020-10-14 05:50] drasticdpk commented on #859
This is verified NDA has not implement correctly
Reference :
![image](https://user-images.githubusercontent.com/25297859/95948686-c0b0a600-0e10-11eb-89db-873b77068cf2.png)

In Direct app, NDA is not reflected.
![image](https://user-images.githubusercontent.com/25297859/95948891-34eb4980-0e11-11eb-9ee0-e5071d2cf776.png)
cc @vikasrohit @codejamtc

[2020-10-14 06:00] drasticdpk opened #874 "[$20] Favicon icon is missing."
Reference :
![image](https://user-images.githubusercontent.com/25297859/95949560-a4156d80-0e12-11eb-865d-e5c7b9b7931b.png)

[2020-10-14 06:16] vikasrohit commented on #873
@acshields fyi

[2020-10-14 06:17] vikasrohit commented on #871
@drasticdpk I think we can live with that for now as this should be fixed with redesign that is coming in near future.

[2020-10-14 07:31] drasticdpk opened #875 "User with any Role can access the Application."
**Actual** : user with any Role can access the Application. (eg Topcoder User)
**Expected**:
User with Only selected Role (Copilot, Copilot Manager)  should access the application.

[2020-10-14 10:46] codejamtc commented on #875
![image](https://user-images.githubusercontent.com/42398485/95978975-91ae2a80-0e38-11eb-8f36-318c1f40804b.png)

[code]

[Log.txt](https://github.com/topcoder-platform/challenge-engine-ui/files/5377550/Log.txt)

[2020-10-14 14:17] rootelement commented on #859
Thomas and I are going to test this in dev by shutting off sync and creating a bunch of challenges. Will report back shortly.

[2020-10-15 10:12] vikasrohit opened #876 "Save button for saving challenge in New status"

[2020-10-15 17:33] vikasrohit opened #877 "Summary validation error don't go away when all individual validations are off"
1. Create new challenge
2. On the Edit screen, directly hit `Save Draft` button to cause validation errors
3. Now, fill the required fields as shown by validation errors
4. Observe that even after all of individual validations are turned off, the summary error which says `Please fix the errors before saving` is still there. It goes away when user hit the Save button again

[2020-10-15 17:34] vikasrohit commented on #877
This issue arise after fixing https://github.com/topcoder-platform/challenge-engine-ui/issues/848

[2020-10-19 16:23] rootelement commented on #872
This will need to be retested after we release the Terms/Copilot Payment update to prod. It should be fixed today.

[2020-10-19 16:23] rootelement commented on #827
Duplicate of https://github.com/topcoder-platform/challenge-engine-ui/issues/827?

[2020-10-19 16:24] rootelement commented on #817
This will be fixed with this issue:
https://github.com/topcoder-platform/challenge-api/issues/330

[2020-10-19 16:24] rootelement commented on #814
This is fixed as of last Thursday.

[2020-10-19 16:24] #814 closed

[2020-10-20 06:28] vikasrohit commented on #827
@rootelement did you meant some other issue? Here is referring to the same issue itself.

[2020-10-20 15:39] vikasrohit opened #880 "Enable Private specs in Challenge Editor page"

[2020-10-20 15:39] vikasrohit commented on #880
fyi @rootelement @acshields @lakshmiathreya

[2020-10-20 19:34] rootelement opened #881 "Default Timeline Templates"
This line:
https://github.com/topcoder-platform/challenge-engine-ui/blob/develop/src/services/challenges.js#L77
should be changed to this:
`const response = await axiosInstance.get(`${CHALLENGE_TIMELINES_URL}?isDefault=true&page=1&perPage=100`)`

There's now a default flag in dev. It will be in prod before the start of your day.

[2020-10-21 07:06] drasticdpk opened #882 "Unable to close task"
Steps :
1. https://challenges.topcoder-dev.com/projects/16640/challenges/4ae6018d-748e-4c5d-a230-af36a2f87f51/edit
2. Try to close the task
User:  topcoderconnect+copilot@gmail.com/appirio123

Reference:
![image](https://user-images.githubusercontent.com/25297859/96684835-f539da00-139b-11eb-8bc6-1efc1cc1b2ab.png)

[2020-10-21 07:28] drasticdpk opened #883 "Unable to update challenge if there is any changes on copilot details."
**Steps**
1. Go to https://challenges.topcoder-dev.com/projects/16640/challenges/f830624f-5588-4a5c-ba36-bd76c385be79/edit
2. Try to update the challenge by editing copilot name.

**Reference** :
1.https://monosnap.com/file/Ru4QgykWm785rpCFbV1Efn2oVgi2lq
2.![image](https://user-images.githubusercontent.com/25297859/96686893-dd178a00-139e-11eb-81df-1c0a06544d8a.png)
3. ![image](https://user-images.

[2020-10-22 07:54] codejamtc commented on #859
Here is my observation: @rootelement @vikasrohit

[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5421014/1.zip)

1. [QA][Challenges][10222020] Prod Test 01 - Activated (NDA, Copilot and Copilot fee - Displayed); it moves to the Active tab and then after few mins it moves to Draft again. I activated it again and now I can see it on the Active tab. [Note: I added a Group]

-

[2020-10-22 07:56] codejamtc commented on #876
`Save` button is displayed in the Draft tab as well; intended? @vikasrohit

![image](https://user-images.githubusercontent.com/42398485/96842093-3f898c80-146a-11eb-8141-dfcb6f9e6bfb.png)

[2020-10-22 09:57] codejamtc commented on #558
![image](https://user-images.githubusercontent.com/42398485/96855738-c7779280-147a-11eb-9d92-587493d2727d.png)

[2020-10-22 10:07] codejamtc opened #884 ""Only M2M, admin or user with full access role can perform this action" displayed when user tries to save as draft"
[6.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5421902/6.zip)

### Steps to reproduce the problem

1. Open https://challenges.topcoder-dev.com/
2. Open a Project and create a challenge
3. Click Save as draft

### Actual behavior
- "Only M2M, admin or user with full access role can perform this action" displayed when user tries to save as draft

### Expected behavior
- Shoul

[2020-10-23 08:36] codejamtc commented on #872
@rootelement @vikasrohit **Update**: I checked again today, but still after activating the challenge goes to draft. After that, it won't come again to the `Active` tab.

[2020-10-26 12:08] vikasrohit commented on #881
Done in dev.

[2020-10-27 16:26] acshields opened #886 "Set-Up Screen 2: Basic Details Section"
### Designs
[Desktop](https://marvelapp.com/prototype/12jie1b9/screen/73881166)
[Mobile
](https://marvelapp.com/prototype/b9j719g/screen/73881264)

### Section Display Order
- After the user has completed this section on Screen 1 and clicked the [Continue Set-Up] button, the user will be brought to set-up Screen 2.
- The first section showed on set-up Screen 2 is the "Basic Details" section. On Sc

[2020-10-28 08:04] vikasrohit commented on #884
Should be fixed now @codejamtc. Just as background, it was happening because the challenge creator was not being added as resource to the challenge. @rootelement has patched the API to create a Manager resource for the challenge creator to resolve the issue.

[2020-10-28 08:06] vikasrohit commented on #876
Yes, it should also be visible for Active challenge as well. However, I think we can avoid showing the `Save Draft` button once the challenge is in Draft status because `Save` button would also do the same work.

[2020-10-28 08:11] vikasrohit commented on #883
The challenge seems to be deleted now. @drasticdpk are you able to reproduce it on new challenge as well?

[2020-10-28 15:26] rootelement commented on #884
We're working through this issue now.
https://github.com/topcoder-platform/resources-api/issues/42#issuecomment-717963663

Fixing this should clean up some ambiguity. A manager of a challenge should be able to manage a challenge. Will report back as soon as it's fixed.

[2020-10-29 04:19] drasticdpk commented on #883
@vikasrohit ,
Never mind, we are having this issue for newly created challenge too.
Mainly try to edit challenge by swapping copilot.
Reference :
https://challenges.topcoder-dev.com/projects/9074/challenges/26beb2ff-b8a2-4ce8-8761-e5b17462d004/edit
![image](https://user-images.githubusercontent.com/25297859/97525001-fbe4d480-19cd-11eb-8cbb-75381a123bbe.png)

Note : Please follow this video to repl

[2020-10-29 12:10] vikasrohit commented on #883
I think it is related to https://github.com/topcoder-platform/resources-api/issues/42#issuecomment-717963663

[2020-11-02 09:02] vikasrohit commented on #883
@drasticdpk It should be fixed now. It was happening because of https://github.com/topcoder-platform/resources-api/issues/42#issuecomment-719231246 as copilot was not able to see existing copilot and tempt to update the copilot for the challenge while there already exists a copilot.

[2020-11-02 10:14] drasticdpk commented on #883
@vikasrohit still having same same issue. Anything pending yet for deployment ?
![image](https://user-images.githubusercontent.com/25297859/97856314-3929c900-1d24-11eb-8bc4-7f8d2defffe0.png)

[2020-11-02 15:01] vikasrohit commented on #883
which user you are logged in @drasticdpk ? I tried with `TCConnCopilot` and it worked just fine for me for the same challenge.

[2020-11-03 15:19] rootelement commented on #795
This should be fixed and deployed. Please reopen if not.

[2020-11-03 15:19] #795 closed

[2020-11-03 15:26] rootelement opened #892 "Thomas' Review of Process"
Please review this comment:
https://github.com/topcoder-platform/challenge-api/issues/312#issuecomment-719533821

Pulling out the important parts:

## High Priority:
- [ ] ⚠️ Create, save as draft, activate and try to close without any page refresh. I'm getting an error saying I need to assign a member even though I have already assigned the member
- [ ] 🔴 I have activated a challenge, then change

[2020-11-04 05:08] codejamtc opened #893 "Error while creating a Task"
[1.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/5485566/1.zip)

### Steps to reproduce the problem

1. Open [Dev Environment](https://challenges.topcoder-dev.com/) and login as Copilot
2. Select a project from the list '[Test v5 {codejam} - 0001](https://challenges.topcoder-dev.com/projects/16604/challenges)'
3. Create a Dev Task
4. Fill all the mandatory details and Click S

[2020-11-04 07:55] vikasrohit commented on #892
This happens because

[2020-11-04 09:01] vikasrohit commented on #892
@ThomasKranitsas The reason for that is that we are verifying if `task.memberId` is set for the challenge before letting the task to be closed. If that field is not required by the backend for ensuring that task is assigned, we can validate the Submitter resource being present for the challenge.

Yep, we noticed it earlier as well, however, we didn't find the root cause of it because the front end

[2020-11-04 11:30] vikasrohit commented on #883
@drasticdpk are you still facing the issue?

[2020-11-05 14:38] drasticdpk commented on #883
@vikasrohit ,
I am able to replicate the issue from my end.
here is the reference : https://monosnap.com/file/V8LYxGXiaaC2OTDBptjBrYBTAAfmGo
Note : try to swap copilot 2-3 times and save it.
challenge : https://challenges.topcoder-dev.com/projects/16640/challenges/d2dae0a7-074f-48cb-9707-b96cde575c76/edit
User :  TCConnCopilot

[2020-11-05 15:07] drasticdpk commented on #870
Here, while clicking the **view challenge** link it is opening the WM challenge details page.
@mtwomey is this your expectation or you want to open community app's challenge details page, please confirm.
![image](https://user-images.githubusercontent.com/25297859/98256833-24a93300-1fa7-11eb-83ba-d6347960514e.png)

[2020-11-09 11:06] vikasrohit commented on #870
@drasticdpk the original issue is about the permission error user was seeing on clicking the `View Challenge` button after activating the challenge from the listing page. That has been fixed. We have not touched where the `View challenge` button should go.

[2020-11-09 11:19] vikasrohit commented on #883
@drasticdpk I think it is happening intermittently and my doubt is that it is happening because of sync timing. May be the time  you tried to change the copilot, it was added by sync for its previous operations. I have tried it multiple times with the same user and same challenge and it is working just fine for me every time. So, I think we can close this issue as the original issue is fixed (whic

[2020-11-09 11:23] vikasrohit commented on #893
@codejamtc it must be because of invalid session, I mean you might need to refresh the page before creating challenge. UI is handling the api error gracefully, it might a 403 thrown by api (in case of incorrect token or inability to refresh the token) or any other error. But nothing has changed technically in UI or even in the API for the creation part. It must be temporary.

[2020-11-10 11:00] vikasrohit opened #896 "Remove copilot and copilot fee validation for a task close"
As of now, it requires copilot and copilot fee set for the task to allow close task operation. In practical, for tasks we might want to skip copilot selection e.g. cases where we direct make payments without including copilot or if the payment is for the copilot itself.

[2020-11-12 05:41] vikasrohit commented on #813
Closing as it is already verified on prod

[2020-11-12 05:41] #813 closed

[2020-11-12 05:41] vikasrohit commented on #810
Closing as it is already verified on prod.

[2020-11-12 05:41] #810 closed

[2020-11-12 05:43] vikasrohit commented on #877
Closing as it is already verified on prod

[2020-11-12 05:43] #877 closed

[2020-11-12 05:51] #847 closed

[2020-11-12 05:51] #845 closed

[2020-11-12 05:54] #881 closed

[2020-11-12 05:54] vikasrohit commented on #802
Closing as it is already verified on prod

[2020-11-12 05:54] #802 closed

[2020-11-12 06:48] nkumar-topcoder opened #898 "V5 GET challenges API - Topgear team"
Topgear team reported V5 get challenges has issues
V5 GET challenges API
12:01
curl -X GET \
  'https://api.topcoder.com/v5/challenges?directProjectId=projectid&page=1&perPage=100' \
  -H 'Authorization: Bearer ' \
  -H 'cache-control: no-cache'

**Response is**
{
    "message": "Not found Group of id 053eb23f-......................"
}

[2020-11-12 06:56] vikasrohit commented on #896
@drasticdpk @codejamtc @lakshmiathreya as QA guideline, earlier it was validating the copilot and copilot fee as well to let user close the task. However, I found that over validation after discussing with the team, so, I have remove the validation now. So, now you can close a task without assigning a copilot or adding copilot fee.

[2020-11-12 06:56] vikasrohit commented on #883
@drasticdpk can we mark it as pass now?

[2020-11-12 08:24] rootelement commented on #898
@ThomasKranitsas this is an api issue. Not sure what the error means. It doesn't look like they're querying on group

[2020-11-12 10:10] drasticdpk commented on #883
@vikasrohit   sure please.

[2020-11-12 12:31] vikasrohit commented on #883
Thanks @drasticdpk. @lakshmiathreya  Can we please get it verified on prod as well now?

[2020-11-12 12:32] vikasrohit commented on #892
It is done and deployed to prod. Verified.

[2020-11-12 13:13] lakshmiathreya commented on #896
Verified that Task closure is happening with no copilot selected and Copilot fee set to zero.

[2020-11-12 13:43] lakshmiathreya commented on #870
View Challenge is working fine - verified.

[2020-11-12 13:45] lakshmiathreya commented on #882
Task closure working fine in Prod.

[2020-11-13 13:43] #896 closed

[2020-11-13 13:44] #870 closed

[2020-11-13 13:44] #882 closed

[2020-11-16 23:10] ajefts opened #899 "Not all groups are available in UI"
**Describe the bug**
When setting up a challenge in work manager, I'm not able to see all my groups.  After some digging into the API calls, it appears to be because the API call to get my groups has a default page size that is LESS than my # of groups.  I tried increasing the pagesize on the API call to 2000 and then i saw my groups.

**To Reproduce / Actual Behavior**
Steps to reproduce the beha

[2020-11-16 23:10] ajefts commented on #899
fyi @acshields @vikasrohit

[2020-11-17 10:24] vikasrohit commented on #899
@ajefts we are making call to https://api.topcoder.com/v5/groups?membershipType=user&memberId=<loggedInUserId> to fetch the list of groups of the user. So, I guess, it requires the logged in user to be part of the group to see that in the list.

[2020-11-17 16:40] rootelement commented on #859
Please test this again @maxceem . I believe this is fixed in dev and prod.

[2020-11-17 16:49] dmessing opened #900 "Add link to direct"
Can we add a link to direct from here: https://challenges.topcoder.com/projects/26114/challenges

It will make it easy to find and add resources like billing accounts or copilots

[2020-11-17 16:50] dmessing commented on #900
![Screen Shot 2020-11-17 at 11 49 35 AM](https://user-images.githubusercontent.com/664840/99420317-14f4ed00-28cb-11eb-841c-d2ceac461d8b.png)

[2020-11-17 16:51] dmessing commented on #900
@acshields FYI something to think about

[2020-11-17 17:05] maxceem commented on #859
@rootelement I've tested it on DEV and it works good for me.

[2020-11-17 18:44] cwdcwd commented on #899
you need to check the x-headers on the call to the API and see how many pages of data are available and then make subsequent calls to fetch more pages

[2020-11-18 08:58] vikasrohit commented on #769
@acshields this can not be implemented as stand alone feature, but we have to do major refactoring to incorporate all the new designs. So, if we are ready to apply the latest designs, we have to start with every feature that is designed in the new deisgns.

[2020-11-18 09:00] vikasrohit commented on #364
@acshields  It does not matter for now as we are not showing the edit timeline component. Please move it to a later release when incorporate the edit timeline feature.

[2020-11-18 09:01] vikasrohit commented on #809
@acshields I have already marked it with `wontfix-redesign-candidate` which means that it would be fixed when we implement the new designs.

[2020-11-18 09:02] vikasrohit commented on #719
@acshields do you have the exact link to redirect to?

[2020-11-18 09:03] vikasrohit commented on #730
@acshields please let us know what do you think about https://github.com/topcoder-platform/work-manager/issues/730#issuecomment-662416677?

[2020-11-18 09:04] vikasrohit commented on #720
We do not have any component for toggle button. So, we have to live with radio button only if we don't want checkbox. Are we good with having radio button @acshields?

[2020-11-18 09:06] vikasrohit commented on #723
No toggle button component until we have new designs implemented. So, if we are okay with radio button we can go ahead with this one.

[2020-11-18 09:23] vikasrohit commented on #721
@acshields You meant `"No" if not desired` right?

You meant `if Answer 1 was "No"` right?

I do not see anywhere we are using the responsive text field. All we are showing is the clickable components which renders the copilot names as they are right now in the app.

[2020-11-18 09:25] vikasrohit commented on #771
Redesign candidate.

[2020-11-18 09:28] vikasrohit commented on #766
@acshields please let us know what do you think about display condition https://github.com/topcoder-platform/work-manager/issues/766#issuecomment-682398070

[2020-11-18 09:31] vikasrohit commented on #765
@acshields https://github.com/topcoder-platform/work-manager/issues/765#issuecomment-688656799

[2020-11-18 10:37] vikasrohit commented on #880
Duplicate of #766

[2020-11-18 10:37] #880 closed

[2020-11-18 13:58] acshields opened #901 "Projects Files/Links Pass Through"
Explore whether there is a way to pass-through files and links that have been shared in project to Work Manager, so that they display in an "available attachments" folder when the user seeks to attach a file or link to the challenge or task.

This feature could save the person who is managing the delivery the effort of having to download a file from the project, then reshare it in the challenge.

[2020-11-18 14:04] acshields commented on #766
@vikasrohit - my apologies for the lack of clarity around the second requirement. I don't think that this is something we need to worry about in the front-end of Work Manager.

What I meant was that in the Challenge Listings, the private specification will only be viewable to users after they have registered for the challenge. I believe James already has this condition set-up, so nothing for you w

[2020-11-18 14:12] acshields commented on #719
@vikasrohit - I asked John Wheeler about this. A new version is currently being developed, and also apparently involves some API updates from James. As a result, I will move this issue out to a later month's project.

[2020-11-18 14:13] acshields commented on #364
@vikasrohit - noted and agreed. I will move this out.

[2020-11-18 14:17] acshields commented on #730
@vikasrohit - I was referring to the "Status: New" that is currently displayed within the set-up section. In the new designs, I have the current status displayed in the header and not in a section. Should we move this story to December, where more of the design UI will be implemented?

[2020-11-18 14:28] acshields commented on #720
@vikasrohit - The reqs for this question have actually been updated since I initially wrote this feature. Here is the revised behavior for this question:

### Update 1
The Enforce NDA question will be displayed in the 'Advanced Settings' part of the 'Basic Details' section of the set-up flow (reference the designs). This means that this question should have a default answer always selected, which

[2020-11-18 14:29] acshields commented on #720
@vikasrohit - given this information, I am assuming this issue may move out to December, right?

[2020-11-18 15:13] acshields commented on #721
@vikasrohit - Noted. In addition, there has been a few changes to this question since the time that I originally wrote it. Please see below.

### Update 1
The "Copilot" question will be a part of the Participants section in the set-up flow. As a note, the entire Participants section will be Advanced Settings only - meaning that all answers will initially default.

### Update 2
Updating the logic b

[2020-11-18 15:14] acshields commented on #721
@vikasrohit - with these changes to the requirements, I am assuming this one will move out to December, right?

[2020-11-18 15:15] acshields commented on #765
@vikasrohit - Nope, we are good for now. We can close this one and remove it from the project.

[2020-11-18 15:15] #765 closed

[2020-11-18 15:16] acshields commented on #852
@vikasrohit - reading through your note to codejam, it seems like this isn't a real issue and we can close, correct?

[2020-11-18 15:18] acshields commented on #616
@vikasrohit - I don't understand the "what's needed" with this one, I just didn't want to lose track of it because it was flagged as security. What is the question on this one, so I can help to get the right inputs?

[2020-11-18 15:19] acshields commented on #805
@vikasrohit - I will take this out of the project for the time being. When we get to improvements on the "all projects/challenges/tasks" view, I will take searching into account.

[2020-11-18 15:25] acshields commented on #723
@vikasrohit - another issue where the requirements have been modified since the time I originally wrote this. Please see below for the revised requirements.

### Update 1
The "Intended Work Group" question will be a part of the Participants section in the set-up flow. As a note, the entire Participants section will be Advanced Settings only - meaning that all answers will initially default.

### U

[2020-11-18 15:25] acshields commented on #723
@vikasrohit - with these changes, does this issue stay in November or move out to December?

[2020-11-18 15:51] acshields opened #902 "Update Reviewer Question"
### Update 1
'Reviewer' question will be a part of the Participants section of the set-up workflow. The Participants section is entirely Advanced Settings, meaning that the 'Reviewer' question will have a default answer.

### Update 2
- Update this question to display as follows:
- Question field label: "Review Type"
- Answer format: Checkboxes
-Community Review
-Internal Review
-Automated Review

[2020-11-19 05:21] vikasrohit commented on #901
@acshields I guess this should be possible however, my concern is that we would end up replicating almost every thing from projects app to the work manager if we go with this approach because IMO, some day we would need to show discussions, links and scope from the projects app. This is still my biggest concern with separating work manager from projects app and micro framing apps. We would end up

[2020-11-19 05:22] sandhiyakavi commented on #406
Verified in Prod.Working as expected.

[issue#406.zip](https://github.com/topcoder-platform/work-manager/files/5564537/issue.406.zip)

[2020-11-19 05:28] sandhiyakavi commented on #477
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99625371-7657c000-2a73-11eb-83de-6b426d6a89a9.png)

[2020-11-19 05:31] vikasrohit commented on #723
@acshields thanks for the update. The new requirements have one problem.

We can not show checklist for groups because for admins there can be 1000s of groups and a checklist would not be a good UX.

[2020-11-19 06:25] vikasrohit commented on #477
@sandhiyakavi can you please apply label `Pass on Prod` as well after verifying on prod? I am doing it for this one.

[2020-11-19 06:26] #477 closed

[2020-11-19 06:26] #406 closed

[2020-11-19 07:30] sandhiyakavi commented on #497
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99634861-83c97600-2a84-11eb-8c7c-a9709544088c.png)

[2020-11-19 07:36] #497 closed

[2020-11-19 07:38] vikasrohit commented on #616
@acshields I am not sure about this as well. We need expert advice from @rootelement

[2020-11-19 07:39] vikasrohit commented on #852
Yes, that is my understanding but it has not been vetted by QA yet for the same, that is why I moved it back to requirement clarification state.

[2020-11-19 07:48] sandhiyakavi commented on #558
Verified on Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99636590-f6d3ec00-2a86-11eb-85ef-aa8b14a3c334.png)

[2020-11-19 07:58] sandhiyakavi commented on #673
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99637524-5383d680-2a88-11eb-9fee-252b7b06d80b.png)

[2020-11-19 08:04] sandhiyakavi commented on #680
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99638222-41eefe80-2a89-11eb-8652-aea71c996770.png)

[2020-11-19 08:10] sandhiyakavi commented on #691
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99638737-06a0ff80-2a8a-11eb-9423-b07ebb16c7fc.png)

[2020-11-19 09:01] sandhiyakavi commented on #695
Verified on Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99644375-31db1d00-2a91-11eb-939e-4262c76052d8.png)

[2020-11-19 09:53] sandhiyakavi commented on #746
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99650216-7b7b3600-2a98-11eb-9276-f878f051a820.png)

[issue#746.zip](https://github.com/topcoder-platform/work-manager/files/5565901/issue.746.zip)

[2020-11-19 09:56] sandhiyakavi commented on #747
Verified on Prod.working as expected.

![image](https://user-images.githubusercontent.com/55895538/99650608-f80e1480-2a98-11eb-9c6e-0e7d3776a30f.png)

[2020-11-19 10:05] vikasrohit commented on #721
@acshields yes, it would move to December, we would start on it right away, but it can not be concluded in November because it can not be worked on standalone and we have to implement other pieces of the form along with. We can not do part of the form with new designs and part with old designs.

I guess there is a typo you might want `If no Copilot is  **selected**, then the Copilot Fee field shou

[2020-11-19 10:05] sandhiyakavi commented on #757
Verified on Prod .Working as expected.

[issue#757.zip](https://github.com/topcoder-platform/work-manager/files/5565981/issue.757.zip)

[2020-11-19 10:06] #757 closed

[2020-11-19 10:06] #695 closed

[2020-11-19 10:07] #746 closed

[2020-11-19 10:07] #747 closed

[2020-11-19 10:10] #673 closed

[2020-11-19 10:10] #680 closed

[2020-11-19 10:10] #691 closed

[2020-11-19 10:12] vikasrohit commented on #720
Yes @acshields it would move to December, though we would be starting work on it this month only but it can not be concluded in this month because we have to implement the complete form in single take for the new designs.

[2020-11-19 10:19] vikasrohit commented on #730
Yes, if you want it to be implemented with new designs. If you are okay with moving it in current designs, we can implement that in this month.
However, I am still not 100% clear what do you mean by header. Is it the `Edit Challenge` heading?

[2020-11-19 10:22] vikasrohit commented on #902
@acshields does that mean that user can select any of other review type for Marathon Match?

[2020-11-19 10:31] vikasrohit commented on #899
@acshields let me know when you want to handle this one?

[2020-11-19 10:52] sandhiyakavi commented on #767
Verified on Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99656814-b7b29480-2aa0-11eb-84cc-eaf1e0907edb.png)

[2020-11-19 10:56] maxceem commented on #899
`perPage` param in Groups API doesn't have the maximum value https://github.com/topcoder-platform/groups-api/blob/592e6d00ddc6abe8adb356fc11b4cc4134cc2c40/app-bootstrap.js#L10, so I guess we can set it as `1000000` to make sure we get all the groups.

[2020-11-19 11:06] sandhiyakavi commented on #777
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99658257-9357b780-2aa2-11eb-96dd-7c7b20d79a16.png)

[2020-11-19 11:40] sandhiyakavi commented on #783
@vikasrohit The "Maximum number of Submissions" is not displayed correctly in Prod. Displaying as 'unlimited' by default.

Challenge : https://www.topcoder.com/challenges/bfd8aff1-c5e2-4e3c-b54c-b15b750e3eb8
Challenge in WM: https://challenges.topcoder.com/projects/24887/challenges/bfd8aff1-c5e2-4e3c-b54c-b15b750e3eb8

![image](https://user-images.githubusercontent.com/55895538/99661438-2c88cd00-2

[2020-11-19 12:28] #777 closed

[2020-11-19 12:28] #767 closed

[2020-11-19 12:30] vikasrohit commented on #899
We can. However, @maxceem does the group api supports searching groups? I mean if we show all groups directly, it might be a long list of groups. And further,  can we set pageSize to be bigger so that we don't have to make 100 calls to get all groups?

[2020-11-19 12:49] maxceem commented on #899
Yes, @vikasrohit we can filter groups by the `memberId` https://github.com/topcoder-platform/groups-api/blob/develop/src/services/GroupService.js#L156.

Also, we can set `perPage` to `1000000` or more to retrieve all the groups as there is no limit in the API https://github.com/topcoder-platform/groups-api/blob/592e6d00ddc6abe8adb356fc11b4cc4134cc2c40/app-bootstrap.js#L10.

[2020-11-19 12:56] vikasrohit commented on #899
I meant searching by name of the group e.g. as user starts typing `top` it should bring all groups which contains or startsWith `top` keyword.

[2020-11-19 13:14] maxceem commented on #899
Got it. At the moment Groups API seems to not support searching by the substring. Btw, in the new design, we also use a regular dropdown at the moment.

![image](https://user-images.githubusercontent.com/146016/99670737-a7d38a00-2a79-11eb-9d14-38b7e5ec42de.png)

[2020-11-19 13:53] vikasrohit commented on #899
Yep, I have asked product manager to revisit it as having long list of groups for admins, would not be a good UX.

[2020-11-19 14:01] acshields commented on #852
@lakshmiathreya - Can someone test this in PROD and identify whether this is a real issue? It seems that codejam initially did this test in DEV and encountered the stalling because Autopilot is not activated there.

[2020-11-19 14:02] acshields commented on #723
@vikasrohit - could we do a responsive list then, where the user can start typing and see all groups that have text-match to the character-entry?

[2020-11-19 14:03] acshields commented on #730
@vikasrohit - Ah, gotcha. What I mean by "header" is the space on the screen above the first "section" (white background with grouped questions).

[2020-11-19 14:12] acshields commented on #899
@vikasrohit - followed up on the other issue (https://github.com/topcoder-platform/work-manager/issues/723) with change to how the group selection could work.

[2020-11-19 14:16] acshields commented on #902
@vikasrohit - Yes, I spoke with Lazy on this yesterday. For Marathon Matches, Automated Review is the default. However, in some cases, delivery teams also choose to incorporate a Community Reviewer or Internal Reviewer into the process as well.

So, essentially, for all of our tracks, there will be a default answer. However, the user could choose to add in additional review types in Advanced Setti

[2020-11-19 14:20] acshields commented on #720
If the work can start this month, than let's do this for tracking purposes:
Keep it in the November project & move it to In Progress when the work starts
Also tag it in the December project & move it to In Progress there when the work starts

Unfortunately, the one thing Git doesn't support (it seems) is synced "status" across projects for the same issue, so we will have to manage this manually. H

[2020-11-19 14:25] acshields commented on #721
@vikasrohit - confirmed the above was a typo, I will update my comment for accuracy.

For tracking purposes, let's do the following:
Keep this issue in November, and move it to In Progress as the works starts.
Also add it to December, and move it to In Progress as the works starts, and then we can track in that month too.

[2020-11-19 14:50] acshields commented on #901
@vikasrohit - if we added a way to tag an uploaded file/link as something that will be needed for a challenge, could that cut down on the replicated info we need to manage?

Also as a note, these are the things I can see us needing to "carry over" from project in the future (not fully applicable to this specific issue, but sharing in response to your thoughts above):
-Files & Links that will need

[2020-11-19 15:04] rootelement commented on #899
Yeah, it looks like there are two problems:
1. The swagger is out of date, because it doesn't show you can filter on name at all
2. The filter on name in the service is exact match only: https://github.com/topcoder-platform/groups-api/blob/develop/src/services/GroupService.js#L47

I will cross-link this to the groups api and ask mithun to queue up fixes

[2020-11-20 04:00] sandhiyakavi commented on #785
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99756349-48848100-2b30-11eb-8b67-2aaa1f757d0b.png)

[2020-11-20 04:07] sandhiyakavi commented on #786
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99756845-5daddf80-2b31-11eb-88ed-4136307aa676.png)

[2020-11-20 04:40] sandhiyakavi commented on #798
Verified on Prod. Working as expected.

[issue#798.zip](https://github.com/topcoder-platform/work-manager/files/5571255/issue.798.zip)

[2020-11-20 04:45] #798 closed

[2020-11-20 04:46] #558 closed

[2020-11-20 04:47] #785 closed

[2020-11-20 04:48] #786 closed

[2020-11-20 05:08] sandhiyakavi commented on #733
Verified on Prod.

![image](https://user-images.githubusercontent.com/55895538/99761585-cef19080-2b39-11eb-9e93-a3187ca6efd6.png)

[2020-11-20 05:08] #733 closed

[2020-11-20 06:30] sandhiyakavi commented on #693
@vikasrohit The pop up message displayed if the Assigned member, copilot name and fee not entered ,is mentioning to assign task member alone .

![image](https://user-images.githubusercontent.com/55895538/99765818-36f8a480-2b43-11eb-9a03-a25740cc6a47.png)

After assigning member, copilot name and copilot fee, only Assigned member with their pay is displayed,
![image](https://user-images.githubuserc

[2020-11-20 07:09] vikasrohit commented on #693
Yes that is as per requirements #896

[2020-11-20 07:17] #693 closed

[2020-11-20 07:35] sandhiyakavi commented on #800
@vikasrohit Still getting "Member with userId: 40911557 is not registered on the challenge" .

Challenge used: https://challenges.topcoder.com/projects/24943/challenges/cf8fb1fe-2ff1-4f6f-9afe-df7f42faac97

![image](https://user-images.githubusercontent.com/55895538/99772575-5f39d080-2b4e-11eb-9b89-f61c185318c5.png)

[2020-11-20 07:44] sandhiyakavi commented on #776
Verified on Prod. Not getting this error now.

[2020-11-20 07:47] #776 closed

[2020-11-20 07:53] sandhiyakavi commented on #338
Verified on Prod. No console error shown.

![image](https://user-images.githubusercontent.com/55895538/99774192-cf495600-2b50-11eb-8746-ae15dd1c0668.png)

[2020-11-20 07:53] #338 closed

[2020-11-20 08:19] sandhiyakavi commented on #774
Verified on Prod.Working as expected.

[issue#774.zip](https://github.com/topcoder-platform/work-manager/files/5572163/issue.774.zip)

[2020-11-20 08:19] #774 closed

[2020-11-20 08:30] sandhiyakavi commented on #779
Verified on Prod.
![image](https://user-images.githubusercontent.com/55895538/99777288-6c0df280-2b55-11eb-82d9-624f1c760630.png)
![image](https://user-images.githubusercontent.com/55895538/99777376-86e06700-2b55-11eb-85cc-5d5993050b06.png)

This issue  https://github.com/topcoder-platform/work-manager/issues/779#issuecomment-688655529 exists

[2020-11-20 08:41] sandhiyakavi commented on #781
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99778768-77621d80-2b57-11eb-9c1e-1c67fc8f8c3b.png)

[2020-11-20 08:41] #781 closed

[2020-11-20 08:45] sandhiyakavi commented on #782
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99779206-138c2480-2b58-11eb-8136-8aad42c9eadc.png)

[2020-11-20 08:45] #782 closed

[2020-11-20 08:49] sandhiyakavi commented on #806
Verified on Prod. Working as expected.

[2020-11-20 08:49] #806 closed

[2020-11-20 09:02] vikasrohit commented on #723
I think we are not dependent on https://github.com/topcoder-platform/work-manager/issues/899, we have to wait for api to get updated. However, what we can do is that we can change the UI component to be auto suggest box, but we would that suggestion search on local machine i.e. we would fetch the full list of groups from the server and then will filter on local usr machine. And when we have the ap

[2020-11-20 09:03] vikasrohit commented on #723
@maxceem please see https://github.com/topcoder-platform/work-manager/issues/723#issuecomment-731038974 for implementing the group list in challenge form

[2020-11-20 09:15] sandhiyakavi commented on #821
Verified on Prod.Working as expected.

[issue#821.zip](https://github.com/topcoder-platform/work-manager/files/5572491/issue.821.zip)

[2020-11-20 09:15] #821 closed

[2020-11-20 09:35] sandhiyakavi commented on #823
Verified on Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99784394-163e4800-2b5f-11eb-9339-f9ab1ca7fdc4.png)

[2020-11-20 09:35] #823 closed

[2020-11-20 09:51] sandhiyakavi commented on #829
Verified on Prod.Working as expected.

[issue#829.zip](https://github.com/topcoder-platform/work-manager/files/5572690/issue.829.zip)

[2020-11-20 09:51] #829 closed

[2020-11-20 09:54] sandhiyakavi commented on #884
Verified on Prod.Working as expected.

[2020-11-20 09:54] #884 closed

[2020-11-20 09:58] sandhiyakavi commented on #876
Verified on Prod. Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99786825-4f2bec00-2b62-11eb-88ea-28518561e407.png)

[2020-11-20 09:58] #876 closed

[2020-11-20 10:03] sandhiyakavi commented on #848
Verified on Prod.Working as expected.

[2020-11-20 10:03] #848 closed

[2020-11-20 10:15] sandhiyakavi commented on #853
Verified on Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99788584-a6cb5700-2b64-11eb-900c-b41e0a11a106.png)

[2020-11-20 10:15] #853 closed

[2020-11-20 10:24] sandhiyakavi commented on #860
Verified on Prod.Working as expected.

[2020-11-20 10:24] #860 closed

[2020-11-20 10:44] sandhiyakavi commented on #883
Verified on Prod.Working as expected.

[issue#883.zip](https://github.com/topcoder-platform/work-manager/files/5572965/issue.883.zip)

[2020-11-20 10:44] #883 closed

[2020-11-20 10:48] sandhiyakavi commented on #843
Verified on Prod. Able to add Prizes for a challenge in New status.

![image](https://user-images.githubusercontent.com/55895538/99791673-4985d480-2b69-11eb-80eb-ebfaa23ec678.png)

[2020-11-20 10:48] #843 closed

[2020-11-20 10:52] sandhiyakavi commented on #837
Verified on Prod. Working as expected.

[2020-11-20 10:52] #837 closed

[2020-11-20 10:54] sandhiyakavi commented on #849
Verified on Prod.Working as expected.

![image](https://user-images.githubusercontent.com/55895538/99792259-2f002b00-2b6a-11eb-9c70-e44539979ee8.png)

[2020-11-20 10:54] #849 closed

[2020-11-20 11:00] sandhiyakavi commented on #840
Verified on Prod. New tab displayed after clicking back button from the Edit view of Challenge in New status.

![image](https://user-images.githubusercontent.com/55895538/99792778-eb59f100-2b6a-11eb-8d1a-18c2115ec58b.png)

[2020-11-20 11:00] #840 closed

[2020-11-20 11:04] sandhiyakavi commented on #839
Verified on Prod. Working as expected.

[issue#839.zip](https://github.com/topcoder-platform/work-manager/files/5573090/issue.839.zip)

[2020-11-20 11:04] #839 closed

[2020-11-20 11:17] sandhiyakavi commented on #828
@vikasrohit Getting the error " **The user has not yet agreed to the following terms: [Standard Terms for Topcoder Competitions v3]"** and not able to save as Draft

![image](https://user-images.githubusercontent.com/55895538/99794271-412f9880-2b6d-11eb-913d-c0f6201ff8af.png)

[2020-11-20 11:34] sandhiyakavi commented on #833
Verified on Prod. Working as expected.

[issue#833.zip](https://github.com/topcoder-platform/work-manager/files/5573223/issue.833.zip)

[2020-11-20 11:34] #833 closed

[2020-11-20 11:45] sandhiyakavi commented on #828
@vikasrohit This Standard terms errors is happening for some Assigned members. Is this error expected one?
Able to save the task as draft without error.

![image](https://user-images.githubusercontent.com/55895538/99796560-0f203580-2b71-11eb-9fdd-bc089422d66e.png)
[issue#828.zip](https://github.com/topcoder-platform/work-manager/files/5573267/issue.828.zip)

[2020-11-20 12:00] sandhiyakavi commented on #760
Verified on Prod.Working as expected.

[2020-11-20 12:00] #760 closed

[2020-11-20 12:11] sandhiyakavi commented on #822
Verified on Prod.Working as expected.
Challenge url: https://challenges.topcoder.com/projects/24943/challenges/276a292d-b16a-44dd-97f8-8b99315d8a94

![image](https://user-images.githubusercontent.com/55895538/99798671-bf436d80-2b74-11eb-801a-89a0e9a497b1.png)
![image](https://user-images.githubusercontent.com/55895538/99798735-da15e200-2b74-11eb-8954-ec3e6d03345b.png)

[2020-11-20 12:11] #822 closed

[2020-11-20 14:19] acshields commented on #899
@vikasrohit - do you still have open questions on this, or can this issue be moved to Backlog or Ready for Dev in November or December?

[2020-11-20 14:20] acshields commented on #730
@vikasrohit - I will move this to December, to coincide with the bulk of the design work.

[2020-11-20 14:27] acshields commented on #769
@vikasrohit - I am getting the source files for the design from mahestro. I will share when available. For reference, there weren't any design changes needed to this section so when we get the source file this one can start. If you don't have anymore questions, can you move this to appropriate column in November/December?

[2020-11-20 14:38] acshields commented on #875
Correction to the expected behavior above. All Topcoder users (Copilot, Topcoder Manager, Admin, Program Manager, Project Manager, etc.) should be able to access Work Manager, except clients for now. The only condition is that only users who are on a project can see the challenges/tasks and create challenges/tasks for that project.

In the future, Clients will be able to access this app as well.

[2020-11-20 14:46] acshields commented on #873
@vikasrohit - Here's my thoughts:

1. I think users should have a way to change the type/track after initial set-up while the item is in New or Draft status. Is this possible today?
2. I think the delete capability can also exist for an item that is still in New or Draft status. Do we have any limitations around this for legacy stuff?

[2020-11-20 14:48] acshields commented on #872
@vikasrohit @rootelement - I am adding this to our December project for us to check back in on after the next release.

[2020-11-20 14:50] acshields commented on #865
@vikasrohit - adding this to the December backlog.

[2020-11-20 15:54] acshields commented on #850
@vikasrohit - adding this to the december backlog. @lakshmiathreya - has this been retested recently for Design track?

[2020-11-20 16:12] acshields opened #903 "Updated Navigation Routing & Initial Landing Screens"
### Workflow 1
- A user launches Work Manager from a Project.
- The user is brought directly into challenge/task set-up screen 1.
- On set-up screen 1, the user has these options:
-Proceed with setting up a challenge/task
-Click "Back to Project" to return to the project
-Click "View All Work," which will bring them to the table-view in Work Manager that shows all challenges/tasks by project.

###

[2020-11-20 16:38] acshields opened #904 "New UI: All Challenges/Tasks View"
### Designs
TBD

### Overview
- Copilots and clients will have the same view/capabilities on this screen
- Topcoder employees will have the same general view with one enhanced capability
- The primary change to this screen will be to provide a view of all challenges/tasks created for all of a user's projects, as well as next-step navigation/choices.

### Client/Copilot Screen Components
**Header**

[2020-11-21 05:27] jmgasper opened #905 "No timezone indication when setting / viewing challenge start time"
There's no timezone indication when setting / viewing the challenge start time.  It defaults to my local time, but I had to go into OR to confirm the *actual* start date because the timezone was indeterminate.

![Screen Shot 2020-11-21 at 16 25 27](https://user-images.githubusercontent.com/21790/99868417-704e1480-2c16-11eb-987d-904adf06729f.png)

[2020-11-23 00:39] jmgasper opened #906 "Legacy ID not displayed in Work Manager"
We still need the Legacy ID for setup, and other things, like web hook filter setup.  I think we should display both the UUID *and* the legacy ID on the challenge detail page somewhere.

![Screen Shot 2020-11-23 at 11 38 00 am](https://user-images.githubusercontent.com/21790/99921748-8b3c9800-2d80-11eb-9356-86439d372e30.png)

[2020-11-23 05:41] vikasrohit commented on #783
@rootelement @ThomasKranitsas do you guys have any idea why it is working in dev but not on production.

[2020-11-23 05:45] vikasrohit commented on #828
Yes, @sandhiyakavi, there is update to the terms on production recently and all users have to accept the new terms. So, this error would appear for users who haven't accepted the new terms yet. We can close the task once, we are able to verify it for any one of the users who has accepted the v3 terms. To make it more validated, we can verify it for 2 users.

[2020-11-23 06:54] vikasrohit commented on #800
@sandhiyakavi can you please try it couple of times more? It seems there is some time required for the resource to be synced back to legacy. And if because of some error or timing issue, legacy is not synced, it removes the resource from v5 as well. But this scenario should happen rarely not every time. If we are seeing this behavior every time, we might need to revisit the logic in resource legac

[2020-11-23 08:47] sandhiyakavi commented on #800
@vikasrohit Tried creating few tasks. This error happens for the below scenario.

Steps to reproduce:
1. Create a task without assigning a member
2. Click Save Draft.
3. Click Launch as Active.
4. Wait for 3 to 4 mins for the challenge to be created in legacy.
5. Click Edit button and assign a member.
6. Click Close Task button.
7. Click confirm in the popup.
8. Check if error appears.

Note: This

[2020-11-23 08:59] maxceem commented on #735
1. Should we hardcode the list of possible terms to choose or use some API endpoint to get such a list?

    ![image](https://user-images.githubusercontent.com/146016/99941478-c1751a00-2d76-11eb-94e5-ae83d86252fd.png)

[2020-11-23 09:30] maxceem commented on #738
1. This is no more an issue, right? So we can edit phases now using V5 API? https://github.com/topcoder-platform/work-manager/issues/706#issuecomment-654173816

2. How the UI should look like if the phases cover 2 months like September and October? In particular, what do we show in the "month" header?

    ![image](https://user-images.githubusercontent.com/146016/99946137-870f7b00-2d7e-11eb-8e6e-f

[2020-11-23 09:39] maxceem commented on #739
1. What are the possible prize types? Should we hardcode them, or there is some API endpoint for retrieving them?

   ![image](https://user-images.githubusercontent.com/146016/99946713-80353800-2d7f-11eb-98fc-c03a73716ed8.png)

2. We already have prize type per prize, where we are using USD at the moment. Where should we store the global prize type which is `Monetary` on the screen? I mean inside

[2020-11-23 09:59] maxceem commented on #736
1. There are 2 sections to choose review type.
    1. What is the difference between them?
    2. How `Automated Review` should work?

   ![image](https://user-images.githubusercontent.com/146016/99948461-2da94b00-2d82-11eb-8ce1-6608262e5636.png)

2. As per the issue description `Copilot` should be shown in the non-advanced section but as per design, the copilot is inside the `advanced` section. A

[2020-11-23 10:12] vikasrohit commented on #735
I am not sure about it. I guess @rootelement can guide us here. @rootelement last time when I tried to fetch all available terms, it required me to be an administrator. So, I am not sure if we have the endpoint for fetching the publicly available terms.

[2020-11-23 10:12] vikasrohit commented on #735
@acshields we need your input as well.

[2020-11-23 10:23] vikasrohit commented on #738
1. It is still not supported by backend. Work is in progress. Lets work for the read only view of the phases for now. @acshields @rootelement do you happen to know the dates for the timeline edit feature by backend?

2. I guess, we can just leave it open e.g. the the last phase (Final Review) in the screenshot attached is overflowing to the next week. So, I think we can follow the same for the mon

[2020-11-23 10:35] vikasrohit commented on #739
1. It should be hard coded for now. @rootelement please let us know the possible values of prize types.

2. I guess, it is meant for choosing exact prize type per prize. I am assuming that first prize type selection is just a categorization of the actual prize types e.g. the final prize type might be `USD`, `INR`, `DR POINTS`  etc, however, `USD` and `INR` can be categorized as `Monetary` prizes t

[2020-11-23 10:41] vikasrohit commented on #902
Thanks @acshields. I am moving it back to November project because as we discussed we have to start on all of the design updates (at least for the creation form) simultaneously. This issue is tightly coupled with https://github.com/topcoder-platform/work-manager/issues/736

[2020-11-23 10:50] vikasrohit commented on #736
@maxceem I don't have answer for any of the questions because I have the same questions. Lets wait for @acshields to respond. For automated review details, I guess you can have a look at https://github.com/topcoder-platform/work-manager/issues/902, I have just assigned it to you @maxceem and marked it ready for dev.

I have noticed one more inconsistency in designs @acshields, the order specified

[2020-11-23 11:14] maxceem commented on #738
5. There is a scrollbar below. Should it scroll the current month? Or should it scroll the whole timeline?

    ![image](https://user-images.githubusercontent.com/146016/99955951-d9a46380-2d8d-11eb-9caa-84d1e02c0e54.png)

[2020-11-23 11:21] maxceem commented on #902
1. What value should we save to the API into `legacy.reviewType` for **Automated Review**, `automated`?

[2020-11-23 11:24] maxceem commented on #739
@vikasrohit here is `format`

![image](https://user-images.githubusercontent.com/146016/99956758-36544e00-2d8f-11eb-9fa4-d60c0e6fc0f8.png)

[2020-11-23 12:10] maxceem commented on #769
1. Is there a V5 API endpoint for retrieving a list of scorecards based on the challenge `track` (`Development`|`Design`|`QA`|`Data Science`) and `type` (`Challenge`|`Task`|`First2Finish`)?

[2020-11-23 12:22] maxceem commented on #737
1. Issue mention **Deliverable Format** field, but the design doesn't have it.
    1. Should we show it or no?
    2. If we should show it. At the moment we are showing delivery types using the UI shown below. Should we replace it with a simple text field?

        ![image](https://user-images.githubusercontent.com/146016/99960848-17a58580-2d96-11eb-9196-8ce27146cb93.png)

2. Which field in the da

[2020-11-23 12:33] vikasrohit commented on #769
@rootelement @acshields do you guys have information on backend for the scorecard?

[2020-11-23 12:38] vikasrohit commented on #737
@maxceem

1. I think we can keep it somewhere in the form with tag styles matching with the designs. Something like:

<img width="780" alt="Screen Shot 2020-11-23 at 6 07 34 PM" src="https://user-images.githubusercontent.com/2417632/99962760-c5289100-2db6-11eb-8d39-79ee21b6d0ef.png">

2. @rootelement need your help

3. We need to use Filestack for uploading the files and challenge api should be pr

[2020-11-23 13:25] vikasrohit commented on #739
ohk, it is actually `type` in the api. https://github.com/topcoder-platform/work-manager/blob/develop/src/components/ChallengeEditor/Type-Field/index.js#L13.

[2020-11-23 13:26] vikasrohit commented on #738
Good catch @maxceem. I have no clue. @acshields please chime in.

[2020-11-23 13:44] vikasrohit commented on #865
Ok @acshields but from requirement standpoint, we do want to let only 1 prize for the F2F, right?

[2020-11-23 13:53] vikasrohit commented on #873
@rootelement can throw better light on this.

[2020-11-23 14:06] vikasrohit commented on #730
@maxceem this one is for December work, not for November.

[2020-11-23 14:11] vikasrohit commented on #901
No, it is not the data which we are replicating but it is the UI that is being replicated.

Thanks for the other information that we might want to carry over from projects to work manager. However, don't you think it now covers pretty much every information that we capture in projects right now? So, essentially we would end up in replicating a view (UI) for every thing that we show in projects app

[2020-11-23 14:30] rootelement commented on #769
There is no v5 scorecard api yet. This might have to be put on hold. The challenge api should potentially have a scorecard metadata on it, but that's probably it (like terms, which scorecard is associated). Thomas and I will discuss

[2020-11-23 14:33] vikasrohit commented on #720
@acshields do you think we need this issue when we already have https://github.com/topcoder-platform/work-manager/issues/735#issuecomment-732022970?

[2020-11-23 14:38] vikasrohit commented on #899
Nope, only thing is that groups api don't support the searching by partial text, so we have to implement filtering on local.

[2020-11-23 14:40] vikasrohit commented on #899
@maxceem we need to wrap this in November before the designs changes. Do you see any issue with that?

[2020-11-23 15:03] vikasrohit commented on #875
That is already implemented. I think clients would be able to see the application but they can not edit the challenge. Do you want it to explicitly throw error for users who have only `Topcoder User` role?

[2020-11-23 15:05] vikasrohit commented on #721
@acshields it seems like this would be redundant of #736 or do you think it has some other information that is not there.

[2020-11-23 15:06] vikasrohit commented on #902
@rootelement help needed. :)

[2020-11-23 17:11] acshields commented on #739
### Question 1
**Prize Type** @rootelement - are we even in a position technically where we could/should be supporting different prize types right now? (outside of the question of are we business-ready for it). @vikasrohit - I ask for two reasons:
1. Trying to determine whether we don't develop the UI for this question at all right now, or if we do.
2. If we do, it just dawned on me that this ques

[2020-11-23 17:37] acshields commented on #738
@maxceem @vikasrohit - great catch, I actually didn't notice the scroll bar either.

Here's what I am thinking:
Days displayed in the design is a total of 15, which should cover most challenge/task durations.
Month scrolling in the header - If a challenge/task occurs between the end and beginning of a month, the user should be able to click the forward/backward icons in the header
With these two f

[2020-11-23 18:06] acshields commented on #736
@maxceem @vikasrohit - I have a bit of work to do clarifying what's needed for this section. Let me briefly answer your questions, and then also reshare the requirements you should follow for the question/answer arrangement.

- **Two Review Types** - @maxceem this was an oversight in the design. I am getting the design corrected and should have it by the end of my day today. There should really on

[2020-11-23 18:15] acshields commented on #769
@rootelement - just to share for your knowledge and for a conversation with Thomas, here's what I am hoping to achieve for scorecards:
- Have a default mapping of scorecards to track & type
- Have the default scorecard, or alternate option, reconfirmed at the project-level
- Have the confirmed scorecard option passed through to all the project's challenges/tasks
- The confirmed scorecard can still

[2020-11-23 18:17] acshields commented on #737
@vikasrohit @maxceem

For #1, I am good with your suggestion Vikas.

[2020-11-23 18:33] acshields commented on #739
@vikasrohit - I checked in with Tony on a couple of my business operations questions for the checkpoint prizes. What he confirmed for me:
- Design: Has standard prize amounts, which the platform should enforce (I will create a separate issue for this).
- Checkpoint Prize Value: The checkpoint prizes are always the same value.

Essentially, what I was trying to confirm was that for checkpoints & th

[2020-11-23 19:26] acshields commented on #720
Meh probably not - This one just refers to the specific NDA Terms question, while the other one covers the entire section's UI & functionality. Up to you on whether you want to keep it, or close it and just use the UI story. However, let me know what you decide @vikasrohit - there are a lot of cases right now where I have the UI by section issues, and then issues created for a specific question wi

[2020-11-23 19:29] acshields commented on #865
Yes @vikasrohit - confirmed that there should be 1 prize for F2F.

[2020-11-23 20:11] maxceem commented on #738
@vikasrohit @acshields:
- I would suggest showing the scrollbar and it should scroll the whole timeline. So it may work like this https://frappe.io/gantt
- remove next/prev buttons for days and for month
- additionally, we can let users `drag` the whole timeline. For example like [here](https://www.jqueryscript.net/demo/Timeline-Slider-jQuery-Timespace/), but without momentum.

[2020-11-23 20:32] acshields commented on #738
@maxceem - I prefer your suggestion to mine :) Do you need the designs updated to show this?

[2020-11-23 20:35] acshields commented on #721
Yeah @vikasrohit there is some information covered here in my post from 5 days ago that is not covered in #736. To help, I've also copy/pasted my comments from 5 days ago into the original reqs at the top, so it doesn't get lost.

[2020-11-23 21:10] ThomasKranitsas opened #907 "Can we have a repost challenge button?"
It would be great if we could have a `Repost challenge` button or a way to use an existing challenge as a template to launch a new one.

That would copy all the information from the old challenge and then create a new challenge.

This would be helpful for reposting failed challenges.

[2020-11-24 07:45] maxceem commented on #738
It's ok, the current design looks good, we would only remove the prev/next arrows.

[2020-11-24 08:40] jmgasper opened #908 "Receive Timeline Change Notifications not on by default"
I just ran a challenge and didn't get notified via email of the end of the challenge because the `Receive Timeline Change Notifications` option wasn't checked by default when launching a challenge via WM.

![Screen_Shot_2020-11-24_at_7_39_23_pm](https://user-images.githubusercontent.com/21790/100069501-f378a000-2e8c-11eb-98d7-22a21da6e97c.png)

[2020-11-24 08:53] sandhiyakavi commented on #828
@vikasrohit Could you please let me know how to accept v3 terms ? Because In  Community's challenge details page I am able to see only version 2.2
![image](https://user-images.githubusercontent.com/55895538/100070908-d12b5600-2e7d-11eb-8853-7854daae5cc4.png)

[2020-11-24 08:59] vikasrohit commented on #828
@sandhiyakavi here it is https://www.topcoder.com/challenges/terms/detail/564a981e-6840-4a5c-894e-d5ad22e9cd6f

[2020-11-24 09:00] maxceem commented on #900
Done by https://github.com/topcoder-platform/work-manager/pull/909

![image](https://user-images.githubusercontent.com/146016/100071916-42e6ae00-2e44-11eb-8229-019b071697d3.png)

[2020-11-24 09:04] sandhiyakavi opened #910 "Validation for the Prize field is visible eventhough user has not altered it."
Description:
Refer https://github.com/topcoder-platform/work-manager/issues/779#issuecomment-688655529

[2020-11-24 09:05] sandhiyakavi commented on #779
This issue #779 (comment)  tracked separately in https://github.com/topcoder-platform/work-manager/issues/910

[2020-11-24 09:06] #779 closed

[2020-11-24 09:16] sandhiyakavi commented on #828
@vikasrohit Verified by accepting the terms for two users SandhiyaA and TCConnCopilot. Not getting the error now.

![image](https://user-images.githubusercontent.com/55895538/100072972-3e3feb00-2e80-11eb-9c4c-a415e0abe21c.png)

[standard_term_check.zip](https://github.com/topcoder-platform/work-manager/files/5588671/standard_term_check.zip)

[2020-11-24 09:17] #828 closed

[2020-11-24 09:27] vikasrohit commented on #910
@sandhiyakavi Thanks for logging this. However, this is right now happening for all validation fields. As soon as user updates any field in the form, all other validations are triggered. We are not sure if we want to keep this or consider it as bug. However, with new designs coming soon, we can take care of this behaviour with designs changes.

fyi @acshields @maxceem

[2020-11-24 11:54] maxceem commented on #899
Done via https://github.com/topcoder-platform/work-manager/pull/911

- I've increased the limit of loading groups to `1000000`
- By default, all the groups are shown. I've tried to show no groups by default and only show groups when we start filtering, but that doesn't feel nice to me, as it's more comfortable to select groups from the list even without filtering. Because not always it's easy to r

[2020-11-24 17:16] mtwomey opened #912 "Grey out Direct and Online Review buttons or hide them"
These should be greyed out or hidden when not applicable:

![image](https://user-images.githubusercontent.com/7715262/100128859-6d396b00-2e46-11eb-8135-9a77bcc2b052.png)

[2020-11-24 17:45] vikasrohit commented on #800
Good catch @sandhiyakavi it seems it more or less UI flow issue. `Close Task` button does not save the changes in the form. So, we can mark it disabled when the form is dirty. Can you please create a separate issue for it? And if apart from it, every thing is working fine, we can close this one.

[2020-11-24 17:52] acshields commented on #899
@maxceem - I like the behavior you implemented for the Intended Work Groups answer. Looks good to me.

[2020-11-24 17:58] acshields commented on #738
@vikasrohit - noted!

[2020-11-24 18:10] acshields commented on #912
Scenarios where buttons are not applicable:
- When the user is setting up a new challenge/task.
- When the new challenge/task has not been synced to legacy yet (is in New vs. Draft).

[2020-11-25 04:12] sandhiyakavi opened #913 "Save the unsaved form changes on close task operation"
Description:

Refer https://github.com/topcoder-platform/work-manager/issues/800#issuecomment-732016812

[2020-11-25 04:14] sandhiyakavi commented on #800
The issue https://github.com/topcoder-platform/work-manager/issues/800#issuecomment-732016812 is tracked separately in https://github.com/topcoder-platform/work-manager/issues/913

[2020-11-25 04:14] #800 closed

[2020-11-25 06:07] sandhiyakavi commented on #852
@vikasrohit @acshields Tested in Prod. Still the challenge is getting stalled after activating it

Challenge url: https://challenges.topcoder.com/projects/24943/challenges/6d4a3448-7171-4710-b245-e4ea3c315408/view

![image](https://user-images.githubusercontent.com/55895538/100189482-bf09f000-2f2f-11eb-86b1-7ed3d5675d27.png)
![image](https://user-images.githubusercontent.com/55895538/100189541-d3e

[2020-11-25 07:57] sandhiyakavi commented on #850
@vikasrohit @acshields Retested the Design track. The added details were changed after some time of activation.Below are the observations.
1. NDA is still checked, Copilot Fee is not changed
2. Reviewer, Tags, Final deliverables, stock arts, Submission visibilitiy and Maximum Number of Submissions are changed

Challenge url: https://challenges.topcoder.com/projects/24943/challenges/29cecb6b-cc40-4