[2020-05-08 16:28] martian360 opened #502 "[$50] Edit Challenge - No way to regain the deleted challenge phase (if deleted by mistake)"
**Describe the bug**
While editing a challenge If the copilot deletes a phase ex. 'appeals response' by mistake there's no option to correct the mistake

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Open the application and Login as a valid user
2. In 'Another Test Project' tab click on 'Launch New' button on top right
3. Fill the details and click on 'Create challenge' b

[2020-05-08 16:28] payalguptagit commented on #499
[May 7 Bug hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4600258/May.7.Bug.hunt.zip)

[2020-05-08 16:29] #295 closed

[2020-05-08 16:30] akultalwar89 opened #503 "Dates not seen on the mid week - challenge schedule section"
**Describe the bug**
Dates not seen on the mid week - challenge schedule section

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/16529/challenges/a9344fca-a518-4692-9c69-8af9956fab0d/edit
2. scroll down to see challenge schedule
3. Date are not seen under week days in the middle

**Expected behavior**
dates should be seen u

[2020-05-08 16:34] ab668685 opened #504 "[$20] On deleting the phases - Week days are not getting displayed"
**Describe the bug**
On deleting the phases - Week days are not getting displayed

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com '
2. Login as jcori / appirio123
3. Click on any challenge >> Edit challenge
4. Try to delete Appeal phase and Appeal response phase ,only 2 phase should be available
5. Click Edit and view the graph

**

[2020-05-08 16:38] payalguptagit opened #505 "May 7 Bug Hunt : New challenge can be created by selecting 00 prize value"
**Describe the bug**
May 7 Bug Hunt : New challenge can be launched by selecting 00 prize value

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. Select Test TaaS Project and select Launch new
4. Select track and type and enter name in Challenge name and select create challenge
5. Then scroll down

[2020-05-08 16:39] Citra-citoru opened #506 "login Page didnot Show in IE Through https://challenges.topcoder-dev.com/"
## Steps to Reproduce:
- Enter  https://challenges.topcoder-dev.com/
![ login Page didnt show in IE](https://www.dropbox.com/s/0axzv0mixcs5myt/Login_Page_IE.png?raw=1)

## Video
https://www.dropbox.com/s/oq9pp4g6z7s5ipi/2020-05-08-19-05-30.avi?row=1

## Actual Result:
Nothing show when we enter the link

## Expected Result:
Login page will show

## Device/OS/Browser Information:
- Device: Lenovo (

[2020-05-08 16:40] ab668685 opened #507 "No option to upload image or insert option in Public specification editor"
**Describe the bug**
No option to upload image or insert option in Public specification editor

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com '
2. Login as jcori / appirio123
3. Edit any challenge and goto  Public specification editor
4. click on insert image icon

**Expected behavior**
Should have  upload image or insert option i

[2020-05-08 16:40] akultalwar89 opened #508 "[$15] Functionality breaks , page gets distorted when adding registration hours more than other options"
**Describe the bug**
Content date overlaps if registration hours is more than other hour columns fields.
**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/projects/16529/challenges/a9344fca-a518-4692-9c69-8af9956fab0d/edit
2. Click on Challenge schedule
3. Scroll down to make Registration hours more than other appeals, or review optio

[2020-05-08 16:41] akultalwar89 commented on #508
[Screen Recording 2020-05-08 at 10.08.18 PM.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4600358/Screen.Recording.2020-05-08.at.10.08.18.PM.zip)
bug file

[2020-05-08 16:42] rajanmourya opened #509 "If challenge name is big, it's below lable is hidden by another challenge list in active tab"
**Describe the bug**
If challenge name is big, it's below lable is hidden by another challenge list in active tab

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com and login as jcori / appirio123
2. Click on Another test project
3. Click on Launch new
4. Now add all the details
5. Fill the challenge name too big
6. And launch the chal

[2020-05-08 16:45] payalguptagit commented on #505
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4600373/May.7.Bug.Hunt.zip)

[2020-05-08 16:47] codejamtc opened #510 ""1 day" displayed on the tooltip if user change the phase time to 12hrs"
![image](https://user-images.githubusercontent.com/42398485/81428281-ae279780-9121-11ea-8beb-9579fdb34fa2.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16531/challenges/3f6452f7-db6a-4055-86fb-ffc681ac69be/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Go to 'Draft' tab and click on a challenge
3. Go to 'Challenge Schedule :' > Edit
4. Cha

[2020-05-08 16:48] ab668685 opened #511 "On click of quote in editor text is not starting with quotes """
**Describe the bug**
editor text is not starting with quotes ,starting with > ""

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com '
2. Login as jcori / appirio123
3. Click on any challenges
4. Goto public specification editor
5 Enter a text and click on Quotes ""

**Expected behavior**
Text should start with quotes

**Screenshots**

[2020-05-08 16:50] rajanmourya opened #512 "Time text field hint is not properly aligned when user click over their"
**Describe the bug**
Time text field hint is not properly aligned when user click over their, in challenge schedule phases in firefox

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com and login as jcori / appirio123
2. Click on Another test project
3. Click on Launch new
4. Now add all the details
5. Now click on edit button in challe

[2020-05-08 16:52] payalguptagit opened #513 "May 7 Bug Hunt : On entering blank space in search projects on main page, its still showing both the project names i.e. Another test project & Test Taas project"
**Describe the bug**
May 7 Bug Hunt : On entering blank space in search projects on main page, its still showing both the project names i.e. Another test project & Test Taas project

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. Select search project and enter blank space and it will show both t

[2020-05-08 16:56] payalguptagit commented on #513
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4600443/May.7.Bug.Hunt.zip)

[2020-05-08 16:58] ab668685 opened #514 "Last saved is not showing in 24hour time zone"
**Describe the bug**
Last saved is not showing in 24 hour time zone

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com '
2. Login as jcori / appirio123
3. Edit any challenge.
4. View the saved by timezone

**Expected behavior**
Last saved should show in  24hour time zone

**Screenshots or Video**

![image](https://user-images.githubus

[2020-05-08 17:01] codejamtc opened #515 "[$15] Sometimes the tooltip stay opened; when user move the cursor away from the chart"
![image](https://user-images.githubusercontent.com/42398485/81429644-b41e7800-9123-11ea-9034-328edd65fdbd.png)

https://monosnap.com/file/LBiYdfLFX5P4ojeEmFmdKIhxJ42EzQ

**URL:**
https://challenges.topcoder-dev.com/projects/16531/challenges/3f6452f7-db6a-4055-86fb-ffc681ac69be/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Go to 'Draft' tab and click on

[2020-05-08 17:11] Peppa-2016 opened #516 "Overlapping of text in challenge schedule"
Describe the bug: Overlapping of text in challenge schedule

To Reproduce / Actual Behavior Steps to reproduce the behavior:

1.Go to 'https://challenges.topcoder-dev.com' and login using username:jcori password:appirio123
2.Click on any Tass test project>Draft projects>click Test challenge 979 >Challenge edit page will open
3.Scroll down to challenge schedule and check the date and time displayed

[2020-05-08 17:11] codejamtc opened #517 "[$20] Page content moves down when user go to next and previous pages via pagination"
![image](https://user-images.githubusercontent.com/42398485/81430369-e7153b80-9124-11ea-9bcb-315fde330850.png)

https://monosnap.com/file/oIpkZrwylxNJlWuIvNnmb5AOhPuiRh

**URL:**
https://challenges.topcoder-dev.com/projects/16531/challenges/3f6452f7-db6a-4055-86fb-ffc681ac69be/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Go to 'New' tab and click Next

[2020-05-08 17:14] akultalwar89 opened #518 "After description count increases to 10 , colour starts showing"
**Describe the bug**
After description count increases to 10 , colour/selection starts appearing
**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/projects/16529/challenges/a9344fca-a518-4692-9c69-8af9956fab0d/edit
2. Click on 'description and select option 123 from top menu
3. enter values to exceed count 10 observe

**Expected behav

[2020-05-08 17:23] codejamtc commented on #298
![6](https://user-images.githubusercontent.com/42398485/81431397-ad453480-9126-11ea-87fd-1b3ee7010f9f.png)

[2020-05-08 17:24] codejamtc commented on #306
https://monosnap.com/file/xVQ4pwG4USvagccIxXEcJt7TtAFxin

[2020-05-08 17:25] codejamtc commented on #308
https://monosnap.com/file/6QCXiBusn7XGIsh6rukAL9JmP5pxuV

[2020-05-08 17:26] codejamtc commented on #318
![4](https://user-images.githubusercontent.com/42398485/81431647-19279d00-9127-11ea-961f-ab200421e04f.png)

[2020-05-08 17:27] codejamtc commented on #326
![7](https://user-images.githubusercontent.com/42398485/81431693-30668a80-9127-11ea-8613-6371329a6680.png)

[2020-05-08 17:27] codejamtc commented on #329
![image](https://user-images.githubusercontent.com/42398485/81431733-470ce180-9127-11ea-9e01-7d49597f5b4b.png)

[2020-05-08 17:28] codejamtc commented on #337
https://monosnap.com/file/Ry6FvshOa5oFlpqhy2ZDGMuuf65DTm

[2020-05-08 17:29] codejamtc commented on #348
https://monosnap.com/file/cN87fqa0Vn3DBSQqMgkU7OfNZkdPHS

[2020-05-08 17:31] #370 closed

[2020-05-08 17:32] payalguptagit opened #519 "May 7 Bug Hunt : If challenge name is more than 2 lines than its overlapping the above and bottom line"
**Describe the bug**
May 7 Bug Hunt : If challenge name is more than 2 lines than its overlapping the above and bottom line

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. Select Test Taas Project and scroll down in active challenge
5. There is one challenge in which challenge name is more than 2

[2020-05-08 17:33] akultalwar89 opened #520 "Should be Challenge name instead of Name in the error message."
**Describe the bug**
Should be Challenge name instead of Name in the error message.
**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/16538/challenges/new
2. Click on Create and keep all fields as blank
3. See error

**Expected behavior**
Error message should have Challenge Name instead of Name

**Screenshots**

**Desktop (ple

[2020-05-08 17:39] payalguptagit commented on #519
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4600615/May.7.Bug.Hunt.zip)

[2020-05-08 17:39] Citra-citoru opened #521 "Cannot Save Edit Challenge"
## Steps to Reproduce:
- Go to active Challenge
- Click "pilot payment for Topcoder-X Github Test November 4th, 2019"
- Add tag like heroku, aws
-back to active challenge again.

## Video
https://www.dropbox.com/s/bysj5tjmzb7saq5/2020-05-08-20-10-33.avi?raw=1

## Actual Result:
Page still have the same information after edited.

## Expected Result:
edited challenge can be save automatically

## De

[2020-05-08 17:41] codejamtc opened #522 "After selecting a track; the user can select a challenge type that does not belong to that track"
![image](https://user-images.githubusercontent.com/42398485/81432800-29d91280-9129-11ea-8d3b-298ed6bf0098.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16531/challenges/new

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project > Click Launch New
3. Select Track=Data Science; Type=Bug Hunt
4. Enter a name > Click Create Challenge
5. Co

[2020-05-08 17:42] #430 closed

[2020-05-08 17:42] rajanmourya opened #523 "Show password icon is not changing when clicked on it, it remains same"
**Describe the bug**
Show password icon is not changing when clicked on it, it remains sameug is. on login page

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com
2. Fill the user name and password
3. now click on show password icon
4. observe the icon is not changing, user will not be able to know it is showing password or not, when p

[2020-05-08 17:43] akultalwar89 opened #524 "[$20] No error message on Select Reviewer if user tried to save the record."
**Describe the bug**
No error message on Select Reviewer if user tried to save the record.
**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/16538/challenges/ef297f58-569c-4654-84f5-98ec216e0eaa/edit
2. Click on save without selecting a Reviewer
![Screen Shot 2020-05-08 at 11 11 18 PM](https://user-images.githubusercontent.com

[2020-05-08 17:51] codejamtc opened #525 "Even without entering anything to 'Public specification', 1 line displayed"
![image](https://user-images.githubusercontent.com/42398485/81433672-96a0dc80-912a-11ea-86f7-b42d4409d2da.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16531/challenges/714e0a70-d29f-4cee-82b0-00230275f6b0/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project > Click Launch New > Enter all the data > Click Create Challenge
5. Che

[2020-05-08 17:52] payalguptagit opened #526 "May 7 Bug Hunt : start date accepting old years"
**Describe the bug**
May 7 Bug Hunt : start date accepting old years

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. Open any Active Challenge to Edit > Scroll Down and select start date and it is accepting old years like 1980
4. Observe the label below

**Expected behavior**
 start date should b

[2020-05-08 17:58] payalguptagit commented on #526
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4600697/May.7.Bug.Hunt.zip)

[2020-05-08 18:00] Peppa-2016 opened #527 "[$25] Checkbox in place of option button"
Describe the bug: Checkbox in place of option button, Misleading interface element since only one option can be selected whereas checkbox is used to capture multiple option

To Reproduce / Actual Behavior Steps to reproduce the behavior:

1.Go to 'https://challenges.topcoder-dev.com' and login using username:jcori password:appirio123
2.Click on any project>edit challenge page will open
3.Check the

[2020-05-08 18:01] Citra-citoru opened #528 "Can't Enter UserName and Password Due to Overlapping Inputs"
## Steps to Reproduce:
- Open Internet Explorer, enter link "https://accounts.topcoder-dev.com/#!/member?retUrl=https:%2F%2Fchallenges.topcoder-dev.com%2F"

## Actual Result:
Cant enter user name due to overlapping input

![login_ui_overlapping](https://www.dropbox.com/s/rxhwsgmu304ybqy/input_overlapping.png?raw=1)

## Expected Result:
Can enter user name

## Device/OS/Browser Information:
- Devic

[2020-05-08 18:02] devsreekrishna opened #529 "Texts Are Overlapping"
**Describe the bug**
Texts Are Overlapping

**To Reproduce / Actual Behavior**
Actual Result: Texts Are Overlapping

Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/

2. Login With Valid Credential jcori / appirio123

3. Scroll down to New Challenge Banner/Icons

4. See Screenshot & Observe error

**Expected behavior**
Text Should Not Overlap

**Screenshots or Video**

[2020-05-08 18:05] payalguptagit opened #530 "May 7 Bug Hunt : start date is accepting future year"
**Describe the bug**
May 7 Bug Hunt : start date is accepting future year

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. Open any Active Challenge to Edit > Scroll Down and select start date and it is accepting future years like 3000
4. Observe the label below

**Expected behavior**
 start date

[2020-05-08 18:11] payalguptagit commented on #530
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4600785/May.7.Bug.Hunt.zip)

[2020-05-08 18:11] codejamtc commented on #368
https://monosnap.com/file/OKOwB3weB7Yr5fBHwGNzipuwRg5XYe

[2020-05-08 18:15] ranjyotiprakash opened #531 ""Tags" dropdown has same option multiple times in "Edit Challenge" Page"
**Describe the bug**
"Tags" dropdown has same option multiple times in "Edit Challenge" Page, which could be confusing for the users.
"Heroku" is listed 3 times, HerokuMaster is listed two times in the same dropdown.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"
2. Click on "Another Test p

[2020-05-08 18:19] codejamtc opened #532 "Ui issue of the button if the project name is long"
![image](https://user-images.githubusercontent.com/42398485/81436103-7bd06700-912e-11ea-9776-45ff375e78ac.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project >

**Actual Result:**

- Ui issue of the button if the project name is long

**Expected Result:**

- Should displ

[2020-05-08 18:23] ranjyotiprakash opened #533 "Putting in a large value for "Prize 1" in "Challenge Prizes" breaks the UI in "Estimated Challenge Total""
**Describe the bug**
Putting in a large value for "Prize 1" in "Challenge Prizes" breaks the UI in "Estimated Challenge Total"

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"
2. Click on "Another Test project"
3. Click on "Launch New"
4. Select a "Track" , a "Type" and give a name to the chal

[2020-05-08 18:24] codejamtc opened #534 "UI issue on the 'Edit Challenge' page, if the project name is long"
![image](https://user-images.githubusercontent.com/42398485/81436361-fdc09000-912e-11ea-9f16-0fe909782704.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project > Click Launch New > Fill all > Click Create Challenge
3. Check the page

NOTE: This is not similar to the https:

[2020-05-08 18:27] codejamtc opened #535 "'Edit Challenge' page title is incorrect"
![image](https://user-images.githubusercontent.com/42398485/81436725-935c1f80-912f-11ea-8a98-b98aa1e6c754.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project > Click Launch New > Fill all > Click Create Challenge
3. Check the Title

**Actual Result:**

- 'Edit Challenge'

[2020-05-08 18:32] ranjyotiprakash opened #536 "Edit "Challenge Schedule" must indicate that the values are in hours"
**Describe the bug**
Edit "Challenge Schedule" must indicate that the values are in hours for the available text-boxes :
- Registration
- Review
- Appeals Response
- Appeals
- Submission

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"
2. Click on "Another Test project"
3. Click on "Launch Ne

[2020-05-08 18:33] payalguptagit opened #537 "May 7 Bug Hunt : While creating new challenge, Challenge name should not be created by only special characters."
**Describe the bug**
May 7 Bug Hunt : While creating new challenge, Challenge name should not be created by only special characters.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. Select Another Test Project and select Launch new
4. Select track and type and enter special character only in chall

[2020-05-08 18:34] codejamtc opened #538 "[$15] Special characters in Project name is not displayed correctly"
![image](https://user-images.githubusercontent.com/42398485/81437319-94418100-9130-11ea-9dd7-293fe20e11c0.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/cdcf4891-d31d-47c4-bde7-7bc8fbb410b2/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project (eg: Test & QA) > Click Launch New > Fill all > Click Create Challenge

[2020-05-08 18:39] payalguptagit commented on #537
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4600933/May.7.Bug.Hunt.zip)

[2020-05-08 18:43] codejamtc opened #539 "'Manager' is listed as Copilot"
![image](https://user-images.githubusercontent.com/42398485/81437611-12058c80-9131-11ea-8cf7-81f17ee263e3.png)

![image](https://user-images.githubusercontent.com/42398485/81437628-1af65e00-9131-11ea-8291-019b0d4931c3.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/92e5b657-e754-4bdc-928c-4ef00badd52a/edit

**Reproduction Steps:**

1. Open the application and Login as

[2020-05-08 18:45] devsreekrishna opened #540 "While Delete Update From Logo Update In Edit Challenge Page It Still Showing Logo Update In Edit Challenge Page"
**Describe the bug**
While Delete Update From Logo Update In Edit Challenge Page It Still Showing Logo Update In Edit Challenge Page While I Again Go Back To Edit Challenge Page

**To Reproduce / Actual Behavior**

Actual Behaviour:- While Delete Update From Logo Update In Edit Challenge Page It Still Showing Logo Update In Edit Challenge Page.

Steps to reproduce the behavior:

1. Go to https://c

[2020-05-08 18:49] payalguptagit opened #541 "May 7 Bug Hunt : Already active challenge can be launched as active again."
**Describe the bug**
May 7 Bug Hunt : Already active challenge can be launched as active again.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. Select Another Test Project and select already active challenge, fill mandatory fields and it can be relaunched as active again
4. Observe the label belo

[2020-05-08 18:51] ranjyotiprakash opened #542 "Most of settings like challenge prizes, public specification, tags, timeline template etc are lost after a challenge is created by clicking "Launch as Draft/Active""
**Describe the bug**
Some settings like challenge prizes, public specification, timeline template are lost after a challenge is created by clicking "Launch as Draft"

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"
2. Click on "Another Test project"
3. Click on "Launch New"
4. Select a "Track

[2020-05-08 18:55] payalguptagit commented on #541
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4601030/May.7.Bug.Hunt.zip)

[2020-05-08 18:58] Citra-citoru opened #543 "Launch As Draft Button didnt Work"
## Steps to Reproduce:
- Login as Ghostar
- Go to Active Challenge Tab
- Go to Tab Drafts
- Click **dwjdkwjd wjdkwjdwjd** page

## Actual Result:
Nothing happened when clicked button launch as draft

![launch_as draft](https://www.dropbox.com/s/gr2ra0wyft6hraq/launch_as_draft%20%28Canva-edited%29.jpg?raw=1)

## Expected Result:
There is a pop up notification that tell if the challenge sucess launc

[2020-05-08 18:58] ranjyotiprakash opened #544 ""Edit" button for "Challenge Schedule" doesn't work and is unresponsive for a challenge "launched as Draft" and then edited"
**Describe the bug**
"Edit" button for "Challenge Schedule" doesn't work and is un-responsive for a challenge "launched as Draft" and then edited.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"
2. Click on "Another Test project"
3. Click on "Launch New"
4. Select a "Track" , a "Type" and gi

[2020-05-08 19:06] payalguptagit opened #545 "May 7 Bug Hunt: Under challenge schedule through edit drop down, submission, review, appeal, appeals response can't be restored once deleted"
**Describe the bug**
May 7 Bug Hunt: Under challenge schedule through edit drop down, submission, review, appeal, appeals response can't be restored once deleted

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. while creating new challenge if we delete submission, review, appeal, appeals response

[2020-05-08 19:07] ranjyotiprakash opened #546 ""Add File Type" button is unresponsive under "Final Deliverables" in "Edit Challenge" page"
**Describe the bug**
"Add File Type" button is unresponsive under "Final Deliverables" in "Edit Challenge" page. "Add File Type" button is unresponsive and nothing happens. Though this looks like an UI bug, this affects the functionality also.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"

[2020-05-08 19:11] codejamtc opened #547 "Searching project name with special character + Search with the full name will display all the projects"
![image](https://user-images.githubusercontent.com/42398485/81440468-bab5eb00-9135-11ea-9365-9737eef3c2d8.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Enter 'Test & QA' to Project search box

**Actual Result:**

- Searching project name with special character + Search with the ful

[2020-05-08 19:16] payalguptagit commented on #545
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4601121/May.7.Bug.Hunt.zip)

[2020-05-08 19:23] ranjyotiprakash opened #548 "Multiple challenges with same name are getting created successfully"
**Describe the bug**
Multiple challenges with same name are getting created successfully. This should not be allowed because this may create a confusion with the users of the system.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"
2. Click on "Another Test project"
3. Click on "Launch New"
4

[2020-05-08 19:25] devsreekrishna opened #549 "Group Selection Options Are Not Available."
**Describe the bug**
Group Selection Options Are Not Available While Try To Select Groups

**To Reproduce / Actual Behavior**
Actual Behaviour:- Group Selection Options Are Not Available.

Steps to reproduce the behavior:

1. Go to https://challenges.topcoder-dev.com/

2. Login As Valid Credential jcori / appirio123

3. Click on Another Test Project & Select Launch New

4. Select Track As Design,

[2020-05-08 19:27] payalguptagit opened #550 "May 7 Bug Hunt : Under challenge schedule through edit drop down, after deleting submission, registration, appeal, appeals response, it is still visible"
**Describe the bug**
May 7 Bug Hunt : Under challenge schedule through edit drop down, after deleting submission, registration, appeal, appeals response, it is still visible

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. while creating new challenge, after delete submission, registration, appeal

[2020-05-08 19:27] payalguptagit commented on #550
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4601170/May.7.Bug.Hunt.zip)

[2020-05-08 19:36] codejamtc opened #551 "[$15] Layout issue if we have more than 5 Copilot"
![image](https://user-images.githubusercontent.com/42398485/81442503-51d07200-9139-11ea-96cb-1c4158bda779.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/new

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project > Click Launch New > Fill All > Click Create Challenge
4. Check the copilot field

**Actual Result:**

- Layo

[2020-05-08 19:37] codejamtc commented on #551
![image](https://user-images.githubusercontent.com/42398485/81442552-6d3b7d00-9139-11ea-99f2-a69406a3a9fd.png)

[2020-05-08 19:39] payalguptagit opened #552 "May 7 Bug Hunt : Under challenge schedule through edit drop down, after deleting submission, registration, appeal, appeals response and changing review hours to 0, all the deleted option still appears with 0%"
**Describe the bug**
May 7 Bug Hunt : Under challenge schedule through edit drop down, after deleting submission, registration, appeal, appeals response and changing review hours to 0, all the deleted option still appears with 0%

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. while creating new

[2020-05-08 19:41] payalguptagit commented on #552
[May 7 Bug hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4601214/May.7.Bug.hunt.zip)

[2020-05-08 19:43] #387 closed

[2020-05-08 19:44] #417 closed

[2020-05-08 19:45] #424 closed

[2020-05-08 19:49] payalguptagit opened #553 "May 7 Bug Hunt : May 7 Bug Hunt : Incomplete border line on selecting tabs"
**Describe the bug**
May 7 Bug Hunt : May 7 Bug Hunt : Incomplete border line on selecting tabs

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. On main site, under launch tab, incomplete border is appearing and same is appearing Launch as active tab also.
4. Observe the label below

**Expected be

[2020-05-08 19:51] payalguptagit commented on #553
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4601250/May.7.Bug.Hunt.zip)

[2020-05-08 19:51] Peppa-2016 commented on #484
Name of the copilot or' no copilot assigned' text should be present.

[2020-05-08 20:01] devsreekrishna opened #554 "After Filling Details Go Back To Test & QA Then Clicking On Active Challenge Which I Have Created Nothing Is Showing"
**Describe the bug**
After Filling Details Go Back To Test & QA Then Clicking On Active Challenge Which I Have Created Nothing Is Showing
**To Reproduce / Actual Behavior**
Actual Behaviour:- After Filling Details Go Back To Test & QA Then Clicking On Active Challenge Which I Have Created Nothing Is Showing

Steps to reproduce the behavior:

1. Go to https://challenges.topcoder-dev.com/

2. Login

[2020-05-08 20:03] codejamtc opened #555 "[$15] Order of the phases are incorrect in Challenge creation process"
https://monosnap.com/file/4LlHQbpxJhD5LbF7vm1l6NtlYdzCic

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/new

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project > Click Launch New > Fill All > Click Create Challenge
3. Select 'Timeline template' as Standard Code and it will generate the Challenge Schedule (Graph)
4. Click

[2020-05-08 20:08] codejamtc opened #556 "Edit button stop working when user selects the 'Timeline template' few times in Challenge creation process"
https://monosnap.com/file/M3EtSAPv8l94M6wGYrHhoDH9Fdb5OY

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/d5f1a55d-f970-4811-a012-0f12ec8f04cd/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project > Click Launch New > Fill All > Click Create Challenge
3. Select 'Timeline template' as Standard Code and it will generate th

[2020-05-08 20:09] codejamtc commented on #556
Similar case: https://monosnap.com/file/CVpMJUvH4P34p46fJCsScgB3huBEDU

[2020-05-08 20:20] codejamtc commented on #539
If this is allowed the field name should be `Manager(s)/Copilot(s)`

[2020-05-08 20:35] devsreekrishna opened #557 "While Filling Details & After Clicking Mouse Outside That Field. While Moving Mouse Pointer It Showing Different Mark, But It Should Show Arrow Mark"
**Describe the bug**
While Filling Details & After Clicking Mouse Outside That Field While Moving Mouse Pointer It Showing Different Mark, But It Should Show Arrow Mark.

**To Reproduce / Actual Behavior**
Actual Behaviour:- While Filling Details & After Clicking Mouse Outside That Field. While Moving Mouse Pointer It Showing Different Mark.

Steps to reproduce the behavior:
1. Go to https://chall

[2020-05-08 20:53] #326 closed

[2020-05-08 20:55] #308 closed

[2020-05-08 21:01] Citra-citoru opened #558 "Unauthorize Copilot Can Access Challenges"
## Steps to Reproduce:
- Login as JCori
- Go to **Test taas Project** Tab
- in Active Tab  choose challenge with title **logo**
(https://challenges.topcoder-dev.com/projects/16529/challenges/af04bebb-aad3-4731-9861-f9cd158447ee/edit)
- Copy link and then go to another browser with different user (I used **cori_copilot**)
- Paste link

## Video
https://www.dropbox.com/s/ou7h2q7nw9metyi/2020-05-08-2

[2020-05-08 21:03] devsreekrishna opened #559 "While Try To Underline, Italic Or Bold Its Not Changing Font"
**Describe the bug**
While Try To Italic Or Bold Its Not Changing Font

**To Reproduce / Actual Behavior**
Actual Behaviour:- While Try To Underline, Italic Or Bold Its Not Changing Font

Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/

2. Login As Valid Credential jcori / appirio123

3. Click on The TaaS project > Click View Project In Connect > Click Messages > Fil

[2020-05-08 21:07] Citra-citoru opened #560 "No maximum Value for Prizes"
## Steps to Reproduce:
- Login as JCori
- Click **Launch New** button
- Filled the input and click **create challenge** button
- filled the prize1

## Video
https://www.dropbox.com/s/7r5ag9ri7de4zej/2020-05-08-22-09-25.avi?raw=1

## Actual Result:
No maximum value of how much user can enter
![](https://www.dropbox.com/s/0u62ezqtuyppuzc/prizes.png?raw=1)
## Expected Result:
There is maximum value o

[2020-05-08 21:08] #368 closed

[2020-05-08 21:35] devsreekrishna opened #561 "Edit Link Should Not Be written There, It Should Written As Submit, Update Or Save Like This"
**Describe the bug**
Edit Link Should Not Be written There, It Should Written As Submit, Update Or Save Like This

**To Reproduce / Actual Behavior**
Actual Behaviour:- Its Written As Edit Link

Steps to reproduce the behavior:

1. Go to https://challenges.topcoder-dev.com/

2. Login As Valid Credential jcori / appirio123

3. Click on Test TaaS Project > View Project In Connect > Click On Assets L

[2020-05-08 21:58] #522 closed

[2020-05-08 22:00] #556 closed

[2020-05-08 22:17] devsreekrishna opened #562 "Radio Button Should Not Show Options"
**Describe the bug**
Radio Button Should Not Show Options

**To Reproduce / Actual Behavior**
Actual Result:- Radio Button Is Showing Options

Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/

2. Login With Valid Credential jcori / appirio123

3. Click on Test TaaS Project > Select View Project In Connect

4. Click On Radio Button Near Project Is Active

5. See Screen

[2020-05-08 22:21] codejamtc commented on #343
Similar but different to https://github.com/topcoder-platform/challenge-engine-ui/issues/292

292 happens because of the non-space long text, but if we warp the text it will looks like in this. So showing the long challenge in multiple rows won't fix the issue. Here we need to increase the row height dynamically.

[2020-05-08 22:43] devsreekrishna opened #563 "While Putting Mouse Pointer In Middle Unable To To Write Anything, But By Putting Mouse Pointer Above Or Below I Can Write"
**Describe the bug**
While Putting Mouse Pointer In Middle Unable To To Write Anything, But By Putting Mouse Pointer Above Or Below I Can Write

**To Reproduce / Actual Behavior**
Actual Behaviour:- While Putting Mouse Pointer In Middle Unable To To Write Anything.

Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/

2. Login With Valid Credential jcori / appirio123

3.

[2020-05-08 23:25] rootelement opened #564 "[$30] Link to Direct & OR"
When you hover over a challenge, it shows a bold "View Challenge". Underneath that, in tiny font, put two links: `Direct | OR` to open in a new tab
<img width="592" alt="Screen Shot 2020-05-08 at 7 24 18 PM" src="https://user-images.githubusercontent.com/5400156/81456762-a12a9880-9161-11ea-9741-3f2616ea2c07.png">

[2020-05-08 23:25] codejamtc opened #565 "Copilot is not selected if a user saves a challenge as a Draft for a different Copilot"
https://monosnap.com/file/TzCoivNNI7EYvWdxRGQ7RTL9ZNcfGE

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/138f7b3b-6be1-43ee-b4ff-40856a798f07/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project (eg: Test & QA) > Click Launch New > Fill All > Click Create Challenge
3. Fill all the details in the form
4. From the Copilo

[2020-05-08 23:28] codejamtc opened #566 "After saving as a draft for a different Copilot (Copilot 2) and switching the Copilot back to the current user (Copilot 1) won't remove the draft from the original user (Copilot 2)"
https://monosnap.com/file/URrqwQSjYUdsxEwbj2JnSvcOszMoY9

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/138f7b3b-6be1-43ee-b4ff-40856a798f07/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project (eg: Test & QA) > Click Launch New > Fill All > Click Create Challenge
3. Fill all the details in the form
4. From the Copilo

[2020-05-08 23:53] codejamtc commented on #565
https://monosnap.com/file/i1brzKxknImqngrrUMgoBcPqoojTRX

[2020-05-09 00:08] codejamtc opened #567 "No error/Info message when user tries to create a challenge (If he is removed from the project by someone)"
https://monosnap.com/file/51507N0ozU4weyRQz0DctkGr2eMKZn

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/138f7b3b-6be1-43ee-b4ff-40856a798f07/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project (eg: Test & QA) > Click Launch New > Fill All > Click Create Challenge
3. Fill all the details in the form
4. Click "Launch a

[2020-05-09 00:31] codejamtc opened #568 "[$15] Layout issue on the "Challenge Schedule" graph"
https://monosnap.com/file/0Rp4DwtQuGXg1AZNNxmrVL6mseFXn3

![image](https://user-images.githubusercontent.com/42398485/81458874-7c82f080-9162-11ea-89d3-80f747070c73.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/fa090a31-2f92-49bf-baeb-d94ea3df8a94/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project (Test & QA) >

[2020-05-09 00:35] codejamtc opened #569 "[$15] 'Is on critical path' is displayed for other phases except 'Appeal Response' in "Challenge Schedule" graph"
https://monosnap.com/file/JroALaaARurotR17qFi3Wwi18Jg6FO

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/0648edee-f4ff-430c-9419-06fb6abd374c/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project (Test & QA) > Go to 'Draft' tab
3. Select a challenge with few phases on the "Challenge Schedule" graph
4. Hover over the pha

[2020-05-09 00:42] codejamtc opened #570 "[$10] End Date/Time moves towards the start Date/Time if we have phases with small timeframes in "Challenge Schedule" graph"
![image](https://user-images.githubusercontent.com/42398485/81459144-fe274e00-9163-11ea-8aa0-c6b63ce01de4.png)

Actual locations:

![image](https://user-images.githubusercontent.com/42398485/81459150-054e5c00-9164-11ea-9291-ee365f5d02c8.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/fa090a31-2f92-49bf-baeb-d94ea3df8a94/edit

**Reproduction Steps:**

1. Open the applic

[2020-05-09 02:27] codejamtc opened #571 ""Maximum Number of Submissions" title font-weight: is not matched with the others"
https://monosnap.com/file/9zJ5sr3KeER4Y8UJMqRC1m9rx52vpu

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/09595f69-fdc5-4ba5-8401-1727121daa7e/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project > Click Launch New > Select a design challenge type and fill all > Click 'Create Challenge'
3. Check the "Maximum Number of S

[2020-05-09 02:49] ab668685 opened #572 "Launch as Draft button is not selected as blue"
**Describe the bug**
Launch as Draft button  is not selected as blue

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com '
2. Login as jcori / appirio123
3. Create a challenge
4. Click on Launch as Draft button.
5 View the Launch as Draft button.

**Expected behavior**
Launch as Draft button should be selected as blue

**Screenshots or

[2020-05-09 02:52] codejamtc opened #573 "{Common} Some HTML codes are not recognized by the editor"
![image](https://user-images.githubusercontent.com/42398485/81462170-29b33400-9176-11ea-84e5-2c183aebf740.png)

**URL:**
https://challenges.topcoder-dev.com/projects/16539/challenges/09595f69-fdc5-4ba5-8401-1727121daa7e/edit

**Reproduction Steps:**

1. Open the application and Login as a valid user (jcori)
2. Select a Project > Click Launch New > Select a design challenge type and fill all > Clic

[2020-05-09 02:54] ab668685 opened #574 "No option to select multiple copilot for a challenge"
Every challenge should have an option to select multiple copilots
Copilot icon should be clickable to redirect to copilot details

![image](https://user-images.githubusercontent.com/61318135/81462182-4a0edd00-91ce-11ea-9b37-df892953394d.png)

[2020-05-09 03:10] codejamtc commented on #483
Sometimes textboxes allow scripts

[2020-05-09 03:14] ab668685 opened #575 "Project details,Tell us about your project,Do you have referral labels are not displayed completely"
**Describe the bug**
Project details are not displayed completely

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com '
2. Login as jcori / appirio123
3. Click on Test Taas project link >>View project in connect
4. Click on Scope link
4 View the Tell us about your project,Do you have referral

**Expected behavior**
Project details labe

[2020-05-09 03:23] ab668685 opened #576 "Invited people timestamp not displayed in correct date format"
**Describe the bug**
Invited people timestamp not displayed in correct date format

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com '
2. Enter the login jcori / appirio123
3. Click on Test TaaS Project link
4. Click on View project in connect
5. Click on Manage topcoder link
6. Add a copilot and view the timestamp

**Expected behavi

[2020-05-09 03:34] ab668685 opened #577 "Can't spell check - mentioned as can\'t"
**Describe the bug**
Can't spell check

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com .'
2. Login as jcori / appirio123
3. Click on Taas Project link
4. Click on View project connect button.
5. Click on Manage Topcoder -Try to invite same copilot again
6. User get message "Project Member(s) can\'t be invited again. Please remove th

[2020-05-09 03:38] #432 closed

[2020-05-09 03:45] rajanmourya opened #578 "Only Save changes button is displayed no options are there (Save changes button has no meaning)"
**Describe the bug**
Only Save changes button is displayed no options are there (Save changes button has no meaning)

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com and login as jcori / appirio123
2. Click on Test & QA project
3. Now click on view project in connect
4.Now click on scope and scroll down
5. Observe the last block has

[2020-05-09 03:52] rajanmourya opened #579 "On clicking on Specification link in Bug discovery project no function is performed, it is taking on blank page"
**Describe the bug**
On clicking on Specification link in Bug discovery project no function is performed, it is taking  on blank page

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://connect.topcoder-dev.com/projects/7761 (You must be logged in with jcori / appirio123)
2. Click on Specification
3. Now observe the behavior a blank page opens

**Expected behavior

[2020-05-09 04:04] ab668685 opened #580 "Invite More people >> Invalid saved messages"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com '
2. Login as jcori / appirio123
3. Click on Taas Project link >> View connect project button .
4. Click on Manage link of Topcoder
5 Try to add invite @Ghostar with Manager / Copilot role- Get message user invit

[2020-05-09 04:08] rajanmourya opened #581 "Alignment of date field icons are not proper in assests library page"
**Describe the bug**
Alignment of date field icons are not proper in assests library page

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. Go to https://connect.topcoder-dev.com/projects/16531 (You must be logged in with jcori / appirio123)
2. Click on Assets Library
3. Now Click on Date now add any date
4. Observe the icons are not properly aligned

**Expected behavior**
T

[2020-05-09 04:18] rajanmourya opened #582 "Labels and text are not properly aligned"
**Describe the bug**
Labels and text or their values is not properly aligned

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. Go to https://connect.topcoder-dev.com/projects/16531 (You must be logged in with jcori / appirio123)
2. Click on Edit icon of any phase
3. Now observe the Duration(Days) and progress(%) values are not properly aligned to it

**Expected behavior**
Va

[2020-05-09 04:28] ab668685 opened #583 "Completed projects are not displayed in Completed tab"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com '
2. Login as jcori / appirio123
3. Click on Test TaaS Project Created link
4. Click on All projects link
4. Complete the project as Test & QA and verify the same in Completed tab

**Expected behavior**
Test & QA

[2020-05-09 04:30] rajanmourya opened #584 "Customer filter dialog is overlapping on the other text (ie Topcoder)"
**Describe the bug**
Customer filter dialog is opened it is overlapping on the other text (ie Topcoder) and also the text is showing over dialog

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://connect.topcoder-dev.com/projects and login as jcori / appirio123
2. Click on Customer tab
3. Now observe the popup dialog is appeared which is overlapped the text topco

[2020-05-09 04:33] #289 closed

[2020-05-09 04:33] #290 closed

[2020-05-09 04:34] #384 closed

[2020-05-09 04:35] #566 closed

[2020-05-09 04:35] jmgasper commented on #291
Not a bug, just a data problem.  The app is functioning correctly.

[2020-05-09 04:35] #291 closed

[2020-05-09 04:35] #294 closed

[2020-05-09 04:36] #296 closed

[2020-05-09 04:36] #298 closed

[2020-05-09 04:36] #299 closed

[2020-05-09 04:36] #300 closed

[2020-05-09 04:37] #301 closed

[2020-05-09 04:37] #302 closed

[2020-05-09 04:38] #354 closed

[2020-05-09 04:38] #363 closed

[2020-05-09 04:39] jmgasper commented on #304
This isn't necessarily a bug.

[2020-05-09 04:39] #304 closed

[2020-05-09 04:39] jmgasper commented on #305
The current functionality is what we want and is the client requirement

[2020-05-09 04:39] #305 closed

[2020-05-09 04:40] ab668685 commented on #299
Hi jmgasper,
Can you add a valid bug number to the duplicate bug?
Also validate which bug has been raised earlier

[2020-05-09 04:41] jmgasper commented on #307
There was no requirement for a footer.  Please don't just make up requirements.

[2020-05-09 04:41] #307 closed

[2020-05-09 04:41] #309 closed

[2020-05-09 04:42] jmgasper commented on #310
This should have been logged with clear screenshots, not a long video that makes it very difficult to understand the problem.  Rejecting this because the logged issue isn't clear enough.

[2020-05-09 04:42] #310 closed

[2020-05-09 04:43] jmgasper commented on #312
Again, this is not a bug.  This is the correct functionality.  Please don't make up requirements, and if something is unclear or you're not sure, please ask in the forums.

[2020-05-09 04:43] #312 closed

[2020-05-09 04:43] #369 closed

[2020-05-09 04:43] ranjyotiprakash opened #585 "Search text-box should be focused and cursor should be placed inside after type-ahead search reloads the page though User has not finished typing the search string"
**Describe the bug**
Search text-box should be focused and cursor is placed inside it after type-ahead search reloads the page. Let's say user has just typed in a part of his/her search string and page reloads to show the search result for sub-string, then (s)he has to click on the search text-box again. This affects the usability.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavio

[2020-05-09 04:44] ab668685 commented on #309
Why you are rejecting the bugs without valid comments??

[2020-05-09 04:44] jmgasper commented on #314
There needs to be clear screenshots here - a video is unnecessary and makes it difficult to fully understand the issue.

[2020-05-09 04:44] #314 closed

[2020-05-09 04:44] #315 closed

[2020-05-09 04:44] #345 closed

[2020-05-09 04:45] rajanmourya opened #586 "After Searching a project by name, it is showing as "No results found based on current search criteria." for a small bit of time then search result is coming"
**Describe the bug**
After Searching a project by name, it is showing as "No results found based on current search criteria." for a small bit of time then search result is coming (When the project is available)

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. Go to https://connect.topcoder-dev.com/projects (You must belogin as jcori / appirio123
2. Now type any project whic

[2020-05-09 04:45] #318 closed

[2020-05-09 04:45] #319 closed

[2020-05-09 04:45] #320 closed

[2020-05-09 04:46] jmgasper commented on #321
Not a bug

[2020-05-09 04:46] #321 closed

[2020-05-09 04:47] #324 closed

[2020-05-09 04:48] #323 closed

[2020-05-09 04:50] jmgasper commented on #327
Not a security problem.

[2020-05-09 04:50] #327 closed

[2020-05-09 04:51] #329 closed

[2020-05-09 04:53] #331 closed

[2020-05-09 04:55] #337 closed

[2020-05-09 04:56] jmgasper commented on #332
Can't reproduce this.

[2020-05-09 04:56] #332 closed

[2020-05-09 04:57] jmgasper commented on #333
Not enough details here to work with.  There's obviously a problem on the page, but details would have been shown in the JS console window that weren't part of the logged ticket.

[2020-05-09 04:57] #333 closed

[2020-05-09 04:59] #335 closed

[2020-05-09 04:59] #336 closed

[2020-05-09 05:01] #339 closed

[2020-05-09 05:01] jmgasper commented on #341
Not detailed enough.

[2020-05-09 05:01] #341 closed

[2020-05-09 05:01] #483 closed

[2020-05-09 05:01] #342 closed

[2020-05-09 05:01] #343 closed

[2020-05-09 05:02] #344 closed

[2020-05-09 05:02] #346 closed

[2020-05-09 05:02] ab668685 commented on #312
Why then Registrants icon & submission icon are provided and mousehover on it?These are tested as no requirement documents been provided

[2020-05-09 05:02] #347 closed

[2020-05-09 05:03] #350 closed

[2020-05-09 05:03] #351 closed

[2020-05-09 05:03] ab668685 commented on #344
Why the bugs are been rejected?I had raised bugs again after the registration time is over?

[2020-05-09 05:03] #352 closed

[2020-05-09 05:03] #353 closed

[2020-05-09 05:04] #356 closed

[2020-05-09 05:04] #357 closed

[2020-05-09 05:04] #358 closed

[2020-05-09 05:04] #359 closed

[2020-05-09 05:05] #361 closed

[2020-05-09 05:06] #485 closed

[2020-05-09 05:06] #365 closed

[2020-05-09 05:07] #366 closed

[2020-05-09 05:07] #371 closed

[2020-05-09 05:07] #372 closed

[2020-05-09 05:07] #373 closed

[2020-05-09 05:07] #374 closed

[2020-05-09 05:08] #375 closed

[2020-05-09 05:08] #376 closed

[2020-05-09 05:08] #378 closed

[2020-05-09 05:09] #380 closed

[2020-05-09 05:09] #381 closed

[2020-05-09 05:09] #382 closed

[2020-05-09 05:09] #383 closed

[2020-05-09 05:10] #385 closed

[2020-05-09 05:10] #388 closed

[2020-05-09 05:10] #379 closed

[2020-05-09 05:11] #389 closed

[2020-05-09 05:12] #391 closed

[2020-05-09 05:14] #392 closed

[2020-05-09 05:14] #422 closed

[2020-05-09 05:14] Citra-citoru opened #587 "Different Date shown in Schedule Chart and Edit"
## Steps to Reproduce:
-  Create a new Challenges
- Choose standard code for timeline template
- Click button edit in Challenge schedule section

## Video
https://www.dropbox.com/s/6quxcf1o4kggaep/2020-05-09-07-10-57.avi?raw=1

## Actual Result:
Difference dates shown in Schedule Chart and edit.
ex: in chart Submission  (May 10th - May 13th), in edit submission End  (May 9th)

- schedule chart
![s

[2020-05-09 06:22] Citra-citoru opened #588 "Same Challenge Shown Different Assignee Copilots"
## Steps to Reproduce:
- Login as JCori
- Go to **Active Challenges** Tab
- Choose and Click **Thomas Test 3** Challenge
--In different Browser or Window:
- Login as Ghostar
- Go to **Active Challenges** Tab
- Choose and Click **Thomas Test 3** Challenge
- Compare assignee copilot

## Video

## Actual Result:
 When we login as JCori, assignee copilot are Pshah Manager and Tony J, but when we login

[2020-05-09 06:55] Citra-citoru opened #589 "Type Didnt Show of List of Corresponding Type of Track"
## Steps to Reproduce:
- Choose One of Track
-  Choose Type

## Actual Result:
When we choose one of the track, the type show off all of  list of types.

![track type](https://www.dropbox.com/s/ms0jjn858r7k726/track_type.png?raw=1)

## Expected Result:
- When we choose track Design, Type will only show list of corresponding Design Type ex: design, wireframes, etc.
- When we choose QA ,  Type will

[2020-05-09 07:16] Jacob15 opened #590 "Edit Challenge > Copilot link is not navigating to profile/ any page."
**Describe the bug**
Copilot name on selection to be redirected to respective page.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/7761/challenges/e8a25c1c-6cbe-40e9-bf1b-7c41c6f43abb/edit
2. Click on name near Copilot
3.  It get selected but is not redirecting to any page.

**Expected behavior**
Copilot name is expected t

[2020-05-09 07:25] Jacob15 opened #591 "Edit challenge> Start date is accepting backspace and then date changes to previous date"
**Describe the bug**
Start date field having calendar is accepting backspace

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/7761/challenges/588c5dbb-1322-4285-b620-9c187a204253/edit-
2. Click on Start date field
3. Press backspace in the Start date field
4. Observe the date is getting reduced.

**Expected behavior**
Backsp

[2020-05-09 07:34] payalguptagit commented on #425
Duplicate issue

[2020-05-09 07:34] #425 closed

[2020-05-09 07:39] payalguptagit commented on #461
Duplicate issue

[2020-05-09 07:39] #461 closed

[2020-05-09 07:39] jmgasper opened #592 "[$125] UI Cleanup"
@suppermancool - We're running a bug hunt, but I'd like to get started on a few, if we can.  This ticket will cover these:

- [x] https://github.com/topcoder-platform/challenge-engine-ui/issues/297
- [x] https://github.com/topcoder-platform/challenge-engine-ui/issues/288
- [x] https://github.com/topcoder-platform/challenge-engine-ui/issues/313
- [x] https://github.com/topcoder-platform/challenge-e

[2020-05-09 07:40] rajanmourya commented on #366
Hi, @jmgasper
I have add the video of the bug also, in zip file
So what is the missing in the bug.
please clarify

[2020-05-09 07:44] jmgasper commented on #592
Contest https://www.topcoder.com/challenges/30124847 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-09 07:44] jmgasper commented on #592
Contest https://www.topcoder.com/challenges/30124847 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-09 07:45] narekcat commented on #592
Hello @jmgasper . Will there be new issues to work on? I am free now.

[2020-05-09 07:45] Jacob15 opened #593 "Edit Challenge > Tab key is not focusing Edit after start date."
**Describe the bug**
Keyboard tab keys not working near Start field

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/null/challenges/c8e71bcf-d091-4319-9e99-b6a9082fc1e0/edit
2. Click on Start date.
3. tab near start date.
4. It is not getting focused Edit fields.

**Expected behavior**
Challenge Schedule Edit dropdown shoul

[2020-05-09 07:53] Jacob15 opened #594 "Edit Challenge > Shift + Tab is not working near Public Specification"
**Describe the bug**
Keyboard navigation keys not working near Public specification.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/7761/challenges/588c5dbb-1322-4285-b620-9c187a204253/edit
2. Click on Start date field
3. Tab will move the cursor to PUblic Specification.
4. Shift + tab is not working in public specfiicatio

[2020-05-09 07:55] rajanmourya opened #595 "There is no alt attribute available for image"
**Describe the bug**
There is no alt attribute available or alternate text for the image. if the images will not load it will show as broken image

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com and login as jcori / appirio123
2. Now inspect the page by right click and inspect
3. See the image code, there is no alt attribute for ima

[2020-05-09 07:57] jmgasper opened #596 "[$50] Changes not always loading properly"
@suppermancool - This ticket will track fixes for:

https://github.com/topcoder-platform/challenge-engine-ui/issues/306

[2020-05-09 07:58] Citra-citoru opened #597 "Cannot Found Challenge After Created"
## Steps to Reproduce:
- Login as Ghostar
- in **Test tass Project Created** project, click button **Launch New**
- Choose **Data Science** Track
- Choose type **Data Science**
- Fill challenge Name **Data Science Test**
- click button **create challenge**
- In Edit Challenge page, fill all necessary input and then click button **launch as Active**

## Actual Result:
Cannot found Challenge **Data

[2020-05-09 07:59] PrakashDurlabhji commented on #596
@jmgasper will there be any open for pickup for this bug hunt?

[2020-05-09 08:00] jmgasper commented on #596
Contest https://www.topcoder.com/challenges/30124848 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-09 08:01] Jacob15 opened #598 "Edit Challenge > Tab key is not focusing review Type and View Advanced Settings"
**Describe the bug**
Tab key is not focusing review type and view advanced settings

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/7761/challenges/588c5dbb-1322-4285-b620-9c187a204253/edit
2. Click on challenge Name text field.
3. Tab through keyboard and observe.
4. Its not focusing the Review type and view advanced Setti

[2020-05-09 08:01] jmgasper commented on #596
Contest https://www.topcoder.com/challenges/30124848 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-09 08:09] payalguptagit commented on #553
duplicate issue

[2020-05-09 08:09] #553 closed

[2020-05-09 08:15] rajanmourya opened #599 ""The password is incorrect" message is showing when user uses social login to login but didn't logged in and comeback"
**Describe the bug**
"The password is incorrect" message is showing when user uses social login to login but didn't logged in and comeback

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com
2. Now click on "twitter" social login
3. Now cancel popup dialog
4. Now click on username or email
5. observe the error message is displayed "That

[2020-05-09 08:27] rajanmourya opened #600 "Show password icon is overlapped when password is too long on login page"
**Describe the bug**
Show password icon is overlapped when the password is too long on the login page, the user is not able to see icon properly

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com
2. Enter the username
3. Enter the password very long till end of the text field
4. Now observe the show password icon is overlapping the pas

[2020-05-09 08:31] ranjyotiprakash opened #601 "Logout is not terminating the session open in another tab in the same browser"
**Describe the bug**
After opening multiple tabs in a session, and then logging out from one of the tabs doesn't close the session for the User. I was able to access the challenges and everything else in another tab.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"
2. After login, right click

[2020-05-09 08:55] rajanmourya opened #602 "Drop down icon is overlapped (hidden) by text in text field when entered text is too long on registration page in firefox while working fine in other browser"
**Describe the bug**
Drop down icon is overlapped (hidden) by text in text field when entered text is too long on registration page

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://accounts.topcoder-dev.com/member/registration
2. Enter the too long text in country field
3. Observe the drow down icon is overlapped by the text

**Expected behavior**
Dropdown icon

[2020-05-09 08:56] ranjyotiprakash opened #603 "Able to access challenge engine UI with two different Users logged in different tabs at the same time on the same browser"
**Describe the bug**
Able to access challenge engine UI with two different Users logged in different tabs at the same time on the same browser

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"
2. Right click on one of the listed challenge and open it in new tab.
3. In the new tab, Click logout

[2020-05-09 09:11] ranjyotiprakash opened #604 "Insufficient or very large or no session expiration on https://challenges.topcoder-dev.com/"
**Describe the bug**
Insufficient Session Expiration is a security flaw that lets an application permit an attacker to reuse old session credentials or session IDs, thus exposing an application to attacks that steal or reuse users’ session identifiers. Insufficient Session Expiration can occur when the session timeout is too long or when the session is not properly terminated after the user uses t

[2020-05-09 09:15] payalguptagit opened #605 "May 7 Bug Hunt : While entering challenge description under public specification, text is highlighted with color"
**Describe the bug**
May 7 Bug Hunt : While entering challenge description under public specification, text is highlighted with color

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. While entering challenge description under public specification, text is automatically start highlighting with pink

[2020-05-09 09:18] suppermancool commented on #596
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/606.

[2020-05-09 09:19] payalguptagit opened #607 "May 7 Bug Hunt : In enter challenge description option, underline option is not available"
**Describe the bug**
May 7 Bug Hunt : In enter challenge description option, underline option is not available

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. In enter challenge description option, underline option is not available
4. Observe the label below

**Expected behavior**
Underline optio

[2020-05-09 09:23] payalguptagit opened #608 "May 7 Bug Hunt : While using bold option in enter challenge description, star automatically appears and doesn't remove"
**Describe the bug**
May 7 Bug Hunt : While using bold option in enter challenge description, star automatically appears and doesn't remove

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. In enter challenge description, while using bold option, star automatically appears and doesn't remove
4. Obs

[2020-05-09 09:25] payalguptagit opened #609 "May 7 Bug Hunt : While using Italic option in enter challenge description, star automatically appears and doesn't remove"
**Describe the bug**
May 7 Bug Hunt : While using Italic option in enter challenge description, star automatically appears and doesn't remove

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. In enter challenge description, while using Italic option, star automatically appears and doesn't remove
4.

[2020-05-09 09:32] payalguptagit opened #610 "May 7 Bug Hunt : While selecting insert quote in place of inverted commas it shows this > in enter challenge description"
**Describe the bug**
May 7 Bug Hunt : While selecting insert quote in place of inverted commas it shows this > in enter challenge description

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. In enter challenge description, while selecting insert quote, in place of inverted commas it shows this >
4

[2020-05-09 09:37] payalguptagit commented on #610
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603156/May.7.Bug.Hunt.zip)

[2020-05-09 09:41] payalguptagit commented on #608
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603166/May.7.Bug.Hunt.zip)

[2020-05-09 09:48] payalguptagit commented on #609
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603173/May.7.Bug.Hunt.zip)

[2020-05-09 09:52] payalguptagit commented on #605
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603175/May.7.Bug.Hunt.zip)

[2020-05-09 10:00] payalguptagit commented on #607
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603202/May.7.Bug.Hunt.zip)

[2020-05-09 10:00] suppermancool commented on #592
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/606

- #313: The date won't update immediately after change `Start Date` it need to wait for finishing `Patch` request to display new timeline info from server response.

[2020-05-09 10:07] payalguptagit opened #611 "May 7 Bug Hunt : Once activating Bold & italic in enter challenge description, deactivating of bold & italic not working"
**Describe the bug**
May 7 Bug Hunt : Once activating Bold & italic in enter challenge description, deactivating of bold & italic not working

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. In enter challenge description, once we have selected Bold and italic then after typing of word, if we want

[2020-05-09 10:11] payalguptagit commented on #611
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603234/May.7.Bug.Hunt.zip)

[2020-05-09 10:24] rajanmourya opened #612 "In Edge, when typing password in login page an overlapped icon is coming over the show password icon and also the cross icon is coming when clicked on show password icon"
**Describe the bug**
In Edge, when typing password in login page an overlapped icon is coming over the show password icon and also the cross icon is coming when clicked on show password icon

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com
2. Click on password field and start typing password
3. Now observe there is another icon overl

[2020-05-09 10:39] payalguptagit opened #613 "May 7 Bug Hunt : No shortcuts is displaying on bold, italic, underline, etc. showing Add your post in Massage option"
**Describe the bug**
May 7 Bug Hunt : No shortcuts is displaying on bold, italic, underline, etc. showing Add your post in Massage option

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/

2. Login As Valid Credential jcori / appirio123

3. Click on Another Test Project > Click View Project In Connect > Click Messages > put cursor on

[2020-05-09 10:45] payalguptagit commented on #613
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603298/May.7.Bug.Hunt.zip)

[2020-05-09 10:45] rajanmourya opened #614 "In Edge, Registration page, username, email text field have too much padding from right side"
**Describe the bug**
In Edge, Registration page's username and email text field has too much padding from the right side and also the cross icon is coming in between the text field

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://accounts.topcoder-dev.com/member/registration
2. Now type text in the username field and observe the cross icon is coming in center
3

[2020-05-09 10:53] payalguptagit opened #615 "May 7 Bug Hunt : While selecting inverted commas icon in Message (Add your post), inverted commas does not display"
**Describe the bug**
May 7 Bug Hunt : While selecting inverted commas icon in Message (Add your post), inverted commas does not display

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/

2. Login As Valid Credential jcori / appirio123

3. Click on Another Test Project > Click View Project In Connect > Click Messages > Select inverted

[2020-05-09 10:55] MGTHEBOSS opened #616 "Missing HTTP security headers"
**Describe the bug**
There are missing http security headers on, https://challenges.topcoder-dev.com .

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com'.
2. The page has missing http security headers, X-Frame-Options, X-XSS-Protection, Strict-Transport-Security, & X-Content-Type-Options.

**Expected behavior**
The page should not ha

[2020-05-09 11:03] payalguptagit commented on #615
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603319/May.7.Bug.Hunt.zip)

[2020-05-09 11:12] MGTHEBOSS opened #617 "Layout issue at window size 1024x576"
**Describe the bug**
There is a layout issue at window size 1024x576.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com' & login.
2. Resize the browser window to 1024x576. You may use [window resizer](https://chrome.google.com/webstore/detail/window-resizer/kkelicaakdanhinjdeammmilcgefonfh) chrome extension.
3. Observe the text in th

[2020-05-09 11:37] payalguptagit opened #618 "May 7 Bug Hunt : While selecting number list in Enter challenge description and press enter, serial no. series get disappears"
**Describe the bug**
May 7 Bug Hunt : While selecting number list in Enter challenge description and press enter, serial no. series get disappears

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. In enter challenge description, select number list option and press enter button, serial no. series wi

[2020-05-09 11:42] payalguptagit commented on #618
[May 7 Bug hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603382/May.7.Bug.hunt.zip)

[2020-05-09 11:44] ranjyotiprakash opened #619 "Search API request for "[]"square brackets in "Search Projects" results in to 400 HTTP Status Code"
**Describe the bug**
Search API request for "[]"square brackets in "Search Projects" results in to 400 HTTP Status Code. So, the search fails and due to which it lists out all the projects in the left side pane.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. login to https://challenges.topcoder-dev.com with credentials "jcori / appirio123"
2. Check the left hand side pane

[2020-05-09 11:45] payalguptagit opened #620 "May 7 Bug Hunt : While selecting Bullet tab in Enter challenge description, it showing star (*) instead of bullet (•)"
**Describe the bug**
May 7 Bug Hunt : While selecting Bullet tab in Enter challenge description, it showing star (*) instead of bullet (•)

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. In enter challenge description, select bullet tab option and it will show star (*) instead of bullet •
4. Obse

[2020-05-09 11:52] payalguptagit commented on #620
[May 7 Bug hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603407/May.7.Bug.hunt.zip)

[2020-05-09 12:28] codejamtc commented on #534
![image](https://user-images.githubusercontent.com/42398485/81473785-aff76680-91c6-11ea-870c-ff7df0af7ea1.png)

[2020-05-09 12:43] Krishna1507 commented on #335
no reason why this ticket rejected Plz justify!

[2020-05-09 12:43] Krishna1507 commented on #358
no reason why this ticket rejected Plz justify!

[2020-05-09 12:51] Krishna1507 opened #621 "Page not auto scrolled up when tap on drop-down Tags or Timeline template"
**Describe the bug**
Page not auto up when tap to open drop-down of Tags or Timeline template in case if drop-down hide below the page

**URL**
https://challenges.topcoder-dev.com/projects/16529/challenges/02298cc9-c045-4e08-bfcf-9886e126263d/edit

**Step to reproduce**
1. Go to the link https://challenges.topcoder-dev.com and login with jcori/appirio123
2. Launch new  > Create challenges > Edit C

[2020-05-09 12:57] codejamtc commented on #487
This one should be fixed with this issue as well https://github.com/topcoder-platform/challenge-engine-ui/issues/485

[2020-05-09 13:05] rajanmourya opened #622 "Email validation on registration page get fails when along with @ and Dot(.) special characters are included. It shows only red block not any error message."
**Describe the bug**
Email validation on registration page get fails when along with @ and Dot(.) special characters are included. It shows only red block not any error message.
exp - raj@g.#com

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://accounts.topcoder-dev.com/member/registration
2. Click email field and insert the value as raj@g.#com
3. Now observe th

[2020-05-09 13:29] payalguptagit opened #623 "May 7 Bug Hunt : While using strike option in enter challenge description, ~~ sign appears and doesn't remove, If removed strike removes too."
**Describe the bug**
May 7 Bug Hunt : While using strike option in enter challenge description, ~~ sign appears and doesn't remove, If removed strike removes too.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. In enter challenge description, while using strike ~~ appears before and after the wor

[2020-05-09 13:30] rajanmourya opened #624 "On Registration page Username validation is not working properly, as it mentioned 2 to 15 characters but also accepting 1 character with other symbols"
**Describe the bug**
On Registration page Username validation is not working properly, as it mentioned 2 to 15 characters but also accepting 1 character with other symbols.
if it is treating symbols as a character so it should not show an error when no English alphabets are entered but if it is not then it should not accept only 1 English alphabet

**To Reproduce / Actual Behavior**
Steps to repro

[2020-05-09 13:37] payalguptagit commented on #623
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603520/May.7.Bug.Hunt.zip)

[2020-05-09 13:44] payalguptagit opened #625 "While using heading option in enter challenge description, Hashtag # appears and if removed, headings becomes normal text."
**Describe the bug**
May 7 Bug Hunt : While using heading option in enter challenge description, Hashtag # appears and if removed, headings becomes normal text.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/'
2. Login as jcori / appirio123
3. In enter challenge description, if we use heading option hashtag sign "#" appears and if

[2020-05-09 13:53] payalguptagit commented on #625
[May 7 Bug Hunt.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/4603542/May.7.Bug.Hunt.zip)

[2020-05-09 14:14] Jacob15 opened #626 "Edit Challenge > Changing the Prize amount is not retained after browser refresh"
**Describe the bug**
Changing the prize amount is not retained after browser refresh

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/null/challenges/c8e71bcf-d091-4319-9e99-b6a9082fc1e0/edit
2. Click on Prize field
3. Change the amount
4. Refresh teh page
5. Prize amount is not retained.

**Expected behavior**
Prize amount

[2020-05-09 14:16] Jacob15 commented on #626
This is happening for Tags field

[2020-05-09 14:21] Jacob15 opened #627 "[$20] Edit Challenge > View Advanced Settings is not getting showing after refresh"
**Describe the bug**
View Advanced Settings checkbox is not shown again after refresh

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to https://challenges.topcoder-dev.com/projects/null/challenges/c8e71bcf-d091-4319-9e99-b6a9082fc1e0/edit
2. Click on "View Advanced Settings" checkbox
3. Select any value in the terms dropdown.
4. Refresh the page.
5. Observe the "View Ad

[2020-05-09 15:05] ranjyotiprakash opened #628 "Challenge details API can be requested and sensitive data can be fetched without authentication"
**Describe the bug**
Challenge details API can be requested and sensitive data can be fetched without authentication. This is a serious information disclosure vulnerability due to which anyone can access the "Challenge Details" without being authenticated.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:

1. login to https://challenges.topcoder-dev.com with credentials "jcori /

[2020-05-09 22:39] jmgasper commented on #564
Contest https://www.topcoder.com/challenges/30124865 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-09 22:41] jmgasper commented on #564
Contest https://www.topcoder.com/challenges/30124865 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-09 22:42] #393 closed

[2020-05-09 22:42] #394 closed

[2020-05-09 22:44] jmgasper commented on #395
This is a user interface issue, not a functional issue.

[2020-05-09 22:44] #396 closed

[2020-05-09 22:46] jmgasper commented on #397
![Screen Shot 2020-05-10 at 08 46 02](https://user-images.githubusercontent.com/21790/81486793-ae976e00-929a-11ea-8c3f-cec8577da440.png)
Works fine for me

[2020-05-09 22:46] #397 closed

[2020-05-09 22:47] jmgasper commented on #398
This is just an account issue with that account in dev.  Not a bug.

[2020-05-09 22:47] #398 closed

[2020-05-09 22:48] #399 closed

[2020-05-09 22:48] #400 closed

[2020-05-09 22:48] #401 closed

[2020-05-09 22:48] #402 closed

[2020-05-09 22:49] #403 closed

[2020-05-09 22:49] #404 closed

[2020-05-09 22:49] jmgasper commented on #405
User interface bug, not a functional bug.

[2020-05-09 22:51] jmgasper commented on #406
Most likely due to bad data, but this is a UI bug not a functional bug.

[2020-05-09 22:51] akultalwar89 commented on #405
Thanks @jmgasper  Justin, But Error message will be a function right?
Developer might need to change the code to fix this.

[2020-05-09 22:51] #408 closed

[2020-05-09 22:51] #409 closed

[2020-05-09 22:52] jmgasper commented on #410
Challenges != projects

[2020-05-09 22:52] #410 closed

[2020-05-09 22:52] #411 closed

[2020-05-09 22:53] #412 closed

[2020-05-09 22:53] #413 closed

[2020-05-09 22:53] jmgasper commented on #414
The connect site is not in scope.

[2020-05-09 22:53] #414 closed

[2020-05-09 22:54] jmgasper commented on #415
Not a bug.  It's a setup problem with the account, but the app is functioning normally.  This could have been discussed in the challenge forum.

[2020-05-09 22:54] #415 closed

[2020-05-09 22:54] jmgasper commented on #416
There's no requirement for sorting here.

[2020-05-09 22:54] #416 closed

[2020-05-09 22:55] #418 closed

[2020-05-09 22:55] #419 closed

[2020-05-09 22:56] #421 closed

[2020-05-09 22:56] #423 closed

[2020-05-09 22:56] #426 closed

[2020-05-09 22:56] #427 closed

[2020-05-09 22:56] #428 closed

[2020-05-09 22:57] jmgasper commented on #429
This is exactly what *should* be happening.  Not a bug.

[2020-05-09 22:57] #429 closed

[2020-05-09 22:58] #431 closed

[2020-05-09 22:58] jmgasper commented on #433
The connect application is not in scope.

[2020-05-09 22:58] #433 closed

[2020-05-09 22:59] jmgasper commented on #434
Can't reproduce, and not enough information to work with.

[2020-05-09 22:59] #434 closed

[2020-05-09 22:59] #435 closed

[2020-05-09 22:59] jmgasper commented on #436
That's exactly how the markdown editor work.  This is not a bug.

[2020-05-09 22:59] #436 closed

[2020-05-09 23:00] jmgasper commented on #437
UI issue, not a functional one.

[2020-05-09 23:00] #438 closed

[2020-05-09 23:00] #439 closed

[2020-05-09 23:00] #441 closed

[2020-05-09 23:01] jmgasper commented on #405
This is a user interface bug, not a functional bug.  There's no functionality that's broken or wrong, just some UI updates required.

[2020-05-09 23:02] #442 closed

[2020-05-09 23:02] #443 closed

[2020-05-09 23:02] #444 closed

[2020-05-09 23:02] akultalwar89 commented on #405
sure @jmgasper  Thank you :)

[2020-05-09 23:02] #445 closed

[2020-05-09 23:03] #446 closed

[2020-05-09 23:03] jmgasper commented on #447
Connect app is not in scope.

[2020-05-09 23:03] #447 closed

[2020-05-09 23:03] #449 closed

[2020-05-09 23:04] #450 closed

[2020-05-09 23:04] #451 closed

[2020-05-09 23:04] akultalwar89 commented on #444
@jmgasper  - Field name Column name should be corrected? UI issue

[2020-05-09 23:04] #452 closed

[2020-05-09 23:05] #453 closed

[2020-05-09 23:05] #454 closed

[2020-05-10 02:15] jmgasper commented on #455
Typos out of scope.

[2020-05-10 02:15] #455 closed

[2020-05-10 02:15] #456 closed

[2020-05-10 02:15] #457 closed

[2020-05-10 02:17] #459 closed

[2020-05-10 02:17] #460 closed

[2020-05-10 02:19] jmgasper commented on #464
Connect app is not in scope.

[2020-05-10 02:19] #464 closed

[2020-05-10 02:20] #465 closed

[2020-05-10 02:21] jmgasper commented on #467
I see no bugs here - you're just making assumptions that are incorrect.

[2020-05-10 02:21] #467 closed

[2020-05-10 02:22] jmgasper commented on #468
UI bug not a functional one.

[2020-05-10 02:22] #469 closed

[2020-05-10 02:23] #470 closed

[2020-05-10 02:23] #471 closed

[2020-05-10 02:23] #472 closed

[2020-05-10 02:24] #475 closed

[2020-05-10 02:25] #476 closed

[2020-05-10 02:25] jmgasper commented on #477
Upgrading this to a security problem.  May be an XSS-type issue.

[2020-05-10 02:26] #478 closed

[2020-05-10 02:26] #479 closed

[2020-05-10 02:27] #480 closed

[2020-05-10 02:30] jmgasper opened #629 "[$15] Investigate new challenge page not loading"
@suppermancool - I'm seeing the new challenge page not loading with TonyJ / appirio123

I don't see any errors in the console.  Is there a backend service problem?

![Screen Shot 2020-05-10 at 12 29 27](https://user-images.githubusercontent.com/21790/81489549-faa5db00-92b9-11ea-8397-2db6a4f063ad.png)

[2020-05-10 02:34] jmgasper commented on #629
[500]: Challenge for the updated issue 629 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 02:34] jmgasper commented on #629
Contest https://www.topcoder.com/challenges/30124887 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 02:38] #482 closed

[2020-05-10 02:39] #484 closed

[2020-05-10 02:39] #486 closed

[2020-05-10 02:40] #488 closed

[2020-05-10 02:40] #489 closed

[2020-05-10 02:40] #490 closed

[2020-05-10 02:41] #492 closed

[2020-05-10 02:41] #493 closed

[2020-05-10 02:42] #494 closed

[2020-05-10 02:42] #496 closed

[2020-05-10 02:43] #499 closed

[2020-05-10 02:44] jmgasper commented on #500
I'm considering this not an issue because no size requirements were given, and this is essentially a mobile / tablet size, which is out of scope.

[2020-05-10 02:44] #500 closed

[2020-05-10 02:44] #501 closed

[2020-05-10 02:45] #503 closed

[2020-05-10 02:46] jmgasper commented on #504
Functionality isn't affected, this is purely a UI issue.

[2020-05-10 02:46] #505 closed

[2020-05-10 02:47] jmgasper commented on #506
IE 11 was explicitly stated as out of scope, and this can't be reproduced.

[2020-05-10 02:47] #506 closed

[2020-05-10 02:48] jmgasper commented on #507
Insert image works as expected, but I don't think you're understanding how the markdown editor works.

[2020-05-10 02:48] #507 closed

[2020-05-10 02:48] #509 closed

[2020-05-10 02:49] jmgasper commented on #510
Functionality isn't broken here - changing this to a UI issue.

[2020-05-10 02:49] jmgasper commented on #511
Again, this is just not understanding markdown or the markdown editor.

[2020-05-10 02:49] #511 closed

[2020-05-10 02:49] #512 closed

[2020-05-10 02:49] #513 closed

[2020-05-10 02:50] #514 closed

[2020-05-10 02:50] jmgasper commented on #515
Changing to a UI issue

[2020-05-10 02:50] #516 closed

[2020-05-10 02:52] #518 closed

[2020-05-10 02:52] #519 closed

[2020-05-10 02:52] #520 closed

[2020-05-10 02:52] #521 closed

[2020-05-10 02:53] jmgasper commented on #523
Login page is out of scope.  This could have been asked about and clarified in the forum.

[2020-05-10 02:53] #523 closed

[2020-05-10 02:53] #525 closed

[2020-05-10 03:20] jmgasper commented on #444
There's no "column".  At best, this is a typo, but I don't consider this a problem at all.

[2020-05-10 03:21] #526 closed

[2020-05-10 03:21] jmgasper commented on #528
accounts.topcoder-dev.com is out of scope.

[2020-05-10 03:21] #528 closed

[2020-05-10 03:21] jmgasper commented on #530
There's no explicit requirement on how future challenges are scheduled.

[2020-05-10 03:21] #530 closed

[2020-05-10 03:22] #531 closed

[2020-05-10 03:22] #532 closed

[2020-05-10 03:22] #533 closed

[2020-05-10 03:22] #534 closed

[2020-05-10 03:23] jmgasper commented on #535
Actually, at this point, the challenge is created.  The first page creates the challenge in the system, when the name, type, and track are selected, so `Edit Challenge` is technically correct here.

[2020-05-10 03:23] #535 closed

[2020-05-10 03:24] jmgasper commented on #536
The placholder text indicates the values are in hours.

[2020-05-10 03:24] #536 closed

[2020-05-10 03:24] #537 closed

[2020-05-10 03:25] jmgasper commented on #538
Accepting this as a UI bug.  Functionality is not affected.

[2020-05-10 03:26] #540 closed

[2020-05-10 03:27] #542 closed

[2020-05-10 03:27] #543 closed

[2020-05-10 03:28] #544 closed

[2020-05-10 03:28] #545 closed

[2020-05-10 03:28] #546 closed

[2020-05-10 03:29] jmgasper commented on #548
There's no requirement for a challenge name to be unique.

[2020-05-10 03:29] #548 closed

[2020-05-10 03:29] #549 closed

[2020-05-10 03:29] #550 closed

[2020-05-10 03:30] #552 closed

[2020-05-10 03:32] #554 closed

[2020-05-10 03:33] #557 closed

[2020-05-10 03:34] jmgasper commented on #559
The connect app is not in scope.

[2020-05-10 03:34] #559 closed

[2020-05-10 03:34] #560 closed

[2020-05-10 03:34] #561 closed

[2020-05-10 03:34] jmgasper commented on #562
The connect app is not in scope.

[2020-05-10 03:34] #562 closed

[2020-05-10 03:35] #563 closed

[2020-05-10 03:40] jmgasper commented on #580
The connect app is not in scope.

[2020-05-10 03:40] #580 closed

[2020-05-10 03:40] #571 closed

[2020-05-10 03:40] #572 closed

[2020-05-10 03:41] jmgasper commented on #575
The connect app is not in scope.

[2020-05-10 03:41] #575 closed

[2020-05-10 03:41] jmgasper commented on #576
The connect app is not in scope.

[2020-05-10 03:41] #576 closed

[2020-05-10 03:41] jmgasper commented on #577
The connect app is not in scope.

[2020-05-10 03:41] #577 closed

[2020-05-10 03:41] jmgasper commented on #578
The connect app is not in scope.

[2020-05-10 03:41] #578 closed

[2020-05-10 03:42] jmgasper commented on #579
The connect app is not in scope.

[2020-05-10 03:42] #579 closed

[2020-05-10 03:43] jmgasper commented on #581
The connect app is not in scope.

[2020-05-10 03:43] #581 closed

[2020-05-10 03:43] suppermancool commented on #564
@jmgasper can i have url of Direct and OR ?

[2020-05-10 03:43] jmgasper commented on #582
The connect app is not in scope.

[2020-05-10 03:43] #582 closed

[2020-05-10 03:44] #583 closed

[2020-05-10 03:44] jmgasper commented on #584
The connect app is not in scope.

[2020-05-10 03:44] #584 closed

[2020-05-10 03:44] #585 closed

[2020-05-10 03:44] jmgasper commented on #586
The connect app is not in scope.

[2020-05-10 03:44] #586 closed

[2020-05-10 03:45] #587 closed

[2020-05-10 03:45] jmgasper commented on #588
You're looking at two separate challenges in two separate projects, just with the same name, as far as I can tell from the screenshots.

[2020-05-10 03:45] #588 closed

[2020-05-10 03:46] #589 closed

[2020-05-10 03:46] jmgasper commented on #590
This is fundamentally wrong and not at all what we want.  Please don't make assumptions about what the functionality should be.  If something isn't clear, you are free to ask in the forums.

[2020-05-10 03:46] #590 closed

[2020-05-10 03:47] #591 closed

[2020-05-10 03:48] #593 closed

[2020-05-10 03:48] jmgasper commented on #594
This is how the markdown editor functions and is expected.

[2020-05-10 03:48] #594 closed

[2020-05-10 03:49] jmgasper commented on #564
@suppermancool - I think the base will have to be configurable (we may already have this):

* https://www.topcoder.com/direct/contest/detail?projectId={legacy ID}
* https://software.topcoder.com/review/actions/ViewProjectDetails?pid={legacy ID}

[2020-05-10 04:03] suppermancool commented on #564
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/630.

[2020-05-10 04:08] suppermancool commented on #629
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/631

This is my fault when implement https://github.com/topcoder-platform/challenge-engine-ui/issues/596

[2020-05-10 04:10] #595 closed

[2020-05-10 04:11] #598 closed

[2020-05-10 04:11] jmgasper commented on #599
Login page is out of scope.

[2020-05-10 04:11] #599 closed

[2020-05-10 04:11] jmgasper commented on #600
Note that this is accounts.topcoder-dev.com.  Out of scope.

[2020-05-10 04:11] #600 closed

[2020-05-10 04:18] jmgasper commented on #602
Note that this is accounts.topcoder-dev.com.  Out of scope.

[2020-05-10 04:18] #602 closed

[2020-05-10 04:19] #603 closed

[2020-05-10 04:19] #604 closed

[2020-05-10 04:20] #605 closed

[2020-05-10 04:20] #607 closed

[2020-05-10 04:20] jmgasper commented on #608
The editor is a *markdown* editor.  This is expected functionality.

[2020-05-10 04:20] #608 closed

[2020-05-10 04:21] #609 closed

[2020-05-10 04:21] #610 closed

[2020-05-10 04:21] #611 closed

[2020-05-10 04:21] jmgasper commented on #612
Note that this is accounts.topcoder-dev.com.  Out of scope.

[2020-05-10 04:21] #612 closed

[2020-05-10 04:21] jmgasper commented on #613
Connect app is not in scope.

[2020-05-10 04:21] #613 closed

[2020-05-10 04:22] jmgasper commented on #614
Note that this is accounts.topcoder-dev.com.  Out of scope.

[2020-05-10 04:22] #614 closed

[2020-05-10 04:22] #615 closed

[2020-05-10 04:22] #617 closed

[2020-05-10 04:23] #618 closed

[2020-05-10 04:23] #620 closed

[2020-05-10 04:23] #621 closed

[2020-05-10 04:24] jmgasper commented on #622
Note that this is accounts.topcoder-dev.com.  Out of scope.

[2020-05-10 04:24] #622 closed

[2020-05-10 04:24] #623 closed

[2020-05-10 04:24] jmgasper commented on #624
Note that this is accounts.topcoder-dev.com.  Out of scope.

[2020-05-10 04:24] #624 closed

[2020-05-10 04:24] #625 closed

[2020-05-10 04:26] #626 closed

[2020-05-10 04:27] jmgasper commented on #628
This is expected - we use this information on the challenges listing, which doesn't require login.

[2020-05-10 04:27] #628 closed

[2020-05-10 04:29] #529 closed

[2020-05-10 04:31] jmgasper commented on #377
This is how most markdown editors work.  Not a bug.

[2020-05-10 04:31] #377 closed

[2020-05-10 05:29] jmgasper opened #632 "[$20] Topcoder Challenge Engine UI - May 7 Bug Hunt payment"
Accepted item payment

[2020-05-10 05:38] jmgasper commented on #601
@rootelement - I've noticed with other tools as well, like TC-X.  Is there a specific way we should be logging out?

[2020-05-10 05:39] jmgasper commented on #627
@rootelement - I'm thinking we don't need to hide these inside a `View Advanced Settings` option.  Thoughts?

[2020-05-10 05:43] jmgasper commented on #619
@rootelement / @ThomasKranitsas - Logged a project API regarding this problem here:

https://github.com/topcoder-platform/projects-api/issues/34

Probably best to fix this at the project-api level, just in case.  Seems like this could be a potential XSS attack vector, based on how that text is being sent right to ES.

[2020-05-10 05:44] jmgasper commented on #616
@rootelement - We should probably fix this, but wanted to check if there are strict Topcoder platform requirements here.

[2020-05-10 05:48] jmgasper commented on #574
@rootelement - Do we want to support multiple copilots for a challenge?  I know we've talked about that in the past, but wasn't sure if that was something that Topcoder 100% wanted.

[2020-05-10 05:52] jmgasper commented on #573
@rootelement - This is kind of an odd one, but could potentially cause problems with the community app.  Not sure how far we want to drill down on this one.

[2020-05-10 05:54] jmgasper commented on #570
Contest https://www.topcoder.com/challenges/30124890 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:54] jmgasper commented on #570
Contest https://www.topcoder.com/challenges/30124890 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:54] jmgasper commented on #551
@narekcat - Assigned this to you, if you want it.

[2020-05-10 05:55] jmgasper commented on #538
@narekcat - Assigned this to you, if you want it.

[2020-05-10 05:55] jmgasper commented on #527
@narekcat - Assigned this to you, if you want it.

[2020-05-10 05:58] jmgasper commented on #568
[500]: Challenge for the updated issue 568 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:58] jmgasper commented on #551
Contest https://www.topcoder.com/challenges/30124891 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:58] jmgasper commented on #555
Contest https://www.topcoder.com/challenges/30124893 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:58] jmgasper commented on #568
Contest https://www.topcoder.com/challenges/30124892 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:58] jmgasper commented on #538
Contest https://www.topcoder.com/challenges/30124894 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:58] jmgasper commented on #555
Contest https://www.topcoder.com/challenges/30124893 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:58] jmgasper commented on #527
Contest https://www.topcoder.com/challenges/30124895 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:58] jmgasper commented on #551
Contest https://www.topcoder.com/challenges/30124891 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:59] jmgasper commented on #538
Contest https://www.topcoder.com/challenges/30124894 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 05:59] ab668685 commented on #574
Suggestion:Suppose unfortunately a copilot is on leave or unable to proceed ,in that situation it can be assigned to other copilot aswell.

[2020-05-10 05:59] jmgasper commented on #527
Contest https://www.topcoder.com/challenges/30124895 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:01] jmgasper commented on #515
@narekcat - Assigned this to you, if you want it.

[2020-05-10 06:03] jmgasper commented on #495
@narekcat - Assigned this to you, if you want it.

[2020-05-10 06:04] jmgasper commented on #524
Contest https://www.topcoder.com/challenges/30124896 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:04] jmgasper commented on #517
Contest https://www.topcoder.com/challenges/30124897 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:04] jmgasper commented on #515
Contest https://www.topcoder.com/challenges/30124898 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:04] jmgasper commented on #524
Contest https://www.topcoder.com/challenges/30124896 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:04] #481 closed

[2020-05-10 06:04] jmgasper commented on #508
Contest https://www.topcoder.com/challenges/30124899 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:05] jmgasper commented on #504
Contest https://www.topcoder.com/challenges/30124900 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:05] jmgasper commented on #504
Contest https://www.topcoder.com/challenges/30124900 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:05] jmgasper commented on #517
Contest https://www.topcoder.com/challenges/30124897 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:05] jmgasper commented on #515
Contest https://www.topcoder.com/challenges/30124898 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:06] jmgasper commented on #508
Contest https://www.topcoder.com/challenges/30124899 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:06] jmgasper commented on #437
@narekcat - Assigned this to you, if you want it.

[2020-05-10 06:06] jmgasper commented on #502
Contest https://www.topcoder.com/challenges/30124901 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:07] jmgasper commented on #495
Contest https://www.topcoder.com/challenges/30124902 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:07] jmgasper commented on #502
Contest https://www.topcoder.com/challenges/30124901 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:07] jmgasper commented on #487
Contest https://www.topcoder.com/challenges/30124903 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:07] jmgasper commented on #495
Contest https://www.topcoder.com/challenges/30124902 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:08] jmgasper commented on #487
Contest https://www.topcoder.com/challenges/30124903 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:08] jmgasper commented on #468
Contest https://www.topcoder.com/challenges/30124904 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:08] #297 closed

[2020-05-10 06:08] jmgasper commented on #466
Contest https://www.topcoder.com/challenges/30124905 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:09] #288 closed

[2020-05-10 06:09] jmgasper commented on #468
Contest https://www.topcoder.com/challenges/30124904 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:09] #313 closed

[2020-05-10 06:09] jmgasper commented on #462
Contest https://www.topcoder.com/challenges/30124906 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:09] #316 closed

[2020-05-10 06:09] jmgasper commented on #466
Contest https://www.topcoder.com/challenges/30124905 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:09] jmgasper commented on #448
Contest https://www.topcoder.com/challenges/30124907 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:09] jmgasper commented on #437
Contest https://www.topcoder.com/challenges/30124908 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:09] jmgasper commented on #462
Contest https://www.topcoder.com/challenges/30124906 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:10] jmgasper commented on #407
Contest https://www.topcoder.com/challenges/30124909 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:10] #322 closed

[2020-05-10 06:10] jmgasper commented on #448
Contest https://www.topcoder.com/challenges/30124907 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:10] jmgasper commented on #405
Contest https://www.topcoder.com/challenges/30124910 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:10] #592 closed

[2020-05-10 06:10] jmgasper commented on #407
Contest https://www.topcoder.com/challenges/30124909 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:11] #629 closed

[2020-05-10 06:11] jmgasper commented on #405
Contest https://www.topcoder.com/challenges/30124910 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:11] #596 closed

[2020-05-10 06:13] jmgasper commented on #592
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124847<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:15] jmgasper commented on #629
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124887<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:16] jmgasper commented on #564
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:16] jmgasper commented on #596
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124848<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:43] jmgasper commented on #437
Contest https://www.topcoder.com/challenges/30124908 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 06:44] narekcat commented on #437
@jmgasper . Thank you. I have started to work on this issue.

[2020-05-10 07:34] suppermancool commented on #570
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/633.

[2020-05-10 07:43] suppermancool commented on #569
hi @jmgasper `Is on critical path` is auto calculated by gantt chart https://developers.google.com/chart/interactive/docs/gallery/ganttchart#critical-path

It don't necessary display on 'Appeal Response' if the 'Appeal Response' don't affect the total deadline

[2020-05-10 07:49] jmgasper commented on #569
Contest https://www.topcoder.com/challenges/30124912 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 07:49] jmgasper commented on #569
Contest https://www.topcoder.com/challenges/30124912 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 07:55] suppermancool commented on #568
@jmgasper i can't reproduce this. Can you reproduce this?

[2020-05-10 07:58] suppermancool commented on #568
@jmgasper ah wait let me check on win10

[2020-05-10 08:01] suppermancool commented on #568
@jmgasper i can't reproduce in win10 neither, please check if you can reproduce

[2020-05-10 08:05] suppermancool commented on #555
@jmgasper i can't reproduce this, look like i already fixed this bug in https://github.com/topcoder-platform/challenge-engine-ui/issues/592

[2020-05-10 08:22] suppermancool commented on #524
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/633.

[2020-05-10 08:29] narekcat commented on #551
@jmgasper . I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/634.

[2020-05-10 09:04] suppermancool commented on #517
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/633.

[2020-05-10 09:07] suppermancool commented on #508
@jmgasper this is duplicated of https://github.com/topcoder-platform/challenge-engine-ui/issues/570

[2020-05-10 09:51] suppermancool commented on #504
@jmgasper i can't find anyway to work on this, the google gantt chart don't allow to update horizontal axis option https://developers.google.com/chart/interactive/docs/gallery/ganttchart#configuration-options

If the gantt chart long enough it will turn date format from week to hour:
https://gyazo.com/e3aae723c61a056ee1d4ac007eb84a86

The only solution for this is removed the x axis of gantt chart

[2020-05-10 09:52] narekcat commented on #538
@jmgasper . I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/635.

[2020-05-10 10:20] suppermancool commented on #502
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/633.

[2020-05-10 10:27] suppermancool commented on #487
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/633

[2020-05-10 10:34] suppermancool commented on #468
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/633.

[2020-05-10 10:38] suppermancool commented on #466
@jmgasper i can't reproduce this . i set  `05/23/2020` or `06/30/2020` as start but the gantt chart still work correctly

<img width="1020" alt="Screen Shot 2020-05-10 at 17 38 13" src="https://user-images.githubusercontent.com/5815182/81496879-0fe42f00-92e5-11ea-8817-f0f63be1bb8a.png">

[2020-05-10 10:40] suppermancool commented on #462
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/633.

[2020-05-10 10:46] suppermancool commented on #568
@jmgasper i can reproduce this now, let me check this

[2020-05-10 11:09] jmgasper commented on #569
@rootelement - Maybe we just hide the `Is on critical path` stuff?

[2020-05-10 11:11] #508 closed

[2020-05-10 11:11] jmgasper commented on #508
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 11:17] suppermancool commented on #555
@jmgasper right now we can't get the correct order of phases because the timeline don't return the phase order. So for fixing this i have to do patch request right after change timeline without Throttled for getting the correct order.

I think the backend should support order in timeline otherwise we can't use throttled for updating phase in this case

[2020-05-10 11:32] suppermancool commented on #448
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/636.

[2020-05-10 11:32] suppermancool commented on #568
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/636.

[2020-05-10 11:42] suppermancool commented on #407
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/636.

[2020-05-10 11:43] suppermancool commented on #555
@jmgasper ah wait let me check this again, i think i can make this work with using throttled

[2020-05-10 12:05] suppermancool commented on #555
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/636.

[2020-05-10 12:12] suppermancool commented on #405
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/636.

[2020-05-10 13:31] narekcat commented on #527
@jmgasper . I have fixed this issue, but there is merge conflict. I can merge `develop` branch into newly created `issue-527` branch in my fork and push again to resolve that conflict. Must I resolve merge conflicts ? See pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/637.

[2020-05-10 15:02] rootelement commented on #627
I think we should leave it, because there will be more advanced settings. Mess wants the least amount of fields shown to launch a challenge.

[2020-05-10 15:05] rootelement commented on #573
Not sure what we want to do here. I think we should only be accepting actual markdown. Pasting in HTML should be escaped I'm assuming.

[2020-05-10 15:05] rootelement commented on #574
For now, leave it as single copilot. We can change it, but not assign more than one to a challenge.

[2020-05-10 15:06] rootelement commented on #601
This is a problem with accounts app in dev, not our app. We'll have to test this when it goes to prod.

I know they're working on accounts app in dev, so I assume this is something to do with that.

[2020-05-10 15:10] rootelement commented on #264
Remove the Terms search/dropdown.

The UI should have the Topcoder Default Terms assigned by Default. This should be informational, and not able to be removed. Every challenge needs to have these terms attached. Use this UUID:
`ae6fc4ff-3bd1-4e3f-a987-cc60ab94b422`

There should be a checkbox to enable NDA, unchecked by default. Use this UUID:
`7245bb7d-d7c9-45a0-9603-d5ff05af0977`

Those UUIDs sh

[2020-05-10 15:30] narekcat commented on #515
@jmgasper . I have examined the issue and found out that the problem is with Gantt Chart. I have tried and find the same issue in Gantt Chart [demo ](https://react-google-charts.com/gantt-chart).
![challenge-engine-ui-issue-with-gantt-chart-tooltip](https://user-images.githubusercontent.com/11549629/81503361-42495880-92f4-11ea-925e-c965f5fe856b.png)
Also there is similar [issue ](https://github.co

[2020-05-10 16:19] narekcat commented on #495
@jmgasper . I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/638.

[2020-05-10 18:10] narekcat commented on #437
@jmgasper I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/639.

[2020-05-10 18:39] rootelement commented on #569
Yeah, i'm fine with hiding it. I'm not sure what that keys off of.

On Sun, May 10, 2020 at 7:09 AM Justin Gasper <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com/blog / twitter: @Topcoder
<https://twit

[2020-05-10 21:12] jmgasper commented on #527
@narekcat - Yes, please resolve the conflict.  I've bumped the payment here to account for the additional work.

[2020-05-10 21:26] jmgasper commented on #627
[500]: Challenge for the updated issue 627 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 21:26] jmgasper commented on #627
[500]: Challenge for the updated issue 627 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 21:28] jmgasper commented on #573
@rootelement - Yeah, it's a weird one.  I tried another MD editor and it also parses the HTML:

https://pandao.github.io/editor.md/

We use SimpleMDE (https://simplemde.com/)

[2020-05-10 21:29] #574 closed

[2020-05-10 21:29] #601 closed

[2020-05-10 21:33] codejamtc commented on #573
Hi @jmgasper

I checked the demo version of the SimpleMDE (https://simplemde.com/) there the radio button code is working.

[code]

![image](https://user-images.githubusercontent.com/42398485/81511022-f5f21e80-92db-11ea-9547-fa2b5c31e61f.png)

[2020-05-10 21:37] jmgasper commented on #264
@suppermancool - Let's do a few things here:

1.  Add the default terms on the `creation` POST call on the first page of challenge creation (configurable UUID)

2.  Remove the `Terms` field

3.  Add an `NDA Requred` checkbox, under the `Challenge Name` field that adds / removes the configurable UUID for NDA.

I hope that makes sense, thanks!

[2020-05-10 21:38] jmgasper commented on #515
@narekcat - Ok, we'll just leave it as-is for now, thanks.

[2020-05-10 21:38] #515 closed

[2020-05-10 21:39] jmgasper commented on #515
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124898<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 21:40] jmgasper commented on #264
Contest https://www.topcoder.com/challenges/30124943 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 21:40] codejamtc commented on #573
@jmgasper I think I got the issue  here

If we paste the code like below; editor will identify the radio button part as a code snippet;

[code]

![image](https://user-images.githubusercontent.com/42398485/81511158-d5769400-92dc-11ea-84aa-bf0fb30ca6df.png)

But if we remove the spaces in the above code then it will be recognized as radio buttons

[code]
![image](https://user-images.githubuserconten

[2020-05-10 21:41] jmgasper commented on #264
Contest https://www.topcoder.com/challenges/30124943 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 21:41] jmgasper commented on #504
@suppermancool - We'll leave it as-is for now, thanks.

[2020-05-10 21:41] #504 closed

[2020-05-10 21:43] jmgasper commented on #504
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124900<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-10 21:52] codejamtc commented on #573
Markdown editors are Vulnerable against the XSS attacks

1. Since this allows HTML,

[code]

2. But preventing HTML input won't solve the issue, check below code snippet (It's markdown code)

[code]

https://monosnap.com/file/JhvtkBTjHUCylTgNWoiWlG4cEja0N9

I think the solution is to filter the output, rather the input. After the input text is converted into full-fledged HTML, you can then reliabl

[2020-05-11 01:19] #405 closed

[2020-05-11 01:19] #407 closed

[2020-05-11 01:20] jmgasper commented on #405
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124910<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:20] jmgasper commented on #407
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124909<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:22] jmgasper commented on #437
@narekcat - I'm not seeing this working.  I was able to launch a challenge with a $0 prize for 2nd place.  No validation appeared to have been done.

![Screen Shot 2020-05-11 at 11 21 54](https://user-images.githubusercontent.com/21790/81515975-b843d300-9379-11ea-9a9a-5b5b289cabf2.png)

[2020-05-11 01:23] #448 closed

[2020-05-11 01:23] #462 closed

[2020-05-11 01:23] #468 closed

[2020-05-11 01:24] #487 closed

[2020-05-11 01:25] jmgasper commented on #448
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124907<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:25] jmgasper commented on #462
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124906<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:27] jmgasper commented on #468
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124904<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:27] jmgasper commented on #487
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124903<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:27] jmgasper commented on #502
@suppermancool - This is mostly working appropriately, but I'm not seeing the hours reset.

For instance, if I pick the standard schedule for a development challenge and then change the review timeline to 72 hours, if I hit the `Reset Phases` button, I would expect the review timeline to be reset back to 48 hours.  That isn't currently happening.

[2020-05-11 01:28] #517 closed

[2020-05-11 01:29] jmgasper commented on #495
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:29] #524 closed

[2020-05-11 01:29] jmgasper commented on #517
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124897<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:29] #538 closed

[2020-05-11 01:30] jmgasper commented on #538
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124894<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:32] #551 closed

[2020-05-11 01:32] jmgasper commented on #524
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124896<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:32] #555 closed

[2020-05-11 01:33] jmgasper commented on #551
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124891<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:33] #568 closed

[2020-05-11 01:33] #569 closed

[2020-05-11 01:33] #570 closed

[2020-05-11 01:34] jmgasper commented on #568
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124892<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:34] jmgasper commented on #570
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124890<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:34] #495 closed

[2020-05-11 01:35] jmgasper commented on #495
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124902<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:36] jmgasper commented on #569
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124912<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:37] jmgasper commented on #564
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 01:38] jmgasper commented on #555
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124893<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 03:51] suppermancool commented on #502
@jmgasper sorry i forgot to check it, done in https://github.com/topcoder-platform/challenge-engine-ui/pull/640

[2020-05-11 03:53] suppermancool commented on #264
@jmgasper how do i save `NDA Required` ?

[2020-05-11 03:57] jmgasper commented on #264
@suppermancool - Add / remove Term with UUID ` 7245bb7d-d7c9-45a0-9603-d5ff05af0977`

[2020-05-11 04:24] suppermancool commented on #264
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/641

[2020-05-11 06:42] narekcat commented on #527
@jmgasper - I'll resolve the conflicts in an hour.

[2020-05-11 07:13] narekcat commented on #527
@jmgasper - I have fixed merge conflicts.

[2020-05-11 10:44] narekcat commented on #437
@jmgasper - I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/642.

[2020-05-11 11:28] jmgasper opened #643 "Failing build"
@narekcat - Looks like the build is failing due to eslint errors.  Can you take a look please?

[code]

[2020-05-11 15:15] narekcat commented on #643
@jmgasper - Ok, I have start to working on this issue.

[2020-05-11 15:25] narekcat commented on #643
@jmgasper - I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/644.

[2020-05-11 18:07] narekcat commented on #627
@jmgasper - The terms search/dropdown has been deleted, but the same issue with the groups dropdown and I have fixed it. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/645.

[2020-05-11 20:38] rootelement commented on #616
There's no standard. Use your best judgement please.

[2020-05-11 23:23] #564 closed

[2020-05-11 23:24] #643 closed

[2020-05-11 23:25] jmgasper commented on #564
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124865<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 23:35] jmgasper commented on #627
@Jacob15 - Can you let me know your Topcoder handle please?

[2020-05-11 23:39] #527 closed

[2020-05-11 23:40] jmgasper commented on #527
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124895<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 23:44] jmgasper commented on #264
@suppermancool - We have to make sure we keep the default `ae6fc4ff-3bd1-4e3f-a987-cc60ab94b422` terms, even when adding / removing the NDA terms.

[2020-05-11 23:45] #437 closed

[2020-05-11 23:46] jmgasper opened #646 "[$25] Move Reset Phases"
@suppermancool - Can we move the `Reset Phases` button to be underneath the `Edit` button?  We'll only show that on the list of hours for each phase, not above the Gantt chart, thanks.

[2020-05-11 23:46] jmgasper commented on #437
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124908<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 23:47] jmgasper commented on #646
Contest https://www.topcoder.com/challenges/30125132 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-11 23:48] jmgasper commented on #646
Contest https://www.topcoder.com/challenges/30125132 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:05] #502 closed

[2020-05-12 00:06] jmgasper commented on #502
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124901<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:16] #632 closed

[2020-05-12 00:18] #541 closed

[2020-05-12 00:18] jmgasper commented on #510
This is an issue with the library.  Not going to fix it.

[2020-05-12 00:18] #510 closed

[2020-05-12 00:20] jmgasper commented on #491
Contest https://www.topcoder.com/challenges/30125133 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:21] jmgasper commented on #491
Contest https://www.topcoder.com/challenges/30125133 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:25] #360 closed

[2020-05-12 00:25] jmgasper commented on #420
Contest https://www.topcoder.com/challenges/30125135 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:25] jmgasper commented on #420
Contest https://www.topcoder.com/challenges/30125135 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:26] jmgasper commented on #395
Contest https://www.topcoder.com/challenges/30125136 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:26] jmgasper commented on #395
Contest https://www.topcoder.com/challenges/30125136 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:26] jmgasper commented on #386
Contest https://www.topcoder.com/challenges/30125137 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:26] jmgasper commented on #386
Contest https://www.topcoder.com/challenges/30125137 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:27] jmgasper opened #647 "[$40] Undefined legacyId"
@suppermancool - Let's change this a bit for the `View Challenge`, `OR`, and `Direct` links on the table list of challenges.  If the `legacyId` field is `undefined`, instead of just redirecting with `undefined` as the legacyId used, instead let's show an error popup that says:

"The legacy processor has not yet given this challenge a legacy ID.  Please wait a few minutes or contact support@topcode

[2020-05-12 00:29] jmgasper commented on #647
Contest https://www.topcoder.com/challenges/30125138 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:29] jmgasper commented on #647
Contest https://www.topcoder.com/challenges/30125138 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:29] jmgasper commented on #362
Contest https://www.topcoder.com/challenges/30125139 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:29] jmgasper commented on #362
Contest https://www.topcoder.com/challenges/30125139 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:29] jmgasper commented on #349
Contest https://www.topcoder.com/challenges/30125140 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:30] jmgasper commented on #348
Contest https://www.topcoder.com/challenges/30125141 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:31] jmgasper commented on #349
Contest https://www.topcoder.com/challenges/30125140 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:31] #325 closed

[2020-05-12 00:31] #317 closed

[2020-05-12 00:31] jmgasper commented on #348
Contest https://www.topcoder.com/challenges/30125141 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:31] jmgasper commented on #334
Contest https://www.topcoder.com/challenges/30125142 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:31] jmgasper commented on #330
Contest https://www.topcoder.com/challenges/30125143 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:31] jmgasper commented on #328
Contest https://www.topcoder.com/challenges/30125144 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:32] jmgasper commented on #334
Contest https://www.topcoder.com/challenges/30125142 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:32] #293 closed

[2020-05-12 00:32] jmgasper commented on #330
Contest https://www.topcoder.com/challenges/30125143 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:32] jmgasper commented on #328
Contest https://www.topcoder.com/challenges/30125144 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:33] jmgasper commented on #306
Contest https://www.topcoder.com/challenges/30125145 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:33] jmgasper commented on #303
Contest https://www.topcoder.com/challenges/30125146 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:33] jmgasper commented on #306
Contest https://www.topcoder.com/challenges/30125145 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:33] jmgasper commented on #292
Contest https://www.topcoder.com/challenges/30125147 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:34] jmgasper commented on #303
Contest https://www.topcoder.com/challenges/30125146 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 00:34] jmgasper commented on #292
Contest https://www.topcoder.com/challenges/30125147 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 03:37] suppermancool commented on #264
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/648.

[2020-05-12 04:11] suppermancool commented on #647
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/649.

[2020-05-12 04:20] suppermancool commented on #646
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/649.

[2020-05-12 04:49] suppermancool commented on #491
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/649.

[2020-05-12 04:52] suppermancool commented on #420
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/649.

[2020-05-12 05:14] suppermancool commented on #395
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/650.

[2020-05-12 05:30] suppermancool commented on #386
@jmgasper
I can't fix this
we are using https://www.npmjs.com/package/rc-time-picker for this, the picker popup show outside of body.
This library don't allow to show this popup inline or change the container of popup.

[2020-05-12 05:43] suppermancool commented on #349
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/651.

[2020-05-12 05:49] suppermancool commented on #328
@jmgasper i can't reproduce this bug, can you check again?

[2020-05-12 05:55] suppermancool commented on #306
@jmgasper you already assigned me to this task in https://github.com/topcoder-platform/challenge-engine-ui/issues/596

[2020-05-12 06:05] suppermancool commented on #292
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/651.

[2020-05-12 06:07] Jacob15 commented on #627
Jackgid16

On Tue, 12 May 2020, 5:06 am Justin Gasper, <notifications@github.com>
wrote:

[2020-05-12 07:37] #647 closed

[2020-05-12 07:40] jmgasper commented on #647
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125138<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 07:42] jmgasper commented on #646
@suppermancool - Sorry for not being more clear.  Can we only show `Reset Phases` when the list of phase times is shown (Edit is expanded)?  We can move the `Reset Phases` button back to the left.

![Screen Shot 2020-05-12 at 17 42 20](https://user-images.githubusercontent.com/21790/81653186-ef98a980-9477-11ea-8ded-eb69f6db21da.png)

[2020-05-12 07:46] #264 closed

[2020-05-12 07:46] #292 closed

[2020-05-12 07:48] #395 closed

[2020-05-12 07:48] jmgasper commented on #264
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30124943<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 07:48] jmgasper commented on #292
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125147<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 07:48] #420 closed

[2020-05-12 07:48] #491 closed

[2020-05-12 07:50] jmgasper commented on #395
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125136<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 07:51] jmgasper commented on #349
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 07:52] jmgasper commented on #420
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125135<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 07:55] jmgasper commented on #491
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125133<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 08:42] suppermancool commented on #646
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/652.

[2020-05-12 17:24] narekcat commented on #303
@jmgasper - I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/653.

[2020-05-12 18:12] narekcat commented on #330
@jmgasper - I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/654.

[2020-05-12 18:31] narekcat commented on #334
@jmgasper - I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/655.

[2020-05-12 18:59] narekcat commented on #348
@jmgasper - I have fixed this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/656.

[2020-05-12 19:12] narekcat commented on #627
@jmgasper - Can I get my payment ?

[2020-05-12 20:15] narekcat commented on #362
@jmgasper - What exactly must be happened when user clicks on "Add file Type" button. Are there any designs for this. Also there aren't support for file types in beck-end. I hard coded some file types for test and it shows like this:
![add_file_type_issue](https://user-images.githubusercontent.com/11549629/81740872-b29bd980-94ae-11ea-90b8-ba019954d430.png)
Is it ok ? The file types if just list of

[2020-05-12 21:29] jmgasper opened #657 "[$15] Update challenge link"
@suppermancool - The community app has been updated in dev, so the `View Challenge` link can be updated to use the actual challenge ID, *not* the `legacyId`:

https://www.topcoder-dev.com/challenges/632341a9-c6b5-418f-a3d0-ce3f30a2261e

We still need to use the legacy ID for both the `Direct` and `OR` links.  We can remove the legacy ID check from the challenge link (but keep it for Direct and OR)

[2020-05-12 21:31] jmgasper commented on #657
Contest https://www.topcoder.com/challenges/30125378 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 21:31] jmgasper commented on #657
Contest https://www.topcoder.com/challenges/30125378 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-12 23:55] jmgasper commented on #627
@narekcat - Working on it.  Seems like the Topcoder challenge API is having issues, which is a normal occurrence.

[2020-05-13 00:06] #627 closed

[2020-05-13 00:07] jmgasper commented on #627
Contest https://www.topcoder.com/challenges/30125382 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 00:07] jmgasper commented on #627
Contest https://www.topcoder.com/challenges/30125382 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 00:10] jmgasper commented on #627
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125382<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 00:32] #646 closed

[2020-05-13 00:32] #349 closed

[2020-05-13 00:33] jmgasper commented on #646
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125132<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 00:35] jmgasper commented on #349
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125140<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 00:44] #303 closed

[2020-05-13 00:46] jmgasper commented on #303
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125146<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 00:48] #330 closed

[2020-05-13 00:49] jmgasper commented on #330
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125143<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 00:49] jmgasper opened #658 "[$30] Limit prizes"
@suppermancool - Can we limit the prize amounts from 0 to 1000000 please?  That's not the final amount we're going to limit, but that will hold us over until we get official confirmation on how all the prize stuff will be handled, thanks

Note, the official clarification is that 1st place prizes *should* be able to be 0 - we'll need to fix that as well.

[2020-05-13 00:51] jmgasper commented on #658
Contest https://www.topcoder.com/challenges/30125383 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 00:51] jmgasper commented on #658
Contest https://www.topcoder.com/challenges/30125383 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 00:55] #348 closed

[2020-05-13 00:56] jmgasper commented on #348
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125141<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 01:11] jmgasper opened #659 "[$350] Refactor flow"
@suppermancool:

We're going to refactor the flow a bit:

- [x] Remove PATCH requests from all fields (except specification field)
- [x] Update `Launch as Draft` to just be `Save Draft`
- [x] `Save Draft` and `Launch as Active` should PUT full challenge object to the API
- [x] Add new "View Details" page
  - [x] Update table views to link to "View Details" page instead of "Edit" page
  - [x] Ensur

[2020-05-13 01:12] jmgasper commented on #659
Contest https://www.topcoder.com/challenges/30125384 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 01:13] jmgasper commented on #659
Contest https://www.topcoder.com/challenges/30125384 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 02:14] suppermancool commented on #657
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/660.

[2020-05-13 02:41] suppermancool commented on #658
@jmgasper we don't allow `1st place prizes should be able to be 0` or it's expected ?

[2020-05-13 02:45] suppermancool commented on #658
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/661. I allow 1st place prizes should be able to be 0 in MR

[2020-05-13 04:03] #657 closed

[2020-05-13 04:04] jmgasper commented on #657
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125378<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-13 04:05] jmgasper commented on #658
@suppermancool - For limiting the prize to 1000000, can we do that on the text field as well please?

[2020-05-13 08:56] suppermancool commented on #658
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/662.

[2020-05-13 17:22] suppermancool commented on #659
@jmgasper can we keep patch request when select `Timeline template` or `Reset Phases`. After select these field the frontend can't auto calculate new phase value, it have to call patch request and get the correct phase data from backend response

[2020-05-13 18:43] suppermancool commented on #659
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/662.

All done, I keep patch request when select Timeline template or Reset Phases because we can't auto calculate new phases(start/end time) base on timeline template in frontend

[2020-05-14 01:44] jmgasper commented on #659
@suppermancool - This is looking good, thanks.  Two minor things:

1.  When I opened up an existing challenge to view details, edited, and clicked `Save`, there's nothing to indicate that the save worked.  Let's send the user back to the view details screen after `Save` is clicked.

2.  After editing an existing challenge and clicking `Save`, I went back to launch a new challenge, and did that, bu

[2020-05-14 03:36] suppermancool commented on #659
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/663.

[2020-05-14 05:40] jmgasper commented on #659
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-14 07:23] jmgasper commented on #659
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-17 01:16] jmgasper commented on #362
@narekcat - That looks fine for now.

[2020-05-17 01:16] #386 closed

[2020-05-17 01:16] jmgasper commented on #386
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-17 01:17] #306 closed

[2020-05-17 01:17] jmgasper commented on #306
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-17 01:17] #328 closed

[2020-05-17 01:17] jmgasper commented on #328
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-17 01:18] #266 closed

[2020-05-17 10:51] narekcat commented on #362
@jmgasper - Ok, but what exactly must be happened when user clicks on "Add file Type" button ? I can add input field before "Add File Type" button to allow user add new file type. Is it ok ?
![add_file_type_issue_2](https://user-images.githubusercontent.com/11549629/82142397-217d8780-984d-11ea-9c7c-1303760f2395.png)

[2020-05-17 10:53] narekcat commented on #362
@jmgasper - Also I have fond out an issue in this line https://github.com/topcoder-platform/challenge-engine-ui/blob/develop/src/components/ChallengeEditor/index.js#L601. The name of default template must be "Standard Development".

[2020-05-17 16:01] narekcat commented on #362
@jmgasper - I have added the new input field. You can see in this branch https://github.com/narekcat/challenge-engine-ui/tree/issue-362.

[2020-05-18 22:43] jmgasper commented on #362
@narekcat - Ok, thanks.  Can we get this into a pull request please?

[2020-05-19 01:21] narekcat commented on #362
@jmgasper - Yes, https://github.com/topcoder-platform/challenge-engine-ui/pull/664

[2020-05-19 11:15] jmgasper commented on #659
@suppermancool - Something got screwed up with the billing accounts.  Still waiting on TC to fix things - should be done soon.  Sorry for the delay.

[2020-05-19 22:50] jmgasper commented on #658
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-19 22:52] #466 closed

[2020-05-19 22:52] jmgasper commented on #466
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-19 22:56] jmgasper commented on #362
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-21 06:20] jmgasper commented on #362
@narekcat - I'm working with Topcoder on some billing account issues.  Hopefully we'll get those resolved soon.

[2020-05-21 06:23] narekcat commented on #362
@jmgasper - Okay. Will there be new issues ?

[2020-05-21 06:24] jmgasper commented on #362
@narekcat - I'm not sure.

[2020-05-21 06:24] narekcat commented on #362
@jmgasper - Okay.

[2020-05-25 22:21] jmgasper commented on #658
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-26 22:40] rootelement opened #665 "WIP Filter Timeline Templates based on Selected Type"
use this API call to populate the Timeline Templates dropdown:
`/v5/challenge-timelines?typeId=<uuid>`

[2020-05-28 19:51] acshields opened #666 "Standard Design "Edit" Event Sequence Out of Order"
**Describe the bug**
When "Edit" is clicked for the Standard Design template, the phase events appear out of order.

**To Reproduce / Actual Behavior**
Steps to reproduce the behavior:
1. Go to 'https://challenges.topcoder-dev.com/projects/6640/challenges/32c3fd5f-3a3b-470e-a463-647899504b24/edit'
2. Select 'Standard Design' timeline template
3. Click on 'Edit'
4. See error

**Expected behavior**

[2020-05-29 17:58] rootelement opened #667 "[$500] Manage Bug Hunt"
Manage and triage bug hunt issues.

[2020-05-29 18:00] jmgasper commented on #667
Contest https://www.topcoder.com/challenges/30127139 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-05-29 18:00] jmgasper commented on #667
Contest https://www.topcoder.com/challenges/30127139 has been updated - it has been assigned to Ghostar.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-06-01 11:55] vikasrohit commented on #659
@jmgasper can we close this one? Do you think we need QA for this issue?

[2020-06-01 12:17] vikasrohit opened #668 "Improve Edit Challenge Schedule link"
It is not intuitive as of now when we click on Edit link against the `Challenge Schedule` section. Because of caret icon it is giving experience of accordion which is okay but it can be avoided to reduce the confusion of what actually going to happen when is caret is up or down.
@acshields I would propose to use a simple Edit Timeline button (which may open the timeline editor in popup or we can h

[2020-06-01 12:47] vikasrohit opened #669 "Project search improvement"
Currently project search is not using the project api's search capabilities e.g. any thing that goes in double quotes, should result in unique project if user is searching for a project with exact project title.

[2020-06-01 12:56] vikasrohit opened #670 "Challenges of a project are not listed while the challenge can be edited by deep link"
The challenges for the selected project are not listed even though we can edit a challenge of the same project if we have the deep link.

**Test Project**: 6640 "Test Connect app 2.4.4 Web UI testings"
**Challenge**: 32c3fd5f-3a3b-470e-a463-647899504b24

@acshields what do you suggest? What is the expectation here? Actual reason of project not being listed on list page is that it is filtering chal

[2020-06-01 14:44] vikasrohit commented on #666
Should be fixed in dev now.

[2020-06-01 19:42] jmgasper commented on #658
This has been paid

[2020-06-01 19:42] #658 closed

[2020-06-01 19:43] jmgasper commented on #658
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-06-01 19:43] jmgasper commented on #466
This has been paid

[2020-06-01 19:43] jmgasper commented on #386
This has been paid

[2020-06-01 19:43] jmgasper commented on #362
This has been paid

[2020-06-01 19:43] #362 closed

[2020-06-01 19:43] jmgasper commented on #362
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-06-01 19:43] jmgasper commented on #334
This has been paid

[2020-06-01 19:43] #334 closed

[2020-06-01 19:43] jmgasper commented on #334
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-06-01 19:43] jmgasper commented on #328
This has been paid

[2020-06-01 19:43] jmgasper commented on #306
This has been paid

[2020-06-01 19:44] jmgasper commented on #236
This has been paid

[2020-06-01 19:44] #236 closed

[2020-06-01 19:44] jmgasper commented on #236
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-06-01 19:44] jmgasper commented on #659
This has been paid

[2020-06-01 19:44] #659 closed

[2020-06-01 19:44] jmgasper commented on #659
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-06-02 06:09] narekcat commented on #362
Hi @jmgasper . I have received payment for issues https://github.com/topcoder-platform/challenge-engine-ui/issues/362 and https://github.com/topcoder-platform/challenge-engine-ui/issues/334 (https://www.topcoder.com/challenges/30126586),  but it less then total prize of two issues.

[2020-06-02 06:21] jmgasper commented on #362
@narekcat - Sorry about that, on it.

[2020-06-02 20:04] acshields opened #672 "Type Selection Options"
Re: conversation with James, the "Type" selections should be narrowed down to the following, regardless of track:

- Challenge

- First2Finish

- Assigned Task

However, I am still seeing a long list of challenge "types" available for selection in the dropdown menu.

[2020-06-02 20:05] acshields opened #673 "Assigned Task Option"
**Current Version:** There is no workflow for Assigned Task.

**Desired Updates:**
- On Screen 1 of the challenge set-up workflow, a user should be able to select the following challenge types:
1. Challenge
2. First 2 Finish Task
3. Assigned Task
- On Screen 2 of the challenge set-up workflow, if a user has chosen Assigned Task they should see a question above the Copilot question, which functions

[2020-06-02 20:47] acshields commented on #670
@vikasrohit re: our conversation today.

I think this is an important issue to resolve immediately after production release.

Initial things we will need to think through:

- On any project, all Topcoder or Copilot users who are joined to a Connect project should be able to see all created work (challenges/F2Fs/tasks) for the project.

- In the future, certain projects will also need to provide th

[2020-06-02 20:52] acshields commented on #669
I do think this is an issue that needs to get resolved, but may require further conversation. Re: our conversation this morning, I agree with you that Connect should provide the project search/navigation capabilities and not the Work Manager.

If we pursue the Connect-embedded Work Manager screens for challenge set-up screens then I think long-term the project search functionality within the Work

[2020-06-02 20:54] acshields commented on #668
@vikasrohit - this suggestion is in-line with the new UI designs I am partnering with Issa on. If the change is as simple as replacing the "edit" link with a button that says, "Edit Timeline," we can make that change now.

[2020-06-02 21:02] acshields opened #674 "Enable Chameleon in Production"
Immediately after the Work Manager is moved into production, we need to ensure that Chameleon is set-up in prod so that I can create tooltips & training content workflows for users.

Install this code snippet in the application:

<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Seg

[2020-06-02 21:07] acshields commented on #597
@vikasrohit @mtwomey - can we test this to see if we can reproduce the issue? If it is still valid, this would be an item that we may need to fix before prod-release.

[2020-06-02 21:10] acshields commented on #573
@rootelement - chiming in late here, but what was the conclusion on this issue? We accept the limitation, or does it need to be fixed? Just trying to lay out some iterative improvement plans w/ Vikas right now.

[2020-06-02 21:12] acshields commented on #567
@vikasrohit @mtwomey - What is your opinion on this issue? In my perspective, if a user is removed from the project in Connect they should A) not see the project in the Work Manager app and B) not be able to set-up/launch challenges against it.

Vikas, can you test this out & let me know if this still looks like an issue to you?

[2020-06-02 21:18] acshields commented on #565
@vikasrohit - Can you test this out to see if you get the same behavior? If so, what would be your estimate on level of effort to correct? I am going to put this in the pre-prod release fixes for now.

[2020-06-02 21:19] acshields commented on #558
@vikasrohit - can you test this out as well? If still valid, then this will need to be addressed soon.

[2020-06-02 21:23] acshields commented on #539
@vikasrohit - only Copilots should be displayed. Do you agree?

[2020-06-02 22:04] acshields opened #675 "Community Reviewer Fee Input"
When Community Reviewer is selected, a field should populate where a user can input the Community Reviewers Fee. This field should be displayed beneath the Copilot Fee field.

[2020-06-02 22:31] acshields opened #676 "When No Copilot Is Selected, Hide Copilot Fee Field"
If a user does not select a Copilot, then the Copilot Fee field should be hidden.

[2020-06-03 01:13] mtwomey commented on #673
This should not block release (as you said @acshields). I suspect  this could consume time.

[2020-06-03 08:31] vikasrohit commented on #597
Yes, I can reproduce this and it is something which I described in our call as well. Essentially it is filtering out the challenge you create with some unknown access logic. This logic is not related to the project.
I am not able to see challenge created by others in a project where I have the access. I am not able  to see the challenge created by me in appropriate status (Active, New, etc).

[2020-06-03 08:59] vikasrohit commented on #672
@acshields we need to discuss this before implementing because there is no corresponding legacy type for `Challenge` and I have no idea how things would work without a legacy type mapped to these new types.

[2020-06-03 09:00] vikasrohit commented on #673
Yes, it would definitely consume time.

[2020-06-03 09:02] vikasrohit commented on #668
Yes, my intention is to simple text change and remove the caret icon to avoid confusion. However, on a separate note, once user clicks on the edit button, right now there is no way to persist the changes that user made. In fact it does not update the Gantt chart view as well. It would require logging a separate issue (if not already) for handling the persistence of the changed phases/timeline.

[2020-06-03 10:55] vikasrohit commented on #251
Closing as we have separate tracker issue #665  associated with appropriate milestone.

[2020-06-03 10:55] #251 closed

[2020-06-03 12:01] vikasrohit commented on #597
Possible reason https://github.com/topcoder-platform/challenge-api/issues/147

[2020-06-03 13:02] vikasrohit commented on #597
@ lakshmiathreya can we get it retested? I have deployed a work around for it on dev.

[2020-06-03 15:13] acshields commented on #668
Oh man, good catch. I hadn't observed that. That's a definite issue. Will log now and add to this milestone.

[2020-06-03 15:22] acshields opened #678 "Timeline Edits Not Persisting"
Observed Behavior: When a user edits a timeline template in the Work Manager, the changes are not stored and are not reflected on the timeline Gantt chart.

Expected Behavior: When a user edits a timeline template, the changes should be stored and should be reflected on the timeline Gantt chart.

[2020-06-03 15:26] acshields commented on #672
Yep - we will need to pull in @rootelement to discuss. I believe there was some efforts underway with Thomas in the past with this issue, but I don't know where that is at.

[2020-06-03 15:27] acshields commented on #673
Thank you for your feedback @mtwomey @vikasrohit - I will move this to V2: MVP milestone (after production-release)

[2020-06-03 15:53] drasticdpk commented on #597
@vikasrohit unfortunately I am unable to create challenge, here is the reference :
https://monosnap.com/file/keheFUOORyVSSJtyZJXA0mFigPZwhB

[2020-06-04 12:16] vikasrohit commented on #669
I got it fixed with my ramp up investigations with the app.

[2020-06-04 12:16] #669 closed

[2020-06-04 12:17] vikasrohit commented on #670
I think it is related to the #597

[2020-06-04 12:18] vikasrohit commented on #597
@drasticdpk are you able to test it now?

[2020-06-04 12:19] vikasrohit commented on #670
For now, I have enabled listing of all challenges of the project without filtering via resources in challenges api as it seems to be a bug with challenge api topcoder-platform/challenge-api#147

[2020-06-04 12:19] #670 closed

[2020-06-04 12:20] vikasrohit commented on #678
Yep, it is a known issue. Do you think we need it for the v1?

[2020-06-04 12:30] vikasrohit commented on #619
The error should be fixed now. Though the issue with project api is not yet fixed. I have the changed the way we are calling the projects api for now.

@jmgasper can you please give some examples of possible attack? It would be great if you can some security details in to the issue https://github.com/topcoder-platform/tc-project-service/issues/572

[2020-06-04 12:31] vikasrohit commented on #539
I think we might need to allow managers in the list because there are challenges where managers are acting as copilot for certain challenges e.g. I acted as copilot for some of my challenges.

[2020-06-04 12:38] vikasrohit commented on #228
Can we close this @jmgasper?

[2020-06-04 12:39] vikasrohit commented on #242
Can we close it @jmgasper?

[2020-06-04 17:12] drasticdpk commented on #597
Sorry @vikasrohit , still unable to create challenge. correct me if i missed anything from my end.
![image](https://user-images.githubusercontent.com/25297859/83789538-97d81180-a6b6-11ea-9ebd-3b149b551a5a.png)

[2020-06-05 09:22] vikasrohit opened #679 "Adapt for terms data model change"
Terms data model is now updated to have following schema:
https://github.com/topcoder-platform/challenge-api/blob/b989fe78e1aa3fc05686e2fe6bd8376576d8dad0/src/services/ChallengeService.js#L541

We need to adapt the UI to prepare the parameter in the same format. However, how we are going to map the role with terms? Terms api only return terms with no association to roles. And when challenge creati

[2020-06-05 10:13] drasticdpk commented on #597
Verified on Dev Env cc @vikasrohit @lakshmiathreya
https://monosnap.com/file/pkXh2DiClFb6L5hrKHcc1x80eiZ0VT

[2020-06-05 10:47] drasticdpk opened #680 "Multiple Challenges are creating"
**To Reproduce / Actual Behavior**

1. Login as Ghostar
2. In **Test tass Project Created project**, click button Launch New
3. Choose **QA** Track
4. Choose type **Bug Hunt**
5. Fill challenge Name as **CM Bug hunt**
6. Make multiple click on create challenge button
7. Go to challenge listing page and observer at New tab. There are multiple challenges are created.

**Expected behavior**
There sho

[2020-06-05 12:03] vikasrohit opened #681 "Auto Saving Inconsistencies"
With https://github.com/topcoder-platform/challenge-engine-ui/issues/659 application was supposed to remove support of auto saving for all fields except the specification field. However, it seems there are still few places where it is auto saving the challenge. Trying to have a list of what is saved automatically and what not.
Fields which are still auto saved:

- Specification
- Timeline template

[2020-06-05 12:05] vikasrohit opened #682 "Console error when rendering the challenge timeline"
[code]
This error is appearing in console when the timeline is rendered on the page.

[2020-06-05 12:08] vikasrohit commented on #682
It seems this issue is because of incorrect usage of `setState` method [here](https://github.com/topcoder-platform/challenge-engine-ui/pull/636/files#diff-2aeb73ee117eebf63b62dcf0f3c9c744R252). I have removed the method `renderTimelineAgain` to get rid of the error and verified that original [issue](https://github.com/topcoder-platform/challenge-engine-ui/issues/448) because of which this change w

[2020-06-05 12:14] vikasrohit commented on #682
@drasticdpk can you please verify that the original [issue](https://github.com/topcoder-platform/challenge-engine-ui/issues/448) is not reproducible after this change? I mean there should not be a regression for that issue with this fix. Please note some steps of the original issue are changed as auto saving is disabled (via https://github.com/topcoder-platform/challenge-engine-ui/issues/659) for

[2020-06-05 12:20] vikasrohit commented on #682
We can close this issue once verified, no need to keep it open for retesting.

[2020-06-05 13:16] drasticdpk commented on #682
Verified accordingly.
reference : https://monosnap.com/file/Xi2zmeaNjwcCFPoer4iDOL8eIrh7V7

But here after editing the challenge, always redirected to "**Marathon Match"**, please confirm this is due to current change or do I suppose to logged on separate issue.
URL : https://challenges.topcoder-dev.com/projects/16529/challenges/0f6f2ebb-6fab-453e-a513-a369a744515e/view
![image](https://user-image

[2020-06-08 11:30] vikasrohit opened #683 "Status field is not present when editing a challenge"
Status is present in read only view but not in edit challenge screen.

<img width="1156" alt="Screen Shot 2020-06-09 at 8 26 48 PM" src="https://user-images.githubusercontent.com/2417632/84163891-95e3c900-aa8f-11ea-99ad-6514f9f826e5.png">

[2020-06-08 11:44] vikasrohit commented on #565
@drasticdpk can you please help me in reproducing this one? I tried it on local and dev env both, but it is not happening for me as of now. It would be great if you can try to reproduce it and refine the steps to reproduce, may be I am missing something here.

[2020-06-08 11:59] vikasrohit commented on #668
Edited timeline is saved when user hits the global save button at the bottom.

[2020-06-08 12:00] vikasrohit commented on #666
@drasticdpk it can be verified on dev.

[2020-06-08 12:03] vikasrohit commented on #678
@acshields timeline is saved when user hits the global Save button as I described in https://github.com/topcoder-platform/challenge-engine-ui/issues/668#issuecomment-640559234. So, it is mainly we need to reflect the updates in the Gantt chart as well and stop reseting the phases to server immediately after `Reset Phases` button is clicked.

[2020-06-08 12:26] vikasrohit commented on #682
I double checked by checking out the git commit before my changes for this issue and it seems to be issue there as well i.e. I am seeing the `Marathan Match` for timeline template even without the changes for this issue. Please log a separate issue with bit more details there. I can see that `Task` timeline template is correctly shown when I created a challenge with `Code` type e.g. projects/16573

[2020-06-08 12:29] vikasrohit commented on #680
@drasticdpk  downgrading priority for this issue as it is being release to internal users only and we don't expect them to intentionally make multiple clicks on Create button.  @acshields I have not assigned any milestone for it, please move to appropriate milestone as per needs.

[2020-06-08 13:00] vikasrohit opened #684 "Need Back button on challenge edit screen"
As of now, user has to manipulate the URL to go back to the all challenges page of the selected project when user is on challenge edit.

[2020-06-08 13:14] drasticdpk commented on #666
Verified on Dev Env:
However in given requirement we have 11 stage, but current screen we have 12 stage. Please verify **review** stage is required or not? cc  @acshields .
![image](https://user-images.githubusercontent.com/25297859/84034103-9b6edf80-a9b9-11ea-8c62-b28d6b90c7c7.png)

[2020-06-08 13:45] vikasrohit commented on #666
I think it is okay to have the phase. May the @acshields missed while preparing that list, the issue was about the order of the phases. If there is any missing phase or extra phase, we might log it in future as need arises.

[2020-06-08 13:58] vikasrohit commented on #473
Closing for now as the original flow is not possible now because auto update is disabled for all fields except the specifications.

[2020-06-08 13:58] #473 closed

[2020-06-08 14:55] drasticdpk commented on #565
@vikasrohit  Here is my finding :
To meet the above scenario, we need project which has at least 2 member for copilot Role.
For this I have taken this [project](https://challenges.topcoder-dev.com/projects/16541/challenges) with **jcori** & **ghoster** copilot role.
For me, For track Development, it is working as expected.
![image](https://user-images.githubusercontent.com/25297859/84044504-649fc6

[2020-06-08 16:11] drasticdpk commented on #682
Ok noted @vikasrohit

[2020-06-08 16:34] drasticdpk opened #685 "Always taking Marathon Match as Timeline Template while updating challenge."
1. Create new challenge {Track : Development, Type : Code}
2. Timeline Template : Task
3. Go to edit and Update some other information ( eg. Challenge Schedule)
4. Go to challenge details and observe Timeline Template.

Actual Result : Timeline Template has updated to Marathon Match
Expected Result : There should be same Timeline Template which was selected by User not Marathon Match
Reference vid

[2020-06-09 11:18] vikasrohit commented on #685
@acshields for now I am moving it v2 of MVP, please feel free to relocate it as per needs.

[2020-06-09 11:37] ThomasKranitsas opened #686 "New challenge page keeps loading forever"
I'm trying to create a challenge using the following link https://challenges.topcoder-dev.com/projects/16531/challenges/new but the page keeps loading forever without any errors in the console.

I'm logged in as `jcori` but also tried with the `TonyJ` account.

<img width="1792" alt="Screenshot 2020-06-09 at 2 35 40 PM" src="https://user-images.githubusercontent.com/4612921/84143018-826c3a00-aa5e-

[2020-06-09 12:57] vikasrohit opened #687 "New challenge screen is loading for ever"
It is never stopping loading.

![image (1)](https://user-images.githubusercontent.com/2417632/84149787-a2135a80-aa7e-11ea-904b-d33a208e76f9.png)

[2020-06-09 12:59] vikasrohit commented on #687
reason is that `v5/chalenge-phases` endpoint returning empty phases array now while it is still returning the specific phases by id. It seems like something paging related has changed in the api which caused explicit specification of paging params. So, passing `page` and `perPage` params, fixes the issue.

[2020-06-09 13:04] vikasrohit commented on #686
@ThomasKranitsas Yep, @drasticdpk raised the issue few hours ago. I have logged it here #687. fyi, just applied a fix for it, should be on dev in 15 minutes.

[2020-06-09 13:26] vikasrohit commented on #565
Thanks @drasticdpk

I think the main observation here is that original issue is not reproducible any more. The issue with design track seems to be already logged #473. Even if it is not the same issue, I think design track issue is not letting us to follow the steps for the current issue and we are not able to reproduce the current issue with other tracks. So, I would like to close this one and fi

[2020-06-09 14:06] drasticdpk commented on #565
Ok noted @vikasrohit

[2020-06-09 14:06] #565 closed

[2020-06-09 14:09] drasticdpk commented on #687
Verified on Dev env.
![image](https://user-images.githubusercontent.com/25297859/84157845-ead11080-aa8a-11ea-945e-50a30a82ee83.png)

[2020-06-09 14:24] drasticdpk commented on #684
Verified on Dev Env
![image](https://user-images.githubusercontent.com/25297859/84159748-210f8f80-aa8d-11ea-8906-058bb6bc1400.png)

[2020-06-09 14:32] drasticdpk commented on #683
@vikasrohit I will highly appreciate if you upload some reference image too. It will easy for understand and verification the issue.
![image](https://user-images.githubusercontent.com/25297859/84160324-c460a480-aa8d-11ea-9a42-8c7c778dd293.png)

Note here we can see some field are unable to load, it will crate separate issue for them (eg. Type)

[2020-06-09 15:02] drasticdpk commented on #679
@vikasrohit we are getting below issue while creating the new challenge.
reference
![image](https://user-images.githubusercontent.com/25297859/84164485-4a7eea00-aa92-11ea-943e-ca95daad78d8.png)

[2020-06-09 15:36] drasticdpk opened #688 "Timeline template missing on Challenge Edit window."
1. Go to Challenge edit window and observe the Timeline template field.
![image](https://user-images.githubusercontent.com/25297859/84168547-40131f00-aa97-11ea-95bc-935476655c16.png)

[2020-06-09 15:47] vikasrohit commented on #688
Fixed and deployed to dev.

[2020-06-09 16:16] ThomasKranitsas opened #689 "Saving a challenge sets the legacyId to null"
I just tried to edit https://challenges.topcoder-dev.com/projects/16531/challenges/14cecae1-2646-43be-8804-d9f4cd668f05/edit and it set the `legacyId` to `null`.

The `legacyId` was previously populated by the legacy processor

cc @rootelement

[2020-06-10 04:17] drasticdpk commented on #688
Verified on Dev Env
![image](https://user-images.githubusercontent.com/25297859/84226460-84d3a000-ab01-11ea-9013-b4939406cbb2.png)

[2020-06-10 04:20] drasticdpk commented on #686
With reference to above discussion , I am closing this issue , Please let us know for anythig.

[2020-06-10 04:20] #686 closed

[2020-06-10 09:19] vikasrohit commented on #679
To close the loop on the last issue faced in https://github.com/topcoder-platform/challenge-engine-ui/issues/679#issuecomment-641355352, it seems it was a temporary issue, not occurring any more.

[2020-06-10 09:22] drasticdpk commented on #679
Now it is working as expected. And closing it.

[2020-06-10 09:22] #679 closed

[2020-06-10 11:03] vikasrohit commented on #678
@acshields I have applied a fix for it. Now it should be properly updating the timeline in the gantt chart as well when user is updating the timeline via Edit mode.

@drasticdpk this should be in dev in 15 minutes. As testing guide, we should also verify that there is no regression for https://github.com/topcoder-platform/challenge-engine-ui/issues/218 because I have remove [some code](https://git

[2020-06-11 04:08] drasticdpk commented on #665
Verified on Dev env.
Reference :
![image](https://user-images.githubusercontent.com/25297859/84343756-c67b4e00-abc8-11ea-881c-a8c55106eb4c.png)
![image](https://user-images.githubusercontent.com/25297859/84343983-4ef9ee80-abc9-11ea-8e9a-fed17e52f91f.png)

[2020-06-11 04:34] drasticdpk commented on #685
Verified on Dev Env
![image](https://user-images.githubusercontent.com/25297859/84345361-e44ab200-abcc-11ea-947f-cb4d5a9318ba.png)
Time -line template is loading based on selected challenge track type.
https://api.topcoder-dev.com/v5/challenge-timelines?page=1&perPage=100

[2020-06-11 05:40] drasticdpk commented on #678
Verified on Dev env
![image](https://user-images.githubusercontent.com/25297859/84349025-2b897080-abd6-11ea-93f8-5ca3a85ea875.png)
![image](https://user-images.githubusercontent.com/25297859/84349072-45c34e80-abd6-11ea-986d-85a3d6baa14a.png)

[2020-06-15 16:55] ThomasKranitsas opened #690 "No projects shown in the landing page"
1. Login as `jcori`
2. Go to https://challenges.topcoder-dev.com/
3. Observe

### Issue / Actual behavior
The page says `No project selected. Select one below` but no projects show up. I need to toggle the `My Projects` checkbox off and then back on to see the projects.

### Expected behavior

The list of projects should show up

[2020-06-15 16:59] ThomasKranitsas opened #691 "Tasks should only have 1 prize"
The challenges of type `TASK` should only have 1 prize.
The `Add new prize` button should be hidden if the challenge is a `TASK`

[2020-06-15 17:03] ThomasKranitsas opened #692 "No way to set the Task submitter resource"
There should be a way to set the `Submitter` resource for a challenge of type `TASK`

[2020-06-15 17:04] ThomasKranitsas opened #693 "No way to close a challenge of type TASK"
There should be a way to manually close a challenge of type `TASK`

[2020-06-15 17:05] ThomasKranitsas commented on #692
For example, a search field should show up and it should allow the copilot to search members using their handles.

It should also allow changing the Submitter (removing the old one and adding a new one)

[2020-06-15 17:20] ThomasKranitsas opened #694 "Prizes are not being passed correctly"
1. Login as `jcori`
2. Create a new challenge of type Task
3. Set all required fields and save as Draft
4. Refresh

### Actual behavior
The prize is reset to `0`

### Expected behavior
The prize should remain as the one I set earlier ($50 in my case)

As you can see here https://api.topcoder-dev.com/v5/challenges/d34684eb-cdc9-43c6-a2b4-435b700f1101 the prize is `0` even though I had set it to 50.

[2020-06-16 08:41] drasticdpk opened #695 "Invalid Message on challenge confirmation window"
**To Reproduce / Actual Behavior**

1. Go to Add/Edit Challenge window.
  User : TonyJ
  Reference : https://challenges.topcoder-dev.com/projects/16541/challenges/a0fb0aa9-eb9c-48f4-9ba7-b2b9dec3a512/edit
2. Click on 'Launch as Active' button.
3. Observe pop up message.

**Expected behavior**
Message should be "Do you want to launch Challenge "Challenge Name"?"

**Screenshots or Video**
![image](h

[2020-06-16 09:46] drasticdpk opened #696 "The label and placeholder text is not identical."
**To Reproduce / Actual Behavior**

1. Go to 'https://challenges.topcoder-dev.com/'
2. Observe the label and placeholder of project switch/search box.

**Expected behavior**
The label and placeholder text of  should be identical i.e either switch projects or search projects.

**Screenshots or Video**
![image](https://user-images.githubusercontent.com/25297859/84756822-07b59880-afe3-11ea-85ab-dc33b

[2020-06-16 10:23] drasticdpk opened #697 "Pagination Size is too high for challenge listing page."
**To Reproduce / Actual Behavior**

1. Go to 'https://challenges.topcoder-dev.com/projects/8405/challenges'
2. Observe Challenge Listing Grid (Need to do vertical scroll to see the all challenges.)
Now it is taking 50 challenges per page, which is very high in this scenario.

**Expected behavior**
Suggested Pagination Size 10/20 per page

**Screenshots or Video**
[Pagination.pdf](https://github.co

[2020-06-16 10:46] drasticdpk opened #698 "Left/Right space of text is taking by system."
**To Reproduce / Actual Behavior**

1. Create new challenge 'https://challenges.topcoder-dev.com/projects/8405/challenges/new'
2. Give Challenge name as  '                  withLeftRightWhiteSpace                '
3. Click Create Challenge button.
4. Observe the Challenge Name. left/right space is appear with challenge name

**Expected behavior**
All input text should be trim before sending to ser

[2020-06-16 14:48] rootelement commented on #667
paid directly

[2020-06-16 14:48] #667 closed

[2020-06-16 14:48] jmgasper commented on #667
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-06-16 16:25] drasticdpk commented on #694
Hi @ThomasKranitsas ,
1. I am unable to replicate issue  as mentioned above steps. May I know how you did Refresh?
2. Response format also different for prizeSets, please confirm.
![image](https://user-images.githubusercontent.com/25297859/84800754-f6d64880-b01d-11ea-8231-e70c5fa6119d.png)

Reference API :https://api.topcoder-dev.com/v5/challenges/a6467f63-b0d0-4a2e-9455-27ea7bcd83ea

[2020-06-17 04:02] drasticdpk opened #699 "Some label is not in consistent way."
**To Reproduce / Actual Behavior**

1. Go to  Challenge Add/Edit page.
reference : https://challenges.topcoder-dev.com/projects/16541/challenges/a6467f63-b0d0-4a2e-9455-27ea7bcd83ea/edit
2. Observe the label. Some word has not capitalize the first letter. eg Timeline template.

**Expected behavior**
All label of application should be consistent way. i.e capitalize the first letter of each word.

*

[2020-06-17 05:22] vikasrohit commented on #690
As we don't have any formal features planned for the application yet for the initial release, I optimized the application for first use case of topcoder employees using the application to create challenges. And to do that, I move the list of projects from the left panel to the central panel because it was becoming very difficult for me to locate my project from the left panel.
Further, it does not

[2020-06-17 05:25] vikasrohit commented on #691
@ThomasKranitsas does any thing fails in the processors if we have more than one prizes for TASK?
I think for the first release we can still have it as is because we can expect first users (tc employees) to know about this fact and practically they won't add more than one challenge prize for a TASK.

[2020-06-17 05:27] vikasrohit commented on #691
Increasing the priority to P1 assuming that it is causing a failure in legacy processor and which in turn causing legacy project not being created.

[2020-06-17 05:29] vikasrohit commented on #692
Yep, we have it logged already #673. Marking it as duplicate, @ThomasKranitsas please feel free to reopen if I miss understood the issue.

[2020-06-17 05:29] #692 closed

[2020-06-17 05:31] vikasrohit commented on #693
Do we have option to close any other type of challenge manually as of now?

@acshields fyi, moving it to `V2:MVP` for now. Please prioritize as per needs. I think this would be already in your list of features after pilot release.

[2020-06-17 05:34] vikasrohit commented on #694
Thanks @drasticdpk for being proactive here and for your investigation.

@ThomasKranitsas let us know what we are missing here to reproduce the issue.

[2020-06-17 05:43] vikasrohit commented on #694
Keeping it in first release milestone assuming that failing this issue is causing issue in creating legacy challenge in legacy processor. @ThomasKranitsas correct me if I am wrong here about its impact on legacy processor.

[2020-06-17 05:57] drasticdpk opened #700 "Popup message or toaster is missing to notify user if there is any server side error"
**Pre Condition**
Challenge API should not working as expected or it has to some error on API.

**To Reproduce / Actual Behavior**

1. Go to  challenge Add/Edit window.
2. Fill the required information.
3. Click on `Launch as Active` button then `Confirm` button.
4. Observe Server Side Error.

**Expected behavior**
System should notify to user with informative message if there is any server side e

[2020-06-17 06:03] vikasrohit commented on #699
@drasticdpk hold on such UI issues for now as there is going to be proper designing of the app and we might not have anything from current interface.

[2020-06-17 06:27] drasticdpk opened #701 "Unable to search the challenges"
**To Reproduce / Actual Behavior**
1. Go to 'https://challenges.topcoder-dev.com/projects/16541/challenges'
2. Click on 'Draft Tab'
3. Go to search box and try to type text `Challeng`

**Actual behavior**
- If I make some delay to type text, system will automatically start search function.
- No records found for search work `Challeng`
- Cursor is lost from the search box

**Expected behavior**
- U

[2020-06-17 06:28] drasticdpk commented on #699
ok noted @vikasrohit

[2020-06-17 08:52] vikasrohit commented on #690
@ThomasKranitsas @acshields I just reintroduced the project listing on page for now because it seems like users are expecting the project listing to be part of CM which ideally should not be. We can decide later if we need to keep it or not.

[2020-06-17 09:24] ThomasKranitsas commented on #691
@vikasrohit the processor does not fail. It's just invalid UX. We can set it back to `P2`

[2020-06-17 09:29] ThomasKranitsas commented on #693
Well, the API does support marking phases as open/not open (using the `isOpen` boolean) and also allows setting the `challenge.status` property. (eg `Draft`, `Active`, `Completed` etc).

Even the current app (OR) allows closing any type of challenge manually (eg you can cancel a challenge with status `Canceled - Client Request` etc)

I'm not entirely sure how this is supposed to work on the v5 eco

[2020-06-17 09:37] ThomasKranitsas commented on #690
It seems to be working fine now. We can close this issue.

[2020-06-17 10:02] ThomasKranitsas commented on #694
As you can see here http://api.topcoder-dev.com/v5/challenges/afb220ff-3cbf-4c96-861a-638206919473 the CM adds a default prize of $0 for a newly created challenge. I haven't edited anything there. The CM should not add a default prize. It should create the challenge with only the projectId, name, typeId and the track. It should not add default values for anything else.

cc @rootelement

[2020-06-17 11:58] vikasrohit commented on #695
@drasticdpk `Challenge` in that message is type of the challenge that is why it seems confusing but I think we can live with it for some time till we have all challenge types settled down.

[2020-06-17 12:07] vikasrohit commented on #696
@drasticdpk the inside text is placeholder which does not need to be in same case as we have for label because placeholder is meant to be descriptive text around the field. However, I am updating the placeholder text to `Search projects (Enter project id or project title in double quotes or any text from project)` to be much more descriptive for now.

[2020-06-17 13:57] vikasrohit commented on #693
Agreed. The reason, I am putting it in after first release is that it is not our primary use case for the first release as user can close the task from legacy for the first few releases.

[2020-06-17 13:58] vikasrohit commented on #694
Okay, I guess then we need to update the original issue description to say about problem with default values of prizes field, right @ThomasKranitsas? Do you think it is needed to be fixed in first release?

[2020-06-17 18:02] drasticdpk commented on #690
Verified on dev env.
Yes it is working fine as expected.
Note : Better not call challenge api if we are not binding that data in initial page load event.
Correct me if i am wrong and let me know it has to create new issue. cc @vikasrohit
![image](https://user-images.githubusercontent.com/25297859/84932642-5141d880-b0f4-11ea-83cf-569c3760c8c2.png)

[2020-06-17 18:24] drasticdpk opened #702 "All projects are not listing"
**To Reproduce / Actual Behavior**

1. Go to 'https://challenges.topcoder-dev.com/'
2. Go to project list and observe. Only 20 project are listed.

**Expected behavior**
All project should be loaded (with either pagination or page scroll/load more button etc)

**Screenshots or Video**
![image](https://user-images.githubusercontent.com/25297859/84934491-1a20f680-b0f7-11ea-89b7-fedbaac9b917.png)
![i

[2020-06-18 07:49] vikasrohit commented on #690
No need for separate issue. I think we can ignore the extra api call for now.

[2020-06-18 07:49] #690 closed

[2020-06-18 07:53] vikasrohit commented on #702
@drasticdpk to give you some more context, the app is not meant to be project manager and it is mostly used in tandem with Connect (which is in fact a project manager app). This app is assumed to be working always in context of a project and we are providing list of projects, on page load, as a starting place for new users and we can not add every feature that we need for searching/navigating proj

[2020-06-18 07:53] #702 closed

[2020-06-18 08:36] vikasrohit commented on #701
This might not be a bug rather, search does not have feature of searching of partial strings. So, it would be a nice to have but as long as your challenge is coming in results when you type full word e.g. `Challenge`, we should be good for now. We might keep it as future enhancement though.

[2020-06-18 10:53] drasticdpk commented on #696
Verified in Dev Env :
Reference Project :
https://challenges.topcoder-dev.com/projects/16573/challenges
https://connect.topcoder-dev.com/projects/16573/scope
![image](https://user-images.githubusercontent.com/25297859/85011932-fb1b7680-b181-11ea-9c90-be3a0b235541.png)

[2020-06-19 04:32] vikasrohit commented on #694
@ThomasKranitsas Should we keep the prizeSets to null or just not pass the prizeSets at all?

[2020-06-19 07:22] drasticdpk opened #703 "My Project feature is not used for Copilot Role"
**Pre Condition**
User Role should be Copilot
**To Reproduce / Actual Behavior**

1. Go to 'https://challenges.topcoder-dev.com/'
2. Checked and Unchecked  My Projects
3. Observe the result. There is no difference on Result for My Projects/ All Project

**Expected behavior**
For copilot role, My project Check box should be hide.

**Screenshots or Video**
![image](https://user-images.githubusercont

[2020-06-19 08:38] drasticdpk opened #704 "Challenge status in Challenge Listing Grid"
**To Reproduce / Actual Behavior**

1. Go to 'https://challenges.topcoder-dev.com/projects/16541/challenges'
2. Go to  Challenge Listing Grid and observe the tab and status column.

**Expected behavior/ Suggestion**
1. We can remove Status Column from Grid Since we have already added status in Tab.
2. We can add other column (eg, Copilot Name, Challenge Start Date, End date, Current phase etc)

**

[2020-06-19 08:58] drasticdpk opened #705 "Text overflow on Public specification Section"
**To Reproduce / Actual Behavior**

1. Go to 'https://challenges.topcoder-dev.com/projects/16541/challenges/d43f80eb-6eba-435b-989e-a1c6cc1d918b/view'
2. Go to Public specification section and observe the content.
3. Vertical Scroll bar is missing( Text is overflow.)

**Expected behavior**
Text should not overlap with other control or vertical Scroll bar should be appear when there a large challen

[2020-06-19 10:40] vikasrohit commented on #668
@drasticdpk I have tried to improve the experience around the editing of the phases within the limits of the current design.
@acshields Now it also has a dedicated button for saving the changes in phases only which was confusing earlier because we had `Reset Phases` button which resets the phases while for the updates in the phases, user has to click `Save as Draft` button. Now, the new button `Sa

[2020-06-23 05:59] drasticdpk commented on #668
Verified on dev env.

[2020-06-23 14:10] acshields commented on #704
@drasticdpk - thank you for this suggestion, it's a good observation.

@vikasrohit - When I get new designs for displaying the created/saved challenges, I will keep this in mind. However, one of the big variables I want to discuss is whether this screen (showing created/saved challenges) should be in the Work Manager app, or the Connect project.  We can chat it over more today.

[2020-06-23 14:19] acshields commented on #701
@vikasrohit - Also, this one gets back to the conversation we were having the other week on whether "project search" functionality will be needed in Work Manager in the future, or whether Connect should be the source to support this functionality.

[2020-06-23 15:13] acshields commented on #697
@drasticdpk - On an average project, there is 39 challenges or tasks (mostly tasks, more than likely). So, we will definitely need to focus on optimizing the pagination of the created/saved listings.

@vikasrohit - Re: my note on the other issue regarding the listings, I will keep this in mind when I source the updated designs for this view. Also, keep in mind my note on whether this view will nee

[2020-06-24 11:17] vikasrohit commented on #701
@acshields this particular issue is about challenge search not project search, which I think belongs to work manager.

[2020-06-30 04:44] vikasrohit opened #706 "Disable editing timeline template for a challenge"
As per discussions around https://github.com/topcoder-platform/challenge-api/issues/199, we need to disable the feature of selecting and editing timeline for a v5 challenge.

[2020-06-30 04:45] vikasrohit commented on #706
fyi @drasticdpk @lakshmiathreya @acshields

[2020-06-30 04:45] vikasrohit opened #707 "New Challenge - Back button should take user to Challenge listing"
The back button on the New Challenge page should take user to Challenge listing page, however, as of now it taking user to the root of the application.

![BackButtonOnNewChallengePage](https://user-images.githubusercontent.com/2417632/86084318-2bd0a980-baba-11ea-8fb9-f8f519973468.gif)

[2020-06-30 04:58] vikasrohit opened #708 "ChallengeEditor container - Remove potentially unused code"
<img width="1346" alt="Screen Shot 2020-06-30 at 10 33 16 AM" src="https://user-images.githubusercontent.com/2417632/86085589-232da280-babd-11ea-86a7-2e6f8316999b.png">
Seems like we have this piece of code in last major refactoring https://github.com/topcoder-platform/challenge-engine-ui/commit/4b9d810816767489a262eb9d819aaf79453e50a2#diff-41ccc585907d351fe4b6fb36fccc24f1R48-R56. It does not seem

[2020-06-30 04:59] vikasrohit commented on #708
I have marked it as P1 because it this challenge loading is making debugging more difficult as state of applications is not predictable.

[2020-06-30 05:03] vikasrohit commented on #708
@drasticdpk I am not sure what exact regression, removing this code, would bring but I am suspecting some kind of non blocking issue to appear with this change. I tried to find that issue since last two weeks on my local (with this code being removed) but I was not able to locate a specific issue which can appear because of this change. All of the issues that I encountered in this duration are als

[2020-06-30 09:36] vikasrohit opened #709 "Type of an old project is not shown, if we deprecated that type later on"
During the development and testing of challenge api and challenge manager, we changed supported challenge types many times and it is quite possible that we would get the similar situation in future as well, where we are going to deprecate some type and introduce new ones.
Challenge Manager, as of now is unable to show the type of such challenge if that type is deprecated e.g. project `8e1be511-ce4

[2020-06-30 09:38] vikasrohit commented on #709
fyi @drasticdpk

[2020-07-02 12:46] drasticdpk commented on #700
Verified on Dev env.
Reference :
![image](https://user-images.githubusercontent.com/25297859/86360481-2c239d00-bc92-11ea-9fbf-6aae2ea34985.png)

[2020-07-02 13:34] drasticdpk commented on #709
Verified on Dev env.
![image](https://user-images.githubusercontent.com/25297859/86365240-f8984100-bc98-11ea-94cf-49562fa3cd81.png)

[2020-07-02 13:39] drasticdpk commented on #707
Verified on Dev env
Reference :
![image](https://user-images.githubusercontent.com/25297859/86365597-6f353e80-bc99-11ea-8609-e4ccba27020a.png)
![image](https://user-images.githubusercontent.com/25297859/86365666-86742c00-bc99-11ea-85a2-16786a8d8826.png)

[2020-07-02 13:56] drasticdpk commented on #706
Hi @vikasrohit ,

Above desc, asking to disable  timeline template for other than New status. Here we could not find ability to change the timeline for status New too. Can you please confirm ?

Reference :

![image](https://user-images.githubusercontent.com/25297859/86367278-765d4c00-bc9b-11ea-9eb0-ef72f2dab243.png)

[2020-07-06 11:22] vikasrohit commented on #706
I can confirm that we don't have ability to change/update timeline of even a New challenge. So, I have disabled it UI for all status though API still allows updating the timeline for New challenges. The way legacy processor is written as of now, can not use the timeline of v5 challenge to update or set the v4 challenge timeline.
fyi @rootelement @ThomasKranitsas

[2020-07-07 05:00] drasticdpk commented on #706
Ok noted @vikasrohit

[2020-07-08 07:48] vikasrohit commented on #689
@ThomasKranitsas is it still happening for you? If yes, I think it is happening because of the root cause of another issue mentioned here https://github.com/topcoder-platform/challenge-api/issues/198#issuecomment-652995848

[2020-07-08 07:49] vikasrohit commented on #689
@acshields Brining it back from Backlog to keep an eye on it.

[2020-07-08 07:50] vikasrohit commented on #689
@drasticdpk can you please check if it is happening for you?

[2020-07-08 10:01] drasticdpk commented on #694
Verified.
Does not have prizeSets of challenge when  status is **New**
https://api.topcoder-dev.com/v5/challenges/9adb5054-3f40-487f-ada8-801efd9437b8
![image](https://user-images.githubusercontent.com/25297859/86905389-b86e0e00-c131-11ea-8829-b6bd74bc615d.png)
![image](https://user-images.githubusercontent.com/25297859/86905693-2adeee00-c132-11ea-9d3b-53be4c7e5e84.png)

[2020-07-08 10:17] drasticdpk commented on #708
Verified.
As per above suggestion, I verified it is working as expected. Will create separate issue if I found in my regression. cc @vikasrohit

[2020-07-09 06:56] vikasrohit opened #713 "Filter challenge type options when creating challenge"
UI needs to filter the challenge types after the recent changes in challenges api https://github.com/topcoder-platform/challenge-api/pull/210