[2022-03-08 04:10] maxceem commented on #1328
Challenge https://www.topcoder.com/challenges/92c21eba-c6df-4d99-ad51-f8dddbf9363f has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-08 04:10] maxceem commented on #1328
Challenge https://www.topcoder.com/challenges/92c21eba-c6df-4d99-ad51-f8dddbf9363f has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-08 04:13] jmgasper opened #1329 "[$50] Disable the phase inputs for finished phases"
### Expected behavior
When a challenge is active and a phase has completed, we should disable that input for the phase dates, since updating it won't have any effect.  The user should only be able to edit the current phase(s) and any subsequent phases, no previous phases.

### Screenshot/screencast

<img width="987" alt="Screen_Shot_2022-03-08_at_3_09_00_pm" src="https://user-images.githubusercont

[2022-03-08 04:13] maxceem commented on #1329
Challenge https://www.topcoder.com/challenges/a4167881-007d-4980-8f2e-198237d598d5 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-08 04:13] maxceem commented on #1329
Challenge https://www.topcoder.com/challenges/a4167881-007d-4980-8f2e-198237d598d5 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-08 07:03] maxceem commented on #1319
hey @jmgasper just in case, I don't have an active project configured for WM (it's archived). Not sure why it uses my account for payments.

[2022-03-08 10:36] nursoltan-s commented on #1329
Hi @jmgasper
Can you please check this PR:
https://github.com/topcoder-platform/work-manager/pull/1330

Logic here is to findIndex of active phase and check if current phase index is less than active phase's index

[2022-03-09 04:59] jmgasper commented on #1329
@nursoltan-s - Looks good, thanks!  I tested with a few in dev.

[2022-03-09 07:46] nursoltan-s commented on #1329
@jmgasper Ok. I will push next issue soon.

[2022-03-10 09:12] nursoltan-s commented on #1328
Hi,
@jmgasper Can you please check this PR? Thanks
https://github.com/topcoder-platform/work-manager/pull/1333

[2022-03-10 21:07] jmgasper opened #1334 "[$50] All phase dates should be editable for a new challenge"
### Expected behavior
For a new challenge, the user should be able to edit all the phase dates (none should be disabled)

### Actual behavior
See attached - we're noting that the phase dates are disabled

https://user-images.githubusercontent.com/21790/157754846-893dbb70-2405-40c5-aa55-f1b288ad06dc.mp4

[2022-03-10 21:07] maxceem commented on #1334
Challenge https://www.topcoder.com/challenges/c969edf8-74af-4876-988b-bf4367cd9ba8 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-10 21:08] maxceem commented on #1334
Challenge https://www.topcoder.com/challenges/c969edf8-74af-4876-988b-bf4367cd9ba8 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-10 21:08] #1329 closed

[2022-03-10 21:08] maxceem commented on #1329
Payment task has been updated: https://www.topcoder.com/challenges/a4167881-007d-4980-8f2e-198237d598d5
*Payments Complete*
Winner: nursoltan-s
Challenge `a4167881-007d-4980-8f2e-198237d598d5` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-10 22:12] jmgasper commented on #1328
Looks good, thanks.

[2022-03-10 22:12] #1328 closed

[2022-03-10 22:12] maxceem commented on #1328
Payment task has been updated: https://www.topcoder.com/challenges/92c21eba-c6df-4d99-ad51-f8dddbf9363f
*Payments Complete*
Winner: nursoltan-s
Challenge `92c21eba-c6df-4d99-ad51-f8dddbf9363f` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-11 07:03] nursoltan-s commented on #1334
@jmgasper
PR: https://github.com/topcoder-platform/work-manager/pull/1335

[2022-03-11 08:16] jmgasper commented on #1334
@nursoltan-s - This looks better, but if I change the dates during challenge creation / setup, they seem to revert to the default when the draft challenge is saved.

[2022-03-14 03:17] nursoltan-s commented on #1334
@jmgasper
Hi, It seems it is saving. I recorded my process below. Can you please confirm that it is correct?
https://monosnap.com/file/nnrEidJdwaHjHTmerdphlY0yrgd8eA

[2022-03-14 04:03] jmgasper commented on #1334
@nursoltan-s - Here's a video from a QA tester:

https://user-images.githubusercontent.com/21790/158102603-fdd6721b-5720-4cc3-9a85-2a533d5ae022.mp4

[2022-03-14 15:34] nursoltan-s commented on #1334
@jmgasper
After I debug this issue I concluded below assumption. `challenge-api` is not updating `scheduledStartDate` and `scheduledEndDate` fields. It only accepts `duration` field.
https://github.com/topcoder-platform/challenge-api/blob/develop/src/services/PhaseService.js#L127

I don't know if it's correct or not but should we fix it on backend side? Below is the curl request

`curl 'https://ap

[2022-03-15 02:17] jmgasper commented on #1334
@ThomasKranitsas - Can you have a look please?  Are we calling that PUT correctly?

[2022-03-16 00:22] jmgasper commented on #1334
@nursoltan-s - Just to keep you updated - we're still investigating.  I'll keep you posted.

[2022-03-16 22:22] jmgasper commented on #1334
@nursoltan-s - Here's the API clarification - I bumped the payment here for the extra work.  Let me know if I need to bump further, thanks.

[2022-03-17 11:46] nursoltan-s commented on #1334
@jmgasper Thanks for the clarification. I will look up now.

[2022-03-18 12:41] nursoltan-s commented on #1334
@jmgasper Hi, can you please look at this PR?
https://github.com/topcoder-platform/work-manager/pull/1342

[2022-03-18 15:24] nursoltan-s commented on #1334
@jmgasper Hi, As per feedback above I changed phase saving logic:

- When saving project. It saves `challenge.startDate` and `phase.duration`.
But there is still some issues. In backend it populate phases according to phase duration while updating. That may cause after saving phases, saved phases can be changed after that.
https://github.com/topcoder-platform/challenge-api/blob/5aa029e335/src/serv

[2022-03-21 06:03] coderhacker commented on #1290
QA comments: Dev env.
On dev: Design
Type: First2Finish
https://challenges.topcoder-dev.com/projects/20107/challenges/54ec6232-c483-425c-a29d-cddc8d09cccc/view

Quality Assurance
Type: Challenge
https://challenges.topcoder-dev.com/projects/20107/challenges/aef9fca6-9082-4105-bbbe-9e903c35697b/view

Both types of challenges are moving in a draft.

[2022-03-21 06:06] coderhacker commented on #1290
CC @SathyaJayabal

[2022-03-21 06:21] jmgasper commented on #1334
@nursoltan-s - Thanks for this.  I've asked @ThomasKranitsas to have a look at the challenge API and I'll get back to you with a new ticket if we need further changes.

[2022-03-21 06:22] #1334 closed

[2022-03-21 06:22] maxceem commented on #1334
Payment task has been updated: https://www.topcoder.com/challenges/c969edf8-74af-4876-988b-bf4367cd9ba8
*Payments Complete*
Winner: nursoltan-s
Challenge `c969edf8-74af-4876-988b-bf4367cd9ba8` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-21 12:03] coderhacker commented on #1290
On production, QA challenges are moving in draft https://challenges.topcoder.com/projects/32232/challenges/80606449-28f4-44bb-8826-9ca1bd14ab93/view

[2022-03-22 06:33] jmgasper opened #1345 "[$75] QA issues"
@nursoltan-s - These issues popped up in QA:

### Issue 1

The closed phases which are shown as disabled in WM gets enabled when saving some other enabled dates, and the date changes are not saved in WM

https://user-images.githubusercontent.com/21790/159421561-6055d0bd-b94f-45bd-982e-2957eeaffbdf.mp4

### Issue 2

Dates are not getting changed in WM when the submission phase is open(Steps- Open R

[2022-03-22 06:33] maxceem commented on #1345
Challenge https://www.topcoder.com/challenges/4dbfe570-6ba4-4666-a611-aa7e8e6e602c has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-22 06:34] maxceem commented on #1345
Challenge https://www.topcoder.com/challenges/4dbfe570-6ba4-4666-a611-aa7e8e6e602c has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-23 22:13] jmgasper commented on #1345
@nursoltan-s - Any update on this one?

[2022-03-23 22:16] jmgasper opened #1347 "[$250] Further QA issues"
### Issue 5

Issue 5: The times set are not getting saved correctly

https://user-images.githubusercontent.com/21790/159804944-a416008d-eed5-4b39-be10-b3702cd058eb.mp4

### Issue 6

Issue 6: when changing the registration time from WM(so the registration phase start time < current EST time), the fields related of other phases(except registration) gets disabled in WM. They only get enabled again wh

[2022-03-23 22:16] maxceem commented on #1347
Challenge https://www.topcoder.com/challenges/94a913e0-a4c0-4048-a93f-836575c95415 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-23 22:16] maxceem commented on #1347
Challenge https://www.topcoder.com/challenges/94a913e0-a4c0-4048-a93f-836575c95415 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-25 02:40] nursoltan-s commented on #1345
https://github.com/topcoder-platform/work-manager/pull/1348

[2022-03-26 05:42] #1345 closed

[2022-03-26 05:42] maxceem commented on #1345
Payment task has been updated: https://www.topcoder.com/challenges/4dbfe570-6ba4-4666-a611-aa7e8e6e602c
*Payments Complete*
Winner: nursoltan-s
Challenge `4dbfe570-6ba4-4666-a611-aa7e8e6e602c` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-26 05:43] jmgasper commented on #1347
As discussed via email, to work around the API limitations

Hmm… Maybe we only allow duration to be changed for subsequent phases?  We shouldn’t allow any “gaps” between the end of one phase and the start of the next, so it may make sense to:

1.  Allow the user to change the start date for the very first phase, before the challenge is launched
2. After the challenge is launched, they can only cha

[2022-03-27 21:28] jmgasper commented on #1347
@nursoltan-s - Just checking in here, thanks!

[2022-03-28 03:04] nursoltan-s commented on #1347
@jmgasper Hi, please check this PR:
https://github.com/topcoder-platform/work-manager/pull/1350

[2022-03-29 06:08] jmgasper commented on #1347
@nursoltan-s - A couple things:

1.  Registration and Submission are always concurrent, but submission could have a longer duration.  Their start times should always be the same though.  Note that I think that the API will handle this, but the UI should as well.

2. When changing the duration of one phase, the duration of the other phases shouldn't be affected - we'll just adjust the start and end

[2022-03-29 09:45] nursoltan-s commented on #1347
@jmgasper
Fixed above feedbacks:
https://github.com/topcoder-platform/work-manager/pull/1351

[2022-03-29 23:55] jmgasper commented on #1347
Looks good, thanks.  Going to ask QA to take a look as well.

[2022-03-29 23:55] #1347 closed

[2022-03-29 23:55] maxceem commented on #1347
Payment task has been updated: https://www.topcoder.com/challenges/94a913e0-a4c0-4048-a93f-836575c95415
*Payments Complete*
Winner: nursoltan-s
Challenge `94a913e0-a4c0-4048-a93f-836575c95415` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-30 00:02] jmgasper opened #1352 "[$50] Further UI updates for phases"
@nursoltan-s - In thinking through this a bit more:

We are only ever going to accept editing the **start of the registration phase** as date / time, so let's keep that the only editable  text field.  All other fields can just be text (not text boxes) and will update based on the selected durations.

I think this will help avoid confusion

<img width="833" alt="Screen_Shot_2022-03-30_at_11_01_10_a

[2022-03-30 00:03] maxceem commented on #1352
Challenge https://www.topcoder.com/challenges/3b3df134-8a90-49a8-8919-06cb61461814 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-30 00:03] maxceem commented on #1352
Challenge https://www.topcoder.com/challenges/3b3df134-8a90-49a8-8919-06cb61461814 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-30 02:33] nursoltan-s commented on #1352
@jmgasper
please check this one:
https://github.com/topcoder-platform/work-manager/pull/1354

[2022-03-30 03:05] jmgasper commented on #1352
Looks great, thanks!

[2022-03-30 03:05] #1352 closed

[2022-03-30 03:05] maxceem commented on #1352
Payment task has been updated: https://www.topcoder.com/challenges/3b3df134-8a90-49a8-8919-06cb61461814
*Payments Complete*
Winner: nursoltan-s
Challenge `3b3df134-8a90-49a8-8919-06cb61461814` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-01 04:18] jmgasper opened #1356 "[$25] Duration not quite right"
When the phases are opened from OR, the duration is changing in WM(Ex- Registration and submission was set to 24hrs in below challenge but after starting registration/submission, the duration changed to 23. But the time remains the same)

![Issue 1](https://user-images.githubusercontent.com/21790/161194084-5dfa345f-270b-4874-98e8-cca0941f5d4a.png)

[2022-04-01 04:18] maxceem commented on #1356
Challenge https://www.topcoder.com/challenges/57e6ff83-2382-42ff-83ee-010ce794ed4b has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-01 04:18] maxceem commented on #1356
Challenge https://www.topcoder.com/challenges/57e6ff83-2382-42ff-83ee-010ce794ed4b has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-01 04:19] jmgasper opened #1357 "[$15] Up / down arrow on duration"
When click on the up arrow in the duration fields, it always change the focus to the down arrow

https://user-images.githubusercontent.com/21790/161194200-28425506-294d-4edf-af44-d15a629c2b7e.mp4

[2022-04-01 04:19] maxceem commented on #1357
Challenge https://www.topcoder.com/challenges/462c3052-363e-4d72-994c-cf72fbd659a4 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-01 04:19] maxceem commented on #1357
Challenge https://www.topcoder.com/challenges/462c3052-363e-4d72-994c-cf72fbd659a4 has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-01 04:21] jmgasper opened #1358 "[$25] Reducing duration calculation"
When reducing the durations, the start dates are not automatically adjusted, but after saving and reloading the challenge spec, the dates are properly set

https://user-images.githubusercontent.com/21790/161194284-26a8288a-f92d-4946-9250-6f4317e543a2.mp4

[2022-04-01 04:21] maxceem commented on #1358
Challenge https://www.topcoder.com/challenges/5c747ec9-a93f-4f86-a484-c2933ac5b26a has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-01 04:22] maxceem commented on #1358
Challenge https://www.topcoder.com/challenges/5c747ec9-a93f-4f86-a484-c2933ac5b26a has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-01 04:23] jmgasper opened #1359 "[$30] Long duration"
When increasing the registration duration to a longer period, the end dates/times of the subsequent phases are not corectly adjusted based on the set durations

https://user-images.githubusercontent.com/21790/161194511-c4045676-1cdf-49a3-9ed5-11bd4cdf31d9.mp4

[2022-04-01 04:23] maxceem commented on #1359
Challenge https://www.topcoder.com/challenges/30724a4f-4e51-46b8-8227-79378a04700a has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-01 04:23] maxceem commented on #1359
Challenge https://www.topcoder.com/challenges/30724a4f-4e51-46b8-8227-79378a04700a has been assigned to nursoltan-s.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-04 04:43] sandhiyakavi opened #1361 "Self service app: Public specification issues"
Description:
For Data Exploration work type, Shareable URL Link(S) field is not displayed under the public specification field even though it's entered in the Wizard.

![image](https://user-images.githubusercontent.com/55895538/161475190-bbae77df-39fe-4f32-a178-d4e98b4647e5.png)
![image](https://user-images.githubusercontent.com/55895538/161490959-c36f641d-e0c7-44d5-a802-3aba13af323f.png)

![image

[2022-04-04 05:28] sandhiyakavi commented on #1361
cc: @ThomasKranitsas

[2022-04-04 06:59] sandhiyakavi opened #1362 "Launch button is not available for Self service challenges"
Description:

 Launch button is not available for Self service challenges (both Design and Data Exploration).

![image](https://user-images.githubusercontent.com/55895538/161489809-6bf9956a-3115-4e97-8fb4-650d71fcb41d.png)

[2022-04-04 09:49] sandhiyakavi commented on #1362
cc: @ThomasKranitsas

[2022-04-05 01:37] nursoltan-s commented on #1359
@jmgasper can you please check:
https://github.com/topcoder-platform/work-manager/pull/1363

[2022-04-05 01:37] nursoltan-s commented on #1358
@jmgasper can you please check:
https://github.com/topcoder-platform/work-manager/pull/1363

[2022-04-05 01:37] nursoltan-s commented on #1356
@jmgasper can you please check:
https://github.com/topcoder-platform/work-manager/pull/1363

[2022-04-05 01:37] nursoltan-s commented on #1357
@jmgasper can you please check:
https://github.com/topcoder-platform/work-manager/pull/1363

[2022-04-05 03:55] #1359 closed

[2022-04-05 03:55] maxceem commented on #1359
Payment task has been updated: https://www.topcoder.com/challenges/30724a4f-4e51-46b8-8227-79378a04700a
*Payments Complete*
Winner: nursoltan-s
Challenge `30724a4f-4e51-46b8-8227-79378a04700a` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-05 03:57] #1356 closed

[2022-04-05 03:57] maxceem commented on #1356
Payment task has been updated: https://www.topcoder.com/challenges/57e6ff83-2382-42ff-83ee-010ce794ed4b
*Payments Complete*
Winner: nursoltan-s
Challenge `57e6ff83-2382-42ff-83ee-010ce794ed4b` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-05 03:59] #1357 closed

[2022-04-05 04:00] maxceem commented on #1357
Payment task has been updated: https://www.topcoder.com/challenges/462c3052-363e-4d72-994c-cf72fbd659a4
*Payments Complete*
Winner: nursoltan-s
Challenge `462c3052-363e-4d72-994c-cf72fbd659a4` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-05 04:00] jmgasper commented on #1358
@nursoltan-s - I'm still not sure this is working - see the video attached.  I'm seeing it reset certain durations to `1` as things are changed:

https://www.dropbox.com/s/duyc7axyrz9h083/Screen%20Recording%202022-04-05%20at%201.58.10%20pm.mov?dl=1

[2022-04-05 09:30] sandhiyakavi commented on #1290
On Dev Env, MM challenges are also moving back to Draft status.
Sample: https://www.topcoder-dev.com/challenges/ffc6c14c-945e-4578-9619-2cc2e9d0a1e6

[2022-04-05 09:55] nursoltan-s commented on #1358
@jmgasper
Can you please check this:
https://github.com/topcoder-platform/work-manager/pull/1364

[2022-04-06 03:31] jmgasper commented on #1358
@nursoltan-s - I think this may still be broken.  Can you check challenges.topcoder-dev.com please?

https://www.dropbox.com/s/m5cwfeqnu840mw0/Screen%20Recording%202022-04-06%20at%201.30.40%20pm.mov?dl=1

[2022-04-06 04:57] SathyaJayabal opened #1367 "Unable to create design challenges in WM"
Unable to create design challenges in WM. We get an error while trying to save the challenge as draft.
<img width="1433" alt="Screenshot 2022-04-06 at 10 12 32 AM" src="https://user-images.githubusercontent.com/58783823/161898620-620ccd70-ca0d-4311-8d0e-084a72cf4f08.png">

Analysis: The resource api fails with a 404 error while trying to add a reviewer (design challenges require a reviewer to be s

[2022-04-06 04:57] SathyaJayabal commented on #1367
cc @lakshmiathreya

[2022-04-06 05:46] SathyaJayabal commented on #1367
https://github.com/topcoder-platform/resources-api/issues/94

[2022-04-06 05:46] #1367 closed

[2022-04-06 10:14] sandhiyakavi commented on #1362
We are getting the api error with message "Billing Account not found" for the GET api call https://api.topcoder-dev.com/v5/projects/20207/billingAccount

![image](https://user-images.githubusercontent.com/55895538/161952652-bf056a93-796f-4669-aea1-6b0a24673524.png)

[2022-04-06 23:34] sdgun commented on #1362
For me I can see the launch button, but it's disabled. (happens when SS work is created from a normal user and then trying to launch it from jcori or admin user)

https://challenges.topcoder-dev.com/projects/20254/challenges/a9b4a9ae-02a0-4327-9b5f-b79eb029b66f/view
https://challenges.topcoder-dev.com/projects/20254/challenges/b6655922-db84-40b6-9155-0210faa9b59a/view

[2022-04-07 00:16] sdgun opened #1368 "WM throws errors when click edit on Self service challenges"
### Steps to reproduce the problem
- Create a self service work from TAAS app
- From WM, assign a copilot
- Approve
- Launch
- Click Edit

### Actual Behavior
Opens a white page with console errors

### Screenshot/screencast
https://user-images.githubusercontent.com/4592712/162095305-7b2ffac5-660d-4102-93ec-c00ee06824e0.mp4

### Noted below errors in the console
react-dom.development.js:89 Warning

[2022-04-08 03:59] #1358 closed

[2022-04-08 03:59] maxceem commented on #1358
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-04-08 04:06] jmgasper opened #1370 "Duration saving in Work Manager"
### Expected behavior
The user should be able to:

1.  Enter a duration time into any phases that aren't closed yet.  If registration hasn't started, the start time *and* the duration can be set.  For other phases, just the duration can be set
2.  Phases start one right after the other, so the start time of a phase should be the end time of the previous phase
3.  You can compare the work manager f

[2022-04-16 03:09] #1370 closed

[2022-04-16 03:11] jmgasper opened #1375 "Error when attempting to change start of registration date on new challenge"
### Expected behavior
The user should be able to:

1.  Enter a duration time into any phases that aren't closed yet.  If registration hasn't started, the start time *and* the duration can be set.  For other phases, just the duration can be set
2.  Phases start one right after the other, so the start time of a phase should be the end time of the previous phase
3.  You can compare the work manager f

[2022-04-16 06:19] 52cs commented on #1375
Two question:
1. Is the start time of submission is the end time of registration?
2. If the registration hasn't started, can I change the start time of submission?

[2022-04-16 06:39] jmgasper commented on #1375
1.   No, submission and registration start at the same time
2.  No, submission will start at the start of registration

[2022-04-18 07:11] #1375 closed

[2022-04-19 07:26] jmgasper opened #1378 "Editing duration on completed phases"
### Expected behavior

When editing a challenge, the user should not be able to change the duration or start time of any phases that have already completed.  For instance, if a challenge is in the "review" phase, the duration of the submission and registration phases should not be editable, and the start date of the registration phase should also be disabled for editing.

### Actual behavior
Curre

[2022-04-20 05:31] codejamtc opened #1381 "Can't create challenges via WM"
Can't create challenges via WM

[2022-04-20 05:53] codejamtc commented on #1381
https://user-images.githubusercontent.com/42398485/164159827-cabcec02-dfb0-4a4e-a0e2-14240319500f.mp4

I think the issue is fixed now, but keeping this open for monitoring

[2022-04-20 22:06] #1262 closed

[2022-04-22 06:03] sdgun commented on #1375
Verified in production.

[2022-04-22 06:04] sdgun commented on #1370
Verified in production.

[2022-04-22 06:08] sdgun commented on #1357
The arrow options are not available anymore, so we don't have this issue. Verified in production.

[2022-04-22 06:16] sdgun commented on #1356
Verified in production.

[2022-04-22 06:16] sdgun commented on #1359
Verified in production.

[2022-04-22 06:17] sdgun commented on #1352
Verified in production.

[2022-04-22 06:18] sdgun commented on #1347
Verified in production.

[2022-04-22 06:23] sdgun commented on #1345
Verified in production.

[2022-04-22 06:29] sdgun commented on #1334
According to https://github.com/topcoder-platform/work-manager/issues/1352, this implementation is changed now. Verified https://github.com/topcoder-platform/work-manager/issues/1352 in production.

[2022-04-22 06:29] sdgun commented on #1328
Verified in production.

[2022-04-22 06:30] sdgun commented on #1329
Verified in production.

[2022-04-22 06:38] sdgun commented on #1320
Verified in production.`

[2022-04-22 06:39] sdgun commented on #1319
Verified in production.

[2022-04-22 07:31] sdgun commented on #1358
Verified in production.

[2022-04-22 20:53] jmgasper opened #1383 "Allow for copilots to stagger submission / registration"
Currently, submission and registration phases start at the same time.  There may be times when we want registration to be 24-48 hours before submission starts.

We need to investigate:

1.  Updating WM UI to support this
2. Ensure that the V5 phases API supports this
3. Ensure that any stagger syncs properly with OR

[2022-04-28 11:25] sandhiyakavi opened #1386 "Dev Env: Getting 400 Error message while trying to create a challenge in WM"
Description:

Getting 400 Error message while trying to create a challenge in WM.

https://user-images.githubusercontent.com/55895538/165741234-e1f42f41-2e9a-4950-a772-fe7df94095f7.mp4

Getting error in POST endpoint of challenge api (https://api.topcoder-dev.com/v5/challenges)

<img width="960" alt="challenge" src="https://user-images.githubusercontent.com/55895538/165741367-c6cae2c8-b466-4901-88

[2022-05-01 04:08] jmgasper opened #1388 "Can't change start date of a challenge in draft, but with start date in the past"
### Expected behavior
Before a challenge is active, the user should be able to change the start date at any point.

### Actual behavior
Currently, with the changes for the duration editing and new start date selection, if the start date is in the past, the start date field is disabled and the user can't edit the start date, even if the challenge is still in new or draft status.

### Steps to repro

[2022-05-01 08:36] 52cs commented on #1388
Just cancel the draft and reload the challenge to edit will be OK.

If it is not the intended behaviour, it is fixable.

Another question: What is the intended behaviour of Duration?
Imagine this scenario, after editing the duration, if the end date is in the past, disable the duration immediately or disable it after you save your draft?

[2022-05-02 04:33] sandhiyakavi commented on #1386
Verified in Dev Env. Able to create challenges now.

![image](https://user-images.githubusercontent.com/55895538/166184637-089dc696-72aa-4b3f-b654-8d63d7a5e2ac.png)

[2022-05-02 04:33] #1386 closed

[2022-05-10 05:55] sdgun commented on #1290
This issue is now happenning only in the Self services challenges. Cannot activate any challenge from today.

[2022-05-10 05:57] SathyaJayabal commented on #1290
cc @ThomasKranitsas

[2022-05-11 19:05] maxceem commented on #1359
hey @jmgasper I just would like to let you know that Topcoder-X somehow still using my handle to process these task and even create tasks on behalf of my name https://challenges.topcoder.com/projects/27604/challenges/30724a4f-4e51-46b8-8227-79378a04700a/view.

I did archive this project in Topcoder-X but it seems it ignores this fact, and keeps using by account.

Just so you are aware.

[2022-05-12 00:38] jmgasper commented on #1359
@maxceem - Ok, thanks for that.  I'll log something on the TCX project.

[2022-05-12 09:28] SathyaJayabal opened #1391 "[$1] Test Task"
Test

[2022-05-12 09:28] maxceem commented on #1391
Challenge https://www.topcoder.com/challenges/ada0e03a-ce1f-44a4-9404-5fc6e322cc11 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-05-12 09:40] #1391 closed

[2022-05-12 09:40] maxceem commented on #1391
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-05-18 15:47] Oanh-and-only-Oanh commented on #1290
jira issue here: https://topcoder.atlassian.net/browse/PROD-1997

[2022-05-19 05:52] sdgun commented on #1362
We cannot see the launch button on any of the SS work we create now, in connect project there is no BA set for these ss challenges, which could be the reason for this issue.

[2022-05-19 15:22] Oanh-and-only-Oanh commented on #1362
Jira ticket here: https://topcoder.atlassian.net/browse/PROD-2009

[2022-07-22 05:09] #1378 closed

[2022-07-22 05:15] jmgasper opened #1403 "Add billing account start / end dates and status to project overview"
### Expected behavior
Currently, copilots don't have visibility into the start and end dates of billing accounts, so they only know when a billing account has expired when they attempt to put through a payment or launch a challenge, which can lead to delays while the billing account is renewed.  This small change will expose some properties of the billing account to the main project screen in Work

[2022-07-22 07:34] jplew commented on #1403
Hi, I posted a question here: https://discussions.topcoder.com/discussion/20129/cant-login?new=1

[2022-07-27 19:59] #1403 closed

[2022-07-27 20:02] jmgasper opened #1404 "Billing Account start date / end date cleanup"
There are two issues noted:

### Issue 1

Styling updates can be applied to look similar to this screenshot.  Note that we can keep things spaced out on one line - we don't have to split to 3 lines.  We should use the entire month name instead of numbers to avoid confusion.

![image](https://user-images.githubusercontent.com/21790/181361646-bd227a08-f4a8-4020-b2e5-ba107980d944.png)

### Issue 2

[2022-07-28 13:02] jmgasper opened #1405 "Copilot unable to edit or view private specification section"
There seems to be some bug in Work Manager, it doesn't save any edits made to the Private specification section. This is what I did:

- Add details to both public and private spec sections
- Save the draft
- Once save is done, both sections appear to have all the details entered
- Refresh the page, the private section details are all gone

One more thing, the PM is able to see the private section

[2022-08-03 11:50] jmgasper opened #1407 "Billing account status and tab switching"
Looks like there is a small bug in displaying billing account status. For Active billing accounts, if I switch the tabs, it's showing the tab name as status

![image (3)](https://user-images.githubusercontent.com/21790/182600971-99fc779d-6471-4e85-b0a0-2c6d8b4eb6a2.png)

[2022-08-03 22:26] #1407 closed

[2022-08-08 22:05] jmgasper opened #1409 "QA track - automatically add QA tag"
### REF

https://topcoder.atlassian.net/browse/PROD-2823

### Background
For some reason in the past, looks like QA gets added to the "develop" track in legacy(Informix).

https://github.com/topcoder-platform/legacy-challenge-migration-script/blob/3dc0eaa8356716c16ede7846add5f0a256c8570d/src/util/conversionMappings.js#L138

in V5 QA challenges are handled different https://github.com/topcoder-plat

[2022-08-14 23:06] #1409 closed

[2022-09-01 00:43] jmgasper opened #1412 "Wrong status shown for billing account"
Seen in production:

### Problem

Today for the Timeline Wall project the billing account was showing `IN_REVIEW`

It looks like the Connect Project was In Review, but the Billing Account was active.

![Screenshot_6](https://user-images.githubusercontent.com/21790/187808939-0c5de846-e4d6-4013-898d-82543199246d.png)

### Solution

The BA should only show two status - "ACTIVE" or "INACTIVE".

[2022-09-02 01:28] #1412 closed

[2022-09-05 02:01] jmgasper opened #1414 "Multi-round cleanup"
### Issue 1

We can remove the reminder popup now that we support multiple rounds for design challenges:

![SCR-20220905-go1](https://user-images.githubusercontent.com/21790/188345643-217d2130-6bfe-472e-a062-a8584146ba4f.png)

### Issue 2

From UAT:

For prizes, checkpoint prizes are only $50 or $100 and in general up to 5 max 8, so those textboxes can be much smaller and aligned with the other te

[2022-09-09 01:12] jmgasper opened #1415 "Assignee drop down changes"
### Expected behavior
The user should be able to enter a member handle in the assigned member drop down in its entirety.  We will make *two* API calls - one to search for the handle (and populate the dropdown), but a new, additional call to do a member lookup directly using the member API:

https://api.topcoder-dev.com/v5/members?handle=Ghostar

If a direct lookup works, we should use that result

[2022-09-09 06:01] #1414 closed

[2022-09-09 07:44] 52cs commented on #1415
We cannot do it this way!

Only when you click the dropdown, you can trigger the onChange callback in react-select.

We can verify 52code, and set it as a one option dropdown.

But the problem is that instead of search 52code return 0 result, it returns 500 results which is too many to make `react-select` not work...

Fuck those fake account!!!

[2022-09-09 09:59] #1415 closed

[2022-09-15 01:46] jmgasper opened #1416 "Assignee handle autocomplete API change"
### Problem

Currently, when using Work Manager, a copilot or PM can autocomplete a handle in the `Assignee` drop down.

Recently, we found out that any handle that starts with a number, like `52code` isn't autocompleting properly, and we found issues in both the v3 and v5 APIs.

We have since fixed the problem in the v5 API, so that a query like this now works properly:

GET `https://api.topcoder

[2022-09-23 03:14] #1416 closed

[2022-09-23 03:28] jmgasper opened #1418 "Enable on/off toggle for dashboard creation"
Recently, we made a change to the community app to show the data dashboard for any challenge in the `Data Science` challenge track:

https://github.com/topcoder-platform/community-app/issues/6632

After discussion with Data Science copilots, we have determined that this dashboard may not always be needed, so we are going to add checkbox to turn this on / off

### UI

1.  When the user selects `Wor

[2022-09-26 23:02] #1418 closed

[2022-10-04 01:29] jmgasper opened #1419 "Alphabetise Work Format drop down"
### Problem

Topcoder has requested that we sort the Work Format drop down on the challenge screen in alpha order, A-Z.

### Screenshot

![SCR-20221004-hbp](https://user-images.githubusercontent.com/21790/193715143-95c161c7-3acb-4612-8da9-da85c04822c4.png)

[2022-10-04 01:44] jmgasper opened #1420 "New flow for the Data Dashboard"
### Expected behavior
We added a toggle for `Use data dashboard` that adds some metadata to the challenge object that tells the community app to show the data dashboard.

We want to restrict this to three combinations of work type and format:

1.  `Data Science` / `Challenge`
2.  `Development` / `Marathon Match`

### Actual behavior
1. Currently, we do not show the toggle when `Development` / `Mar

[2022-10-10 21:06] #1420 closed

[2022-10-10 21:06] #1419 closed

[2022-10-10 21:06] jmgasper opened #1421 "Can't scroll private specification"
NOTE - This may be related to #1405

### Description

https://challenges.topcoder-dev.com/projects/22248/challenges/815f1232-35d6-446e-8df1-0a2043a2c604/view

Private specification, we can’t see the rest of the content by scrolling the section.

This F2F needs to validate *BOTH* the edit and read-only views of this content.

### Screenshot

![SCR-20221011-b7p](https://user-images.githubusercontent

[2022-10-10 22:20] jmgasper opened #1422 "Rename Work Type to "Domain""

[2022-10-11 05:54] sdgun commented on #1419
Verified in Prod.

![image](https://user-images.githubusercontent.com/4592712/195007604-b43965e5-99e5-42fe-aacc-fba824728499.png)

[2022-10-11 06:07] sdgun commented on #1420
Verified with Data science challenge.

![image](https://user-images.githubusercontent.com/4592712/195009489-14348c1a-acd4-4cf5-a6b7-c16bd5ed77f6.png)

[2022-10-11 06:10] sdgun commented on #1418
Verified in Prod.

![image](https://user-images.githubusercontent.com/4592712/195009582-1c40ba90-731a-43ec-94f4-694872c00440.png)

Challenge: https://www.topcoder.com/challenges/d4baf6b7-651e-4c19-a294-b3b0bbc12151?tab=dashboard

[2022-10-11 06:34] sdgun commented on #1415
Verified in Prod.

![image](https://user-images.githubusercontent.com/4592712/195013664-350f628a-92eb-4f71-a844-0f75787b9aef.png)

[2022-10-11 06:42] sdgun commented on #1412
Verified in Prod with available projects.

[2022-10-11 07:38] #1422 closed

[2022-10-11 07:44] jmgasper opened #1424 "Limit work formats based on selected Domain (Work Type)"
The items shown in the `Work Format` dropdown, when launching a challenge, are currently the same for all "Work Types", which we are renaming to be "Domain".

We are going to restrict the Work Types to the following items, based on the Domain chosen.  The Work Types not in the list for a given Domain should be hidden from the Work Type dropdown on the "Create New Work" screen.

Note that "Match" i

[2022-10-11 23:36] jmgasper opened #1425 "Single Round Match toggle is not set to off when click Reset filters button"
By default all options are selected except `Single Round Match` and `TCO Eligible Only` toggles

Set `Single Round Match` toggle on and now click `Reset Filter` button

### Expected:

This should set the toggle status back to their default status, so SRM should be off

### Actual:
SRM is still on after resetting filter

### Video

https://user-images.githubusercontent.com/21790/195217295-c13c17d8-

[2022-10-11 23:39] #1425 closed

[2022-10-12 00:54] #1424 closed

[2022-10-21 03:10] #1421 closed

[2022-10-21 03:36] jmgasper opened #1427 "Enhance project screen"
### Expected behavior
This ticket will enhance the display of challenges on the project screen to better match what we have in Topcoder Direct, which is being deprecated.

We are going to display more relevant information, add sorting, and include better filtering

### Actual behaviour
Currently, all we can do on a project screen is to search by a text field, but we can't properly sort, filter or

[2022-10-24 22:46] jmgasper opened #1428 "Change sidebar to header"
### New tabs
We are going to change the sidebar to be tab based navigation, to allow for more space on the page.  The header can just be the current topcoder logo and the username and logout button on the right.

We can copy the same tab navigation that exists for the community app and the challenge listings.  Just change `Challenges` to `Work Manager`

![SCR-20221025-df1](https://user-images.gith

[2022-10-24 23:01] jmgasper opened #1429 "Update "All Work" content"
### Navigation change

Note that in https://github.com/topcoder-platform/work-manager/issues/1428, we are moving the _current_ content of the `All Work` tab to a new `Projects` tab, which will show the list of projects.

### New content

The `All Work` tab will allow for a user to search across all their challenges across *all* projects, similar to what we have in Topcoder Direct.

This layout sho

[2022-10-25 21:14] #1427 closed

[2022-10-25 21:23] jmgasper opened #1430 "Review issues"
As noted below:

### Issue 1
On 15 inch screen like MacBook Pro, column values not aligned with column headers:
https://take.ms/QdXxr
https://take.ms/2tmhk
-- should be responsive.

### Issue 2

On 15 inch screen, there's "flicker" of the "To" calendar widget.
https://take.ms/aL7url

### Issue 3

Should use consistent date format in filter and in table cell.
https://take.ms/xFJuf

[2022-10-30 21:48] #1429 closed

[2022-10-30 21:48] #1428 closed

[2022-10-30 21:50] jmgasper opened #1431 "Alignment problems"
### Description

The fields aren't all aligning properly on either:

* All Work
* Project page

We need to fix the alignment and ensure that it sizes properly when the window is resized

### All work page

![SCR-20221031-bil](https://user-images.githubusercontent.com/21790/198903178-b0c79220-de69-4788-88df-b42033bc94b9.png)

![SCR-20221031-bj7](https://user-images.githubusercontent.com/21790/19890

[2022-10-30 21:51] jmgasper opened #1432 "Remove "My Projects" checkbox"
The "My Projects" checkbox isn't necessary.  We can remove it and move everything up to take up the empty space.

![SCR-20221031-c1g](https://user-images.githubusercontent.com/21790/198903228-da7ce58a-f668-4c63-b49c-c511c70a7673.png)

[2022-10-30 21:54] jmgasper opened #1433 "Support new sort types and remove "Forums" column"
### Description

We don't have the data right now to support the "Forums" column, so that can be removed from the new challenge table on both:

* All Work
* Project page

![SCR-20221031-cb8](https://user-images.githubusercontent.com/21790/198903265-734124f2-f59b-4f89-b60f-5af12fc7de3f.png)

[2022-10-30 21:56] jmgasper opened #1434 "Support new sort types and remove forums column"
### Sort types

The challenge API in dev (https://api.topcoder-dev.com/v5/challenge) has been updated with new sort types to better support our new tables on both:

* All Work
* Project page

We need to update both the tables on those pages to support sorting the new types

https://github.com/topcoder-platform/challenge-api/issues/528

### Forums column

We don't have the data right now to support

[2022-10-30 22:13] #1433 closed

[2022-10-30 22:18] #1405 closed

[2022-10-30 23:28] jmgasper opened #1435 "New "Users" tab"
### Expected behavior
Currently, in Topcoder Direct, an admin on a project can add users with specific Read, Write, or "Full Access" rights:

![SCR-20220930-bnu](https://user-images.githubusercontent.com/21790/198906484-302a976e-a472-4832-a341-c4202daf33ec.png)

What we would like to do is add a new `Users` tab to the Work Manager UI that allows a copilot or admin to add users similarly.

### Impl

[2022-11-02 23:09] #1431 closed

[2022-11-02 23:09] #1432 closed

[2022-11-02 23:09] #1434 closed

[2022-11-03 01:07] jmgasper opened #1436 "Sorting and filtering changes"
### Issue 1

Once a filter is applied (for example, date filter is applied), there is no way to reset this value in the filter.

Let's add a "Reset filter" button or link next to "Search Challenges", and shorted "Search Challenges" to be the same width as "Start Date From"

![SCR-20221103-efq](https://user-images.githubusercontent.com/21790/199620735-8ee5f7cf-35db-414f-93d0-d42bc7af0d14.png)

###

[2022-11-03 01:11] jmgasper opened #1437 "Sorting and filtering bugs"
All tested on challenges.topcoder-dev.com:

### Issue 1

Each challenge row has OR link. This is not liked with Online review. It is linked with direct URL (sample https://www.topcoder-dev.com/direct/contest/detail?projectId=30061241)

### Issue 2

After activating the challenge and go back will hide the challenge from the table. User needs to refresh the page to see it.

### Issue 3

User can set

[2022-11-03 01:16] jmgasper opened #1438 "Work Manager bugs"
### Issue 1

UI issue if we have a long project name

![bandicam 2022-11-02 12-16-30-736](https://user-images.githubusercontent.com/21790/199630587-b6bf740b-774b-421f-8483-0bdbb39c7bb7.jpg)

### Issue 2

Two loading icons displayed when we sort the table

https://user-images.githubusercontent.com/21790/199630628-0fb04c33-7a48-419f-90a6-cc470daccb7a.mp4

### Issue 3

Already Cancelled Challenge wil

[2022-11-03 20:48] #1437 closed

[2022-11-04 22:50] #1436 closed

[2022-11-07 00:59] jmgasper opened #1439 "Loading table data when sorting / filtering"
### Expected behavior
When reloading a table after the sort / filters have been changed, we are hiding the filter and table headers, leading users to think that the entire page is reloading.  Instead, we should just hide the table contents (not the table header), so that the user is aware that the reload only affects the table data

![SCR-20221107-gmw](https://user-images.githubusercontent.com/217

[2022-11-07 21:25] jmgasper opened #1440 "Pagination issues"
### Issue 1

Can see a pagination issue. When we go to page 3 or 4 and then change the per page values; sometimes we can’t see data

### Issue 2

Also after we go to the last page and change the per page values and  move forward will reset the per page values to 10

https://user-images.githubusercontent.com/21790/200418601-1a520dbd-e984-47fd-b11b-9b7064d58a47.mp4

[2022-11-19 05:57] elkhawajah opened #1442 "Adding links to Challenge and Forums"
### Expected behavior
As a copilot while I am editing my challenge I want to have a link to the public challenge page in topcoder community so I can see how my specs writing look like.

Same thing when I am at the work manager project view page, I want to see link to Forums for each challenge so I can navigate there when I need to to provide support or view discussions.

### Actual behavior

Right

[2022-11-30 04:20] #1435 closed

[2022-11-30 04:27] #1430 closed

[2022-11-30 04:28] jmgasper commented on #1442
@elkhawajah - Right now it's been a struggle to get budget for Work Manager tasks, but we'll pick this up after we start new work on WM.

[2022-11-30 04:30] jmgasper opened #1444 "Metadata not saving properly"
### Bug 1

Reported by a tester:

I launched a challenge with Submissions are viewable flag true but work manager reverted that back to false

![resim-20221123-125314](https://user-images.githubusercontent.com/21790/204707743-baad8652-77f1-4987-84c6-ea774b404f78.png)

![resim-20221123-122017 (2)](https://user-images.githubusercontent.com/21790/204707754-11cfd7ce-212f-4e9d-a159-6dd474c6e53e.png)

#

[2022-11-30 09:41] #1438 closed