[2019-05-08 07:04] ThomasKranitsas opened #1 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2019-05-10 19:54] ThomasKranitsas opened #2 "[$20] The project name font size should be smaller"
<img width="1469" alt="Screenshot 2019-05-10 at 22 48 36" src="https://user-images.githubusercontent.com/4612921/57552993-3f7cf600-7376-11e9-89d7-5a81b4e8890e.png">

Make the font size of the project names (on the sidebar) `16px` and reduce the height to `50px`

[2019-05-10 19:57] ThomasKranitsas opened #3 "[$60] Challenge filtering is not correct"
See that even though I'm on the active challenges page, there are non-active challenges loaded.
<img width="1469" alt="Screenshot 2019-05-10 at 22 55 05" src="https://user-images.githubusercontent.com/4612921/57553207-adc1b880-7376-11e9-9302-9d6d13485365.png">

The challenge filtering is not done correctly.
For example, filters should be created like `status=ACTIVE&projectId=17657`, then encoded t

[2019-05-10 20:00] ThomasKranitsas opened #4 "[$80] Hover state is wrongly implemented"
<img width="1469" alt="Screenshot 2019-05-10 at 22 57 38" src="https://user-images.githubusercontent.com/4612921/57553406-0e50f580-7377-11e9-9b3d-907879d8c818.png">

As you can see in the image above, the hovered state is enabled in multiple rows.
I'm guessing this is because of the wrong event usage.

We should do that with styles not with events.

[2019-05-10 20:03] ThomasKranitsas opened #5 "[$30] Sidebar scroll"
The sidebar should scroll independently from the main content.

[2019-05-10 20:03] rashmi73 commented on #4
is it going to be open?

[2019-05-10 20:05] ThomasKranitsas commented on #4
Yes, I'll start opening tickets shortly. I'll launch a bug bash challenge for this to let everyone know that I'm opening tickets.

Until then, please do not pick any ticket.

[2019-05-10 20:07] rashmi73 commented on #4
@thomaskranitsas ok waiting for challenge to open

[2019-05-11 17:59] ThomasKranitsas opened #6 "[$20] The challenge schedule section has some layout issues"
The blue dots are a bit off in the current implementation. Those should be on the gray line.

<img width="1522" alt="Screenshot 2019-05-11 at 20 58 10" src="https://user-images.githubusercontent.com/4612921/57573383-97c3fe80-742f-11e9-8aab-9614933dced8.png">

[2019-05-11 18:00] ThomasKranitsas opened #7 "[$20] Layout issues with the Select Reviewer input"
There are some issues with the `Select Reviewer` input.

It should match the other select dropdown inputs.

<img width="1522" alt="Screenshot 2019-05-11 at 20 59 26" src="https://user-images.githubusercontent.com/4612921/57573395-c2ae5280-742f-11e9-825f-d3006c6c12a7.png">

[2019-05-11 18:05] ThomasKranitsas opened #8 "[$30] Consistent border radius on input fields"
All input fields should have consistent border-radius.

Use `border-radius: 2px` everywhere.

Example of inconsistent border-radius:
<img width="1522" alt="Screenshot 2019-05-11 at 21 01 55" src="https://user-images.githubusercontent.com/4612921/57573462-7adbfb00-7430-11e9-909c-a0ee27923aee.png">

[2019-05-11 18:07] ThomasKranitsas opened #9 "[$80] Additional fields logic issue"
Currently, on the `Create New Challenge` page, if the `Classic Editor` is selected, the `Technology / Platform` field is shown while if the `Markdown` editor is selected, other fields are visible like `Final Deliverables` etc.

Those should be toggled on/off based on the selected track/sub track and not based on the selected editor style.

[2019-05-11 18:37] ThomasKranitsas opened #10 "[$40] Cannot type on prize input field"
On the `Create New Challenge` page, when I type a character on the prize input (either monetary or gift prize) I lose focus from the field and I have to click on the field again to type the next character.

This is a very frustrating user experience and needs to be fixed.

Video: https://take.ms/v1xeI

[2019-05-11 18:50] ThomasKranitsas opened #11 "[$30] Remove empty space from modals"
As per the design, there should be some icons inside the modals but we decided to remove the icons.

Now, the modals have huge empty space.

You need to remove that empty space.

<img width="1562" alt="Screenshot 2019-05-11 at 21 47 39" src="https://user-images.githubusercontent.com/4612921/57573809-b679c380-7436-11e9-9c36-1e8a3d6d3677.png">
<img width="1562" alt="Screenshot 2019-05-11 at 21 48 39

[2019-05-11 18:51] ThomasKranitsas opened #12 "[$40] Issue with save as draft button"
On the `Create new challenge` page, if you click the `Save as Draft` button, you will get redirected to the landing page but the page title will say `New challenge` and the `New challenge` from the sidebar will be selected which is wrong.

Both the `Save as Draft` and `Save as template` buttons should not have any functionality.

[2019-05-11 18:53] ThomasKranitsas opened #13 "[$40] Not able to select multiple terms"
The co-pilot should be able to select multiple terms.

Currently, if I check any term, the previous one gets unchecked.

<img width="1562" alt="Screenshot 2019-05-11 at 21 52 32" src="https://user-images.githubusercontent.com/4612921/57573826-29833a00-7437-11e9-87c6-fc6ac76b2166.png">

[2019-05-11 19:07] ThomasKranitsas commented on #10
Contest https://www.topcoder.com/challenges/30090519 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:07] ThomasKranitsas commented on #12
Contest https://www.topcoder.com/challenges/30090517 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:07] ThomasKranitsas commented on #13
Contest https://www.topcoder.com/challenges/30090518 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:07] ThomasKranitsas commented on #10
Contest https://www.topcoder.com/challenges/30090519 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:07] ThomasKranitsas commented on #12
Contest https://www.topcoder.com/challenges/30090517 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:07] ThomasKranitsas commented on #13
Contest https://www.topcoder.com/challenges/30090518 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:08] ThomasKranitsas commented on #9
Contest https://www.topcoder.com/challenges/30090520 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:08] ThomasKranitsas commented on #9
Contest https://www.topcoder.com/challenges/30090520 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:08] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30090521 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:08] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30090521 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:09] ThomasKranitsas commented on #3
Contest https://www.topcoder.com/challenges/30090522 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:09] ThomasKranitsas commented on #3
Contest https://www.topcoder.com/challenges/30090522 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:09] ThomasKranitsas commented on #9
Contest https://www.topcoder.com/challenges/30090520 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:09] ThomasKranitsas commented on #3
Contest https://www.topcoder.com/challenges/30090522 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:10] ThomasKranitsas commented on #2
Contest https://www.topcoder.com/challenges/30090523 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:10] ThomasKranitsas commented on #2
Contest https://www.topcoder.com/challenges/30090523 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:12] ThomasKranitsas commented on #2
Contest https://www.topcoder.com/challenges/30090523 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:13] ThomasKranitsas commented on #12
Contest https://www.topcoder.com/challenges/30090517 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:15] ThomasKranitsas commented on #13
Contest https://www.topcoder.com/challenges/30090518 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:15] ThomasKranitsas commented on #10
Contest https://www.topcoder.com/challenges/30090519 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:16] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30090521 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:17] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30090521 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:17] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30090521 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:18] ThomasKranitsas commented on #5
Contest https://www.topcoder.com/challenges/30090524 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:18] r0hit-gupta commented on #4
@khushimehta03 I assigned myself just a few seconds earlier than you. Please don't mind. 😅

[2019-05-11 19:18] ThomasKranitsas commented on #5
Contest https://www.topcoder.com/challenges/30090524 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:21] ThomasKranitsas commented on #1
@topcoder-platform/topcodercompetitors we have a limited number of tickets but feel free to open new tickets if you find any bugs or UI issues on the app and I'll open them for pickup.

You will get paid for the tickets you open ($10 per blocker issue and $5 any other issue).

[2019-05-11 19:22] gurmeetb commented on #3
hey @ThomasKranitsas we are already appending project_id in Url, so is it fine if we do something like below:
`/projects/${projectId}/challenges?status=ACTIVE`
`/projects/${projectId}/challenges?status=ALL`

[2019-05-11 19:24] ThomasKranitsas commented on #3
hey @gurmeetb, this issue is about how we're calling the API to fetch challenge and not about the URL of the route of this page.

Sorry if that was not clear in the description.

[2019-05-11 19:24] gurmeetb commented on #3
ah thanks @ThomasKranitsas

[2019-05-11 19:29] ThomasKranitsas commented on #6
Contest https://www.topcoder.com/challenges/30090525 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:29] ThomasKranitsas commented on #6
Contest https://www.topcoder.com/challenges/30090525 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:29] ThomasKranitsas commented on #6
Contest https://www.topcoder.com/challenges/30090525 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:30] ThomasKranitsas commented on #5
Contest https://www.topcoder.com/challenges/30090524 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:32] r0hit-gupta commented on #4
@ThomasKranitsas unable to reproduce. Which rows are you talking about?

[2019-05-11 19:37] ThomasKranitsas commented on #2
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:37] #2 closed

[2019-05-11 19:37] ThomasKranitsas commented on #2
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090523<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:40] ThomasKranitsas commented on #8
Contest https://www.topcoder.com/challenges/30090526 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:40] ThomasKranitsas commented on #8
Contest https://www.topcoder.com/challenges/30090526 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:41] ThomasKranitsas commented on #8
Contest https://www.topcoder.com/challenges/30090526 has been updated - it has been assigned to prasadadarkar30.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:57] gurmeetb opened #16 "[$30] Project Names shouldn't contain HTML codes"
Refer attached how we have HTML codes in Project Name, we should parse all such Project names.

![ProjectName_Not_parsing_HTML](https://user-images.githubusercontent.com/14284629/57574349-0c5d6400-7455-11e9-8984-1704e42dd93c.png)

[2019-05-11 19:58] rashmi73 commented on #13
@ThomasKranitsas PR ready https://github.com/topcoder-platform/challenge-engine-ui/pull/18

[2019-05-11 19:58] ThomasKranitsas commented on #7
Contest https://www.topcoder.com/challenges/30090527 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:58] ThomasKranitsas commented on #7
Contest https://www.topcoder.com/challenges/30090527 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:59] ThomasKranitsas commented on #16
Contest https://www.topcoder.com/challenges/30090528 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:59] ThomasKranitsas commented on #16
Contest https://www.topcoder.com/challenges/30090528 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:59] ThomasKranitsas commented on #16
@rashmi73 you already have a ticket

[2019-05-11 19:59] ThomasKranitsas commented on #16
Contest https://www.topcoder.com/challenges/30090528 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 19:59] ThomasKranitsas commented on #7
Contest https://www.topcoder.com/challenges/30090527 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:00] rashmi73 commented on #16
@ThomasKranitsas forgot to add ready for review label

[2019-05-11 20:00] ThomasKranitsas commented on #16
ok

[2019-05-11 20:00] ThomasKranitsas commented on #11
Contest https://www.topcoder.com/challenges/30090529 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:00] ThomasKranitsas commented on #11
Contest https://www.topcoder.com/challenges/30090529 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:00] ThomasKranitsas commented on #16
Contest https://www.topcoder.com/challenges/30090528 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:00] ThomasKranitsas commented on #11
Contest https://www.topcoder.com/challenges/30090529 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:07] #6 closed

[2019-05-11 20:07] ThomasKranitsas commented on #6
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090525<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:10] #13 closed

[2019-05-11 20:11] ThomasKranitsas commented on #13
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090518<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:13] rashmi73 commented on #16
@ThomasKranitsas such names are coming from backend response itself.
here is verification screenshot

![Screenshot_1](https://user-images.githubusercontent.com/41687423/57574478-5d6e5780-7457-11e9-8f27-29d9fea292ce.png)

what to do?

[2019-05-11 20:14] ThomasKranitsas commented on #16
can we decode them and render them properly?

[2019-05-11 20:17] rashmi73 commented on #16
@ThomasKranitsas seems to be html string, need to render it i guess, thinking in markdown direction.

as string are "window.alert()" , "script&gt" etc.

[2019-05-11 20:19] ThomasKranitsas commented on #16
You should be able to just use `dangerouslySetInnerHTML` to render the project name instead of rendering it as `{projectName}`.

[2019-05-11 20:20] ThomasKranitsas commented on #16
fyi https://reactjs.org/docs/dom-elements.html#dangerouslysetinnerhtml

[2019-05-11 20:31] rashmi73 commented on #16
@ThomasKranitsas saw above doc and changed code accordingly but still no change

[2019-05-11 20:31] ThomasKranitsas commented on #16
Can you post your changed code here?

[2019-05-11 20:33] #11 closed

[2019-05-11 20:34] ThomasKranitsas commented on #11
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090529<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:34] rashmi73 commented on #16
src/components/ProjectCard/index.js

line 31 becomes

<div className={styles.name} dangerouslySetInnerHTML={{ __html: projectName }} />

[2019-05-11 20:38] ThomasKranitsas commented on #16
Do this:
- `npm i -s xss`
- change the same line like so:

[code]

It'll work just fine.

[2019-05-11 20:46] #3 closed

[2019-05-11 20:46] ThomasKranitsas commented on #3
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090522<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:46] #7 closed

[2019-05-11 20:47] ThomasKranitsas commented on #7
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090527<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:47] rashmi73 commented on #16
@ThomasKranitsas majority works but few things stilll left out like "window.alert()", though all ampersand and less than, greater than are removed.

what a great approach..where did you find such content? please share

[2019-05-11 20:49] ThomasKranitsas commented on #16
That's absolutely fine.

Experience 😉
Feel free to ping me if you're stuck and need help. I'm always happy to help!

[2019-05-11 20:52] rashmi73 commented on #16
@ThomasKranitsas PR ready https://github.com/topcoder-platform/challenge-engine-ui/pull/21

[2019-05-11 20:53] gurmeetb opened #22 "[$20] Checkpoint Prizes once removed cannot be added back"
Currently when creating a challenge, we show the `X` mark to `Checkpoint Prizes`, which if clicked and now if user changes mind, there is no way to add one back.

`Expected:` We should not have `X` mark and default prize and no of checkpoint prizes to 0 as initial stage.

<img width="891" alt="CheckPointPrizes" src="https://user-images.githubusercontent.com/14284629/57574764-93620a80-745c-11e9-87a

[2019-05-11 20:53] #16 closed

[2019-05-11 20:54] ThomasKranitsas commented on #16
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090528<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:55] gurmeetb commented on #22
@ThomasKranitsas we go with expected behaviour I defined above - does that looks good ?

[2019-05-11 20:55] ThomasKranitsas commented on #22
yep, looks good. Thanks!

[2019-05-11 20:56] ThomasKranitsas commented on #22
Contest https://www.topcoder.com/challenges/30090530 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:56] ThomasKranitsas commented on #22
Contest https://www.topcoder.com/challenges/30090530 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 20:58] PrakashDurlabhji commented on #12
@ThomasKranitsas https://github.com/topcoder-platform/challenge-engine-ui/pull/23 PR

[2019-05-11 20:59] #12 closed

[2019-05-11 21:00] ThomasKranitsas commented on #12
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090517<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 21:21] #22 closed

[2019-05-11 21:21] ThomasKranitsas commented on #8
Contest https://www.topcoder.com/challenges/30090526 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 21:21] ThomasKranitsas commented on #22
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090530<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 21:28] PrakashDurlabhji commented on #8
@ThomasKranitsas https://github.com/topcoder-platform/challenge-engine-ui/pull/25 PR

[2019-05-11 21:32] gurmeetb opened #26 "[$60] Client side Filtering on All Challenges Page"
Create a new challenge, now go to same project and click All Challenges, it is tough to find the challenge here as we will have Active and Draft challenges.

Refer current screen below:

<img width="1616" alt="FilterChallengeClientSide" src="https://user-images.githubusercontent.com/14284629/57575082-bfcc5580-7461-11e9-88b5-929f884288d9.png">

**Expected:** We could have a top `Search Challenge` w

[2019-05-11 21:45] gurmeetb opened #27 "[$80] Estimate Challenge Cost"
Estimate Challenge Cost should be updated when we start adding pricing for each of the element.

Current behaviour: It is always empty

Expected: It should start calculating the Cost the moment user starts adding prizes and fees.

<img width="797" alt="EstimateChallengeCost" src="https://user-images.githubusercontent.com/14284629/57575213-176bc080-7464-11e9-9c70-548a01c57368.png">

[2019-05-11 21:50] ThomasKranitsas commented on #27
Contest https://www.topcoder.com/challenges/30090531 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 21:50] ThomasKranitsas commented on #27
Contest https://www.topcoder.com/challenges/30090531 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 21:50] ThomasKranitsas commented on #27
Contest https://www.topcoder.com/challenges/30090531 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 21:51] ThomasKranitsas commented on #27
Contest https://www.topcoder.com/challenges/30090531 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 22:18] ThomasKranitsas commented on #10
Contest https://www.topcoder.com/challenges/30090519 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-11 22:47] PrakashDurlabhji commented on #10
@ThomasKranitsas PR https://github.com/topcoder-platform/challenge-engine-ui/pull/28

[2019-05-11 23:24] gurmeetb commented on #27
@ThomasKranitsas noticed another bug while testing this, the Prizes has double $ sign. I will fix this along, so moving ReadyForReview, will look into it tomm morning first thing and update MR.

<img width="842" alt="AddDollarPrizes" src="https://user-images.githubusercontent.com/14284629/57575922-f4480d80-7471-11e9-9b3e-1cba8c1a5522.png">

[2019-05-12 05:38] gurmeetb commented on #10
@ThomasKranitsas can we also fix extra $ sign
shown?

[2019-05-12 05:41] gurmeetb commented on #27
@ThomasKranitsas just saw we already have a ticket looking prizes, the above extra $ sign should be fixed in issue #10 - kindly let me know if you want me to handle it here?

[2019-05-12 08:04] sumitdaga commented on #9
@ThomasKranitsas
i am not sure what the exact logic should be here .. as i understand when toggling editor/markdown i think we don't need to show/hide anything ...only when select track ...
so which section/s should be shown when select each track ?

[2019-05-12 08:33] #8 closed

[2019-05-12 08:34] ThomasKranitsas commented on #8
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090526<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 08:46] #10 closed

[2019-05-12 08:47] ThomasKranitsas commented on #10
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090519<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 08:50] ThomasKranitsas commented on #27
Contest https://www.topcoder.com/challenges/30090531 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 08:51] ThomasKranitsas commented on #27
@gurmeetb let's remove the $ signs from the input fields.

This should also help making the UX a bit better with the focus issue.

Make sure to pull the latest code as there were a few changes.

[2019-05-12 08:56] ThomasKranitsas commented on #9
For any develop/QA challenge, show the `Technology / Platform :` section.
For any design challenge, show the other fields like `Final Deliverables` etc
For any DS challenge, hide all of those.

[2019-05-12 08:56] ThomasKranitsas commented on #4
You have to quickly hover over the rows. If you do it slowly, it looks like it's working fine.

[2019-05-12 09:31] sumitdaga commented on #9
@ThomasKranitsas
PR at #30

[2019-05-12 09:37] sumitdaga opened #31 "[$20] new challenge: tech/platform multi select does not wrap to the next line and overflows"
Please see attached image:

![Selection_157](https://user-images.githubusercontent.com/7769148/57580482-b70e6a80-74c7-11e9-81a6-8d2b64c98151.png)

[2019-05-12 09:58] ThomasKranitsas commented on #31
Contest https://www.topcoder.com/challenges/30090534 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 09:58] ThomasKranitsas commented on #31
Contest https://www.topcoder.com/challenges/30090534 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 09:58] ThomasKranitsas commented on #31
Contest https://www.topcoder.com/challenges/30090534 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 10:06] sumitdaga commented on #31
@ThomasKranitsas
local deployment is showing errors  all of a sudden ...can you see it too ?

![Selection_158](https://user-images.githubusercontent.com/7769148/57580789-9c3df500-74cb-11e9-9820-da7c366fc1a8.png)

[2019-05-12 10:50] gurmeetb commented on #31
@sumitdaga I just verified and I don't see it. Did you pulled latest from `develop`?

[2019-05-12 14:19] #9 closed

[2019-05-12 14:20] ThomasKranitsas commented on #31
I have also verified that it's working fine.

[2019-05-12 14:20] ThomasKranitsas commented on #9
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090520<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 14:21] garntsev commented on #26
Is it tcx_OpenForPickup?

[2019-05-12 14:22] ThomasKranitsas commented on #26
Not yet, I'll need to look into that a bit more and see what the best solution would be.

[2019-05-12 14:58] ThomasKranitsas opened #32 "[$15] Show advanced options should be disabled by default"
In the `Create new challenge` page, the `show advanced options` section should be disabled by default to make the page more compact.

[2019-05-12 15:03] ThomasKranitsas commented on #32
Contest https://www.topcoder.com/challenges/30090535 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 15:04] ThomasKranitsas commented on #32
Contest https://www.topcoder.com/challenges/30090535 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 15:55] sumitdaga commented on #31
well i don't know what to say ...i can see it on a different computer too :)
can you guys delete node_modules folder and re-install ..and try again?

[2019-05-12 18:34] #31 closed

[2019-05-12 18:35] ThomasKranitsas commented on #31
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090534<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 18:35] #32 closed

[2019-05-12 18:36] ThomasKranitsas commented on #32
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090535<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 18:37] ThomasKranitsas commented on #5
@khushimehta03 what's the status here? You cannot hold a ticket for more than 24h.

[2019-05-12 18:38] ThomasKranitsas commented on #4
What is the status here?

[2019-05-12 18:41] ThomasKranitsas commented on #5
Contest https://www.topcoder.com/challenges/30090524 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 18:41] khushimehta03 commented on #5
@ThomasKranitsas  I implemented a scroll but still everything is getting scrolled

[2019-05-12 18:45] r0hit-gupta commented on #4
@ThomasKranitsas still unable to reproduce. Opening up for others.

[2019-05-12 18:45] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30090521 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 18:45] ThomasKranitsas commented on #4
@topcoder-platform/topcodercompetitors this is open for pickup

[2019-05-12 18:45] r0hit-gupta commented on #5
@ThomasKranitsas may I take this up?

[2019-05-12 18:46] ThomasKranitsas commented on #5
if @khushimehta03 is not able to fix this, you may take it

[2019-05-12 18:49] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30090521 has been updated - it has been assigned to applehit16.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-12 19:00] applehit16 commented on #4
When I navigate to http://local.topcoder-dev.com:3000, the page is showing this error
![image](https://user-images.githubusercontent.com/48845164/57586644-81f51e80-74ad-11e9-82a1-20b1e02b32ab.png)

[2019-05-12 20:02] khushimehta03 commented on #5
@ThomasKranitsas @r0hit-gupta I released this issue long back, and it was taken immediately by sumit as well, I just commented to let you know the issue I faced.

[2019-05-12 21:03] sumitdaga commented on #5
@ThomasKranitsas  PR at #36

[2019-05-13 06:25] #27 closed

[2019-05-13 06:26] ThomasKranitsas commented on #27
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090531<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 06:27] #5 closed

[2019-05-13 06:28] ThomasKranitsas commented on #5
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090524<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 06:28] ThomasKranitsas commented on #4
Can you please fix this as part of this ticket? I'll increase the payment

[2019-05-13 06:53] applehit16 commented on #4
@ThomasKranitsas The problem is this line introduced here https://github.com/topcoder-platform/challenge-engine-ui/issues/16#issuecomment-491542120

projectName is not necessarily URI encoded. it's HTML escaping. So it could throw error here.

[2019-05-13 06:58] applehit16 commented on #4
@ThomasKranitsas I think it would be weird that projectName as a value that user types in would be URI encoded. So it's not necessary for the application to decode URI format. The issue mentioned in issue 16 is only for testing. And even %3c exists in projectName, it should be rendered just as `%3c` rather than parse it as html code

[2019-05-13 07:34] applehit16 commented on #4
Created two prs
1. https://github.com/topcoder-platform/challenge-engine-ui/pull/38 resolve the hover state issue using pure css. The cause of this issue could be that react setState is async and batching the state update.

2. https://github.com/topcoder-platform/challenge-engine-ui/pull/39 remove the `decodeURIComponent` for projectName, needs confirmation.

[2019-05-13 08:45] ThomasKranitsas opened #40 "[$30] follow up from #27"

[2019-05-13 08:47] ThomasKranitsas commented on #40
Contest https://www.topcoder.com/challenges/30090549 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 08:47] ThomasKranitsas commented on #40
Contest https://www.topcoder.com/challenges/30090549 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 08:48] ThomasKranitsas commented on #4
Contest https://www.topcoder.com/challenges/30090521 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 08:48] ThomasKranitsas commented on #40
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090549<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 08:48] ThomasKranitsas commented on #40
Contest https://www.topcoder.com/challenges/30090549 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 08:49] #4 closed

[2019-05-13 08:50] #40 closed

[2019-05-13 08:50] ThomasKranitsas commented on #4
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090521<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 11:54] ThomasKranitsas opened #41 "[$20] Font issues on input fields"
In some input fields (eg track type) the text is not vertically centered.

You need to make sure the text is vertically centered in all input fields.

[2019-05-13 11:57] ThomasKranitsas opened #42 "[$20] Copilot selection hover state"
You need to add a hover state for the copilot selection.

Use the same border but make it gray (`$gray`) instead of blue.

[2019-05-13 11:58] ThomasKranitsas commented on #41
Contest https://www.topcoder.com/challenges/30090563 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 11:58] ThomasKranitsas commented on #42
Contest https://www.topcoder.com/challenges/30090562 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 11:59] ThomasKranitsas commented on #42
Contest https://www.topcoder.com/challenges/30090562 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 11:59] ThomasKranitsas commented on #41
Contest https://www.topcoder.com/challenges/30090563 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-13 13:45] sumitdaga commented on #41
@ThomasKranitsas  PR at #43

[2019-05-13 19:39] #42 closed

[2019-05-13 19:40] ThomasKranitsas commented on #42
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090562<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-14 18:52] #41 closed

[2019-05-14 18:53] ThomasKranitsas commented on #41
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30090563<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-17 15:47] ThomasKranitsas commented on #26
@topcoder-platform/topcodercompetitors this is open for pickup.

Add a search bar that will do client-side filtering based on the challenge name.

The search bar style should match the input style from the Create new challenge page.

[2019-05-17 15:49] ThomasKranitsas commented on #26
Contest https://www.topcoder.com/challenges/30091058 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-17 15:49] ThomasKranitsas commented on #26
Contest https://www.topcoder.com/challenges/30091058 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-17 15:50] ThomasKranitsas commented on #26
Contest https://www.topcoder.com/challenges/30091058 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-17 15:52] ThomasKranitsas opened #45 "[$80] Update terms section"
You need to update the terms section so we have a multi-select input instead of multiple checkboxes.

Here's is the current layout:
![image](https://user-images.githubusercontent.com/4612921/57940183-9897dd00-78d4-11e9-9726-01c76e1b2903.png)

After you changes, the terms section should match the following design:
<img width="879" alt="Screenshot 2019-05-17 at 17 40 20" src="https://user-images.git

[2019-05-17 15:52] ThomasKranitsas commented on #45
@topcoder-platform/topcodercompetitors open for pickup

[2019-05-17 15:54] ThomasKranitsas commented on #45
Contest https://www.topcoder.com/challenges/30091059 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-17 15:55] PrakashDurlabhji commented on #45
@ThomasKranitsas more open in few minutes?

[2019-05-17 15:56] ThomasKranitsas commented on #45
Contest https://www.topcoder.com/challenges/30091059 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-17 15:58] ThomasKranitsas commented on #45
Most probably I'll open more.
I'll tag everyone who has access when I open new tickets.

Please keep in mind that the bug bash is completed.
People who have access to the repo and have registered with Topcoder-X (like yourself) will be able to pick up those tickets I'll be opening but those are not part of a bug bash 😉

[2019-05-17 17:13] ThomasKranitsas opened #46 "[$80] Add ability to remove phases"
The co-pilot should be able to remove a phase from the timeline.

![image (1)](https://user-images.githubusercontent.com/4612921/57944463-c3d3f980-78df-11e9-96bb-424fd60e3a9a.png)

- Add a delete button (similar to the one we already have in the prizes section) to allow the copilot to delete a phase.
- Choosing another template from the dropdown input should reset the timeline.

[2019-05-17 17:14] ThomasKranitsas commented on #46
@topcoder-platform/topcodercompetitors open for pickup

[2019-05-17 17:15] ThomasKranitsas commented on #46
Contest https://www.topcoder.com/challenges/30091064 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-17 17:16] ThomasKranitsas commented on #46
Contest https://www.topcoder.com/challenges/30091064 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-17 17:19] ThomasKranitsas opened #47 "[$20] Remove the classic editor"
We no longer need the `Classic Editor` in the detailed requirements section.

Remove it and make the `Markdown` the default one.

[2019-05-17 17:19] ThomasKranitsas commented on #47
@topcoder-platform/topcodercompetitors open for pickup

[2019-05-17 17:21] ThomasKranitsas commented on #47
Contest https://www.topcoder.com/challenges/30091065 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-17 17:21] ThomasKranitsas commented on #47
Contest https://www.topcoder.com/challenges/30091065 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-18 08:26] ThomasKranitsas commented on #46
Contest https://www.topcoder.com/challenges/30091064 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-18 08:29] #45 closed

[2019-05-18 08:30] ThomasKranitsas commented on #45
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30091059<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-18 10:36] PrakashDurlabhji commented on #47
@ThomasKranitsas PR ready https://github.com/topcoder-platform/challenge-engine-ui/pull/49

[2019-05-18 12:20] #47 closed

[2019-05-18 12:20] ThomasKranitsas commented on #47
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30091065<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-18 12:21] ThomasKranitsas commented on #26
@rashmi73 what's the status here?

[2019-05-18 12:22] rashmi73 commented on #26
@ThomasKranitsas few time, actively working

[2019-05-18 12:23] ThomasKranitsas commented on #26
Thanks!

[2019-05-18 13:21] rashmi73 commented on #26
@thomaskranitsas converting statless to stateful component allowed?

[2019-05-18 13:39] ThomasKranitsas commented on #26
If it’s absolutely required then it should be fine

[2019-05-18 17:16] ThomasKranitsas commented on #46
Contest https://www.topcoder.com/challenges/30091064 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-18 17:16] #46 closed

[2019-05-18 17:16] ThomasKranitsas commented on #46
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30091064<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-18 23:47] rashmi73 commented on #26
@ThomasKranitsas PR https://github.com/topcoder-platform/challenge-engine-ui/pull/51

[2019-05-20 19:37] rashmi73 commented on #26
@ThomasKranitsas why am I unassigned from this issue? I have implemented feedback and trying to push to branch but 403 permission error recevied on git push

[2019-05-20 19:39] ThomasKranitsas commented on #26
@rashmi73 you were removed from the organization because you don't have 2FA enabled. There was an announcement since last week that you need to enable 2FA.

Please enable 2FA and email support@topcoder.com (cc kranitsasthomas@gmail.com) asking them to add you to the https://github.com/topcoder-platform

The ticket is still yours but you won't be able to continue working unless you do the above.

[2019-05-20 21:10] rashmi73 commented on #26
@ThomasKranitsas got acess to topcoder-platform but not able to push yet even with personal acess token.

[2019-05-21 00:30] gurmeetb commented on #26
this is an issue with github, i also faced same so now i don’t use password but generated hash token and use it as password. Give it a try

[2019-05-21 06:32] ThomasKranitsas commented on #26
@rashmi73 try running `git config --global --unset credential.helper` to remove your saved credentials and then set your personal access token as your password.

[2019-05-21 13:23] rashmi73 commented on #26
@gurmeetb thanks tried same and issue exists.

@thomaskranitsas you may have to add manually to me on these two repos.
https://github.com/topcoder-platform/challenge-engine-ui
https://github.com/topcoder-platform/community-nav-prototype

as for adding on rest of repos, mail has been already sent.

[2019-05-21 15:58] rashmi73 commented on #26
@ThomasKranitsas I feel only if I am able to assign this issue myself, then it will allow me to push it, currently asssigning to myself seems disabled. waiting for your comment

[2019-05-21 17:37] rashmi73 commented on #26
@ThomasKranitsas also not able to edit file directly on PR raised,surely access is missing.

[2019-05-22 16:04] ThomasKranitsas commented on #26
Please check your email. You should have got an email to join our org.

[2019-05-22 19:06] ThomasKranitsas commented on #26
Contest https://www.topcoder.com/challenges/30091058 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-05-22 21:15] rashmi73 commented on #26
@ThomasKranitsas PR updated https://github.com/topcoder-platform/challenge-engine-ui/pull/51

[2019-05-28 17:40] ThomasKranitsas commented on #26
@rashmi73 sorry for the long delay here. There is a small issue. Please fix it and I'll merge this

[2019-05-29 09:13] #26 closed

[2019-05-29 09:13] ThomasKranitsas commented on #26
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30091058<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:33] ThomasKranitsas opened #52 "[$40] Expand the sidebar items"
1. We should be able to click and expand each `Project`/item on the sidebar without forcing the page to load a different set of challenges.

Only when we select one of [`Active challenge`, `All challenges`, `New challenge`] the page should change otherwise it should work like a menu.

2. From the `Create New Challenge` page, clicking an item from the sidebar shows the available options and the fir

[2019-06-04 16:34] ThomasKranitsas commented on #52
@topcoder-platform/topcodercompetitors this is open for pickup.

PR on `develop`

[2019-06-04 16:36] ThomasKranitsas opened #53 "[$20] Remove billing account"
From the `Create New Challenge` page, we need to remove the `Billing account` section under the `View Advance Settings`.

<img width="1415" alt="Screenshot 2019-06-04 at 19 35 40" src="https://user-images.githubusercontent.com/4612921/58897027-0aa75900-8700-11e9-80f1-747a5f48e884.png">

[2019-06-04 16:36] ThomasKranitsas commented on #53
@topcoder-platform/topcodercompetitors this is open for pickup

PR on `develop`

[2019-06-04 16:39] ThomasKranitsas commented on #53
Contest https://www.topcoder.com/challenges/30092583 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:39] ThomasKranitsas opened #54 "[$40] Fix challenge prizes section"
1. By default, there should be 2 available prizes with empty values and `Edit` mode should be enabled. Currently, there's none and the copilot has to click `Edit` and add the prizes.

2. Remove the `Challenge Fee`

[2019-06-04 16:39] ThomasKranitsas commented on #54
@topcoder-platform/topcodercompetitors this is open for pickup

PR on `develop`

[2019-06-04 16:41] ThomasKranitsas commented on #54
Contest https://www.topcoder.com/challenges/30092585 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:41] ThomasKranitsas commented on #52
[500]: Challenge for the updated issue 52 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:41] ThomasKranitsas commented on #52
[500]: Challenge for the updated issue 52 is creating, rescheduling this event<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:42] ThomasKranitsas commented on #52
Contest https://www.topcoder.com/challenges/30092586 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:43] ThomasKranitsas commented on #52
Contest https://www.topcoder.com/challenges/30092586 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:43] ThomasKranitsas commented on #52
Contest https://www.topcoder.com/challenges/30092586 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:46] ThomasKranitsas commented on #53
Contest https://www.topcoder.com/challenges/30092583 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:49] ThomasKranitsas opened #55 "[$250] Clean up unneeded code"
1. Remove all code (container/components/actions/reducers/services) related to the `Challenge details` page (Route `/challenges/:id`)

<img width="1644" alt="Screenshot 2019-06-04 at 19 46 06" src="https://user-images.githubusercontent.com/4612921/58897702-979ee200-8701-11e9-89dc-855e0971e131.png">

2. For now, update the links in the listings page so each challenge card points to `www.topcoder.co

[2019-06-04 16:49] ThomasKranitsas commented on #55
@topcoder-platform/topcodercompetitors this is open for pickup

PR on `develop`

[2019-06-04 16:52] ThomasKranitsas commented on #55
Contest https://www.topcoder.com/challenges/30092587 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:53] ThomasKranitsas commented on #55
Contest https://www.topcoder.com/challenges/30092587 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:56] ThomasKranitsas commented on #52
Contest https://www.topcoder.com/challenges/30092586 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 16:56] nahidshahin commented on #53
PR https://github.com/topcoder-platform/challenge-engine-ui/pull/56

[2019-06-04 17:05] ThomasKranitsas commented on #54
Contest https://www.topcoder.com/challenges/30092585 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 17:12] #53 closed

[2019-06-04 17:13] ThomasKranitsas commented on #53
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092583<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 17:22] ThomasKranitsas commented on #52
Contest https://www.topcoder.com/challenges/30092586 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-04 18:10] nahidshahin commented on #54
PR https://github.com/topcoder-platform/challenge-engine-ui/pull/57

[2019-06-04 19:24] #54 closed

[2019-06-04 19:25] ThomasKranitsas commented on #54
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092585<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-05 12:24] #55 closed

[2019-06-05 12:25] ThomasKranitsas commented on #55
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092587<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-05 12:25] ThomasKranitsas commented on #52
Hi @rashmi73, just checking on this..

[2019-06-05 13:28] rashmi73 commented on #52
@thomaskranitsas some time

[2019-06-05 22:20] rashmi73 commented on #52
@ThomasKranitsas PR https://github.com/topcoder-platform/challenge-engine-ui/pull/59

[2019-06-07 10:10] #52 closed

[2019-06-07 10:11] ThomasKranitsas commented on #52
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092586<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-07 16:07] ThomasKranitsas opened #60 "Integrate app with the Projects V4 API"
Swagger: https://github.com/topcoder-platform/tc-project-service/blob/dev/swagger.yaml

### Fetch projects
- Call the `/projects` endpoint to fetch the projects that will be rendered on the sidebar

### Fetch project members
From the `Create new challenge` page, you need to call the `https://api.topcoder.com/v3/members/_search` endpoint using the member's JWT as `Bearer` token to fetch the member

[2019-06-08 10:50] ThomasKranitsas opened #61 "Integrate challenge editor page with the API"
Swagger: https://github.com/topcoder-platform/challenge-api/tree/develop/docs

### 1. Run the API locally

Follow the instructions from https://github.com/topcoder-platform/challenge-api to set up and run the API locally.

---

### 2. Challenge types

Call the `/challengeTypes`  to fetch the available challenge types that will populate the following section:

<img width="864" alt="Screenshot 2019-

[2019-06-08 10:54] PrakashDurlabhji commented on #61
@ThomasKranitsas will this be open?

[2019-06-08 10:55] ThomasKranitsas commented on #61
@PrakashDurlabhji no, not yet. I may open a few issues today. Stay tuned!

[2019-06-08 11:00] ThomasKranitsas opened #62 "[$20] Set review type as required"
1. `Community` should be selected as default.

2. The field should be required. Add a red asterisk after the label and do not allow the user to remove the selected option.

<img width="834" alt="Screenshot 2019-06-08 at 13 58 27" src="https://user-images.githubusercontent.com/4612921/59146351-ad5c2200-89f5-11e9-99cb-d622509b721c.png">

[2019-06-08 11:00] ThomasKranitsas commented on #62
@topcoder-platform/topcodercompetitors this is open for pickup

PR on `develop`

[2019-06-08 11:01] ThomasKranitsas opened #63 "[$50] Minor UI changes"
1. Remove the buttons below the `Detailed requirements` title.

<img width="925" alt="Screenshot 2019-06-08 at 13 52 40" src="https://user-images.githubusercontent.com/4612921/59146028-b39dce80-89f4-11e9-9016-b8bc70089bcd.png">

2. We need to *hide* the Attachments section from the challenge creation page. This should only be visible when editing an existing challenge.

<img width="932" alt="Scree

[2019-06-08 11:01] ThomasKranitsas commented on #63
@topcoder-platform/topcodercompetitors this is open for pickup

PR on `develop`

[2019-06-08 11:02] ThomasKranitsas commented on #62
Contest https://www.topcoder.com/challenges/30092903 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-08 11:02] ThomasKranitsas commented on #62
Contest https://www.topcoder.com/challenges/30092903 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-08 11:03] ThomasKranitsas commented on #63
Contest https://www.topcoder.com/challenges/30092904 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-08 11:03] ThomasKranitsas commented on #63
Contest https://www.topcoder.com/challenges/30092904 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-08 12:36] PrakashDurlabhji commented on #62
@ThomasKranitsas I made a mistake of creating branch on another repo instead of this repo, can you please delete branch issue_62 on https://github.com/topcoder-platform/community-app

[2019-06-08 13:40] PrakashDurlabhji commented on #62
@ThomasKranitsas PR https://github.com/topcoder-platform/challenge-engine-ui/pull/64

[2019-06-09 13:31] #62 closed

[2019-06-09 13:32] ThomasKranitsas commented on #62
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092903<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-09 13:57] #63 closed

[2019-06-09 13:58] ThomasKranitsas commented on #63
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30092904<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-11 10:21] ThomasKranitsas opened #66 "[$80] Add role based access restriction"
We need to prevent users without the appropriate roles from accessing this application.

- If the logged in user does not have at least one of the following allowed roles `[Copilot, Administrator]`, show a message saying `You are not authorized to use this application.`.
- All sub-pages should redirect to the landing `/` page where this message will be shown. The idea is that someone should not be

[2019-06-19 13:17] ThomasKranitsas opened #67 "[$40] Challenge prizes are not shown when section is collapsed"
When the `Challenge prizes` section is collapsed (not in edit mode), the prizes are not visible.

**Expanded**:
<img width="1457" alt="Screenshot 2019-06-19 at 16 13 59" src="https://user-images.githubusercontent.com/4612921/59768617-571c9800-92ad-11e9-9212-0a0f7189a351.png">

**Collapsed**:
<img width="1457" alt="Screenshot 2019-06-19 at 16 14 04" src="https://user-images.githubusercontent.com/46

[2019-06-19 13:32] #60 closed

[2019-06-19 13:36] ThomasKranitsas opened #68 "[$300] Integrate Attachments with the API"
Currently, the `Attachments` section is hidden.
You need to fix it so it's visible when in edit mode and integrate it with the API.

Swagger: https://github.com/topcoder-platform/challenge-api/tree/develop/docs

- Use the `/challenges/:challengeId/attachments` endpoint to upload an attachment.
- Use the `/challenges/:challengeId/attachments/:attachmentId` endpoint to download an attachment.
- To d

[2019-06-19 13:36] #61 closed

[2019-06-19 13:52] ThomasKranitsas opened #69 "Minor style issue in the detailed requirements editor"
As you can see in the screenshot below, the last icon has some `margin` that is creating empty space below the toolbar.

You need to remove that margin.

<img width="1457" alt="Screenshot 2019-06-19 at 16 31 40" src="https://user-images.githubusercontent.com/4612921/59771519-88e42d80-92b2-11e9-85ea-475857431126.png">

[2019-06-19 14:19] ThomasKranitsas opened #70 "[$120] Fix edit challenge schedule section"
### 1. Default state

By default, there should be no phases. The copilot has to select a template to import the phases.

### 2. Sorting

The phases should be sorted based on the `phases` property of the template.

### 3. Challenge start date

Add a field that will always be available and that the copilot cannot delete before the phases named `Start date`.

This should set the value of the `startDa

[2019-06-19 14:29] ThomasKranitsas opened #71 "[$120] Replace challenge schedule preview with gantt chart"
You need to replace the following section with a Gantt chart
<img width="994" alt="Screenshot 2019-06-19 at 17 07 36" src="https://user-images.githubusercontent.com/4612921/59773637-a1564700-92b6-11e9-8bfb-c4a807f34630.png">

- Use the following library https://react-google-charts.com/gantt-chart
- The `width` should be `100%` and the `height` should be `400px`

### Phase dates calculation logic:

[2019-06-19 14:34] ThomasKranitsas opened #72 "[$50] Code documentation"
Document all code inside the following directories:
- `src/services`
- `src/util`
- `src/actions`

Make sure all existing documentation is up to date

[2019-06-19 14:40] ThomasKranitsas opened #73 "[$20] Default user avatar"
Some users don't have an avatar and in this case, the UI is broken.

<img width="1457" alt="Screenshot 2019-06-19 at 17 39 36" src="https://user-images.githubusercontent.com/4612921/59775123-4a05a600-92b9-11e9-8d45-3490803fe5ab.png">

Use the attached SVG as the default avatar.
[user.svg.zip](https://github.com/topcoder-platform/challenge-engine-ui/files/3306589/user.svg.zip)

[2019-06-19 14:44] ThomasKranitsas commented on #1
@topcoder-platform/topcodercompetitors I'll open some tickets for pickup soon. Please only pick up an issue if you see the `tcx_OpenForPickup` label assigned. Do not pick up any ticket that does not have that label.

[2019-06-19 14:48] ThomasKranitsas commented on #67
Contest https://www.topcoder.com/challenges/30093880 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:48] ThomasKranitsas commented on #69
Contest https://www.topcoder.com/challenges/30093883 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:48] ThomasKranitsas commented on #69
Contest https://www.topcoder.com/challenges/30093883 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:48] ThomasKranitsas commented on #72
Contest https://www.topcoder.com/challenges/30093884 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:48] ThomasKranitsas commented on #72
Contest https://www.topcoder.com/challenges/30093884 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:48] ThomasKranitsas commented on #66
Contest https://www.topcoder.com/challenges/30093881 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:48] ThomasKranitsas commented on #68
Contest https://www.topcoder.com/challenges/30093882 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:48] ThomasKranitsas commented on #66
Contest https://www.topcoder.com/challenges/30093881 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:48] ThomasKranitsas commented on #68
Contest https://www.topcoder.com/challenges/30093882 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:49] ThomasKranitsas commented on #71
Contest https://www.topcoder.com/challenges/30093885 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:49] ThomasKranitsas commented on #71
Contest https://www.topcoder.com/challenges/30093885 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:50] ThomasKranitsas commented on #73
Contest https://www.topcoder.com/challenges/30093886 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:50] ThomasKranitsas commented on #73
Contest https://www.topcoder.com/challenges/30093886 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:50] ThomasKranitsas commented on #71
Contest https://www.topcoder.com/challenges/30093885 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:51] ThomasKranitsas commented on #70
Contest https://www.topcoder.com/challenges/30093887 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:51] ThomasKranitsas commented on #70
Contest https://www.topcoder.com/challenges/30093887 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:52] ThomasKranitsas commented on #66
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-06-19 14:53] ThomasKranitsas commented on #72
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-06-19 14:53] ThomasKranitsas commented on #68
Contest https://www.topcoder.com/challenges/30093882 has been updated - it has been assigned to nauhil.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:54] ThomasKranitsas commented on #67
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-06-19 14:54] ThomasKranitsas commented on #67
Contest https://www.topcoder.com/challenges/30093880 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:55] ThomasKranitsas commented on #73
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-06-19 14:56] ThomasKranitsas commented on #66
Contest https://www.topcoder.com/challenges/30093881 has been updated - it has been assigned to mhykol.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 14:57] ThomasKranitsas commented on #1
Since we have integrated the app with the API, you will have to start the backend locally.

The backend is located here https://github.com/topcoder-platform/challenge-api
Follow the instructions to set it up and run it

[2019-06-19 14:59] ThomasKranitsas commented on #69
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-06-19 15:00] ThomasKranitsas commented on #1
Or you can use my challenge API instance https://tc-challenges-v5-dev.herokuapp.com

[2019-06-19 15:04] nahidshahin commented on #73
@ThomasKranitsas can you please assign to the?

[2019-06-19 15:08] ThomasKranitsas commented on #73
Contest https://www.topcoder.com/challenges/30093886 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 15:10] sexta13 commented on #69
can you assign this one to me?

[2019-06-19 15:12] ThomasKranitsas commented on #69
@sexta13 I can't find you in our org. What's your Topcoder username?

[2019-06-19 15:14] ThomasKranitsas commented on #69
Contest https://www.topcoder.com/challenges/30093883 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 15:15] sexta13 commented on #69
I don't know why, but I'm not in the organization... how can i be added?

[2019-06-19 15:15] ThomasKranitsas commented on #69
Do you have 2FA enabled in your account? If not, this is why you were removed.

[2019-06-19 15:16] sexta13 commented on #69
I can add 2FA ;)

[2019-06-19 15:17] ThomasKranitsas commented on #69
Ok, please enable 2FA and then contact support@topcoder.com and ask them to add you to https://github.com/orgs/topcoder-platform/teams/topcodercompetitors

[2019-06-19 15:17] ThomasKranitsas commented on #72
Contest https://www.topcoder.com/challenges/30093884 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 15:18] ThomasKranitsas commented on #72
@PrakashDurlabhji you can't have 2 tickets at the same time.

[2019-06-19 15:18] PrakashDurlabhji commented on #69
@ThomasKranitsas i guess sexta commented and i assigned myself.

[2019-06-19 15:18] sexta13 commented on #69
Ok. I've added the 2FA now. I'll send the email...meanwhile, can I keep it?

[2019-06-19 15:19] ThomasKranitsas commented on #69
@sexta13 sure. Please work on it

[2019-06-19 15:19] ThomasKranitsas commented on #72
@PrakashDurlabhji sorry, I just saw you left the other one.

[2019-06-19 15:20] PrakashDurlabhji commented on #72
@ThomasKranitsas i unassigned myself on another as sexta commented before me

[2019-06-19 15:22] metanalyticsin commented on #70
Plz assign me

[2019-06-19 15:23] ThomasKranitsas commented on #70
@metanalyticsin this is not open for pickup. Please read the rules here #1

[2019-06-19 15:25] ThomasKranitsas commented on #71
Contest https://www.topcoder.com/challenges/30093885 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 15:51] ThomasKranitsas commented on #69
Contest https://www.topcoder.com/challenges/30093883 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 15:51] ThomasKranitsas commented on #71
@gurmeetb this is not open for pickup yet.

[2019-06-19 16:00] ThomasKranitsas commented on #69
@marioskranitsas - @sexta13 is working on this.

[2019-06-19 16:02] #67 closed

[2019-06-19 16:02] ThomasKranitsas commented on #67
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30093880<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 16:12] ThomasKranitsas commented on #70
Contest https://www.topcoder.com/challenges/30093887 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 16:17] ThomasKranitsas commented on #71
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup

[2019-06-19 16:17] ThomasKranitsas commented on #70
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup

[2019-06-19 16:17] ThomasKranitsas commented on #70
Contest https://www.topcoder.com/challenges/30093887 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 16:18] ThomasKranitsas commented on #71
Contest https://www.topcoder.com/challenges/30093885 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 16:32] ThomasKranitsas commented on #69
Contest https://www.topcoder.com/challenges/30093883 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 16:38] ThomasKranitsas opened #75 "[$40] Update challenge editor action buttons"
For new or `Draft` challenges, keep the action buttons as they currently are.

For `Active` challenges, remove the `Save as Draft` and change the `Launch` to `Update`.

<img width="1457" alt="Screenshot 2019-06-19 at 19 38 04" src="https://user-images.githubusercontent.com/4612921/59783850-c7d1ad80-92c9-11e9-8c95-2e64b088276e.png">

[2019-06-19 16:38] ThomasKranitsas commented on #75
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-06-19 16:40] ThomasKranitsas commented on #75
Contest https://www.topcoder.com/challenges/30093893 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 16:48] ThomasKranitsas commented on #75
Contest https://www.topcoder.com/challenges/30093893 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-19 18:17] nahidshahin commented on #73
PR https://github.com/topcoder-platform/challenge-engine-ui/pull/76

[2019-06-20 00:03] sexta13 commented on #69
I've already created a pull request. Please change label while I don't have access to do it @ThomasKranitsas  :)
Thanks

[2019-06-20 06:54] ThomasKranitsas commented on #69
@sexta13 what's your Topcoder username?

[2019-06-20 07:17] #73 closed

[2019-06-20 07:18] ThomasKranitsas commented on #73
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30093886<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-20 08:25] sexta13 commented on #69
It's sexta13.

Thanks

A Qui, 20 de jun de 2019, 07:54, Thomas Kranitsas <notifications@github.com>
escreveu:

[2019-06-20 08:31] ThomasKranitsas commented on #69
Ok, I'll process the payment manually until support adds you on the org

[2019-06-20 08:31] #69 closed

[2019-06-20 09:01] sexta13 commented on #69
One special note regarding this fix. Developers should be aware that the
CSS is not being hashed by file/component and that's why that component got
a CSS defined in another file that had nothing to do with the editor.

Regards,

A Qui, 20 de jun de 2019, 09:31, Thomas Kranitsas <notifications@github.com>
escreveu:

[2019-06-20 13:59] nauhil commented on #68
Due to spend lots of time for deploy AWS S3 locally,  still cannot testing locally.

Open ticket for other members.

[2019-06-20 14:58] ThomasKranitsas commented on #66
@mhikeo what's the status here?

[2019-06-20 14:59] ThomasKranitsas commented on #71
@rashmi73 what's the status here?

[2019-06-20 14:59] ThomasKranitsas commented on #72
@PrakashDurlabhji what's the status here?

[2019-06-20 15:00] ThomasKranitsas commented on #75
@Gauravseta what's the status here?

[2019-06-20 15:01] #70 closed

[2019-06-20 15:02] ThomasKranitsas commented on #70
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30093887<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-20 15:12] PrakashDurlabhji commented on #72
@ThomasKranitsas yes active sometime

[2019-06-20 15:35] ThomasKranitsas commented on #68
Contest https://www.topcoder.com/challenges/30093882 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-20 15:55] ThomasKranitsas opened #80 "[$150] Support auto-save"
This is a new feature to make working on challenges as easy as working on Google docs.
The copilot should not worry about saving his progress and should just have to hit the `Launch` button once ready.

### Requirements:

- Opening the editor should create an empty challenge to get back the `ID`
- Use `_.throttle` to auto-save all changes while the copilot is preparing the challenge. Use `PATCH` r

[2019-06-20 15:56] PrakashDurlabhji commented on #72
@ThomasKranitsas PR https://github.com/topcoder-platform/challenge-engine-ui/pull/79

[2019-06-20 19:31] Gauravseta commented on #75
@ThomasKranitsas on clicking edit in challenge list,
giving some error on screen in red, it redirects back to  http://local.topcoder-dev.com:3000/

[2019-06-20 20:57] Gauravseta commented on #75
@ThomasKranitsas done https://github.com/topcoder-platform/challenge-engine-ui/pull/81

[2019-06-20 21:02] rashmi73 commented on #71
@ThomasKranitsas bit difficult need time. thank you. else i open myself

[2019-06-20 21:12] ThomasKranitsas commented on #66
Contest https://www.topcoder.com/challenges/30093881 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-20 21:28] gurmeetb commented on #68
@ThomasKranitsas when I click Edit on challenge, it redirects me back to HomePage with quick error screen. Can you suggest how to overcome this?

[2019-06-20 22:08] ThomasKranitsas commented on #68
@gurmeetb you will have to create a new challenge and then click “view challenge”.

The current listings page is reading from v4 so those challenges don’t exist on v5

[2019-06-20 22:17] ThomasKranitsas commented on #71
Ok, please do your best to complete it ASAP

[2019-06-21 06:15] gurmeetb commented on #68
@ThomasKranitsas trying to push a new challenge, `message: ""phases" must contain at least 1 items"` is complained. I don't see phases in UI.

[2019-06-21 08:11] #75 closed

[2019-06-21 08:12] ThomasKranitsas commented on #75
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30093893<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-21 08:14] #72 closed

[2019-06-21 08:14] ThomasKranitsas commented on #72
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30093884<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-21 10:02] nauhil commented on #68
@ThomasKranitsas I have been set successfully S3 for testing. If @gurmeetb cannot finish it after 24hr. I can handle this ticket

[2019-06-21 10:03] ThomasKranitsas opened #82 "[$80] Integrate tags with the API"
Currently, we are reading the tags from a JSON file.

You need to fetch the tags from the following endpoint:
https://api.topcoder.com/v3/tags/?domain=SKILLS&status=APPROVED

<img width="844" alt="Screenshot 2019-06-21 at 12 56 47" src="https://user-images.githubusercontent.com/4612921/59914896-15622d80-9424-11e9-9eb6-a5993ad6f98e.png">

[2019-06-21 10:03] ThomasKranitsas commented on #82
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

[2019-06-21 10:05] ThomasKranitsas commented on #82
Contest https://www.topcoder.com/challenges/30094030 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-21 10:17] ThomasKranitsas commented on #82
Contest https://www.topcoder.com/challenges/30094030 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-21 10:17] gurmeetb commented on #68
@nauhil  go ahead.

[2019-06-21 10:19] ThomasKranitsas commented on #68
Contest https://www.topcoder.com/challenges/30093882 has been updated - it has been assigned to nauhil.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-21 13:21] ThomasKranitsas commented on #71
@rashmi73 any luck?

[2019-06-21 14:27] nauhil commented on #68
I follow the `README.md` file https://github.com/topcoder-platform/challenge-api/blob/develop/README.md

export AUTH0_CLIENT_SECRET=3QVxxu20QnagdH-McWhVz0WfsQzA1F8taDdGDI4XphgpEYZPcMTF4lX3aeOIeCzh
export AUTH0_URL=https://topcoder-dev.auth0.com/oauth/token
export AUTH0_AUDIENCE=https://m2m.topcoder-dev.com/

I faced the error when I update challenge though POSTMAN
![Alt text](https://monosnap.com/

[2019-06-21 14:46] ThomasKranitsas commented on #1
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors please DO NOT post M2M credentials (eg `AUTH0_CLIENT_ID`, `AUTH0_CLIENT_SECRET`).

Those are sensitive information that should not be publicly available.

[2019-06-21 14:52] cwdcwd commented on #68
looks correct. Does curling for token work?
[code]

[2019-06-21 18:42] gurmeetb commented on #71
@ThomasKranitsas I can pick this up if @rashmi73 is blocked.

[2019-06-21 18:43] ThomasKranitsas commented on #71
Contest https://www.topcoder.com/challenges/30093885 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-21 20:01] gurmeetb commented on #71
@ThomasKranitsas we will need change in logic a bit for putting - here is what is happening, since we are saving duration for each phase, we no way know whether it is from StartDate of last Phase. For Ex: Registration and Submission will always have this issue since they both start from StartDate but other phases start from end of previous phase.

How should we handle this? I think I have working

[2019-06-21 20:06] gurmeetb commented on #71
![Picture_is_More_valuable](https://user-images.githubusercontent.com/14284629/59948549-fef0bc00-948d-11e9-9ea7-ca83e14347ff.jpg)

Here it is ☝️ what I mean. I have it working but we need fix for this issue for Registration/Submission as they both start from Start Date. Shall I put a check for the phase name to handle this ?

[2019-06-21 20:08] ThomasKranitsas commented on #71
@gurmeetb can you please pull the latest code? I’ve added some code to calculate the end date of each phase on the fly. Start date is the end date of the predecessor or the start date of the challenge.

You can reuse the same logic here

[2019-06-21 20:17] gurmeetb commented on #71
@ThomasKranitsas ok

[2019-06-21 20:21] PrakashDurlabhji commented on #66
@ThomasKranitsas
**All sub-pages should redirect to the landing / page where this message will be shown. The idea is that someone should not be able to access the page to edit a challenge by following a direct URL.**

1. cant we show a message there itself rather than redirecting to /?
2. confused by the statement 'All sub-pages'?
3. is this redirection is applicable on edit page only?

[2019-06-21 20:36] gurmeetb commented on #71
We will still have an issue, remm `endDate of Registration is not start date of Submission`, so we will need check for name (which will be kind of HACK, and break if we have change in phases flow).

[2019-06-22 03:05] nauhil commented on #68
Could I use action method instead of service method in component?
https://github.com/topcoder-platform/challenge-engine-ui/blob/develop/src/components/ChallengeEditor/index.js#L80

I can not get challenge data from props,  all data of challenge in state not props. It's not best practice

[2019-06-22 03:12] nauhil commented on #68
https://github.com/topcoder-platform/challenge-engine-ui/blob/fe0dc620838a221013389e8a6b5daafb0b190095/src/components/ChallengeEditor/index.js#L90

[2019-06-22 09:48] nauhil commented on #68
For Drag&Drop File
![Alt text](https://monosnap.com/image/uBNfvyTzZAskJUPy5wjQMXnJsnm0FX)

The component should be supported drag and drop.

Does this package acceptable https://react-dropzone.netlify.com/

[2019-06-22 13:39] nauhil commented on #68
https://github.com/topcoder-platform/challenge-engine-ui/issues/68#issuecomment-504621561
https://github.com/topcoder-platform/challenge-engine-ui/issues/68#issuecomment-504650296

Both requirements have been finished.

One more thing, I think there should be displayed message like https://www.npmjs.com/package/react-redux-toastr when upload failure.

Any thoughts ?

[2019-06-24 07:29] ThomasKranitsas commented on #68
Adding `react-redux-toastr` sounds good

[2019-06-24 07:33] ThomasKranitsas commented on #66
1. Any reason for this?
2. I mean all routes.
3. It applies to all routes.

@PrakashDurlabhji let's get this done ASAP, please.

[2019-06-24 07:42] #71 closed

[2019-06-24 07:42] ThomasKranitsas commented on #71
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30093885<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-24 07:49] #82 closed

[2019-06-24 07:49] ThomasKranitsas commented on #82
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30094030<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-24 08:50] gurmeetb commented on #66
@ThomasKranitsas if @PrakashDurlabhji is blocked, I can pick it up next to give a try.

[2019-06-24 08:55] nauhil commented on #68
OK

Almost done. Fixing conflicts and prepare raise PR

[2019-06-24 08:58] PrakashDurlabhji commented on #66
@ThomasKranitsas yes i will complete this as soon as possible, actively working.

[2019-06-24 09:26] PrakashDurlabhji commented on #66
@ThomasKranitsas message need to be displayed using redux toastr?

[2019-06-24 09:38] ThomasKranitsas commented on #66
No, don't use redux toastr for this.

[2019-06-24 09:39] ThomasKranitsas commented on #66
Just show a container like this https://tc-sub-review-app-design.herokuapp.com/#artboard0 with a message saying `You are not authorized to use this application.`

[2019-06-24 11:48] #68 closed

[2019-06-24 11:49] ThomasKranitsas commented on #68
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30093882<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-24 13:30] ThomasKranitsas commented on #66
@PrakashDurlabhji can I get a status update, please?

[2019-06-24 13:48] PrakashDurlabhji commented on #66
@ThomasKranitsas yes completed almost PR in 15 minutes

[2019-06-24 14:08] PrakashDurlabhji commented on #66
@ThomasKranitsas kindly check PR https://github.com/topcoder-platform/challenge-engine-ui/pull/86

[2019-06-24 17:23] PrakashDurlabhji commented on #66
@ThomasKranitsas how to find roles?

I do not find roles on user object.

kindly guide

[2019-06-24 19:12] ThomasKranitsas commented on #66
You'll have to decode the JWT

[2019-06-24 19:18] PrakashDurlabhji commented on #66
@ThomasKranitsas PR has been updated assuming roles are received in user object.

decode JWT?

any similar implementation ?

secret is required for that i guess

[2019-06-24 19:19] PrakashDurlabhji commented on #66
@ThomasKranitsas jwt-decode is present in dependency will see from that.

[2019-06-24 19:37] PrakashDurlabhji commented on #66
@ThomasKranitsas PR updated  #86

[2019-06-25 12:25] #66 closed

[2019-06-25 12:26] ThomasKranitsas commented on #66
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30093881<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-06-30 14:30] ThomasKranitsas opened #87 "Manage challenge resources"
When we create/update a challenge, we should manage the following resources:
- Challenge copilot (if selected)
- Reviewer (if the review type is set to internal)
- Observers (all members that have access to the same group. Maybe filtered by roles?)
- Manager (similar to Observers but with write access. Filtered by roles)

The review role IDs should be configurable.

[2019-06-30 14:30] ThomasKranitsas commented on #87
@cwdcwd thoughts on this?

[2019-07-02 02:33] cwdcwd commented on #87
we could probably push that to a processor instead of coding it into the API

[2019-07-04 11:04] ThomasKranitsas opened #89 "[$40] Prizes are not showing up when editing a challenge"
From https://challenges.topcoder-dev.com, click `Edit` on any challenge and then collapse the `Challenge Prizes` section by clicking the `Edit` button.

You can see that the prizes are not showing up even if there are prizes.

If you edit the prizes then they will show up.

You need to fix it so prizes show up properly when editing a challenge.

[2019-07-04 11:04] ThomasKranitsas commented on #89
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.

PR on the `develop` branch.

[2019-07-04 11:06] ThomasKranitsas opened #90 "[$40] Preserve status on draft challenges"
Currently, if we save a challenge as `Draft`, there's no way to edit it unless we first activate it.

1. We need to be able to see the `Edit` link along with the `Activate` button when we hover over the challenge in the main page.

2. When we navigate to the challenge edit page, if the challenge is already saved, it only shows an `Update` button. We need to check the challenge status and if it's n

[2019-07-04 11:06] ThomasKranitsas commented on #90
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.

PR on the `develop` branch.

[2019-07-04 11:08] ThomasKranitsas commented on #89
Contest https://www.topcoder.com/challenges/30095071 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-04 11:08] ThomasKranitsas commented on #90
Contest https://www.topcoder.com/challenges/30095072 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-04 11:09] ThomasKranitsas commented on #89
Contest https://www.topcoder.com/challenges/30095071 has been updated - it has been assigned to nahidshahin.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-04 11:09] LieutenantRoger commented on #89
Hello,
Can one person take two tickets at once ?

[2019-07-04 11:10] ThomasKranitsas commented on #90
Contest https://www.topcoder.com/challenges/30095072 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-04 11:19] PrakashDurlabhji commented on #90
@thomaskranitsas any more open soon?

[2019-07-04 12:36] nahidshahin commented on #89
@ThomasKranitsas here is the initial view:
![Selection_059](https://user-images.githubusercontent.com/1224995/60667114-896fed00-9e8a-11e9-9074-99b188ad7881.jpg)

After clicking edit:
![Selection_060](https://user-images.githubusercontent.com/1224995/60667118-8aa11a00-9e8a-11e9-8192-9d65c71e8217.jpg)

where is the problem?

[2019-07-04 17:21] ThomasKranitsas commented on #90
perhaps later today or tomorrow

[2019-07-04 17:23] ThomasKranitsas commented on #89
@nahidshahin take a look here https://take.ms/d2iP2

This only happens when you click edit on an existing challenge and click edit on the prizes sections **without** modifying anything.

[2019-07-04 18:08] nahidshahin commented on #89
@ThomasKranitsas PR https://github.com/topcoder-platform/challenge-engine-ui/pull/92

[2019-07-04 18:18] #89 closed

[2019-07-04 18:19] #90 closed

[2019-07-04 18:19] ThomasKranitsas commented on #89
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095071<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-04 18:19] ThomasKranitsas commented on #90
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095072<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-04 18:26] ThomasKranitsas opened #93 "[$40] Update challenge cards"
Update the challenge card component based on the following design.

![8 0 active challenges](https://user-images.githubusercontent.com/4612921/60683681-abc13500-9ea1-11e9-8865-b753bc4a724f.png)

This includes:
1. The track icon. Color is based on the track and the text should be based on the challenge type instead of the sub track. We can get rid of the `Abbreviation` list we have right now.
2. Th

[2019-07-04 18:27] ThomasKranitsas commented on #93
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup

PR on the `develop` branch

[2019-07-04 18:28] ThomasKranitsas commented on #93
Contest https://www.topcoder.com/challenges/30095102 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-04 18:32] r0hit-gupta commented on #93
Please assign this to me

[2019-07-04 18:33] ThomasKranitsas commented on #93
Contest https://www.topcoder.com/challenges/30095102 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-04 18:34] ThomasKranitsas commented on #93
Contest https://www.topcoder.com/challenges/30095102 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-04 19:33] r0hit-gupta commented on #93
PR #94

[2019-07-05 08:21] #93 closed

[2019-07-05 08:21] ThomasKranitsas commented on #93
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095102<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 19:04] ThomasKranitsas opened #95 "[$20] Fix flickering when hover over challenge card"
Currently, when you put your cursor right after a challenge card, the card is flickering.

Video: https://take.ms/9NDOM

This is most probably happening because an element is getting outside of its parent container.

[2019-07-11 19:04] ThomasKranitsas commented on #95
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.
PR on `develop` branch.

[2019-07-11 19:09] ThomasKranitsas commented on #95
Contest https://www.topcoder.com/challenges/30095600 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 19:11] ThomasKranitsas commented on #95
Contest https://www.topcoder.com/challenges/30095600 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 19:11] ThomasKranitsas opened #96 "[$60] Incorrect loading of challenges"
If you go directly into a project page (eg https://challenges.topcoder-dev.com/projects/129/challenges/active), the app is loading all challenges (ignores filters).

If you go to the same page from the sidebar instead of the URL, it's working fine.

<img width="1492" alt="Screenshot 2019-07-11 at 22 10 05" src="https://user-images.githubusercontent.com/4612921/61078124-a5decd00-a428-11e9-8cb9-57e2

[2019-07-11 19:12] ThomasKranitsas commented on #96
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.
PR on develop branch.

[2019-07-11 19:13] ThomasKranitsas commented on #96
Contest https://www.topcoder.com/challenges/30095601 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 19:14] ThomasKranitsas commented on #96
Contest https://www.topcoder.com/challenges/30095601 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 20:27] #95 closed

[2019-07-11 20:27] ThomasKranitsas commented on #95
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095600<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 20:54] ThomasKranitsas opened #98 "[$40] App crashes when I select Design as the challenge track"
From the `Create new challenge` page, select the `Design` track.

Notice the app will crash.
<img width="1516" alt="Screenshot 2019-07-11 at 23 53 02" src="https://user-images.githubusercontent.com/4612921/61084696-36240e80-a437-11e9-98f3-b5de384ae9ec.png">

You need to identify and fix the error.

[2019-07-11 20:55] ThomasKranitsas commented on #98
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.
PR on `develop` branch.

[2019-07-11 20:56] ThomasKranitsas commented on #98
Contest https://www.topcoder.com/challenges/30095603 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 20:57] ThomasKranitsas commented on #98
Contest https://www.topcoder.com/challenges/30095603 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-11 21:29] #98 closed

[2019-07-11 21:29] ThomasKranitsas commented on #98
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095603<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-12 15:39] PrakashDurlabhji commented on #96
@ThomasKranitsas it is completed raising PR

[2019-07-12 16:17] PrakashDurlabhji commented on #96
@ThomasKranitsas PR at https://github.com/topcoder-platform/challenge-engine-ui/pull/100

[2019-07-14 14:54] #96 closed

[2019-07-14 14:56] ThomasKranitsas commented on #96
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095601<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-15 09:36] ThomasKranitsas opened #101 "[$80] Performance fixes"
### 1. Fix performance on challenge listings

Currently, we are rendering the challenge cards only after everything is loaded. That means if there are many challenges and we need to fetch all of them using pagination, there's a lot of waiting time until everything is loaded.

For example, https://challenges.topcoder-dev.com/ takes ~14s to load as it's loading 12 pages of results.

You need to:
- S

[2019-07-15 09:36] ThomasKranitsas commented on #101
@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors this is open for pickup

PR on `develop` branch

[2019-07-15 09:38] ThomasKranitsas commented on #101
Contest https://www.topcoder.com/challenges/30095739 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-15 09:50] ThomasKranitsas commented on #101
Contest https://www.topcoder.com/challenges/30095739 has been updated - it has been assigned to gurmeetb.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-15 11:59] ThomasKranitsas opened #102 "[$70] Challenge editor UI fixes"
### 1. Add support to remove the copilot

Currently, it's not possible to remove the copilot.

When we click the selected option, it should deselect the selected copilot.

### 2. Issue with the time picker

Currently, the time picker on the challenge schedule has an `x` button that allows you to delete the date. We don't need that. Remove the `x` button.

### 3. Remove the `x` button from the term

[2019-07-15 11:59] ThomasKranitsas commented on #102
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR on `develop`

[2019-07-15 12:01] ThomasKranitsas commented on #102
Contest https://www.topcoder.com/challenges/30095757 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-15 12:01] ThomasKranitsas commented on #102
Contest https://www.topcoder.com/challenges/30095757 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-15 18:56] #102 closed

[2019-07-15 18:57] ThomasKranitsas commented on #102
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095757<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-15 20:14] gurmeetb commented on #101
Sorry @ThomasKranitsas couldn't complete it, so opening it for others.

@topcoder-platform/tcxcommunity @topcoder-platform/topcodercompetitors  this is open

[2019-07-15 20:20] r0hit-gupta commented on #101
Please assign me

[2019-07-15 20:35] ThomasKranitsas commented on #101
Contest https://www.topcoder.com/challenges/30095739 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-16 07:59] r0hit-gupta commented on #101
Need a little more time. Working on it.

[2019-07-16 19:02] r0hit-gupta commented on #101
Please review. PR #104

[2019-07-16 19:09] #101 closed

[2019-07-16 19:09] ThomasKranitsas commented on #101
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095739<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-17 10:56] ThomasKranitsas opened #105 "[$30] Reset phases on select new timeline template"
### Steps to reproduce
- Go to the `Create new challenge` page
- Go to the challenge schedule section
- Select `Standard Code`
- Change the duration on any phase (i.e. `Registration`)
- Select a different timeline template
- Observe

### Actual behavior

The phase duration is the same as before

### Expected behavior

The phase duration should be reset based on the duration from the timeline templ

[2019-07-17 10:57] ThomasKranitsas commented on #105
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR on `develop` branch

[2019-07-17 10:58] r0hit-gupta commented on #105
Please assign me

[2019-07-17 11:01] ThomasKranitsas commented on #105
Contest https://www.topcoder.com/challenges/30095888 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-17 11:02] ThomasKranitsas commented on #105
Contest https://www.topcoder.com/challenges/30095888 has been updated - it has been assigned to rohitgupta_.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-17 11:08] ThomasKranitsas opened #106 "[$40] Show error message when challenge failed to load"
Currently, if the challenge or the project fails to load, the app throws errors.
<img width="1383" alt="Screenshot 2019-07-17 at 14 02 33" src="https://user-images.githubusercontent.com/4612921/61370863-0f813000-a89c-11e9-9948-d56d5421ed76.png">
<img width="1383" alt="Screenshot 2019-07-17 at 14 02 54" src="https://user-images.githubusercontent.com/4612921/61370864-0f813000-a89c-11e9-9c5d-4dd7bd70

[2019-07-17 11:08] ThomasKranitsas commented on #106
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR on `develop` branch

[2019-07-17 11:10] ThomasKranitsas commented on #106
Contest https://www.topcoder.com/challenges/30095892 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-17 11:11] ThomasKranitsas opened #107 "[$40] Update sidebar"
- Currently, it's possible to open multiple projects from the sidebar. Clicking a new item should close the currently open item.
- Add a new link on the sidebar that will take the user to the home page. Name it `Active challenges` and make it selected by default (when on the landing page).

[2019-07-17 11:11] ThomasKranitsas commented on #107
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup

PR on `develop` branch

[2019-07-17 11:12] ThomasKranitsas commented on #106
Contest https://www.topcoder.com/challenges/30095892 has been updated - it has been assigned to marioskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-17 11:12] sumitdaga commented on #107
@ThomasKranitsas
can you assign this to me? ..i can't assign to myself !

[2019-07-17 11:13] ThomasKranitsas commented on #107
Contest https://www.topcoder.com/challenges/30095893 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-17 11:15] ThomasKranitsas commented on #107
Contest https://www.topcoder.com/challenges/30095893 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-17 19:01] sumitdaga commented on #107
@ThomasKranitsas
#1) if an open project is the active project(one of the menus is selected) and another project is opened, then will the active project also reset.

[2019-07-17 19:02] ThomasKranitsas commented on #107
Good question! Let’s keep the active one open

[2019-07-17 19:38] r0hit-gupta commented on #105
Please review. PR #109

[2019-07-18 08:42] sumitdaga commented on #107
@ThomasKranitsas  PR at #110
i by mistake unassigned myself, please assign me again (btw can you add me to the group so that i can do it myself)

this issue's prize i think is lesser than the effort it took to fix it, please consider the prize
if a project was selected with (active challenges) (url: http://localhost:3000/projects/127/challenges/active) and the page was refreshed the sidebar didn't

[2019-07-18 09:35] ThomasKranitsas commented on #107
Contest https://www.topcoder.com/challenges/30095893 has been updated - it has been assigned to daga_sumit.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-24 19:24] #106 closed

[2019-07-24 19:24] ThomasKranitsas commented on #106
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095892<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-24 20:30] #105 closed

[2019-07-24 20:31] ThomasKranitsas commented on #105
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095888<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-24 20:33] #107 closed

[2019-07-24 20:33] ThomasKranitsas commented on #107
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30095893<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-25 02:12] sumitdaga commented on #107
@ThomasKranitsas any comments about my prize raise request? 😊

[2019-07-31 05:29] ThomasKranitsas opened #111 "[$30] Update endpoint to fetch challenges"
Update the app so we're passing the `memberId` as a query parameter using the ID of the logged-in user to fetch challenges.

Ref: https://github.com/topcoder-platform/challenge-api/blob/bd9fb3ff52a53efe7b8e30b911a0e65ddc351999/docs/swagger.yaml#L159

[2019-07-31 05:30] ThomasKranitsas commented on #111
@topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity this is open for pickup.

PR on `develop` branch.

[2019-07-31 05:32] ThomasKranitsas commented on #111
Contest https://www.topcoder.com/challenges/30098154 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-07-31 06:14] ThomasKranitsas commented on #111
Contest https://www.topcoder.com/challenges/30098154 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-08-01 01:21] rashmi73 commented on #111
@ThomasKranitsas PR https://github.com/topcoder-platform/challenge-engine-ui/pull/112

[2019-08-01 01:45] #111 closed

[2019-08-01 01:46] ThomasKranitsas commented on #111
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30098154<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-09-11 12:00] ThomasKranitsas opened #113 "[$20] Add health check endpoint"
Create a `/health` endpoint using the https://www.npmjs.com/package/topcoder-healthcheck-dropin

[2019-09-23 20:07] ThomasKranitsas commented on #113
Contest https://www.topcoder.com/challenges/30103188 has been created for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-09-23 20:07] ThomasKranitsas commented on #113
Contest https://www.topcoder.com/challenges/30103188 has been updated - the new changes has been updated for this ticket.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-09-23 20:07] ThomasKranitsas commented on #113
Contest https://www.topcoder.com/challenges/30103188 has been updated - it has been assigned to thomaskranitsas.<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-09-23 20:07] #113 closed

[2019-09-23 20:08] ThomasKranitsas commented on #113
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30103188<br/><br/>```This is an automated message for thomaskranitsas via Topcoder X```

[2019-11-05 03:30] jmgasper opened #117 ""Search Challenges" textbox doesn't look great"
We need to tweak the "Search Challenges" textbox to have the prompt text be centered in the textbox instead of top-aligned.

<img width="339" alt="Screen Shot 2019-11-05 at 2 29 34 pm" src="https://user-images.githubusercontent.com/21790/68176419-df8ba300-ffd8-11e9-98fc-d5e7e0505880.png">

[2019-11-05 03:31] jmgasper opened #118 ""Active Challenges" tab"
The "Active Challenges" tab shouldn't require a user to select a project - this tab should show all active challenges for the logged in user across all projects.

<img width="1338" alt="Screen Shot 2019-11-05 at 2 31 43 pm" src="https://user-images.githubusercontent.com/21790/68176452-fe8a3500-ffd8-11e9-9afc-93f9ff8a88b4.png">

[2019-11-05 03:36] jmgasper opened #119 "Update projects list"
The projects list on the left isn't overly user-friendly.

I think we can make this better by making the following changes:

### Updated list
Don't make each element expandable / collapsible.  We'll just show the list of projects and allow the user to select one.  We'll remove the `Active Challenges`, `All Challenges`, and `New Challenge` buttons for every project.

### Selected project
We'll have

[2019-11-05 03:42] jmgasper opened #120 "Copilot picture is squished"
On the current `Create New Challenge` page, the copilot picture is badly stretched / squished.
We need to fix this so that it keeps the aspect ratio when stretching, similar to what Github does for it's profile pictures.

<img width="488" alt="Screen Shot 2019-11-05 at 2 42 06 pm" src="https://user-images.githubusercontent.com/21790/68176855-71e07680-ffda-11e9-9358-7d2f72c21b0d.png">

[2019-11-05 03:55] jmgasper opened #121 "Launch buttons too close to bottom of page"
The buttons at the bottom of the launch screen are too close to the bottom of the page.  There needs to be a margin added here.

<img width="937" alt="Screen Shot 2019-11-05 at 2 54 48 pm" src="https://user-images.githubusercontent.com/21790/68177380-39da3300-ffdc-11e9-990c-0cb1245b0bf9.png">

[2019-11-05 03:59] jmgasper opened #122 "Groups dropdown overlaps UI"
See below.  The dropdown should go *over* the UI, not behind it.

<img width="711" alt="Screen Shot 2019-11-05 at 2 58 39 pm" src="https://user-images.githubusercontent.com/21790/68177561-ce449580-ffdc-11e9-8044-b1e188ddc9e4.png">

[2019-11-05 04:03] jmgasper opened #123 "Typo in attachments panel"
In the attachments panel when editing a challenge, `browser` should be `browse`:

<img width="277" alt="Screen_Shot_2019-11-05_at_3_00_54_pm" src="https://user-images.githubusercontent.com/21790/68177660-2bd8e200-ffdd-11e9-995b-55c400f8bee3.png">

[2019-11-05 04:35] jmgasper opened #124 "Launch challenge confirmation changes"
### Use challenge name

On the initial popup, let's use the challenge name input by the user on the popup:

We'll change the text to say `Do you want to launch <challenge type> challenge "<challenge name>"`, like `Do you want to launch Code challenge "My test challenge"?`

<img width="863" alt="Screen Shot 2019-11-05 at 3 00 25 pm" src="https://user-images.githubusercontent.com/21790/68178916-c936

[2019-11-05 04:40] jmgasper opened #125 "Bold last day in Gantt chart"
On the edit challenge screen, we show a Gantt chart of the phases.  The start, and Sunday are in bold, with the numerical date below, but this isn't done for the last day of the challenge.  It makes sense to show the last day in bold, with the numerical date.

<img width="907" alt="Screen_Shot_2019-11-05_at_3_39_42_pm" src="https://user-images.githubusercontent.com/21790/68179103-a22c1300-ffe2-11e

[2019-11-05 04:43] jmgasper opened #126 "Add Time to the challenge schedule"
On the edit challenge screen, we show the challenge schedule as a Gantt chart, which shows the days, but it doesn't show time anywhere on the chart.  The time isn't on the popups on the Gantt chart or on the challenge schedule text around the chart.

We need to:

1.  Add time information to the Gantt chart popup
2.  Add the start time and date and end time and date above the Gantt chart to show th

[2019-11-05 04:46] jmgasper opened #127 "Editing prizes"
### Remove Edit button
The challenge prizes should just always be in the editable form on both launching and editing.  The secondary `Edit ` button doesn't make much sense because it's always editable.

<img width="757" alt="Screen_Shot_2019-11-05_at_3_44_49_pm" src="https://user-images.githubusercontent.com/21790/68179246-431ace00-ffe3-11e9-9df4-71b4124ddc39.png">

### $ dropdown

On the prize va

[2019-11-05 04:48] jmgasper opened #128 "Gantt chart registration and submission phases"
On the gantt chart, the registration and submission phases need to be shown as concurrent.

<img width="920" alt="Screen Shot 2019-11-05 at 3 47 20 pm" src="https://user-images.githubusercontent.com/21790/68179386-c4726080-ffe3-11e9-9c33-76d827d045a3.png">

Compare this with online review:

<img width="968" alt="Screen Shot 2019-11-05 at 3 48 14 pm" src="https://user-images.githubusercontent.com/2

[2019-11-05 04:51] jmgasper opened #129 "[$150] Attachment panel fixes"
### Launch

The attachment panel isn't available on launching, only on the edit screen.  It seems like that's an oversight and attachments should be available on the launch screen as well.

### Drag and drop indication

When dragging and dropping a file, there's no indication when the user has dragged a file over the attachment area.  The UI should switch to indicate that the user has dragged a fi

[2019-11-05 05:01] jmgasper opened #130 "Timeline template isn't properly enforced"
The user needs to select a timeline template before launch, or we need to apply a default here.  Right now the user can cause a challenge API error by not selecting a timeline template for a code challenge:

<img width="2032" alt="Screen_Shot_2019-11-05_at_4_00_21_pm" src="https://user-images.githubusercontent.com/21790/68179835-8d04b380-ffe5-11e9-9a2f-7b7205f7166d.png">

[2019-11-05 05:03] jmgasper opened #131 "Review Type / Internal not loaded properly"
I created a challenge with review type of `Internal` and reviewer `pat_monahan`, but after launching and then clicking `Edit` for the challenge, the reviewer dropdown was defaulted, instead of showing the correct value.  I would expect the dropdown to match what was selected at launch.

<img width="890" alt="Screen Shot 2019-11-05 at 4 02 46 pm" src="https://user-images.githubusercontent.com/21790

[2019-11-23 21:30] #117 closed

[2019-11-23 21:36] #118 closed

[2019-11-23 21:37] #119 closed

[2019-11-23 21:37] #120 closed

[2019-11-23 21:37] #121 closed

[2019-11-23 21:38] #122 closed

[2019-11-23 21:38] #123 closed

[2019-11-23 21:39] #124 closed

[2019-11-23 21:39] #125 closed

[2019-11-23 21:39] #126 closed

[2019-11-23 21:39] #127 closed

[2019-11-23 21:39] #128 closed

[2019-11-23 21:40] #130 closed

[2020-04-20 18:48] rootelement opened #137 "[$60] Add Private Description field"
@suppermancool - In the POST to `/challenges` for the challenge API, there are two description fields:

* `description`
* `privateDescription`

This change will allow us to support both.

### Private specification

Add a second markdown Spec field called Private Specification with a description beneath that states the text in that field will only be displayed to people registered on the challenge.

[2020-04-20 23:46] #87 closed

[2020-04-20 23:50] jmgasper opened #138 "[$20] UI overlap"
When editing a challenge, the popup when hovering over the timeline doesn't align well or look good.

![Screen_Shot_2020-04-21_at_09_49_13](https://user-images.githubusercontent.com/21790/79810070-7f858f00-83b5-11ea-988b-c9011544a4e4.png)

[2020-04-20 23:53] #131 closed

[2020-04-21 11:32] PrakashDurlabhji commented on #137
@rootelement I hope it is allowed to work on it?

[2020-04-21 16:44] rootelement opened #139 "[$35] Add Project Search Field"
In the left hand nav, add a text field (like the Search Challenges Field) beneath Active Challenges that filters the project list.
![Screen Shot 2020-04-21 at 12 43 33 PM](https://user-images.githubusercontent.com/5400156/79890663-d4350400-83cd-11ea-8722-b2d5807a05db.png)

It should add that name filter to the end of the Projects API GET:
https://api.topcoder-dev.com/v5/projects/docs/#/project/fin

[2020-04-21 18:18] rootelement opened #140 "Test Scenario - Projects for User"
Log in to dev as (either connect or challenge ui, doesn't matter):
`jcori` `appirio123`

In Connect Dev, I've been added to this project:
https://connect.topcoder-dev.com/projects/9155
(yes the name and description are an error, that was intentional)

In the challenge UI, if I click on a project in the left bar, it changes the URL and shows a title:
https://challenges.topcoder-dev.com/projects/380

[2020-04-21 19:19] awzilkie commented on #138
@jmgasper I'd like to take this but I am unable to assign it to myself...

[2020-04-21 19:42] rootelement commented on #138
@suppermancool are you working on this issue?

[2020-04-21 19:48] suppermancool commented on #138
@rootelement no i’m not working on this

[2020-04-21 21:11] rashmi73 commented on #139
@rootelement issue description looks confusing hence I am pasting two screenshot to my assumptions kindly correct me.

1. what is meant by text field? does it mean similar to active challenges field? like i have added in screenshot below, if yes then clicking on it which page will open?

<img width="951" alt="engine1" src="https://user-images.githubusercontent.com/41687423/79913711-b1dcce00-8441-1

[2020-04-22 00:21] jmgasper commented on #139
@rashmi73 - My understanding is the second option, where the input text field is in the right side.  Note that this is different than the search field on the right:  The side menu search will filter / search *Projects*, but the right side search searches *Challenges* inside a selected project.

[2020-04-22 03:08] awzilkie commented on #138
See MR here: https://github.com/topcoder-platform/challenge-engine-ui/pull/141

[2020-04-22 03:49] jmgasper commented on #138
@awzilkie - I'm seeing strange TC-X issues here.  Will update you when I figure out what's going on.

[2020-04-22 04:26] jmgasper commented on #137
@PrakashDurlabhji - Please do not work on this one.  We have a couple Topcoder members who will be handling tickets.  I'll let you know if we need to expand that further in the future.

[2020-04-22 04:35] jmgasper commented on #137
@rashmi73 - Is this one you would like to handle?

[2020-04-22 04:53] #140 closed

[2020-04-22 04:54] jmgasper commented on #137
@PrakashDurlabhji - If you did work on this one, please let me know and we'll figure out an appropriate payment.  Sorry for the confusion - we'll get you involved soon, as we expand this tool!.

Feel free to email me directly - jmgasper@gmail.com

[2020-04-22 05:05] PrakashDurlabhji commented on #137
@jmgasper not a problem, I havent done substantial work yet on this ticket hence I do not need payment.

[2020-04-22 05:27] rashmi73 commented on #139
@jmgasper ok understood  it means typing the text beneath Active challenges text box will filter projects list  displayed in left menu. it means if i type "SDG" then all SDG projects shall be visible.

[2020-04-22 05:27] rashmi73 commented on #137
@jmgasper yes sure doing it

[2020-04-22 05:28] jmgasper commented on #139
@rashmi73 - Yep, that's correct, thanks.

[2020-04-22 11:22] rashmi73 commented on #137
@jmgasper @rootelement

Steps I followed to run the app locally:

1. npm install
2. npm run dev

but unfortunately unable to open http://localhost:3000/projects/3803/challenges/new
without which form is not visible to me yet.

error observed in console is:

Access to XMLHttpRequest at 'https://api.topcoder-dev.com/v5/timeline-templates' from origin 'http://localhost:3000' has been blocked by CORS

[2020-04-22 12:40] rootelement commented on #137
This should be fixed now. Please try again. It was a problem with the API
routing.

On Wed, Apr 22, 2020 at 7:22 AM rashmi73 <notifications@github.com> wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/> / Topcoder
Blog: topcoder.com/blog / twitter: @Topcoder
<h

[2020-04-22 14:14] suppermancool commented on #80
hi @jmgasper @rootelement i'm getting the same error as https://github.com/topcoder-platform/challenge-engine-ui/issues/137#issuecomment-617717111

This prevent me to enter new or edit challenge page
<img width="1327" alt="Screen Shot 2020-04-22 at 21 12 31" src="https://user-images.githubusercontent.com/5815182/79992687-0a61a900-84de-11ea-8b00-e494a77c234f.png">

[2020-04-22 14:16] ThomasKranitsas commented on #80
Hey @suppermancool , we have updated the routes on the API to be `kebab-case` so you should be calling `/challenge-phases` not `/challengephases` etc

[2020-04-22 14:20] suppermancool commented on #80
@ThomasKranitsas this work, thanks. Should i commit this change first? Other dev see the same problem

[2020-04-22 14:22] ThomasKranitsas commented on #80
I already did that here https://github.com/topcoder-platform/challenge-engine-ui/commit/23340d6677b9665c8e99f4ebf909fdd54a0efee4

Perhaps you forgot to `pull` the latest?

[2020-04-22 14:22] suppermancool commented on #80
@ThomasKranitsas ah we have to work on `develop` branch right? Just make sure i'm not in the wrong branch

[2020-04-22 14:26] suppermancool commented on #80
@ThomasKranitsas your changes are reverted in next commit https://github.com/topcoder-platform/challenge-engine-ui/commit/db5341db02443414dab10a1f3ff3eb5fd6db57b0 that why i'm getting this error. Should i commit the api change https://github.com/topcoder-platform/challenge-engine-ui/issues/80#issuecomment-617806460?

[2020-04-22 14:43] suppermancool commented on #129
@jmgasper @ThomasKranitsas for `Uploading fails` the backend throw `Internal` server error when call uploading attachment api

<img width="547" alt="Screen Shot 2020-04-22 at 21 42 38" src="https://user-images.githubusercontent.com/5815182/79996074-367f2900-84e2-11ea-9ae6-627188b2b4fd.png">

I'm checking the api in postman look like it require admin role for uploading the attachment

[2020-04-22 14:44] ThomasKranitsas commented on #129
are you using your local API or our dev instance?

[2020-04-22 14:45] suppermancool commented on #129
@ThomasKranitsas dev instance

[2020-04-22 14:46] ThomasKranitsas commented on #129
can you try again? I'm monitoring the logs

[2020-04-22 14:47] suppermancool commented on #129
@ThomasKranitsas done

[2020-04-22 14:47] ThomasKranitsas commented on #129
Got it, thanks! We're working on it

[2020-04-22 15:47] suppermancool commented on #80
@ThomasKranitsas the create new challenge don't allow to create empty challenge. For example it throw `{"message":"\"typeId\" is not allowed to be empty"}` if user haven't selected track type

How to create empty challenge?

[2020-04-22 16:16] rootelement commented on #80
This was our fault. Justin and I were testing the APIs because they weren't configured correctly.

I've just pushed a commit that fixes those issues:
https://github.com/topcoder-platform/challenge-engine-ui/commit/b73a3f941246d928e8d8ed6708d585c9149e7809

Please pull that into what you're working on. @ThomasKranitsas wanna comment on the typeId question?

[2020-04-22 16:21] suppermancool commented on #80
@ThomasKranitsas this is the example for request body:

[code]

The backend should support this body request

[2020-04-22 16:27] ThomasKranitsas commented on #80
I would say the best approach would be to use some default values on the required fields instead of allowing creation of empty records.

It's better to have bad *content* than bad *data*.

@rootelement thoughts?

[2020-04-22 19:40] rootelement commented on #80
I believe that's failing because typeId is required. try DEVELOP as the
typeId value. if that works, we'll discuss how to fix that.

On Wed, Apr 22, 2020 at 12:28 PM Thomas Kranitsas <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http://topcoder.com/>

[2020-04-22 20:35] rashmi73 commented on #137
@rootelement @jmgasper PR https://github.com/topcoder-platform/challenge-engine-ui/pull/142

[2020-04-22 20:37] jmgasper commented on #137
Contest https://www.topcoder.com/challenges/30122846 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-22 20:37] jmgasper commented on #137
Contest https://www.topcoder.com/challenges/30122846 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-22 21:46] rashmi73 commented on #139
@jmgasper @rootelement is it necessary to hit backend api to get filtered projects?

I mean even client side filtering can be done to filter out projects.

is that acceptable?

I have already gone through challenge search code, I can implement similar in project search too, but as project list seems to be smaller then challenge list, so is client side filtering allowed?

[2020-04-22 23:19] jmgasper commented on #139
Yeah, we can do this on the client-side for now.  If we get to production and it becomes a problem, we can re-evaluate.

[2020-04-22 23:49] jmgasper opened #143 "[$1] Testing TC-X integration"
Testing 1,2,3

[2020-04-22 23:52] jmgasper commented on #143
Contest https://www.topcoder.com/challenges/30122850 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 00:33] #143 closed

[2020-04-23 00:33] jmgasper commented on #143
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 00:36] jmgasper commented on #80
Contest https://www.topcoder.com/challenges/30122851 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 00:36] jmgasper commented on #80
Contest https://www.topcoder.com/challenges/30122851 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 00:37] jmgasper commented on #129
Contest https://www.topcoder.com/challenges/30122852 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 00:37] jmgasper commented on #129
Contest https://www.topcoder.com/challenges/30122852 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 02:19] suppermancool commented on #80
@ThomasKranitsas how much timeout should i use for throttle?

[2020-04-23 02:30] suppermancool commented on #80
@ThomasKranitsas @jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/144

I'm using `1000ms` for throttle

[2020-04-23 02:59] suppermancool commented on #80
There are backend problem. For example i edit the challenge name then the frontend call request 2 time:

- The first time `name="Diiazz 33334"` at Thu, 23 Apr 2020 02:49:53 GMT
- The second time `name: "Diiazz 333345"` at Thu, 23 Apr 2020 02:49:63 GMT

But after reload the page we will see the name of first request. Some time it work correctly and show the name of second request but sometime it wo

[2020-04-23 03:07] jmgasper commented on #80
@suppermancool - That's fine for now - we'll investigate the backend issues when we deploy this to dev, thanks.

[2020-04-23 03:24] suppermancool commented on #129
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/144

I make one MR for this and https://github.com/topcoder-platform/challenge-engine-ui/issues/80 because it's related, please verify these 2 tickets same time

You won't see The attachment panel immediately we need to wait until finish create draft challenge, we need challenge id for uploading file.
For uploading fai

[2020-04-23 03:24] suppermancool commented on #80
@jmgasper I make one MR for https://github.com/topcoder-platform/challenge-engine-ui/issues/144 and https://github.com/topcoder-platform/challenge-engine-ui/issues/80 because it's related, please verify these 2 tickets same time

[2020-04-23 03:32] jmgasper commented on #129
@suppermancool - OK.  Can you check the pull request please - it's reporting a conflict?

[2020-04-23 03:34] jmgasper commented on #129
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 03:34] suppermancool commented on #129
@jmgasper done

[2020-04-23 03:37] jmgasper commented on #138
Contest https://www.topcoder.com/challenges/30122874 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 03:37] jmgasper commented on #138
Contest https://www.topcoder.com/challenges/30122874 has been updated - it has been assigned to azilkie.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 03:37] jmgasper commented on #138
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 03:40] jmgasper commented on #139
Contest https://www.topcoder.com/challenges/30122875 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 03:40] jmgasper commented on #139
Contest https://www.topcoder.com/challenges/30122875 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 04:03] #138 closed

[2020-04-23 04:04] #137 closed

[2020-04-23 04:04] jmgasper commented on #138
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122874<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 04:05] jmgasper commented on #137
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122846<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 04:12] jmgasper commented on #80
This needs more work from an API standpoint, but the flow looks alright.

[2020-04-23 04:15] #80 closed

[2020-04-23 04:17] jmgasper commented on #80
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122851<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 16:15] rootelement commented on #139
@rashmi73 how are you doing with this issue? Any progress?

[2020-04-23 17:14] rashmi73 commented on #139
@rootelement it is completed raising MR

[2020-04-23 21:33] jmgasper opened #145 "[$30] Update challenge links"
**NOTE** This change is only for links *out* of the challenge engine UI.  Internal links should still work as expected, for navigating to the edit page in the challenge engine UI, for instance.

### Problem

The current community app does not work with the v5 challenge API yet.  That means that a link like this, from the challenge engine UI, will give a 404:

https://www.topcoder-dev.com/challenge

[2020-04-23 21:35] jmgasper opened #146 "[$10] Change in title on the project page"
The project specific page (https://challenges.topcoder-dev.com/projects/3803/challenges) has a title with the project name at the top.  The project name field isn't properly encoding certain characters - see below.  `&amp;` is used instead of `&`, and I'm expecting that there are other issues in a similar vein as well.

Things appear to be fine in the left menu.

![Screen_Shot_2020-04-24_at_07_32_

[2020-04-23 21:36] jmgasper commented on #145
Contest https://www.topcoder.com/challenges/30122960 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 21:37] jmgasper commented on #146
Contest https://www.topcoder.com/challenges/30122961 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 21:43] jmgasper commented on #145
Contest https://www.topcoder.com/challenges/30122960 has been updated - it has been assigned to azilkie.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 22:17] jmgasper opened #147 "[$50] Add "View Project in Connect" button to project page"
On the project page, the client has requested that we add a `View Project in Connect` button that links over to Topcoder Connect, so the user can easily get from the challenge engine UI into Topcoder Connect.

### Link

The link format for Topcoder Connect is:

`https://connect.topcoder-dev.com/projects/3801`, where `3801` is the project ID

### Config

Please ensure the base path for Topcoder Con

[2020-04-23 22:20] jmgasper commented on #147
Contest https://www.topcoder.com/challenges/30122963 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 22:20] jmgasper commented on #147
Contest https://www.topcoder.com/challenges/30122963 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 22:22] jmgasper opened #148 "[$40] Fix project page to pull the project by ID"
**NOTE** - We need to do this everywhere we expect to pull project information.  If there are other places we do this, please let me know and I can bump the payment accordingly to offset the additional work.

### Currently
On the project page, we are using the ID given in the path to match with the project from `https://api.topcoder-dev.com/v5/projects`, and then we use the matched record to fill

[2020-04-23 22:24] jmgasper commented on #148
Contest https://www.topcoder.com/challenges/30122964 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 22:25] jmgasper opened #149 "[$15] Allow for more space in the side menu"
In the side menu, we are allowing the project name text to get truncated relatively quickly, which means that names are cut off, even though there's plenty of space to show the full name.  Can we expand the amount of text available to be shown so that longer project names display as expected?

![Screen_Shot_2020-04-24_at_08_24_13](https://user-images.githubusercontent.com/21790/80155495-29a72600-8

[2020-04-23 22:27] jmgasper commented on #149
Contest https://www.topcoder.com/challenges/30122965 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 22:54] jmgasper opened #150 "[$20] Update side menu list"
In the side menu, we're going to:

* Only show "active" projects
* Sort the projects by `lastActivityAt`

The API will handle this for us, but we need to tweak the API URL used to be something like this:

https://api.topcoder-dev.com/v5/projects?status=active&sort=lastActivityAt desc

[2020-04-23 22:56] jmgasper commented on #150
Contest https://www.topcoder.com/challenges/30122966 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 23:00] jmgasper commented on #146
Contest https://www.topcoder.com/challenges/30122961 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 23:02] awzilkie commented on #145
@jmgasper see PR here: https://github.com/topcoder-platform/challenge-engine-ui/pull/151

[2020-04-23 23:03] jmgasper commented on #150
Contest https://www.topcoder.com/challenges/30122966 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 23:04] jmgasper commented on #148
Contest https://www.topcoder.com/challenges/30122964 has been updated - it has been assigned to azilkie.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 23:05] jmgasper commented on #149
Contest https://www.topcoder.com/challenges/30122965 has been updated - it has been assigned to khushimehta03.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-23 23:12] jmgasper commented on #150
@Gauravseta - This one's high priority.  Please ensure you start working on it right away.

[2020-04-23 23:13] rashmi73 commented on #139
@rootelement @jmgasper PR https://github.com/topcoder-platform/challenge-engine-ui/pull/152

[2020-04-23 23:21] suppermancool commented on #147
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/153

[2020-04-23 23:25] PrakashDurlabhji commented on #146
@jmgasper @rootelement it is done in https://github.com/topcoder-platform/challenge-engine-ui/pull/154

[2020-04-23 23:49] PrakashDurlabhji commented on #146
@jmgasper conflicts resolved

[2020-04-24 00:06] Gauravseta commented on #150
@jmgasper PR https://github.com/Gauravseta/challenge-engine-ui/blob/issue_150/src/services/projects.js

[2020-04-24 00:31] jmgasper commented on #139
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 00:34] jmgasper opened #156 "[$60] Side menu search updates"
@rashmi73 - We need to tweak the side menu search quite a bit:

### Issue 1

The search should be case insensitive, so that searching for `sdg` and `SDG` returns the same results:

![Screen Shot 2020-04-24 at 10 28 22](https://user-images.githubusercontent.com/21790/80162323-5d3e7c00-8616-11ea-823d-07110b8f1fa9.png)

![Screen Shot 2020-04-24 at 10 28 18](https://user-images.githubusercontent.com/2

[2020-04-24 00:36] jmgasper commented on #156
Contest https://www.topcoder.com/challenges/30122967 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 00:36] jmgasper commented on #156
Contest https://www.topcoder.com/challenges/30122967 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 00:37] jmgasper commented on #147
@suppermancool - One tweak here - can we have the button open up a new window / tab please?

[2020-04-24 00:42] jmgasper commented on #139
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 00:50] suppermancool commented on #147
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/157

[2020-04-24 01:04] awzilkie commented on #148
@jmgasper see PR here: https://github.com/topcoder-platform/challenge-engine-ui/pull/158
Not sure if this is the fix you're looking for. As far as I can tell the only place in the code where we use stored data from the projects API is getting the members list for a challenge. The rest of the data comes from the challenge API. Is there a reproducible issue to test here?

[2020-04-24 01:09] jmgasper commented on #148
@awzilkie - When logged in as `jcori` / `appirio123`, try loading these URLs:

https://challenges.topcoder-dev.com/projects/9155/challenges
https://challenges.topcoder-dev.com/projects/3108/challenges

![Screen Shot 2020-04-24 at 11 09 06](https://user-images.githubusercontent.com/21790/80164333-06d43c00-861c-11ea-9f5e-7bee977a9e82.png)

Note that the projects don't load properly.  I think this is

[2020-04-24 01:14] awzilkie commented on #148
@jmgasper I don't think you would expect to see a request to the projects endpoint in this case. All the data comes from the challenges API

[2020-04-24 01:14] awzilkie commented on #148
but my fix will pull the members data now from the projects API when you load this url

[2020-04-24 01:15] jmgasper commented on #148
@awzilkie - I would expect the page to *work* though.  It doesn't now, even though https://challenges.topcoder-dev.com/projects/3108/challenges is a valid project ID.

[2020-04-24 01:16] jmgasper commented on #148
And, after further testing with the fix, it still doesn't work.

[2020-04-24 01:16] jmgasper commented on #148
![Screen Shot 2020-04-24 at 11 16 27](https://user-images.githubusercontent.com/21790/80164696-0b4d2480-861d-11ea-98a2-bacc126c80d1.png)

[2020-04-24 01:18] jmgasper commented on #148
@awzilkie - I would expect to see a request to https://api.topcoder-dev.com/v5/projects/9155 be made.  Right now, I think the code is trying to just match the given project ID with details loaded for the side menu, but the side menu doesn't contain the full list of projects, which is something we're dealing with in other tickets.  You can't assume that the given project ID will match a project in

[2020-04-24 01:26] awzilkie commented on #148
@jmgasper no the code does not make a request to the projects API right now when loading https://challenges.topcoder-dev.com/projects/3108/challenges. It pulls all of the data from the challenge API (except the members). If the issue is to fix the https://challenges.topcoder-dev.com/projects/3108/challenges page then it has nothing to do with the projects API

[2020-04-24 01:27] awzilkie commented on #148
If you want me to fix the loading of https://challenges.topcoder-dev.com/projects/3108/challenges I can go ahead and have a look but it might have a bigger scope that what was described in the issue

[2020-04-24 01:28] jmgasper commented on #148
Yes, it needs to be fixed.  I'll bump the payment.

[2020-04-24 02:24] #150 closed

[2020-04-24 02:25] jmgasper commented on #150
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122966<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 02:47] jmgasper commented on #148
@awzilkie - Just checking in here - do you need anything from me?  This one's kind of a high priority, thanks.

[2020-04-24 03:29] awzilkie commented on #148
Sorry I don't think I can get to this until tomorrow (I am in EST timezone). If you need it done before then feel free to assign it to someone else.

[2020-04-24 06:58] jmgasper opened #159 "[$60] Fix project page to pull the project by ID"
**NOTE** - We need to do this everywhere we expect to pull project information.  If there are other places we do this, please let me know and I can bump the payment accordingly to offset the additional work.

### Currently
On the project page, we are using the ID given in the path to match with the project from `https://api.topcoder-dev.com/v5/projects`, and then we use the matched record to fill

[2020-04-24 07:00] PrakashDurlabhji commented on #159
@jmgasper is it open ? then I can give a try

[2020-04-24 07:01] jmgasper commented on #159
Contest https://www.topcoder.com/challenges/30122977 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 07:01] jmgasper commented on #159
@PrakashDurlabhji - Not this one, no.  I've already been chatting with @suppermancool  about it.  I'll be opening up a couple others shortly that I'll assign to you.

[2020-04-24 07:02] jmgasper commented on #159
Contest https://www.topcoder.com/challenges/30122977 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 07:05] jmgasper opened #160 "[$40] Creating a challenge is broken / loading challenge data"
@PrakashDurlabhji - We need to fix just general challenge creation a bit by tweaking the API call.

Note that the API call / data structure has been changed today.  You can see the changes we made here:

https://github.com/topcoder-platform/challenge-api/issues/80

We need to:

* Ensure that creating a challenge is updated to work properly.  Right now it complains about the `legacy` hash missing
*

[2020-04-24 07:08] jmgasper commented on #160
Contest https://www.topcoder.com/challenges/30122978 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 07:09] jmgasper commented on #160
Contest https://www.topcoder.com/challenges/30122978 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 07:30] suppermancool commented on #159
@jmgasper right now the app don't have redux action/reducer for fetching project inf. Can i create it? then we just need to call the fetching project action every time we need, then just need to check in redux store the project info

[2020-04-24 07:57] suppermancool commented on #159
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/161

I created new action/producer for fetching/saving project info. You can check in console log the action that have prefix `LOAD_PROJECT_DETAILS...

<img width="369" alt="Screen Shot 2020-04-24 at 14 56 47" src="https://user-images.githubusercontent.com/5815182/80188784-def4d080-863b-11ea-8454-75148d9daffd.png">
`

[2020-04-24 08:39] jmgasper commented on #159
@suppermancool - Ok, thanks.  Your approach sounds find, sorry for the delayed response.

[2020-04-24 11:07] jmgasper opened #162 "[$50] Gantt chart not displaying properly"
On existing challenge pages (https://challenges.topcoder-dev.com/projects/3801/challenges/f46e37e2-a5ad-42bb-b82f-6d7ea51da0fb/edit)

The Gantt chart isn't displaying properly.  Each phase should be dependent on the phage before, but that isn't showing here.  This had been working previously, but the data structure in the response from the challenges API may have changed a bit so we need to invest

[2020-04-24 11:08] narekcat commented on #162
Hello @jmgasper . Can I work on this issue ?

[2020-04-24 11:12] jmgasper commented on #162
@narekcat - Yes, that's fine.  Will set it to open shortly.  Please make sure to start on it right away.

[2020-04-24 11:15] narekcat commented on #162
I see @Gauravseta self-assigned it, I'll try on next one, if they will be.

[2020-04-24 11:15] jmgasper commented on #162
Contest https://www.topcoder.com/challenges/30123002 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 11:16] jmgasper commented on #162
Contest https://www.topcoder.com/challenges/30123002 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 11:42] Gauravseta commented on #162
@narekcat sorry I just saw open for pickup label hence took it, missed your comment before that, hence giving it back to you.

@jmgasper

[2020-04-24 11:43] jmgasper commented on #162
Contest https://www.topcoder.com/challenges/30123002 has been updated - it has been assigned to Narekvar90.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 11:43] jmgasper commented on #145
Just an update here - we're dealing with some issues on a migration system that adds the legacy ID's, so I haven't been able to fully test this yet.

[2020-04-24 11:53] narekcat commented on #162
@Gauravseta Ok, thank you. @jmgasper I'll start to work on this issue.

[2020-04-24 19:09] jmgasper commented on #149
Contest https://www.topcoder.com/challenges/30122965 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 19:32] rashmi73 commented on #156
@jmgasper @rootelement issue 1 and issue 2 completed, doing with issue 3 . PR in sometime

[2020-04-24 23:15] Gauravseta commented on #149
@jmgasper pr created https://github.com/topcoder-platform/challenge-engine-ui/pull/163

[2020-04-24 23:33] #149 closed

[2020-04-24 23:35] jmgasper commented on #149
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122965<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 23:35] #146 closed

[2020-04-24 23:35] #147 closed

[2020-04-24 23:36] jmgasper commented on #160
@PrakashDurlabhji - Any update here?  This one's high priority, so if you can't get to it ASAP, please let me know.

[2020-04-24 23:36] jmgasper commented on #146
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122961<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 23:38] jmgasper commented on #139
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-24 23:38] jmgasper commented on #147
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122963<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-25 00:00] #148 closed

[2020-04-25 00:00] #159 closed

[2020-04-25 00:01] jmgasper commented on #156
@rashmi73 - Thanks for the update.  If you need anything, please let me know.

[2020-04-25 00:01] jmgasper commented on #162
@narekcat - Any update on this one?

[2020-04-25 00:01] jmgasper commented on #159
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122977<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-25 00:01] jmgasper commented on #148
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122964<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-25 00:04] PrakashDurlabhji commented on #160
@jmgasper yes actively working it shall be completed soon or atleast a WIP PR I will raise immediately

[2020-04-25 01:01] PrakashDurlabhji commented on #160
@jmgasper I have updated the challenge object while sending for an update.

you can verify by going to following url and hit it

[2020-04-25 01:14] PrakashDurlabhji commented on #160
@jmgasper waiting for feedback. I will immediately refactor the changes

[2020-04-25 03:12] jmgasper commented on #160
Sorry for the delay.

The 400 on the PUT error is because the initial POST happens as part of the new auto-save draft functionality:

https://github.com/topcoder-platform/challenge-engine-ui/issues/80

The initial POST is failing due to missing the `legacy` hash, so the subsequent PUT to keep things update isn't working since there's no associated challenge ID.

[2020-04-25 03:13] jmgasper commented on #160
Reload the add challenge page and have a look at the network requests - as you edit the first couple fields, you'll see the POST happen and subsequently fail.

![Screen Shot 2020-04-25 at 13 13 12](https://user-images.githubusercontent.com/21790/80269833-859da780-86f6-11ea-8b89-d18246a2d089.png)

[2020-04-25 03:13] jmgasper commented on #160
I'll be out for a few hours, so no rush on subsequent fixes.

[2020-04-25 06:25] narekcat commented on #162
Hello @jmgasper.  There was a challenge: [Topcoder Challenge API - V5 Phases Business logic](https://www.topcoder.com/challenges/30113051). If I am right the main changes of challenge API was made according to that challenge specification. I can do appropriate changes in front-end, I just need additional hours to finish it.

[2020-04-25 13:29] jmgasper commented on #162
@narekcat - Yeah, the main goal is just to make the Gantt chart show the relationships between phases again, like it used to.  If this takes a lot of effort, just let me know so I can bump the payment on this ticket.

[2020-04-25 13:44] narekcat commented on #162
@jmgasper - I found out this changes:
1. challenge API returns `scheduledStartDate`, `scheduledEndDate`, `name` and other fields and we don't need to calculate start and end dates in front-end or get Phases for their names
2.  now `duration` saves in seconds not in hours, but in front-end calculation of start and end dates assume that duration is in hours
I almost finished with the front-end, I ha

[2020-04-25 15:02] narekcat commented on #162
@jmgasper - I finished this issue. Please see pull request https://github.com/topcoder-platform/challenge-engine-ui/pull/165

[2020-04-25 22:08] rashmi73 commented on #156
@jmgasper it is ready

[2020-04-25 22:50] jmgasper commented on #156
@rashmi73 - Should there be a pull request here?  I'm not seeing changes for this.

[2020-04-25 22:51] jmgasper commented on #160
@PrakashDurlabhji - Why isn't this one done?  I gave feedback almost a day ago.

[2020-04-25 22:52] jmgasper opened #166 "[$115] Broken challenge launching"
@suppermancool - Can you take this ASAP please?  The initial POST to create the draft challenge is failing due to the changes, and then each subsequent PUT to save updates is also failing.

We need to fix just general challenge creation a bit by tweaking the API call.

Note that the API call / data structure has been changed today.  You can see the changes we made here:

https://github.com/topcode

[2020-04-25 22:53] jmgasper commented on #160
Closing this out with partial payment for the partial fixes.

[2020-04-25 22:53] #160 closed

[2020-04-25 22:54] #139 closed

[2020-04-25 22:54] jmgasper commented on #160
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122978<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-25 22:55] jmgasper commented on #166
Contest https://www.topcoder.com/challenges/30123235 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-25 22:55] jmgasper commented on #166
Contest https://www.topcoder.com/challenges/30123235 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-25 22:57] jmgasper commented on #139
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122875<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-25 23:11] PrakashDurlabhji commented on #160
@jmgasper apology I can complete this but I should have myself added feedback label after your comment and remove ready for review label added by me to track it down. my PUT calls are working fine hence to my PR just need to add 1 function call in POST and it should be done

[2020-04-25 23:12] PrakashDurlabhji commented on #166
@jmgasper to my PR just 1 function call to be reused in POST flow and it should be working. I can complete it if you agree

[2020-04-26 00:23] jmgasper commented on #166
@PrakashDurlabhji - Please submit the PR and we can evaluate.

[2020-04-26 00:34] jmgasper commented on #166
@PrakashDurlabhji - Make sure you *TEST* your fix as well.  I'm expecting challenge launching to work after your pull request.

[2020-04-26 00:41] jmgasper commented on #166
@suppermancool - If you can, please still work on this one.  I need to get it done, and I'm concerned that we aren't making progress, thanks.

[2020-04-26 02:23] suppermancool commented on #166
@jmgasper i don't see any field for `legacyId ` what value should i use for legacyId?

[2020-04-26 02:39] suppermancool commented on #166
@jmgasper i got `legacy` example from https://github.com/topcoder-platform/challenge-api/issues/80 and the backend throw this error:
[code]

for example if i set `legacy ` like this:
[code]
The backend throw above error.

But if i remove `reviewType` or `track` like this:
[code]
 it will throw:
[code]

This is example body request for creating challenge:
[code]

I think we need backend classificat

[2020-04-26 02:41] jmgasper commented on #166
@suppermancool - Remove the `reviewType` and `track` from the main body, but keep them in the `legacy`.  Here's a working example:

[code]

[2020-04-26 02:46] suppermancool commented on #166
@jmgasper ok that work, thanks

[2020-04-26 03:31] suppermancool commented on #166
@jmgasper one more problem

<img width="618" alt="Screen Shot 2020-04-26 at 10 02 26" src="https://user-images.githubusercontent.com/5815182/80296400-1206a380-87a5-11ea-95ab-ec0778d5f766.png">

For example the challenge in the description `fdf44399-a2bb-4e98-b7c7-91bda58f1acc`, the first phase of that challenge is:
[code]

The id of this phase doesn't match with any phase id from `https://api.topc

[2020-04-26 03:32] jmgasper commented on #166
Hmmm.... Ok - I'll see what the dev has to say.  Can we work around it for now, or is this a blocker?

[2020-04-26 04:22] suppermancool commented on #166
@jmgasper this is the blocker, the gantt chart can't display properly without different name for each phase. Right now all phase have empty name because above prolem:

<img width="889" alt="Screen Shot 2020-04-26 at 11 20 51" src="https://user-images.githubusercontent.com/5815182/80297712-0c628b00-87b0-11ea-84ea-24f45a5f6ca7.png">
<img width="847" alt="Screen Shot 2020-04-26 at 11 20 58" src="http

[2020-04-26 04:39] jmgasper commented on #166
@suppermancool - I think we need to look at different fields:

Here's the phases from my attempt to created a challenge:

[code]

Note that the `phaseId` values of those phase objects listed seem to match with the `id` values from the `challenge-phases` endpoint:

[2020-04-26 04:45] suppermancool commented on #166
@jmgasper did you check challenge `fdf44399-a2bb-4e98-b7c7-91bda58f1acc`, it doesn't return `phaseId ` in phase:

<img width="794" alt="Screen Shot 2020-04-26 at 11 41 44" src="https://user-images.githubusercontent.com/5815182/80298059-eee2f080-87b2-11ea-9b7b-930bcf21e83c.png">

I think some challenge have broken data. Can you provide me your challenge id, then i can work on that. My test challeng

[2020-04-26 04:48] jmgasper commented on #166
@suppermancool - Yeah, not sure what's happening with that data.  Here's a good ID:

5502a1d3-025e-4159-810d-c274441929d6

[2020-04-26 04:51] suppermancool commented on #166
@jmgasper yeah the duration of phase in my broken challenge return `miliseconds` but in your good challenge it return `hours`, now i have to remove the code convert `miliseconds` to `hours` @@

[2020-04-26 04:55] jmgasper commented on #166
Ugh, sorry.

[2020-04-26 04:57] suppermancool commented on #166
@jmgasper do you know project id for `5502a1d3-025e-4159-810d-c274441929d6` i need it for testing

[2020-04-26 04:58] jmgasper commented on #166
@suppermancool - 3801

[2020-04-26 04:58] jmgasper commented on #166
Here's the POST that created the challenge:

[code]

[2020-04-26 04:59] suppermancool commented on #166
@jmgasper i also have to resolve conflict with `https://github.com/topcoder-platform/challenge-engine-ui/pull/165/files` he and i do the same thing for gantt chart

[2020-04-26 05:00] jmgasper commented on #166
@suppermancool - Ok - I'll bump up the payment here.

[2020-04-26 05:25] suppermancool commented on #166
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/167. I also launch your test challenge.
I just see one bug that we show `Update` button if the challenge is active. i removed this button because we already update automatically

[2020-04-26 05:43] suppermancool commented on #166
@jmgasper ah wait there is problem with new challenge, let me check again

[2020-04-26 05:56] suppermancool commented on #166
@jmgasper All done in https://github.com/topcoder-platform/challenge-engine-ui/pull/167 . Actually the fix in https://github.com/topcoder-platform/challenge-engine-ui/pull/165/files break the gantt chart in create new challenge page.

[2020-04-26 11:51] rashmi73 commented on #156
@jmgasper here is PR and verification screenshot:

<img width="316" alt="engineui1" src="https://user-images.githubusercontent.com/41687423/80306662-46e51b80-87e2-11ea-9ac5-98c9cce347ad.PNG">

I raised PR on another ticket and mistakely added ready for review here

[2020-04-26 11:59] jmgasper commented on #166
@suppermancool - I see a problem with the actual call to launch the challenge, which should just be setting the challenge to `status` = `Active` - it's setting the legacy values for `track` and `reviewType` to undefined.  In previous POSTs and PUTs, those value are set correctly - it's just the last PUT, when Launch is clicked, where this seems to be an issue:

![Screen_Shot_2020-04-26_at_21_57_42

[2020-04-26 12:02] rashmi73 commented on #156
@jmgasper regarding lower case should be solved at backend api because list shown is returned from backend results. and results are not correct as of now as mentioned by you that fix needs to be done at backend

[2020-04-26 13:44] suppermancool commented on #166
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/169

[2020-04-26 20:49] #166 closed

[2020-04-26 20:50] #162 closed

[2020-04-26 20:52] jmgasper commented on #166
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123235<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 20:54] jmgasper commented on #162
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123002<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 20:57] #156 closed

[2020-04-26 20:59] jmgasper commented on #156
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122967<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 21:16] #145 closed

[2020-04-26 21:17] jmgasper commented on #129
This seems to be working on the frontend, but the backend is failing.  I'm going to try to get more details.

[2020-04-26 21:17] #129 closed

[2020-04-26 21:19] jmgasper commented on #145
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122960<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-26 21:21] jmgasper commented on #129
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122852<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 01:08] jmgasper opened #170 "[$10] Remove buttons from `Active Challenges` tab"
In the side menu, the `Active Challenges` tab is a summary of the challenges for the logged in user.

Currently, the `View Project in Connect` and `Launch New` buttons show up here, but they don't make sense because there's no associated project.  We should just remove those two buttons, but *ONLY* when the `Active Challenges` tab is selected.

![Screen_Shot_2020-04-27_at_11_08_02](https://user-im

[2020-04-27 01:16] jmgasper opened #171 "[$125] Fix service calls on root page"
When the root page (`/`) loads, we show the `Active Challenges` tab selected and the list of all challenges for the logged in user, across all projects.

This works, but it makes too many requests to the services.  Tested in Firefox on macOS Catalina.

Note - this should be fixed for all 3 tabs :

* Active
* Draft
* Completed

### Issue 1

I'm seeing duplicate calls to the same endpoint with the s

[2020-04-27 01:20] jmgasper commented on #171
Contest https://www.topcoder.com/challenges/30123331 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 01:21] jmgasper commented on #171
Contest https://www.topcoder.com/challenges/30123331 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 01:42] jmgasper opened #172 "[$30] Remove Current Phase from specific tabs"
The `Current Phase` column only applies to Active challenges.  We can remove this column from both `Draft` and `Completed` tables

### Draft
![Screen_Shot_2020-04-27_at_11_36_12](https://user-images.githubusercontent.com/21790/80326437-1b167400-887c-11ea-8bab-fa3abd4e6430.png)

### Completed

![Screen_Shot_2020-04-27_at_11_36_27](https://user-images.githubusercontent.com/21790/80326435-19e54700-88

[2020-04-27 01:46] jmgasper commented on #172
Contest https://www.topcoder.com/challenges/30123332 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 01:46] jmgasper commented on #172
Contest https://www.topcoder.com/challenges/30123332 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 02:00] jmgasper opened #173 "[$10] Confirmation popup changes"
The confirmation popup isn't working properly, so let's see if we can tweak it a bit:

1. Let's add a `X` in the upper right of the popup that just closes the popup
2. Rename `Back to Dashboard` to `Close`
3. Update the functionality when clicking `Close` to just close the popup

These changes can apply to all similar popups

![Screen_Shot_2020-04-27_at_11_58_35](https://user-images.githubusercont

[2020-04-27 02:00] jmgasper commented on #173
@rashmi73 - Can you look at this one please?

[2020-04-27 02:02] suppermancool commented on #170
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/174.

[2020-04-27 02:04] jmgasper commented on #173
Contest https://www.topcoder.com/challenges/30123333 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 02:04] jmgasper commented on #173
Contest https://www.topcoder.com/challenges/30123333 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 02:19] suppermancool commented on #171
@jmgasper we don't implement pagination. we just loop to get all challenge. For this i have to add pagination ui and handle the pagination control. There are also some filter by search field + status go with pagination. Can you check the prize for this task again?

[2020-04-27 02:26] jmgasper opened #175 "[$60] Fix up the Gantt charts"
@suppermancool - We need to fix up the Gantt charts a bit:

### Issue 1

The chart on the new challenge page is rendering differently than the edit challenge page.  Ideally, these would be the same:

#### New challenge

![Screen Shot 2020-04-27 at 12 26 11](https://user-images.githubusercontent.com/21790/80328300-49974d80-8882-11ea-97de-df3e1e8240e9.png)

#### Edit challenge

![Screen Shot 2020-04

[2020-04-27 02:27] jmgasper commented on #171
@suppermancool - My bad.  Fixed.

[2020-04-27 02:30] jmgasper commented on #175
Contest https://www.topcoder.com/challenges/30123335 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 02:31] jmgasper commented on #175
Contest https://www.topcoder.com/challenges/30123335 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 03:46] suppermancool commented on #171
@jmgasper hey please wait to check, i'm getting some problem when changing project

[2020-04-27 03:57] jmgasper commented on #171
@suppermancool - Sorry, got a little excited 😆

[2020-04-27 04:30] suppermancool commented on #171
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/177

please run `npm i` before checking

[2020-04-27 04:39] rashmi73 commented on #173
@jmgasper sure

[2020-04-27 04:39] jmgasper commented on #173
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 04:45] suppermancool commented on #172
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/178.

[2020-04-27 05:00] suppermancool commented on #175
@jmgasper in the existing code if the backend return missing data or when we create new challenge the frontend will calculate the challenge timelines locally.
For this i will:
- Hide the timeline if the backend return broken phase.
- In create new challenge i will hide the timeline until getting the response of first request to create new draft challenge.

[2020-04-27 05:17] jmgasper commented on #175
Yep, that sounds good, thanks

[2020-04-27 05:49] rashmi73 commented on #173
@jmgasper PR https://github.com/topcoder-platform/challenge-engine-ui/pull/179

[2020-04-27 05:49] #172 closed

[2020-04-27 05:50] #171 closed

[2020-04-27 05:51] jmgasper commented on #172
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123332<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 05:54] jmgasper commented on #171
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123331<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 05:55] jmgasper commented on #170
Contest https://www.topcoder.com/challenges/30123341 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 05:55] jmgasper commented on #170
Contest https://www.topcoder.com/challenges/30123341 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 05:57] suppermancool commented on #175
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/180. i removed all local calculation for timeline, the timeline should come from backend now

[2020-04-27 06:02] jmgasper commented on #170
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 06:03] jmgasper opened #181 "[$10] Remove buttons from `Active Challenges` tab"
In the side menu, the `Active Challenges` tab is a summary of the challenges for the logged in user.

Currently, the `View Project in Connect` and `Launch New` buttons show up here, but they don't make sense because there's no associated project.  We should just remove those two buttons, but *ONLY* when the `Active Challenges` tab is selected.

![Screen_Shot_2020-04-27_at_11_08_02](https://user-im

[2020-04-27 06:04] rashmi73 commented on #181
@jmgasper is it open?

[2020-04-27 06:06] jmgasper commented on #181
Contest https://www.topcoder.com/challenges/30123344 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 06:07] jmgasper commented on #181
Contest https://www.topcoder.com/challenges/30123344 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 06:11] jmgasper commented on #181
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 06:15] jmgasper commented on #181
@rashmi73 - No

[2020-04-27 06:15] #181 closed

[2020-04-27 06:15] jmgasper commented on #181
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 06:16] #170 closed

[2020-04-27 06:18] jmgasper commented on #170
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123341<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 06:25] jmgasper commented on #175
@suppermancool - I don't see issue 2 address - this still seems to be in seconds.

[2020-04-27 06:32] #173 closed

[2020-04-27 06:35] jmgasper commented on #173
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123333<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 07:37] suppermancool commented on #175
@jmgasper do you have any challenge that have duration?

[2020-04-27 07:40] jmgasper commented on #175
@suppermancool - I'm investigating.  I'll get back to you.

[2020-04-27 07:46] suppermancool commented on #175
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/182
We only use duration for calculating the percentage:

<img width="413" alt="Screen Shot 2020-04-27 at 14 43 46" src="https://user-images.githubusercontent.com/5815182/80346822-92a4cd00-8895-11ea-87b0-32ec029a8370.png">

The duration you see in that popup = Phase.scheduledEndDate - Phase.scheduledStartDate

[2020-04-27 07:50] jmgasper commented on #175
@suppermancool - Thanks.  I think that we have to do something here, but I'm not exactly sure what.  I'm attempting to get clarification from the challenge API side.

[2020-04-27 07:50] #175 closed

[2020-04-27 07:53] jmgasper commented on #175
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123335<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 09:52] jmgasper opened #183 "[$15] Update project search"
@suppermancool - The current functionality is described below.  What we want to do is ad

### Necessary fix:

From the project API dev:

There is support for searching by subwords in the project API, the searching term can be wrapped into asterisks like *mobil*. The next request would find multiple projects

https://api.topcoder-dev.com/v5/projects/?sort=lastActivityAt+desc&perPage=20&page=1&name=

[2020-04-27 09:56] jmgasper commented on #183
Contest https://www.topcoder.com/challenges/30123389 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 09:56] jmgasper commented on #183
Contest https://www.topcoder.com/challenges/30123389 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 10:10] rashmi73 commented on #183
@jmgasper I can do it too..even i am online and can immediately complete it if u agree

[2020-04-27 11:02] suppermancool commented on #183
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/184

#### Be case insensitive (if it isn't already):
This is supported by the api, nothing to do at frontend

[2020-04-27 11:18] #183 closed

[2020-04-27 11:20] jmgasper commented on #183
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123389<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 12:29] ThomasKranitsas opened #185 "[$60] Issues when creating a challenge"
## Steps to reproduce
1. Login as `TonyJ`
2. Select a project (eg `Another Test Project`)
3. Click Launch new to create a new challenge
4. Enter all information
5. Click Launch

## Issues
1. There used to be a `save as draft` button. I'm assuming now we have support for auto-save, this button is hidden as the default challenge status is already draft. I suggest keeping that button and just use it

[2020-04-27 12:30] ThomasKranitsas commented on #185
cc @jmgasper @rootelement

[2020-04-27 12:34] awzilkie commented on #185
Hi @ThomasKranitsas is  this open for pickup?

[2020-04-27 13:40] rootelement commented on #185
Yes @awzilkie please see if you can research what's needed and give us a report. We'll price appropriately.

[2020-04-27 13:42] awzilkie commented on #185
Ok @rootelement I'll assign it to myself then?

[2020-04-27 13:46] Gauravseta commented on #185
@rootelement @ThomasKranitsas will open for pickup label be added? even I was waiting for it

[2020-04-27 14:06] rootelement commented on #185
Sorry @Gauravseta , I just got online. There are more issues coming and we will open them for pickup.

[2020-04-27 15:19] awzilkie commented on #185
@ThomasKranitsas yes the issue is the autosave with setting of v5 resources. Sometimes while editing the challenge while having set a copilot or reviewer, the autosave creates the resources in the resources-api. Then when trying to launch the resources are already created. The solution is to only update the resources if they have changed since the first autosave.

[2020-04-27 15:20] awzilkie commented on #185
FYI @rootelement

[2020-04-27 15:45] rootelement commented on #185
Ok please implement that fix @awzilkie

[2020-04-27 15:46] awzilkie commented on #185
Ok @rootelement Should I also restore the "save as draft" button as mentioned in issue #1 by @ThomasKranitsas ?

[2020-04-27 15:48] jmgasper commented on #185
Contest https://www.topcoder.com/challenges/30123460 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 15:48] jmgasper commented on #185
Contest https://www.topcoder.com/challenges/30123460 has been updated - it has been assigned to azilkie.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-27 15:56] rootelement commented on #185
Yes, but please just make it trigger the same auto-save functionality, not a separate workflow. Is there a way to implement a faint "last saved" type datetime somewhere on the page? For now, just put it in light gray at the bottom of the page.

[2020-04-27 16:01] awzilkie commented on #185
@rootelement currently it is calling the autosave on every input change done by the user. i.e. every keystroke. It would be no problem to add the "last saved" text but it would update on every keystroke. Just FYI

[2020-04-27 16:30] rootelement commented on #185
Wow... Every keystroke? Can we debounce that or something? That seems a bit overkill. I'd like to know what @jmgasper thinks before we do that or make that change. Continue with the other fixes.

[2020-04-27 16:57] awzilkie commented on #185
oh wait I just noticed that it's throttled to only update every 1s. Sorry :)

[2020-04-27 22:14] jmgasper commented on #185
@awzilkie - I'm having trouble reproducing the `error: ErrorCtor [ConflictError]: User TonyJ already has resource with roleId ...` error.  Have you managed to reproduce that?  I just want to make sure we get the exact steps detailed, thanks.

[2020-04-27 22:42] awzilkie commented on #185
@jmgasper you have to set a copilot or reviewer to be able to see the error

[2020-04-27 22:46] jmgasper commented on #185
@awzilkie - That makes sense, and I can reproduce the issue now, thanks!

[2020-04-28 00:24] awzilkie commented on #185
@ThomasKranitsas @jmgasper @rootelement see PR here: https://github.com/topcoder-platform/challenge-engine-ui/pull/186.

Something to note about the autosave: Changes are autosaving after every user input change, but only after the user has inputted enough info to make it a valid challenge. i.e once the 'track', 'typeId', 'name', 'description', 'tags', 'prizeSets' fields are entered. However from

[2020-04-28 05:23] jmgasper commented on #185
@awzilkie - Looks good, thanks.  I'll open up a new ticket for the timestamp display.

[2020-04-28 05:26] jmgasper opened #187 "[$20] Add Last Saved text"
As discussed in #185.  Please make this apply to both the creation and edit pages for a challenge

Is there a way to implement a faint "last saved" type datetime somewhere on the page? For now, just put it in light gray at the bottom of the page.

Format would be like `Last Saved: Apr 18, 2020 5:45PM`

![Screen_Shot_2020-04-28_at_15_24_54](https://user-images.githubusercontent.com/21790/80450252-7

[2020-04-28 05:30] jmgasper commented on #187
[500]: Challenge for the updated issue 187 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 06:02] jmgasper opened #188 "[$40] Updates to gantt chart on create challenge page"
There are a couple issues on the gantt chart on the create challenge page:

### Issue 1

The popup shown when mousing over a phase isn't rendering properly.  This was tested in FF on macOS Catalina:

### Issue 2

I'm not sure what the original thoughts were for the dates above the gantt chart, but let's change the date on the *right* to be the end of all phases.  That way we have the start on the

[2020-04-28 06:06] jmgasper commented on #188
[500]: Challenge for the updated issue 188 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 06:21] #185 closed

[2020-04-28 06:24] jmgasper commented on #185
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123460<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 06:29] jmgasper opened #189 "[$50] Date selection"
@suppermancool  - Because we're now using seconds, instead of hours, the advanced layout for setting phase length is kind of unwieldy.

Let's make this change:

* When retrieving the phase information, convert from seconds to hours for the UI
* Display the values and controls to use hours
* When PATCH'ing back to set the changes, convert from hours to seconds

That way we can have the UI show ever

[2020-04-28 06:32] jmgasper opened #190 "[$25] Auto-save when public specification and private specification are changed"
**Update** : After further testing, this is only *before* the prizes are set.  Once prizes are set, then the auto-save works, but that's potentially confusing for users.  Do we have options here?  Can we set a default prize?

I'm not seeing the auto-save kick off when the public or private specification fields are edited.  These are the most important pieces to auto-save because they are the most

[2020-04-28 06:34] jmgasper commented on #190
Contest https://www.topcoder.com/challenges/30123554 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 06:34] jmgasper commented on #190
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 06:43] jmgasper opened #191 "[$125] Update the challenge auto-save to use PATCH"
@awzilkie - We currently *PUT* the data against the challenge when creating and auto-saving.  Once we do the initial POST, we can do this a bit simpler on a per-field basis by using PATCH instead.

For instance:

`PATCH https://api.topcoder-dev.com/v5/challenges/ed986e45-2486-439a-a159-d89759c1cb2d`

With body

[code]

I think if we do this for the fields, this will:

* Reduce the network traffic

[2020-04-28 06:46] jmgasper commented on #191
Contest https://www.topcoder.com/challenges/30123560 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 06:47] jmgasper commented on #191
Contest https://www.topcoder.com/challenges/30123560 has been updated - it has been assigned to azilkie.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 07:17] rashmi73 commented on #190
@jmgasper any open for pickup?

[2020-04-28 07:24] jmgasper commented on #190
@rashmi73  - Not currently, but I'll keep you posted.  We're still working through some things.

[2020-04-28 07:27] jmgasper commented on #187
Contest https://www.topcoder.com/challenges/30123565 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 07:27] jmgasper commented on #187
Contest https://www.topcoder.com/challenges/30123565 has been updated - it has been assigned to azilkie.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 07:27] suppermancool commented on #188
@jmgasper can you provide full url of your test challenge?

[2020-04-28 07:36] suppermancool commented on #188
@jmgasper ah no need, i can reproduce now, thanks

[2020-04-28 07:42] narekcat commented on #190
Hello @jmgasper . I want to work on issues too. Can you assign me one of them ?

[2020-04-28 07:51] jmgasper commented on #190
@narekcat - I'll keep you in mind as we figure out new issues, thanks.

[2020-04-28 07:53] suppermancool commented on #188
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/192

[2020-04-28 11:20] jmgasper commented on #188
Contest https://www.topcoder.com/challenges/30123591 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 11:20] jmgasper commented on #188
Contest https://www.topcoder.com/challenges/30123591 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 11:20] jmgasper commented on #188
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 11:26] jmgasper commented on #188
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 11:35] jmgasper opened #193 "[$30] Apply sorting to challenge listings"
On the challenge lists for all `Active`, `Draft`, and `Completed` tabs, for both `Active Challenges` *and* the project specific pages, we can now sort the challenges.  This has been recently added to the challenge API, so we can sort them by their last update date, in descending order, which is similar to what we do now with the side menu and how the projects are displayed there.

Example URL:

ht

[2020-04-28 11:39] jmgasper commented on #193
[500]: Challenge for the updated issue 193 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 11:40] jmgasper commented on #193
Contest https://www.topcoder.com/challenges/30123592 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 11:46] suppermancool commented on #193
@jmgasper done in https://github.com/topcoder-platform/challenge-engine-ui/pull/194

[2020-04-28 12:35] awzilkie commented on #190
Hi @jmgasper did you want me to work on this?

[2020-04-28 14:20] rootelement opened #195 "[$250] Update Challenge Create / Auto-Save"
We're going to refactor the Challenge Editor a little bit. We've created a challenge status of New. Here's what should happen:

1. When you land on the challenge creation page to create a new challenge, it SHOULD NOT get a UUID and SHOULD NOT auto-save, so please turn off all that default creation (or refactor it to do the following).
2. If the page doesn't have a UUID, it should only show the Cha

[2020-04-28 14:21] rootelement commented on #195
This is not a new issue, this is a refactor of #190 and #191 . That's why i assigned it to @awzilkie . More issues coming shortly for the rest of the members.

[2020-04-28 14:23] rootelement opened #196 "Implement Filestack File Upload"
## Tasks
1. Remove the file attachment UI on the challenge editor
2. Replace it with Filestack.
3. Update the challenge object to post an array of file URLs as attachments

[2020-04-28 14:24] jmgasper commented on #195
[500]: Challenge for the updated issue 195 is creating, rescheduling this event<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 17:07] awzilkie commented on #187
@jmgasper see PR here: https://github.com/topcoder-platform/challenge-engine-ui/pull/197/

[2020-04-28 21:22] jmgasper commented on #190
@awzilkie - Yes, please do.

[2020-04-28 21:40] jmgasper commented on #191
Merged into #195

[2020-04-28 21:40] #191 closed

[2020-04-28 21:40] jmgasper commented on #191
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 21:40] jmgasper commented on #190
Merged into #195

[2020-04-28 21:40] #190 closed

[2020-04-28 21:40] jmgasper commented on #190
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 22:31] #188 closed

[2020-04-28 22:33] jmgasper commented on #188
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123591<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 23:16] jmgasper commented on #193
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 23:16] #187 closed

[2020-04-28 23:17] jmgasper commented on #187
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123565<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 23:23] jmgasper commented on #193
Contest https://www.topcoder.com/challenges/30123592 has been updated - it has been assigned to diazz.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-28 23:23] #193 closed

[2020-04-28 23:24] jmgasper commented on #193
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123592<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-29 05:47] jmgasper commented on #195
@awzilkie - Let me know if you have any questions or concerns here, thanks.

[2020-04-29 12:52] awzilkie commented on #195
thanks @jmgasper I think I will need until EOD my time (EST) to finish this, because I am also doing a bit of refactoring as discussed with @rootelement

[2020-04-29 15:16] rootelement commented on #195
Sounds good @awzilkie . We have the updated endpoints in dev and are testing via postman now. I just reset the db, so if you've created something, it may have disappeared. Keep me posted.

[2020-04-29 16:32] awzilkie commented on #195
@jmgasper @rootelement a couple of questions.

1. For point 3 after clicking "Create Challenge" this URL gets changed to something like http://local.topcoder-dev.com:3000/projects/6350/challenges/new?challengeId=a1380a2a-8331-49f0-aeef-9d2ac4dc00fe with the ID as a query parameter. Is that OK or did you want it to have the same format as when you are editing an existing challenge, i.e /projects/:p

[2020-04-29 16:57] rootelement commented on #195
1. I'd prefer it be the same
2. No, the idea here is to save the fields to v5 database with a status of new, incrementally. The "Save As Draft" Actually creates the challenge in the larger system. So after you create a challenge by entering a name, it's saved in v5, and you get the uuid... any fields changed at that point should be PATCHed to the v5 api. Only when the user clicks the Save as Draft

[2020-04-29 17:06] awzilkie commented on #195
@rootelement Regarding this "Only when the user clicks the Save as Draft button will v5 send it to the old system.". Do I have to implement this in the code, as a separate API call to the v4 endpoint?

[2020-04-29 17:18] rootelement commented on #195
No, you just have to PUT the full challenge object with a status of "Draft". So essentially it's just changing the status.

I would say validation could happen in real time on field change, but also, it could happen before that button executes the PUT. That's up to you

[2020-04-29 17:40] awzilkie commented on #195
ok got it thanks!

[2020-04-30 03:21] awzilkie commented on #195
@jmgasper @rootelement see MR here: https://github.com/topcoder-platform/challenge-engine-ui/pull/198

Note: there are some problems related to the API calls returning errors... pending fixes to backend as discussed with @rootelement

[2020-04-30 03:25] jmgasper commented on #195
Contest https://www.topcoder.com/challenges/30123851 has been created for this ticket.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-30 03:25] jmgasper commented on #195
Contest https://www.topcoder.com/challenges/30123851 has been updated - it has been assigned to azilkie.<br/><br/>```This is an automated message for ghostar via Topcoder X```

[2020-04-30 06:17] jmgasper commented on #195
@awzilkie - In testing, I see a couple issues:

1.  The gantt chart isn't showing for me
2.  Changing the phase length for a phase isn't working with the PATCH functionality
3.  `Launch as Draft` sends the edited phase duration through as a string, but the others stay as ints.  This is a little strange.

![Uploading Screen Shot 2020-04-30 at 16.16.42.png…]()

[2020-04-30 13:38] awzilkie commented on #195
@jmgasper @rootelement ok I can have a look at the issues mentioned. Let me know if I should proceed

[2020-04-30 14:21] rootelement commented on #195
Yes, please proceed. If you have issues with the API, write them up here
and tag me. It should be deployed in dev and the migration is running as we
speak.

On Thu, Apr 30, 2020 at 9:38 AM Adam Zilkie <notifications@github.com>
wrote:

--

James Cori
Lead Software Engineer
jcori@topcoder.com / 413.961.9044 / @jamesmcori
<https://twitter.com/jamesmcori>

<cbonner@topcoder.com>www.topcoder.com <http

[2020-04-30 15:03] awzilkie commented on #195
ok @rootelement got it thanks

[2020-04-30 21:41] awzilkie commented on #195
Hi @rootelement one problem I am having with the API that is causing the gantt charts not to show is that the POST and GET endpoints are not returning a phases element for challenges with status "New". (See screenshots). If this is expected, then the gantt charts won't show until a draft is saved
![POST_Draft](https://user-images.githubusercontent.com/1887237/80762106-7ad18100-8b01-11ea-83dc-48dbd

[2020-04-30 21:55] awzilkie commented on #195
@rootelement this would be ok but also the challengePhases retrieved from the challenge-phases API are also not returning enough data. For example the "scheduledStartDate" field is required to be able to render the gantt chart

[2020-04-30 22:03] awzilkie commented on #195
@rootelement Also I can't do a PATCH on the "track" field
![image](https://user-images.githubusercontent.com/1887237/80763616-85414a00-8b04-11ea-9400-af5b3dc61702.png)

[2020-04-30 22:25] awzilkie commented on #195
@rootelement also I get an error on the reviewType
![image](https://user-images.githubusercontent.com/1887237/80764994-89229b80-8b07-11ea-84ba-2bd49ce2ea41.png)

[2020-04-30 22:28] awzilkie commented on #195
also the termsIds
![image](https://user-images.githubusercontent.com/1887237/80765199-0cdc8800-8b08-11ea-85f1-94e7e3598cd7.png)

[2020-04-30 22:43] ThomasKranitsas commented on #195
Hey @awzilkie

1. If a challenge was created without any phases, the GET endpoint won't return any. I believe that's obvious.
2. Keep in mind that the `/challenge-phases` endpoint returns the `Phase` definitions and not challenge.phase instances.
3. You are no longer allowed to change the `challenge.legacy.track`. see https://github.com/topcoder-platform/challenge-api/issues/90
4. We no longer sup

[2020-04-30 22:46] rootelement commented on #195
for #3 - @awzilkie the original request asked you to put the Name field on the page with a button to create the initial challenge. Move put the Track there as well. Then when you're editing a challenge, leave the track dropdown there, but disable it.

I'm not sure what to do about #1 yet. Let me think about it.

[2020-05-01 00:00] awzilkie commented on #195
Thanks @rootelement  and @ThomasKranitsas .
Also I am getting a timeout on a PUT to the phases

![image](https://user-images.githubusercontent.com/1887237/80770096-e53fec80-8b14-11ea-889a-80175ff2f942.png)

[2020-05-01 00:31] awzilkie commented on #195
@rootelement I can't do a POST with the "track" field in it
![image](https://user-images.githubusercontent.com/1887237/80771469-39e56680-8b19-11ea-8cd4-7a166da1fc3f.png)

[2020-05-01 01:09] awzilkie commented on #195
If I use legacy.track
![image](https://user-images.githubusercontent.com/1887237/80773121-7f586280-8b1e-11ea-9072-f55c1f252ed8.png)

[2020-05-01 03:13] awzilkie commented on #195
@jmgasper @rootelement @ThomasKranitsas see new PR here: https://github.com/topcoder-platform/challenge-engine-ui/pull/199/

This fixes the following issues:

- autosave of reviewtype, terms and phase duration

- some refactoring to improve on autosaving

The following issues are still outstanding:

1. A problem with the API is causing the gantt charts not to show. The POST and GET endpoints are n

[2020-05-01 06:18] jmgasper opened #200 "[$30] Track when creating the base challenge"
@awzilkie  - From this ticket, I think we just need to tweak how the `track` field is set:
https://github.com/topcoder-platform/challenge-api/issues/96

## Description

 When we create the base challenge on the `Launch New` page, we send these details:

### Sample POST

[code]

### Problem

The problem is:

* The `track` isn't sent properly at create time because it hasn't been selected.
* The `tr