[2021-02-22 09:41] drasticdpk commented on #1074
Agreed @maxceem . Better let's create separate issue so we will discuss over there.

[2021-02-22 09:48] drasticdpk opened #1077 "Copy Paste is not working for Prize"
Reference for more details
https://github.com/topcoder-platform/work-manager/issues/1074#issuecomment-783201142

![image](https://user-images.githubusercontent.com/25297859/108690893-fbdf8600-7522-11eb-9d58-e3021c9c6df6.png)

Expected : Either we can disable copy paste functionality or remove digit after decimal point.
cc @acshields

[2021-02-22 10:07] drasticdpk commented on #1069
Hi
Still having same issue for me.
Temp Solution :  For now I am creating another task and paid the developer. Once the issue is fixed I will delete that task from OR.

[2021-02-22 11:05] vikasrohit commented on #1046
I am with this solution for now as we don't know if we have more functionalities on listing page that would require the permission check before hand. We can revisit and fix it later if we need to pre populate the permissions of all challenges. However, I am very reluctant to do that even in future until we have api facade implemented which can reduce the number of api calls and overall load time.

[2021-02-22 12:03] callmekatootie opened #1078 "Set author as default copilot"
### Expected behavior

The copilot field should, by default select the person that is creating the contest - the user should be allowed to change it, but by default, it can be already set to the user

### Actual behavior

When creating a challenge, we need to explicitly set a copilot

[2021-02-22 14:02] coderhacker opened #1079 "Observation and suggestion for description fields"
### Expected behavior
During description fields testing. I have observed a couple of suggestions. please find a below-attached screenshot with points

1.  border showing in red
2.  There is not any font color and background change option in the editor.
![image](https://user-images.githubusercontent.com/62358241/108718426-694fde80-7544-11eb-84df-8e19f0c9828d.png)
3.  There is not sub and sup option

[2021-02-22 14:12] coderhacker commented on #1079
this bug related to connect, closing

[2021-02-22 14:12] #1079 closed

[2021-02-22 14:36] vikasrohit commented on #1069
ok, it might be happening for the existing challenge, we might need to fix the data for that. But you should not be seeing the issue for your new challenges.

[2021-02-22 17:38] acshields commented on #917
@vikasrohit - for my clarity, when you say confirmation on the usage of attachments, are you referring to the forums usage of attachments?

[2021-02-22 20:40] acshields commented on #1077
@drasticdpk - for my reference, what's the use case when someone would be trying to copy a number from the browser search bar? Or, pasting prize info in general?

[2021-02-22 20:41] acshields commented on #1046
@vikasrohit @maxceem - I am fine with this strategy for now.

[2021-02-22 21:13] coderReview opened #1080 "I am able to access a challenge that I am not part of connect project team"
### Expected behavior
Should not be able to access a challenge that I am not part of connect project team.

### Actual behavior
I am able to access a challenge that I am not part of connect project team.

### Steps to reproduce the problem
- Open a challenge in work manager that you are part  of connect project team, or you are not an Admin

### Screenshot/screencast
![image](https://user-images.g

[2021-02-22 21:23] rootelement commented on #965
This should've been fixed as of Feb 10th. Please confim and close.

[2021-02-23 09:42] drasticdpk commented on #1077
@acshields , As my understanding there is no hard and fast rule for it. We can create rule as per our need.  Here either we can disable copy/paste functionality or remove digit after decimal point. It will solve our current problem.

[2021-02-23 10:04] drasticdpk commented on #1042
@vikasrohit, please assist here to verify this issue since it is more related to backend.
![image](https://user-images.githubusercontent.com/25297859/108828192-a670ab00-75ee-11eb-8549-465a380bb892.png)

[2021-02-23 11:13] lakshmiathreya commented on #1074
<img width="1680" alt="Screenshot 2021-02-23 at 4 42 02 PM" src="https://user-images.githubusercontent.com/51733042/108835967-4120b800-75f6-11eb-994f-15ff3c6a438e.png">

[2021-02-23 11:24] #1074 closed

[2021-02-23 11:30] vikasrohit commented on #1042
@drasticdpk it is not about front making api calls. One of the backend systems is currently using v3 projects api to fetch the Billing Account info when launching the challenge and we are planning to move it to using v5. Its impact would be that when you are launching a challenge from WM, you would be able to launch it even if there is no BA attached to the project in Direct but now BA has to be a

[2021-02-23 11:35] vikasrohit commented on #1080
@coderReview thanks for the feedback, however, it is as per requirements because challenges are public and any one can see the basic challenge details but can not edit a challenge until he/she is part of the challenge. Do you see any use case where we are showing any information on this page which is not publicly viewable already? If yes, we can think of some solution for it.

[2021-02-23 11:39] coderReview commented on #1080
Then in this case I have another issue. When you go to one of this challenge and click back it goes to this page

https://challenges.topcoder.com/projects/undefined/challenges

which I think it’s not correct

I can change the issue details if necessary

[2021-02-23 11:39] drasticdpk commented on #1042
Thank you @vikasrohit  for the info.

[2021-02-23 11:59] vikasrohit commented on #1046
@maxceem go ahead with your solution. Just change the text to `Checking permissions...`.

[2021-02-23 12:02] vikasrohit commented on #965
@maxceem could you please check it one more time?

[2021-02-23 12:04] vikasrohit commented on #1080
That is something which we saw in past and fixed it. But it can stil happen, it is essentially stale state. @maxceem do you think we can get it fixed in our 2 weeks of quick wins time?

[2021-02-23 12:04] vikasrohit commented on #1080
In any case, we should close this issue and log a separate issue for better tracking.

[2021-02-23 12:05] vikasrohit opened #1081 "Incorrect URL when user moves back using Back button"
Carried from https://github.com/topcoder-platform/work-manager/issues/1080#issuecomment-784140075

When you go to one of this challenge and click back it goes to this page

https://challenges.topcoder.com/projects/undefined/challenges

which I think it’s not correct.

[2021-02-23 12:05] vikasrohit commented on #1080
Closing as I have created separate issue for the concern.

[2021-02-23 12:05] #1080 closed

[2021-02-23 12:08] vikasrohit commented on #917
I meant any kind of usage of the challenge attachments. I am not sure where exactly we want to consume the attachments of the challenge, but what I want to say is that we should retest this feature and deploy to prod when we know there is some consumer of this feature whether it is Community app or forums.

[2021-02-24 00:19] rootelement commented on #1019
Sorry I didn't see this. Yes, patching as canceled would work. We could also add it in WM as it currently is in OR, but I don't know if we need business rules around it (who can do it, when can you, when can't you)

[2021-02-24 00:21] rootelement commented on #950
@maxceem can you please retest this? There was a release during or after this last test that I think fixed the situation.

[2021-02-24 13:20] maxceem commented on #950
@rootelement I still have this issue today. And I had it a couple of days ago too.

### Today issue

- I've created a task today https://challenges.topcoder.com/projects/25300/challenges/c7b62375-041a-4455-9c06-266dbb97f14a/view
- I can see billing account inside task:

  ![image](https://user-images.githubusercontent.com/146016/109004826-eea4d180-76b1-11eb-96fe-df1822f51ff1.png)

- I can see the

[2021-02-25 04:23] callmekatootie commented on #965
Just verified - I received more than $40 as set in the task. Resolved :+1:

[2021-02-25 04:28] callmekatootie opened #1082 "Should be allowed to set 0 for prize"
### Expected behavior

Should be allowed to set $0 for prize if CoPilot payment is non zero

### Actual behavior

Forced to set non zero value for prize even though only copilot payment is to be set

### Context

I need to set only copilot payment (for my copilot duties) and it does not fall under development - but I am forced to set $1 for the prize - which shows up in my PACTs too confusing the

[2021-02-25 04:42] vikasrohit opened #1083 "[$30] Show detailed errors when API calls fails"
### Expected behavior
Should show the actual reason as well

### Actual behavior
As of now it just shows a generic error and link to contact support if even there is error description from the API call.

### Steps to reproduce the problem
- Load Work Manager for a Project you are not part of
- Try creating a new challenge
- Observe the error in Network console and compare it to the on screen error

[2021-02-25 04:44] vikasrohit commented on #1083
fyi @acshields @lakshmiathreya

[2021-02-25 04:45] #965 closed

[2021-02-25 05:20] phead1987 opened #1084 "Can not fill the 'Assigned Member' field and there are on options in dropdown."
### Expected behavior
When I type some name in the input field, it should show the suggestion user handle in the dropdown.

### Actual behavior
There is no options in the dropdown and when I click out of the field, the text which I typed in is missing.

### Screenshot/screencast

![image](https://user-images.githubusercontent.com/71655489/109107164-32f4a800-776c-11eb-8062-caa2caa0f0c1.png)

#### E

[2021-02-25 05:38] vikasrohit opened #1085 "Error in creating challenge when project defaults to Enforce NDA - Yes"
<img width="1630" alt="Screen Shot 2021-02-24 at 7 15 58 AM" src="https://user-images.githubusercontent.com/2417632/109108471-a6d98500-7759-11eb-8a51-2c2f2dd30301.png">

[2021-02-25 05:45] vikasrohit commented on #1085
No change in WM needed for this. https://github.com/appirio-tech/connect-app/issues/4320 is being worked on in Connect to get things fixed.

[2021-02-25 06:46] vikasrohit commented on #1085
Closing as the corresponding fix in Connect app is deployed and verified. https://github.com/appirio-tech/connect-app/issues/4320

[2021-02-25 06:46] #1085 closed

[2021-02-25 06:52] vikasrohit commented on #1084
@phead1987 can you please trying refreshing the page or relogin? To me it seems bad auth token which member api didn't like.

[2021-02-25 06:53] vikasrohit commented on #1084
@maxceem are you also seeing similar issue with your login? I am trying to verify if it is only happening with copilot access. It is working with my non admin access but I am not a copilot.

[2021-02-25 07:00] phead1987 commented on #1084
Hi, @vikasrohit

I re-login to the page. And the error still there.

![image](https://user-images.githubusercontent.com/71655489/109115561-35f69500-777a-11eb-8cd5-83d94a26c42e.png)

[2021-02-25 08:19] vikasrohit commented on #1084
Thanks @phead1987 for the update. @maxceem I guess then it is issue with copilot access.

[2021-02-25 12:48] sdgun commented on #1048
@maxceem This is not happening anymore to me.

[2021-02-25 12:52] maxceem commented on #1048
@vikasrohit I guess we can close it then, right?

[2021-02-25 13:48] #1048 closed

[2021-02-26 14:15] maxceem commented on #1084
@vikasrohit it works good with my copilot user on PROD. Vikas, maybe you could check what roles `phead` has and compare with mine:

My user has the next roles:
[code]

![image](https://user-images.githubusercontent.com/146016/109310748-9d314980-784d-11eb-97a0-2ffd0f3aefec.png)

[2021-02-26 14:22] maxceem commented on #1081
@vikasrohit @coderReview I cannot reproduce this issue, do you have steps to reproduce it?

It works good for me, see video https://monosnap.com/file/gCh5HriTX9s2h4NzBMIQuJQV9RIcSx

[2021-02-26 14:29] coderReview commented on #1081
Click the back button on the right side of the page.

[2021-02-26 14:35] coderReview opened #1087 "Error should disappear in launch popup"
### Expected behavior
Error seen in Launch popup `You cannot activate the challenge as it has not been created on legacy yet. Please try again later or contact support.`

Closing and opening launch popup again should now show error message again.

### Actual behavior
Closing and opening launch popup again keeps previous error message again.

### Steps to reproduce the problem

### Screenshot/scree

[2021-02-26 14:37] maxceem commented on #1081
Thanks for clarification @coderReview, but I still cannot reproduce:

I cannot access this project:

![image](https://user-images.githubusercontent.com/146016/109313122-8809ea00-7850-11eb-9bc0-a1117565241c.png)

I open a challenge inside that project:

![image](https://user-images.githubusercontent.com/146016/109313181-98ba6000-7850-11eb-8fa2-974c8c3a123a.png)

Click "Back" on the right works good

[2021-02-26 14:45] coderReview commented on #1081
@maxceem can't seem to reproduce it anymore.

[2021-02-27 16:34] sachin-maheshwari opened #1088 "Shape pure v5 task - related changes"
For this shapeup project, we need to send additional flag "pureV5Task" flag during creating a "task". Due to this flag backend will not dependent on legacy system sync (not need legacy challenge id).

For above changes, we are expecting following corresponding UI changes for "task" :

- Remove the Direct and Online Review buttons from the Challenge View and Listing pages
- Make the Launch button e

[2021-02-28 04:28] lakshmiathreya commented on #1088
@drasticdpk this has to be deployed tomorrow. I am doing regression - can you also spend some time on this today if possible. Thx!

[2021-02-28 05:29] drasticdpk commented on #1088
![image](https://user-images.githubusercontent.com/25297859/109408718-35494300-79b4-11eb-90e5-f68c21cfad8b.png)
![image](https://user-images.githubusercontent.com/25297859/109408732-5f9b0080-79b4-11eb-96d5-133448e40e82.png)

OK
![image](https://user-images.githubusercontent.com/25297859/109408771-d0421d00-79b4-11eb-8251-cc1bfc219f92.png)

Launch button should change "task" status to Active

When A

[2021-02-28 05:47] lakshmiathreya opened #1089 "Incorrect NDA link in Dev"
NDA uuid is possibly incorrect in Dev:
<img width="1680" alt="Screenshot 2021-02-27 at 9 20 45 PM" src="https://user-images.githubusercontent.com/51733042/109409177-72163980-79b6-11eb-8575-fe4611842f19.png">
<img width="1680" alt="Screenshot 2021-02-27 at 9 26 26 PM" src="https://user-images.githubusercontent.com/51733042/109409179-77738400-79b6-11eb-8a9d-b02c77920a6d.png">

[2021-02-28 05:48] lakshmiathreya commented on #1089
cc @rootelement  @drasticdpk  @sachin-maheshwari ...

[2021-02-28 05:48] lakshmiathreya commented on #1088
Unable to test NDA based Tasks due to this https://github.com/topcoder-platform/work-manager/issues/1089

[2021-02-28 05:52] sachin-maheshwari commented on #1088
@lakshmiathreya I am not sure about NDA.

[2021-02-28 05:54] drasticdpk commented on #1088
FYI https://topcoder.slack.com/archives/C0125BH1A2W/p1614491135049100 cc @vikasrohit

[2021-03-01 08:44] maxceem commented on #1056
Sum up:
- the next prize cannot be bigger than the previous one, but can be the same
- if a user enters the wrong prize show a validation error: `Prize for the higher place cannot be bigger than for lower place`
- we should not be able to send form if there is a validation error

[2021-03-01 08:47] maxceem commented on #1062
Sum up:
- link should have the style as link in sidebar: color and size same:

   ![image](https://user-images.githubusercontent.com/146016/109472973-73f60080-7a7b-11eb-8631-c1fdc02a8db1.png)

[2021-03-01 08:50] maxceem commented on #1068
Sum up:
- button should have size 30px x 30px (but it cannot be seen)
- the cross icon should be the same size and centered in the button
- so we can click the button a little bit outside of the cross icon

![image](https://user-images.githubusercontent.com/146016/109473383-e49d1d00-7a7b-11eb-950e-5d6395d9356b.png)

[2021-03-01 08:58] maxceem commented on #1046
Sum up:
- this fix is only for the challenge list page https://challenges.topcoder-dev.com/projects/16839/challenges
- we can delete challenge only in the "new" status on the "New" tab, but sometimes user don't have access to the challenge and we don't know it when we show the challenge list
- When the user click "Delete" in the Challenge List we can show confirmation modal, but show text saying "

[2021-03-01 09:01] maxceem commented on #1083
Sum up:
- user for testing `pshah_copilot`, the link for testing https://challenges.topcoder-dev.com/projects/16839/challenges/new
- we should show an error from the server not only if user don't have access but also if any kind of error happens during challenge creation

[2021-03-01 09:13] maxceem commented on #1046
Challenge https://www.topcoder.com/challenges/6e72c802-4319-4542-ae49-16c95b16b9ed has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 09:13] maxceem commented on #1071
Challenge https://www.topcoder.com/challenges/dfc1af38-edbc-4bff-9e1d-b85f8ddd69f4 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 09:13] maxceem commented on #1056
Challenge https://www.topcoder.com/challenges/57566090-e955-4975-aa30-b9c91d7e299d has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 09:13] maxceem commented on #1062
Challenge https://www.topcoder.com/challenges/a2f4f19e-31ff-4930-99c9-2492969881ac has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 09:13] maxceem commented on #1068
Challenge https://www.topcoder.com/challenges/4c1c3980-00cd-45e4-b111-364e1a89e8d1 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 09:13] maxceem commented on #1083
Challenge https://www.topcoder.com/challenges/044db79f-ef73-4d58-95f0-293a9a529b5d has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 09:14] maxceem commented on #1056
Hey  @mark-nakachon @CDharmateja @dashu-baba

We have a few issues open pickup https://github.com/topcoder-platform/work-manager/labels/CF. Feel free to comment on them as per these Bug Bash rules https://www.topcoder.com/challenges/424d2bcb-d236-4b8a-984a-22397de96187.

[2021-03-01 09:14] narekcat commented on #1071
Hello @maxceem . Can I work on this issue ?

[2021-03-01 09:32] maxceem commented on #1056
yes @narekcat you can work on them. Please, check the rules here https://www.topcoder.com/challenges/424d2bcb-d236-4b8a-984a-22397de96187.

You would have to comment and our GitHub bot would assign you issues automatically.

[2021-03-01 09:33] maxceem commented on #1056
See rules:
@bug-bash-helper help

[2021-03-01 09:34] narekcat commented on #1071
@bug-bash-helper assign me

[2021-03-01 09:34] maxceem commented on #1071
Challenge https://www.topcoder.com/challenges/dfc1af38-edbc-4bff-9e1d-b85f8ddd69f4 has been assigned to Narekvar90.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 09:35] narekcat commented on #1056
@maxceem Ok, thank you.

[2021-03-01 11:53] maxceem commented on #1056
@yoution feel free to pick up these issues too https://github.com/topcoder-platform/work-manager/labels/CF. Comment on them as per these Bug Bash rules https://www.topcoder.com/challenges/424d2bcb-d236-4b8a-984a-22397de96187.

[2021-03-01 12:00] Gauravseta commented on #1068
@bug-bash-helper assign me

[2021-03-01 12:00] maxceem commented on #1068
Challenge https://www.topcoder.com/challenges/4c1c3980-00cd-45e4-b111-364e1a89e8d1 has been assigned to gauravseta.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 12:07] rashmi73 commented on #1046
@bug-bash-helper assign me

[2021-03-01 12:07] maxceem commented on #1046
Challenge https://www.topcoder.com/challenges/6e72c802-4319-4542-ae49-16c95b16b9ed has been assigned to rashmi73.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 12:16] PrakashDurlabhji commented on #1062
@bug-bash-helper assign me

[2021-03-01 12:16] maxceem commented on #1062
Challenge https://www.topcoder.com/challenges/a2f4f19e-31ff-4930-99c9-2492969881ac has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 12:23] lakshmiathreya commented on #1088
@sachin-maheshwari pls note another Issue noticed for Specifically the Pure V5 Tasks: Winner tab throws up the following error:
<img width="1680" alt="Screenshot 2021-03-01 at 5 51 04 PM" src="https://user-images.githubusercontent.com/51733042/109496633-ed5f1480-7ab6-11eb-86f0-05a1f61a4359.png">
<img width="1680" alt="Screenshot 2021-03-01 at 5 51 21 PM" src="https://user-images.githubusercontent.

[2021-03-01 12:36] yoution commented on #1083
@bug-bash-helper assign me

[2021-03-01 12:36] maxceem commented on #1083
Challenge https://www.topcoder.com/challenges/044db79f-ef73-4d58-95f0-293a9a529b5d has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 12:38] PrakashDurlabhji commented on #1062
@maxceem on which branch PR is to be raised?

[2021-03-01 12:47] maxceem commented on #1062
`dev` branch

[2021-03-01 12:59] PrakashDurlabhji commented on #1062
@maxceem I am unable to create a branch off develop branch? I dont have enough rights? and what shud be the name of branch?

[2021-03-01 13:02] maxceem commented on #1062
That's correct @PrakashDurlabhji. To create a pull request, you would have to fork the repository and create a Pull Request from your fork, see how to do it https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork.

[2021-03-01 13:17] yoution commented on #1083
![image](https://user-images.githubusercontent.com/3863914/109502054-72582700-7ad3-11eb-8205-31b12fd3b045.png)

@maxceem like so, show the error message from the server?

[2021-03-01 13:18] maxceem commented on #1056
@yoution @narekcat @mark-nakachon @CDharmateja @dashu-baba

We also have a few tasks in another repository https://github.com/appirio-tech/connect-app/labels/CF.

Please, work only on one issue at a time, don't assign 2 issues from different repositories at the same time.

[2021-03-01 13:26] yoution commented on #1083
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1090 is ready for review

[2021-03-01 13:27] yoution commented on #1056
@bug-bash-helper assign me

[2021-03-01 13:27] maxceem commented on #1056
Challenge https://www.topcoder.com/challenges/57566090-e955-4975-aa30-b9c91d7e299d has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-01 14:29] PrakashDurlabhji commented on #1062
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1091 is ready for review

[2021-03-01 14:46] Gauravseta commented on #1068
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1092 is ready for review

[2021-03-01 16:16] rootelement commented on #1089
Is this related?
https://github.com/topcoder-platform/tc-auth-lib/issues/112#event-4390212783

Does it fix the issue?

[2021-03-01 16:47] yoution commented on #1056
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1093 is ready for review

[2021-03-01 19:38] narekcat commented on #1071
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1094 is ready for review

[2021-03-01 22:03] rashmi73 commented on #1046
@maxceem it has suddenly started looping again and again between two urls even after entering correct creds.

**https://accounts-auth0.topcoder-dev.com/?retUrl=http://localhost:3000/**
 **http://localhost:3000/**

I tried same in incognito, it is looping there too.

[2021-03-02 04:54] sachin-maheshwari commented on #1088
@lakshmiathreya i think that should be community-app issue. For pervious challenges its coming ?
@rootelement  any idea ?

[2021-03-02 05:07] lakshmiathreya commented on #1088
<img width="1680" alt="Screenshot 2021-03-02 at 10 35 06 AM" src="https://user-images.githubusercontent.com/51733042/109600415-15945500-7b43-11eb-81a8-1dd70f04870e.png">

[2021-03-02 06:57] lakshmiathreya commented on #1088
cc @luizrrodrigues

[2021-03-02 07:53] maxceem commented on #1046
@rashmi73

To login locally we need to run a special app for Local Authentication.

1. Download "**login-locally.zip**" attached to this post.

2. Unzip it, and inside the "login-locally" folder run `npm start`. This would host the Auth App on http://localhost:5000. (You need to have NPM version 5.2+ installed for this.)

3. Now we have to configure Work Manager to use the local version of the Aut

[2021-03-02 07:58] drasticdpk commented on #1088
Verification for project level NDA

![image](https://user-images.githubusercontent.com/25297859/109616380-2f429600-7b5d-11eb-9d56-8657cf6d69af.png)

[2021-03-02 21:24] rashmi73 commented on #1046
@maxceem some time , updating you in few hours

[2021-03-03 07:41] maxceem commented on #1046
@rashmi73 48 hours have passed since the assigning of this task, but a Pull Request was not provided, so I have to unassign you from this task.

[2021-03-03 07:41] maxceem commented on #1046
Challenge https://www.topcoder.com/challenges/6e72c802-4319-4542-ae49-16c95b16b9ed rashmi73 has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 07:41] maxceem commented on #1046
@yoution could you please comment here, so I could assign you to this task.

[2021-03-03 07:51] yoution commented on #1046
@maxceem please assign to me

[2021-03-03 07:52] maxceem commented on #1046
Challenge https://www.topcoder.com/challenges/6e72c802-4319-4542-ae49-16c95b16b9ed has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-03 12:30] yoution commented on #1046
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1095 is ready for review

[2021-03-03 16:01] maxceem commented on #1062
@PrakashDurlabhji here is the review for your PR https://github.com/topcoder-platform/work-manager/pull/1091#pullrequestreview-602656224, please, check it out.

[2021-03-04 06:49] maxceem opened #1096 "Checkpoint prize is not shown for the challenge with a checkpoint phase"
Issue from @rootelement:

One thing I noticed is you can’t set checkpoint prizes on a challenge with a checkpoint phase. You should be able to add “5 $50 checkpoints”. It can be a quantity and a prize amount, but they should be added to the prizeSets array as individual prizes of type checkpoint.

[2021-03-04 07:04] maxceem commented on #1062
@PrakashDurlabhji would you be able to elaborate the review feedback https://github.com/topcoder-platform/work-manager/pull/1091#pullrequestreview-602656224?

[2021-03-05 06:07] coderhacker opened #1097 "The Continue Setup Button disable: Unable to create the challenge, task, and first2finish due to this"
### Expected behavior
The Continue Set-up button should be active for all challenges, TASK, FNF
### Actual behavior

The Continue Setup Button disable: Unable to create the challenge, task, and first and finish  due to this

### Steps to reproduce the problem
1. go to this URL https://challenges.topcoder-dev.com/projects/16573/challenges/new.
2. Create challenge, task, and first2finish  for all De

[2021-03-05 06:08] coderhacker commented on #1097
@drasticdpk  @lakshmiathreya

[2021-03-05 12:47] drasticdpk commented on #1083
@maxceem , can you please help us to verify this issue since we are unable to verify as above mentioned.  cc @coderhacker
![image](https://user-images.githubusercontent.com/25297859/110117422-eef34a00-7de0-11eb-93c2-5cef5bb8a68c.png)

[2021-03-05 13:52] rootelement opened #1098 "Timeline Template Selection"
## Issue
Core issue is currently you cannot select a Design challenge and get the correct timeline reliably. We have fixed the backend, and surfaced timeline template selection into work manager.

## Testing
Create a **Type** Challenge in each of the 4 Tracks. Then select a timeline template, create the challenge and save as draft. The timeline in V5 should match the timeline in Legacy/OR.

## Not

[2021-03-08 06:34] m-yadav opened #1099 "Sync issue post challenge Activation"
### Expected behavior
Challenge created by Work Manager when activated should be synced to show the correct status on the challenge page

### Actual behavior
Challenge created by Work Manager even when activated keeps on showing as registration button disabled on the challenge page. Only upon force re-indexing the correct status of phase and challenge is shown on the challenge page.

Activating th

[2021-03-08 12:08] drasticdpk opened #1100 "TASS - Request for bulk payment"
**Scenario** :
Sometime we have to pay  multiple resource for same type of task. ( eg learning series challenge , Team work for QA challenge). Can we add bulk payment functionality on WM ?

[2021-03-08 17:08] maxceem commented on #1097
@rootelement @drasticdpk we don't have such an issue in the main `develop` branch, so it's likely caused by the timeline selector:

![image](https://user-images.githubusercontent.com/146016/110355186-a090b600-8041-11eb-9669-07b9dfdb1991.png)

[2021-03-09 02:40] coderhacker commented on #1083
@drasticdpk  @lakshmiathreya  this is passed on dev with this url https://challenges.topcoder-dev.com/projects/16839/challenges/new
![image](https://user-images.githubusercontent.com/62358241/110410439-e46dd480-80ae-11eb-94c8-0d4fc3cd8724.png)

[2021-03-09 02:49] coderhacker commented on #1071
Passed on DEV env.
![image](https://user-images.githubusercontent.com/62358241/110411197-23e8f080-80b0-11eb-8c21-b59e0ab64cb0.png)

[2021-03-09 02:50] coderhacker commented on #1068
this is passed on dev
![image](https://user-images.githubusercontent.com/62358241/110411302-54308f00-80b0-11eb-991c-530851156a6e.png)

[2021-03-09 03:06] coderhacker commented on #1056
this is passed on dev

https://user-images.githubusercontent.com/62358241/110412645-88a54a80-80b2-11eb-9241-c9c3b9ba98c2.mp4

[2021-03-09 03:32] coderhacker commented on #1046
this is passed on dev

https://user-images.githubusercontent.com/62358241/110414566-133b7900-80b6-11eb-82b2-a2f165a43218.mp4

[2021-03-09 09:28] maxceem commented on #1062
Challenge https://www.topcoder.com/challenges/a2f4f19e-31ff-4930-99c9-2492969881ac PkDurlabhji has been unassigned.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-09 09:29] maxceem commented on #1062
@PrakashDurlabhji 6 days have passed since the feedback is provided but not fixed. So I have to un-assign you from this issue.

[2021-03-09 09:29] maxceem commented on #1062
@yoution could you please comment on this issue so I could assign you.

[2021-03-09 09:47] yoution commented on #1062
@maxceem please assign to me

[2021-03-09 09:52] maxceem commented on #1062
Challenge https://www.topcoder.com/challenges/a2f4f19e-31ff-4930-99c9-2492969881ac has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-09 11:32] vikasrohit opened #1104 "Source code and other files are downloadable from Work Manager"
### Expected behavior
One should not be able to download source code files e.g. build.sh, README.md etc from the deployed application

### Actual behavior
As of now it is allowing a user to download any file that is present in the github repo via the application URL

### Steps to reproduce the problem
- Load https://challenges.topcoder.com/build.sh
- It should not download

--

#### Environment
-

[2021-03-09 12:34] drasticdpk commented on #1104
Verified on Dev and prod
Now it is redirect to https://challenges.topcoder.com from https://challenges.topcoder.com/**** . (other than define Route)

[2021-03-09 12:34] #1104 closed

[2021-03-10 03:32] #1089 closed

[2021-03-10 06:39] coderhacker commented on #1097
Update: It's blocking further testing on Dev. please see the updated video.

https://user-images.githubusercontent.com/62358241/110587279-7520df00-8199-11eb-903b-9536e772df0e.mp4

[2021-03-10 09:00] drasticdpk commented on #1062
Verified on Dev Env.

![image](https://user-images.githubusercontent.com/25297859/110603506-2f6f1100-81af-11eb-90a3-7e4ceeba6490.png)

![image](https://user-images.githubusercontent.com/25297859/110603570-4150b400-81af-11eb-8661-1344906a0f59.png)

[2021-03-10 12:21] maxceem commented on #1046
Payment task has been updated: https://www.topcoder.com/challenges/6e72c802-4319-4542-ae49-16c95b16b9ed
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `6e72c802-4319-4542-ae49-16c95b16b9ed` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 12:21] maxceem commented on #1056
Payment task has been updated: https://www.topcoder.com/challenges/57566090-e955-4975-aa30-b9c91d7e299d
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `57566090-e955-4975-aa30-b9c91d7e299d` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 12:21] maxceem commented on #1062
Payment task has been updated: https://www.topcoder.com/challenges/a2f4f19e-31ff-4930-99c9-2492969881ac
*Payments Complete*
Winner: yoution
Copilot: maxceem
Challenge `a2f4f19e-31ff-4930-99c9-2492969881ac` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-10 19:58] #723 closed

[2021-03-10 21:08] #720 closed

[2021-03-10 21:10] acshields commented on #938
Updated to be included as a part of Issue 750.

[2021-03-10 21:10] #938 closed

[2021-03-10 21:18] acshields opened #1108 "Tags Conditional Logic"
### **Scenario 1**
_Pre-Condition:_
- Type = Design
- Format = Challenge
_Tag Field_
- By default, populate the "Tag" field in the primary "Specification" section with these tags:
-"Wireframe"
-"Front-End Design"
- The user can delete the default tags
- The user can add additional tags

### **Scenario 2**
_Pre-Condition:_
- Type = Data Science
- Format = Challenge
_Tag Field_
- By default, populat

[2021-03-10 21:27] acshields opened #1109 "Design Meta-Data Conditional Logic"
### **Scenario 1**
_Pre-Conditions_
- Type = Design
_"Deliverable Format" Field_
- In the Advanced Settings "Specification" section, default the "Deliverable Format" field to the answer "Marvel"
- The user can delete the default and enter an alternative

### **Scenario 2**
_Pre-Conditions_
- Type = Design
_"Stock Art Acceptable" Field_
- In the Advanced Settings "Specification" section, default th

[2021-03-10 23:02] acshields opened #1110 "Advanced Settings UI: "Basic Details""
### **Section Label**
"Basic Details"

### **Section Fields**
Field 1 Label: "Project Name"
Field 1 Default Answer: [Project Name]
Field 1 default answer is not-editable.

Field 2 Label: "Billing Account"
Field 2 Default Answer: [Billing Account ID - Name - Expiration Date]
Field 2 is editable, as described in Issue X.

[2021-03-10 23:07] acshields opened #1111 "Advanced Settings UI: Participants Section"
### **Section Label**
Participants

### **Section Fields**
Display of Field 1 is determined by Scenario 1, Option 1 and Scenario 2, Option 1 in Issue X.
Field 1 Label: Copilot
Field 1 Answer: [Handle in dropdown menu, if defaulted]

Field 2 Label:  Reviewer
Field 2 Answer: [Checklist with defaulted answer determined in Issue X]

Field 3 Label: Intended Work Group
Field 3 Answer: [Responsive text f

[2021-03-10 23:14] acshields opened #1112 "Advanced Settings UI: Specifications Section"
### **Display Condition**
The only time the Advanced Settings section should display a "Specifications" section is if the Type = Design.

### **Section Label**
Specifications

### **Section Fields**
Field 1 Label: Deliverable Format
Field 1 Answer: [Responsive text field, defaulted as described in Issue X].

Field 2 Label: Stock Art Acceptable
Field 2 Answer: [Yes/No toggle, defaulted as described

[2021-03-10 23:16] acshields opened #1113 "Advanced Settings UI: Scorecard Section"
### **Section Label**
Scorecard

### **Section Fields**
Field 1 Label: Scorecard
Field 1 Answer: [Scorecard Name]
Field 1 answer is defaulted and not editable in Work Manager.

[2021-03-10 23:23] acshields opened #1114 "Advanced Settings UI: Timeline Section"
### **Section Label**
Timeline

### **Section Fields**
- Display selected template name
- Display full timeline schedule, based upon the selected template and the start date/time selection during primary set-up. Full timeline schedule includes:
-All phase names
-All phase start date/times, end date/times, and durations
-Timeline is editable

[2021-03-10 23:28] acshields opened #1115 "Advanced Settings UI: Fees"
### **Section Label**
Fees

### **Section Fields**
Field 1 Label: Copilot Fee
Field 1 Answer: [$40.00 default value, editable and Issue X conditions apply]

Field 2 Label: Reviewer Fee
Field 2 Answer: [Numeric value, editable and Issue X conditions apply].

[2021-03-10 23:53] acshields commented on #991
### **Pre-Conditions**
- A user has started to create a challenge or task
- From the "all work" table view for that project, the user has clicked onto a specific challenge or task

### **Header Layout**
**Scenario 1**
_Pre-Condition_
Status = New
_Header Options_
- [All Work] back button. When clicked, this will bring the user back to the table-view of the project's challenges and tasks.
- Current

[2021-03-11 00:00] #724 closed

[2021-03-11 00:08] acshields opened #1116 "Update: Billing Account"
### **Scenario 1**
- If a user has defaulted a billing account at the project-level, they can edit it at the challenge/task level.
- On the Advanced Settings "Basic Details" section, the user can click on the billing account field's dropdown menu and select an alternate billing account.
- The options populated in that dropdown menu are the billing accounts the user has access too.
- Changing the b

[2021-03-11 04:42] vikasrohit commented on #917
@acshields moving it out from bug fix cycle.

[2021-03-11 04:43] vikasrohit commented on #1067
Lets move it out of this bug fix cycle, it does not seems to be appearing frequently and looks like a P4.

[2021-03-11 04:44] vikasrohit commented on #1081
Closing as no one can reproduce it any more. :)

[2021-03-11 04:44] #1081 closed

[2021-03-11 09:13] coderhacker commented on #1083
This is passed on Prod
![image](https://user-images.githubusercontent.com/62358241/110763612-15e5cc00-8278-11eb-88d7-83d9a63ac82a.png)

[2021-03-11 09:13] #1083 closed

[2021-03-11 09:14] coderhacker commented on #1083
This is working fine on Production Env. closing now

[2021-03-11 09:26] coderhacker commented on #1071
This is working fine on production
![image](https://user-images.githubusercontent.com/62358241/110765111-d91ad480-8279-11eb-94e4-78aac93de72a.png)

[2021-03-11 09:26] #1071 closed

[2021-03-11 09:44] coderhacker commented on #1068
this is passed on to production
![image](https://user-images.githubusercontent.com/62358241/110767538-5fd0b100-827c-11eb-9ae3-7f08877c6784.png)

[2021-03-11 09:44] #1068 closed

[2021-03-11 10:03] coderhacker commented on #1062
this is working fine on production

https://user-images.githubusercontent.com/62358241/110770212-0fa71e00-827f-11eb-8487-9c920df68dfb.mp4

[2021-03-11 10:03] #1062 closed

[2021-03-11 10:07] coderhacker commented on #1056
this is passed on to production

https://user-images.githubusercontent.com/62358241/110770690-a1af2680-827f-11eb-9ce8-c65506184869.mp4

[2021-03-11 10:07] #1056 closed

[2021-03-11 10:10] coderhacker commented on #1046
this is passed on to production

https://user-images.githubusercontent.com/62358241/110771042-12eed980-8280-11eb-996f-eb239ee2e6e9.mp4

[2021-03-11 10:10] #1046 closed

[2021-03-11 13:42] drasticdpk opened #1118 "Unable to activate Design challenge with checkpoint template."
Reference :
https://monosnap.com/file/mQjuvEtSIhqvRZ5hNaECxd4tiFIDnd

[2021-03-11 14:55] SathyaJayabal commented on #1118
@rootelement , please find issues with other timeline templates too in the test report
https://docs.google.com/spreadsheets/d/1oOO0tLoMdgrN88-XXt8Q5jNnqmT_iaG5Q9lYBaTgdrY/edit#gid=0

[2021-03-11 14:58] rootelement commented on #1118
Great report! I think we've figured out the activation issue. Testing in dev now.

[2021-03-11 15:49] lakshmiathreya commented on #1118
cc @acshields

[2021-03-11 18:00] acshields commented on #917
@vikasrohit - noted. Right now, I have this as an aspect of the new UI implementation for WM. If that project pitch gets accepted for the next round, we could group this into that effort.

[2021-03-12 04:03] lakshmiathreya commented on #1098
@vikasrohit can you update the label pls since this feature is reverted from Prod? cc @drasticdpk

[2021-03-12 06:05] vikasrohit commented on #1098
@lakshmiathreya we haven't reverted the changes in code yet. We have just reverted the build on the production, that means the issue still lies in 0.7.0 but 0.7.0 is not on production right now, it is 0.6.0 on production. In case we are not able to solve the problem by next prod push, we would revert it in the code as well.

[2021-03-15 06:11] vikasrohit commented on #1084
@phead1987 it seems we are still not able to reproduce the issue. I would try to get into more details by looking into your roles and other authorization stuff, may be something is wrong there.

[2021-03-15 06:18] vikasrohit commented on #1042
Moved it out of 0.5.2 to next planned release as we are still not able to decide if we can go ahead with these changes.

[2021-03-15 06:26] vikasrohit commented on #1110
@acshields we need challenge api to support setting the billing account on the challenge object which is not the case right now. @rootelement with your upcoming changes to fetch billing details in challenge object, will we be able to set the billing account on the challenge object when creating it?

[2021-03-15 19:31] acshields opened #1121 "URL: Update Work Manager URL"
Update Work Manager application's URL to be: connect.topcoder.com/workmanager

[2021-03-15 19:37] acshields commented on #1099
Notified Oanh Tran/community app of this issue.

[2021-03-15 19:38] #1099 closed

[2021-03-16 04:22] vikasrohit commented on #1121
@acshields I am not sure if we can really call it bug fix or quick win because technically it is major change and we might have to do a good regression testing after such changes. fyi @lakshmiathreya

[2021-03-16 16:12] acshields commented on #1121
@vikasrohit - good to know. I will add this to a larger shape-up pitch then & combine efforts with Will & TaaS App so we have a standard URL naming convention across the client experience. Thanks!

[2021-03-17 19:28] acshields opened #1122 "[$50] Design Challenges: Display Pop-Up Message"
### **Context**
Due to the present inability to support multi-round (checkpoint) challenges in Work Manager, please display this warning message to users attempting to create a design challenge in Work Manager.

### **Update**
**Pre-Conditions**
- Type = Design
- Format = Challenge

**Warning Workflow**
Once the user enters the pre-conditions above, a pop-up window appears.
The pop-up message read

[2021-03-17 19:29] acshields commented on #1122
@maxceem @vikasrohit - can we get this one done in light of the API issues with for design challenges?

[2021-03-17 21:39] maxceem commented on #1122
@yoution would you like to handle it? if so, please comment and you can work on it.
- Please, reuse the design of other popups we have like this one:

   ![image](https://user-images.githubusercontent.com/146016/111542009-d9373a80-8779-11eb-8af8-e9c400832fbc.png)
- Create a new component for this popup and try to keep as much logic inside that component as possible.

@acshields I have just one que

[2021-03-17 23:21] yoution commented on #1122
@maxceem please assign to me

[2021-03-18 03:21] yoution commented on #1122
@maxceem
1.left button confirm, and right button cancel?
2.there are already two components existed, `AlertModel` and `ConfirmationModal`, what 's the new name of the component?

[2021-03-18 11:12] vikasrohit commented on #1121
Yep, the dev efforts might not be large but we need full cycle of QA regression to avoid any dangling link.

[2021-03-18 11:39] maxceem commented on #1122
@yoution

let's make left cancel, and right - confirm

If we can reuse any of these existent modals, please, reuse them. If no, then name a new component `DesignChallengeWarningModal`.

[2021-03-18 18:42] acshields commented on #1121
@maxceem - makes sense! probably a lot of places we don't even realize that are linked to the URL.

[2021-03-19 08:26] maxceem commented on #1122
@acshields this is done, demo video https://monosnap.com/file/1vM7hp16OKpFBOcoAX32G5zUkGExmD.

hotfix:
- DEV https://github.com/topcoder-platform/work-manager/pull/1125 (merged)
- PROD https://github.com/topcoder-platform/work-manager/pull/1124

[2021-03-19 12:23] maxceem commented on #1096
Sum up:
- We already have implemented component for showing Checkpoint Prizes `CheckpointPrizes-Field` https://github.com/topcoder-platform/work-manager/blob/develop/src/components/ChallengeEditor/CheckpointPrizes-Field/index.js#L9
- We have to show it **only** if Timeline Template selected is `Design with Checkpoints` - create ENV variable with the ID of this template to define it.
- We have to s

[2021-03-19 12:24] maxceem commented on #1096
@yoution would you like to handle it?

[2021-03-19 12:26] yoution commented on #1096
@maxceem please assign to me

[2021-03-19 14:27] yoution commented on #1096
@maxceem
1.this filed  is not showed in `create new work` page,
![image](https://user-images.githubusercontent.com/3863914/111795148-e54e0400-8901-11eb-847a-b7ddf79cbef4.png)
I need to create the `timeline template` fileld?

2. I can not go to the detail page, every page all show the error
![image](https://user-images.githubusercontent.com/3863914/111795397-1c241a00-8902-11eb-823c-0f62b4a0d7dd.png

[2021-03-19 14:56] maxceem commented on #1096
@yoution

Please, use branch `feature/timeline-template` for development, it has this field.

Hmm, could you please, try using user `TonyJ` or `jcori`.

[2021-03-20 08:55] maxceem commented on #1096
@rootelement could you, please, confirm, that we only have to show a field for checkpoint prize if Timeline Template selected is "Design with Checkpoints"? Or is there any other logic?

![image](https://user-images.githubusercontent.com/146016/111864619-c899e680-896a-11eb-9c10-882b2d3355f7.png)

[2021-03-22 14:09] rootelement commented on #1096
@maxceem @vikasrohit we have to table this issue now. Because of limitations we ran into with the legacy challenge processor, we're not able to create a challenge with checkpoints from WM. We've changed direction based on discussions with Matt and Mess to go toward "pure v5 challenge" creation, meaning skipping legacy all together. Once that happens, this will be valid again.

[2021-03-22 15:07] maxceem commented on #1096
@rootelement as we've already implemented it in a separate branch. Would you like us to merge it into the `feature/timeline-template` branch. Or `feature/timeline-template` could be deployed separately without this feature?

[2021-03-22 15:33] rootelement commented on #1096
None of this work can proceed. We need to stay as is for now on WM as the legacy can only create a challenge with the default timeline template. So you can merge the functionality into that timeline-template branch, but that's not going out any time soon.

[2021-03-23 08:19] maxceem commented on #1096
Challenge https://www.topcoder.com/challenges/e73876af-a740-4e14-8163-ce886dfa602b has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-23 08:19] maxceem commented on #1096
Challenge https://www.topcoder.com/challenges/e73876af-a740-4e14-8163-ce886dfa602b has been assigned to yoution.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-03-23 08:20] maxceem commented on #1096
Paid via https://www.topcoder.com/challenges/4b13a959-8fdc-4eb3-b715-4225c1d55b00

[2021-03-23 08:21] maxceem commented on #1096
This feature was implemented and pushed to the `feature/timeline-templates branch.

[2021-03-25 22:04] huangqun opened #1128 "Completed task still shown as active"
### Expected behavior
This challenge was closed a long time ago but still shown as active in WM: https://challenges.topcoder.com/projects/24926/challenges/a81f0890-e5d7-43a0-8127-c2c129b066ab/view

And I don't know if I should click Close Task again since I don't know if it will re-issue the payments

### Actual behavior
The task should not be shown as active.

### Steps to reproduce the problem
G

[2021-03-29 16:44] acshields commented on #1019
@vikasrohit @rootelement - Tony was asking whether this issue could be tackled during our next cool down period. Do you think that this could be accomplished then, or does this issue require a project pitch?

[2021-03-30 05:58] coderhacker commented on #1122
this is passed on dev
https://user-images.githubusercontent.com/62358241/112940656-1244b700-914b-11eb-9cee-75814c812263.mp4

[2021-03-30 11:18] vikasrohit commented on #1019
@acshields we can cancel a `Draft` challenge from WM but if a challenge is cancelled in legacy apps it won't be synced back to WM. @rootelement please correct me if I am wrong here.

[2021-03-30 14:21] rootelement commented on #1019
Right now a challenge has to be "Active" in either v4 or v5 to be synced. If a challenge is Draft in legacy and Canceled on V5, it won't sync at all.

[2021-03-30 15:39] acshields commented on #1019
@rootelement - IYO, is the juice worth the squeeze to do enable this sync so canceled challenges can be be seen in WM, or will it open the door for complications?

[2021-03-30 16:03] ajefts commented on #1019
The important use case here is to cover challenges that were active and then finished with a canceled status.  If it goes from Draft directly to Canceled I don't think we really care.  However, if it goes from Active to "Canceled - Failed Review" then we need to see it since it actually happened, impacts costs/timelines/fulfillment/etc.

[2021-03-30 16:56] acshields commented on #1019
@ajefts - fair call out. @rootelement - I am still curious to hear if there are any repercussions we need to think through. I am thinking back to when we had the very long sync timing, which was partially tied to when we were syncing to legacy in draft state. I know that was addressed, but just curious if we would run into any complications along those lines.

[2021-03-31 09:40] coderhacker commented on #1122
This is passed on Prod

https://user-images.githubusercontent.com/62358241/113124475-2b289780-9233-11eb-8db4-99d2c5d0ee10.mp4

[2021-03-31 09:40] coderhacker commented on #1122
Closing the issue

[2021-03-31 09:40] #1122 closed

[2021-04-01 05:10] vikasrohit commented on #1019
From @rootelement's explanation what I understand is that, @ajefts's use case is going to be working because challenge is moving from Active to Cancelled, and I think it should already be true. @ajefts do you have any recent example of such challenge on production?
And the other use case where the challenge was moved directly to Cancelled status, I think once we implement cancel button in WM, we s

[2021-04-01 05:15] rootelement commented on #1019
Tony found a "way around" by direct-entering the URL into connect, editing the challenge, saving as draft and then activating again, but... not sure about that flow. This may be a good use case for admin.topcoder.com instead of working it into WM

[2021-04-01 13:31] aaabbott opened #1129 "Actionable affordances are inconsistent and confusing"
### Expected behavior
Work Manager has inconsistent styling of actionable affordances which leads to a confusing user experience as well as a lack of clarity of how to engage.

### Actual behavior
In Work Manager, one of the main actions is to "Activate" a piece of work which has been drafted. The UI enables this via a button-looking element that only has a colored border. This differentiates it f

[2021-04-03 14:04] Dara-K opened #1130 "Tasks are not automatically closing"
### Expected behavior
Create a private task in WM and expect to automatically close it in 10-15m once I pressed the Close button

### Actual behavior
I created a task on March 31,2021 and 2 days later the task was still not closed.
https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30176474

I tried to close it from OR but I got an error so I emailed support and they solved it.

#

[2021-04-05 22:07] ThomasKranitsas opened #1131 "Changing the copilot does not remove the previous copilot"
### Expected behavior

The previous copilot should have been removed from the challenge.

### Actual behavior

Both copilots are set for the project.

### Steps to reproduce the problem
- Create a challenge
- Assign a copilot
- Save the challenge
- Change the copilot
- Observe

[2021-04-06 11:36] vikasrohit commented on #1131
Thanks for catching it. Is it happening every time to you or just happened one occasional case? As far as I remember, we fixed similar issue long back, right @maxceem ?

[2021-04-06 11:45] maxceem commented on #1131
@vikasrohit I remember the only issue: we could not remove copilot once assigned without changing https://github.com/topcoder-platform/work-manager/issues/948

But I don't remember any issues with changing the copilot to a different one.

@ThomasKranitsas I could not reproduce the issue neither on DEV (demo https://monosnap.com/file/tmAzdSnWyIVG98lXRSSokumC1qjxVQ) nor on PROD (demo https://monosna

[2021-04-06 13:37] ThomasKranitsas opened #1132 "Task startDate should be today's date"
### Expected behavior
When running a task via the WM, the `startDate` should be today's date and not tomorrow's date. Or, we should at least be able to modify the date.

### Actual behavior
The WM is currently using tomorrow's date as `startDate` which is very annoying.

### Steps to reproduce the problem
- Create a Development Task
- Save as draft
- Activate
- Close
- Observe. The task will close

[2021-04-06 17:09] rootelement commented on #1132
You _can_ modify the date. It's at the bottom of first "box", above the Challenge Description. But it shouldn't default to tomorrow.

I think the fix here is, by default, there's a check box that says "Open Registration On Launch" that is checked, and if you uncheck it, then you can set the start date in the future.

This is a big pain with tasks, as it seems to ignore the start date, or the start

[2021-04-07 15:30] RiteshTC opened #1133 "Feature: Attach Terms to Billing Account"
Informix currently supports attaching specific Terms and NDA to Billing Account. Once specified, its auto applied to all challenges created using the Billing Account.

eg a customer specific NDA was created. The specific NDA can be attached at the Billing Account level.

All challenges launched via the Billing Account will have the new NDA applied by default.
As an extra feature, a copilot or mana

[2021-04-11 18:56] gondzo opened #1134 "Closing a task does not close the challenge in OR"
### Expected behavior
When I create a task in WM, launch it and then close, it's always stuck in OR in iterative review with submission and registration phases swapped, so even closing out the challenge manually won't work in OR. The only resolution is to ask support to fix it each time.

### Actual behavior
Should close out the challenge successfully

### Steps to reproduce the problem
Create a n

[2021-04-14 08:30] ketzjs09 opened #1135 "Feature Request: a 'Download All' button similar to that in Direct."
I'm having difficulties downloading submissions one at a time in challenge where we receive a lot of submissions. It is typical to receive 10+ submissions particularly in DS challenge nowadays.

Given that the useful 'Download all' button in Direct has now been deprecated, a similar functionality can be introduced in the new Work Manager.

[2021-04-15 09:25] ketzjs09 opened #1136 "There should be an option to set and preview the launch date/time of tasks"
Currently, I see no option to set the launch date or time for tasks in work manager, and interestingly the tasks are scheduled to launch 24 hours later.

Hence two changes are needed:
1. An option to set the launch time and intended duration needs to be added for tasks.
2. In any case, the default launch date/time should be now, or at most 5 minutes later - a default of 24 hours later probably isn

[2021-04-15 12:14] ketzjs09 opened #1137 "Unable to assign task to a member in Work Manager"
When creating a task, when I type someone's name in the _Assign To:_ section, no search results appear.

[2021-04-16 07:18] vikasrohit commented on #1137
It works with handle only as of now.

[2021-04-16 08:54] ketzjs09 commented on #1137
Sorry, I meant handle. Nothing showed up when I entered the handle. It used to work the last time I checked a few days ago.

[2021-04-19 09:27] vikasrohit commented on #1137
ohk. It might be temporary glitch with member api. As of now it is loading the possible handles matching the typed characters.

[2021-04-21 18:18] acshields opened #1138 "Drag or Paste Images in Markdown Fields"
Enable users to drag or paste an image into the markdown field.

[2021-04-29 16:36] acshields opened #1139 "Task Start Date"
Moving #pd-work-manager conversation to here and capturing details - @rootelement @vikasrohit @maxceem

A start date field should display for all tasks in WM
The start date should default to the current date and time

[2021-04-29 17:09] maxceem commented on #1139
Related issue https://github.com/topcoder-platform/work-manager/issues/1007

[2021-04-29 17:12] maxceem commented on #1139
As confirmed by James on Slack: we should **not** be able to set the start date for tasks manually, it should be set automatically to the current time during activation.

[2021-04-29 17:45] maxceem commented on #1139
hey, @dashu-baba, previously you've fixed this task via https://github.com/topcoder-platform/work-manager/issues/1007 but somehow it doesn't work anymore for us. Would you like to find what happened to it and fix it as a separate $30 task?

We have to make sure that it works good in all the cases which were found during the review https://github.com/topcoder-platform/work-manager/pull/1031#pullreq

[2021-04-29 17:54] maxceem commented on #1139
Hmm, this works for me on DEV, see demo video:
- Activate from Edit page https://monosnap.com/file/YxA1VQeTo8eXwFzIfz3lPQWz1E2c83
- Activate from View page https://monosnap.com/file/r7MjPl3XNmrV2rXREw5dpWoCXhaiMT
- Activate from the List page https://monosnap.com/file/n4WxXig7uWUPLyYk9NREoAGn167yES

[2021-04-29 17:55] maxceem commented on #1139
Sorry, @dashu-baba please ignore above. Your code works well as before.

[2021-04-30 05:25] jmgasper opened #1141 "Work Manager not showing copilot for Topcoder-X tickets"
### Expected behavior
A challenge created by Topcoder-X should show the assigned copilot that is assigned via the resources API

### Actual behavior
The copilot isn't shown for challenges created via TC-X.

A few notes:

* The copilot *is* added successfully in the resources API
* The copilot payment does go through successfully in PACTs
* Topcoder-X uses an M2M token when creating and managing ch

[2021-04-30 21:02] ThomasKranitsas commented on #1141
This is an issue with the frontend. I tested and the API does return all resources correctly.

[2021-04-30 21:14] ThomasKranitsas commented on #1141
You can also see in the network tab that all resources are being returned by the API
<img width="1634" alt="Screenshot 2021-04-30 at 11 52 02 PM" src="https://user-images.githubusercontent.com/4612921/116754881-2ada1280-aa12-11eb-83c3-b08abc7626f4.png">

[2021-05-01 00:20] jmgasper commented on #1141
@ThomasKranitsas - I think if the check of `currentUser.userId === challenge.createdBy` failed, I wouldn't be able to edit it as a manager, but I can?  Seems strange that only the copilot field is affected.

[2021-05-03 14:24] vikasrohit commented on #1141
@jmgasper is that task is deleted now? v5 api is returning on 404 to me.

@ThomasKranitsas I don't we are doing any thing like `currentUser.userId === challenge.createdBy`. And the resource record that you shown in your screenshot does not have the copilot role id, in dev and prod both, the copilot role id is `cfe12b3f-xxxx-xxxx-xxxx-ec86726f76bd`. Front end just [looks](https://github.com/topcode

[2021-05-03 19:30] acshields opened #1142 "Issued Payments Not Reflecting on Billing Account"
Issues payments are not reflecting against a project's billing account.

Example 1
https://connect.topcoder.com/projects/27180
https://topcoder.my.salesforce.com/a0U1K00000J9S9x

Example 2
https://connect.topcoder.com/projects/27440
https://topcoder.my.salesforce.com/a0U1K00000J9bDv

[2021-05-03 21:17] jmgasper commented on #1141
@vikasrohit - Note that this task was created in dev:  6b5f5af8-70ea-459d-8591-ef554aff1359 is the UUID

[2021-05-03 23:44] ThomasKranitsas commented on #1141
@vikasrohit has anything changed on the WM? I just opened the exact same challenge and everything shows up fine.. ¯\_(ツ)_/¯

[2021-05-03 23:50] jmgasper commented on #1141
@ThomasKranitsas - https://challenges.topcoder-dev.com/projects/17090/challenges/6b5f5af8-70ea-459d-8591-ef554aff1359/view ?

I still see copilot as empty.

<img width="584" alt="Screen Shot 2021-05-04 at 9 49 48 am" src="https://user-images.githubusercontent.com/21790/116946668-18840100-acbe-11eb-81fb-9b0ce1031fe7.png">

[2021-05-03 23:50] jmgasper commented on #1141
I'm logged in as `TonyJ`

[2021-05-04 04:42] vikasrohit commented on #1141
Thanks @jmgasper for pointing it out, I was extra cautious about noticing the env, but somehow I missed that you were also referring the dev env.

@ThomasKranitsas no change since last release a month ago. Also, when I am trying to load the @jmgasper's [task](https://challenges.topcoder-dev.com/projects/17090/challenges/6b5f5af8-70ea-459d-8591-ef554aff1359/view) it is not returning me the copilot

[2021-05-04 19:42] rootelement commented on #1142
Following up. A fix has been deployed on the legacy challenge processor to pull the markup into the legacy challenge project_info table. Mess and Ritesh put together a query to backfill data, and the invoicing process is being re-run overnight. I believe this is mitigated from all sides, but is not complete yet.

[2021-05-05 15:54] rootelement opened #1143 "pureV5 Task NDA Required Even When Not Selected"
In dev:
1. Project has NDA required
2. Create a Development Task
2. On the details page, the NDA radio button is selected by default

<img width="384" alt="Screen Shot 2021-05-05 at 11 52 21 AM" src="https://user-images.githubusercontent.com/5400156/117170848-5ce3cf80-ad98-11eb-98ef-03b675a31d79.png">

4. Select a member who hasn't signed the NDA (in this case, `jcori30`
5. Launch the challenge, c

[2021-05-05 16:01] vikasrohit commented on #1019
@rootelement @ajefts @acshields do we need feature to cancel the challenge from WM?

[2021-05-05 16:02] vikasrohit commented on #1082
I think we need to set a non zero value in prize money because legacy system still needs non zero prize money. Correct me if I am wrong here @rootelement @ajefts
fyi @acshields

[2021-05-05 16:04] vikasrohit commented on #1042
This one is deployed by @rootelement some time ago. Closing. Please reopen it if I have missed something.

[2021-05-05 16:05] #1042 closed

[2021-05-05 16:06] vikasrohit commented on #1142
Let me know if I need to do any changes for this in WM or Connect.

[2021-05-05 16:07] vikasrohit commented on #1132
Closing in favour of https://github.com/topcoder-platform/work-manager/issues/1139 as active work is going on there.

[2021-05-05 16:07] #1132 closed

[2021-05-06 04:21] vikasrohit commented on #1137
@ketzjs09 We have found the root cause for your problem. Please log a support ticket to add a copilot role to your handle. You are missing `copilot` role in your profile which is causing this trouble to you.

[2021-05-06 05:12] vikasrohit commented on #1129
@acshields we can take it in this bug fix round. For now, we are going to make `Delete` button consistent with `Activate` button as suggested by @aaabbott, by removing the solid fill of the `Delete` button.

[2021-05-06 05:25] vikasrohit commented on #1129
@acshields @aaabbott I have made following changes for now to make tags/status and actionable button differentiable.

<img width="1171" alt="Screen Shot 2021-05-06 at 10 53 36 AM" src="https://user-images.githubusercontent.com/2417632/117246067-8f093600-ae59-11eb-8f7e-52983b456793.png">

[2021-05-06 06:42] lakshmiathreya commented on #1143
cc @drasticdpk @coderhacker

[2021-05-06 06:56] coderhacker opened #1144 "Task UI issue for all track development , Data Science , Design, Quality Assurance"
### Expected behavior
This should be proper align as per user experience
### Actual behavior
After creating a task for all tracks,  found UI alignment issue please see attached screenshot

### Steps to reproduce the problem
- Create a task for all tracks
- Save in draft
- see the draft task

### Screenshot/screencast
Attach or link a resource.
![image](https://user-images.githubusercontent.com/623

[2021-05-06 07:30] drasticdpk commented on #1143
**Findings**
1. Above issue valid
2. Unable to find out Direct/OR link while hovering the challenge , please ignore this if this is expected.
![image](https://user-images.githubusercontent.com/25297859/117251077-e14f5480-ae63-11eb-9241-2c9e2216be5e.png)
3. In dev env, does not found NDA ( in prod we can see )
![image](https://user-images.githubusercontent.com/25297859/117255485-6b4dec00-ae69-11eb-

[2021-05-06 10:16] drasticdpk opened #1145 "[Task] Let's make Assigned Member Mandatory filed while creating the Task"
**Reference**
![image](https://user-images.githubusercontent.com/25297859/117282065-0f449100-ae84-11eb-82a0-10b3aeb7d2f1.png)

[2021-05-06 10:22] lakshmiathreya commented on #1143
@drasticdpk - since this is Pure V5 and no legacy id - OR entry will not be there. For Edit button - can you log a different issue?

[2021-05-06 10:24] coderhacker opened #1146 "Winner Tab is showing blank when task is completed"
### Expected behavior
The winner should not show blank.

### Actual behavior
The winner Tab is showing blank when the task is completed.

### Steps to reproduce the problem
Please attached video for reproducing the issue

https://user-images.githubusercontent.com/62358241/117283089-14eda700-ae83-11eb-905a-656d1986744e.mp4

### Screenshot/screencast

![image](https://user-images.githubusercontent.c

[2021-05-06 11:19] coderhacker opened #1147 "Challenge name revert after editing the name of challange for all track"
### Expected behavior
Challenge name should not revert  after editing the name

### Actual behavior
 Challenge name revert after editing the name of a challenge for all tracks. please attached video for reproducing this issue

### Steps to reproduce the problem
- Create challenges for the development track
- Edit the challenge name.
- See attached video

https://user-images.githubusercontent.com/6

[2021-05-06 13:38] drasticdpk commented on #1143
Ok noted @lakshmiathreya .

[2021-05-06 13:41] drasticdpk opened #1148 "[Task] Edit button should remove/hide for completed task."
**Seps**
1. Create a task and make it complete status.
2. Open it and try to edit it.

**Expected** : Edit button should remove/hide for completed task.

**Reference**
![image](https://user-images.githubusercontent.com/25297859/117307840-a6b7dd00-aea0-11eb-9688-9bd090722f12.png)

[2021-05-07 08:41] coderhacker opened #1149 "Forum link is not active for the Active challenges"
### Expected behavior
Forum link is available for the Active challenges, this should be active.

Please note: This is working on the Production environment. please attached screenshot
![image](https://user-images.githubusercontent.com/62358241/117422934-c6511300-af3d-11eb-8075-fc278f672cc3.png)

### Actual behavior
The Forum link is not active for the Active challenges

### Steps to reproduce the

[2021-05-07 09:03] coderhacker opened #1150 "Forum link is not active for the Active challenges"
### Expected behavior
Forum link is available for the Active challenges, this should be active.

Please note: This is working on the Production environment. please see attached screenshot
![image](https://user-images.githubusercontent.com/62358241/117426046-1087c380-af41-11eb-962d-2b7715047862.png)

### Actual behavior
The Forum link is not active for the Active challenges for all track

### Steps

[2021-05-07 13:37] Dara-K opened #1151 "Groups not displayed"
### Expected behavior
When working with predefined groups in WM, they don't show up by default (that dropdown is blank initially).

### Actual behavior
The groups should show without the user having to type to search for them and then for them to show up.

[2021-05-10 09:42] sanjaytopcoder opened #1152 "Topcoder system's doesn't add me with a Manager role on my challenges"
### Expected behavior
When I run a challenge as a PM of a project, whereas my role on connect is manager. The system shall enroll me as a Manager in Topcoder internal systems.

### Actual behavior
It registers me as an observer on a challenge all the time.

### Steps to reproduce the problem
1. Launch a challenge (Copilot launches the challenge)
2. Check for a role in OR.

### Screenshot/screencas

[2021-05-11 12:56] rootelement commented on #1150
Forums aren't created for tasks. This is not an issue. The only issue is maybe that WM shouldn't show the forum link for a task.

[2021-05-15 05:45] mirzailhami commented on #1143
@vikasrohit it always send the same payload either with or without NDA required to `https://api.topcoder-dev.com/v5/resources`.

For example:
[code]

The API checked whether the user has been agreed or not:
https://github.com/topcoder-platform/resources-api/blob/develop/src/services/ResourceService.js#L252-L254
As you can see it always check the agreement of the assigned member.

Solution:
It shou

[2021-05-16 04:59] vikasrohit commented on #1143
No @mirzailhami I don't think we need to do anything with resources api. Challenge API automatically validates the assigned members' terms when we try to save the challenge. All we need to make sure is that when NDA is turned off, it should remove the NDA term from the terms array of the challenge object when it POST/PATCH data after user has made changes to the edit form.

[2021-05-16 07:24] mirzailhami commented on #1143
It calls POST /resources when you click `Save Draft`, with this payload.

[code]

![Screen Shot 2021-05-16 at 14 19 54](https://user-images.githubusercontent.com/8240895/118389018-eb3a3a00-b651-11eb-8b23-18936e95df99.png)

How do we remove the NDA term from the terms array of the challenge? Do you mean we should call POST /challenges without terms array in payload first, before calling POST /resou

[2021-05-16 11:56] vikasrohit commented on #1143
@mirzailhami Please see this [code](https://github.com/topcoder-platform/work-manager/blob/develop/src/components/ChallengeEditor/index.js#L587-L606). This piece of code is trying to remove the NDA terms from the terms array on uncheck of NDA (or choosing `No` of the radio button), but this piece is not working. We have to figure out that to fix the issue. I think some thing is going on with the w

[2021-05-16 22:25] mirzailhami commented on #1143
@vikasrohit that function worked. On button `Save Draft` clicked, it called `/resources` first, then `/challenges`, that caused the errors. I sent commit for fixes.

![Screen Shot 2021-05-17 at 05 22 09](https://user-images.githubusercontent.com/8240895/118414625-f8960980-b6cf-11eb-8574-011a665b7169.png)

[2021-05-17 04:34] vikasrohit commented on #1143
@mirzailhami good catch. but I think there was a reason why we are saving the challenge details after saving resources. I am not able to recall, but there was some issue if do challenge update first and resource later. I am thinking through it but there is definitely some regression to be there if we merge this change.
Ideally, we want all of the API calls to update their respective resources in a

[2021-05-17 05:25] mirzailhami commented on #1143
@vikasrohit before this commit, only updateResource for submitter function called before updateChallenge. All other updateResource function called after updateChallenge.

[2021-05-17 05:53] vikasrohit commented on #1143
Ohk, that makes sense. I think earlier we were saving resources first and if there was any error in it, the challenge update used to fail. So, what we did is to save challenge first and then do resource management so that challenge changes are saved first and in case there is any error in resource updates after it, user can always retry from Work Manager to update the resource (i.e. update copilot

[2021-05-17 06:01] vikasrohit commented on #1143
@drasticdpk this is also ready for QA.

[2021-05-17 06:03] vikasrohit commented on #1129
@drasticdpk this one is ready for QA.

[2021-05-17 06:33] vikasrohit opened #1154 "Prevent activation of challenge when BA associated to the project is not active"
Currently a user can activate a challenge even if the BA associated to its project is inactive, though the API returns error when there is no BA associated to the project but it does not return any error if the BA is inactive.
So to prevent over billing, we have to stop user from activating the challenge from the WM if the BA associated is not active. We already couple of endpoints in projects api

[2021-05-17 06:33] vikasrohit commented on #1154
fyi @ajefts

[2021-05-17 06:47] coderhacker commented on #1129
QA Comment: This is pass on dev

![image](https://user-images.githubusercontent.com/62358241/118443517-9bb74500-b709-11eb-8c98-23d6035328df.png)

Uploading 2021-05-17-11-45-37.mp4…

[2021-05-17 06:49] coderhacker commented on #1129
https://user-images.githubusercontent.com/62358241/118443703-d9b46900-b709-11eb-8630-5f07a9c8b9d4.mp4

[2021-05-17 07:24] coderhacker commented on #1143
QA Comments: This is failed on DEV, please find the attached video for all scenarios:

https://user-images.githubusercontent.com/62358241/118447575-96102e00-b70e-11eb-8709-55ce0084266c.mp4

[2021-05-17 08:27] mirzailhami commented on #1143
@coderhacker @vikasrohit I followed the steps to reproduce based on issue detail above, without Groups.

https://user-images.githubusercontent.com/8240895/118457706-3a509f80-b724-11eb-8ab7-6f21211b33bf.mov

[2021-05-17 09:05] lakshmiathreya commented on #1118
@drasticdpk @coderhacker can you update with the current status pls? cc @SathyaJayabal

[2021-05-17 09:16] vikasrohit commented on #1143
@coderhacker it is very long video for the purpose of validation of the issue. I think issue is fixed and is working as expected even in your video. I can see that when you tried to assign the task to a member, it showed you error of terms for two terms (one NDA and another Standard terms) and as soon as you selected `No` from the NDA question, it reduced the terms to be accepted by the assigned m

[2021-05-17 09:19] vikasrohit commented on #1143
@mirzailhami I think in your video you tried to assign the task to your self, and you might have already accepted the NDA terms, that is why it is not giving any error whether you choose Yes or No for the NDA question. So, please choose a user who hasn't signed the NDA terms and then you should see the validation error for the Yes answer for NDA question and you should not see the error when No is

[2021-05-17 09:38] coderhacker commented on #1143
@vikasrohit thanks for the update.  Passed on Dev

[2021-05-17 10:04] coderhacker commented on #1118
This is passed on dev env. please find below-attached evidence for the dev environment.

https://user-images.githubusercontent.com/62358241/118471361-4f79fe00-b725-11eb-8285-fbb72da64dd7.mp4

[2021-05-17 14:01] lakshmiathreya commented on #1118
@rootelement - could you clarify about how this is working in Dev ?

[2021-05-17 14:24] lakshmiathreya commented on #1118
Clarified with @rootelement - this Issue about Templates in Prod is under investigation currently.

[2021-05-18 09:49] coderhacker commented on #1129
This is passed on Prod:

![image](https://user-images.githubusercontent.com/62358241/118630704-69cadf00-b7ec-11eb-963e-85be0e841795.png)

https://user-images.githubusercontent.com/62358241/118630727-6f282980-b7ec-11eb-9197-6152efe8088f.mp4

[2021-05-18 09:49] #1129 closed

[2021-05-18 10:15] coderhacker commented on #1143
This is passed on Production: Please see attached video

https://user-images.githubusercontent.com/62358241/118634247-f2974a00-b7ef-11eb-9c80-8a919bcecff9.mp4

[2021-05-18 10:15] #1143 closed

[2021-05-18 12:19] vikasrohit commented on #1137
Closing the issue for now @ketzjs09 please feel free to reopen if you are still seeing the issue.

[2021-05-18 12:19] #1137 closed

[2021-05-18 12:21] vikasrohit commented on #1143
@rootelement it is fixed and deployed to prod, please let us know if you still see the issue.

[2021-05-19 07:47] vikasrohit commented on #1129
@aaabbott fyi

[2021-05-19 07:48] vikasrohit commented on #1129
**Update:** Unfortunately we have to rollback the release from production @aaabbott for some time because of some other unintended changes propagated to prod.

[2021-05-19 12:26] aaabbott commented on #1129
No worries

On Wed, May 19, 2021 at 3:48 AM vikasrohit ***@***.***> wrote:

[2021-05-24 08:14] coderhacker commented on #1150
Update: Forum link is not showing on Production
![image](https://user-images.githubusercontent.com/62358241/119317853-311c8100-bc96-11eb-9899-65a296981555.png)

[2021-05-24 08:34] coderhacker commented on #1147
This is passed Prod Environment:

https://user-images.githubusercontent.com/62358241/119319926-a1c49d00-bc98-11eb-8aff-bc60f239cd0e.mp4

[2021-05-24 08:34] #1147 closed

[2021-05-24 09:45] coderhacker commented on #1146
Dev Challange ID : https://www.topcoder-dev.com/challenges/44ba8825-d025-4e40-b3d7-7940ab2c7f6a?tab=winners

![image](https://user-images.githubusercontent.com/62358241/119329332-b9a11e80-bca2-11eb-9459-1ae14513ee77.png)

Production Challenge id: https://www.topcoder.com/challenges/2c88a923-dd93-4a5f-96be-3c52d5e7a604?tab=winners

![image](https://user-images.githubusercontent.com/62358241/1193294

[2021-05-24 09:51] coderhacker commented on #1145
Is is not fixed on  Production:
![image](https://user-images.githubusercontent.com/62358241/119330352-be1a0700-bca3-11eb-9a32-0e534284331c.png)

[2021-05-24 10:00] coderhacker commented on #1097
This is passed on production

https://user-images.githubusercontent.com/62358241/119331321-d9394680-bca4-11eb-99c1-a5fbd5ddc76b.mp4

[2021-05-24 10:00] #1097 closed

[2021-05-24 10:04] coderhacker commented on #893
https://user-images.githubusercontent.com/62358241/119331855-76947a80-bca5-11eb-8d55-d32e4fe74b32.mp4

[2021-05-24 10:04] #893 closed

[2021-05-24 10:20] coderhacker commented on #857
This is working fine on Production
https://user-images.githubusercontent.com/62358241/119333600-aa709f80-bca7-11eb-95a6-a3043eefd995.mp4

[2021-05-24 10:27] lakshmiathreya commented on #1150
cc @rootelement @ThomasKranitsas @vikasrohit

[2021-05-24 10:40] coderhacker commented on #1150
Updating video for both env.

https://user-images.githubusercontent.com/62358241/119335845-82367000-bcaa-11eb-9852-12a2f064056d.mp4

[2021-05-24 10:44] #857 closed

[2021-05-24 10:45] vikasrohit commented on #1145
I don't think we attempted to fix it @lakshmiathreya, is there any release after 0.8.0 for which we are doing testing round?

[2021-05-24 10:46] coderhacker commented on #856
This is passed on production
https://user-images.githubusercontent.com/62358241/119336455-510a6f80-bcab-11eb-8a60-739cae145824.mp4

[2021-05-24 10:46] #856 closed

[2021-05-24 10:50] coderhacker commented on #825
This is passed on production
https://user-images.githubusercontent.com/62358241/119336926-dc840080-bcab-11eb-9c7f-d00906f77e07.mp4

[2021-05-24 10:50] #825 closed

[2021-05-24 10:54] coderhacker commented on #801
This is passed production

https://user-images.githubusercontent.com/62358241/119337426-6fbd3600-bcac-11eb-98d1-2b2339830303.mp4

[2021-05-24 10:54] #801 closed

[2021-05-25 11:23] sanjaytopcoder opened #1156 "Challenges created by my Copilot didn't showed up on Work manager"
### Expected behavior
All of the challenges shall show up on Work Manager for all the team members.

### Actual behavior
Not all of the challenges created by copilot using Work Manager doesn't show up on my list of work manager.

### Steps to reproduce the problem
1. Copilot launched multiple challenges.
2. He sees it in the Work Manager
3. It doesn't show up in the list of Work Manager for other

[2021-05-25 11:24] sanjaytopcoder commented on #1156
<img width="1440" alt="Screenshot 2021-05-25 at 4 49 08 PM" src="https://user-images.githubusercontent.com/80461313/119489897-cfcdde00-bd79-11eb-9545-fbbf77eca2be.png">

[2021-05-25 11:54] vikasrohit commented on #1156
@rootelement @ThomasKranitsas I think challenge api is not returning challenges for a user where he/she is added as `Observer`. If we can get challenge for `Observer` users or add project team members as resource where they have access to the challenges, we can fix it.

[2021-05-26 22:28] rootelement commented on #1146
My guess is this is the problem:

https://github.com/topcoder-platform/community-app/blob/develop/src/shared/containers/challenge-detail/index.jsx#L366

You're pulling track from the legacy object, but there is no legacy track. You should be using the base challenge object track and types. Remember, each challenge has:
[code]

This is true for all parts of community app. You shouldn't be referring

[2021-05-31 15:49] coderhacker commented on #1154
@vikasrohit could you please share for project id for this. so that I can verify on Dev

[2021-06-01 04:26] vikasrohit commented on #1154
https://github.com/appirio-tech/connect-app/issues/4380#issuecomment-851441944

[2021-06-01 05:08] coderhacker commented on #1154
QA Comments: this is failed on dev. I can active the challenge if BA is expired, please see attached failed

https://user-images.githubusercontent.com/62358241/120269431-760f6b80-c2c5-11eb-8eb5-86eedee3cb0f.mp4

 video.

[2021-06-01 05:52] vikasrohit commented on #1154
thanks @coderhacker for reporting it, I have also noticed the same. It seems during development the [project](https://challenges.topcoder-dev.com/projects/16496/challenges) used for testing has different set of data which caused this requirement to be missed.
Anyway, I have applied a fix, it should be in dev in 10 minutes.

[2021-06-01 09:05] coderhacker opened #1158 "Design Type: Challenge: Launch button is not activating"
### Expected behavior
Launch button should be active similar others track

### Actual behavior
Design Type: Challenge: The launch button is not activating

### Steps to reproduce the problem
Create a design challenge and  click the launch button.. see attached video and screenshot

### Screenshot/screencast
Attach or link a resource.

https://challenges.topcoder-dev.com/projects/17236/challenges/a

[2021-06-01 09:08] coderhacker commented on #1154
@vikasrohit This is failed in this case, created a new defect https://github.com/topcoder-platform/work-manager/issues/1158

[2021-06-01 09:21] coderhacker commented on #1154
Qa comment: This is failed for design and QA track challenge activation, please see the attached video and this defect 1158

https://user-images.githubusercontent.com/62358241/120299660-d49a1100-c2e8-11eb-8506-35b3c46d809e.mp4

[2021-06-01 11:01] vikasrohit commented on #1154
@coderhacker this seems to be `always there` issue where somehow legacy challenge is not created for a v5 challenge.
So in those cases, Launch button would be disabled. There is a tooltip for that as well over the button itself and if you consistently see that legacy challenge is not being created for a design challenge in dev, it might be something which product team is working on to have pure v5

[2021-06-01 11:36] coderhacker commented on #1154
Thanks for the update @vikasrohit.  this is passed with known issue 1158

[2021-06-02 10:12] lakshmiathreya commented on #1146
Fixed in https://github.com/topcoder-platform/community-app/issues/5529

[2021-06-02 10:12] #1146 closed

[2021-06-02 10:17] lakshmiathreya commented on #1088
@coderhacker @drasticdpk the winner tab issue is now fixed https://github.com/topcoder-platform/community-app/issues/5529 - please verify this Issue - mark it pass and close it.

[2021-06-02 11:11] coderhacker commented on #1088
This is passed on to production, please find attached evidence

https://user-images.githubusercontent.com/62358241/120470438-23b37500-c3c1-11eb-9a10-3095126e5e5f.mp4

[2021-06-02 11:11] #1088 closed

[2021-06-03 11:52] drasticdpk commented on #1154
Verified on prod
**Reference:**

Used Project : https://challenges.topcoder.com/projects/24944/challenges

![image](https://user-images.githubusercontent.com/25297859/120639595-3e551f00-c491-11eb-9390-01dd29a8bfbf.png)

![image](https://user-images.githubusercontent.com/25297859/120639859-8c6a2280-c491-11eb-8ade-f75442087e1e.png)

[2021-06-03 11:52] #1154 closed

[2021-06-07 10:07] ThomasKranitsas opened #1160 "Issue with challenge that was created without a billing account"
### Expected behavior
The Work Manager should let the API decide if it can add the billing account and activate the challenge or not.

### Actual behavior
Currently, if I create a challenge on a project without a billing account or an expired one and then add/activate the BA and try to activate the challenge, the Work Manager simply doesn't let me activate it.

### Steps to reproduce the problem
-

[2021-06-07 14:09] vikasrohit commented on #1160
@ThomasKranitsas it is not simply decided to net let you activate the challenge, it is determining based on BA. It makes a call to determine if the BA is active or not. If there is no BA, obviously BA is not active right, and user should not be allowed to activate the challenge.
this was done with the release https://github.com/topcoder-platform/work-manager/releases/tag/v0.9.0

[2021-06-07 20:22] mirzailhami opened #1161 "Removing the Private Specification from saved challenge caused the issue in WM"
### Expected behavior
It should be able to remove/cancel private specs without no issues.

### Actual behavior
I tried to add private specs, then saved. The issue was when I remove private specs and click save button

### Steps to reproduce the problem
- Create new challenge
- Add private specs and saved
- Edit newly added challenge
- Remove private specs and click "Save"

### Screenshot/screencas

[2021-06-08 11:58] vikasrohit commented on #1161
Thanks @mirzailhami for capturing it.

[2021-06-09 17:38] ketzjs09 opened #1162 "Urgent: Updated Title reverts back to original"
I tried changing the title of this challenge to "EdgeNet Shoe Image Classifier Challenge" using the Work Manager, but it reverts back to original title "Shoe Image Classifier Challenge". Has happened twice.
https://www.topcoder.com/challenges/f5a31c24-1c44-4abd-bc90-0f27cadb3081

Please look into it urgently, as the title needs to be updated before the EdgeNet promotion emails go out.

[2021-06-09 17:41] ketzjs09 opened #1163 "Feature Request: Ability to set and modify the challenge duration"
Work Manager should provide an option to set the challenge duration, as well the duration of various phases such as review phase, appeal phase etc, just like it was possible in Direct. There should also be an option to modify these once the challenge has been launched. Right now, one has to edit them via OR, which is unnecessarily hackish for a pretty common use-case like this.

[2021-06-09 17:45] ketzjs09 opened #1164 "<br> in specification markdown not being processed"
To make my specs clear and aesthetically pleasing, I usually use blank spaces. With markdown it's not as straightforward, compared to HTML, which I used with Direct.

So I at times use <br> or <br /> tags in markdown, which is usually processed by most markdown renderers, but not in case of Topcoder challenge pages. In Topcoder challenge pages, these tags are rendered as is, i.e. as strings of "<b

[2021-06-10 04:09] vikasrohit opened #1165 "[$30] Work Manager: Add convenience links to WM for better nav"
Cleanup the top section a bit.

Move the project name to the left.

Remove the “View Project in Direct” button. They can get there from the Connect Project if needed.

Change the big “View in Connect” button to a simple text link after the Project Name.  Something like Project Name (view project)

![image](https://user-images.githubusercontent.com/2417632/121463465-b78fcd00-c9cf-11eb-8faa-b514b2bc

[2021-06-10 05:10] vikasrohit opened #1166 "[$200] Work Manager: Add view of registrants to WM"
When viewing a challenge in WM, I should be able to see a simple list of the registrants.  Mimic the challenge page design:
![image](https://user-images.githubusercontent.com/2417632/121468361-4acd0080-c9d8-11eb-93e1-b01e29ea12a7.png)

**Move current content in 'View Details' under first tab 'Details'**

[2021-06-10 05:12] vikasrohit opened #1167 "Work Manager: Show registrants/submissions on WM challenge page"
As we are showing count of registrants and submissions in Challenge listing page, we should show the same somewhere on the challenge view page.

[2021-06-10 05:13] vikasrohit opened #1168 "[$20] Work Manager: Link to submission review app when clicking submission count in WM"
Once we add the count of submissions to Challenge view page, we should add link to it which takes user to the submission review app.

[2021-06-10 05:15] vikasrohit opened #1169 "[$100] Work Manager: Add view of submissions to WM"
When viewing a challenge in WM I should be able to see a list of the submissions.

Mimic the submission list on the challenge page:

![image](https://user-images.githubusercontent.com/2417632/121468733-ec545200-c9d8-11eb-9245-03f96e02b3a2.png)

When a score is available, display it.

Provide a link to the submission review app.

[2021-06-10 05:16] vikasrohit opened #1170 "[$10] Work Manager: Move forum link in WM"
The forum link gets lost in the WM page.  Let’s move it to a more prominent place.

![image](https://user-images.githubusercontent.com/2417632/121468839-1148c500-c9d9-11eb-9039-91c8a36f67be.png)

[2021-06-10 15:37] ajefts commented on #1019
@rootelement @vikasrohit Sorry, trying to catch up on this one.  Is it not desired to simply sync cancelled challenges from legacy to v5?

[2021-06-11 12:49] ketzjs09 opened #1171 "Please mention the timezones along with Time information"
The time information is usually mentioned in Work Manager like this:
Start Date : 06/11/2021 18:11

It's not clear if this is EDT or local time. OR has historically used EDT, so in case this is not EDT, then it would be helpful if it is explicitly mentioned which timezone this time is in. It's pretty easy to do in Javascript.

[2021-06-11 12:53] lakshmiathreya commented on #1162
We have the problem for changes in other fields too - the change is saved in WM but reverts to original after some time. @SathyaJayabal @luizrrodrigues

[2021-06-11 12:53] lakshmiathreya commented on #1162
We have the problem for changes in other fields too - the change is saved in WM but reverts to original after some time. @SathyaJayabal @luizrrodrigues

[2021-06-11 17:34] ajefts opened #1172 "[$20] Improve UX for Close Task button"
The existing button to close a task is giving some people the impression that it is "canceling" it.  Let's update the UI a bit.

1. Rename the button to "Mark Complete".
2. Add hover text to the button that says "This will close the task and generate a payment for the assignee and copilot."
3. Let's try a green button color.

[2021-06-14 07:22] vikasrohit opened #1174 "[$100] Allow cancellation of v5 challenges from WM"
As of now we don't allow cancellation of V5 challenges from WM. We need to allow it so that users can cancel it from WM, if the challenge is in New/Draft status.

[2021-06-14 07:23] vikasrohit commented on #1174
@ajefts do you think we can achieve this?

[2021-06-14 14:53] ajefts commented on #1172
fyi @vikasrohit I think maybe we can do this as part of https://github.com/topcoder-platform/work-manager/issues/1174?

[2021-06-14 15:58] ketzjs09 commented on #1174
Hi @ajefts I think it's a separate feature request as compared to the UX improvement of the 'Mark Complete' functionality.

I think an actual task and challenge cancellation process should be available in WM.

Reference: [https://topcoder.slack.com/archives/C0F7AC6HJ/p1623513325059900?thread_ts=1623413311.041400&cid=C0F7AC6HJ](https://topcoder.slack.com/archives/C0F7AC6HJ/p1623513325059900?thread_

[2021-06-15 14:55] ajefts opened #1175 "Ability to see all my work across projects"
Feature request:

Currently, it is difficult to track all of my active work across projects.

As a user, I want to see a list of all draft and active work across all my projects. I want to be able to navigate to a view in work manager that list the work items and then allows me to click into each work item. Basic sorting and filtering would ideally be available.

[2021-06-15 14:55] ajefts commented on #1175
@vikasrohit What do you think about this idea?

[2021-06-15 15:04] vikasrohit commented on #1175
Yep, we had [this](https://github.com/topcoder-platform/work-manager/issues/904) in our road map. But it never get kicked off because of other priority features in WM. We can plan for it in next pitch.

[2021-06-15 15:40] maxceem commented on #1165
Challenge https://www.topcoder.com/challenges/986eeb3a-c0fa-489e-ad16-2711c4c0a039 has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-06-15 15:42] phead198708 commented on #1166
for actual registrations we have to use https://github.com/topcoder-platform/resources-api/blob/develop/docs/swagger.yaml#L54 endpoint with roleId query param being the role id of the Submitter

[2021-06-15 15:47] maxceem commented on #1170
Challenge https://www.topcoder.com/challenges/6a51c73a-0a67-4f28-b210-b51e5ce57eeb has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-06-15 16:06] ajefts opened #1176 "[$20] Require copilot to be set when copilot payment is set"
Currently, WM allows you to close a task that has a copilot prize BUT DOES NOT have the copilot set.  The result is that someone can close a task assuming the copilot was paid, but in reality they are not.

Let's add some validation that prevents the task from being closed if the copilot prize is set but there is no copilot selected.

[2021-06-15 16:06] narekcat commented on #1166
Hi @maxceem . Can I work on this issue ?

[2021-06-15 16:06] ajefts commented on #1176
@vikasrohit Can we do this one with the bash?

[2021-06-15 16:06] maxceem commented on #1172
Challenge https://www.topcoder.com/challenges/61196f05-e57f-4736-b08c-a715403d9dee has been created for this ticket.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2021-06-15 16:08] maxceem commented on #1166
Hi @narekcat I'm not a copilot of this task.

@phead198708 it looks like TCX is configured to use my user for repository.

[2021-06-15 16:15] phead198708 commented on #1166
Hi, @maxceem  Im new to this project. So I need to use 'Open for Pickup' label ?

[2021-06-15 16:23] narekcat commented on #1166
@maxceem Ok. The bug bush challenge is started for this issue, but in my opinion 12 hours is less for this issue. @phead198708 Can we work on this issue 24 hour ?

[2021-06-15 16:27] narekcat commented on #1166
@bug-bash-helper assign

[2021-06-15 16:28] narekcat commented on #1166
@bug-bash-helper assign

[2021-06-15 16:30] narekcat commented on #1166
@bug-bash-helper assign

[2021-06-15 16:37] phead198708 commented on #1166
sorry @narekcat  pls wait a minute. Let me correct the ticket firstly.

[2021-06-15 16:37] narekcat commented on #1166
@phead198708 Ok, no problem.

[2021-06-15 16:42] phead198708 commented on #1166
Hi, @narekcat  it is open for pick now.

[2021-06-15 16:43] narekcat commented on #1166
@bug-bash-helper assign

[2021-06-15 16:45] narekcat commented on #1166
@bug-bash-helper assign

[2021-06-15 16:46] narekcat commented on #1166
Hi, @phead198708 I have tried, but it still isn't working.

[2021-06-15 16:46] maxceem commented on #1166
@narekcat please try now

[2021-06-15 16:46] phead198708 commented on #1166
@narekcat  could you try this command ?

[2021-06-15 16:46] narekcat commented on #1166
@bug-bash-helper assign

[2021-06-15 16:48] narekcat commented on #1166
Yes. I have tried again.

[2021-06-15 16:50] phead198708 opened #1177 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, and the system will change the label to "tcx_Assigned", removing the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here

[2021-06-15 16:51] vikasrohit opened #1178 "test"
### Expected behavior
Describe.

### Actual behavior
Describe.

### Steps to reproduce the problem
- TBD.
- TBD.
- TBD.

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS:
- Browser (w/version):
- User role (client, copilot or manager):
- Account used:

[2021-06-15 16:51] vikasrohit commented on #1178
@bug-bash-helper assign

[2021-06-15 16:55] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/83f67a65-e65a-4755-845d-31cbee073959 Narekvar90 has been unassigned.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 16:55] phead198708 commented on #1166
Narekvar90 has been unassigned because this ticket doesn't have the tcx_OpenForPickup label.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 16:56] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/83f67a65-e65a-4755-845d-31cbee073959 has been assigned to Narekvar90.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 16:57] phead198708 commented on #1166
Hi, @narekcat  assigned, pls work on it.

[2021-06-15 16:58] narekcat commented on #1166
Hi, @phead198708 . Ok, thank you.

[2021-06-15 17:06] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/23584ff5-ad15-411f-bccc-60b358676a52 has been created for this ticket.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:06] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/23584ff5-ad15-411f-bccc-60b358676a52 has been assigned to Narekvar90.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:06] vikasrohit commented on #1178
@bug-bash-helper assign

[2021-06-15 17:07] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/edb8ba3e-7a2d-40ae-b831-b6cc49ef2a51 has been created for this ticket.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:07] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/edb8ba3e-7a2d-40ae-b831-b6cc49ef2a51 has been assigned to Narekvar90.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:08] phead198708 commented on #1172
Hi,

The bot is down. pls leave your comment here. I'll assign you manually.

thanks.

[2021-06-15 17:08] phead198708 commented on #1170
Hi,

The bot is down. pls leave your comment here. I'll assign you manually.

thanks.

[2021-06-15 17:08] phead198708 commented on #1165
Hi,

The bot is down. pls leave your comment here. I'll assign you manually.

thanks.

[2021-06-15 17:09] vikasrohit commented on #1166
@bug-bash-helper assign

[2021-06-15 17:09] phead198708 commented on #1166
@vikasrohit, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:09] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/edb8ba3e-7a2d-40ae-b831-b6cc49ef2a51 Narekvar90 has been unassigned.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:09] phead198708 commented on #1166
@vikasrohit, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:10] narekcat commented on #1166
Hi, @vikasrohit. I am already working on this issue and this issue assigned to me.

[2021-06-15 17:11] vikasrohit commented on #1166
Yep, @narekcat you are the assignee of the issue. I am from topcoder and testing the bot to fix it. It seems it is working now.

[2021-06-15 17:11] narekcat commented on #1166
@vikasrohit Ok.

[2021-06-15 17:11] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/edb8ba3e-7a2d-40ae-b831-b6cc49ef2a51 has been assigned to Narekvar90.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:12] #1178 closed

[2021-06-15 17:13] phead198708 commented on #1165
@bug-bash-hunt-helper  assign

[2021-06-15 17:14] phead198708 commented on #1165
@bug-bash-hunt-helper  assign

[2021-06-15 17:15] phead198708 commented on #1165
@bug-bash-helper assign

[2021-06-15 17:16] phead198708 commented on #1165
@bug-bash-helper assign

[2021-06-15 17:16] phead198708 commented on #1165
Challenge https://www.topcoder.com/challenges/986eeb3a-c0fa-489e-ad16-2711c4c0a039 has been assigned to phead.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:16] phead198708 commented on #1165
@bug-bash-helper unassign

[2021-06-15 17:16] phead198708 commented on #1165
Challenge https://www.topcoder.com/challenges/986eeb3a-c0fa-489e-ad16-2711c4c0a039 phead has been unassigned.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:17] phead198708 commented on #1170
@bug-bash-helper assign

[2021-06-15 17:17] phead198708 commented on #1170
@bug-bash-helper assign

[2021-06-15 17:19] phead198708 commented on #1165
@bug-bash-helper assign

[2021-06-15 17:50] phead198708 commented on #1169
for submissions we have separate API https://github.com/topcoder-platform/submissions-api/blob/develop/docs/swagger.yaml#L31

[2021-06-15 17:52] phead198708 commented on #1169
Challenge https://www.topcoder.com/challenges/6c1e79b5-37d4-4012-9c83-0aee9d8fb8eb has been created for this ticket.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 17:53] phead198708 commented on #1169
@bug_bash_helper assign

[2021-06-15 17:54] phead198708 commented on #1169
@bug-bash-helper assign

[2021-06-15 17:56] Vips19 commented on #1172
@bug-bash-helper assign

[2021-06-15 17:57] phead198708 commented on #1172
Challenge https://www.topcoder.com/challenges/61196f05-e57f-4736-b08c-a715403d9dee has been assigned to vibhash_19.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 18:19] Gauravseta commented on #1170
@bug-bash-helper assign

[2021-06-15 18:19] phead198708 commented on #1170
Challenge https://www.topcoder.com/challenges/6a51c73a-0a67-4f28-b210-b51e5ce57eeb has been assigned to gauravseta.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 18:48] Gauravseta commented on #1170
@phead198708 @vikasrohit

1. after running locally, browsing to localhost:3000 takes OAuth page to login,
2. Using tonyj creds I try to login
3. but page keeps redirecting to and fro and keeps on looping.
4. Never successfully loggedin

Kindly guide if something is missing?

[2021-06-15 19:17] Gauravseta commented on #1170
@phead198708 @vikasrohit PR https://github.com/topcoder-platform/work-manager/pull/1179

[2021-06-15 19:18] Gauravseta commented on #1170
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1179 is ready for review

[2021-06-15 19:19] rashmi73 commented on #1165
@bug-bash-helper assign

[2021-06-15 19:19] phead198708 commented on #1165
Challenge https://www.topcoder.com/challenges/986eeb3a-c0fa-489e-ad16-2711c4c0a039 has been assigned to rashmi73.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-15 20:20] Vips19 commented on #1172
@bug-bash-helper #1180 is ready for review

[2021-06-16 02:32] nursoltan-s commented on #1166
@bug-bash-helper assign

[2021-06-16 02:33] nursoltan-s commented on #1166
@bug-bash-helper unassign

[2021-06-16 04:36] phead198708 commented on #1166
Hi, @narekcat

Are you still working on this ticket ?

[2021-06-16 06:15] narekcat commented on #1166
Hi, @phead198708 . I am still working on this issue. This issue is big then other, and I think I have 11 hours to complete it.

[2021-06-16 08:10] phead198708 commented on #1166
Hi, @narekcat

Pls finish this asap. You have worked on it over 12hr. thx

[2021-06-16 08:13] narekcat commented on #1166
@phead198708 Ok, I'll finish it in next 8 hours, but in bug bush rules it says that I can work on it 24 hours (https://github.com/topcoder-platform/work-manager/issues/1177). Am I right ?

[2021-06-16 08:53] phead198708 commented on #1166
OK，This is an auto-generated one.  I explain in challenge spec, developer can hold one ticket 12hr.

Never mind, keep going on, and update the status once you get this ticket done.

[2021-06-16 08:57] narekcat commented on #1166
@phead198708 Ok, thank you.

[2021-06-16 10:49] narekcat commented on #1166
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1181 is ready for review

[2021-06-16 10:50] narekcat commented on #1166
@phead198708 I have fixed this issue. If there is suggestion about styles, I'll fix them too.

[2021-06-16 12:42] rashmi73 commented on #1165
@bug-bash-helper unassign

[2021-06-16 12:42] phead198708 commented on #1165
Challenge https://www.topcoder.com/challenges/986eeb3a-c0fa-489e-ad16-2711c4c0a039 rashmi73 has been unassigned.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-16 12:43] Gauravseta commented on #1165
@bug-bash-helper assign

[2021-06-16 12:43] Gauravseta commented on #1165
@phead198708 please assign this to me..I have already started working on it thank you

[2021-06-16 12:48] Gauravseta commented on #1165
@bug-bash-helper assign

[2021-06-16 12:48] phead198708 commented on #1165
Challenge https://www.topcoder.com/challenges/986eeb3a-c0fa-489e-ad16-2711c4c0a039 has been assigned to gauravseta.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-16 17:49] phead198708 commented on #1170
Hi, @Gauravseta
The position is not correct, pls checking the image above, it should be next to Online Review button
![image](https://user-images.githubusercontent.com/85940583/122268123-4770d200-cf0e-11eb-8e3c-7367bc88208d.png)

[2021-06-16 18:15] phead198708 commented on #1166
Hi, @narekcat

There are many things missing.

1.  Create two tabs in challenge details page, one is 'Details', one is 'Registrants (total registrants)', the tab style you can refer to challenge list page. http://localhost:3000/projects/17249/challenges
2. Move current content under 'Details' tab.
3. List all Registrants under 'Registrants' tab. Pls notice the color of the rating and user name, th

[2021-06-16 18:25] narekcat commented on #1166
Hi @phead198708 . It is late in my time zone, I need to have a rest. If it pissible I'll finish this issue in next 16 hours. Is it ok ?

[2021-06-16 18:30] phead198708 commented on #1176
After user fill the copilot fee > 0 and didn't set the copilot above, show the message under copilot field, and make save and close task button disable.
![Set-Up Work 2021-06-17 02-25-09](https://user-images.githubusercontent.com/85940583/122273347-eb10b100-cf13-11eb-887f-59d38a34c2c0.png)
![Set-Up Work 2021-06-17 02-28-36](https://user-images.githubusercontent.com/85940583/122273308-df24ef00-cf13

[2021-06-16 18:30] phead198708 commented on #1176
Challenge https://www.topcoder.com/challenges/dc0c85c0-2d40-4f6b-92df-4976bf6f2acf has been created for this ticket.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-16 18:34] Vips19 commented on #1176
@bug-bash-helper assign

[2021-06-16 18:34] Vips19 commented on #1176
@phead198708 unable to assign this task, could you please assign it

[2021-06-16 18:35] Vips19 commented on #1176
@bug-bash-helper assign

[2021-06-16 18:38] Vips19 commented on #1172
@bug-bash-helper #1180 is ready for review

[2021-06-16 18:38] Vips19 commented on #1176
@bug-bash-helper assign

[2021-06-16 18:38] phead198708 commented on #1176
Challenge https://www.topcoder.com/challenges/dc0c85c0-2d40-4f6b-92df-4976bf6f2acf has been assigned to vibhash_19.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-16 21:31] Vips19 commented on #1176
@bug-bash-helper #1182 is ready for review

[2021-06-17 06:48] Gauravseta commented on #1170
@phead198708 updating it

[2021-06-17 06:48] Gauravseta commented on #1165
@phead198708 MR in sometime

[2021-06-17 07:21] narekcat commented on #1166
Hi @phead198708 . I had misunderstood issue requirement, I thought that it is easier, but now I understand this issue is harder then I thought. I need more time to complete. Also I think the prize is less for this issue. If it is ok, please replay. Can I continue to work on it ? Can you rise the prize ?

[2021-06-17 11:08] phead198708 commented on #1166
sorry, it has been opened over 24hr. I have to reopen this ticket.

[2021-06-17 11:08] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/edb8ba3e-7a2d-40ae-b831-b6cc49ef2a51 Narekvar90 has been unassigned.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-17 11:55] yoution commented on #1166
@phead198708  please assign to me

[2021-06-17 12:00] phead198708 commented on #1166
Challenge https://www.topcoder.com/challenges/edb8ba3e-7a2d-40ae-b831-b6cc49ef2a51 has been assigned to yoution.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-17 19:06] phead198708 commented on #1165
Hi, @Gauravseta  any progress ?

[2021-06-17 22:37] Gauravseta commented on #1170
@phead198708 new PR https://github.com/topcoder-platform/work-manager/pull/1183

[2021-06-17 22:38] Gauravseta commented on #1170
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1183 is ready for review

[2021-06-17 23:00] Gauravseta commented on #1165
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1184 is ready for review

[2021-06-17 23:00] Gauravseta commented on #1165
@phead198708 kindly provide feedback if any

[2021-06-18 02:51] yoution commented on #1166
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1185 is ready for review

[2021-06-18 02:52] yoution commented on #1169
@bug-bash-helper assign

[2021-06-18 02:52] yoution commented on #1169
@phead198708  please assign to me

[2021-06-18 03:28] yoution commented on #1169
@bug-bash-helper assign

[2021-06-18 03:31] yoution commented on #1169
@bug-bash-helper assign

[2021-06-18 03:31] phead198708 commented on #1169
Challenge https://www.topcoder.com/challenges/6c1e79b5-37d4-4012-9c83-0aee9d8fb8eb has been assigned to yoution.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-18 04:21] phead198708 commented on #1166
cool, nice fix.

[2021-06-18 04:23] phead198708 commented on #1169
Hi, @yoution

Pls update the style of tab section also. move the tab to the middle, add some padding to the top.

[2021-06-18 10:14] yoution commented on #1169
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1186 is ready for review

[2021-06-18 12:25] phead198708 commented on #1169
Hi, @yoution

Some feedback:

1. the position of table is not correct. Keep it same with registration.
![image](https://user-images.githubusercontent.com/85940583/122560455-355c7400-d073-11eb-89c0-7a257c9f4dfd.png)

[2021-06-18 16:43] phead198708 commented on #1174
We need to add a dropdown to cancel the challenge. The default text is Cancel, and the options refer to link https://github.com/topcoder-platform/challenge-api/blob/4e30a53d1e1a081c8fea065b3bcdfa38e1696290/docs/swagger.yaml#L2994-L3000

Once user click Cancel and select a reason, pop up a confirm dialog with text 'Do you want to cancel the challenge ?', once user click confirm, call the endpoint t

[2021-06-18 16:44] phead198708 commented on #1174
Challenge https://www.topcoder.com/challenges/2191dc7e-28f3-491d-b036-7cda25ebcef2 has been created for this ticket.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-18 16:45] phead198708 commented on #1174
Pls  finish this ticket in 12hr once you pick it up. Thx.

[2021-06-18 23:27] Gauravseta commented on #1174
@bug-bash-helper assign

[2021-06-19 03:22] yoution commented on #1169
@phead198708 have pushed, please review

[2021-06-19 09:03] anonymousjaggu opened #1187 "Show warning if user forgets to choose copilot for the task/challenge"
### Expected behavior
Recently I created a task in which I was the copilot.
I filled the copilot fee and member fee but missed choosing myself as a copilot.
Can we add some confirmation message that the copilot has not been chosen, if you wish to continue so at least we can be aware that we have missed choosing the copilot?

### Actual behavior
Currently, it directly saves if the copilot is not ch

[2021-06-19 10:51] Gauravseta commented on #1174
@phead198708 due to other issues assigned to me dont have ready for review label but fixaccepted label hence bot is unassigning me from this ticket..I would like to update that m still working on it.

[2021-06-19 10:51] Gauravseta commented on #1174
@bug-bash-helper assign

[2021-06-19 10:51] Gauravseta commented on #1165
@bug-bash-helper #1184 is ready for review

[2021-06-19 10:52] Gauravseta commented on #1170
@bug-bash-helper #1183 is ready for review

[2021-06-19 10:52] Gauravseta commented on #1174
@bug-bash-helper assign

[2021-06-19 10:52] phead198708 commented on #1174
Challenge https://www.topcoder.com/challenges/2191dc7e-28f3-491d-b036-7cda25ebcef2 has been assigned to gauravseta.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-20 11:55] yoution commented on #1166
@vikasrohit  please review this one https://github.com/topcoder-platform/work-manager/pull/1189

[2021-06-20 12:19] vikasrohit commented on #1166
Thanks @yoution for the new PR. I think the changes are already verified by @phead198708 , I just needed it in correct branch so that it don't go to the production unintentionally.

[2021-06-20 12:23] vikasrohit commented on #1187
@anonymousjaggu would this https://github.com/topcoder-platform/work-manager/issues/1176 solve your issue?

[2021-06-20 15:29] phead198708 commented on #1174
Hi, @Gauravseta  I need to unassign you on this ticket. It takes over 24hr.

[2021-06-20 15:29] phead198708 commented on #1174
Challenge https://www.topcoder.com/challenges/2191dc7e-28f3-491d-b036-7cda25ebcef2 gauravseta has been unassigned.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-20 18:36] Gauravseta commented on #1174
@bug-bash-helper assign

[2021-06-20 18:37] Gauravseta commented on #1170
@bug-bash-helper #1183 is ready for review

[2021-06-20 18:37] Gauravseta commented on #1165
@bug-bash-helper #1184 is ready for review

[2021-06-20 18:38] Gauravseta commented on #1174
@bug-bash-helper assign

[2021-06-20 18:38] phead198708 commented on #1174
Challenge https://www.topcoder.com/challenges/2191dc7e-28f3-491d-b036-7cda25ebcef2 has been assigned to gauravseta.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-20 18:38] Gauravseta commented on #1174
@phead198708 it will be completed in few hours from now working actively

[2021-06-21 08:40] phead198708 commented on #1174
Hi, @Gauravseta  i will make this ticket open. We need to finish it asap.

[2021-06-21 08:40] phead198708 commented on #1174
Challenge https://www.topcoder.com/challenges/2191dc7e-28f3-491d-b036-7cda25ebcef2 gauravseta has been unassigned.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-21 08:43] yoution commented on #1174
@bug-bash-helper assign

[2021-06-21 08:46] phead198708 commented on #1174
Challenge https://www.topcoder.com/challenges/2191dc7e-28f3-491d-b036-7cda25ebcef2 has been assigned to yoution.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-22 02:43] yoution commented on #1174
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1191 is ready for review

[2021-06-22 14:56] vikasrohit commented on #1174
I think we should use red color for the Cancel button as it is destructive button.

[2021-06-23 08:59] phead198708 commented on #1168
add a link to submission review app on last column in submission table (Initial / Final Score column). The format of the submission review app link is https://submission-review.topcoder.com/challenges/{{challenge id}}/submissions/{{submission id}}, the sample is: https://submission-review.topcoder.com/challenges/30187830/submissions/e7e355f1-5ee4-42dd-9360-c912e27c0d35

[2021-06-23 09:05] phead198708 commented on #1168
add a text (Manage Submissions) with link above submission table. and the link format is https://submission-review.topcoder.com/challenges/{challenge id}. the sample is https://submission-review.topcoder.com/challenges/30187830

![View Details 2021-06-23 17-04-01](https://user-images.githubusercontent.com/85940583/123069312-3f9cba80-d445-11eb-88bf-0da18f1350a0.png)

[2021-06-23 09:07] phead198708 commented on #1168
@yoution pls check this one.

[2021-06-23 09:32] yoution commented on #1168
@phead198708 please assign to me

[2021-06-23 09:54] vikasrohit commented on #1168
@phead198708 I think you mistakenly shown the wrong tab. We need the link under `Submissions` tab not `Registrations`

[2021-06-23 09:57] phead198708 commented on #1168
yes. @vikasrohit  thanks for point it out. @yoution  pls notice we need to add this text link to submission tab only. The position above is correct.

[2021-06-23 10:04] phead198708 commented on #1168
Challenge https://www.topcoder.com/challenges/07b0c73a-5dd0-460d-81ab-b8dd2c18d974 has been created for this ticket.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-23 10:04] phead198708 commented on #1168
Challenge https://www.topcoder.com/challenges/07b0c73a-5dd0-460d-81ab-b8dd2c18d974 has been assigned to yoution.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-23 10:09] coderhacker commented on #1165
QA Comment: This is not fixed properly. please find below points  for fix
1.
![image](https://user-images.githubusercontent.com/6258241/123077985-29d4c880-d438-11eb-8299-d24ef404ef48.png)
2.  this is not a fixed challenge view and edit view.
![image](https://user-images.githubusercontent.com/62358241/123078740-e29b0780-d438-11eb-9ff0-fd3bfb18c019.png)
3.
![image](https://user-images.githubusercont

[2021-06-23 10:23] coderhacker opened #1192 "WM: Not able to create challenge for all tracks, showing blank screen"
### Expected behavior
We can create challenge  for all tracks

### Actual behavior
Not able to create challenge for all tracks, showing blank screen

### Steps to reproduce the problem
Step 1. go to URL https://challenges.topcoder-dev.com/ with valid copilots account
Step 2.  Create challenges with launch new button
1. Please see the attached video for reproducing the issue

### Screenshot/screenc

[2021-06-23 10:34] yoution commented on #1168
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1193

[2021-06-23 10:35] yoution commented on #1168
@bug-bash-helper https://github.com/topcoder-platform/work-manager/pull/1193 is ready for review

[2021-06-23 10:36] phead198708 commented on #1176
Hi, @Vips19  pls checking http://localhost:3000/projects/17914/challenges/8eba83e7-42b0-404c-b7b4-df58f6cc6832/edit

If I edit any field, I get errors
![image](https://user-images.githubusercontent.com/85940583/123082679-dff8dc00-d451-11eb-81ad-d219de01562f.png)

[2021-06-24 10:57] coderhacker commented on #1192
This is fixed on Dev

https://user-images.githubusercontent.com/62358241/123251257-9e773800-d508-11eb-88ab-76080aede53d.mp4

[2021-06-24 13:21] coderhacker commented on #1176
This is passed on dev

https://user-images.githubusercontent.com/62358241/123270048-29622d80-d51d-11eb-8344-ce1f53e616b2.mp4

[2021-06-24 13:51] coderhacker opened #1195 "[$20] WM: overlaping title with button on View challenges page"
### Expected behavior
The title should be not overlapped with the button

### Actual behavior
Describe.
View any challenges or tasks or F2F page. see the title is overlapping with cancel button

Please see attached screenshot for the issue
### Screenshot/screencast
Attach or link a resource.
![image](https://user-images.githubusercontent.com/62358241/123271033-0dab5700-d51e-11eb-9682-53646d9b5202.

[2021-06-24 14:06] coderhacker opened #1196 "[$10] WM: Extra space is coming for the confirmation message box"
### Expected behavior
Extra space should not display for the  confirmation message box

### Actual behavior
WM: Extra space is coming for the  confirmation message box

### Steps to reproduce the problem
Please see attached screenshot for the issue

### Screenshot/screencast
Attach or link a resource.
![image](https://user-images.githubusercontent.com/62358241/123276941-47329100-d523-11eb-9858-ecb

[2021-06-25 08:04] coderhacker opened #1197 "WM: Chrome: Cancelled drop-down menu items does not showing any mouse pointer"
### Expected behavior
Canceled drop-down menu items should have the mouse pointer based on selection

### Actual behavior
Canceled drop-down menu items do not showing any mouse pointer

### Steps to reproduce the problem
Created New challenges for any tracks and click the cancel  button showing dropdown items, please see attached screenshot

### Screenshot/screencast
Attach or link a resource.
![i

[2021-06-25 08:23] coderhacker commented on #1174
This is failed on dev:
**New Tab and Draft Tab Testing Scenario:**
1. Cancel dropdown menu showing in the middle of the page
![image](https://user-images.githubusercontent.com/62358241/123392577-d50d8b00-d5ba-11eb-8700-fdbe6eed7e30.png)
2.  After clicking on the cancel button from the new tab, challenges are not removing.  Cancel button behavior is not working properly. please see attached video.

[2021-06-25 08:37] vikasrohit commented on #1174
@phead198708 fyi

[2021-06-25 08:40] phead198708 commented on #1174
we need to refresh the table, then the challenge will disappear.

I will let developer know refresh the page after getting back from challenge page.

[2021-06-25 09:03] coderhacker commented on #1172
This is failed on dev;
1. not showing mark complete button
2. Not fixed
3. no green color used

please see attached video

https://user-images.githubusercontent.com/62358241/123399409-32f1a100-d5c2-11eb-9eb8-292db7526634.mp4

[2021-06-25 09:10] coderhacker commented on #1170
QA failed; forum link is not working see video

https://user-images.githubusercontent.com/62358241/123400185-1d30ab80-d5c3-11eb-98b3-b05e00a54aaf.mp4

[2021-06-25 09:40] coderhacker opened #1198 "WM: Challenge is moving in draft status after sometime and also register button is not activating"
### Expected behavior
Describe.
The challenge should be in active tab if the challenge is activated, this should not move in draft tab. and register button should be active if challenge is start
### Actual behavior
Challenge is moving in draft status tab after some time and also register button is not activating.

### Steps to reproduce the problem
Please see attached video

https://user-images.gi

[2021-06-25 09:45] coderhacker commented on #1169
It's failing due to this regression issue https://github.com/topcoder-platform/work-manager/issues/1198

[2021-06-25 09:50] coderhacker commented on #1168
It's blocking to verify due to regression issue https://github.com/topcoder-platform/work-manager/issues/1198

[2021-06-25 09:52] coderhacker commented on #1167
@vikasrohit how to verify this issue, could you please provide more information because I am unable to verify these changes due this regression issue https://github.com/topcoder-platform/work-manager/issues/1198

[2021-06-25 10:07] coderhacker commented on #1166
@vikasrohit I am unable to verify this issue due to this regression https://github.com/topcoder-platform/work-manager/issues/1198

[2021-06-25 12:00] drasticdpk commented on #1169
With reference to discussion over slack, we have verified this req with past challenge.
https://challenges.topcoder-dev.com/projects/17090/challenges/89ae709a-cb5f-434f-a8cb-2efa05ed3f42/view
We can open new ticket for anything, overall task is completed.   cc @coderhacker @lakshmiathreya @vikasrohit
**Reference**
![image](https://user-images.githubusercontent.com/25297859/123421817-14e56a00-d5dd-

[2021-06-25 13:30] vikasrohit commented on #1174
@phead198708 now we are allowing v5 challenge cancellation with this feature, can we pick https://github.com/topcoder-platform/work-manager/issues/1019 as well? I guess we just need to show a new tab `Cancelled` for now and show all the challenges which are with `Cancelled` statuses.

[2021-06-25 13:31] vikasrohit commented on #1174
@phead198708 is the wrong location of the dropdown is always reproducible? or is it happening only for certain browser or OS?

[2021-06-25 13:34] vikasrohit commented on #1167
@coderhacker we have combined this issue with #1166 and #1169 i.e. you would see the registrants and submissions counts on their respective tabs on Challenge details page. This serves the original purpose of the issue.

[2021-06-25 13:42] vikasrohit commented on #1172
@phead198708 it seems the changes were overridden by https://github.com/topcoder-platform/work-manager/commit/3c8097c1f5c3d5945c16d9a8d18a1092f1f9e833#diff-4159a6d7bd5416608ece9c4c9ca00de80bfbe40a3896ffba7b1f7158753c3381. Please restore the original changes again. May be we need to ask developer to recreate PR against latest bug bash branch.

[2021-06-25 14:12] vikasrohit commented on #1172
Never mind @phead198708 I have just manually picked the changes again.

[2021-06-25 14:18] vikasrohit commented on #1170
@coderhacker can you please paste the link to the challenge?

[2021-06-25 14:20] vikasrohit commented on #1170
@coderhacker it seems to be working fine for me, you might have to refresh the page as these links are created asynchronously and might take some time to set up just like legacy links.

[2021-06-25 14:22] vikasrohit commented on #1168
@coderhacker @drasticdpk as now we have verified the #1169 for existing challenge, I guess we can verify this one as well using the same principle.

[2021-06-27 16:36] phead198708 commented on #1174
After you click close button, the dropdown shows, then scroll down, the dropdown will be in a wrong position.

[2021-06-27 16:38] phead198708 commented on #1174
after we move back the challenge list, we need to reload all the challenges. Then we can see the new status on updated challenge.

[2021-06-28 03:44] yoution commented on #1174
@phead198708  https://github.com/topcoder-platform/work-manager/pull/1199 please review

[2021-06-28 05:07] vikasrohit commented on #1165
@coderhacker we are good with 1 for now and for the rest of two, I think we were not explicit in specifying the requirements originally, so we are making it a pass for now, we would handle it separately. It would be great if you can log 3 separate issues for all the findings and lets pass this issue.

[2021-06-28 05:08] vikasrohit commented on #1166
@coderhacker this can be verified for existing challenges as we did with #1169

[2021-06-28 05:14] coderhacker commented on #1198
QA Comments: I have verified today as well on the dev environment. it's not working as expected

https://user-images.githubusercontent.com/62358241/123583713-b814ca00-d7fd-11eb-8dda-a617b9d42856.mp4

CC @lakshmiathreya

[2021-06-28 05:18] vikasrohit commented on #1198
Ok @coderhacker. We can ignore this for now. we need to use existing active challenges if we have to test something on active challenges for now because there must be something bad with other components of the application but there is nothing which is changed in this front end release which can impact challenge activation. But still we would double check it on production after prod release and in

[2021-06-28 05:40] coderhacker commented on #1197
This is failed on DEV

https://user-images.githubusercontent.com/62358241/123585761-59e9e600-d801-11eb-9f8f-c5f3ac9ebef7.mp4

[2021-06-28 05:47] coderhacker commented on #1174
This is not fixed properly on dev;
1. Not fixed.
2. Status not moving in the correct status tab.
Please see attached video

https://user-images.githubusercontent.com/62358241/123586441-57d45700-d802-11eb-82ad-05b46ea25845.mp4

[2021-06-28 06:00] coderhacker commented on #1172
QA Comment: This is not fixed properly
1. Fixed
2. Not fixed
3. Fixed
Dev failed Video
https://user-images.githubusercontent.com/62358241/123587635-2ceb0280-d804-11eb-9d83-80988d2fcf67.mp4

[2021-06-28 06:07] coderhacker commented on #1170
Dev passed

https://challenges.topcoder-dev.com/projects/16804/challenges/cc53e72f-37dc-4f03-987a-60b51cfd1219/view

https://user-images.githubusercontent.com/62358241/123588290-2c06a080-d805-11eb-8080-e5cfa0c79067.mp4

[2021-06-28 06:07] vikasrohit commented on #1174
@phead198708 the build is deployed to dev now, can you please verify it at your end if the changes are working?

[2021-06-28 06:39] vikasrohit commented on #1172
Thanks @coderhacker for catching the missing piece, fixed and deployed to dev again

[2021-06-28 07:28] vikasrohit commented on #1174
@phead198708 one thing I want to explicitly mention here is that we have not added the `Cancelled` tab yet to the challenge listing page, right? we have to tackle it separately #1019 , correct?

[2021-06-28 08:38] phead198708 commented on #1174
yes. we didnt add a cancelled tab here.

[2021-06-28 08:38] phead198708 commented on #1174
Hi, @vikasrohit @coderhacker

https://user-images.githubusercontent.com/85940583/123606269-50777280-d82f-11eb-9c7a-3de9df045873.mp4

[2021-06-28 09:47] vikasrohit commented on #1174
@coderhacker lets verify it again if it works for you now. If not, it might be specific to the browser which can take on later.

[2021-06-28 10:53] coderhacker commented on #1198
Production Update: This is not working production as well, please find an attached the video for production

https://user-images.githubusercontent.com/62358241/123625192-22912e80-d82d-11eb-8eb4-ae5706a08401.mp4

 failed
CC @lakshmiathreya

[2021-06-28 11:08] vikasrohit commented on #1198
Challenge seems to be active https://challenges.topcoder.com/projects/24943/challenges/cdff09fc-bc20-4b25-8e86-7d83ffe214ca/view

[2021-06-28 11:20] coderhacker commented on #1174
This passed on production
1.

https://user-images.githubusercontent.com/62358241/123627859-1fe40880-d830-11eb-9ba5-2a85e8ad1948.mp4

2.

https://user-images.githubusercontent.com/62358241/123628554-d9db7480-d830-11eb-962c-17c0a751164d.mp4

[2021-06-28 11:20] #1174 closed

[2021-06-28 11:20] phead198708 commented on #1174
Payment task has been updated: https://www.topcoder.com/challenges/2191dc7e-28f3-491d-b036-7cda25ebcef2
*Payments Complete*
Winner: yoution
Copilot: phead
Challenge `2191dc7e-28f3-491d-b036-7cda25ebcef2` has been paid and closed.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-28 11:59] coderhacker commented on #1198
This is passed on production:

https://user-images.githubusercontent.com/62358241/123632719-e31b1000-d835-11eb-879a-72c759e5141c.mp4

[2021-06-28 12:13] coderhacker commented on #1166
This is passed on to
production

https://user-images.githubusercontent.com/62358241/123634547-37bf8a80-d838-11eb-914b-60b3b8278053.mp4

[2021-06-28 12:13] #1166 closed

[2021-06-28 12:13] phead198708 commented on #1166
Payment task has been updated: https://www.topcoder.com/challenges/edb8ba3e-7a2d-40ae-b831-b6cc49ef2a51
*Payments Complete*
Winner: yoution
Copilot: phead
Challenge `edb8ba3e-7a2d-40ae-b831-b6cc49ef2a51` has been paid and closed.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-28 12:58] coderhacker commented on #1168
This is passed on to production.
https://user-images.githubusercontent.com/62358241/123640049-68a2be00-d83e-11eb-91fd-fd2ecf621cb3.mp4

[2021-06-28 12:58] #1168 closed

[2021-06-28 12:58] phead198708 commented on #1168
Payment task has been updated: https://www.topcoder.com/challenges/07b0c73a-5dd0-460d-81ab-b8dd2c18d974
*Payments Complete*
Winner: yoution
Copilot: phead
Challenge `07b0c73a-5dd0-460d-81ab-b8dd2c18d974` has been paid and closed.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-28 13:04] coderhacker commented on #1172
This is passed production

https://user-images.githubusercontent.com/62358241/123641068-77d63b80-d83f-11eb-8f9e-1a749c3e8d77.mp4

[2021-06-28 13:04] #1172 closed

[2021-06-28 13:04] phead198708 commented on #1172
Payment task has been updated: https://www.topcoder.com/challenges/61196f05-e57f-4736-b08c-a715403d9dee
*Payments Complete*
Winner: vibhash_19
Copilot: phead
Challenge `61196f05-e57f-4736-b08c-a715403d9dee` has been paid and closed.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-28 13:11] coderhacker commented on #1167
@vikasrohit  both issues fixed now on  production  #1166 and #1169 , so closing this ticket

[2021-06-28 13:11] #1167 closed

[2021-06-28 13:18] coderhacker opened #1202 "[$10] Better alignment and spacing for project title and view project link"
### Expected behavior
Clean up the top section a bit.

Move the project name to the left.

Remove the “View Project in Direct” button. They can get there from the Connect Project if needed.

Change the big “View in Connect” button to a simple text link after the Project Name. Something like Project Name (view project)
### Actual behavior
![image](https://user-images.githubusercontent.com/62358241/

[2021-06-28 13:20] coderhacker opened #1203 "[$10] Read View - Move title to the left and convert Direct and Online Review to links instead of Buttons"
### Expected behavior
Clean up the top section a bit.

Move the project name to the left.

Remove the “View Project in Direct” button. They can get there from the Connect Project if needed.

Change the big “View in Connect” button to a simple text link after the Project Name. Something like Project Name (view project)
### Actual behavior
![image](https://user-images.githubusercontent.com/62358241/

[2021-06-28 13:24] coderhacker opened #1204 "[$20] Edit View - Move title to the left and convert Direct and Online Review to links instead of Buttons"
### Expected behavior
Clean up the top section a bit.

Move the project name to the left.

Remove the “View Project in Direct” button. They can get there from the Connect Project if needed.

Change the big “View in Connect” button to a simple text link after the Project Name. Something like Project Name (view project)
### Actual behavior
![image](https://user-images.githubusercontent.com/62358241/

[2021-06-28 13:33] coderhacker commented on #1165
Okey @vikasrohit  I have created three defect #1202 , #1203 , #1204

This is passed on to production

https://user-images.githubusercontent.com/62358241/123644855-6727c480-d843-11eb-8d94-806fc2b7902c.mp4

[2021-06-28 13:33] #1165 closed

[2021-06-28 13:33] phead198708 commented on #1165
Payment task has been updated: https://www.topcoder.com/challenges/986eeb3a-c0fa-489e-ad16-2711c4c0a039
*Payments Complete*
Winner: gauravseta
Copilot: phead
Challenge `986eeb3a-c0fa-489e-ad16-2711c4c0a039` has been paid and closed.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-28 13:34] vikasrohit commented on #1165
Thanks @coderhacker

[2021-06-28 13:39] vikasrohit commented on #1195
This should be fixed with #1203 and #1204

[2021-06-28 13:39] coderhacker commented on #1197
This is passed on to production
https://user-images.githubusercontent.com/62358241/123645737-34ca9700-d844-11eb-8659-3c2bfef17f6b.mp4

[2021-06-28 13:39] #1197 closed

[2021-06-28 13:40] #1198 closed

[2021-06-28 13:41] coderhacker commented on #1192
This is passed on to production

https://user-images.githubusercontent.com/62358241/123646156-95f26a80-d844-11eb-8260-ba8477d9f845.mp4

[2021-06-28 13:41] #1192 closed

[2021-06-28 13:43] vikasrohit commented on #737
@ajefts closing this and similar for now to clean up things.

[2021-06-28 13:43] #737 closed

[2021-06-28 13:43] vikasrohit commented on #735
@ajefts closing this and similar for now to clean up things.

[2021-06-28 13:43] #735 closed

[2021-06-28 13:45] vikasrohit commented on #721
@ajefts closing this and similar for now to clean up things.

[2021-06-28 13:45] #721 closed

[2021-06-28 13:45] coderhacker commented on #1169
This is passed on to production

https://user-images.githubusercontent.com/62358241/123646761-203ace80-d845-11eb-935a-25fbc87c3ecf.mp4

[2021-06-28 13:45] #1169 closed

[2021-06-28 13:45] phead198708 commented on #1169
Payment task has been updated: https://www.topcoder.com/challenges/6c1e79b5-37d4-4012-9c83-0aee9d8fb8eb
*Payments Complete*
Winner: yoution
Copilot: phead
Challenge `6c1e79b5-37d4-4012-9c83-0aee9d8fb8eb` has been paid and closed.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-28 13:48] vikasrohit commented on #1019
Moving to next milestone @ajefts, we didn't get time to wrap this one in this milestone. We need to add `Cancelled` tab to the list of challenges but we need to check if the API supports filtering challenges based on multiple challenges because we have many variations of `Cancelled` status.

[2021-06-28 13:51] coderhacker commented on #1170
This is not fixed on production

https://user-images.githubusercontent.com/62358241/123647836-106fba00-d846-11eb-8417-8eb449255ad0.mp4

[2021-06-28 13:58] vikasrohit commented on #1170
What is not fixed @coderhacker? Forums link is not enabled? if that is that case, that was not the purpose of this issue, we just need to move that link to the header. Forum link would be working when the challenge is created in legacy and that might take time as we are facing some latency in legacy sync.

[2021-06-28 13:59] vikasrohit commented on #1170
it seems legacy link are created but forum is not. May be Data science track take some time for forum but none the less that is not to be verified in this issue. You can view any existing challenge's forum link or try creating different track challenge.

[2021-06-28 14:04] coderhacker commented on #1176
This is passed on to production

https://user-images.githubusercontent.com/62358241/123649930-c556a680-d847-11eb-9c81-a4823f187ec0.mp4

[2021-06-28 14:04] #1176 closed

[2021-06-28 14:04] phead198708 commented on #1176
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-28 14:09] coderhacker commented on #1170
@vikasrohit  Okey @vikasrohit for the development track I can see the forum link is working but the DS track it's not working last 3 hrs.
![image](https://user-images.githubusercontent.com/62358241/123650716-78270480-d848-11eb-9380-aab1eb33ea01.png)

cc @lakshmiathreya

[2021-06-28 14:15] vikasrohit commented on #1170
Please make it a pass because we are concerned about moving the position of the link not the actual link's target. We haven't alter anything there, so if it is not working for some cases, it might be already there even before this release.
cc: @lakshmiathreya

[2021-06-28 14:23] coderhacker opened #1205 "WM: Forum link is not working on DS track"
### Expected behavior
 Forum link should be working on DS track

### Actual behavior
 The Forum link is not working on the DS track

### Steps to reproduce the problem
Please see the attached video to reproduce this issue

### Screenshot/screencast
Attach or link a resource.

https://user-images.githubusercontent.com/62358241/123653101-7f4f1200-d84a-11eb-9f4a-40bf52098438.mp4

--

#### Environment

[2021-06-28 14:25] coderhacker commented on #1170
@vikasrohit as per the above discussion created a new defect https://github.com/topcoder-platform/work-manager/issues/1205 for DS track and marking this passed on production

[2021-06-28 14:25] #1170 closed

[2021-06-28 14:25] phead198708 commented on #1170
Payment task has been updated: https://www.topcoder.com/challenges/6a51c73a-0a67-4f28-b210-b51e5ce57eeb
*Payments Complete*
Winner: gauravseta
Copilot: phead
Challenge `6a51c73a-0a67-4f28-b210-b51e5ce57eeb` has been paid and closed.<br/><br/>```This is an automated message for phead via Topcoder X```

[2021-06-29 10:19] coderhacker commented on #1150
This is fixed on production
![image](https://user-images.githubusercontent.com/62358241/123781150-8715c180-d8f1-11eb-8422-0fac966927ed.png)

[2021-06-29 10:19] #1150 closed

[2021-06-29 10:21] coderhacker commented on #1148
This is still not fixed prod.
![image](https://user-images.githubusercontent.com/62358241/123781434-de1b9680-d8f1-11eb-8f31-d38277ebb8d1.png)

[2021-06-29 10:23] coderhacker commented on #1144
This is still not fixed on production
![image](https://user-images.githubusercontent.com/62358241/123781626-18853380-d8f2-11eb-8144-ca42a5af27fc.png)

[2021-06-29 15:08] yoution commented on #1166
@vikasrohit  I can not receive the payment, can you check it?

[2021-06-29 15:49] ajefts opened #1206 "Add View Challenge Link"
New Feature:

Add a link to the top nav when viewing a challenge that opens the public challenge page in a new tab.  This will serve as a way to preview the challenge as well as navigate to the challenge page in general when you are managing the challenge in Work Manager.

![image](https://user-images.githubusercontent.com/3812270/123827770-ea422c80-d8ce-11eb-93ad-01b42d7e42b4.png)

We may need to

[2021-06-29 15:49] ajefts commented on #1206
fyi @vikasrohit

[2021-06-29 17:15] ThomasKranitsas commented on #1206
FYI, this was done as part of the recent challenge I ran that took care of some fixes for the pureV5 flow.

[2021-06-29 17:23] #1160 closed

[2021-06-30 08:41] vikasrohit commented on #1166
@phead198708 is working to release the payments.

[2021-07-01 07:13] phead198708 commented on #1195
Hi, @yoution  do the same with ticket https://github.com/topcoder-platform/work-manager/issues/1165

Keep the online review link, and remove the connect link.

[2021-07-01 07:16] yoution commented on #1196
@phead198708 please assign to me

[2021-07-01 07:16] yoution commented on #1195
@phead198708 please assign to me

[2021-07-01 07:16] yoution commented on #1205
@phead198708 please assign to me

[2021-07-01 07:16] yoution commented on #1019
@phead198708 please assign to me

[2021-07-01 07:16] yoution commented on #1203
@phead198708 please assign to me

[2021-07-01 07:16] yoution commented on #1204
@phead198708 please assign to me

[2021-07-01 07:17] yoution commented on #567
@phead198708 please assign to me

[2021-07-01 07:17] yoution commented on #573
@phead198708 please assign to me

[2021-07-01 07:17] yoution commented on #780
@phead198708 please assign to me

[2021-07-01 07:17] yoution commented on #917
@phead198708 please assign to me

[2021-07-01 07:17] yoution commented on #1202
@phead198708 please assign to me

[2021-07-01 07:18] phead198708 commented on #1202
I see some error message overlapped also.

![View Details 2021-07-01 15-16-31](https://user-images.githubusercontent.com/85940583/124082713-9f1b4b80-da7f-11eb-8d09-97bb65f7dee9.png)

[2021-07-01 10:00] yoution commented on #1205
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1208

[2021-07-01 12:43] yoution commented on #1204
@phead198708
1. how about this one? also remove it?
![image](https://user-images.githubusercontent.com/3863914/124125700-82e1d380-daac-11eb-90ab-354524503c2c.png)

2.how about this case? if change button to  text link, how to show this disabled style
![image](https://user-images.githubusercontent.com/3863914/124126019-cf2d1380-daac-11eb-8964-7c6faffea685.png)

[2021-07-01 15:32] yoution commented on #1195
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1209

[2021-07-01 15:32] yoution commented on #1203
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1209

[2021-07-01 15:33] yoution commented on #1204
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1209

[2021-07-02 01:32] yoution commented on #1202
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1210

[2021-07-02 01:45] yoution commented on #1196
@phead198708
the extra space happens is the rightside word too long，then it wrap to next line
![image width="100"](https://user-images.githubusercontent.com/3863914/124208040-57490280-db19-11eb-939a-27b4df01b70d.png)
![image width="100"](https://user-images.githubusercontent.com/3863914/124208066-63cd5b00-db19-11eb-98ca-856255ae3db0.png)

[2021-07-02 02:05] yoution commented on #1196
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1211

[2021-07-02 02:26] yoution commented on #1019
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1212

[2021-07-02 02:56] yoution commented on #567
@vikasrohit
can we determine by `createby` field
![image](https://user-images.githubusercontent.com/3863914/124213856-e3602780-db23-11eb-9099-513c3285dce9.png)
if the chalenge is created by the user, but when BE return `no access`, when show the error?

[2021-07-02 04:49] vikasrohit commented on #567
@yoution I didn't understand what we can determine with `createdBy` here. However, I think what we need is that we should try to reproduce the issue and in the step `Click "Launch as Draft"` what is the error returned by the API. If there is an error returned, we can act on that. If there is no error during the process, I guess we won't be fixing this issue.

[2021-07-02 04:59] vikasrohit commented on #1204
@yoution
1. Lets keep those links for now
2. I guess we would show just the plain text without it being hyperlink. That would make the text grey or black colored instead of blue hyperlink. That should give enough hint to the user, further we can still keep the tooltip.

[2021-07-02 05:28] vikasrohit commented on #1206
ok, so we need not to worry about this @ThomasKranitsas , right?

[2021-07-02 06:57] yoution commented on #780
@vikasrohit what‘s the final decision？
currently the ui style is like so
![image](https://user-images.githubusercontent.com/3863914/124233699-adcc3600-db45-11eb-9edb-e15ad26eb97d.png)

[2021-07-02 07:20] phead198708 commented on #567
Hi, @vikasrohit  I suppose if one user send a create challenge request, the endpoints will check the permissions of this user first (for example, check he is in copilot list or not), if he has been removed from copilot list, the endpoint should return 403 access denied, right ? This will protect the challenge creation from the backend side.

[2021-07-02 07:41] vikasrohit commented on #567
Yes, it should be something similar, however, I am not sure if that is happening right now. Can we verify what is exactly happening after user hits the Save as Draft button while user being removed from the project within same timeframe?

[2021-07-02 08:21] yoution commented on #917
@vikasrohit  @acshields can you provide the new UI implementation?
currently the ui is like so
![image](https://user-images.githubusercontent.com/3863914/124244463-8bd8b080-db51-11eb-9385-4cd1c9e51a0a.png)

[2021-07-02 10:09] vikasrohit commented on #917
Sorry @yoution I guess this issue is not ready yet.

[2021-07-02 10:10] vikasrohit commented on #780
Lets move it to backlog, I think it is not ready yet for development.

[2021-07-02 10:28] yoution commented on #567
@vikasrohit , if the user not in the project, but can still `save draft`
<img width="1225" alt="View Details 2021-07-02 18-26-14" src="https://user-images.githubusercontent.com/3863914/124261233-21307080-db63-11eb-8401-34908b9a64ae.png">

[2021-07-02 12:42] phead198708 commented on #567
Hi, @yoution we need to add this limit to backend code. If user didn't have permission to create/edit the challenge, it should throw 403.

[2021-07-05 03:41] vikasrohit commented on #567
Ok, then why the challenge is not listed under `Drafts` tab as per the last step of issue reproduction?

@phead198708 @yoution just to be clear, we are not attempting to fix anything in challenge api here. If we find that issue can not be fixed on the front end, we have to leave it. But we have to put our analysis results here why we think it can not be handled in front end.

[2021-07-05 04:02] yoution commented on #567
@vikasrohit @phead198708  in the project list, the project doesn't exist, but when I input the url directly in the browser address, the user can edit the challenge in the project, can even active the challenge
![image](https://user-images.githubusercontent.com/3863914/124415945-82855900-dd88-11eb-9880-3e69f5e4c133.png)

[2021-07-05 04:17] yoution commented on #573
@vikasrohit how about this issue? do we need to fix it? or we need to change the markdown editor component?

[2021-07-05 04:19] vikasrohit commented on #567
Ok, that is understandable. However, as per the original reproduction steps  the last step is `Check the Draft challenges tab (Nothing displayed)`, so if you don't go back to the project listing page after creating the challenge and instead land on the challenge listing page, do you see the challenge in Draft tab?

[2021-07-05 04:20] vikasrohit commented on #573
Lets hold on, moving to backlog.

[2021-07-05 06:06] yoution commented on #567
@vikasrohit yes, I can see it in the Draft tab, I can also active it from the Draft tab

[2021-07-05 10:18] vikasrohit commented on #567
ok, Then I guess, we don't need any change for now. @codejamtc can you please verify that you are also seeing the same behavior?

[2021-07-06 08:29] vikasrohit commented on #567
Moving to Backlog as it seems to be very edge case and we yet don't have exact requirements on how to handle it.

[2021-07-06 12:18] coderhacker commented on #1198
This is not fixed on Dev Environment

https://user-images.githubusercontent.com/62358241/124598466-46362380-de82-11eb-8d55-2b39ed10e24c.mp4

[2021-07-07 12:22] coderhacker commented on #1198
Here is the latest finding for this bug.

 WM start  date and status active  is not syncing with the newly created challenge
please see attached video:

https://user-images.githubusercontent.com/62358241/124758100-e015d300-df4b-11eb-94ad-c5f62e926ca1.mp4

[2021-07-07 12:22] coderhacker commented on #1198
CC @lakshmiathreya

[2021-07-09 10:18] coderhacker commented on #1202
This is not fixed properly, please find below the issue

1.
![image](https://user-images.githubusercontent.com/62358241/125056455-e0d27480-e0c5-11eb-9ee6-3eb984b53071.png)

[2021-07-09 10:45] vikasrohit commented on #1202
@coderhacker are you suggesting `Online Review` to not break into two lines?

[2021-07-09 12:16] coderhacker commented on #1204
This is fixed  on dev
![image](https://user-images.githubusercontent.com/62358241/125076390-7af1e700-e0dd-11eb-892f-59e4a7155689.png)

[2021-07-09 12:27] coderhacker commented on #1196
Dev Passed
![image](https://user-images.githubusercontent.com/62358241/125077535-d5d80e00-e0de-11eb-9efe-8150d15e0b86.png)
![image](https://user-images.githubusercontent.com/62358241/125077561-dec8df80-e0de-11eb-8f14-2a1259b2352b.png)

[2021-07-09 12:33] coderhacker commented on #1195
Dev Failed: This is not properly fixed
![image](https://user-images.githubusercontent.com/62358241/125078306-d45b1580-e0df-11eb-9c70-91900eb433bf.png)

[2021-07-09 12:41] coderhacker commented on #1019
Dev Passed:

https://user-images.githubusercontent.com/62358241/125079242-028d2500-e0e1-11eb-9af0-4108cf5d1311.mp4

[2021-07-09 13:54] coderhacker commented on #1202
@vikasrohit  Online Review should not break this should be one line like this
![image](https://user-images.githubusercontent.com/62358241/125088596-33725780-e0eb-11eb-85d6-35a6b99b0f1c.png)

[2021-07-10 05:18] yoution commented on #1019
@vikasrohit @phead198708 please add payment

[2021-07-10 05:43] yoution commented on #1195
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1213
![image](https://user-images.githubusercontent.com/3863914/125153213-c6130500-e184-11eb-9167-98b83d76fbe8.png)

[2021-07-10 05:44] yoution commented on #1202
@phead198708 please review https://github.com/topcoder-platform/work-manager/pull/1213
![image](https://user-images.githubusercontent.com/3863914/125153250-fd81b180-e184-11eb-8c25-5bc1ae86b63a.png)

[2021-07-11 04:11] vikasrohit commented on #1202
@coderhacker deployed to dev for reverification.

[2021-07-11 04:11] vikasrohit commented on #1195
@coderhacker deployed to dev for reverification.

[2021-07-12 07:26] coderhacker commented on #1202
This is not fixed properly online review touching delete button
![image](https://user-images.githubusercontent.com/62358241/125247334-73feea80-e310-11eb-96dc-05c55ba1fbf9.png)

[2021-07-12 07:29] coderhacker commented on #1195
This is fixed on dev
![image](https://user-images.githubusercontent.com/62358241/125247688-d9eb7200-e310-11eb-8198-7f5243b8d650.png)

[2021-07-12 07:37] vikasrohit commented on #1202
@coderhacker this is okay, lets pass it. We are not going to see this long challenge name practically, and if we do, we don't really care about that slight alignment issue.

[2021-07-12 08:45] coderhacker opened #1214 "online review title touching the button"
### Expected behavior
online review title should be proper align
### Actual behavior
online review title touching the button
![image](https://user-images.githubusercontent.com/62358241/125257785-5edb8900-e31b-11eb-998d-14bf32005af5.png)

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS: WIndow 10
- Browser (w/version): All browser
- User role (client, copilot or mana

[2021-07-12 08:46] coderhacker commented on #1202
This is passed on dev as per the above suggestion. a raised new defect https://github.com/topcoder-platform/work-manager/issues/1214 for long title handle

[2021-07-12 12:51] coderhacker commented on #1202
This is passed on production :
![image](https://user-images.githubusercontent.com/62358241/125290496-ffdb3b80-e33d-11eb-9e31-a397ad09c9f7.png)

[2021-07-12 12:51] #1202 closed

[2021-07-12 13:25] coderhacker commented on #1204
This is passed on production
![image](https://user-images.githubusercontent.com/62358241/125295191-9d386e80-e342-11eb-8df7-7abfc547f077.png)

[2021-07-12 13:25] #1204 closed

[2021-07-12 13:35] coderhacker commented on #1203
This is passed on proudction
![image](https://user-images.githubusercontent.com/62358241/125296614-184e5480-e344-11eb-899d-09f46f1ba1ab.png)

[2021-07-12 13:35] #1203 closed

[2021-07-12 13:38] coderhacker commented on #1196
This is fixed on proudction
![image](https://user-images.githubusercontent.com/62358241/125296996-7713ce00-e344-11eb-8187-b0133b008188.png)

[2021-07-12 13:38] #1196 closed

[2021-07-12 14:03] coderhacker commented on #1195
This is passed in production
![image](https://user-images.githubusercontent.com/62358241/125300833-05d61a00-e348-11eb-89df-a72825e5e64c.png)

[2021-07-12 14:03] #1195 closed

[2021-07-12 15:06] coderhacker opened #1217 "Sync issue | The canceled challenge is not reflected in the canceled tab once the challenge is canceled"
### Expected behavior
 Canceled challenged should be reflected in the canceled tab once the challenge is canceled

### Actual behavior
The canceled challenge is not reflected in the canceled tab once the challenge is canceled

### Screenshot/screencast
Attach or link a resource.

--

#### Environment
- OS: Window 10
- Browser (w/version): all latest browser
- User role (client, copilot or manager)

[2021-07-12 15:09] coderhacker commented on #1019
This is passed on to production

https://user-images.githubusercontent.com/62358241/125311678-340c2780-e351-11eb-953f-db9953657249.mp4

[2021-07-12 15:09] #1019 closed

[2021-07-13 14:23] ajefts commented on #1206
@ThomasKranitsas Is this part of an upcoming release?

[2021-07-13 14:25] ThomasKranitsas commented on #1206
It's part of the pure v5 design shape up that @rootelement and myself ran

[2021-07-19 10:33] coderhacker commented on #1198
This is still not fixed on dev , Here is an updated video for dev

https://user-images.githubusercontent.com/62358241/126147195-3209b4d0-7a57-47c1-99cf-e5cef228d39b.mp4

[2021-07-19 10:34] coderhacker commented on #1198
https://challenges.topcoder-dev.com/projects/16804/challenges/f5b63079-5bab-4088-bb1a-6cb81e54ce0b/view
https://challenges.topcoder-dev.com/projects/16804/challenges/4c45cfb6-feb6-461a-8844-0a1422850aac/view

[2021-07-19 11:06] lakshmiathreya commented on #1198
@rootelement need your help pls ...

[2021-07-19 13:51] ThomasKranitsas commented on #1198
@lakshmiathreya it seems like the call to the V4 API from the legacy challenge processor is timing out.
We are restarting the service and this should fix the issue.

below is the log from the legacy challenge processor:

[code]

[2021-07-19 18:22] rootelement commented on #1198
There is a strange issue with Challenge V4 API. We fixed the code but Guna is now fixing the deploy. Once that's done, we'll re-test.

[2021-07-20 17:40] ajefts commented on #1082
Legacy supports zero prizes. This is ok to do and desired.

FYI @vikasrohit

[2021-07-21 15:27] lakshmiathreya opened #1218 "[Dev Env] Dates Sync Issue for New Challenges"
-- Launch seems to go fine - Challenge remains in Active State.
-- However, Dates don't get Synced correctly.
-- Registration remains disabled due to this.

<img width="1680" alt="Screenshot 2021-07-21 at 8 54 55 PM" src="https://user-images.githubusercontent.com/51733042/126515658-4b400fbd-f46e-4154-81d1-3a1032854c9c.png">
<img width="1680" alt="Screenshot 2021-07-21 at 8 46 47 PM" src="https://u

[2021-07-21 15:28] lakshmiathreya opened #1219 "[Dev Env] Dates Sync Issue for New Challenges"
-- Launch seems to go fine - Challenge remains in Active State.
-- However, Dates don't get Synced correctly.
-- Registration remains disabled due to this.

<img width="1680" alt="Screenshot 2021-07-21 at 8 54 55 PM" src="https://user-images.githubusercontent.com/51733042/126515658-4b400fbd-f46e-4154-81d1-3a1032854c9c.png">
<img width="1680" alt="Screenshot 2021-07-21 at 8 46 47 PM" src="https://u

[2021-07-21 15:29] lakshmiathreya commented on #1219
This is a blocker for End to End testing in the Dev Environment.
cc @drasticdpk @coderhacker @vikasrohit

[2021-07-21 15:33] lakshmiathreya commented on #1198
Status remains Active now - Registration continues to be block due to apparent Registration date Sync issue - Setting QA Pass for Dev here and logged a new Issue to track that https://github.com/topcoder-platform/work-manager/issues/1219

[2021-07-22 03:55] #1218 closed

[2021-07-23 04:41] RishiRajSahu commented on #616
@mtwomey should we enable permissive CSP here too ?

[2021-07-23 15:24] ThomasKranitsas commented on #1219
@lakshmiathreya can you please share the challenge ID?

[2021-07-23 16:28] rootelement commented on #1219
@ThomasKranitsas
https://challenges.topcoder-dev.com/challenges/8f1e5cb3-b625-4247-b835-9328d4b46d56

[2021-07-23 17:14] ThomasKranitsas commented on #1219
It seems like the code is trying to read the `actualEndDate` while this has been removed and it's only available after the end of the phase. If the `actualEndDate` is not defined, you should fall back to the `scheduledEndDate`. The fix is on the frontend and not the API

[2021-07-26 14:07] lakshmiathreya commented on #1219
@ThomasKranitsas - wondering how this works in Prod but not Dev?

[2021-07-26 14:12] rootelement commented on #1219
@lakshmiathreya because prod is not using the v5 autopilot/scheduler. It's because now phases are managed correctly using that v5. Direct/OR/Legacy Autopilot was populating dates that don't actually matter until the phase time passes.

[2021-07-26 14:15] lakshmiathreya commented on #1219
@rootelement what's the ETA for the fix - this is a blocker for Dev testing ...

[2021-07-26 14:31] ThomasKranitsas commented on #1219
@lakshmiathreya the fix is to be done on the frontend. There's nothing to be fixed on the API

[2021-07-27 09:14] lakshmiathreya commented on #1219
cc @SathyaJayabal for followup on FE ...

[2021-07-29 08:29] coderhacker commented on #1219
date sync issue is not fixed on dev with new created challenge  https://www.topcoder-dev.com/challenges/85ff940e-dfd5-427c-a16d-efd7c7636d73
https://challenges.topcoder-dev.com/projects/16804/challenges/85ff940e-dfd5-427c-a16d-efd7c7636d73/view
![image](https://user-images.githubusercontent.com/62358241/127458852-5cdd017d-8508-4c20-856c-2d489cdb60a8.png)

[2021-07-29 08:32] coderhacker commented on #1219
that dates on comm app, now read form scheduled end date if the actual end date is not present but the registration start date has the wrong value

[2021-07-30 08:21] SathyaJayabal commented on #1219
@rootelement @ThomasKranitsas , the registration start date returned by the v5 challenge-api is different from what is set from the WM
<img width="1440" alt="Screenshot 2021-07-30 at 1 45 42 PM" src="https://user-images.githubusercontent.com/58783823/127623806-9893d2d6-bfae-421d-a2d0-7d4a27c4961f.png">

<img width="1440" alt="Screenshot 2021-07-30 at 1 45 13 PM" src="https://user-images.githubuser

[2021-07-30 08:53] SathyaJayabal commented on #1219
@ThomasKranitsas @rootelement @lakshmiathreya .

Issue: Register button on CA challenge details page is not active even though registration start time has passed.

Example Challenge:
https://www.topcoder-dev.com/challenges/85ff940e-dfd5-427c-a16d-efd7c7636d73

Now both the actual and scheduled start time for the registration and submission phases has passed. But the isOpen flag is false, hence CA

[2021-07-30 09:17] ThomasKranitsas commented on #1219
Are the phases open on the legacy challenge? Usually, OR/autopilot are very slow and buggy when it comes to phase management

[2021-07-30 09:24] SathyaJayabal commented on #1219
@ThomasKranitsas , i see this on Online review
<img width="1437" alt="Screenshot 2021-07-30 at 2 52 44 PM" src="https://user-images.githubusercontent.com/58783823/127632073-a4ba2761-cd76-4a6a-894c-5369ce110a8a.png">

[2021-07-30 09:25] ThomasKranitsas commented on #1219
Exactly as I thought. It's not a V5 API issue. The autopilot hasn't opened the phases yet even if the time has passed

[2021-07-30 09:26] SathyaJayabal commented on #1219
But isnt the new v5 scheduler is supposed to open / close the phases?

[2021-07-30 09:31] ThomasKranitsas commented on #1219
The v5 scheduler will only process `pureV5` challenges. If the challenge is not `pureV5`, the management is still left to legacy

[2021-07-30 09:36] SathyaJayabal commented on #1219
@coderhacker, is the challenge not a pure V5 challenge?

[2021-07-30 09:41] lakshmiathreya commented on #1219
@coderhacker @drasticdpk - seems like this Issue will get closed once we get Pure V5 release to Dev in current Shapeup #4. Let's just wait until then ...

[2021-07-30 09:48] SathyaJayabal commented on #1219
@coderhacker, you can manually open the registration phase. You can go to Online review and edit the project and open/close the phases.
https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30059254
You can continue to test this challenge to completion, so that you are sure there are no other issues.

[2021-07-30 11:03] coderhacker commented on #1219
@SathyaJayabal  this is a pure v5 challenge.

[2021-07-30 11:12] coderhacker commented on #1219
You can see differences in OR tool here
![image](https://user-images.githubusercontent.com/62358241/127644863-29e94a3c-d9cf-44ff-a62f-188d31e31c01.png)

[2021-07-30 11:13] ThomasKranitsas commented on #1219
Managers and observers are automatically being added to the challenge upon creation. It has nothing to do with the registration phase.

[2021-07-30 11:19] SathyaJayabal commented on #1219
@coderhacker , the difference in the registration time is because, the registration  start time is always set 1 day after the challenge start time set in WM.

The registration date you see above in the screen shot, is the time the managers/ observers were added to the challenge.

[2021-07-30 11:24] coderhacker commented on #1219
is the same logic for copilot? you can see the start date set in WM differ with OR tool
![image](https://user-images.githubusercontent.com/62358241/127646084-aba03b35-0203-4b2a-92ef-94311f15dac1.png)

[2021-07-30 11:28] coderhacker commented on #1219
The button is still not active for this challenge https://www.topcoder-dev.com/challenges/85ff940e-dfd5-427c-a16d-efd7c7636d73.

[2021-08-03 02:21] drasticdpk opened #1221 "Request to make default score card as Basic Code Challenge"
**Work Type** : Development

**Work Format** : Challenge

**Reference** :

![image](https://user-images.githubusercontent.com/25297859/127947359-b2bd1810-eac1-440c-bd8d-08323d579c54.png)

![image](https://user-images.githubusercontent.com/25297859/127946536-8f2894f3-8c5e-460a-bfa1-45aee8797047.png)
Note : This is requested by copilot @Sande3p

[2021-08-04 14:46] rootelement commented on #1219
Ok, I can now say this whole log jam is unstuck. While it does take a while for legacy autopilot to open phases, it _does_ work. I tested a couple challenges including a F2F in dev.

We'll continue to work to see why dev autopilot is so slow, but the challenge created in WM did go back to legacy, and when activated, eventually opened and became active for registration. Please try your tests again.

[2021-08-10 15:10] drasticdpk opened #1224 "Final Review Score Mismatch WM VS OR"
**Reference**

![image](https://user-images.githubusercontent.com/25297859/128892035-de0f33db-e7f7-42ba-ac4f-167df4f316b1.png)

[2021-08-16 06:38] sunita75 opened #1227 "Cannot see payment in WM"
### Expected behavior
I cannot see any payments made by my copilots

### Actual behavior
I should be able to see all payment details of every task/challenge raised by my copilots.
I should be able to see to who all the payments were made.

### Steps to reproduce the problem

### Screenshot/screencast
Attach or link a resource.
Connect - https://connect.topcoder.com/projects/28740
WM - https://chal

[2021-09-08 19:49] singhketan opened #1230 "Making Edits in the spec can potentially reset the challenge durations"
From Slack:

I launched a challenge and changed the challenge duration, only to find it back to the default duration a few minutes later. During this time, I made some edits in the spec.

Is this 'edit the spec and reset challenge duration to default' a known bug? Or could something else be causing it?

I made the spec edits in Work manager btw, and the duration edits in OR (as I couldn't find the

[2021-09-09 08:21] coderhacker commented on #1219
This is not working with the new dev build, hence re-opening this defect https://www.topcoder-dev.com/challenges/2e16e5cf-5ae8-40df-b95b-8d1c2acadf48
![image](https://user-images.githubusercontent.com/62358241/132650098-202ad903-f4b0-48b5-9d72-fbf4b6b49306.png)
CC @lakshmiathreya  @drasticdpk

[2021-09-13 07:28] maxceem opened #1231 "[Test Automation] Support DEV/PROD environment test data config"
### Background

At the moment when we run Test Automation it always uses DEV environment for testing because we provide test data for DEV in [config/config.json](https://github.com/topcoder-platform/work-manager/blob/270d7a89f02ac5efc7c48282d9d93263c2f49103/test-automation/config/config.json) and in [test-data/test-data.json](https://github.com/topcoder-platform/work-manager/blob/270d7a89f02ac5efc

[2021-09-13 12:30] nursoltan-s commented on #1231
@maxceem
Hi, What user credentials should we use for "copilot" and "copilotManager" role in PROD env?

[2021-09-13 12:46] maxceem commented on #1231
hi @nursoltan-s

for now, just take care of the first item:

So don't need to create a separate PROD config for now. We just have to make sure, that all configurable data should come from https://github.com/topcoder-platform/work-manager/blob/270d7a89f02ac5efc7c48282d9d93263c2f49103/test-automation/config/config.json

[2021-09-13 13:08] nursoltan-s commented on #1231
@maxceem
Please check PR:
https://github.com/topcoder-platform/work-manager/pull/1232

[2021-09-14 03:50] vikasrohit opened #1233 "Set Billing Account while creating the challenge"
### Expected behavior
Show BA of challenge when present.

### Actual behavior
As of now, WM just shows the BA of the parent project. It never reads the BA from the challenge object which creates confusion to the users when they are looking at existing challenge which was created .

### Steps to reproduce the problem
- Open an old challenge (for which you know the BA used for payments) in WM where

[2021-09-14 03:54] vikasrohit commented on #1233
@rootelement `billing` information is only accessible to the admins, so how can we fix this bug?

[2021-09-15 15:47] SurendraYellu opened #1234 "Reminder emails to reviewers if challenge review is pending for more than a week"
Feature Request:

Currently. automatic mail notifications are being sent for TopGear challenges ending soon with no registrations/submissions.

We need reminder emails to be sent out to reviewers when challenge review is pending with them for more than one week of challenge closure - with the list of all the challenges that is pending with them for review. Can that be triggered please?

[2021-09-17 14:18] coderhacker opened #1235 "WM: Copilot is not displaying and Getting console error and UI breaking"
### Expected behavior
Edit page should be responsive and there should be no console error, It should be working properly.
### Actual behavior
Copilot is not displaying and Getting console errors and UI breaking, please see attached screenshot

1. UI breaking
2. Console error coming.
3. Copilot is not showing.

### Steps to reproduce the problem
- Go to this page https://challenges.topcoder-dev.com

[2021-09-17 14:26] coderhacker opened #1236 "WM: Pagination showing blank on not any result"
### Expected behavior
Pagination should be not there if the result is not found.

### Actual behavior
Pagination showing blank on not any result. please see screenshot
![image](https://user-images.githubusercontent.com/62358241/133798696-5cfbb7bd-752b-4cf4-971e-e77a364c4131.png)

### Steps to reproduce the problem
- go to this URL https://challenges.topcoder-dev.com/projects/18796/challenges and s

[2021-09-20 18:33] ThomasKranitsas commented on #1235
That's because the API doesn't include the member information. Looks like a bad data issue to me

[2021-09-20 18:33] #1235 closed

[2021-09-24 12:15] codejamtc opened #1238 "Legacy Sync is not working"
**Project:** https://challenges.topcoder-dev.com/projects/18798/challenges
**Billing Account:** https://connect.topcoder-dev.com/projects/18798/settings

**Challenges**: https://challenges.topcoder-dev.com/projects/18798/challenges

https://user-images.githubusercontent.com/42398485/134672368-a72a2a0d-1ed1-49f3-91b0-f20b3fdb4036.mp4

@lakshmiathreya

[2021-09-24 14:23] codejamtc commented on #1238
Ref: https://github.com/topcoder-platform/challenge-autopilot/issues/12

[2021-09-27 09:03] SurendraYellu opened #1239 "Allow prize money change and status change for completed challenges"
Feature Request:

For TopGear, we have a valid case where we will need to cancel a challenge even if it is completed and also need to set the payment to 0 even on V5 (we can do it on direct, but this is not getting reflected in V5) . These are for cases where we have seen that submitter and reviewers are same, and we do not allow such challenge payments to happen.

In such cases, we want to mark t

[2021-09-28 04:45] codejamtc opened #1240 "We can't access the OR in design challenges"
https://user-images.githubusercontent.com/42398485/135024524-9f43d817-302c-40b5-9abf-504a26793164.mp4

- Open https://challenges.topcoder-dev.com/projects/18798/challenges/
- Create a Design challenge
-  Wait until the challenge sync with the legecy system
- Click on the OR link from the challenge page or listing page

**Sample challenge:** https://challenges.topcoder-dev.com/projects/18798/challe

[2021-09-28 04:59] lakshmiathreya commented on #1240
Unable to view even with my Admin user ...

[2021-09-28 07:32] lakshmiathreya commented on #1240
@codejamtc - this is a Pure V5 challenge right? OR access is to be bypassed as expected ...

[2021-09-28 09:06] #1240 closed

[2021-10-04 04:36] drasticdpk opened #1241 "Unable to update Challenge Title from WM"
**Reference**

https://user-images.githubusercontent.com/25297859/135794471-426b9615-4ef7-47cb-8a71-90994b3b7b2c.mp4

[2021-10-04 08:56] drasticdpk commented on #1241
Findings,
Challenge start date does not sync Work Manager vs OR app
**Steps**
- Create the new challenge. ( By default it will take tomorrow's date as start date )
- Edit the challenge and set today's date as start date.
- Observe the Start date in WM vs OR

**Expectation**

Date should be sync between WM/OR/Community App

**Reference**

![image](https://user-images.githubusercontent.com/25297859/

[2021-10-04 12:02] drasticdpk opened #1242 "Dev Env - Sync issue WM/OR/Community app"
REGISTRANTS  and SUBMISSIONS  list are missing on OR, so unable to verify complete flow.

**Challenge**  : https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30059862

**Reference**
![image](https://user-images.githubusercontent.com/25297859/135847798-09057b3d-dcc7-435d-bf96-49bf6e91ebb5.png)

[2021-10-04 12:31] ThomasKranitsas commented on #1242
This is not a sync issue.. Calling the API to register the resource via postman throws 403 Forbidden with the following error:

[code]

[2021-10-04 12:36] ThomasKranitsas commented on #1242
<img width="1464" alt="Screenshot 2021-10-04 at 3 34 58 PM" src="https://user-images.githubusercontent.com/4612921/135852218-a7781b70-2ce0-42ed-9330-59863c54a9a4.png">

It seems like the member has agreed to the term on the V5 API but that information is missing from legacy. That may be because of a temporary outage of the processor that's backfilling legacy or a legacy API outage

[2021-10-04 12:37] ThomasKranitsas commented on #1242
@drasticdpk can you please register a new account or try with another user to see if it will work correctly?

[2021-10-04 12:43] coderhacker commented on #1242
linking this issue here which is blocking pureV5 testing https://github.com/topcoder-platform/challenge-autopilot/issues/13.

Here is more finding.
1. getting this error when editing the same challenge https://challenges.topcoder-dev.com/projects/18798/challenges/9cc0d8c6-7ebe-4c73-b341-ab3f92004193/view
![image](https://user-images.githubusercontent.com/62358241/135853306-232e4f0c-5719-476b-9524-

[2021-10-04 15:33] ThomasKranitsas commented on #1242
The error is expected.

FYI Design challenges are not supported by WM. Only the new V5 Design challenges are supported but that version of the WM is not deployed right now.

[2021-10-04 15:34] ThomasKranitsas commented on #1242
I'm going to close this issue as it's not a valid issue

[2021-10-04 15:34] #1242 closed

[2021-10-06 08:31] drasticdpk opened #1244 "Add Forum option for Task type"
Reference Task

https://github.com/topcoder-platform/work-manager/pull/1237

https://github.com/topcoder-platform/community-app/issues/5712
https://github.com/topcoder-platform/micro-frontends-earn-app/issues/180

[2021-10-06 13:57] drasticdpk opened #1245 "CSP Enabled Verification"

[2021-10-06 14:14] drasticdpk opened #1246 "let's add forums enable/disable option in Challenge window too."
FYI : This is feature is reference from  here https://github.com/topcoder-platform/work-manager/issues/1244

**Challenge Edit window**

![image](https://user-images.githubusercontent.com/25297859/136219843-4d052f41-7484-405c-8e93-cb18cc2eeb3d.png)

cc @Oanh-and-only-Oanh @vikasrohit

[2021-10-07 15:17] drasticdpk opened #1248 "Unable to delete/hide task from WM"
As user I want to disable/delete the task from WM.

[2021-10-08 11:54] vikasrohit commented on #1248
You should have that option until the status is New. After that I guess it is not allowed to be removed. We can do that probably for Draft status but I am not sure if challenge api allows that as of now.

[2021-10-08 13:50] drasticdpk commented on #1248
Yes as copilot, we need that features in real scenario too.

[2021-10-11 14:38] ketzjs09 opened #1249 "The automatic addition of 'Challenge Overview' at the top of the challenge spec is unnecessary"
The final specs in the challenge spec should exactly reflect the markdown text entered in the work manager. In my opinion, adding 'Challenge Overview' at the top compulsorily leads to duplication of 'challenge overview' in several instances, and requires editing and hence wastes copilot's time. It is unnecessary to generate it automatically, as it can be easily added in the markdown by the copilot

[2021-10-14 18:35] #1244 closed, assigned to dedywahyudi

[2021-10-21 10:15] coderhacker opened #1250 "The start date is hidden when the user edits the task"
### Expected behavior
The start date should not hide when the user edits the challenge or task
### Actual behavior
The start date is hidden when the user edits the challenge or task

### Steps to reproduce the problem
- go this URL https://challenges.topcoder-dev.com/projects/18804/challenges/e748e5ee-a70d-4484-a775-77c1f1a439c3/edit.
- Edit button Click
- see start date, for reference check the v

[2021-10-21 10:19] coderhacker opened #1251 "submission Count is not showing correctly for success submission"
### Expected behavior
submission Count should sync  correctly for successful submission
### Actual behavior
Describe.
submission Count is not showing correctly for success  submission
### Steps to reproduce the problem
Please see attached screenshot for the issue

### Screenshot/screencast
Attach or link a resource.
![image](https://user-images.githubusercontent.com/62358241/138258636-f197914a-cca

[2021-10-25 05:51] #1250 closed, assigned to vikasrohit, ThomasKranitsas

[2021-11-24 15:47] maxceem opened #1253 "[Test Automation] Exclude tests which depend on copilotManagerRole when running for PROD env"
Do the same as we did for Connect App in this issue https://github.com/appirio-tech/connect-app/issues/4527

Working branch: `feature/test-automation-2`.

We are going to run smoke tests against PROD and DEV environments as implemented in https://github.com/topcoder-platform/work-manager/issues/1231.

But for PROD we cannot provide credentials for `copilotManagerRole` user because it is a too powe

[2021-11-25 05:24] nursoltan-s commented on #1253
@maxceem
Please check this PR:
https://github.com/topcoder-platform/work-manager/pull/1254

[2021-11-25 12:05] maxceem opened #1255 "[Test Automation] Fix Smoke Tests"
Previously, smoke tests worked good.

But now, when running them for DEV I get some issues:

1) Work Manger - Dashboard Page Tests Using Copilot Role [TC_003] Should verify All Work and Application feedback link is working.
  Message:
    Failed: Cannot read property 'getText' of undefined

2) Work Manager - Create Challenge Tests:  Create Challenge Tests:  [TC_006] should verify user can create n

[2021-11-27 15:41] nursoltan-s commented on #1255
PR: https://github.com/topcoder-platform/work-manager/pull/1256

[2021-12-21 22:21] ksmacleod99 opened #1262 "Work manager overwrites dates set in OR"
### Expected behavior
If I adjust challenge dates/durations in OR, they should persist after I make changes to the challenge in Work Manager -- in lieu of being able to change dates via work manager, of course.

### Actual behavior
If I adjust challenge dates/durations in OR, but have to go back and make a change to the challenge spec in Work Manager, the dates in OR reset to the default.

### Ste

[2022-01-12 11:16] ThomasKranitsas opened #1266 "WM expects review scores to be numbers while the API response includes strings"
### Expected behavior
The WM should parse the score first before executes `.tofixed()`

### Actual behavior
Currently it just throws an error

### Steps to reproduce the problem
Example challenge: https://challenges.topcoder.com/projects/29962/challenges/74c9ea5d-62f5-4168-8f2e-f05d2694988a/view

### Screenshot/screencast
<img width="1509" alt="Screenshot 2022-01-12 at 1 15 22 PM" src="https://use

[2022-01-12 12:16] ThomasKranitsas commented on #1266
fixed

[2022-01-12 12:16] #1266 closed

[2022-01-20 06:01] jmgasper commented on #1262
@ksmacleod99 - I investigated this a bit.

When WM creates or edits a challenge, it sends a `phases` array, even though we don't have a UI for modifying the actual phase details as fine grained as we do in OR.

[code]

So, WM is defaulting all this based on information in the `timeline-templates` API:

[code]

So, I think we have a couple options here:

### Best

The "best" approach is to update W

[2022-01-20 12:31] coderhacker commented on #1266
This is working fine on production
![image](https://user-images.githubusercontent.com/62358241/150339108-e0e63830-9669-4e42-ae11-5203399147e0.png)

[2022-01-28 06:49] SathyaJayabal opened #1286 "Self Service : Unable to approve a SS challenge for non admin users"
Self Service : Unable to approve a SS challenge for non admin users

<img width="563" alt="Screenshot 2022-01-28 at 12 19 00 PM" src="https://user-images.githubusercontent.com/58783823/151500799-62c3c86b-deb5-4a6d-99fc-4f540d409e9f.png">
<img width="1438" alt="Screenshot 2022-01-28 at 12 18 50 PM" src="https://user-images.githubusercontent.com/58783823/151500804-f4a91c01-74f4-4baf-a475-2da6fa15872

[2022-01-28 06:51] SathyaJayabal opened #1287 "Self Service: When a copilot assigns themselves, the copilot filed should be populated with the user's handle"
Self Service: When a copilot assigns themselves, the copilot filed should be populated with the user's handle
<img width="1440" alt="Screenshot 2022-01-28 at 12 20 29 PM" src="https://user-images.githubusercontent.com/58783823/151501049-c6bdddb2-c855-4e38-a3e4-8fc32f3efc59.png">

[2022-01-28 07:05] SathyaJayabal opened #1288 "Challenge spec: minor issues"
1. Data not displayed correctly for UNIQUE PAGES DESCRIBED
2. Data not displayed correctly for number of devices
3. Inconsistent bullet format for devices
<img width="1070" alt="Screenshot 2022-01-28 at 12 27 26 PM" src="https://user-images.githubusercontent.com/58783823/151501917-71f3f312-0898-4451-b90c-6de2ee11ead1.png">
4. Inspiration details not displayed
<img width="538" alt="Screenshot 2022-

[2022-01-28 08:05] SathyaJayabal opened #1289 "Challenge Spec : Missing Info"
Some of the details captured from the Self Service create work flow is missing in WM spec
example used :https://platform.topcoder-dev.com/self-service/work-items/830d25b0-53c3-4536-9798-61a16fc03441?tab=details
1. Existing Website and Existing website information
SS App
<img width="817" alt="Screenshot 2022-01-28 at 12 38 45 PM" src="https://user-images.githubusercontent.com/58783823/151502995-7f3

[2022-01-28 08:25] SathyaJayabal opened #1290 "Challenge moved back to draft status after some time after activation"
Challenge moved back to draft status after some time
<img width="1440" alt="Screenshot 2022-01-28 at 1 52 29 PM" src="https://user-images.githubusercontent.com/58783823/151512414-84987902-3362-4602-8223-84c7716a6909.png">
<img width="1440" alt="Screenshot 2022-01-28 at 1 54 06 PM" src="https://user-images.githubusercontent.com/58783823/151512447-48aec74c-86d2-404d-ad2c-9a4fb5f22900.png">

[2022-01-28 08:27] SathyaJayabal opened #1291 "Challenge timeline for Self Service challenges"
The challenge timeline for self service challenges must be set based on  the number of pages, devices the suer has selected.
At present the challenge timeline seems to be incorrect

<img width="1244" alt="Screenshot 2022-01-28 at 1 51 28 PM" src="https://user-images.githubusercontent.com/58783823/151512822-191549e8-d4ea-4a24-ab6e-c870a47f3a6c.png">

Challenge timeline updated once registration pha

[2022-01-28 11:43] SathyaJayabal opened #1292 "Clicking on back from challenge details page must take the user to Self Service Opportunities"
Clicking on back from challenge details page must take the user to Self Service Opportunities.
At present the back button takes the user  to the challenges page for the project, which does not populate unless the page is refreshed.

https://user-images.githubusercontent.com/58783823/151541147-51e091f0-3ef3-4baf-9d5a-833e3e03db0f.mov

[2022-01-31 05:11] SathyaJayabal opened #1295 "Unable to access OR for Design / QA challenges"
Unable to access OR for Design challenges

example:
https://challenges.topcoder-dev.com/projects/17090/challenges/25b825c4-2a38-4e19-ae9e-9ce6a2f34329/view
<img width="1434" alt="Screenshot 2022-01-31 at 10 41 29 AM" src="https://user-images.githubusercontent.com/58783823/151742144-3e9e4c8c-f616-43c4-a682-cf0e52602342.png">

[2022-02-01 03:22] SathyaJayabal commented on #1287
verified on dev
<img width="1440" alt="Screenshot 2022-02-01 at 8 51 22 AM" src="https://user-images.githubusercontent.com/58783823/151908446-51f8b3e1-28a9-45fc-aa73-77f0785e87d3.png">

[2022-02-01 03:25] SathyaJayabal opened #1296 "Self Service: The Un assign Yourself does not un assign the copilot"
Self Service: The Un assign Yourself does not un assign the copilot
The `Unassign Yourself` actually send the request to assign the copilot again.
<img width="1440" alt="Screenshot 2022-02-01 at 8 53 50 AM" src="https://user-images.githubusercontent.com/58783823/151908660-43b47495-bb45-4c0d-9a08-17f4c27223d9.png">

[2022-02-01 03:44] SathyaJayabal commented on #1289
Don't see  the page details(was present before) , number of pages is incorrect.
<img width="1440" alt="Screenshot 2022-02-01 at 9 12 17 AM" src="https://user-images.githubusercontent.com/58783823/151909799-762178c6-8cad-41ce-a53c-9b1695b33a2e.png">
Fonts, Assets, Stock photos etc are all missing/incorrect
<img width="902" alt="Screenshot 2022-02-01 at 9 13 55 AM" src="https://user-images.githubuse

[2022-02-01 05:32] codejamtc opened #1297 "User can't register to a challenge"
**Challenge 02: Dev**

- https://www.topcoder-dev.com/challenges/f6750d1d-aaa4-4fe9-ad24-83dcc9e589d7
- https://software.topcoder-dev.com/review/actions/ViewProjectDetails?pid=30060729
- https://challenges.topcoder-dev.com/projects/17090/challenges/f6750d1d-aaa4-4fe9-ad24-83dcc9e589d7/view

I tried with 4 different users and same problem is there
- TopConnCustomer  :x:
- TCConManager  :x:
- TCConn

[2022-02-02 09:49] sdgun commented on #1291
Verified in Dev,  in some challenges it shows 6 days in challenge timeline when WR is 5 days.

Example challenge: https://www.topcoder-dev.com/challenges/716c48e8-c52c-4192-8387-a149ac8deec9?tab=details
SS: https://platform.topcoder-dev.com/self-service/work-items/716c48e8-c52c-4192-8387-a149ac8deec9?tab=details

[2022-02-02 11:00] #1291 closed

[2022-02-02 11:00] #1287 closed

[2022-02-02 15:20] SathyaJayabal commented on #1297
verified on dev

https://user-images.githubusercontent.com/58783823/152182689-f5970908-e907-4ba9-a271-b541b8b1bd2a.mov

[2022-02-02 16:35] SathyaJayabal commented on #1286
@ThomasKranitsas , non admin user is not able to see challenges created by other users.
user: TCConnCopilot
<img width="1440" alt="Screenshot 2022-02-02 at 10 02 50 PM" src="https://user-images.githubusercontent.com/58783823/152196447-a5dee6c1-dfa5-43e8-a069-eacfd8ea2fed.png">

<img width="1440" alt="Screenshot 2022-02-02 at 10 02 43 PM" src="https://user-images.githubusercontent.com/58783823/1521

[2022-02-03 06:47] codejamtc commented on #1290
Now this can be experienced in QA challenges as well
- https://challenges.topcoder-dev.com/projects/17090/challenges/6670f6d7-70b9-4f32-a9ec-4b3e211daab8/view
- https://challenges.topcoder-dev.com/projects/17090/challenges/b7d4b282-942b-4f23-bfae-a3ce90e501da/view

[2022-02-03 06:48] codejamtc commented on #1295
Today I have created two QA challenges and can experience the same issue above
- https://challenges.topcoder-dev.com/projects/17090/challenges/6670f6d7-70b9-4f32-a9ec-4b3e211daab8/view
- https://challenges.topcoder-dev.com/projects/17090/challenges/b7d4b282-942b-4f23-bfae-a3ce90e501da/view

[2022-02-03 09:02] SathyaJayabal commented on #1295
@ThomasKranitsas , we tested again, and saw the OR logs with @Gunasekar-K 's help.

Here is the error from the log:
`actualEndDate can not before actualStartDate`

[2022-02-03 17:20] SathyaJayabal opened #1299 "User unable to access OR for Design F2F created from WM"
example:
https://www.topcoder.com/challenges/50b0390c-79cc-4ea3-9026-9a429c748aa4
OR link:
https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30237225
<img width="1432" alt="Screenshot 2022-02-03 at 10 49 39 PM" src="https://user-images.githubusercontent.com/58783823/152394687-57fd27a0-5f57-4d60-8b7c-06978850ef9e.png">

[2022-02-04 06:28] sdgun opened #1300 "Support for Self service"
Support for Self service

[2022-02-04 06:30] SathyaJayabal commented on #1300
done

[2022-02-04 06:30] #1300 closed

[2022-02-04 06:30] SathyaJayabal commented on #1297
verified on prod

[2022-02-04 06:30] #1297 closed

[2022-02-04 14:15] SathyaJayabal commented on #1289
https://github.com/topcoder-platform/micro-frontends-self-service-app/issues/145#issuecomment-1029601154

[2022-02-04 14:15] #1289 closed

[2022-02-04 14:15] SathyaJayabal commented on #1288
https://github.com/topcoder-platform/micro-frontends-self-service-app/issues/145#issuecomment-1029601154

[2022-02-04 14:15] #1288 closed

[2022-02-04 14:16] SathyaJayabal commented on #1295
This works in PROD , except  for https://github.com/topcoder-platform/work-manager/issues/1299

[2022-02-04 14:16] #1295 closed

[2022-02-07 03:55] SathyaJayabal commented on #1290
@ThomasKranitsas , in production, the challenge keeps moving back to draft always and hence doesn't allow the challenge to be launched and we cannot move forward.

In dev, once we re approve and relaunch a couple of times and open the registration and submission phases in OR, the challenge is good and doesn't  move back to draft. But in production, it seems to be always going back to draft
https:/

[2022-02-07 04:57] sdgun opened #1302 "503 error when trying to approve/reject self service challenges"
### Expected behavior
Should be able to reject the SS challenges

### Actual behavior
503 error when trying to reject SS challenges

### Steps to reproduce the problem
- Go to Work manager
- Try to reject a self service challenge

### Screenshot/screencast

https://user-images.githubusercontent.com/4592712/152726808-6c8a7696-dd7b-45f3-877c-b3271c1ca9eb.mp4

[2022-02-07 12:07] ThomasKranitsas commented on #1302
503 means service unavailable. Perhaps a service was down at the time you tried. Can you please retest?
![Uploading Screenshot 2022-02-07 at 2.07.06 PM.png…]()

[2022-02-08 04:09] sdgun commented on #1302
Verified in Dev, this issue cannot be reproduced anymore.

[2022-02-08 04:09] #1302 closed

[2022-02-11 14:08] coderhacker opened #1307 "CustomerUser not able access any project on both env dev and prod"
### Expected behavior
CustomerUser should be able to access the project to launch the challenges

### Actual behavior
CustomerUser not able to access the project to launch the challenges

### Steps to reproduce the problem
- go to this url https://challenges.topcoder.com/
- access the project form customer user
see attached video

### Screenshot/screencast
Attach or link a resource.

--

https://u

[2022-02-14 04:19] SathyaJayabal commented on #1307
@ThomasKranitsas , regular topcoder members are not able to access the challenge page in WM.

[2022-02-14 05:56] sdgun commented on #1290
This issue is still happenning.

https://user-images.githubusercontent.com/4592712/153807357-d2658a44-a7c1-4582-9794-22c79e42871d.mp4

[2022-02-18 05:29] sandhiyakavi opened #1311 "Self Service updates in WM"
Description:

The below updates are made in WM related to the self service,

1. Admins should be able to see all active self service challenges instead of just theirs.
2. Able to view the count of total challenges per bucket.
3. Able to view the Draft challenges.(Status='New')
4. Able to view an indication in the spec that data is missing from the intake form (To help understand what the client ha

[2022-02-18 07:04] sandhiyakavi opened #1312 "Self-service opportunities side menu is now visible to normal TC users."
Description:
Self-service opportunities side menu in the Work Manager app is now visible to normal Topcoder members.

Note: But it's not clickable and the user is not able to access this page.

![image](https://user-images.githubusercontent.com/55895538/154634214-a5b6ae8f-c5cf-4894-9c3d-ff611e671b38.png)

[2022-02-18 08:47] sandhiyakavi opened #1313 "The missing page details in Intake form is not indicated in WM's challenge specification"
Description:

The missing page details in Intake form is not indicated (as "MISSING DATA FROM INTAKE FORM") in WM's challenge specification

<img width="960" alt="requirement_screens" src="https://user-images.githubusercontent.com/55895538/154649020-7a180b53-eb1c-4e3d-ac58-63d260194f17.png">

[2022-02-18 09:24] sandhiyakavi commented on #1312
Closing this issue as it will always show in Beta mode.

[2022-02-18 09:24] #1312 closed

[2022-02-23 07:32] sdgun commented on #1290
Observing this issue very often still, here is a video recording of the observation today:

https://user-images.githubusercontent.com/4592712/155277377-3263afe7-4bd0-4833-9165-9b7685eff59c.mp4

[2022-02-23 08:04] sandhiyakavi opened #1317 "Work Manager displays confusing values for empty inputs, causing requests to be Rejected"
Description:
Work Manager displays confusing values for empty inputs, causing requests to be Rejected

For details refer: https://topcoder.atlassian.net/browse/PLAT-712

[2022-02-23 08:13] sandhiyakavi commented on #1317
@ThomasKranitsas For some optional fields, it is displaying as "MISSING DATA FROM INTAKE FORM" instead of displaying none or not displaying it.

1. Existing Website fields are optional.

![image](https://user-images.githubusercontent.com/55895538/155281408-2b95aef8-4b18-4e5f-9d37-7c4b364bba2c.png)
![image](https://user-images.githubusercontent.com/55895538/155281456-b7d18d0c-208c-437b-ae0f-6c4b9a2

[2022-02-24 04:45] sandhiyakavi commented on #1317
@ThomasKranitsas All the issues mentioned in https://github.com/topcoder-platform/work-manager/issues/1317#issuecomment-1048534679 still exists.

[2022-03-02 02:44] jmgasper opened #1319 "[$250] Add phases to WM creation / editing"
### Expected behaviour
https://github.com/topcoder-platform/work-manager/issues/1262

When WM is being used to update a challenge, it's potentially overwriting phase information if the phases have been updated from OR.  This will be step 1 in getting away from OR for phase management.

### Actual behavior

This ticket will simply provide additional fields so that the user can edit the phase start

[2022-03-02 02:44] phead198708 commented on #1319
Challenge https://www.topcoder.com/challenges/615c9949-0a69-4a7b-bcb6-16d83cb267fd has been created for this ticket.<br/><br/>```This is an automated message for phead via Topcoder X```

[2022-03-02 02:44] phead198708 commented on #1319
Challenge https://www.topcoder.com/challenges/615c9949-0a69-4a7b-bcb6-16d83cb267fd has been assigned to nursoltan-s.<br/><br/>```This is an automated message for phead via Topcoder X```

[2022-03-02 02:47] jmgasper opened #1320 "[$50] Update start date / end date values for phases to be a single control"
In an effort to make the UI for phase management a bit more user friendly, I'm hoping we can consolidate the start date / time and end date / time (https://github.com/topcoder-platform/work-manager/issues/1319) into single controls, instead of splitting the date and time out.  There are available controls that do this, like: https://www.jqueryscript.net/time-clock/Date-Time-Picker-Bootstrap-4.html

[2022-03-02 02:47] phead198708 commented on #1320
Challenge https://www.topcoder.com/challenges/8159a9cb-aaf0-439c-9007-cf6f6544a5b0 has been created for this ticket.<br/><br/>```This is an automated message for phead via Topcoder X```

[2022-03-02 14:33] nursoltan-s commented on #1320
PR: https://github.com/topcoder-platform/work-manager/pull/1321

[2022-03-03 01:29] jmgasper commented on #1320
Looks good!

[2022-03-03 01:29] #1320 closed

[2022-03-03 01:29] maxceem commented on #1320
Payment task has been updated: https://www.topcoder.com/challenges/8159a9cb-aaf0-439c-9007-cf6f6544a5b0
*Payments Complete*
Winner: nursoltan-s
Challenge `8159a9cb-aaf0-439c-9007-cf6f6544a5b0` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-03 09:30] LieutenantRoger opened #1323 "We can send multiple 'Completed' requests when we want to close a challenge"
Current:

On the challenge detail page, when we click the 'Confirm' button multiple times very quickly on the popup window after we 'Mark a challenge as Completed',  the Work Manager continues send requests to the server.

Expected:

When a user clicked the 'Confirm' button for once, the button should not continue respond to the user's further click operations to avoid any requests sent to server.

[2022-03-05 12:57] nursoltan-s commented on #1319
Please check: https://github.com/topcoder-platform/work-manager/pull/1326

[2022-03-06 21:56] jmgasper commented on #1319
@nursoltan-s - A couple of tweaks:

1.  Can we have duration in hours please?  Right now it's in seconds, I think?
2. Can we make it easier to enter text into the duration box?  Right now it seems like it loses focus after each key press, which makes it hard to update

[2022-03-07 06:27] nursoltan-s commented on #1319
@jmgasper please check this:
https://github.com/topcoder-platform/work-manager/pull/1327

[2022-03-08 04:07] jmgasper commented on #1319
@nursoltan-s - Looks great, thanks!  I'm going to log a couple other items.

[2022-03-08 04:07] #1319 closed

[2022-03-08 04:07] maxceem commented on #1319
Payment task has been updated: https://www.topcoder.com/challenges/615c9949-0a69-4a7b-bcb6-16d83cb267fd
*Payments Complete*
Winner: nursoltan-s
Challenge `615c9949-0a69-4a7b-bcb6-16d83cb267fd` has been paid and closed.<br/><br/>```This is an automated message for maxceem via Topcoder X```

[2022-03-08 04:10] jmgasper opened #1328 "[$75] Update phase starts as end date is updated"
### Expected behavior
When updating the end date of a phase, all subsequent phases need to update accordingly, to ensure that no subsequent phase starts before the end of the previous phase.

### Screenshot/screencast
<img width="987" alt="Screen_Shot_2022-03-08_at_3_09_00_pm" src="https://user-images.githubusercontent.com/21790/157164486-b539ec87-adb3-44cc-b8e2-330defaace7d.png">